<div fxFlex="grow" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0"
     xmlns:xhtml="http://www.w3.org/1999/xhtml">
<!--  <svg (click)="prevRobot()" fxFlex="20" xmlns="http://www.w3.org/2000/svg" style="enable-background:new 0 0 178 118" viewBox="0 0 178 118">
    <path style="fill:#8a8c8e" d="M129.5 7.8H48.9L8.6 57.3l40.3 49.4h80.6l40.3-49.4z"></path>
    <path d="M65.4 39.3l-13 18.2 12.4 17.4c.5.6.9 1.2 1.3 1.7s.7 1.1.9 1.7c.2.6.3 1.2.3 1.8 0 1.4-.6 2.5-1.9 3.5-1.3 1-2.7 1.5-4.4 1.5-2.6 0-5.2-1.6-7.6-4.9L40.7 63.6c-2-2.5-3-4.6-3-6.2 0-1.2 1-3.2 3-5.8l12.1-16.1c1.6-2.2 3.1-3.7 4.3-4.5 1.2-.8 2.5-1.2 3.9-1.2 1.8 0 3.4.5 4.6 1.5 1.2 1 1.9 2.3 1.9 3.7-.1 1.4-.7 2.8-2.1 4.3z" style="fill:#fff"></path>
    <path style="fill:#77787b" d="M105.4 106.3H93.7L92.7 8h11.7z"></path>
  </svg>-->

  <svg preserveAspectRatio="xMidYMax" fxFlex="grow" xmlns="http://www.w3.org/2000/svg"
       viewBox="-90 0 528 438">
    <g id="prev-arrow" transform="translate(-77,0)" (click)="prevRobot()">
      <path style="fill: rgba(255,255,255,0.02)" class="arrow-st0" d="M127.5 118.1H46.9L6.7 167.5 46.9 217h80.6l40.3-49.5z"></path>
      <path class="arrow-st1"
            d="M63.5 149.6l-13.1 18.2 12.4 17.4c.5.6.9 1.2 1.3 1.7s.7 1.1.9 1.7c.2.6.3 1.2.3 1.8 0 1.4-.6 2.5-1.9 3.5-1.3 1-2.7 1.5-4.4 1.5-2.6 0-5.2-1.6-7.6-4.9l-12.6-16.6c-2-2.5-3-4.6-3-6.2 0-1.2 1-3.2 3-5.8l12.1-16.1c1.6-2.2 3.1-3.7 4.3-4.5 1.2-.8 2.5-1.2 3.9-1.2 1.8 0 3.4.5 4.6 1.5 1.2 1 1.9 2.3 1.9 3.7-.1 1.4-.8 2.8-2.1 4.3z"></path>
      <path class="arrow-st2" style="fill: rgba(255,255,255,0.02)" d="M103.5 216.5H91.7l-1-98.2h11.8z"></path>
    </g>
    <g id="next-arrow" transform="translate(-95,0)" (click)="nextRobot()">
      <path style="fill: rgba(255,255,255,0.02)" d="M392.9 217h80.6l40.3-49.5-40.3-49.4h-80.6l-40.2 49.4z"></path>
      <path class="arrow-st1"
            d="M457 185.5l13.1-18.2-12.4-17.4c-.5-.6-.9-1.2-1.3-1.7s-.7-1.1-.9-1.7c-.2-.6-.3-1.2-.3-1.8 0-1.4.6-2.5 1.9-3.5 1.3-1 2.7-1.5 4.4-1.5 2.6 0 5.2 1.6 7.6 4.9l12.6 16.6c2 2.5 3 4.6 3 6.2 0 1.2-1 3.2-3 5.8l-12.1 16.1c-1.6 2.2-3.1 3.7-4.3 4.5-1.2.8-2.5 1.2-3.9 1.2-1.8 0-3.4-.5-4.6-1.5-1.2-1-1.9-2.3-1.9-3.7.1-1.4.7-2.8 2.1-4.3z"></path>
      <path style="fill: rgba(255,255,255,0.02)" d="M414.2 216.5H426l1-98.2h-11.8z"></path>
    </g>
    <g>
      <path class="st1" d="M100.5 522.3l28.6 17s143.2-186.8 7.4-384.8l-58-14.5c-.1 0 152.7 235.3 22 382.3z"></path>
      <path d="M105.6 520.1l12.4 7.4s125.5-173-7.5-379.2l-26.1-6c0-.1 151.9 230.8 21.2 377.8z" opacity=".29"
            fill="#848689"></path>
      <path class="st3"
            d="M112.7 510.1c3.1 3.6 6.6 6.7 10.5 9.2 1.9 1.3 4 2.3 6.1 3.2 2.1.9 4.4 1.5 6.7 2.1-2.4.1-4.8-.1-7.1-.9l-.9-.2c-.3-.1-.6-.2-.8-.3-.6-.2-1.1-.4-1.7-.7-1.1-.6-2.2-1.1-3.2-1.8-2-1.3-3.9-2.9-5.5-4.6-1.7-1.9-3.1-3.9-4.1-6zM117.1 504.3c3.7 3 7.6 5.5 11.8 7.3 2.1.9 4.3 1.6 6.6 2.1 2.3.6 4.6.7 6.9.9-2.3.4-4.8.6-7.1.3l-.9-.1c-.3-.1-.6-.1-.9-.2-.6-.1-1.2-.2-1.8-.4-1.2-.4-2.3-.7-3.4-1.2-2.2-1-4.3-2.2-6.2-3.7-1.9-1.3-3.6-3-5-5zM120.7 499.3c3.9 2.7 7.9 5 12.3 6.5 2.2.8 4.4 1.3 6.7 1.7 2.3.4 4.6.4 7 .5-2.3.6-4.7 1-7.1.8h-.9c-.3 0-.6-.1-.9-.1l-1.8-.3c-1.2-.3-2.4-.6-3.5-1-2.3-.8-4.5-1.9-6.4-3.2-2.1-1.4-3.9-3-5.4-4.9z"></path>
      <path class="st4"
            d="M125.1 492c2.1 1.1 4.2 2.1 6.4 2.9 2.1.8 4.3 1.6 6.5 2.1 2.2.6 4.4.9 6.7 1.1 2.3.2 4.6.1 7 .1-2.2.9-4.6 1.6-7 1.7l-.9.1h-.9c-.6 0-1.2 0-1.8-.1-1.2-.2-2.4-.3-3.6-.6-2.4-.6-4.6-1.5-6.7-2.7-2.2-1.3-4.1-2.7-5.7-4.6zM133.6 478.3c2.1 1.1 4.2 2.2 6.3 3.1 2.1.9 4.3 1.7 6.5 2.3 2.2.7 4.4 1.1 6.7 1.3 2.3.3 4.6.2 7 .3-2.2.9-4.6 1.5-7 1.5h-.9c-.3 0-.6 0-.9-.1-.6 0-1.2-.1-1.8-.1-1.2-.2-2.4-.4-3.6-.7-2.3-.7-4.6-1.6-6.7-2.9-2.2-1.3-4.1-2.8-5.6-4.7z"></path>
      <path class="st3"
            d="M138.6 465.6c4 2.5 8.2 4.4 12.7 5.6 2.2.6 4.5 1 6.8 1.2 2.3.3 4.6.1 7 0-2.2.8-4.6 1.3-7 1.3h-.9c-.3 0-.6 0-.9-.1-.6-.1-1.2-.1-1.8-.1-1.2-.2-2.4-.4-3.5-.7-2.3-.7-4.6-1.6-6.6-2.8-2.2-1.2-4.1-2.7-5.8-4.4zM143 454c3.9 2.3 7.9 4 12.2 5 1.1.3 2.1.4 3.2.6 1.1.1 2.2.2 3.3.2 2.2.1 4.4-.2 6.6-.5-2.1.9-4.3 1.6-6.6 1.7-1.1.2-2.3 0-3.5.1-1.1-.1-2.3-.2-3.4-.5-2.2-.5-4.4-1.3-6.4-2.4-1.9-1.2-3.8-2.5-5.4-4.2z"></path>
      <path class="st4"
            d="M145.9 447.1c1.9.8 3.7 1.5 5.5 2.1 1.8.6 3.7 1.1 5.6 1.4.9.2 1.9.3 2.8.4.9 0 1.9.2 2.9.1 1.9.1 3.9-.2 5.9-.4-1.7 1-3.7 1.8-5.8 2.1-1 .2-2.1.2-3.1.3-1-.1-2.1-.1-3.1-.3-2.1-.4-4-1-5.9-2-1.8-.9-3.5-2.1-4.8-3.7zM151.4 419.4c2.4.7 4.8 1.4 7.2 1.9 2.4.5 4.7.8 7.1 1 1.2.1 2.4.1 3.6.1 1.2-.1 2.4-.1 3.6-.2 2.4-.2 4.8-.8 7.3-1.2-2 1.5-4.4 2.8-6.9 3.4-.6.2-1.3.4-1.9.4-.6.1-1.3.2-1.9.3-1.3.1-2.6.1-3.9 0-2.6-.2-5.2-.7-7.6-1.7-2.5-.9-4.7-2.2-6.6-4z"></path>
      <path class="st3"
            d="M148.8 435.8c4.1 2.2 8.3 3.8 12.7 4.5 1.1.2 2.2.3 3.3.4 1.1 0 2.2.1 3.3.1 2.3 0 4.5-.4 6.8-.8-2.1 1-4.3 1.8-6.7 2-1.2.2-2.3.2-3.5.2-1.2-.1-2.4-.2-3.5-.4-2.3-.4-4.6-1.1-6.7-2.2-2.1-.9-4.1-2.2-5.7-3.8zM149.7 425.9c4.1 2.6 8.4 4.6 13 5.7 1.1.3 2.3.5 3.5.7 1.2.1 2.3.3 3.5.3 2.4.2 4.7-.1 7.2-.3-2.3.9-4.7 1.6-7.2 1.6-1.2.1-2.5 0-3.7-.1-1.2-.2-2.5-.3-3.7-.7-2.4-.6-4.7-1.5-6.9-2.8-2.1-1-4.1-2.5-5.7-4.4zM152.7 402c2.8 1.1 5.7 2.1 8.6 2.8 2.9.7 5.8 1.3 8.8 1.5 2.9.3 5.9.3 8.9 0 3-.2 5.9-.9 8.9-1.6-2.7 1.5-5.6 2.7-8.7 3.2l-1.1.2c-.4.1-.8.1-1.2.1-.8.1-1.5.2-2.3.2-1.6 0-3.1 0-4.7-.2-3.1-.3-6.1-1-9-2-3-.9-5.8-2.3-8.2-4.2zM154.4 392.8c3 .7 6 1.1 8.9 1.4 3 .2 5.9.3 8.9.1 3-.2 5.9-.7 8.7-1.4 2.9-.7 5.6-1.9 8.5-3-2.4 1.9-5.1 3.5-8 4.5l-1.1.4c-.4.1-.7.2-1.1.3-.8.2-1.5.4-2.3.6-1.5.3-3.1.5-4.6.6-3.1.2-6.2 0-9.3-.6-2.9-.5-5.9-1.4-8.6-2.9zM155.5 385.1c3 .5 6 .7 9 .8 3 .1 6-.1 8.9-.5 2.9-.3 5.8-1 8.6-2 2.9-.9 5.5-2.2 8.3-3.6-2.3 2-4.8 3.9-7.7 5.1l-1.1.5c-.4.1-.7.3-1.1.4-.7.2-1.5.5-2.2.7-1.5.4-3 .7-4.6.9-3.1.4-6.2.4-9.3.1-3-.5-6-1.2-8.8-2.4z"></path>
      <path class="st4"
            d="M156.3 374.1c3.1 0 6.1-.1 9-.4 3-.3 5.9-.8 8.7-1.4 1.4-.3 2.8-.8 4.2-1.1.7-.2 1.4-.5 2.1-.7.7-.2 1.4-.5 2-.8 2.8-1.1 5.3-2.6 8-4-1.9 2.4-4.3 4.5-7 6.1l-1 .6c-.3.2-.7.3-1.1.5-.7.3-1.4.7-2.1 1-1.5.5-3 1.1-4.5 1.4-3.1.7-6.2 1-9.3.8-3-.3-6.1-.8-9-2zM158 353.4c3.1.1 6.1 0 9-.1 3-.2 5.9-.6 8.7-1.2 1.4-.2 2.8-.7 4.3-1 .7-.2 1.4-.4 2.1-.7.7-.2 1.4-.5 2.1-.7 2.8-1 5.4-2.4 8.1-3.8-2 2.3-4.4 4.4-7.2 5.8l-1 .6c-.4.2-.7.3-1.1.5-.7.3-1.4.6-2.2.9-1.5.5-3 1-4.5 1.2-3.1.6-6.2.8-9.3.6-3.1-.2-6.2-.8-9-2.1z"></path>
      <path class="st3"
            d="M156.3 335.9c3 .2 6 .3 9 .1 3-.2 5.9-.5 8.8-1.1 2.9-.6 5.7-1.5 8.5-2.6s5.3-2.6 8-4.2c-2.1 2.2-4.5 4.2-7.3 5.6l-1 .6c-.3.2-.7.3-1.1.5-.7.3-1.4.6-2.2.9-1.5.5-3 .9-4.5 1.2-3 .6-6.1.9-9.2.7-3.1-.2-6.2-.7-9-1.7zM154.5 320.1c2.9.2 5.8.1 8.6-.1s5.6-.7 8.3-1.4c1.4-.3 2.7-.8 4-1.2 1.3-.5 2.6-1 3.9-1.7 2.6-1.2 4.9-2.8 7.3-4.5-1.8 2.2-4 4.3-6.5 5.8l-.9.6c-.3.2-.7.3-1 .5l-2 1c-1.4.5-2.8 1.1-4.2 1.4-2.9.7-5.8 1.1-8.8 1-3 0-5.9-.4-8.7-1.4z"></path>
      <path class="st4"
            d="M153.7 310.5c2.6-.2 5.1-.4 7.6-.8s4.9-.9 7.2-1.7c1.2-.3 2.3-.8 3.5-1.2 1.1-.5 2.3-.9 3.3-1.5 2.3-1 4.3-2.5 6.6-3.9-1.4 2.2-3.2 4.3-5.4 5.8-1 .9-2.3 1.4-3.4 2.1-1.2.5-2.5 1.1-3.7 1.5-2.6.8-5.2 1.2-7.9 1.2-2.7-.1-5.3-.5-7.8-1.5zM143.8 275.6c3.2-.6 6.3-1.2 9.3-2.1 3-.8 5.9-1.8 8.7-3 1.4-.6 2.8-1.3 4.2-2 1.3-.8 2.7-1.5 4-2.4 2.7-1.6 5-3.7 7.6-5.7-1.4 2.9-3.4 5.7-5.9 7.9l-.9.9c-.3.3-.7.5-1 .8-.7.5-1.4 1-2 1.5-1.5.8-2.9 1.7-4.5 2.3-3.1 1.3-6.4 2.2-9.7 2.5-3.3.3-6.7.2-9.8-.7z"></path>
      <path class="st3"
            d="M150.4 295.8c3 .1 5.9-.1 8.8-.5 2.9-.4 5.7-.9 8.4-1.8 1.4-.4 2.7-.9 4.1-1.4 1.3-.6 2.6-1.2 3.9-1.9 2.6-1.3 4.9-3.1 7.3-4.9-1.8 2.4-3.9 4.6-6.4 6.2l-.9.7c-.3.2-.7.4-1 .6l-2 1.1c-1.4.6-2.8 1.2-4.2 1.6-2.9.9-5.9 1.4-8.9 1.4-3.2.1-6.2-.2-9.1-1.1zM145.7 284c3.1.3 6.2.3 9.3.2 3.1-.2 6.1-.6 9-1.3 1.5-.3 2.9-.8 4.4-1.2 1.4-.5 2.9-1 4.2-1.7 2.8-1.2 5.4-2.9 8-4.6-2.1 2.3-4.4 4.5-7.2 6.1l-1 .6c-.3.2-.7.3-1.1.5l-2.2 1c-1.5.5-3 1.1-4.6 1.4-3.1.7-6.3 1-9.5.8-3.2-.1-6.4-.6-9.3-1.8z"></path>
      <g>
        <path class="st3"
              d="M137.7 256.8c3.1.3 6.3.5 9.4.4 3.1-.1 6.2-.4 9.2-.9 3-.5 6-1.3 8.9-2.4 2.9-1 5.6-2.6 8.4-4.1-2.3 2.2-4.8 4.2-7.7 5.6l-1.1.6c-.4.2-.7.3-1.1.4-.8.3-1.5.6-2.3.9-1.5.4-3.1.9-4.7 1.2-3.2.5-6.4.7-9.6.5-3.3-.4-6.5-1-9.4-2.2z"></path>
        <path class="st4"
              d="M134.3 246.8c3.2-.3 6.2-.8 9.2-1.4 3-.6 5.9-1.5 8.8-2.5 1.4-.5 2.8-1.1 4.2-1.7.7-.3 1.4-.7 2-1 .7-.3 1.4-.7 2-1.1 2.7-1.4 5.2-3.3 7.8-5.1-1.7 2.6-3.9 5.1-6.6 7l-1 .7c-.3.2-.7.4-1 .6-.7.4-1.4.9-2.1 1.2-1.5.7-2.9 1.4-4.5 1.9-3.1 1.1-6.3 1.7-9.5 2-3 .5-6.2.3-9.3-.6z"></path>
        <path class="st3"
              d="M133.2 238.8c3.1-.4 6.2-1 9.2-1.7 3-.8 5.9-1.8 8.7-3 2.8-1.2 5.5-2.7 8.1-4.4 2.6-1.7 4.9-3.8 7.3-5.9-1.7 2.7-3.7 5.2-6.3 7.2l-.9.8c-.3.2-.7.5-1 .7-.7.4-1.3.9-2 1.3-1.4.8-2.8 1.6-4.3 2.2-3 1.3-6.1 2.2-9.2 2.7-3.3.4-6.5.5-9.6.1z"></path>
        <path class="st4"
              d="M130.9 227.6c3.1-.9 6-1.8 8.9-2.9 2.9-1.1 5.6-2.4 8.3-3.8 1.4-.7 2.6-1.5 3.9-2.3.6-.4 1.2-.9 1.9-1.3l.9-.7.9-.7c2.5-1.8 4.6-4 6.9-6.3-1.3 2.9-3 5.7-5.3 8l-.8.9c-.3.3-.6.5-.9.8-.6.5-1.2 1.1-1.9 1.6l-2 1.4c-.7.5-1.4.8-2.1 1.2-2.8 1.6-5.9 2.7-9 3.4-3.3.8-6.5 1.1-9.7.7zM126.2 213.5c3.1-.8 6.1-1.7 9-2.7 2.9-1 5.7-2.2 8.4-3.6 1.4-.6 2.6-1.5 4-2.2.6-.4 1.3-.8 1.9-1.2l1-.6.9-.7c2.5-1.8 4.7-3.9 7.1-6.1-1.4 2.9-3.2 5.6-5.5 7.8l-.9.9c-.3.3-.6.5-.9.8-.6.5-1.3 1-1.9 1.5l-2 1.3c-.7.5-1.4.8-2.1 1.2-2.9 1.5-6 2.6-9.1 3.2-3.5.6-6.8.8-9.9.4z"></path>
        <path class="st3"
              d="M119.3 197.4c3.1-.6 6.1-1.4 9-2.4 2.9-1 5.8-2.2 8.5-3.6s5.3-3.1 7.7-4.9c2.5-1.8 4.6-4.1 6.8-6.4-1.5 2.8-3.3 5.5-5.7 7.6l-.9.8c-.3.3-.6.5-.9.8-.6.5-1.3 1-1.9 1.5-1.3.9-2.7 1.8-4.1 2.5-2.9 1.5-5.9 2.6-9 3.3-3.1.7-6.3 1.1-9.5.8zM112.7 183.3c2.9-.6 5.8-1.5 8.5-2.5s5.4-2.2 7.9-3.7c1.3-.7 2.4-1.5 3.7-2.3 1.1-.9 2.3-1.7 3.4-2.8 2.2-1.9 4.1-4.2 6-6.5-1.2 2.7-2.8 5.4-4.9 7.6l-.8.9c-.3.3-.6.5-.8.8l-1.7 1.5c-1.2.9-2.5 1.8-3.8 2.6-2.7 1.5-5.5 2.7-8.5 3.5-2.9.7-6 1.1-9 .9z"></path>
        <path class="st4"
              d="M108.2 169.1c2.7-.6 5.2-1.2 7.7-2s4.8-1.7 7.1-2.8c1.2-.5 2.2-1.2 3.4-1.8 1.1-.7 2.2-1.3 3.2-2.1 2.2-1.4 4-3.2 6.1-4.9-1.1 2.5-2.6 4.9-4.6 6.8-.9 1-2.1 1.8-3.2 2.7-1.2.7-2.3 1.5-3.6 2.1-2.5 1.2-5.2 2-7.9 2.4-2.8.2-5.6.3-8.2-.4z"></path>
      </g>
    </g>
    <path class="st5" d="M210.7 346.7l-1.9 39.2s-18.6 1.6-36.7-.6c-18.2-2.2-31.7-8-31.7-8L145 345l65.7 1.7z"></path>
    <path d="M208.7 345.8l-2.1 37.7s-8.4 2.4-26.6.2c-5.8-57.1 28.7-37.9 28.7-37.9z" fill="#58595b"></path>
    <ellipse fill="#b1b3b6" transform="rotate(-84.679 148.597 371.94) scale(1.00001)" cx="148.6"
             cy="371.9" rx="2.6" ry="2.6"></ellipse>
    <path fill="none" stroke="#6d6e71" stroke-width="1.23" stroke-miterlimit="10"
          d="M150.7 374.4l-4.3-4.9"></path>
    <g>
      <ellipse fill="#b1b3b6" transform="rotate(-70.641 174.872 377.65)" cx="174.9" cy="377.7" rx="2.6"
               ry="2.6"></ellipse>
      <path fill="none" stroke="#6d6e71" stroke-width="1.23" stroke-miterlimit="10"
            d="M172 379.1l5.8-3"></path>
    </g>
    <g>
      <ellipse fill="#b1b3b6" transform="rotate(-70.641 201.67 379.026)" cx="201.7" cy="379" rx="2.6" ry="2.6"></ellipse>
      <path fill="none" stroke="#6d6e71" stroke-width="1.23" stroke-miterlimit="10"
            d="M198.8 380.4l5.8-2.9"></path>
    </g>
    <g>
      <path d="M36.5 10.2C19.9 9.6 6 20.7 5.5 34.7l13.9 300.4c-.4 14 12.8 26 29.4 26.5l252.8.8c16.6.5 25.3-10.5 25.7-24.6l13.3-305.2c.4-14-12.8-26-29.4-26.5L36.5 10.2z"
            [attr.fill]="currentPlayer.color || '#a7a9ac'"></path>
      <path class="st11"
            d="M57.9 352.5l243.1.7s16.2-9.8 16.6-23.1l1.2-26.5H29.3l1.2 23.9c-.4 13.3 11.9 24.5 27.4 25z"></path>
      <path d="M302.6 17.8L46.4 21.5c-15.5-.5-28.5 9.9-28.9 23.2l11.3 253h290.5L330 42.8c.4-13.3-11.9-24.5-27.4-25z"
            fill="#fff"></path>
    </g>
    <g *ngIf="canRemove" id="delete-button" (click)="removeCurrentRobot()">
      <path class="st11"
            d="M298.9 21.2l-35.8.2c-4.2 5.5-6.6 12.1-6.6 19.1 0 19.7 18.8 35.6 42.1 35.6 10.4 0 18.8-3.2 26.2-8.4l1.5-23.3c.3-12.2-12-22.7-27.4-23.2z"></path>
      <path class="st1"
            d="M282.4 34.5c1.9-1.9 5.1-1.9 7.1 0l19.2 19.2c1.9 1.9 1.9 5.1 0 7.1-1.9 1.9-5.1 1.9-7.1 0l-19.2-19.2c-2-2-2-5.2 0-7.1z"></path>
      <path class="st1"
            d="M282.4 60.7c-1.9-1.9-1.9-5.1 0-7.1l19.2-19.2c1.9-1.9 5.1-1.9 7.1 0 1.9 1.9 1.9 5.1 0 7.1l-19.2 19.2c-2 2-5.2 2-7.1 0z"></path>
    </g>
 <!--   <text transform="matrix(.95 0 0 1 44.262 336.854)" class="st5" font-size="29.317" font-family="DIN-Medium">Ingresá
      tu nombre
    </text>-->

    <foreignObject height="40" width="200" x="74" y="310">
    <xhtml:div>
      <input (click)="onClickInputName()" maxlength="10" style="text-align: center; border: 0px; border-radius: 5px; height: 30px; font-size: 20px" #nameInputElement  class="full-width" type="text" placeholder="Nombre" />
    </xhtml:div>
  </foreignObject>
    <foreignObject height="30" width="165" x="95" y="25">
    <xhtml:div>
      <span class="select-avatar-title">ELEGIR AVATAR</span>
    </xhtml:div>
  </foreignObject>
    <g id="robots" class="selectable-robot">
      <svg x="0" y="0" viewBox="0 0 99.2 141.7" fill="#E6E7E8">
        <polygon  points="49.9,13.9 53.5,37.1 64.1,16.1 60.4,39.4 76.9,22.6 66.2,43.6 87.1,32.8 70.4,49.4 93.7,45.6
		72.6,56.3 95.9,59.9 72.6,63.5 93.7,74.1 70.4,70.3 87.1,86.9 66.2,76.1 76.9,97.1 60.4,80.4 64.1,103.6 53.5,82.6 49.9,105.9
		46.3,82.6 35.7,103.6 39.5,80.4 22.9,97.1 33.6,76.1 12.7,86.9 29.4,70.3 6.2,74.1 27.2,63.5 3.9,59.9 27.2,56.3 6.2,45.6
		29.4,49.4 12.7,32.8 33.6,43.6 22.9,22.6 39.5,39.4 35.7,16.1 46.3,37.1 	"></polygon>
        <ellipse *ngIf="currentPlayer.robot.id === 1" cx="50.4" cy="135.4" rx="28.7" ry="4.3"></ellipse>
        <ellipse *ngIf="currentPlayer.robot.id === 2" cx="55.4" cy="135.4" rx="23.4" ry="4.3"></ellipse>
        <ellipse *ngIf="currentPlayer.robot.id === 3" cx="49.6" cy="135.4" rx="29.9" ry="4.3"></ellipse>
        <ellipse *ngIf="currentPlayer.robot.id === 4" cx="48.9" cy="135.4" rx="26.4" ry="4.3"></ellipse>
        <ellipse *ngIf="currentPlayer.robot.id === 5" cx="49.6" cy="135.4" rx="41.2" ry="4.3"></ellipse>

      </svg>
      <use  [attr.xlink:href]="'assets/images/robots/robots_level' + game.level + '.svg#robot' + (currentPlayer.robot.id || allUnusedRobots[0].id)">

      </use>
     </g>
</svg>

</div>
