@import "../../../variables";
.selectable-robot {
  transform: scale(0.65, 0.55) translate(0px, 65px);
}

.arrow-st0{fill:#8a8c8e}.arrow-st1{fill:#fff}.arrow-st2{fill:#77787b}
.st1{fill:#b1b3b6}
.st3{fill:#c7c8ca}
.st4{fill:#848689}
.st5{fill:#6d6e71}
.st11{fill:#e6e6e6}
.select-avatar-title {
  color: $gray-color;
  font-size: 20px;
  font-weight: 500;
}
