<div fxFlex="grow" fxLayout="column" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <svg fxFlex="grow" (click)="clickLevel.next()" id="SELECCION_PANEL_1_svg__Layer_1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 208.6 445.7" xml:space="preserve">
        <g id="SELECCION_PANEL_1_svg__TUBOS"><defs><path id="SELECCION_PANEL_1_svg__SVGID_1_" d="M96.6.1H202v269H96.6z"></path></defs>
            <clipPath id="SELECCION_PANEL_1_svg__SVGID_2_"><use xlink:href="#SELECCION_PANEL_1_svg__SVGID_1_" overflow="visible"></use></clipPath>
            <g clip-path="url(#SELECCION_PANEL_1_svg__SVGID_2_)"><path class="SELECCION_PANEL_1_svg__st1" d="M204-10.7c-29.2 26.8-72.5 74.7-74.5 125.1-2.2 55.2 10.6 133.3 13.9 143.6l-14.1-2.6s-21.3-79.7-25.4-139.1c-2.2-30.2 11-101 49.6-139.7 0 0 21.7 4.9 50.5 12.7z"></path>
                <path class="SELECCION_PANEL_1_svg__st2"
                      d="M196.2-4.9c-28.8 26.7-65.7 70-68.3 118.6-3.8 69.7 14.2 123 14.9 128.8l-9.9.8s-16.8-66.9-14.3-128.6c1.1-26.6 10.5-80 54.6-126.5 4.3 1.3 10 1.5 23 6.9z"></path>
                <path class="SELECCION_PANEL_1_svg__st3"
                      d="M132.3 89.8c-1.7 1-3.5 1.6-5.4 2s-3.9.5-5.8.4c-1-.1-1.9-.3-2.9-.4-.5-.1-.9-.3-1.4-.4-.2-.1-.5-.1-.7-.2l-.7-.3c-1.8-.7-3.4-1.9-4.8-3.2 1.7.8 3.4 1.7 5.2 2.2 1.8.5 3.6.9 5.4 1 3.7.2 7.4-.2 11.1-1.1zM132.5 83.1c-1.8.7-3.8.9-5.7 1-1.9 0-3.9-.2-5.8-.7-1-.2-1.9-.6-2.8-1-.9-.5-1.8-.9-2.5-1.5-1.7-1-3-2.5-4.2-4 1.6 1.1 3 2.3 4.7 3.1.8.5 1.7.8 2.5 1.2.9.3 1.7.7 2.6.9 3.6 1 7.3 1.3 11.2 1z"></path>
                <path class="SELECCION_PANEL_1_svg__st4"
                      d="M136.1 70c-1.9.5-3.9.6-5.8.3-2-.2-3.9-.9-5.7-1.8-1.8-.9-3.4-2.1-4.7-3.6-1.4-1.4-2.3-3.2-3-5 1.4 1.4 2.7 2.7 4.1 3.8.7.6 1.5 1.1 2.2 1.6.8.4 1.5 1 2.3 1.3 1.6.8 3.3 1.5 5 2.1 1.9.5 3.7 1 5.6 1.3z"></path>
                <path class="SELECCION_PANEL_1_svg__st3"
                      d="M138.9 58.8c-1.9.2-3.9 0-5.8-.4s-3.8-1.2-5.5-2.2c-.9-.5-1.7-1.1-2.5-1.7-.7-.7-1.5-1.3-2.1-2-1.4-1.4-2.4-3.1-3.2-4.9 1.3 1.5 2.5 2.9 3.9 4.1 1.4 1.3 2.9 2.4 4.5 3.3 3.3 1.9 6.9 3.1 10.7 3.8zM145.5 50.5c-2.3.3-4.7.1-6.9-.4-2.3-.5-4.5-1.4-6.5-2.6l-.8-.5-.7-.5c-.5-.4-1-.7-1.4-1.1-.9-.8-1.8-1.6-2.5-2.5-1.6-1.8-2.7-3.8-3.6-6 .8.9 1.4 1.8 2.2 2.7.8.8 1.5 1.7 2.3 2.4 1.6 1.6 3.4 2.9 5.3 4 1.9 1.2 3.9 2.1 6 2.8 2.1.8 4.3 1.4 6.6 1.7z"></path>
                <path class="SELECCION_PANEL_1_svg__st4"
                      d="M149.8 40.2c-2.4.3-4.9 0-7.3-.6s-4.7-1.6-6.8-2.9c-1.1-.6-2-1.4-3-2.2-.9-.9-1.8-1.6-2.6-2.6-1.6-1.8-2.8-4.1-3.6-6.3 1.6 1.8 3.1 3.6 4.8 5.2 1.7 1.6 3.5 3 5.5 4.1 1.9 1.2 4 2.2 6.2 3.1 2.2.8 4.4 1.5 6.8 2.2zM168.6 14.5c-3-.2-5.9-.9-8.7-1.9s-5.5-2.3-8.1-3.8c-.6-.4-1.3-.8-1.9-1.2l-1.8-1.3c-.6-.4-1.1-1-1.7-1.5s-1.1-1-1.6-1.6-1-1.1-1.5-1.6l-1.4-1.8-.7-1-.6-1c-.4-.6-.7-1.3-1.1-2l1.6 1.6.7.8.8.7 1.6 1.5c.6.5 1.1.9 1.7 1.4 2.2 1.8 4.5 3.5 7 5 2.4 1.5 5 2.9 7.6 4.1 2.6 1.4 5.3 2.5 8.1 3.6z"></path>
                <path class="SELECCION_PANEL_1_svg__st3"
                      d="M156.1 31.7c-2.7.2-5.5-.2-8.2-.9-2.7-.7-5.2-2-7.5-3.6-.5-.4-1.2-.8-1.6-1.3l-1.5-1.5c-.5-.5-.9-1.1-1.3-1.6-.2-.3-.5-.5-.6-.8l-.5-.9c-1.5-2.4-2.2-5.1-2.6-7.8 1.1 2.5 2.1 5 3.7 7.1.7 1.1 1.7 2 2.5 3l1.4 1.3c.5.5 1 .8 1.6 1.2 2.1 1.5 4.5 2.8 6.9 3.7 2.4.9 5 1.7 7.7 2.1zM161.1 24.5c-2.6-.2-5.2-.9-7.7-1.8s-4.9-2.2-7.1-3.6c-2.2-1.5-4.3-3.2-6-5.2l-1.3-1.5c-.4-.5-.7-1.1-1.1-1.7l-.5-.8-.5-1.1c-.3-.6-.6-1.2-.8-1.8 1.6 2.1 3.2 4.1 5.1 5.8s3.9 3.4 6 4.7c4.3 2.9 9 5.1 13.9 7z"></path>
                <g><path class="SELECCION_PANEL_1_svg__st3" d="M128.4 155.9c-.7 1-1.6 1.9-2.6 2.6-1 .8-2.1 1.3-3.3 1.8-.6.2-1.2.4-1.8.5-.6.1-1.2.2-1.9.2-1.3.1-2.5-.2-3.7-.5 1.2 0 2.4.1 3.6-.2 1.2-.2 2.3-.4 3.4-.9 2.3-.7 4.4-2 6.3-3.5zM126.6 152c-.9.9-1.9 1.6-3 2.1-1.1.6-2.3.9-3.6 1.1-.6.1-1.2.1-1.9.2-.6 0-1.3 0-1.9-.1-1.2-.2-2.4-.6-3.5-1.2 1.2.2 2.4.5 3.6.5 1.2.1 2.4 0 3.5-.2 2.4-.3 4.7-1.2 6.8-2.4z"></path>
                    <path class="SELECCION_PANEL_1_svg__st4"
                          d="M125.2 143.4c-.9.8-2.1 1.4-3.3 1.8-1.2.4-2.5.6-3.8.5-1.3 0-2.6-.3-3.7-.8-1.2-.5-2.2-1.2-3.1-2.1 1.2.4 2.3.8 3.4 1.1s2.3.4 3.4.5c2.4.1 4.7-.3 7.1-1z"></path>
                    <path class="SELECCION_PANEL_1_svg__st3"
                          d="M123.7 136.2c-1.1.7-2.3 1.1-3.5 1.3-1.2.3-2.5.3-3.8.2-.6 0-1.3-.2-1.9-.3-.6-.2-1.2-.3-1.8-.6-1.2-.5-2.2-1.2-3.2-2 1.1.5 2.2 1 3.4 1.3 1.1.4 2.3.6 3.5.7 2.5.3 4.9 0 7.3-.6zM125.3 129.6c-1.2.8-2.7 1.3-4.1 1.7-1.5.3-3 .4-4.5.3-1.5-.2-3-.5-4.4-1.2-1.4-.6-2.6-1.5-3.7-2.5 1.3.7 2.6 1.3 4 1.7 1.4.5 2.8.8 4.2.9 1.4.2 2.8.1 4.3 0 1.3-.2 2.8-.5 4.2-.9z"></path>
                    <path class="SELECCION_PANEL_1_svg__st4"
                          d="M125 122.4c-1.3.8-2.8 1.3-4.4 1.6-1.5.3-3.1.4-4.7.2-.8-.1-1.6-.3-2.3-.4-.7-.3-1.5-.5-2.2-.8-1.5-.6-2.7-1.6-3.8-2.7 1.4.6 2.8 1.3 4.2 1.7 1.4.4 2.9.8 4.3.9 2.9.3 5.8.1 8.9-.5zM128.9 102.4c-1.8.7-3.7 1.1-5.6 1.3-1.9.2-3.8.2-5.7 0-1.9-.2-3.8-.7-5.6-1.3-1.8-.6-3.5-1.6-5-2.8 1.8.7 3.5 1.3 5.3 1.8 1.8.4 3.6.8 5.4 1 3.7.3 7.4.3 11.2 0z"></path>
                    <path class="SELECCION_PANEL_1_svg__st3"
                          d="M126.3 115.8c-1.5.9-3.2 1.4-5 1.7-1.8.3-3.6.3-5.3 0-.9-.1-1.7-.5-2.6-.7-.8-.4-1.6-.7-2.4-1.3-1.5-1-2.7-2.4-3.7-3.8 1.3 1.2 2.6 2.3 4.1 3.1 1.5.8 3.1 1.4 4.7 1.7 1.6.3 3.3.4 5 .3 1.8-.2 3.5-.5 5.2-1zM127.2 110.2c-3.2 1.1-6.7 1.3-10.1.9-1.7-.2-3.4-.7-4.9-1.4-1.6-.6-3-1.7-4.3-2.8 1.5.8 3 1.5 4.6 2s3.2.9 4.8 1.1c1.6.2 3.3.3 4.9.4 1.7 0 3.4 0 5-.2z"></path></g></g></g>
        <g id="SELECCION_PANEL_1_svg__TUBOS_1_">
            <g ><path class="SELECCION_PANEL_1_svg__st1" d="M204-10.7c-29.2 26.8-72.5 74.7-74.5 125.1-2.2 55.2 10.6 133.3 13.9 143.6l-14.1-2.6s-21.3-79.7-25.4-139.1c-2.2-30.2 11-101 49.6-139.7 0 0 21.7 4.9 50.5 12.7z"></path>
                <path class="SELECCION_PANEL_1_svg__st2"
                      d="M196.2-4.9c-28.8 26.7-65.7 70-68.3 118.6-3.8 69.7 14.2 123 14.9 128.8l-9.9.8s-16.8-66.9-14.3-128.6c1.1-26.6 10.5-80 54.6-126.5 4.3 1.3 10 1.5 23 6.9z"></path>
                <path class="SELECCION_PANEL_1_svg__st3"
                      d="M132.3 89.8c-1.7 1-3.5 1.6-5.4 2s-3.9.5-5.8.4c-1-.1-1.9-.3-2.9-.4-.5-.1-.9-.3-1.4-.4-.2-.1-.5-.1-.7-.2l-.7-.3c-1.8-.7-3.4-1.9-4.8-3.2 1.7.8 3.4 1.7 5.2 2.2 1.8.5 3.6.9 5.4 1 3.7.2 7.4-.2 11.1-1.1zM132.5 83.1c-1.8.7-3.8.9-5.7 1-1.9 0-3.9-.2-5.8-.7-1-.2-1.9-.6-2.8-1-.9-.5-1.8-.9-2.5-1.5-1.7-1-3-2.5-4.2-4 1.6 1.1 3 2.3 4.7 3.1.8.5 1.7.8 2.5 1.2.9.3 1.7.7 2.6.9 3.6 1 7.3 1.3 11.2 1z"></path>
                <path class="SELECCION_PANEL_1_svg__st4"
                      d="M136.1 70c-1.9.5-3.9.6-5.8.3-2-.2-3.9-.9-5.7-1.8-1.8-.9-3.4-2.1-4.7-3.6-1.4-1.4-2.3-3.2-3-5 1.4 1.4 2.7 2.7 4.1 3.8.7.6 1.5 1.1 2.2 1.6.8.4 1.5 1 2.3 1.3 1.6.8 3.3 1.5 5 2.1 1.9.5 3.7 1 5.6 1.3z"></path>
                <path class="SELECCION_PANEL_1_svg__st3"
                      d="M138.9 58.8c-1.9.2-3.9 0-5.8-.4s-3.8-1.2-5.5-2.2c-.9-.5-1.7-1.1-2.5-1.7-.7-.7-1.5-1.3-2.1-2-1.4-1.4-2.4-3.1-3.2-4.9 1.3 1.5 2.5 2.9 3.9 4.1 1.4 1.3 2.9 2.4 4.5 3.3 3.3 1.9 6.9 3.1 10.7 3.8zM145.5 50.5c-2.3.3-4.7.1-6.9-.4-2.3-.5-4.5-1.4-6.5-2.6l-.8-.5-.7-.5c-.5-.4-1-.7-1.4-1.1-.9-.8-1.8-1.6-2.5-2.5-1.6-1.8-2.7-3.8-3.6-6 .8.9 1.4 1.8 2.2 2.7.8.8 1.5 1.7 2.3 2.4 1.6 1.6 3.4 2.9 5.3 4 1.9 1.2 3.9 2.1 6 2.8 2.1.8 4.3 1.4 6.6 1.7z"></path>
                <path class="SELECCION_PANEL_1_svg__st4"
                      d="M149.8 40.2c-2.4.3-4.9 0-7.3-.6s-4.7-1.6-6.8-2.9c-1.1-.6-2-1.4-3-2.2-.9-.9-1.8-1.6-2.6-2.6-1.6-1.8-2.8-4.1-3.6-6.3 1.6 1.8 3.1 3.6 4.8 5.2 1.7 1.6 3.5 3 5.5 4.1 1.9 1.2 4 2.2 6.2 3.1 2.2.8 4.4 1.5 6.8 2.2zM168.6 14.5c-3-.2-5.9-.9-8.7-1.9s-5.5-2.3-8.1-3.8c-.6-.4-1.3-.8-1.9-1.2l-1.8-1.3c-.6-.4-1.1-1-1.7-1.5s-1.1-1-1.6-1.6-1-1.1-1.5-1.6l-1.4-1.8-.7-1-.6-1c-.4-.6-.7-1.3-1.1-2l1.6 1.6.7.8.8.7 1.6 1.5c.6.5 1.1.9 1.7 1.4 2.2 1.8 4.5 3.5 7 5 2.4 1.5 5 2.9 7.6 4.1 2.6 1.4 5.3 2.5 8.1 3.6z"></path>
                <path class="SELECCION_PANEL_1_svg__st3"
                      d="M156.1 31.7c-2.7.2-5.5-.2-8.2-.9-2.7-.7-5.2-2-7.5-3.6-.5-.4-1.2-.8-1.6-1.3l-1.5-1.5c-.5-.5-.9-1.1-1.3-1.6-.2-.3-.5-.5-.6-.8l-.5-.9c-1.5-2.4-2.2-5.1-2.6-7.8 1.1 2.5 2.1 5 3.7 7.1.7 1.1 1.7 2 2.5 3l1.4 1.3c.5.5 1 .8 1.6 1.2 2.1 1.5 4.5 2.8 6.9 3.7 2.4.9 5 1.7 7.7 2.1zM161.1 24.5c-2.6-.2-5.2-.9-7.7-1.8s-4.9-2.2-7.1-3.6c-2.2-1.5-4.3-3.2-6-5.2l-1.3-1.5c-.4-.5-.7-1.1-1.1-1.7l-.5-.8-.5-1.1c-.3-.6-.6-1.2-.8-1.8 1.6 2.1 3.2 4.1 5.1 5.8s3.9 3.4 6 4.7c4.3 2.9 9 5.1 13.9 7z"></path>
                <g><path class="SELECCION_PANEL_1_svg__st3" d="M128.4 155.9c-.7 1-1.6 1.9-2.6 2.6-1 .8-2.1 1.3-3.3 1.8-.6.2-1.2.4-1.8.5-.6.1-1.2.2-1.9.2-1.3.1-2.5-.2-3.7-.5 1.2 0 2.4.1 3.6-.2 1.2-.2 2.3-.4 3.4-.9 2.3-.7 4.4-2 6.3-3.5zM126.6 152c-.9.9-1.9 1.6-3 2.1-1.1.6-2.3.9-3.6 1.1-.6.1-1.2.1-1.9.2-.6 0-1.3 0-1.9-.1-1.2-.2-2.4-.6-3.5-1.2 1.2.2 2.4.5 3.6.5 1.2.1 2.4 0 3.5-.2 2.4-.3 4.7-1.2 6.8-2.4z"></path>
                    <path class="SELECCION_PANEL_1_svg__st4"
                          d="M125.2 143.4c-.9.8-2.1 1.4-3.3 1.8-1.2.4-2.5.6-3.8.5-1.3 0-2.6-.3-3.7-.8-1.2-.5-2.2-1.2-3.1-2.1 1.2.4 2.3.8 3.4 1.1s2.3.4 3.4.5c2.4.1 4.7-.3 7.1-1z"></path>
                    <path class="SELECCION_PANEL_1_svg__st3"
                          d="M123.7 136.2c-1.1.7-2.3 1.1-3.5 1.3-1.2.3-2.5.3-3.8.2-.6 0-1.3-.2-1.9-.3-.6-.2-1.2-.3-1.8-.6-1.2-.5-2.2-1.2-3.2-2 1.1.5 2.2 1 3.4 1.3 1.1.4 2.3.6 3.5.7 2.5.3 4.9 0 7.3-.6zM125.3 129.6c-1.2.8-2.7 1.3-4.1 1.7-1.5.3-3 .4-4.5.3-1.5-.2-3-.5-4.4-1.2-1.4-.6-2.6-1.5-3.7-2.5 1.3.7 2.6 1.3 4 1.7 1.4.5 2.8.8 4.2.9 1.4.2 2.8.1 4.3 0 1.3-.2 2.8-.5 4.2-.9z"></path>
                    <path class="SELECCION_PANEL_1_svg__st4"
                          d="M125 122.4c-1.3.8-2.8 1.3-4.4 1.6-1.5.3-3.1.4-4.7.2-.8-.1-1.6-.3-2.3-.4-.7-.3-1.5-.5-2.2-.8-1.5-.6-2.7-1.6-3.8-2.7 1.4.6 2.8 1.3 4.2 1.7 1.4.4 2.9.8 4.3.9 2.9.3 5.8.1 8.9-.5zM128.9 102.4c-1.8.7-3.7 1.1-5.6 1.3-1.9.2-3.8.2-5.7 0-1.9-.2-3.8-.7-5.6-1.3-1.8-.6-3.5-1.6-5-2.8 1.8.7 3.5 1.3 5.3 1.8 1.8.4 3.6.8 5.4 1 3.7.3 7.4.3 11.2 0z"></path>
                    <path class="SELECCION_PANEL_1_svg__st3"
                          d="M126.3 115.8c-1.5.9-3.2 1.4-5 1.7-1.8.3-3.6.3-5.3 0-.9-.1-1.7-.5-2.6-.7-.8-.4-1.6-.7-2.4-1.3-1.5-1-2.7-2.4-3.7-3.8 1.3 1.2 2.6 2.3 4.1 3.1 1.5.8 3.1 1.4 4.7 1.7 1.6.3 3.3.4 5 .3 1.8-.2 3.5-.5 5.2-1zM127.2 110.2c-3.2 1.1-6.7 1.3-10.1.9-1.7-.2-3.4-.7-4.9-1.4-1.6-.6-3-1.7-4.3-2.8 1.5.8 3 1.5 4.6 2s3.2.9 4.8 1.1c1.6.2 3.3.3 4.9.4 1.7 0 3.4 0 5-.2z"></path></g></g></g>
        <path fill="#48484a" d="M140.6 168.7l4.2-20.5-54.8.1 3.1 20.8z"></path>
        <path d="M176.4 440.9l-142.7 4.9C20.1 445.8 9 434.7 9 421.1l-9-235c0-13.6 11.1-24.7 24.7-24.7l159.2-.3c13.6 0 24.7 11.1 24.7 24.7L201 416.2c.1 13.6-11 24.7-24.6 24.7z"
              fill="#b1b3b6"></path>
        <foreignObject width="140" height="40" x="40" y="385">
            <xhtml:div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="5px">
                <div class="age-number">+6</div>
                <div class="age-text">años</div>
            </xhtml:div>
        </foreignObject>
        <path d="M160.8 373.3H51.1c-13.9 0-25.3-11.4-25.3-25.3V223.4c0-13.9 11.4-25.3 25.3-25.3h109.7c13.9 0 25.3 11.4 25.3 25.3v124.5c0 14-11.4 25.4-25.3 25.4z"
              fill="#a6ce39" stroke="#fff" stroke-width="1.748" stroke-miterlimit="10"></path>
        <g><defs><path id="SELECCION_PANEL_1_svg__SVGID_5_" d="M160.8 372.3H51.1c-13.9 0-25.3-11.4-25.3-25.3V222.4c0-13.9 11.4-25.3 25.3-25.3h109.7c13.9 0 25.3 11.4 25.3 25.3v124.5c0 14-11.4 25.4-25.3 25.4z"></path></defs>
            <clipPath id="SELECCION_PANEL_1_svg__SVGID_6_"><use xlink:href="#SELECCION_PANEL_1_svg__SVGID_5_" overflow="visible"></use></clipPath>
            <g clip-path="url(#SELECCION_PANEL_1_svg__SVGID_6_)"><path class="SELECCION_PANEL_1_svg__st15" d="M74 323.3l-13.6 18.6 4.9 3.7 18.9-12.2s-2-4.4-4.6-6.9c-2.6-2.5-5.6-3.2-5.6-3.2z"></path>
                <path class="SELECCION_PANEL_1_svg__st16" d="M69 331.3l-4.3 6.2s2.8 1 3.9 3.6c0-.1-2.5-4.1.4-9.8z"></path>
                <path class="SELECCION_PANEL_1_svg__st15"
                      d="M146.6 321.4l13.6 18.6-4.9 3.7-18.9-12.2s2-4.4 4.6-6.9c2.6-2.5 5.6-3.2 5.6-3.2z"></path>
                <path class="SELECCION_PANEL_1_svg__st16" d="M150.7 328.9l4.3 6.2s-2.8 1-3.9 3.6c0 0 2.5-4.1-.4-9.8z"></path>
                <path class="SELECCION_PANEL_1_svg__st17"
                      d="M76.4 336.6s3.1-6.2-.4-10.9M74.8 335.9s2.7-5.4-.4-9.6M73.2 335.6s2.6-5.1-.3-9M71.4 335.4s2.4-4.8-.3-8.4"></path>
                <path d="M138.7 368.2c-3.6 2-61.5-.7-65.1-4s-3.3-43.8-1.3-45.8c.3-.3 1.2-2.5 3.8-2.8 15.9-1.6 69.6-.6 71 2.8 1.3 3.1-.9 32.6-4.2 45.6-1 3.8-3.4 3.8-4.2 4.2z"
                      fill="#6b0f6b"></path>
                <path d="M139.6 373.2c-3.6 2-62.3-.7-66-4-3.6-3.3-3.3-43.8-1.3-45.8s73.2-4 74.8 0c1.7 4-3.9 47.8-7.5 49.8z"
                      fill="#8f278f"></path>
                <ellipse class="SELECCION_PANEL_1_svg__st20" cx="77.8" cy="366.9" rx="2.3" ry="2.3"></ellipse>
                <ellipse class="SELECCION_PANEL_1_svg__st20" cx="137.3" cy="370.5" rx="2.3" ry="2.3"></ellipse>
                <path class="SELECCION_PANEL_1_svg__st21" d="M44.9 277.6s-8.1 12.6 3.2 28.4c0 0 11.1-13.8-3.2-28.4z"></path>
                <path class="SELECCION_PANEL_1_svg__st22"
                      d="M44.9 277.6l10.1-2.9s1.2 14.3 5.6 28.7l-12.5 2.5c0 .1 10.2-13.8-3.2-28.3z"></path>
                <path class="SELECCION_PANEL_1_svg__st21" d="M39.1 284.4s-4.6 7.2 1.8 16.2c.1 0 6.4-7.9-1.8-16.2z"></path>
                <path class="SELECCION_PANEL_1_svg__st22"
                      d="M39.1 284.4l4-1.3s9.2 6.3 4.9 16.1l-7.1 1.4c.1 0 5.9-7.9-1.8-16.2z"></path>
                <path class="SELECCION_PANEL_1_svg__st21" d="M163.2 288.1s9.7-11.4.6-28.5c0-.1-12.8 12.1-.6 28.5z"></path>
                <path class="SELECCION_PANEL_1_svg__st22"
                      d="M163.2 288.1l-10.4 1.5s.7-14.3-1.7-29.2l12.7-.8c0-.1-11.9 12.3-.6 28.5z"></path>
                <g><path class="SELECCION_PANEL_1_svg__st21" d="M169.9 282.1s5.5-6.5.3-16.3c0 0-7.3 7-.3 16.3z"></path>
                    <path class="SELECCION_PANEL_1_svg__st22"
                          d="M169.9 282.1l-4.2.7s-8.3-7.5-2.8-16.6l7.3-.5c0 .1-6.8 7.1-.3 16.4z"></path></g>
                <path d="M154.4 312.4c-4.3 3.6-82.7 15.9-88.4 12.5s-16.1-57.1-14-60.3c2.1-3.1 95.8-24.9 99.1-20.1 3.2 4.8 7.6 64.3 3.3 67.9z"
                      fill="#f7941d"></path>
                <g><path class="SELECCION_PANEL_1_svg__st24" d="M101.3 293.5c1.9 9.3-4.1 18.4-13.4 20.2-9.3 1.9-18.3-4.1-20.2-13.4-1.9-9.3 4.1-18.4 13.4-20.2 9.3-1.9 18.3 4.1 20.2 13.4z"></path>
                    <ellipse class="SELECCION_PANEL_1_svg__st8" cx="86.1" cy="300.8" rx="11.6" ry="11.6"></ellipse>
                    <ellipse class="SELECCION_PANEL_1_svg__st25" cx="86.5" cy="304.8" rx="4.6" ry="4.6"></ellipse></g>
                <g><path class="SELECCION_PANEL_1_svg__st24" d="M143.6 285.6c1.9 9.3-4.1 18.4-13.4 20.2-9.3 1.9-18.3-4.1-20.2-13.4-1.9-9.3 4.1-18.4 13.4-20.2 9.3-1.9 18.3 4.1 20.2 13.4z"></path>
                    <ellipse class="SELECCION_PANEL_1_svg__st8" cx="128.4" cy="292.9" rx="11.6" ry="11.6"></ellipse>
                    <ellipse class="SELECCION_PANEL_1_svg__st25" cx="128.6" cy="297.6" rx="4.6" ry="4.6"></ellipse></g>
                <g><path d="M107.9 364.7s32.1-23 19.9-32.9c-11-8.9-20.2 5.6-20.2 5.6h.4s-8.6-13.2-20.2-5.6c-13.3 8.7 19.9 32.9 19.9 32.9h.2z" fill="#ad1a15"></path>
                    <path class="SELECCION_PANEL_1_svg__st27"
                          d="M109.3 364s32.1-23 19.9-32.9c-11-8.9-20.2 5.6-20.2 5.6h.4s-8.6-13.2-20.2-5.6c-13.3 8.7 19.9 32.9 19.9 32.9h.2z"></path>
                    <path d="M109.2 361s26.8-19.2 16.6-27.4c-9.2-7.4-16.9 4.7-16.9 4.7h.3s-7.2-11-16.9-4.7c-11.1 7.3 16.6 27.4 16.6 27.4h.3z"
                          fill="#ec008c"></path>
                    <path class="SELECCION_PANEL_1_svg__st29"
                          d="M95.9 341.4v5.5M99.2 342.4v3.5M97.7 339.6v9.1M100.7 340.5v7.3M102.7 341.4v5.5M106 342.4v3.5M104.6 339.6v9.1M107.6 340.5v7.3M109.7 341.4v5.5M113 342.4v3.5M111.5 339.6v9.1M114.5 340.5v7.3M116.5 342.2v5.5M119.9 341.2v3.5M118.4 339.6v9.1M121.4 340.5v7.3"></path></g>
                <g><path class="SELECCION_PANEL_1_svg__st21" d="M113.7 243.8s-15.5-9.6-34.3 4.5c.1 0 17 13.2 34.3-4.5z"></path>
                    <path class="SELECCION_PANEL_1_svg__st22"
                          d="M113.7 243.8l2.7 7.6s-13.7 16.8-34.5 8.1l-2.5-11.1c.1-.1 17.1 12.1 34.3-4.6z"></path>
                    <g><path class="SELECCION_PANEL_1_svg__st21" d="M106 236.6s-9.9-6.1-22 2.9c0 0 10.9 8.4 22-2.9z"></path>
                        <path class="SELECCION_PANEL_1_svg__st22"
                              d="M106 236.6l1.9 5.5s-8.3 12.7-21.7 7.1l-2.1-9.7c-.1 0 10.8 7.7 21.9-2.9z"></path></g></g>
                <g><path class="SELECCION_PANEL_1_svg__st15" d="M78.6 410.4c-6.2.5-11.7-4.1-12.3-10.3-.6-6.2 4-11.7 10.3-12.3 6.2-.5 11.7 4.1 12.3 10.3.6 6.3-4 11.8-10.3 12.3z"></path>
                    <path class="SELECCION_PANEL_1_svg__st15"
                          d="M84.4 363.5l-2.9 30.4-8.1-.6-3.5-28.7s1.3-2.7 6.1-2.8c4.8-.2 8.4 1.7 8.4 1.7z"></path>
                    <path class="SELECCION_PANEL_1_svg__st16"
                          d="M82.6 377.3l-1.2 9.9s-3.6-1.5-7 .1c.1 0 6.1-1.8 8.2-10zM70.4 394.3s-5.4 12 7.4 14.5c0 0-10.2-5.2-7.4-14.5z"></path></g>
                <g><path class="SELECCION_PANEL_1_svg__st15" d="M135.6 409.8c6.2.6 11.7-4 12.3-10.3.6-6.2-4-11.8-10.2-12.3-6.2-.6-11.7 4.1-12.3 10.3-.6 6.2 4 11.7 10.2 12.3z"></path>
                    <path class="SELECCION_PANEL_1_svg__st15"
                          d="M129.9 362.9l2.8 30.4 8.1-.6 3.5-28.7s-1.3-2.7-6.1-2.9c-4.7-.2-8.3 1.8-8.3 1.8z"></path>
                    <path class="SELECCION_PANEL_1_svg__st16"
                          d="M131.5 377.7l1.2 9.9s3.6-1.5 7 .1c0 0-6.1-1.8-8.2-10zM143.9 393.7s5.3 12-7.5 14.5c0 0 10.3-5.3 7.5-14.5z"></path></g>
                <path class="SELECCION_PANEL_1_svg__st15"
                      d="M93.4 355.3c.9-2.7-1-5.7-4.2-6.7s-6.5.3-7.4 3 1 5.7 4.2 6.7 6.5-.3 7.4-3z"></path>
                <path class="SELECCION_PANEL_1_svg__st15" d="M67.1 347.7l19.3 5.4.9-2.6-20.1-8z"></path>
                <path class="SELECCION_PANEL_1_svg__st15"
                      d="M68.9 348.6c2.9-1.7 3.9-5.4 2.3-8.3-1.7-2.9-5.4-3.9-8.3-2.2-2.9 1.7-3.9 5.4-2.3 8.3 1.6 2.9 5.4 3.9 8.3 2.2z"></path>
                <path class="SELECCION_PANEL_1_svg__st16" d="M67.9 338.5s6.1 3.6 1.2 8.7c0 0 2.9-5.5-1.2-8.7z"></path>
                <path class="SELECCION_PANEL_1_svg__st15"
                      d="M150.9 344.3c-2.7-2-3.3-5.8-1.3-8.5s5.8-3.3 8.5-1.3 3.3 5.8 1.3 8.5c-2 2.8-5.8 3.4-8.5 1.3zM125.8 348.2c-.6-2.8 1.7-5.5 5-6.2 3.3-.6 6.4 1.1 7 3.8.6 2.8-1.7 5.5-5 6.2s-6.4-1-7-3.8z"></path>
                <path class="SELECCION_PANEL_1_svg__st15" d="M152.8 343.6l-19.8 3.2-.6-2.6 20.9-5.7z"></path>
                <path class="SELECCION_PANEL_1_svg__st27"
                      d="M61.2 249.4s1.1-16.1-5.2-14.8c-5.7 1.1-3.5 7.8-3.5 7.8l.1-.1s-6.4-.7-7 4.9c-.7 6.5 15.5 2.3 15.6 2.2zM96.6 221.1s11.1-13.6 4.7-16.4c-5.7-2.5-8 4.8-8 4.8h.2s-5.2-4.7-9.3-.1c-4.7 5.3 12.3 11.8 12.3 11.8l.1-.1zM132.8 236.4s13.1-5.3 9.7-9.8c-3.1-4-7.5.2-7.5.2h.1s-1.9-5.3-6.6-3.7c-5.4 1.9 4.1 13.1 4.1 13.1l.2.2z"></path>
                <path class="SELECCION_PANEL_1_svg__st16" d="M153.9 334.8s-6.4 2.9-2.1 8.5c-.1 0-2.3-5.8 2.1-8.5z"></path></g></g>
        <g><path fill="#85a82d" d="M135.6 113.5l-40.4 2.7-18.6 35 21.8 32.4 5 1.6L140 115z"></path>
            <path class="SELECCION_PANEL_1_svg__st31" d="M139.9 115.1l-40.4 2.6-18.6 35.1 21.8 32.4 40.4-2.7 18.6-35.1z"></path>
            <path class="SELECCION_PANEL_1_svg__st8" d="M137.6 119.2l-35.4.6-16.1 32.7 20.6 28.4 33.6-.5 15-32.4z"></path>
            <text transform="matrix(.95 0 0 1 96.501 164.576)"
                  class="SELECCION_PANEL_1_svg__st31 SELECCION_PANEL_1_svg__st9 SELECCION_PANEL_1_svg__st32"
                  letter-spacing="-3.2">N</text>
            <text transform="matrix(.95 0 0 1 123.101 164.576)"
                  class="SELECCION_PANEL_1_svg__st31 SELECCION_PANEL_1_svg__st9 SELECCION_PANEL_1_svg__st32">1</text></g></svg>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlexOffset="50" class="more-info-container" fxLayout="row" fxLayoutAlign="center center" (click)="moreInfo()">
            <span>+Info</span>
        </div>
    </div>
</div>
