@import "../../../variables";
@import "../../../fluid-typography";
.more-info-container {
  width: 25%;
  min-width: 8.5vw;
  height: 100%;
  max-height: 60px;
  min-height: 4vw;
  border-radius: 1vw;
  @include fluid-type(500px, 1800px, 16px, 38px);
  padding: 5px 10px;
  font-weight: 500;
  color: white;
  background-color: $green-color;
}
.age-text {
  font-size: 24px;
  color: white;
  font-weight: 400;
}
.age-number {
  font-size: 34px;
  color: white;
  font-weight: 500;
}
.SELECCION_PANEL_1_svg__st1{fill:#a7a9ac}.SELECCION_PANEL_1_svg__st2{fill:#808285}.SELECCION_PANEL_1_svg__st3{fill:#c7c8ca}.SELECCION_PANEL_1_svg__st4{fill:#717375}.SELECCION_PANEL_1_svg__st8{fill:#fff}.SELECCION_PANEL_1_svg__st9{}.SELECCION_PANEL_1_svg__st10{font-size:47.7784px}.SELECCION_PANEL_1_svg__st15{fill:#00aeef}.SELECCION_PANEL_1_svg__st16{fill:#0076c0}.SELECCION_PANEL_1_svg__st17{fill:none;stroke:#006fba;stroke-width:.3171;stroke-miterlimit:10}.SELECCION_PANEL_1_svg__st20{fill:#f57e20}.SELECCION_PANEL_1_svg__st21{fill:#7f2a90}.SELECCION_PANEL_1_svg__st22{fill:#8c4d9e}.SELECCION_PANEL_1_svg__st24{fill:#ffd600}.SELECCION_PANEL_1_svg__st25{stroke:#fff;stroke-width:.1051;stroke-miterlimit:10}.SELECCION_PANEL_1_svg__st27{fill:#ee2831}.SELECCION_PANEL_1_svg__st29{fill:none;stroke:#fff;stroke-width:.8412;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}.SELECCION_PANEL_1_svg__st31{fill:#a6ce39}.SELECCION_PANEL_1_svg__st32{font-size:42.0291px}
