<div fxFlex="grow" fxLayout="column" fxLayoutAlign="start center" class="violet-background">
  <div style="z-index: 1; position: absolute; left: 0; top: 0;" fxlayout="row" fxlayoutAlign="space-between center" class="full-width">
    <app-settings-button></app-settings-button>
  </div>
  <div style="z-index: 0" fxLayout="row" class="full-width" fxFlex="85" fxLayoutAlign="center center" fxLayoutGap="1%" >
    <app-first-level-button (clickLevel)="selectLevel(1)" fxFlexFill fxFlex="25"></app-first-level-button>
    <app-second-level-button (clickLevel)="selectLevel(2)" fxFlexFill fxFlex="25"></app-second-level-button>
    <app-third-level-button (clickLevel)="selectLevel(3)" fxFlexFill fxFlex="25"></app-third-level-button>
  </div>
  <div class="full-width" fxFlex="8">
    <app-back-button [backUrl]="'/cover'"></app-back-button>
  </div>
</div>
