@import "../../../../variables";
:host {
  display: flex;
  flex: 1 1 100%;
  height: 100%; margin: 0; min-height: 100%; min-width: 100%; width: 100%;
}
.riddle-text {
  font-weight: 500;
  color: $gray-color !important;
}
.riddle-hint {
  font-weight: 600;
  color: $gray-color !important;
}
.option-text {
  font-weight: 600;
  color: $gray-color !important;
  font-size: 80%;
}
.st3{fill:#fdc485}
.title {
  color: $orange-color;
}

.app-card-texts {
  overflow: auto; max-height: 500px; font-size: 21px;
  padding-left: 3%;
  padding-right: 3%;
  overflow-y: hidden;
}

