<div fxFlex="grow" fxLayout="column" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <div  fxLayout="column" fxLayoutAlign="space-between" fxFlex="75" class="full-width"  >
      <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
          <svg width="10%" height="80%">
              <path class="st3"
                    d="M33 16.6c0-1.5.6-3 1.6-4.5s2.4-2.7 4.3-3.7 4-1.4 6.5-1.3c2.3.1 4.3.5 6 1.4 1.7.9 3 2.1 4 3.6.9 1.5 1.3 3.1 1.3 4.8 0 1.3-.3 2.5-.9 3.5-.6 1-1.2 1.8-2 2.6-.8.7-2.1 1.9-4.1 3.6-.5.5-1 .9-1.3 1.3s-.6.7-.7 1c-.2.3-.3.6-.4.9-.1.3-.2.8-.4 1.6-.3 1.6-1.3 2.4-2.9 2.4-.8 0-1.5-.3-2-.9-.5-.6-.8-1.4-.8-2.4 0-1.3.3-2.5.7-3.4.4-1 1-1.8 1.7-2.5s1.6-1.6 2.8-2.5c1-.9 1.8-1.5 2.2-1.9.5-.4.9-.9 1.2-1.5.3-.5.5-1.1.5-1.8 0-1.3-.4-2.3-1.3-3.2-.9-.9-2.1-1.4-3.6-1.4-1.7 0-3 .4-3.9 1.2-.8.9-1.6 2.1-2.2 3.8-.6 1.8-1.6 2.6-3.1 2.6-.9 0-1.6-.4-2.2-1-.8-.9-1.1-1.6-1-2.3zm10.8 26.2c-1 0-1.8-.4-2.5-1s-1-1.5-1-2.6c0-1 .4-1.8 1.1-2.5.7-.7 1.6-1 2.6-.9 1 0 1.8.4 2.5 1.1.7.7 1 1.5.9 2.5 0 1.1-.4 2-1.1 2.6-.8.6-1.6.8-2.5.8zM33.4 40.8c-.2 1.5-.9 2.9-2 4.3-1.2 1.4-2.7 2.5-4.7 3.2-2 .8-4.2 1-6.6.7-2.3-.3-4.2-1-5.8-2-1.6-1.1-2.8-2.4-3.6-3.9-.8-1.6-1-3.2-.8-4.9.2-1.3.6-2.5 1.3-3.4.7-.9 1.4-1.7 2.3-2.3.8-.6 2.3-1.7 4.5-3.1.6-.4 1.1-.8 1.4-1.1.4-.3.6-.6.8-.9.2-.3.4-.6.5-.9.1-.3.3-.8.6-1.6.5-1.6 1.5-2.3 3.1-2.1.8.1 1.5.5 1.9 1.1.5.6.7 1.4.5 2.5-.2 1.3-.5 2.4-1.1 3.3-.5.9-1.2 1.7-1.9 2.3-.8.6-1.8 1.4-3.1 2.2-1.1.7-1.9 1.3-2.4 1.7-.5.4-.9.8-1.3 1.3s-.6 1.1-.7 1.7c-.2 1.2.2 2.4 1 3.3.8 1 2 1.6 3.4 1.8 1.7.2 3 0 4-.8.9-.8 1.8-1.9 2.6-3.6.8-1.7 1.9-2.4 3.4-2.3.9.1 1.6.5 2.1 1.2.5.9.7 1.6.6 2.3zm-8-27.2c1 .1 1.7.5 2.4 1.3.6.7.9 1.6.7 2.7-.1 1-.6 1.8-1.4 2.3-.8.6-1.7.8-2.7.7-1-.1-1.8-.6-2.4-1.3-.6-.8-.8-1.6-.7-2.6.1-1.1.6-1.9 1.4-2.4.9-.6 1.7-.8 2.7-.7z"></path>
          </svg>
          <div class="title nunito"  [minFontSize]="22" [maxFontSize]="45" fittext>
              {{card.cardName | uppercase}}
          </div>
      </div>
   <!-- <svg fxFlex="20" preserveAspectRatio="xMidYMid" xmlns="http://www.w3.org/2000/svg" viewBox="9 0 292 57.8">
      <text transform="matrix(.95 0 0 1 62.627 45.365)" font-size="36"  fill="#f7941d">
      </text>
    </svg>-->

    <div fxFlexOffset="2" fxFlex="80" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="1%" class="app-card-texts">
        <i [ngStyle]="{'font-size': card.level === 3 ? '24px' : '26px'}" *ngIf="card.hint && card.hint.length > 0" class="riddle-hint">
            {{card.hint }}
        </i>
      <span [ngStyle]="{'font-size': card.level === 3 ? (line.length > 30 ? '22px' : '24px') : '26px'}" *ngFor="let line of card.inititalTexts, let i = index" class="riddle-text">
              {{line}}
            </span>
      <div  fxFlex="grow" *ngIf="cardService.shoeExtraTexts.value" class="full-width"  fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1%" >
          <span *ngIf="card.extraTexts.length > 1" class="option-text" style="font-weight: 600; text-decoration: underline; font-size: 25px;">Opciones:</span>
          <span *ngIf="card.extraTexts.length === 1" class="option-text" style="font-weight: 600; text-decoration: underline; font-size: 25px;">Ayuda:</span>
          <div class="full-width" fxLayoutAlign="space-evenly start" fxLayout="row">
              <span *ngFor="let extra of card.extraTexts" class="option-text" [ngStyle]="{'font-size': card.level === 3 && extra.length > 12 ? (extra.length > 20 ? '16px' : '18px') : '22px'}">{{extra}}</span>
          </div>

      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlex="25" fxLayoutAlign="start" [fxLayoutGap]="card.level === 3 ? '2.5%' : '5%'">
    <app-answer-button [cardColor]="'#f7941d'" [answer]="cardService.currentCard.answer" [fxFlex]="card.level === 3 ? '60' : '50'"></app-answer-button>
      <ng-container *ngIf="cardService.currentAnswerIsViewed">
          <app-correct-button (click)="correctAnswer()" fxFlex="10"></app-correct-button>
          <app-options-button (click)="onClickOptions()" *ngIf="!cardService.shoeExtraTexts.value &&
                cardService.currentCard.extraTexts && cardService.currentCard.extraTexts.length > 0" fxFlex="25"></app-options-button>
          <app-wrong-button (click)="wrongAnswer()" *ngIf="cardService.shoeExtraTexts.value" fxFlex="10"></app-wrong-button>
      </ng-container>

  </div>
</div>
