.token {
  transform: translate(45px, 190px);
  transition: all linear 1s ;
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st0 {
  opacity: .28;
  fill: #58595b
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st1 {
  fill: #92278f
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st2 {
  fill: #dde89a
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st3 {
  opacity: .5;
  fill: #939598
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st4 {
  fill: #fff
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st5 {
  fill: none;
  stroke: #561e6d;
  stroke-width: .1657;
  stroke-miterlimit: 10
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st6 {
  opacity: .37
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st7 {
  fill: #75c044
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st8 {
  fill: #4f1864
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st10, .TABLERO_RECORRIDO_NIVEL_1_svg__st11, .TABLERO_RECORRIDO_NIVEL_1_svg__st9 {
  fill: none;
  stroke: #561e6d;
  stroke-width: .1711;
  stroke-miterlimit: 10
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st10, .TABLERO_RECORRIDO_NIVEL_1_svg__st11 {
  stroke-width: .1619
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st11 {
  stroke-width: .1227
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st12 {
  opacity: .6
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st13, .TABLERO_RECORRIDO_NIVEL_1_svg__st14 {
  opacity: .64;
  fill: #75c044
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st14 {
  opacity: .75
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st15 {
  fill: #66ab3c
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st16 {
  fill: #5a9a35
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st17 {
  opacity: .29
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st18 {
  fill: #8ea0aa
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st19 {
  opacity: .29;
  fill: #5c676e
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st20 {
  fill: #58595b
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st21 {
  fill: #758188
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st24 {
  fill: #561e6d
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st25 {
  fill: #a1a3a6
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st26 {
  fill: none;
  stroke: #561e6d;
  stroke-width: .4636;
  stroke-miterlimit: 10
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st27 {
  fill: #7c197a
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st28 {
  fill: #841e82
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st29 {
  fill: #862084
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st30 {
  fill: #963694
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st31 {
  fill: #511a67
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st32 {
  fill: #541c6a
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st33 {
  fill: #4a135e
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st34 {
  clip-path: url(#TABLERO_RECORRIDO_NIVEL_1_svg__SVGID_2_)
}

.TABLERO_RECORRIDO_NIVEL_1_svg__st38 {
  font-size: 16.6371px
}
