<svg xmlns="http://www.w3.org/2000/svg" class="level1"
     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 46.2 49">
  <g>
    <ellipse fill="white" transform="rotate(-36.817 23.498 24.998)" class="st19" cx="23.5" cy="25" rx="19.8" ry="19.8"></ellipse>
    <defs>
      <ellipse id="f" transform="rotate(-40.527 23.5 25)" cx="23.5" cy="25" rx="17.9" ry="17.9"></ellipse>
    </defs>
    <clipPath id="g">
      <use xlink:href="#f" overflow="visible"></use>
    </clipPath>
    <ellipse transform="rotate(-40.527 23.5 25)" cx="23.5" cy="25" rx="17.9" ry="17.9" clip-path="url(#g)"
             [attr.fill]="color" ></ellipse>

    <ellipse transform="rotate(-40.527 23.646 23.136)" cx="23.6" cy="23.1" rx="16.6" ry="16.6"
             clip-path="url(#g)" [attr.fill]="color"></ellipse>
    <path clip-path="url(#g)" fill="none" style="stroke: rgba(249,249,255,0.25)" stroke-width="4.666" stroke-miterlimit="10"
          d="M41.2 32.6L5.4 16.1"></path>
  </g>
</svg>
