<svg fxFlex="grow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.7 192.6">
    <path d="M178.7 103.1c-6.8 46.9-51.3 79.5-99.4 72.9S-2.2 125.9 4.7 79 56-.6 104 6s81.5 50.2 74.7 97.1z"
          opacity=".31" fill="#77787b"></path>
    <path class="st1"
          d="M176.3 102.2c-6.6 45-49.3 76.4-95.4 70-46.1-6.4-78.2-48.1-71.6-93.1s49.3-76.4 95.4-70 78.2 48.1 71.6 93.1z"></path>
    <path class="st2"
          d="M174 78.5l-20.2 3.3-20.3 3.1-40.6 6.3-40.6 5.9-20.4 2.9-20.3 2.8 20.3-3.3 20.3-3.1 40.5-6.2 40.7-6 20.3-2.9z"></path>
    <path class="st2"
          d="M128.6 18.4l-8.8 18.2-8.8 18.1-17.7 36.2-18 36-9.1 18-9.1 18 8.7-18.2 8.8-18.1 17.8-36.2 17.9-36 9.1-18z"></path>
    <path class="st2"
          d="M43.5 26.5L56 42.4l12.5 15.9 24.7 32 24.6 32.2 12.2 16.1 12.2 16.2-12.6-15.9-12.4-15.9-24.8-32-24.6-32.2-12.2-16.1z"></path>
    <path d="M46 26l36.7 49 15.8 1.2 26.6-57.9c.1 0-38.1-19.7-79.1 7.7z" fill="#ec008c"></path>
    <path d="M130.3 20.1l-26.2 53.8 7.3 13.7 60.2-11s-1-31.6-41.3-56.5z" fill="#00b3aa"></path>
    <path d="M172.6 81.3l-60.4 9.8-8 13.3 40.1 47.4c0 .1 31.4-23.9 28.3-70.5z"></path>
    <path class="st2" d="M140.4 156.2l-37.2-48.9-15.8-.2-26.7 57.1c0-.1 41.4 19.9 79.7-8z"></path>
    <path d="M56 161.8l27.9-59-10-7.4-59.8 9.4c-.2 0 3.9 34.9 41.9 57z" fill="#faa61a"></path>
    <path d="M13.4 99.4l63.4-7.1 7.7-13.5L41.7 31S11.4 49 13.4 99.4z" fill="#00aeef"></path>
    <path class="st1"
          d="M124 96c-2.6 17.5-19.2 29.7-37.1 27.2-18-2.5-30.4-18.7-27.9-36.3 2.6-17.5 19.2-29.7 37.1-27.2S126.5 78.4 124 96z"></path>
    <path d="M65.7 90.6l3.3 18s9.9 9.8 20.5 9.7c14.4-.1 24.9-8.7 27.1-14.3l1.3-14.6-52.2 1.2z" fill="#fdba12"></path>
    <path class="st8"
          d="M117.7 89.4c-.9 12.9-13.3 22.6-27.7 21.6-14.4-.9-25.3-12.2-24.4-25 .9-12.9 13.3-22.6 27.7-21.6 14.3.9 25.3 12.1 24.4 25z"></path>
    <path class="st9"
          d="M78.5 84.6h-2v6.9c0 .4-.1.7-.3.9-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3-.2-.2-.3-.5-.3-.9v-6.9h-2c-.3 0-.6-.1-.7-.2-.2-.1-.2-.3-.2-.6 0-.2.1-.4.2-.6.2-.1.4-.2.7-.2h5.9c.3 0 .6.1.7.2.2.1.2.3.2.6s-.1.4-.2.6c0 .1-.3.2-.6.2zM80.6 91.5V84c0-.4.1-.7.3-.9.2-.2.4-.3.7-.3.3 0 .5.1.7.3.2.2.3.5.3.9v7.5c0 .4-.1.7-.3.9-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3-.2-.2-.3-.5-.3-.9zM87.1 88.4h-.7v3c0 .4-.1.7-.3.9-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3-.2-.2-.2-.5-.2-.9v-7.3c0-.4.1-.7.3-.9.2-.2.5-.3.9-.3h3c.4 0 .8 0 1.1.1.3 0 .6.1.8.2.3.1.5.3.8.5.2.2.4.5.5.8.1.3.2.6.2 1 0 .7-.2 1.3-.6 1.7-.4.4-1 .7-1.8.9.3.2.6.4.9.8.3.4.6.7.8 1.1.2.4.4.8.6 1.1.1.3.2.5.2.7 0 .1 0 .2-.1.4l-.3.3c-.1.1-.3.1-.5.1s-.4-.1-.5-.2c-.1-.1-.3-.2-.4-.4-.1-.2-.2-.4-.4-.7l-.7-1.3c-.3-.5-.5-.8-.7-1.1-.2-.2-.4-.4-.6-.5s-.6 0-.9 0zm1.1-3.9h-1.7v2.6h1.7c.4 0 .8 0 1.1-.1.3-.1.5-.2.7-.4.2-.2.2-.5.2-.8 0-.3-.1-.5-.2-.7-.1-.2-.3-.3-.5-.4-.3-.2-.7-.2-1.3-.2zM99.7 91.4l-.4-1.2h-3.7l-.4 1.2c-.2.5-.3.8-.4 1-.1.2-.3.2-.6.2-.2 0-.4-.1-.6-.3-.2-.2-.3-.4-.3-.6 0-.1 0-.3.1-.4 0-.1.1-.3.2-.6l2.4-6.1c.1-.2.1-.4.2-.6.1-.2.2-.5.3-.6.1-.2.2-.3.4-.4.2-.1.4-.2.6-.2.3 0 .5.1.7.2.2.1.3.2.4.4.1.2.2.3.3.5.1.2.2.4.3.7l2.4 6.1c.2.5.3.8.3 1 0 .2-.1.4-.3.6-.2.2-.4.3-.6.3-.1 0-.3 0-.4-.1-.1-.1-.2-.1-.3-.2-.1-.1-.1-.2-.2-.4-.2-.2-.3-.3-.4-.5zM96 88.8h2.8l-1.4-3.9-1.4 3.9zM105.6 88.4h-.7v3c0 .4-.1.7-.3.9-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3-.2-.2-.2-.5-.2-.9v-7.3c0-.4.1-.7.3-.9.2-.2.5-.3.9-.3h3c.4 0 .8 0 1.1.1.3 0 .6.1.8.2.3.1.5.3.8.5.2.2.4.5.5.8.1.3.2.6.2 1 0 .7-.2 1.3-.6 1.7-.4.4-1 .7-1.8.9.3.2.6.4.9.8.3.4.6.7.8 1.1.2.4.4.8.6 1.1.1.3.2.5.2.7 0 .1 0 .2-.1.4l-.3.3c-.1.1-.3.1-.5.1s-.4-.1-.5-.2c-.1-.1-.3-.2-.4-.4-.1-.2-.2-.4-.4-.7l-.7-1.3c-.3-.5-.5-.8-.7-1.1-.2-.2-.4-.4-.6-.5s-.6 0-.9 0zm1.1-3.9H105v2.6h1.7c.4 0 .8 0 1.1-.1.3-.1.5-.2.7-.4.2-.2.2-.5.2-.8 0-.3-.1-.5-.2-.7-.1-.2-.3-.3-.5-.4-.3-.2-.7-.2-1.3-.2z"></path>
    <path class="st8" d="M102 68.5H80.7l10.6-20.8z"></path>
    <g>
        <path class="st10"
              d="M96.3 40.4c-1.3 0-2.6-.3-3.8-.7-2.4-1-4.3-2.8-5.2-5.2-1-2.4-1-4.9 0-7.3 1.5-3.5 5.1-5.8 9-5.8 1.3 0 2.6.3 3.8.7 5 2 7.3 7.6 5.2 12.5-1.6 3.5-5.1 5.8-9 5.8zm0-17.5c-3.3 0-6.2 1.9-7.5 4.9-.8 2-.9 4.1 0 6.1.8 2 2.4 3.5 4.4 4.3 1 .4 2.1.6 3.1.6 3.3 0 6.2-1.9 7.5-4.9 1.7-4-.2-8.7-4.3-10.4-1.1-.4-2.1-.6-3.2-.6z"></path>
        <path class="st10"
              d="M88.7 34s-19.4 6.3-17 11.3c2.3 5 18.2-9.3 18.2-9.3M92.7 36.8c-.2 0-.3-.1-.4-.2-2-2-2.9-4.1-2.7-6.3.3-3.4 3.3-5.7 3.4-5.8.3-.2.6-.1.8.1.2.3.1.6-.1.8 0 0-2.7 2-3 5-.1 1.8.7 3.6 2.4 5.4.2.2.2.6 0 .8-.1.2-.2.2-.4.2z"></path>
    </g>
    <g>
        <path class="st11"
              d="M41.2 125.4c-.7.5-1.7.8-2.8.8-1.1.1-2.2-.2-3.4-.7-1.1-.6-2.1-1.4-3-2.6-.8-1.1-1.3-2.2-1.5-3.4-.2-1.1-.1-2.2.3-3.1.4-1 1-1.7 1.8-2.3.7-.5 1.3-.7 2-.8.7-.1 1.3-.1 2 .1.6.1 1.7.3 3.2.7.4.1.8.2 1.1.2h.8c.2 0 .4-.1.6-.1.2-.1.5-.2.9-.4.9-.4 1.6-.2 2.2.5.3.4.4.8.3 1.3-.1.5-.4.9-.9 1.2-.7.4-1.3.7-1.9.9-.6.1-1.2.2-1.8.1-.6-.1-1.3-.2-2.2-.4-.8-.2-1.4-.3-1.8-.4-.4-.1-.8-.1-1.1 0-.4 0-.7.2-1.1.4-.6.4-1 1-1.1 1.8-.1.7.1 1.5.6 2.2.6.8 1.3 1.3 2 1.4.7.1 1.6 0 2.6-.3 1.1-.3 1.9-.2 2.4.6.3.4.4.9.3 1.4.1.3-.1.7-.5.9zm8.8-14.3c.3.5.5 1 .4 1.5-.1.6-.4 1-.9 1.4-.5.3-1 .5-1.6.3-.6-.1-1-.4-1.4-.9-.3-.5-.5-1-.4-1.6.1-.6.4-1 .9-1.3.5-.4 1.1-.5 1.7-.4.6.2 1 .5 1.3 1zM52.8 116.8c.8-.4 1.7-.6 2.8-.6 1.1.1 2.2.4 3.3 1.1 1.1.7 2 1.6 2.7 2.9.7 1.2 1 2.3 1.1 3.5.1 1.1-.1 2.2-.6 3.1-.5.9-1.2 1.6-2.1 2.1-.7.4-1.4.6-2.1.6-.7 0-1.3-.1-2-.2-.6-.2-1.7-.5-3.1-1-.4-.1-.8-.2-1.1-.3-.3-.1-.5-.1-.8-.1-.2 0-.4 0-.6.1-.2 0-.5.1-1 .3-1 .3-1.7.1-2.1-.7-.2-.4-.3-.9-.2-1.3.1-.4.5-.8 1-1.1.7-.4 1.4-.6 2-.7.6-.1 1.2 0 1.8.1.6.1 1.3.4 2.2.7.8.3 1.3.5 1.7.6.4.1.7.2 1.1.2.4 0 .7-.1 1.1-.3.7-.4 1.1-.9 1.3-1.6.2-.7.1-1.5-.4-2.2-.5-.9-1.1-1.4-1.8-1.6-.7-.2-1.6-.2-2.7 0s-1.9 0-2.3-.8c-.3-.5-.3-.9-.2-1.4.3-.8.6-1.2 1-1.4zm-10.3 13.5c-.3-.5-.4-1-.2-1.6.1-.6.5-1 1.1-1.3.5-.3 1.1-.3 1.6-.2.6.2 1 .5 1.3 1 .3.5.4 1 .2 1.6-.2.5-.5 1-1 1.2-.6.3-1.1.4-1.7.2-.6-.1-1-.5-1.3-.9z"></path>
    </g>
    <g>
        <path class="st12"
              d="M41.5 73.2l-2-.1-2 4.9 1.5 1.3c.6.5 1 .9 1.1 1.1.2.3.2.6 0 .9-.1.3-.4.5-.7.7-.4.1-.7.1-1 0-.2-.1-.4-.2-.5-.3-.2-.1-.4-.3-.7-.6l-7.6-6.6c-.2-.2-.5-.4-.8-.7l-.7-.7c-.2-.2-.3-.5-.3-.8-.1-.3 0-.6.1-.9.1-.3.3-.6.6-.8.2-.2.5-.3.8-.3.3-.1.6-.1.9-.1h1.2l10.1.3c.8 0 1.3.1 1.6.2.3.1.6.4.7.7.2.3.2.7 0 1-.1.2-.2.3-.3.5-.1.1-.3.2-.5.2s-.4.1-.7.1h-.8zm-5.8 3.4l1.5-3.6-6.4-.4 4.9 4zM55.7 60.2l-.3-.1c.2.4.4.7.5 1.1.1.4.2.7.2 1.1 0 .4-.1.7-.3 1.1-.2.5-.5.9-.9 1.2-.4.3-.8.5-1.3.5-.6.1-1.3-.1-2.2-.4L47 63c-.4-.2-.7-.4-.9-.7-.1-.3-.2-.5 0-.8.1-.3.3-.5.6-.6.3-.1.7-.1 1.1.1l3.6 1.4c.5.2 1 .3 1.3.4.4.1.7 0 1-.1.3-.1.5-.4.6-.7.1-.3.2-.7.1-1.1-.1-.4-.3-.7-.6-1-.3-.2-.9-.6-2-1l-2.7-1.1c-.4-.2-.7-.4-.9-.7-.1-.3-.2-.6 0-.9.1-.3.3-.5.6-.6.3-.1.7 0 1.1.1l6.5 2.5c.4.2.7.4.8.6.1.3.2.5 0 .8-.1.3-.3.5-.6.5-.1.3-.5.3-.9.1z"></path>
        <path class="st12"
              d="M42.6 63.2l3.5 6.2 1.8-4.4c.1-.4.4-.6.6-.7.3-.1.5-.1.8 0 .3.1.5.3.6.5.1.3.1.6-.1.9l-2.5 6.1c-.2.4-.4.7-.7.8-.3.1-.6.1-1 0-.2-.1-.4-.2-.6-.5-.2-.2-.4-.7-.8-1.4s-.8-1.4-1.1-2c-.3-.6-.7-1.2-.9-1.7-.3-.5-.5-1-.8-1.3l-.6-.9-1.4 3.4c-.2.5-.4.8-.6 1-.2.2-.5.2-.9.1-.3-.1-.5-.3-.6-.5-.1-.2-.1-.5.1-.9l2.2-5.2c.2-.5.4-.8.7-1 .3-.2.6-.2 1 0 .1.1.3.1.4.2l.3.3c.1.1.1.2.2.4.2.1.3.3.4.6z"></path>
        <path class="st12"
              d="M39.8 57L38 61.4c.6.2 1.1.3 1.7.3.5 0 1-.2 1.3-.4.4-.2.6-.6.8-1 .1-.3.2-.5.2-.8 0-.3 0-.5-.1-.8-.1-.3-.1-.5-.2-.8-.1-.2-.2-.6-.4-1-.1-.2-.1-.3 0-.6.1-.2.2-.4.4-.5.2-.1.4-.1.7 0 .2.1.5.3.7.6.2.3.4.6.6 1.1.1.4.2.9.2 1.5s-.2 1.2-.4 1.8c-.6 1.5-1.5 2.4-2.8 2.8-1.3.4-2.7.3-4.3-.3-.8-.3-1.4-.7-2-1.1-.6-.5-1-1-1.3-1.5-.3-.6-.5-1.2-.5-1.8 0-.7.1-1.3.4-2 .4-.9.9-1.6 1.6-2 .7-.5 1.4-.7 2.2-.8.8-.1 1.5.1 2.2.3.6.3 1 .6 1 1 .1.5.1 1-.2 1.6zm-3.3 3.8l1.7-4.1c-.9-.3-1.6-.3-2.2-.1-.6.2-1 .6-1.2 1.2-.2.6-.2 1.1.1 1.6.2.5.8 1 1.6 1.4zM48.2 79.8l2.8 1.1c.4.2.7.4.9.7.1.3.1.6 0 .9-.1.3-.3.5-.6.6-.3.1-.7.1-1.1-.1l-3.4-1.3c-.5-.2-1-.4-1.3-.4-.3-.1-.6-.1-.8 0-.3.1-.5.3-.6.6-.3.7-.2 1.2.2 1.6.4.4 1 .8 1.9 1.1l2.9 1.1c.4.2.7.4.9.7.1.3.1.6 0 .9-.1.3-.3.5-.7.6-.3.1-.7.1-1.1-.1l-6.1-2.4c-.4-.2-.7-.4-.8-.6-.1-.3-.1-.5 0-.8.1-.3.3-.5.6-.6.3-.1.6-.1.9 0l.2.1c-.3-.5-.5-1-.5-1.5s0-1 .3-1.5c.2-.5.5-.9.9-1.2.4-.3.8-.5 1.3-.5-.3-.5-.5-1-.5-1.5s0-1 .2-1.5c.2-.6.6-1 .9-1.3.4-.3.9-.5 1.4-.5.5 0 1.1.1 1.9.4L53 76c.4.2.7.4.9.7.1.3.1.6 0 .9-.1.3-.3.5-.7.6-.3.1-.7.1-1.1-.1l-3.6-1.4c-.5-.2-.8-.3-1.1-.4-.3-.1-.6-.1-.8 0-.3.1-.5.3-.6.6 0 .5-.1.7 0 1.1.1.3.2.6.4.8.3.3.9.6 1.8 1z"></path>
    </g>
    <g>
        <path class="st13"
              d="M133.9 77.7l-3.4-13.9-7.9-9.4c-.7-.8-1-1.9-.9-3 .1-1.1.6-2.1 1.5-2.8l9.2-7.4c1.8-1.4 4.4-1.2 5.9.5l14.4 17.2c1.5 1.7 1.2 4.3-.6 5.8l-9.2 7.4c-1.8 1.4-4.4 1.2-5.9-.5l-.8-.9-2.3 7zm3-34.3c-.9-1-2.4-1.1-3.4-.3l-8.8 7.1c-.5.4-.8 1-.9 1.6-.1.6.1 1.2.5 1.7l7.8 9.3 2 8.2 1.4-4.2 2.6 3.1c.9 1 2.4 1.1 3.4.3l8.8-7.1c1-.8 1.2-2.3.3-3.3l-13.7-16.4z"></path>
        <path class="st13"
              d="M126.5 51.6c-.2-.3-.2-.7 0-.9l8.1-6.6c.3-.2.7-.2.9.1.2.3.2.7 0 .9l-8.1 6.6c-.3.2-.7.2-.9-.1z"></path>
    </g>
    <g>
        <path class="st14"
              d="M138 107c3-6 10.4-8.5 16.4-5.5s8.5 10.4 5.5 16.4c-3 6-10.4 8.5-16.4 5.5-6-3-8.5-10.3-5.5-16.4zm20.4 10.2c2.6-5.2.5-11.5-4.7-14.1-5.2-2.6-11.5-.5-14.1 4.7s-.5 11.5 4.7 14.1c5.2 2.6 11.5.4 14.1-4.7z"></path>
        <ellipse transform="matrix(.445 -.8955 .8955 .445 -13.1211 198.8451)" class="st14" cx="153.9" cy="110" rx="1.1"
                 ry="1.1"></ellipse>
        <ellipse transform="matrix(.445 -.8955 .8955 .445 -22.3328 199.7104)" class="st14" cx="150" cy="117.9" rx="1.1"
                 ry="1.1"></ellipse>
        <path class="st14"
              d="M146.2 105.3l.3-.3c.3-.1.7 0 .8.3.9 2 .8 4.3-.2 6.3s-2.7 3.4-4.8 3.9c-.3.1-.7-.1-.8-.4-.1-.3.1-.7.4-.8 1.8-.5 3.2-1.7 4-3.3.8-1.7.9-3.6.2-5.3 0-.1 0-.3.1-.4z"></path>
    </g>
    <path fill="none" stroke="#d1d3d4" stroke-width="1.6282" stroke-linecap="round" stroke-linejoin="round"
          stroke-miterlimit="10" d="M92.2 135.6l9.4 6.2 8.9-7.1-3 11 9.5 6.2-11.4.5-3 11-4-10.6-11.3.5 8.9-7.1z"></path>
</svg>
