.st1 {
  fill: #d1d3d4
}

.st2 {
  fill: #fff
}

.st8 {
  fill: #ffdb00
}

.st9 {
  fill: #92278f
}

.st10 {
  fill: #f49ac1
}

.st11 {
  fill: #ffc489
}

.st12 {
  fill: #6dcff6
}

.st13 {
  fill: #86dfd8
}

.st14 {
  fill: #6d6e71
}
