<div fxFlex="grow" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
  <svg style="height: 15vh" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.5 74">
    <circle cx="39.7" cy="38.5" r="28.8" style="fill:#6e0f6c"></circle>
    <circle cx="35.1" cy="36.3" r="28.8" style="fill:#fff"></circle>
    <path d="M35.4 22.3c-1.2 0-2.2-.4-3-1.1-.8-.7-1.2-1.7-1.2-3 0-1.2.4-2.2 1.3-2.9.9-.8 1.8-1.2 3-1.2 1.1 0 2.1.3 2.9 1 .8.7 1.3 1.7 1.3 3s-.4 2.3-1.2 3c-1 .9-2 1.2-3.1 1.2zm4.1 8.7v24.3c0 1.7-.4 3-1.2 3.8-.8.9-1.8 1.3-3 1.3s-2.2-.4-3-1.3c-.8-.9-1.2-2.1-1.2-3.8v-24c0-1.7.4-2.9 1.2-3.8.8-.8 1.8-1.3 3-1.3s2.2.4 3 1.3 1.2 2 1.2 3.5z" style="fill:#7d2a90;stroke:#7d2a90;stroke-width:1.331;stroke-miterlimit:10"></path>
  </svg>
  <h5 fxFlex fxFlexAlign="center" class="text-about-game" >
    Acerca<br>
    del juego
  </h5>
</div>
