<svg #toRotate fxFlex="grow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 366.6 366.6">
    <g id="fondo">
        <g id="Layer_4">
            <ellipse cx="183.3" cy="183.3" rx="183.3" ry="183.3" opacity=".31" fill="#77787b"></ellipse>
            <ellipse class="st1" cx="181.7" cy="181.4" rx="176" ry="176"></ellipse>
            <path class="st2"
                  d="M88.4 37.6c8 11.9 15.8 23.8 23.8 35.7l23.6 35.8c15.7 23.9 31.2 47.8 46.9 71.8l46.5 72 23.1 36.1c7.6 12.1 15.3 24.1 22.9 36.2-8-11.9-15.8-23.8-23.8-35.7l-23.6-35.8c-15.7-23.9-31.2-47.8-46.9-71.8-15.5-24-31.1-48-46.5-72l-23.1-36.1c-7.7-12-15.3-24.1-22.9-36.2z"></path>
            <path class="st2"
                  d="M10.3 176.8c14.3.1 28.6.4 42.9.6l42.8.8c28.6.6 57.1 1.4 85.7 2 28.6.8 57.1 1.6 85.7 2.5l42.8 1.4c14.3.6 28.6 1 42.8 1.7-14.3-.1-28.6-.4-42.9-.6l-42.8-.8c-28.6-.6-57.1-1.4-85.7-2-28.6-.9-57.1-1.6-85.7-2.5l-42.8-1.4c-14.2-.6-28.5-1.1-42.8-1.7z"></path>
            <path class="st2"
                  d="M99 331.6c6.7-12.6 13.5-25.2 20.2-37.8l20.4-37.7c13.6-25.1 27.4-50.1 41.1-75.2 13.9-25 27.6-50 41.6-75l20.9-37.4c7-12.4 14-24.9 21.1-37.3-6.7 12.6-13.5 25.2-20.2 37.8l-20.4 37.7c-13.6 25.1-27.4 50.1-41.1 75.2-13.9 25-27.6 50-41.6 75l-20.9 37.4c-7 12.4-14 24.9-21.1 37.3z"></path>
            <text transform="translate(322.9094 134.0816)" class="st3 st4"></text>
        </g>
        <text transform="translate(196.775 37.5085)" class="st3 st4" id="Layer_3"></text>
    </g>
    <g (click)="onChooseGuessword()" >
        <path class="clickable-section" d="M96 327.2l63.9-112.9-11.2-31.1-135.7.2s-5.5 89.8 83 143.8z" fill="#ec008c"></path>
        <path class="st2"
              d="M97.7 309c0 .2-.1.4-.2.7l-5.2 6.5c-.2.2-.3.3-.5.3s-.4-.1-.7-.2l-2.2-1.8c-1.2-1.1-2-2.1-2.2-3.4-.1-1.2.2-2.5 1.2-3.8.9-1.2 2.1-1.9 3.3-2.1s2.5.4 3.8 1.3l2.2 1.8c.4.2.5.5.5.7zm-3.4-1.1c-1.8-1.5-3.4-1.2-4.9.6-1.5 1.8-1.3 3.4.5 4.9l1.3 1.1 4.3-5.5-1.2-1.1zM90 302.8c0 .2-.1.4-.2.7l-5.5 6.2c-.2.2-.4.3-.6.3-.2 0-.4-.1-.7-.3l-3.8-3.4c-.2-.2-.3-.3-.3-.5s0-.3.2-.6c.1-.2.3-.2.5-.2s.4.1.6.3l3.2 2.7 1.8-2-2.9-2.6c-.2-.2-.3-.3-.3-.5s0-.3.2-.6c.1-.2.3-.2.5-.2s.4.1.6.3L86 305l1.9-2.3-3.2-2.7c-.2-.2-.3-.3-.3-.5s0-.3.2-.6c.1-.2.3-.2.5-.2s.4.1.6.3l3.8 3.4c.3-.1.5.1.5.4zM83.6 296.9c.3.5.6 1.2.6 1.6 0 .2 0 .5-.2.7-.1.1-.3.2-.5.2s-.3 0-.4-.1c-.1-.1-.2-.3-.2-.5-.1-.5-.3-1-.5-1.3-.2-.3-.6-.7-.9-1.2-.5-.5-1-.7-1.5-.8-.4-.1-.8 0-1.1.4-.2.2-.3.6-.2 1 .1.4.4.9.8 1.6.5.8.8 1.3 1 1.8s.3 1 .3 1.5c-.1.4-.3.9-.7 1.3-.4.5-.9.7-1.5.8-.5.1-1.1 0-1.8-.2-.6-.2-1.2-.6-1.7-1.2-1-1-1.5-1.9-1.6-3.1v-.4c0-.1.1-.2.2-.3.1-.1.3-.2.5-.2s.3 0 .4.1c.1.1.1.1.1.2s.1.2.1.3c.1.4.2.9.4 1.2.1.3.5.8.8 1.1.5.4.9.7 1.3.8s.9 0 1.2-.4c.3-.2.3-.6.3-1-.1-.4-.4-.9-.8-1.6-.5-.8-.8-1.4-1-1.9-.2-.5-.3-1-.3-1.5.1-.4.3-.9.6-1.2.4-.5.9-.7 1.4-.8s1.1 0 1.8.2c.6.2 1.2.6 1.7 1.2.7.7 1.1 1.2 1.4 1.7zM77.2 291c.1.9.2 1.6-.1 2.4s-.8 1.6-1.6 2.2c-.7.7-1.6 1.1-2.4 1.4-.8.2-1.6.3-2.4 0-.8-.2-1.6-.7-2.2-1.5-.5-.4-.8-1-1-1.5s-.4-1.1-.4-1.6c0-.1 0-.3.1-.4 0-.1.1-.2.2-.3.1-.1.3-.2.5-.2s.3 0 .4.2c.1.1.2.3.2.5 0 .5.1 1 .4 1.3.2.3.3.6.7 1 .7.7 1.5 1 2.2 1 .8 0 1.6-.5 2.5-1.3s1.4-1.6 1.5-2.5c.1-.8-.2-1.5-.8-2.3-.2-.3-.6-.5-.9-.7-.3-.2-.8-.3-1.2-.4-.1 0-.2-.1-.3-.1-.1 0-.2-.1-.2-.2-.1-.1-.1-.2-.1-.4s.1-.3.3-.4c.1-.1.2-.1.3-.2h.4c.6.1 1.1.3 1.5.5.6.3 1 .6 1.5 1 .3.9.7 1.6.9 2.5zM71.5 285.4c-.1 1-.7 2-1.7 2.8l-3.9 3.3c-.2.2-.4.2-.6.2-.2 0-.4-.1-.6-.3-.2-.2-.2-.4-.2-.6s.1-.4.3-.6l4.1-3.4c.6-.6 1.1-1.1 1.2-1.7.1-.6-.1-1.2-.6-1.8s-1-1-1.7-.9c-.7 0-1.2.3-1.8.8l-4.1 3.4c-.2.2-.4.2-.6.2-.2 0-.4-.1-.6-.3-.2-.2-.2-.4-.2-.6 0-.2.1-.4.3-.6l3.9-3.3c1.1-.9 2-1.3 3-1.2 1 .1 2 .7 2.8 1.7.7.9 1.1 1.9 1 2.9zM58.8 274.7c.2-.6.5-1 .9-1.3.6-.5 1.4-.7 2.2-.5.8.2 1.4.7 2.1 1.6l2.2 2.9c.1.2.2.4.2.6s-.1.4-.4.6l-6.6 5c-.2.1-.4.2-.6.2-.2 0-.4-.2-.6-.4l-2.2-2.8c-.6-.9-.9-1.6-1-2.4 0-.8.4-1.3 1-1.9.4-.3.9-.5 1.4-.5.4 0 1 .1 1.3.4-.1-.4-.1-.9.1-1.5zm2.2 5.5l-1.4-1.8c-.8-1-1.5-1.3-2.2-.7-.4.2-.5.6-.5 1s.2.9.6 1.3l1.4 1.8 2.1-1.6zm.9-5.6c-.3-.1-.8 0-1.2.3-.4.3-.6.7-.6 1 0 .4.1.9.6 1.4l1.5 2 2.4-1.8-1.5-2c-.5-.4-.9-.8-1.2-.9zM56.3 264.6c.2-.1.4-.1.5-.1.2.1.4.2.6.4.1.1.1.2.1.4 0 .1 0 .3-.1.4l-1.3 3.2c-.1.3-.2.7-.2.9 0 .2.1.5.4.8l.8 1.2 2.7-1.7c.2-.1.4-.2.7-.1.2 0 .4.2.6.4.1.2.2.4.1.7-.1.2-.2.4-.4.6l-6.9 4.6c-.2.1-.4.2-.7.1-.2 0-.4-.2-.6-.4l-2-3c-.7-1-.9-1.8-.9-2.6.1-.8.5-1.4 1.4-2 .6-.5 1.3-.6 2-.5.7.1 1.3.4 1.9 1-.1-.2-.1-.5-.1-.8 0-.2.1-.6.3-.9l.9-2.2c0-.1.1-.3.2-.4zm-2.9 5c-.4-.1-.8-.1-1.3.3-.4.3-.7.7-.7 1.1 0 .4.1.9.5 1.5l1.4 1.9 2.7-1.7-1.4-1.9c-.4-.7-.7-1.1-1.2-1.2zM56.1 263.4c0 .2-.2.4-.4.6l-7.1 4.3c-.2.1-.4.2-.7.1-.2-.1-.3-.2-.6-.4l-2.7-4.4c-.1-.2-.2-.4-.1-.7 0-.2.1-.3.3-.4.2-.1.4-.1.5-.1.2.1.3.2.5.4l2.2 3.7 2.4-1.4-2.1-3.3c-.1-.2-.2-.4-.1-.7 0-.2.1-.3.3-.4s.4-.1.5-.1c.2.1.3.2.5.4l2.1 3.3 2.5-1.5-2.2-3.7c-.1-.2-.2-.4-.1-.7 0-.2.1-.3.3-.4s.4-.1.5-.1c.2.1.3.2.5.4l2.7 4.4c.2.3.4.5.3.7zM48.8 251.6c-.1.2-.2.4-.4.5l-7.3 4c-.3.1-.4.2-.6.1s-.4-.3-.5-.4l-2.6-4.5c-.1-.3-.2-.4-.1-.6s.1-.3.3-.5c.2-.2.4-.2.6-.1.2.1.4.3.5.4l2.1 3.7 2.4-1.4-1.9-3.5c-.1-.3-.2-.4-.1-.6.1-.2.1-.3.3-.5.2-.2.4-.1.6 0 .2.1.4.3.5.4l1.9 3.5 2.6-1.4L45 247c-.1-.3-.2-.4-.1-.6.1-.2.2-.4.4-.4.2-.2.4-.1.6 0 .2.1.4.3.5.4l2.6 4.5c-.2.2-.2.5-.2.7zM45.1 244.9c-.1.2-.3.4-.4.5l-7.4 3.7c-.3.1-.5.1-.7.1-.2-.1-.4-.3-.5-.4-.1-.3-.1-.5-.1-.7s.3-.4.4-.5l6.8-3.5-1.8-3.5c-.3-.5-.1-.9.3-1.1.4-.2.8 0 1 .4l2.2 4.4c.3.3.3.4.2.6zM39.7 234.3c-.1.8-.4 1.6-1 2.2-.6.7-1.3 1.2-2.3 1.6-1 .4-1.9.5-2.7.6-.9-.1-1.6-.3-2.3-.8-.6-.5-1.2-1.2-1.5-2.1-.3-1-.5-1.7-.4-2.6.1-.9.4-1.6 1-2.2.6-.6 1.3-1.2 2.3-1.6 1-.4 1.9-.5 2.8-.5.9.1 1.6.3 2.3.8.6.5 1.2 1.2 1.5 2 .3.9.6 1.8.3 2.6zm-3.3-3.6c-.8-.2-1.7-.1-2.8.3-1.1.5-1.8 1-2.3 1.8-.4.7-.4 1.5 0 2.4s1 1.4 1.7 1.6 1.7.1 2.8-.3c1.1-.5 1.8-1 2.3-1.8.4-.7.4-1.5 0-2.4-.4-.9-1-1.4-1.7-1.6zM30.6 220.7c.3-.5.8-.7 1.3-1 .8-.3 1.5-.2 2.2.2.7.4 1.2 1.2 1.5 2.1l1.2 3.4c.1.3 0 .5 0 .7-.1.2-.3.4-.5.4l-7.8 2.7c-.3.1-.5 0-.7 0-.2-.1-.4-.3-.4-.5l-1.1-3.3c-.3-1-.4-1.8-.2-2.5.3-.7.7-1.2 1.6-1.5.5-.1 1-.2 1.4 0 .4.2.9.5 1.2.8-.1-.4 0-1 .3-1.5zm.4 6l-.8-2.2c-.4-1.2-1.1-1.6-1.9-1.4-.4.2-.8.4-.8.9-.2.4-.1.8.1 1.5l.8 2.2 2.6-1zm2.6-5.1c-.3-.2-.8-.2-1.2 0-.4.2-.8.4-.9.8s-.1.9.1 1.5l.8 2.4 2.8-1-.8-2.4c-.3-.7-.5-1.2-.8-1.3z"></path>
        <path class="st2"
              d="M34 219.5c-.2 0-.4.1-.6 0-.2-.1-.3-.2-.4-.5l-.2-.4c-.1-.4-.3-.6-.6-.7-.3-.1-.6-.1-1.1 0l-6.1 1.9c-.3.1-.5 0-.7 0-.2-.1-.4-.3-.5-.6-.1-.3 0-.5 0-.7s.3-.4.6-.5l6.1-1.9c1.7-.5 2.9 0 3.6 1.7l.2.4c.4.6.2 1-.3 1.3zM32.7 213.8c-.1.2-.3.4-.5.4l-8.1 2.2c-.3.1-.5 0-.7 0-.2-.1-.4-.3-.4-.5l-1.3-4.9c-.1-.3 0-.5 0-.7.1-.2.2-.3.5-.4.2 0 .4-.1.5.1.2.1.2.3.3.6l1.1 4.1 2.6-.7-1-3.8c-.1-.3 0-.5 0-.7s.2-.3.5-.4c.2 0 .4-.1.5.1s.2.3.3.6l1 3.8 2.8-.8-1.1-4.1c-.1-.3 0-.5 0-.7.1-.2.2-.3.5-.4.2 0 .4-.1.5.1s.2.3.3.6l1.3 4.9c.6.2.6.4.4.6zM30.3 204.1c-.1.2-.4.3-.6.3l-7.5 1.7.5 2.6c.1.5 0 .9-.5 1s-.8-.1-.9-.7l-1.5-6.9c-.1-.5 0-.9.5-1 .5-.1.8.1.9.7l.5 2.6 7.5-1.7h.7c.2.1.3.4.3.6.3.4.2.6.1.8zM28.7 197.7c-.3.8-.8 1.4-1.5 2-.7.5-1.5.9-2.6 1.1s-2 .2-2.8-.1c-.9-.2-1.5-.7-2.1-1.3-.5-.7-.8-1.4-1-2.4s-.1-1.8.2-2.6.8-1.4 1.5-1.9 1.5-.9 2.6-1.1c1-.2 2-.2 2.8.1.9.2 1.5.7 2.1 1.3.5.7.8 1.4 1 2.4.1.8.1 1.6-.2 2.5zm-2.6-4.4c-.7-.4-1.7-.6-2.8-.3s-2 .6-2.5 1.2-.7 1.4-.6 2.3c.1.9.6 1.5 1.3 2 .7.4 1.7.6 2.8.3 1.2-.2 2-.6 2.6-1.2.6-.6.7-1.4.6-2.3-.2-.9-.6-1.6-1.4-2z"></path>
        <g>
            <path class="st6"
                  d="M87.9 218.6c.7 1.6 1.1 3.4 1.2 5.2.1 3.6-1.2 7-3.7 9.6s-5.8 4.1-9.4 4.2c-5.4.1-10.4-3-12.6-7.9-.7-1.6-1.1-3.4-1.2-5.2-.2-7.4 5.7-13.6 13.1-13.8 5.4-.2 10.3 2.9 12.6 7.9zm-22.5 10.1c1.9 4.1 6 6.7 10.5 6.6 3-.1 5.8-1.3 7.8-3.5 2.1-2.2 3.2-5 3.1-8 0-1.5-.4-3-1-4.3-1.9-4.1-6-6.7-10.5-6.6-6.2.2-11.1 5.3-10.9 11.5 0 1.5.4 2.9 1 4.3z"></path>
            <path class="st6"
                  d="M84 231.8s19.1 20.7 24.2 14.8c5-5.8-22.3-17.5-22.3-17.5M85.3 225.1c.1.2.1.4 0 .6-1.5 3.7-3.7 6.1-6.5 7.1-4.6 1.6-9.2-.9-9.4-1-.4-.2-.5-.7-.3-1.1s.7-.5 1.1-.3c0 0 4.2 2.3 8.1.9 2.4-.9 4.3-2.9 5.5-6.2.2-.4.6-.6 1.1-.5.2.1.3.3.4.5z"></path>
        </g>
    </g>
    <g (click)="onChooseRiddle()" >
        <path class="clickable-section"d="M351.9 189.1l-138.8-1.2-5.8 25.6L277 319.1c-.1-.1 64.5-38.4 74.9-130z" fill="#faa61a"></path>
        <path class="st2"
              d="M323.9 223.9c-.2-.1-.4-.2-.5-.5-.1-.3-.1-.5 0-.8.1-.2.2-.3.3-.4s.3-.2.5-.2l2.5-.3 1.8-5.7-1.9-1.7c-.2-.1-.3-.3-.3-.5v-.5c.1-.2.2-.4.5-.6s.5-.2.7-.1c.1 0 .3.1.4.2l8.2 7.6c.2.2.3.4.3.6v.7c-.1.2-.2.4-.4.6s-.4.3-.6.3l-11 1.4c-.2-.1-.3-.1-.5-.1zm6-6.7l-1.4 4.3 5.5-.6-4.1-3.7zM322.7 226.2c.8-.6 1.7-1 2.7-1.1s2.1.1 3.3.5c1.2.4 2.1 1.1 2.8 1.8.7.8 1.1 1.6 1.3 2.6.2 1 0 2-.4 3.1-.3.7-.6 1.3-1.1 1.8s-1 1-1.5 1.3c-.2.1-.3.1-.4.2-.1.1-.3 0-.5-.1s-.4-.2-.5-.4c-.1-.2-.1-.4-.1-.6.1-.2.2-.4.5-.6.5-.3.9-.7 1.2-1s.5-.7.7-1.2c.4-1.1.4-2.1-.1-2.9s-1.4-1.5-2.7-2-2.5-.6-3.4-.3c-.9.3-1.6 1-2 2.1-.2.5-.3.9-.3 1.3s.1 1 .2 1.6v.4c0 .1 0 .2-.1.4s-.2.3-.4.4-.4.1-.7 0c-.2-.1-.3-.1-.4-.2-.1-.1-.2-.2-.2-.4-.2-.6-.3-1.3-.3-2s.2-1.4.5-2.1c.5-1.1 1.1-1.9 1.9-2.6zM319.2 234c.2-.1.5-.1.8.1l9 4.1c.3.1.5.3.6.6.1.2.1.5-.1.8l-2.5 5.6c-.1.3-.3.5-.5.6s-.4.1-.7 0c-.3-.1-.4-.3-.5-.5-.1-.2 0-.5.1-.8l2.1-4.6-3-1.4-1.9 4.3c-.1.3-.3.5-.5.6s-.4.1-.7 0c-.2-.1-.4-.3-.5-.5-.1-.2 0-.5.1-.8l1.9-4.3-3.2-1.4-2.1 4.6c-.1.3-.3.5-.5.6s-.5.1-.7 0-.4-.3-.5-.5c-.1-.2 0-.5.1-.8l2.5-5.6c.3-.4.5-.6.7-.7zM311.6 250.9c-.2-.1-.4-.3-.4-.6-.1-.3 0-.5.1-.8.1-.2.2-.3.4-.4.2-.1.3-.2.5-.2l4.1-.4c.4 0 .8-.1 1-.3s.5-.4.7-.8l.8-1.5-3.4-1.7c-.3-.2-.5-.4-.6-.6-.1-.2-.1-.5.1-.8s.4-.5.6-.6c.3-.1.6 0 .9.1l8.8 4.6c.3.2.5.4.6.6.1.2 0 .5-.1.8l-1.9 3.8c-.6 1.2-1.4 2-2.2 2.3-.9.4-1.8.3-2.8-.3-.8-.4-1.4-1-1.7-1.8-.3-.8-.3-1.6 0-2.5-.2.3-.5.4-.8.6-.3.1-.7.2-1.1.3l-2.8.3c-.4.1-.6 0-.8-.1zm6.9.2c.1.5.4.9 1 1.2.6.3 1.1.3 1.5.1.4-.2.9-.7 1.2-1.4l1.3-2.5-3.4-1.7-1.3 2.5c-.3.7-.4 1.3-.3 1.8zM309.2 253.9c.3-.1.5 0 .8.1l7.9 4.6 1.6-2.7c.3-.6.8-.7 1.3-.4.5.3.6.7.3 1.3l-4.2 7.2c-.3.6-.8.7-1.3.4s-.6-.7-.3-1.3l1.6-2.7-7.9-4.6c-.3-.2-.5-.4-.5-.7-.1-.3 0-.5.1-.8.1-.1.3-.3.6-.4zM305.7 259.6c.3-.1.6 0 .8.2l8.4 5.4c.3.2.4.4.5.7.1.3 0 .5-.2.8s-.4.5-.7.5c-.3.1-.5 0-.8-.2l-8.4-5.4c-.3-.2-.4-.4-.5-.7-.1-.3 0-.6.2-.8.2-.2.4-.4.7-.5zM305.1 261.7c.2.2.4.3.4.5s0 .4-.2.7l-.3.5c-.2.4-.3.8-.2 1.1.1.3.4.7.8 1l6.3 4.2c.3.2.4.4.5.7.1.3 0 .5-.2.8s-.4.4-.7.5c-.3.1-.5 0-.8-.2l-6.3-4.2c-1.8-1.2-2.1-2.7-1.1-4.6l.3-.5c.5-.7 1-.9 1.5-.5zM299.9 269c.9-.4 1.9-.5 2.9-.3s2 .6 3 1.4c1 .7 1.7 1.6 2.2 2.5s.6 1.9.5 2.9c-.1 1-.5 2-1.2 2.9s-1.5 1.6-2.4 2c-.9.4-1.9.5-2.9.3s-2-.6-3-1.4c-1-.7-1.7-1.6-2.2-2.5s-.6-1.9-.5-2.9c.1-1 .5-1.9 1.2-2.9s1.5-1.6 2.4-2zm-1.6 5.8c.2.9.9 1.8 2.1 2.7s2.2 1.2 3.2 1.2 1.8-.5 2.4-1.4c.7-.9.9-1.8.6-2.8-.2-.9-.9-1.8-2.1-2.7-1.1-.8-2.2-1.3-3.2-1.2-1 0-1.8.5-2.5 1.4-.6.9-.8 1.8-.5 2.8zM292.5 277.9c.7-.4 1.3-.7 1.9-.8.3-.1.6 0 .9.2.2.2.3.3.3.6 0 .2 0 .4-.1.6-.1.2-.3.3-.6.4-.6.1-1.1.4-1.6.7s-.9.7-1.3 1.2c-.5.6-.8 1.2-.9 1.7-.1.5.1 1 .5 1.3.3.3.7.3 1.2.2.4-.2 1.1-.5 1.8-1.1.8-.6 1.5-1.1 2.1-1.4.6-.3 1.2-.4 1.7-.4s1.1.3 1.6.7c.5.5.9 1 1.1 1.7s.1 1.4-.1 2.1-.6 1.5-1.2 2.1c-1 1.2-2.2 2-3.5 2.2h-.5c-.1 0-.3-.1-.4-.2-.2-.2-.3-.3-.3-.6 0-.2 0-.4.1-.6l.2-.2c.1-.1.2-.1.4-.2.6-.1 1-.3 1.5-.5s.8-.6 1.2-1.1c.5-.6.8-1.2.8-1.7.1-.5-.1-1-.6-1.4-.4-.3-.8-.4-1.2-.2s-1.1.5-1.8 1.1c-.8.6-1.5 1.1-2.2 1.4-.6.3-1.2.4-1.7.4s-1.1-.2-1.6-.7-.9-1-1-1.7c-.2-.6-.1-1.3.1-2.1.2-.7.6-1.5 1.2-2.2.7-.5 1.3-1 2-1.5z"></path>
        <g>
            <path class="st8"
                  d="M280.3 238.4c1.3.7 2.3 1.9 3.1 3.5.8 1.6 1.2 3.4 1.1 5.5-.1 2.1-.7 4.1-2 6.2-1.1 1.9-2.5 3.4-4.1 4.5-1.6 1.1-3.2 1.6-4.9 1.7s-3.3-.3-4.7-1.2c-1.1-.7-2-1.5-2.6-2.5-.6-1-1-1.9-1.2-2.9s-.6-2.8-1.1-5.3c-.1-.7-.3-1.3-.4-1.7-.2-.5-.3-.8-.5-1.1-.2-.3-.4-.5-.6-.8-.2-.2-.6-.6-1.2-1.1-1.2-1.1-1.5-2.3-.7-3.6.4-.7 1-1.1 1.7-1.3.7-.2 1.5 0 2.4.5 1.1.7 2 1.4 2.6 2.2.6.8 1.1 1.7 1.3 2.7.3.9.6 2.1.8 3.6.2 1.3.4 2.2.6 2.8.2.6.4 1.2.7 1.7.3.5.7 1 1.3 1.3 1.1.6 2.2.8 3.4.4 1.2-.4 2.2-1.2 2.9-2.4.9-1.5 1.1-2.8.8-3.9s-1.1-2.4-2.2-3.7c-1.2-1.3-1.5-2.6-.7-3.9.4-.7 1.1-1.2 1.9-1.4 1-.2 1.7-.1 2.3.2zm-27.6-3.2c.5-.8 1.2-1.4 2-1.7.9-.3 1.8-.2 2.7.4.8.5 1.4 1.2 1.6 2.1s.1 1.8-.4 2.7c-.5.8-1.2 1.4-2.1 1.6-.9.2-1.8.1-2.6-.4-.9-.6-1.5-1.3-1.7-2.2-.2-.9 0-1.7.5-2.5zM259.6 227.2c-1.2-.9-2.1-2.1-2.7-3.8-.6-1.7-.8-3.5-.5-5.5s1.1-4 2.6-6c1.3-1.8 2.8-3.1 4.5-4s3.4-1.3 5.1-1.2c1.7.1 3.2.6 4.6 1.6 1.1.8 1.8 1.7 2.3 2.7s.8 2 .9 3.1c.1 1 .3 2.8.6 5.3.1.7.2 1.3.3 1.8.1.5.2.9.4 1.2.1.3.3.6.5.8.2.3.5.7 1 1.3 1.1 1.2 1.2 2.4.3 3.7-.5.6-1.1 1-1.8 1.2-.7.1-1.5-.1-2.4-.7-1-.8-1.8-1.6-2.4-2.5-.5-.9-.9-1.8-1.1-2.8s-.3-2.2-.5-3.7c-.1-1.3-.2-2.3-.3-2.9s-.3-1.2-.5-1.8c-.3-.6-.6-1-1.1-1.4-1-.7-2.1-1-3.3-.8-1.2.2-2.3.9-3.1 2.1-1 1.4-1.4 2.6-1.2 3.8.2 1.2.8 2.5 1.8 3.9 1.1 1.5 1.2 2.8.3 4-.5.7-1.2 1.1-2 1.2-1 0-1.8-.2-2.3-.6zm27.1 6.1c-.6.8-1.3 1.2-2.2 1.4-.9.2-1.8 0-2.7-.7-.8-.6-1.2-1.3-1.4-2.3-.1-.9.1-1.8.7-2.6s1.3-1.2 2.3-1.4c.9-.1 1.8.1 2.6.7.9.6 1.3 1.4 1.4 2.4.1.9-.1 1.7-.7 2.5z"></path>
        </g>
    </g>
    <g (click)="onChooseSpelling()" >
        <path class="clickable-section" d="M266.8 324.7l-68.2-114.3-32.9-2.8L109.3 331c0 .1 61 41.9 157.5-6.3z" fill="#00aeef"></path>
        <path class="st2"
              d="M225.2 319.8c.2.1.4.3.5.7l2.6 9.6c.1.3.1.6-.1.8s-.4.4-.7.5l-3.3.9c-1.9.5-3.5.4-4.8-.3-1.3-.7-2.2-2-2.7-3.8s-.3-3.4.4-4.7c.8-1.3 2.1-2.2 4-2.7l3.3-.9c.3-.3.6-.3.8-.1zm-3.4 2.5c-2.7.7-3.6 2.4-2.9 5.1s2.4 3.7 5.1 3l2-.5-2.2-8.1-2 .5zM213.8 322.7c.2.1.4.4.4.7l2 9.7c.1.3 0 .6-.1.8s-.4.4-.7.4l-6 1.3c-.3.1-.6 0-.8-.1-.2-.1-.3-.3-.4-.6-.1-.3 0-.5.1-.7s.4-.3.7-.4l4.9-1-.7-3.2-4.6 1c-.3.1-.6 0-.8-.1-.2-.1-.3-.3-.4-.6-.1-.3 0-.5.1-.7s.4-.3.7-.4l4.6-1-.7-3.4-4.9 1c-.3.1-.6 0-.8-.1s-.3-.3-.4-.6c-.1-.3 0-.5.1-.7s.4-.3.7-.4l6-1.3c.5.3.8.3 1 .4zM204.9 324.5c.2.1.3.4.4.7l1.6 9.8c.1.3 0 .6-.2.8-.2.2-.4.4-.7.4-.3.1-.6 0-.8-.2-.2-.2-.4-.4-.4-.7l-1.5-9.1-4.7.8c-.7.1-1.1-.1-1.2-.7s.2-.9.9-1.1l5.9-.9c.3 0 .5.1.7.2zM196.6 325.8c.2.2.3.4.4.7l1.1 9.9c0 .3 0 .6-.2.8-.2.2-.4.3-.7.4l-6.1.7c-.3 0-.6 0-.8-.1-.2-.1-.3-.3-.3-.6s0-.5.2-.7.4-.3.7-.3l5-.6-.4-3.3-4.7.5c-.3 0-.6 0-.8-.1-.2-.1-.3-.3-.3-.6s0-.5.2-.7.4-.3.7-.3l4.7-.5-.4-3.5-5 .6c-.3 0-.6 0-.8-.1-.2-.1-.3-.3-.3-.6s0-.5.2-.7.4-.3.7-.3l6.1-.7c.3-.1.6 0 .8.1zM184.7 326.9c.2.2.3.4.3.8l.5 9.2 3.1-.2c.7 0 1 .2 1.1.8 0 .6-.3.9-1 1l-8.4.5c-.7 0-1-.2-1.1-.8s.3-.9 1-1l3.1-.2-.5-9.2c0-.3.1-.6.3-.8s.4-.3.8-.3c.4-.1.6 0 .8.2zM168.6 327.7c0-.3.1-.5.3-.6.2-.2.5-.3.7-.3s.4 0 .5.1.3.2.4.4l2.2 3.4c.2.4.5.6.7.8.3.1.6.2 1 .2h1.7v-3.8c0-.3.1-.6.3-.8.2-.2.5-.3.8-.3s.6.1.8.3c.2.2.3.5.3.8l-.1 9.9c0 .3-.1.6-.3.8-.2.2-.4.3-.8.3h-4.3c-1.4 0-2.4-.3-3.1-.9s-1.1-1.5-1-2.6c0-.9.3-1.7.8-2.3.5-.6 1.3-1 2.2-1.1-.3-.1-.6-.2-.9-.4-.2-.2-.5-.5-.7-.9l-1.5-2.4c.1-.2 0-.4 0-.6zm3 6.2c-.4.3-.6.8-.6 1.4 0 .7.2 1.1.6 1.4s1 .5 1.8.5h2.9v-3.8h-2.9c-.8 0-1.4.2-1.8.5zM167.4 327.1c.2.2.2.5.2.8l-.7 9.9c0 .3-.1.6-.3.7s-.5.2-.8.2l-6.1-.4c-.3 0-.6-.1-.7-.3-.2-.2-.2-.4-.2-.6 0-.3.1-.5.3-.6.2-.1.5-.2.8-.2l5 .4.2-3.3-4.7-.3c-.3 0-.6-.1-.7-.3-.2-.2-.2-.4-.2-.7 0-.3.1-.5.3-.6.2-.1.5-.2.8-.2l4.7.3.2-3.5-5-.4c-.3 0-.6-.1-.7-.3-.2-.2-.2-.4-.2-.7 0-.3.1-.5.3-.6.2-.1.5-.2.8-.2l6.1.4c.2.2.4.3.6.5zM156.4 326.5c.8.6 1.3 1.4 1.7 2.4.3 1 .4 2.1.2 3.3s-.6 2.3-1.1 3.1c-.6.8-1.3 1.5-2.3 1.8-.9.4-2 .5-3.1.3-1.2-.2-2.1-.6-2.9-1.2s-1.3-1.4-1.7-2.4c-.3-1-.4-2.1-.2-3.3.2-1.2.6-2.3 1.1-3.1s1.3-1.5 2.3-1.8c.9-.4 1.9-.5 3.1-.3 1.1.2 2.1.6 2.9 1.2zm-5.9 1.3c-.7.7-1.2 1.7-1.4 3.1-.2 1.4 0 2.5.5 3.4.5.8 1.3 1.3 2.4 1.5s2-.1 2.7-.8c.7-.7 1.2-1.7 1.4-3.1.2-1.4 0-2.5-.5-3.4-.5-.8-1.3-1.3-2.4-1.5-1-.1-2 .1-2.7.8z"></path>
        <g>
            <path class="st10"
                  d="M190.5 285.3l1.1 2.8 8.5-.3.9-3c.3-1.2.6-2 .9-2.4s.7-.6 1.3-.7c.5 0 1 .2 1.4.6s.6.9.7 1.4c0 .3 0 .6-.1 1-.1.3-.2.8-.4 1.4l-4.8 15.1c-.1.4-.3 1-.5 1.6s-.4 1.1-.6 1.5-.5.7-.9 1-.9.4-1.4.4c-.6 0-1.1-.1-1.5-.3-.4-.2-.7-.5-1-.9s-.5-.8-.7-1.2c-.2-.4-.4-1-.7-1.8l-6-14.6c-.5-1.1-.7-1.9-.7-2.4s.2-1 .5-1.5c.4-.5.9-.7 1.4-.7.3 0 .6 0 .9.2.2.1.5.3.6.5.2.2.4.6.6 1 .2.5.4.9.5 1.3zm8.6 6l-6.3.2 3.5 9.4 2.8-9.6zM162.4 273.5v.5c.4-.6.8-1.1 1.2-1.5.4-.4.9-.7 1.4-.9.5-.2 1.1-.3 1.8-.4.8 0 1.6.1 2.2.5.7.3 1.2.8 1.6 1.5.5.8.7 1.9.8 3.4l.3 7.4c0 .7-.1 1.3-.4 1.7-.3.4-.7.6-1.2.6s-.9-.1-1.3-.5c-.3-.4-.5-.9-.5-1.7l-.2-6c0-.9-.1-1.6-.3-2.2-.2-.6-.4-1-.8-1.4-.4-.3-.8-.5-1.4-.4-.6 0-1.1.2-1.6.6s-.8.9-1.1 1.5c-.2.5-.2 1.7-.2 3.5l.2 4.6c0 .7-.1 1.3-.4 1.7-.3.4-.7.6-1.2.6s-.9-.1-1.2-.5c-.3-.4-.5-.9-.5-1.7l-.4-10.9c0-.7.1-1.3.4-1.6.3-.4.7-.6 1.1-.6.5 0 .9.2 1.2.5.3.5.5 1.1.5 1.7z"></path>
            <path class="st10"
                  d="M175.2 290.3l6.8-9-7.6.3c-.6 0-1.1-.1-1.4-.4s-.5-.7-.5-1.2.1-.9.4-1.2c.3-.3.8-.5 1.4-.5l10.6-.4c.7 0 1.3.1 1.7.5.4.3.6.8.6 1.4 0 .4-.1.7-.3 1.1-.2.4-.7 1.1-1.5 2.1-.8 1.1-1.6 2.1-2.2 2.9-.7.9-1.3 1.7-1.9 2.5s-1 1.4-1.4 1.9-.7 1-.9 1.4l5.8-.2c.8 0 1.4 0 1.8.2.4.1.6.5.7 1.2 0 .5-.1.9-.4 1.2-.3.3-.7.5-1.3.5l-8.9.3c-.8 0-1.5-.1-1.9-.3-.5-.2-.7-.7-.7-1.4 0-.2 0-.5.1-.7.1-.3.2-.5.3-.6.1-.2.2-.4.4-.6-.2-.4 0-.7.3-1z"></path>
            <path class="st10"
                  d="M167.9 298.3l7.6-.3c0-1-.3-1.8-.6-2.6-.4-.7-.9-1.3-1.5-1.6-.6-.4-1.2-.5-1.9-.5-.5 0-.9.1-1.3.2s-.7.3-1.1.6c-.4.3-.7.6-1 .9s-.7.7-1.1 1.2c-.2.2-.5.3-.8.3-.4 0-.7-.1-1-.3-.3-.2-.4-.6-.4-1s.1-.8.4-1.4c.3-.5.7-1 1.2-1.5s1.2-.9 2.1-1.3c.8-.3 1.8-.5 2.9-.6 2.5-.1 4.5.6 5.9 2.1s2.2 3.6 2.3 6.3c0 1.3-.1 2.4-.4 3.5s-.8 2-1.4 2.8-1.4 1.4-2.4 1.9c-.9.4-2 .7-3.2.7-1.5.1-2.8-.2-4-.9-1.1-.7-2-1.5-2.6-2.6s-.9-2.2-.9-3.4c0-1.1.2-1.8.8-2.1.6-.2 1.4-.4 2.4-.4zm7.8 2.1l-7.1.3c.2 1.5.6 2.5 1.2 3.2.7.7 1.5 1 2.5 1s1.8-.4 2.3-1.2c.6-.7 1-1.8 1.1-3.3zM195.7 271.4l-.2-4.8c0-.7.1-1.3.4-1.7.3-.4.8-.6 1.3-.6s1 .2 1.3.5c.4.4.5.9.6 1.7l.2 5.7c0 .9.1 1.6.2 2.1s.3.9.5 1.2c.3.3.7.4 1.3.4 1.2 0 1.9-.5 2.3-1.3.3-.8.5-2 .4-3.5l-.2-4.8c0-.7.1-1.3.4-1.7.3-.4.8-.6 1.3-.6s1 .2 1.3.5c.4.4.6.9.6 1.7l.4 10.2c0 .7-.1 1.2-.4 1.5-.3.4-.7.6-1.2.6s-.9-.1-1.2-.4c-.3-.3-.5-.8-.5-1.3v-.3c-.6.8-1.2 1.3-1.9 1.7-.7.4-1.5.6-2.3.6-.9 0-1.7-.1-2.3-.4-.7-.3-1.2-.9-1.7-1.6-.6.8-1.2 1.3-1.9 1.7-.7.4-1.4.6-2.3.6-1 0-1.8-.1-2.5-.5s-1.3-.9-1.6-1.6c-.3-.6-.5-1.6-.6-3l-.3-7c0-.7.1-1.3.4-1.7.3-.4.8-.6 1.3-.6s1 .2 1.3.5c.4.4.6.9.6 1.7l.2 6c0 .8.1 1.4.2 1.8.1.5.3.8.6 1.1.3.3.7.4 1.3.4.5 0 .9-.2 1.3-.5s.7-.7.9-1.2c.5-.6.6-1.6.5-3.1z"></path>
        </g>
    </g>
    <g (click)="onChoosePhrase()" >
        <path class="clickable-section" d="M12.2 172.1l127.2 2.6 20.4-26-73-104.8S26.2 73.5 12.2 172.1z" fill="#00b3aa"></path>
        <path class="st12"
              d="M125.8 124.6l-16.5 12.7-7.9 15.9c-.7 1.4-1.9 2.5-3.4 3s-3.1.4-4.5-.3l-15.1-7.5c-2.9-1.4-4.1-5-2.7-7.9l14.4-29c1.5-2.9 5-4.1 8-2.7l15.1 7.5c2.9 1.4 4.1 5 2.7 7.9l-.8 1.6 10.7-1.2zm-47.2 16.6c-.8 1.7-.1 3.8 1.5 4.6l14.5 7.2c.8.4 1.7.5 2.6.2.9-.3 1.6-.9 2-1.7l7.8-15.7 9.7-7.5-6.3.7 2.6-5.3c.8-1.7.1-3.8-1.5-4.6L97 111.9c-1.7-.8-3.7-.1-4.6 1.5l-13.8 27.8z"></path>
        <path class="st12"
              d="M95.6 149.8c-.2.5-.8.7-1.2.5l-13.5-6.5c-.4-.2-.6-.7-.4-1.2.2-.5.7-.7 1.2-.5l13.5 6.5c.5.2.6.8.4 1.2z"></path>
        <path class="st2"
              d="M38.4 137.6c.2.1.4.3.5.5.1.3.1.5 0 .8-.1.2-.2.3-.3.4s-.3.2-.5.3l-4 1c-.4.1-.7.2-1 .4-.2.2-.4.5-.5.9l-.6 1.6 3.6 1.3c.3.1.5.3.7.5.1.2.1.5 0 .8s-.3.5-.5.6c-.3.1-.5.1-.9 0l-9.4-3.3c-.3-.1-.5-.3-.6-.5s-.1-.5 0-.8l1.4-4c.5-1.3 1.1-2.2 1.9-2.6.8-.5 1.8-.5 2.8-.1.9.3 1.5.8 1.9 1.5s.5 1.5.3 2.5c.2-.3.4-.5.7-.7s.6-.3 1-.4l2.7-.7c.4-.1.6-.1.8 0zm-6.8.7c-.2-.5-.6-.8-1.2-1-.6-.2-1.1-.2-1.5.1s-.8.8-1 1.6l-1 2.7 3.6 1.3 1-2.7c.2-.9.3-1.5.1-2zM39.4 136.5c-.2.1-.5.1-.8 0l-9.2-3.8c-.3-.1-.5-.3-.6-.5s-.1-.5 0-.8l2.3-5.7c.1-.3.3-.5.5-.6s.4-.1.7 0 .4.3.5.5 0 .5-.1.8l-1.9 4.7 3.1 1.3 1.8-4.4c.1-.3.3-.5.5-.6s.4-.1.7 0 .4.3.5.5 0 .5-.1.8l-1.8 4.4 3.2 1.3 1.9-4.7c.1-.3.3-.5.5-.6s.4-.1.7 0 .4.3.5.5 0 .5-.1.8l-2.3 5.7c-.1.1-.2.3-.5.4zM43 128.2c-.3.1-.6.1-.9-.1l-9-4.2c-.3-.1-.5-.3-.6-.6s-.1-.5.1-.8l2.5-5.4c.3-.6.7-.8 1.2-.6s.6.7.3 1.3l-2.1 4.4 3 1.4 1.9-4.1c.3-.6.7-.8 1.2-.6s.6.7.3 1.3l-1.9 4.1 3.8 1.8c.3.1.5.3.6.6s.1.5-.1.8c.1.4-.1.6-.3.7zM50.6 111.7c.2.1.4.3.4.6.1.3 0 .5-.1.8-.1.2-.2.3-.4.4-.2.1-.3.2-.5.2l-4.1.4c-.4 0-.8.1-1 .3s-.5.4-.7.8l-.8 1.5 3.4 1.8c.3.2.5.4.6.6.1.3 0 .5-.1.8-.2.3-.4.5-.6.6s-.6 0-.9-.1l-8.8-4.7c-.3-.2-.5-.4-.5-.6-.1-.3 0-.5.1-.8l2-3.8c.6-1.2 1.4-2 2.3-2.3s1.8-.2 2.8.3c.8.4 1.4 1 1.6 1.8.3.7.3 1.6 0 2.5.2-.3.5-.4.8-.6.3-.1.7-.2 1.1-.2l2.8-.3c.2-.1.4-.1.6 0zm-6.9-.3c-.1-.5-.4-.9-1-1.2s-1.1-.4-1.5-.2-.9.7-1.3 1.4l-1.3 2.5 3.3 1.8 1.3-2.5c.5-.7.6-1.3.5-1.8z"></path>
        <path class="st2"
              d="M56.7 101.5c.2.1.4.3.4.6s0 .5-.1.8c-.1.2-.2.3-.4.4-.2.1-.4.1-.6.1l-2.5-.3-3.1 5.1 1.4 2.1c.1.2.2.4.2.6 0 .2-.1.4-.2.5-.1.2-.3.4-.6.5s-.5.1-.7-.1l-.3-.3-6.1-9.3c-.1-.2-.2-.4-.2-.7 0-.2.1-.5.2-.7.1-.2.3-.4.5-.5s.4-.2.7-.1l11.1 1.3c0-.1.2-.1.3 0zm-7.4 5.1l2.4-3.8-5.5-.7 3.1 4.5zM54 86.6c.3 0 .5 0 .8.2l8.1 5.8c.3.2.4.4.5.7s0 .5-.2.8-.5.4-.8.4l-10.2.3 6 4.3c.3.2.4.4.5.7s0 .5-.2.8-.4.4-.7.4-.5-.1-.8-.2L48.9 95c-.3-.2-.4-.4-.5-.7 0-.3 0-.5.2-.8s.5-.4.8-.4l10.1-.3-6-4.3c-.3-.2-.4-.4-.5-.7s0-.5.2-.8c.3-.2.5-.3.8-.4zM64.6 91.7c-.3 0-.5-.1-.8-.3l-7.7-6.3c-.3-.2-.4-.4-.4-.7s.1-.5.3-.8l3.9-4.7c.2-.3.4-.4.7-.5.2 0 .4 0 .7.2.2.2.3.4.3.6 0 .2-.1.5-.3.7l-3.2 3.9 2.5 2.1 3-3.6c.2-.3.4-.4.7-.5.2 0 .5 0 .7.2s.3.4.3.6c0 .2-.1.5-.3.7l-3 3.6 2.7 2.2 3.2-3.9c.2-.3.4-.4.7-.4.2 0 .5 0 .7.2s.3.4.3.6c0 .2-.1.5-.3.7L65.4 91c-.3.5-.5.6-.8.7z"></path>
        <path class="st2"
              d="M71.3 83.9c-.7.4-1.4.7-2 .7-.3.1-.6 0-.9-.3-.2-.2-.3-.4-.3-.6s0-.4.1-.5.4-.3.6-.3c.6-.1 1.1-.3 1.6-.6s.9-.7 1.4-1.1c.6-.6.9-1.2 1-1.7s-.1-1-.5-1.3c-.3-.3-.7-.4-1.2-.2-.5.1-1.1.5-1.9 1.1-.8.6-1.6 1-2.2 1.3-.6.3-1.2.4-1.8.3-.5-.1-1.1-.3-1.6-.8s-.8-1.1-1-1.7c-.1-.7-.1-1.4.2-2.1.3-.7.7-1.4 1.3-2.1 1.1-1.2 2.3-1.9 3.6-2h.5c.1 0 .3.1.4.2.2.2.3.4.3.6 0 .2 0 .4-.1.5s-.2.1-.3.2c-.1 0-.2.1-.4.2-.6.1-1.1.3-1.5.5s-.8.5-1.3 1c-.5.6-.8 1.1-.9 1.7-.1.5.1 1 .5 1.4.3.3.7.4 1.2.3s1.1-.5 1.9-1c.9-.6 1.6-1 2.2-1.3.6-.3 1.2-.4 1.8-.3.5 0 1.1.3 1.5.7.5.5.8 1 1 1.7.1.7.1 1.3-.2 2.1s-.7 1.4-1.3 2.1c-.4.4-1 .9-1.7 1.3z"></path>
    </g>
    <g id="pierde_turno">
        <path d="M95.1 37.8L166 144.1l32.8 3.6 58-117.9S183.1-9 95.1 37.8z"></path>
        <path class="st2"
              d="M120 50c-.3-.1-.4-.3-.6-.7L116 40c-.1-.3-.1-.6 0-.8.1-.2.3-.4.6-.5l3.9-1.4c1.2-.4 2.2-.5 3.1-.1s1.5 1.1 1.9 2.2.4 2.1-.1 2.9-1.3 1.5-2.5 1.9l-2.9 1 1.3 3.4c.1.3.1.6 0 .9s-.3.4-.7.6c-.1 0-.4 0-.6-.1zm2.3-7.4c1.4-.5 1.9-1.4 1.4-2.6s-1.4-1.6-2.8-1.1l-2.6 1 1.4 3.7 2.6-1zM129.7 46.5c-.3-.1-.4-.4-.5-.7l-3.1-9.5c-.1-.3-.1-.6 0-.8.1-.2.3-.4.7-.5.3-.1.6-.1.9 0s.4.3.5.7l3.1 9.5c.1.3.1.6 0 .9s-.4.4-.7.5c-.4.1-.7.1-.9-.1zM133.3 45.3c-.2-.1-.4-.3-.5-.7l-2.7-9.5c-.1-.3-.1-.6.1-.8.1-.2.4-.4.7-.5l5.9-1.7c.3-.1.6-.1.8 0 .2.1.4.3.4.5.1.3.1.5-.1.7-.1.2-.4.3-.7.4l-4.9 1.4.9 3.2 4.5-1.3c.3-.1.6-.1.8 0 .2.1.4.3.4.5.1.3 0 .5-.1.7s-.4.3-.7.4l-4.5 1.3 1 3.4 4.9-1.4c.3-.1.6-.1.8 0 .2.1.4.3.4.6.1.3 0 .5-.1.7s-.4.3-.7.4l-5.9 1.7c-.2.1-.5.1-.7 0zM151.1 40.2c.1.3 0 .5-.2.7s-.4.4-.7.4h-.5c-.2 0-.3-.1-.5-.3l-3-2.8c-.3-.3-.6-.5-.9-.6s-.6-.1-1 0l-1.6.4.9 3.7c.1.3 0 .6-.1.9-.1.2-.4.4-.7.5s-.6 0-.8-.1c-.2-.1-.4-.4-.5-.7l-2.2-9.7c-.1-.3 0-.6.1-.8.1-.2.4-.4.7-.4l4.1-1c1.3-.3 2.4-.2 3.2.2.8.4 1.4 1.2 1.6 2.3.2.9.1 1.7-.3 2.4s-1 1.2-1.9 1.6c.3 0 .7.1.9.2.3.1.6.4.9.7l2 2c.4 0 .5.2.5.4zm-4.3-5.4c.3-.4.4-.9.2-1.5-.1-.6-.4-1.1-.9-1.3-.4-.2-1.1-.2-1.9 0l-2.7.6.9 3.7 2.8-.6c.8-.2 1.3-.5 1.6-.9zM152.5 40.4c-.2-.1-.3-.4-.4-.7l-1.7-9.8c-.1-.3 0-.6.1-.8.2-.2.4-.3.7-.4l3.3-.6c1.9-.3 3.5-.1 4.8.8 1.2.9 2 2.2 2.3 4.1s0 3.4-.9 4.6-2.3 2-4.2 2.3l-3.3.6c-.2.1-.5.1-.7-.1zm3.7-2.1c2.7-.5 3.8-2.1 3.4-4.8-.5-2.8-2.1-3.9-4.8-3.5l-2.1.3 1.4 8.3 2.1-.3zM164.2 38.5c-.2-.2-.3-.4-.4-.7l-1.1-9.9c0-.3 0-.6.2-.8.2-.2.4-.3.7-.4l6.1-.7c.3 0 .6 0 .8.1.2.1.3.3.3.6s0 .5-.2.7-.4.3-.7.3l-5 .6.4 3.3 4.7-.5c.3 0 .6 0 .8.1.2.1.3.3.3.6s0 .5-.2.7-.4.3-.7.3l-4.7.5.4 3.5 5-.6c.3 0 .6 0 .8.1.2.1.3.3.3.6s0 .5-.2.7-.4.3-.7.3l-6.1.7c-.3.2-.6.1-.8-.1zM183.4 37.1c-.2-.2-.3-.5-.3-.8l-.2-9.2-3.1.1c-.7 0-1-.3-1-.9s.3-.9 1-.9l8.4-.2c.7 0 1 .3 1 .9s-.3.9-1 .9l-3.1.1.2 9.2c0 .3-.1.6-.3.8-.2.2-.5.3-.8.3-.3 0-.6-.1-.8-.3zM191 36.2c-.8-.9-1.2-2.1-1.1-3.8l.2-6.1c0-.3.1-.6.3-.8s.5-.3.8-.3.6.1.8.3c.2.2.3.5.3.8l-.2 6.3c0 1 .2 1.8.6 2.4s1.2.8 2.1.9c.9 0 1.6-.2 2.2-.7.5-.5.8-1.3.8-2.3l.2-6.3c0-.3.1-.6.3-.8.2-.2.5-.3.8-.3s.6.1.8.3.3.5.3.8l-.2 6.1c-.1 1.6-.5 2.8-1.4 3.7-.9.8-2.1 1.2-3.8 1.1-1.8 0-3-.5-3.8-1.3zM211 37.9c0 .3-.2.5-.4.6-.2.1-.5.2-.8.2-.2 0-.3-.1-.5-.2s-.3-.2-.4-.4l-1.9-3.6c-.2-.4-.4-.7-.6-.8-.2-.2-.6-.3-1-.3l-1.7-.2-.4 3.8c0 .3-.2.6-.4.8-.2.2-.5.3-.8.2-.3 0-.6-.2-.8-.4-.2-.2-.3-.5-.2-.8l1-9.9c0-.3.2-.6.4-.7.2-.2.5-.2.8-.2l4.2.4c1.4.1 2.4.5 3 1.2s.9 1.6.8 2.7c-.1.9-.4 1.7-1 2.2s-1.4.8-2.3.9c.3.1.6.3.8.5.2.2.4.5.6.9l1.3 2.5c.2.2.3.4.3.6zm-2.4-6.4c.4-.3.7-.7.7-1.4.1-.7-.1-1.1-.4-1.5s-.9-.5-1.8-.6l-2.8-.3-.4 3.8 2.8.3c.9 0 1.5-.1 1.9-.3zM223.4 28.7c.2.2.2.5.2.8l-1.6 9.9c-.1.3-.2.6-.4.7s-.5.2-.8.2c-.4-.1-.6-.2-.8-.5l-4.8-9-1.2 7.3c-.1.3-.2.6-.4.7s-.5.2-.8.2-.5-.2-.7-.4c-.1-.2-.2-.5-.1-.8l1.6-9.9c.1-.3.2-.6.4-.7.2-.2.5-.2.8-.2.3.1.6.2.7.5l4.8 8.9 1.2-7.3c.1-.3.2-.6.4-.7.2-.2.5-.2.8-.2.4.2.6.3.7.5zM225.8 40.6c-.7-.7-1.2-1.5-1.5-2.5-.2-1-.2-2.1 0-3.3.3-1.2.7-2.2 1.4-3 .7-.8 1.5-1.3 2.4-1.6 1-.3 2-.3 3.1 0s2.1.7 2.8 1.4 1.2 1.5 1.4 2.5c.2 1 .2 2.1-.1 3.3-.3 1.2-.7 2.2-1.4 3-.7.8-1.5 1.4-2.4 1.6-.9.3-2 .3-3.1.1-1-.3-1.9-.8-2.6-1.5zm5.9-.8c.8-.6 1.3-1.6 1.6-3s.3-2.5-.2-3.4c-.4-.9-1.2-1.4-2.3-1.7-1.1-.2-2-.1-2.8.5s-1.3 1.6-1.6 3c-.3 1.4-.3 2.5.2 3.4.4.9 1.2 1.4 2.3 1.7 1.1.3 2 .1 2.8-.5z"></path>
        <path class="st13"
              d="M184 93.5c-9.8.2-17.9-7.5-18.2-17.3-.2-9.8 7.5-17.9 17.3-18.2 9.8-.2 17.9 7.5 18.2 17.3s-7.5 17.9-17.3 18.2zm-.8-33c-8.4.2-15.1 7.2-14.9 15.6s7.2 15.1 15.6 14.9c8.4-.2 15.1-7.2 14.9-15.6s-7.2-15.1-15.6-14.9z"></path>
        <g>
            <ellipse class="st13" cx="177.1" cy="71.1" rx="1.6" ry="1.6"></ellipse>
            <ellipse class="st13" cx="189.8" cy="70.8" rx="1.6" ry="1.6"></ellipse>
        </g>
        <path class="st13"
              d="M176.2 84.2c-.2 0-.4-.1-.6-.2-.4-.3-.4-.9-.1-1.3 2-2.5 5-3.9 8.2-4s6.2 1.2 8.4 3.5c.3.4.3.9-.1 1.3-.4.3-.9.3-1.3-.1-1.8-1.9-4.3-3-7-3-2.7.1-5.2 1.3-6.9 3.3-.1.4-.4.5-.6.5z"></path>
    </g>
    <g id="elige_desafio">
        <path class="st2" d="M268.6 33.4l-63.5 113.7 13.2 30.3 134.1.6s3.5-96.3-83.8-144.6z"></path>
        <g opacity=".7">
            <path class="st15"
                  d="M275.6 61.4c0-.3.1-.5.3-.8l6.7-7.3c.2-.2.5-.4.7-.4.3 0 .5.1.8.3l4.5 4.1c.2.2.4.4.4.7 0 .2 0 .4-.2.6s-.4.3-.6.3-.5-.1-.7-.3l-3.7-3.4-2.2 2.4 3.5 3.2c.2.2.4.4.4.7 0 .2 0 .5-.2.7s-.4.3-.6.3-.5-.1-.7-.4l-3.5-3.2-2.4 2.6 3.7 3.4c.2.2.4.4.4.7 0 .2 0 .5-.2.7s-.4.3-.6.3-.5-.1-.7-.4l-4.5-4.1c-.5-.2-.6-.4-.6-.7zM282.2 67.5c0-.3.1-.5.3-.7l7.1-7c.2-.2.5-.3.8-.3s.5.1.8.4c.2.2.4.5.4.8s-.1.5-.4.8l-6.5 6.5 3.4 3.4c.5.5.5.9.1 1.4-.4.4-.9.4-1.4-.1l-4.2-4.2c-.3-.5-.4-.7-.4-1zM288.1 73.7c0-.3.1-.5.4-.8l7.4-6.7c.2-.2.5-.3.8-.3s.5.1.8.4c.2.3.3.5.3.8s-.1.5-.4.8l-7.4 6.7c-.2.2-.5.3-.8.3s-.5-.1-.8-.4c-.2-.3-.3-.5-.3-.8zM301.4 79.9c0 .2-.1.4-.3.6l-2.8 2.3c-.4.3-.7.5-1 .6-.3 0-.6-.1-.9-.3-.4-.2-.8-.6-1.3-1s-.9-.8-1.2-1.2c-.8-.9-1.3-1.9-1.5-2.9s-.1-2 .3-3 1.1-1.9 2.1-2.7 2-1.3 3-1.5 2-.2 2.9.2c.9.4 1.8 1 2.6 1.9 1 1.2 1.5 2.5 1.5 3.8 0 .2 0 .3-.1.5-.1.1-.1.2-.3.4s-.4.2-.6.2-.4-.1-.5-.2c-.1-.1-.1-.2-.2-.3 0-.1-.1-.2-.1-.4 0-.6-.2-1.1-.3-1.5s-.4-.8-.8-1.3c-.8-.9-1.7-1.4-2.6-1.4-1 0-2 .4-3.1 1.4-2.3 1.9-2.6 3.8-.9 5.8.5.6 1.1 1.1 1.7 1.6l2.3-1.9-1.2-1.5c-.2-.2-.3-.4-.3-.6s.1-.4.3-.5c.2-.1.4-.2.6-.2s.4.1.6.4l1.9 2.3c.1-.1.2.1.2.4zM298 85.3c0-.3.2-.5.5-.7l8-5.8c.3-.2.5-.3.8-.2.3 0 .5.2.7.5l3.6 5c.2.3.3.5.3.7s-.1.4-.3.6c-.2.2-.5.2-.7.2-.2-.1-.4-.2-.6-.5l-3-4.1-2.7 1.9 2.8 3.8c.2.3.3.5.3.7s-.1.4-.4.6c-.2.2-.4.2-.7.2-.2-.1-.4-.2-.6-.5l-2.8-3.8-2.8 2.1 3 4.1c.2.3.3.5.3.8 0 .2-.1.4-.4.6-.2.2-.4.2-.7.2-.2-.1-.4-.2-.6-.5l-3.6-5c-.4-.4-.5-.7-.4-.9zM305.3 95.7c.1-.3.2-.5.5-.6l8.5-5.1c.3-.2.5-.2.8-.2.3.1.5.2.6.5l1.7 2.9c1 1.7 1.3 3.3 1 4.7-.3 1.5-1.3 2.7-2.9 3.7-1.6 1-3.2 1.3-4.6.9-1.4-.4-2.7-1.4-3.7-3.1l-1.7-2.9c-.2-.3-.3-.6-.2-.8zm3.4 2.6c1.4 2.4 3.3 2.8 5.7 1.4 2.4-1.4 2.9-3.3 1.5-5.7l-1.1-1.8-7.2 4.3 1.1 1.8zM311.3 105.8c.1-.2.3-.4.6-.6l8.8-4.5c.3-.2.6-.2.8-.1.2.1.4.3.6.6l2.8 5.5c.1.3.2.6.2.8s-.2.4-.4.5c-.3.1-.5.1-.7.1-.2-.1-.4-.3-.6-.6l-2.3-4.5-2.9 1.5 2.2 4.2c.2.3.2.6.2.8s-.2.4-.5.5c-.2.1-.5.1-.7 0s-.4-.3-.5-.6l-2.2-4.2-3.1 1.6 2.3 4.5c.2.3.2.6.1.8-.1.2-.2.4-.5.5-.2.1-.5.1-.7 0s-.4-.3-.5-.6l-2.8-5.5c-.3-.2-.3-.4-.2-.7zM315.8 115c-.1-.8-.1-1.5.1-2.1.1-.3.3-.5.6-.7.2-.1.4-.1.7-.1.2.1.4.2.4.4.1.2.1.4.1.7-.1.6-.2 1.2-.1 1.7s.2 1.1.5 1.7c.3.8.7 1.3 1.2 1.6s.9.3 1.4.1c.4-.2.6-.5.7-1 0-.5 0-1.2-.2-2.2s-.3-1.8-.3-2.5.1-1.3.4-1.7c.3-.5.7-.8 1.3-1.1s1.3-.4 2-.2c.7.1 1.3.5 1.9 1 .6.5 1 1.2 1.4 2 .7 1.5.8 2.9.4 4.1-.1.2-.1.3-.2.4-.1.1-.2.2-.4.3-.2.1-.4.1-.7.1-.2-.1-.4-.2-.4-.4 0-.1-.1-.2-.1-.3v-.4c.1-.6.2-1.1.1-1.5-.1-.4-.2-1-.4-1.6-.3-.7-.7-1.2-1.2-1.5s-1-.3-1.5-.1c-.4.2-.7.5-.7 1-.1.5 0 1.2.2 2.1.2 1 .3 1.9.3 2.6s-.1 1.3-.4 1.8-.7.9-1.3 1.1c-.6.3-1.3.4-1.9.2-.7-.1-1.3-.5-1.8-1-.6-.5-1-1.2-1.4-2-.4-.9-.6-1.7-.7-2.5zM323.4 132.4c-.2.1-.5.1-.7-.1s-.4-.3-.5-.6c-.1-.2-.1-.3 0-.5s.1-.4.3-.5l1.8-1.7-2.1-5.6-2.5-.2c-.2 0-.4-.1-.6-.2-.1-.1-.3-.3-.3-.4-.1-.2-.1-.5 0-.8.1-.3.3-.4.5-.5.1-.1.3-.1.5-.1l11.1.9c.2 0 .5.1.6.3.2.2.3.3.4.6.1.2.1.5.1.7s-.1.4-.3.6l-7.9 7.9c-.1.1-.3.2-.4.2zm.6-8.9l1.5 4.2 4-3.8-5.5-.4zM323 133.6c.1-.2.4-.4.7-.5l9.5-2.8c.3-.1.6-.1.8.1.2.1.4.3.5.7l1.7 5.7c.2.7 0 1.1-.6 1.2-.6.2-.9-.1-1.1-.7l-1.4-4.7-3.1.9 1.3 4.3c.2.7 0 1.1-.6 1.2-.6.2-.9-.1-1.1-.7l-1.3-4.3-4 1.2c-.3.1-.6.1-.8-.1-.3-.1-.4-.3-.5-.7-.2-.3-.2-.6 0-.8zM325.4 141.9c.1-.2.4-.4.7-.5l9.7-2.5c.3-.1.6 0 .8.1s.4.4.5.7c.1.3.1.6-.1.9-.1.2-.4.4-.7.5l-9.7 2.5c-.3.1-.6.1-.8-.1-.2-.1-.4-.4-.5-.7-.1-.3-.1-.6.1-.9zm12.5-2.3v-.4c0-.1.2-.2.3-.2s.3 0 .4.1l1.9 1.1c.3.2.4.4.5.6.1.2 0 .4-.1.6-.1.2-.3.3-.5.4h-.4c-.2-.1-.3-.2-.5-.3l-1.6-1.6c.1-.2 0-.2 0-.3zM327.1 147.5c.3-.9.9-1.7 1.7-2.4.8-.6 1.8-1.1 3.1-1.3 1.2-.2 2.3-.2 3.3 0s1.8.8 2.5 1.5 1.1 1.7 1.3 2.8c.2 1.1.2 2.2-.1 3.1-.3.9-.9 1.7-1.7 2.4-.8.6-1.8 1.1-3.1 1.3-1.2.2-2.3.2-3.3 0-1-.3-1.8-.8-2.5-1.5s-1.1-1.7-1.3-2.8-.2-2.2.1-3.1zm3.2 5.1c.9.5 2 .5 3.4.3 1.4-.3 2.4-.8 3-1.5.6-.8.8-1.7.6-2.7-.2-1.1-.8-1.9-1.6-2.3-.9-.5-2-.5-3.4-.3-1.4.3-2.4.8-3 1.5-.6.8-.8 1.7-.6 2.8.2.9.8 1.7 1.6 2.2z"></path>
        </g>
        <path fill="none" stroke="#c7c8ca" stroke-width="3.5487" stroke-linecap="round" stroke-linejoin="round"
              stroke-miterlimit="10"
              d="M297.9 112.4L285.6 128l11 16.5-18.6-6.9-12.3 15.6.8-19.9-18.6-6.9 19.1-5.3.8-19.8 11 16.5z"></path>
    </g>
    <ellipse class="st1" cx="184.4" cy="183.3" rx="68.5" ry="68.5" id="fondo_boton"></ellipse>

</svg>
<svg style="pointer-events: none; position: absolute"  fxFlex="grow" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 366.6 366.6"  >
    <g id="boton">
        <path d="M129.6 181.3l6.9 38.3s20.7 20.9 42.8 20.8c30.1-.1 51.9-18.6 56.6-30.5l2.7-31.1-109 2.5z"
              fill="#fdba12"></path>
        <ellipse transform="matrix(.06734 -.9977 .9977 .06734 -3.4084 346.6824)" class="st18" cx="183.7" cy="175.2"
                 rx="50" ry="54.5"></ellipse>
        <path class="st19"
              d="M156.3 168.5h-4.2v14.7c0 .8-.2 1.5-.5 1.9-.4.4-.8.6-1.4.6s-1-.2-1.4-.6c-.4-.4-.5-1-.5-1.9v-14.7h-4.2c-.7 0-1.2-.2-1.5-.5s-.5-.7-.5-1.2.2-.9.5-1.2.8-.5 1.5-.5h12.4c.7 0 1.2.2 1.5.5s.5.7.5 1.2-.2.9-.5 1.2c-.5.4-1 .5-1.7.5zM160.8 183.2v-15.9c0-.8.2-1.4.5-1.9.4-.4.8-.6 1.4-.6s1.1.2 1.4.6c.4.4.5 1 .5 1.9v15.9c0 .8-.2 1.5-.5 1.9-.4.4-.8.6-1.4.6s-1-.2-1.4-.6c-.3-.4-.5-1.1-.5-1.9zM174.3 176.7h-1.4v6.5c0 .9-.2 1.5-.5 1.9-.4.4-.8.6-1.4.6s-1.1-.2-1.4-.6-.5-1-.5-1.9v-15.6c0-.9.2-1.5.6-1.9s1-.6 1.8-.6h6.3c.9 0 1.6 0 2.2.1s1.2.2 1.7.5c.6.3 1.1.6 1.6 1.1s.8 1.1 1.1 1.7c.2.7.4 1.4.4 2.1 0 1.5-.4 2.7-1.2 3.6-.8.9-2 1.5-3.7 1.9.7.4 1.4 1 2 1.7.6.8 1.2 1.6 1.7 2.4s.9 1.6 1.2 2.3c.3.7.4 1.2.4 1.4 0 .3-.1.5-.2.8-.2.3-.4.5-.7.6-.3.2-.6.2-1 .2s-.8-.1-1.1-.3c-.3-.2-.6-.5-.8-.8-.2-.3-.5-.8-.9-1.5l-1.6-2.7c-.6-1-1.1-1.8-1.5-2.3s-.9-.9-1.3-1.1-1.2-.1-1.8-.1zm2.2-8.5h-3.6v5.6h3.5c.9 0 1.7-.1 2.4-.3.6-.2 1.1-.5 1.5-.9s.5-1 .5-1.7c0-.6-.1-1.1-.4-1.5s-.6-.7-1.1-1c-.6-.1-1.5-.2-2.8-.2zM200.6 183.1l-.9-2.5h-7.8l-.9 2.6c-.4 1-.7 1.7-.9 2-.3.4-.7.5-1.2.5s-.9-.2-1.3-.6c-.4-.4-.6-.8-.6-1.3 0-.3 0-.6.1-.9.1-.3.2-.7.4-1.2l4.9-13.1c.1-.4.3-.8.5-1.4s.4-1 .6-1.3.5-.6.9-.8.8-.3 1.3-.3 1 .1 1.4.3.7.5.9.8c.2.3.4.7.6 1.1.2.4.3.9.6 1.6l5 13.1c.4 1 .6 1.7.6 2.2s-.2.9-.6 1.3c-.4.4-.8.6-1.3.6-.3 0-.6-.1-.8-.2-.2-.1-.4-.3-.6-.5-.1-.2-.3-.5-.5-.9-.1-.4-.3-.8-.4-1.1zm-7.7-5.6h5.7l-2.9-8.3-2.8 8.3zM212.9 176.7h-1.4v6.5c0 .9-.2 1.5-.5 1.9-.4.4-.8.6-1.4.6s-1.1-.2-1.4-.6-.5-1-.5-1.9v-15.6c0-.9.2-1.5.6-1.9s1-.6 1.8-.6h6.3c.9 0 1.6 0 2.2.1s1.2.2 1.7.5c.6.3 1.1.6 1.6 1.1s.8 1.1 1.1 1.7c.2.7.4 1.4.4 2.1 0 1.5-.4 2.7-1.2 3.6-.8.9-2 1.5-3.7 1.9.7.4 1.4 1 2 1.7.6.8 1.2 1.6 1.7 2.4s.9 1.6 1.2 2.3c.3.7.4 1.2.4 1.4 0 .3-.1.5-.2.8-.2.3-.4.5-.7.6-.3.2-.6.2-1 .2s-.8-.1-1.1-.3c-.3-.2-.6-.5-.8-.8-.2-.3-.5-.8-.9-1.5l-1.6-2.7c-.6-1-1.1-1.8-1.5-2.3s-.9-.9-1.3-1.1-1.1-.1-1.8-.1zm2.2-8.5h-3.6v5.6h3.5c.9 0 1.7-.1 2.4-.3.6-.2 1.1-.5 1.5-.9s.5-1 .5-1.7c0-.6-.1-1.1-.4-1.5s-.6-.7-1.1-1c-.6-.1-1.5-.2-2.8-.2z"></path>
        <path class="st18" d="M205.4 134.2h-44.5l22-44.5z"></path>
    </g>
</svg>
