.AJUSTES_svg__st0 {
  clip-path: url(#AJUSTES_svg__SVGID_2_)
}

.AJUSTES_svg__st1 {
  fill: #cddc29
}

.AJUSTES_svg__st2 {
  opacity: .24
}

.AJUSTES_svg__st3 {
  fill: #75c044
}

.AJUSTES_svg__st5 {
  opacity: .34;
  clip-path: url(#AJUSTES_svg__SVGID_2_)
}

.AJUSTES_svg__st6 {
  fill: #bad532
}

.AJUSTES_svg__st7, .AJUSTES_svg__st8, .AJUSTES_svg__st9 {
  opacity: .24;
  clip-path: url(#AJUSTES_svg__SVGID_2_);
  fill: #72bf44
}

.AJUSTES_svg__st8, .AJUSTES_svg__st9 {
  fill: #50b848
}

.AJUSTES_svg__st9 {
  fill: #c6d92d
}

.AJUSTES_svg__st10 {
  opacity: .24;
  fill: #50b848
}

.AJUSTES_svg__st12, .AJUSTES_svg__st14 {
  opacity: .24;
  fill: #72bf44
}

.AJUSTES_svg__st14 {
  opacity: .3
}

.AJUSTES_svg__st15 {
  fill: #c7c8ca
}

.AJUSTES_svg__st16 {
  fill: #848689
}

.AJUSTES_svg__st17 {
  opacity: .5
}

.AJUSTES_svg__st18 {
  fill: #a3b120
}

.AJUSTES_svg__st20 {
  fill: #fff
}

.AJUSTES_svg__st24 {
  opacity: .5;
  fill: #939598
}

.AJUSTES_svg__st27 {
  fill: none;
  stroke: #92278f;
  stroke-width: 1.9515;
  stroke-miterlimit: 10
}

.AJUSTES_svg__st31 {
  fill: #b1b3b6
}

.AJUSTES_svg__st32 {
  opacity: .29;
  fill: #848689
}

.AJUSTES_svg__st33 {
  fill: #48484a
}

.AJUSTES_svg__st34 {
  fill: #d5d7d8
}

.AJUSTES_svg__st39, .AJUSTES_svg__st40 {
  fill: #782b90;
  stroke: #782b90;
  stroke-width: 1.0567;
  stroke-miterlimit: 10
}

.AJUSTES_svg__st40 {
  fill: #92278f;
  stroke: #92278f
}

.AJUSTES_svg__st41 {
  fill: #e6e7e8
}

.AJUSTES_svg__st42, .AJUSTES_svg__st44, .AJUSTES_svg__st45, .AJUSTES_svg__st46 {
  fill: none;
  stroke: #92278f;
  stroke-width: .3522;
  stroke-miterlimit: 10
}

.AJUSTES_svg__st44, .AJUSTES_svg__st45, .AJUSTES_svg__st46 {
  fill: #009a9a;
  stroke: #009a9a;
  stroke-width: 1.0567
}

.AJUSTES_svg__st45, .AJUSTES_svg__st46 {
  fill: #00babb;
  stroke: #00babb
}

.AJUSTES_svg__st46 {
  stroke-width: .3522
}

.AJUSTES_svg__st48, .AJUSTES_svg__st49, .AJUSTES_svg__st50, .AJUSTES_svg__st51, .AJUSTES_svg__st54 {
  fill: #00aeef;
  stroke: #00aeef;
  stroke-width: 1.0567;
  stroke-miterlimit: 10
}

.AJUSTES_svg__st49, .AJUSTES_svg__st50, .AJUSTES_svg__st51, .AJUSTES_svg__st54 {
  fill: none;
  stroke-width: .3522
}

.AJUSTES_svg__st50, .AJUSTES_svg__st51, .AJUSTES_svg__st54 {
  fill: #8dc63f;
  stroke: #8dc63f;
  stroke-width: 1.0567
}

.AJUSTES_svg__st51, .AJUSTES_svg__st54 {
  fill: #f99d1c;
  stroke: #f99d1c
}

.AJUSTES_svg__st54 {
  fill: #fdb714;
  stroke: #fdb714;
  stroke-width: .3522
}

.AJUSTES_svg__st55, .AJUSTES_svg__st56, .AJUSTES_svg__st58, .AJUSTES_svg__st63, .AJUSTES_svg__st65 {
  fill: #bfd730;
  stroke: #bfd730;
  stroke-width: 1.0567;
  stroke-miterlimit: 10
}

.AJUSTES_svg__st56, .AJUSTES_svg__st58, .AJUSTES_svg__st63, .AJUSTES_svg__st65 {
  stroke-width: .3522
}

.AJUSTES_svg__st58, .AJUSTES_svg__st63, .AJUSTES_svg__st65 {
  fill: #bf1c7e;
  stroke: #bf1c7e;
  stroke-width: 1.0567
}

.AJUSTES_svg__st63, .AJUSTES_svg__st65 {
  fill: #f04c23;
  stroke: #f04c23
}

.AJUSTES_svg__st65 {
  fill: #f47d20;
  stroke: #f47d20;
  stroke-width: .3522
}

.AJUSTES_svg__st73 {
  font-size: 29.8322px
}

.AJUSTES_svg__st74 {
  fill: #6d6e71
}

.AJUSTES_svg__st76 {
  font-size: 31px
}

.AJUSTES_svg__st77 {
  fill: #741472
}

.AJUSTES_svg__st78 {
  fill: #ffd64f
}

.AJUSTES_svg__st79 {
  fill: #ffe28c
}
.shadow-level-1 {
  fill: #a3b120
}
.shadow-level-2 {
  fill:#DAA011
}
.shadow-level-3 {
  fill: #393939;
}
