<div fxFlex="grow" fxLayout="column" fxLayoutAlign="center center" [ngClass]="'background-level-' + (game.level || 1)"
     xmlns:xhtml="http://www.w3.org/1999/xhtml">

    <svg version="1.1" id="AJUSTES_svg__Layer_1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="200 50 663 440" xml:space="preserve">
        <defs><path id="AJUSTES_svg__SVGID_1_" transform="rotate(-90 530.75 298.868)" d="M233.1-232.6h595.3v1063H233.1z"></path></defs>
        <clipPath id="AJUSTES_svg__SVGID_2_"><use xlink:href="#AJUSTES_svg__SVGID_1_"></use></clipPath>

        <g id="shadow"><path
                [ngClass]="'shadow-level-' + (game.level || 1)" opacity=".5"
                d="M785.5 58.2c16.2-1.4 30.6 13.1 32.1 32.1l4 351.5c1.5 19-10.5 35.7-26.7 37l-502.7 8.4c-16.2 1.4-30.6-13.1-32.1-32.1L232.9 124c-1.5-19 10.5-35.7 26.7-37l525.9-28.8z"></path></g>
        <g><path d="M799 67.7c16.4-.5 30.2 14.6 30.8 33.7l-17.6 341.8c.6 19.1-12.3 35.1-28.7 35.6l-503.2-17.4c-16.4.5-30.2-14.6-30.8-33.7L238.1 95.5c-.6-19.1 12.3-35.1 28.7-35.6L799 67.7z" fill="#92278f"></path></g>
        <path class="AJUSTES_svg__st20"
              d="M777.7 125.6c14.3-.5 26.3 10.5 26.7 24.2l-17.7 259.9c.4 13.8-10.9 25.4-25.1 25.9L306.9 422c-14.3.5-26.3-10.5-26.7-24.2L271.1 147c-.4-13.8 10.9-25.4 25.1-25.9l481.5 4.5z"></path>
        <path d="M779.8 123.8c14.4-.5 26.5 10.6 26.9 24.6l-18.1 264.5c.4 14-11 25.8-25.4 26.3l-459.5-13.6c-14.4.5-26.5-10.6-26.9-24.6l-9-255.1c-.4-14 11-25.8 25.4-26.3l486.6 4.2z"
              fill="none" stroke="#000" stroke-width=".628" stroke-miterlimit="10"></path>
        <text transform="matrix(.94 0 0 1 453.075 108.818)" class="AJUSTES_svg__st20 AJUSTES_svg__st22"
              font-size="39.725">AJUSTES</text>
        <g><path class="AJUSTES_svg__st24" d="M318.4 442.6c0 5.6-4.7 10.4-10.6 10.6s-10.5-4.2-10.5-9.8c0-5.6 4.7-10.4 10.6-10.6s10.5 4.2 10.5 9.8zM352.1 444.2c0 4.1-3.4 7.5-7.6 7.6-4.2.2-7.6-3-7.6-7.1s3.4-7.5 7.6-7.6c4.2-.1 7.6 3.1 7.6 7.1z"></path>
            <path class="AJUSTES_svg__st24"
                  d="M316.9 441.3c0 5.6-4.7 10.4-10.6 10.6s-10.5-4.2-10.5-9.8c0-5.6 4.7-10.4 10.6-10.6s10.5 4.1 10.5 9.8zM350.6 442.9c0 4.1-3.4 7.5-7.6 7.6-4.2.2-7.6-3-7.6-7.1s3.4-7.5 7.6-7.6c4.3-.1 7.7 3 7.6 7.1z"></path></g>
        <g><path d="M360.3 106.5l-59.1-1.2c-.5 0-.9-.5-.9-1l-.1-24.4c0-.6.4-1 .9-1l59.1 1.2c.5 0 .9.5.9 1l.1 24.4c0 .5-.4 1-.9 1z" fill="#6e0f6c"></path>
            <path d="M359.3 105.5l-59.1-1.2c-.5 0-.9-.5-.9-1l-.1-24.4c0-.6.4-1 .9-1l59.1 1.2c.5 0 .9.5.9 1l.1 24.4c.1.6-.4 1-.9 1z"
                  opacity=".52" fill="#fff"></path>
            <path class="AJUSTES_svg__st27"
                  d="M305.4 74.6l.1 32.6M312.3 74.8l.1 32.6M319.1 74.9l.1 32.6M326 75l.1 32.6M332.8 75.2l.1 32.6M339.7 75.3l.1 32.6M346.6 75.5v32.6M353.4 75.6l.1 32.6"></path></g>
        <g><defs><path id="AJUSTES_svg__SVGID_3_" d="M478.5 266H314.3V121.5l164.2 2z"></path></defs>
            <clipPath id="AJUSTES_svg__SVGID_4_"><use xlink:href="#AJUSTES_svg__SVGID_3_" overflow="visible"></use></clipPath>
            <g clip-path="url(#AJUSTES_svg__SVGID_4_)"><path class="AJUSTES_svg__st31" d="M366.4 194.9l8.4-.2s7.6-58.9-48.1-83.1l-16.4 4.4s64.4 29.9 56.1 78.9z"></path>
                <path class="AJUSTES_svg__st32"
                      d="M367.2 193.8l3.7-.1s3.6-53.9-52.5-80.2l-6.4 2.2c-.1 0 63.4 29 55.2 78.1z"></path>
                <path class="AJUSTES_svg__st15"
                      d="M367.4 190.7c1.1.3 2.3.6 3.5.6.6 0 1.2 0 1.7-.1.6-.1 1.1-.3 1.7-.5-.5.3-1.1.6-1.6.8-.6.2-1.2.2-1.8.2-1.3-.1-2.5-.4-3.5-1zM367.6 188.8c1.2.1 2.4.2 3.5 0 .6-.1 1.1-.2 1.7-.4.6-.2 1.1-.5 1.6-.7-.4.4-.9.8-1.5 1-.6.3-1.1.4-1.7.5-1.3.2-2.5.1-3.6-.4zM367.6 187.3c1.2.1 2.4 0 3.5-.2.6-.1 1.1-.3 1.7-.5.5-.2 1-.5 1.6-.8-.4.4-.9.8-1.4 1.1-.5.3-1.1.5-1.7.6-1.3.2-2.5.2-3.7-.2z"></path>
                <path class="AJUSTES_svg__st16"
                      d="M367.6 185.1c1.2-.1 2.3-.3 3.4-.7.6-.2 1.1-.4 1.6-.7l1.5-.9c-.7 1-1.7 1.8-2.9 2.1-.6.2-1.2.3-1.8.3-.6.2-1.2.1-1.8-.1zM367.6 181.1c1.2-.1 2.4-.2 3.5-.6.6-.1 1.1-.4 1.6-.6.5-.2 1-.6 1.5-.9-.7 1-1.8 1.7-3 2-.6.2-1.2.3-1.8.3-.6 0-1.2 0-1.8-.2z"></path>
                <path class="AJUSTES_svg__st15"
                      d="M367 177.7c1.2 0 2.4-.1 3.5-.5.6-.1 1.1-.4 1.6-.6.5-.3 1-.6 1.5-1-.4.5-.8.9-1.3 1.2-.5.3-1.1.6-1.7.8-1.2.3-2.5.4-3.6.1zM366.4 174.6c1.1 0 2.2-.2 3.3-.6.5-.2 1-.4 1.5-.7.5-.3.9-.6 1.4-1-.3.5-.7.9-1.2 1.2-.5.4-1 .6-1.5.8-1.2.4-2.4.6-3.5.3z"></path>
                <path class="AJUSTES_svg__st16"
                      d="M366 172.7c1-.2 2-.4 2.9-.7.5-.2.9-.4 1.3-.6.4-.2.8-.6 1.2-.9-.5.9-1.3 1.7-2.3 2-.5.2-1 .3-1.5.4-.5 0-1.1 0-1.6-.2zM363.5 166.1c1.2-.3 2.4-.7 3.5-1.3.5-.3 1-.6 1.5-1s.9-.8 1.4-1.2c-.2.6-.6 1.2-1 1.7s-1 .9-1.6 1.2c-1.2.5-2.5.8-3.8.6z"></path>
                <path class="AJUSTES_svg__st15"
                      d="M365.1 169.9c1.2-.1 2.3-.3 3.3-.7.5-.2 1-.5 1.5-.8.5-.3.9-.7 1.3-1.1-.3.5-.7 1-1.2 1.3-.5.4-1 .7-1.5.9-1 .5-2.2.7-3.4.4zM364 167.7c.6 0 1.2 0 1.8-.1.6-.1 1.2-.2 1.7-.4.6-.2 1.1-.4 1.6-.7.5-.3 1-.7 1.5-1-.4.5-.8 1-1.3 1.3-.5.4-1.1.6-1.7.8-1.1.3-2.4.4-3.6.1zM361.4 162.2c1.5-.3 3-.7 4.3-1.4.7-.3 1.3-.7 1.9-1.2.6-.4 1.1-1 1.7-1.5-.4.7-.8 1.3-1.4 1.8-.6.5-1.2 1-1.9 1.3-.7.3-1.4.6-2.2.8-.8.1-1.6.2-2.4.2zM360.6 160c1.4-.5 2.8-1.2 4-2.1.6-.4 1.2-.9 1.7-1.5.5-.5 1-1.2 1.4-1.8-.3.7-.6 1.4-1.1 2-.5.6-1.1 1.2-1.7 1.6-.6.5-1.3.8-2.1 1.1-.7.4-1.5.6-2.2.7zM359.8 158.1c1.4-.6 2.7-1.4 3.9-2.3.6-.5 1.1-1 1.6-1.6.5-.6.9-1.2 1.3-1.9-.2.7-.5 1.5-1 2.1-.4.7-1 1.2-1.6 1.7-.6.5-1.3.9-2 1.3s-1.5.6-2.2.7z"></path>
                <path class="AJUSTES_svg__st16"
                      d="M358.5 155.7c1.3-.8 2.5-1.7 3.6-2.8.5-.5 1-1.1 1.4-1.7.4-.6.8-1.3 1.2-1.9-.1.8-.3 1.5-.7 2.2-.4.7-.8 1.4-1.4 1.9-1.2 1.2-2.6 2-4.1 2.3zM356 151c1.3-.8 2.6-1.6 3.6-2.7.5-.5 1-1.1 1.5-1.6.5-.6.8-1.2 1.2-1.9-.1.8-.3 1.5-.8 2.2-.4.7-.9 1.3-1.5 1.9-1 1.1-2.4 1.9-4 2.1z"></path>
                <path class="AJUSTES_svg__st15"
                      d="M353.3 147.5c1.4-.7 2.6-1.6 3.7-2.6.5-.5 1-1.1 1.5-1.7.5-.6.8-1.3 1.1-2-.2.8-.4 1.5-.8 2.2-.4.7-.9 1.3-1.4 1.8-.6.5-1.2 1-1.9 1.4-.7.4-1.4.7-2.2.9zM350.8 144.3c1.3-.7 2.5-1.5 3.4-2.6.5-.5.9-1.1 1.3-1.7.4-.6.7-1.3 1-1.9-.1.7-.3 1.5-.6 2.1-.3.7-.8 1.3-1.3 1.8s-1.1 1-1.7 1.4c-.7.5-1.4.8-2.1.9z"></path>
                <path class="AJUSTES_svg__st16"
                      d="M349.4 142.4c1.1-.8 2-1.6 2.8-2.5.4-.5.8-1 1.1-1.5.3-.5.6-1.1.9-1.7 0 .7-.1 1.3-.4 2-.2.6-.6 1.2-1.1 1.7-.8 1-2 1.8-3.3 2zM342.5 136.3c1.2-1.1 2.3-2.2 3.2-3.5.5-.6.8-1.3 1.2-2 .4-.7.6-1.5.9-2.2.1.8.1 1.7-.2 2.5-.2.8-.6 1.6-1.1 2.3-.5.7-1.1 1.3-1.7 1.8-.7.4-1.5.8-2.3 1.1z"></path>
                <path class="AJUSTES_svg__st15"
                      d="M346.7 139.7c1.3-.8 2.4-1.7 3.4-2.8.5-.5.9-1.1 1.3-1.8.4-.6.6-1.3.9-2-.1.7-.2 1.5-.5 2.2-.3.7-.7 1.4-1.2 1.9-.5.6-1.1 1.1-1.7 1.5-.8.5-1.5.8-2.2 1zM344.1 137.8c1.4-.7 2.7-1.6 3.8-2.7.6-.5 1-1.1 1.5-1.8.4-.6.8-1.3 1.1-2.1-.1.8-.3 1.6-.7 2.3-.4.7-.9 1.4-1.4 1.9-.6.6-1.2 1.1-1.9 1.5-.9.5-1.6.8-2.4.9z"></path>
                <g><path class="AJUSTES_svg__st15" d="M338.7 133.1c1.4-.7 2.8-1.5 3.9-2.6.6-.5 1.1-1.1 1.6-1.7.5-.6.9-1.3 1.3-2-.2.8-.5 1.5-.9 2.2-.4.7-.9 1.3-1.6 1.9-.6.5-1.3 1-2 1.4-.7.3-1.5.6-2.3.8z"></path>
                    <path class="AJUSTES_svg__st16"
                          d="M336.6 131.4c1.3-1 2.4-2 3.3-3.3.5-.6.9-1.2 1.3-1.9s.7-1.4 1-2.1c0 .8-.1 1.6-.5 2.4-.3.8-.7 1.5-1.2 2.1-1 1.3-2.3 2.3-3.9 2.8z"></path>
                    <path class="AJUSTES_svg__st15"
                          d="M335.3 129.8c1.2-1 2.3-2.1 3.2-3.4.5-.6.8-1.3 1.1-2 .3-.7.5-1.5.8-2.2 0 .8-.1 1.6-.4 2.4-.2.8-.6 1.5-1.1 2.2-.5.7-1 1.3-1.6 1.8-.6.4-1.2.9-2 1.2z"></path>
                    <path class="AJUSTES_svg__st16"
                          d="M333.3 127.7c1.1-1.2 2-2.4 2.8-3.8.4-.7.7-1.4 1-2.1.3-.7.4-1.5.6-2.3.1.8.1 1.6-.1 2.4-.2.8-.5 1.6-.9 2.3-.7 1.6-1.9 2.8-3.4 3.5zM330.4 125.3c1.1-1.2 2.1-2.3 2.9-3.7.4-.6.7-1.3 1-2.1.3-.7.5-1.5.7-2.2.1.8.1 1.6-.1 2.4-.2.8-.5 1.6-.9 2.3-.9 1.4-2.1 2.6-3.6 3.3z"></path>
                    <path class="AJUSTES_svg__st15"
                          d="M326.8 122.8c1.2-1.1 2.2-2.3 2.9-3.6.4-.7.7-1.4 1-2.1.3-.7.4-1.5.6-2.3.1.8 0 1.6-.2 2.4-.2.8-.5 1.5-.9 2.2-.4.7-.9 1.3-1.5 1.9-.5.6-1.2 1.1-1.9 1.5zM323.5 120.7c1.1-1.1 2-2.2 2.7-3.5.4-.6.6-1.3.8-2 .2-.7.3-1.4.4-2.2.1.8.1 1.5 0 2.3-.1.8-.4 1.5-.8 2.2-.4.7-.8 1.3-1.3 1.9-.5.4-1.1.9-1.8 1.3z"></path>
                    <path class="AJUSTES_svg__st16"
                          d="M320.6 118.2c1-1 1.8-1.9 2.5-3 .4-.5.6-1.1.9-1.7.3-.6.4-1.2.6-1.9.1.7.1 1.4-.1 2.1-.2.7-.4 1.3-.8 1.9-.7 1.2-1.8 2.2-3.1 2.6z"></path></g>
                <path class="AJUSTES_svg__st33" d="M363.4 179l-1.4-4.1 15.8-3.7 1.3 5.8z"></path>
                <g><path class="AJUSTES_svg__st31" d="M437.2 186.7l-8.1 2.2s-24-54.4 22.5-93.4l17-.5c0 .1-53.2 47-31.4 91.7z"></path>
                    <path class="AJUSTES_svg__st32"
                          d="M436.2 185.8l-3.5.9s-18.8-50.7 27.6-91.8l6.8.3c-.1 0-52.8 45.9-30.9 90.6z"></path>
                    <path class="AJUSTES_svg__st15"
                          d="M435.1 182.9c-.8.9-1.9 1.5-3.1 1.9-.6.2-1.2.3-1.8.3-.6 0-1.2-.1-1.8-.3h1.8c.6-.1 1.2-.2 1.7-.4 1.2-.3 2.2-.8 3.2-1.5zM434.4 181.2c-.9.8-2.1 1.2-3.3 1.4-.6.1-1.2.1-1.8 0-.6-.1-1.2-.3-1.7-.6.6.1 1.2.2 1.8.2.6 0 1.2 0 1.7-.1 1.1 0 2.2-.4 3.3-.9zM433.9 179.7c-1 .7-2.2 1.1-3.4 1.2-.6 0-1.2 0-1.8-.1-.6-.1-1.2-.4-1.7-.7.6.1 1.1.3 1.7.4.6.1 1.2.1 1.7 0 1.2-.1 2.4-.4 3.5-.8z"></path>
                    <path class="AJUSTES_svg__st16"
                          d="M433.3 177.7c-.5.3-1.1.6-1.7.7-.6.2-1.2.2-1.8.2-1.2 0-2.5-.4-3.4-1.2.6.2 1.1.4 1.7.5.6.1 1.1.2 1.7.2 1.2 0 2.3-.2 3.5-.4zM432.2 173.7c-.5.4-1.1.6-1.7.8-.6.2-1.2.3-1.8.3-1.2 0-2.5-.4-3.4-1.1.6.2 1.1.3 1.7.4.6.1 1.1.1 1.7.1 1.1 0 2.3-.2 3.5-.5z"></path>
                    <path class="AJUSTES_svg__st15"
                          d="M431.8 170.3c-1 .6-2.3.9-3.5.9-.6 0-1.2-.1-1.8-.3-.6-.2-1.1-.4-1.6-.8.6.2 1.1.4 1.7.5.6.1 1.1.2 1.7.2 1.2 0 2.3-.2 3.5-.5zM431.5 167.2c-1 .6-2.2.8-3.3.8-.6 0-1.2-.1-1.7-.4-.5-.2-1-.5-1.5-.9.5.2 1 .4 1.6.6.5.1 1.1.2 1.6.2 1.1.2 2.2 0 3.3-.3z"></path>
                    <path class="AJUSTES_svg__st16"
                          d="M431.3 165.3c-.4.3-.9.5-1.4.6-.5.1-1 .1-1.6.1-1-.1-2.1-.6-2.8-1.3.5.2.9.4 1.4.5.5.1.9.2 1.4.3 1 0 2 0 3-.2zM431.8 158.2c-1.2.6-2.5.7-3.8.4-.6-.1-1.3-.4-1.8-.7-.6-.3-1.1-.8-1.4-1.3.6.3 1.1.6 1.7.8.6.2 1.1.4 1.7.5 1.1.3 2.3.3 3.6.3z"></path>
                    <path class="AJUSTES_svg__st15"
                          d="M431.4 162.4c-1 .6-2.3.7-3.4.6-.6-.1-1.2-.2-1.7-.4-.6-.2-1-.6-1.5-.9.5.2 1 .5 1.6.7.5.2 1.1.3 1.7.3 1 0 2.1-.1 3.3-.3zM431.8 159.9c-1 .7-2.3.9-3.6.9-.6 0-1.3-.1-1.8-.3-.6-.2-1.1-.5-1.6-.9.6.2 1.1.5 1.7.6.6.1 1.2.2 1.8.2.6 0 1.2 0 1.8-.1.5-.1 1.1-.2 1.7-.4zM432.7 153.9c-.7.3-1.5.4-2.3.5-.8.1-1.6 0-2.3-.1-.8-.1-1.5-.4-2.2-.7-.7-.3-1.3-.8-1.9-1.4.7.4 1.3.7 2.1 1 .7.3 1.4.5 2.2.6 1.4.2 2.9.2 4.4.1zM432.9 151.5c-.8.2-1.5.2-2.3.1-.8-.1-1.5-.2-2.3-.5-.7-.3-1.5-.6-2.1-1.1-.6-.4-1.2-1-1.6-1.6.6.5 1.2 1 1.9 1.3.7.4 1.3.7 2 .9 1.4.6 2.9.8 4.4.9zM433.2 149.5c-.8.1-1.6.1-2.3 0-.8-.1-1.5-.3-2.3-.6-.7-.3-1.4-.7-2-1.2-.6-.5-1.1-1.1-1.5-1.8.6.5 1.1 1 1.8 1.4.6.4 1.3.8 2 1.1 1.3.6 2.7 1 4.3 1.1z"></path>
                    <path class="AJUSTES_svg__st16"
                          d="M433.7 146.8c-1.6.2-3.2-.3-4.5-1-.7-.4-1.3-.9-1.9-1.4-.6-.6-1-1.2-1.3-2 .6.5 1.1 1.1 1.7 1.5.6.5 1.2.9 1.9 1.2 1.2.8 2.6 1.3 4.1 1.7zM434.7 141.7c-1.6.2-3.2-.2-4.6-.9-.7-.4-1.4-.8-1.9-1.4-.6-.5-1-1.2-1.4-1.9.6.5 1.1 1 1.7 1.5.6.4 1.2.8 1.9 1.2 1.4.6 2.8 1.1 4.3 1.5z"></path>
                    <path class="AJUSTES_svg__st15"
                          d="M436.3 137.5c-.8.1-1.6 0-2.3-.2-.8-.2-1.5-.4-2.2-.8-.7-.4-1.4-.8-1.9-1.4-.6-.5-1-1.2-1.4-1.9.5.6 1.1 1.1 1.7 1.6.6.5 1.2.9 1.9 1.2 1.3.8 2.7 1.2 4.2 1.5zM437.8 133.8c-.7.1-1.5 0-2.2-.2-.7-.2-1.4-.5-2.1-.8-.6-.4-1.2-.8-1.7-1.4-.5-.5-.9-1.2-1.2-1.9.5.6.9 1.1 1.5 1.6.5.5 1.1.9 1.7 1.2 1.2.7 2.6 1.2 4 1.5z"></path>
                    <path class="AJUSTES_svg__st16"
                          d="M438.7 131.5c-1.3.1-2.7-.3-3.8-1-.6-.4-1.1-.8-1.5-1.4-.4-.5-.7-1.1-.9-1.8.4.5.9 1 1.3 1.4.5.4.9.8 1.5 1.1 1 .8 2.1 1.3 3.4 1.7zM443.5 123.7c-.8 0-1.7-.2-2.4-.5-.8-.3-1.5-.7-2.2-1.3-.7-.5-1.2-1.2-1.7-1.9s-.7-1.5-.9-2.3c.5.7.9 1.3 1.5 1.9.5.6 1.1 1.1 1.7 1.6 1.1 1 2.5 1.8 4 2.5z"></path>
                    <path class="AJUSTES_svg__st15"
                          d="M440.5 128.2c-.8 0-1.5-.1-2.2-.3-.7-.2-1.4-.5-2.1-1-.6-.4-1.2-.9-1.7-1.5s-.9-1.3-1.1-2c.5.6.9 1.2 1.4 1.7.5.5 1.1 1 1.7 1.3 1.1.8 2.5 1.4 4 1.8zM442.4 125.6c-.8.1-1.6 0-2.4-.2-.8-.2-1.5-.5-2.3-.8-.7-.4-1.4-.9-1.9-1.5-.6-.6-1-1.3-1.4-2 .5.6 1 1.2 1.6 1.7.6.5 1.2.9 1.9 1.3 1.5.7 3 1.2 4.5 1.5z"></path>
                    <g><path class="AJUSTES_svg__st15" d="M446.2 119.5c-.8.1-1.6 0-2.4-.1-.8-.1-1.6-.4-2.3-.8-.7-.4-1.4-.8-2-1.4-.6-.5-1.1-1.2-1.5-1.9.6.6 1.1 1.1 1.8 1.6.6.5 1.3.9 2 1.2 1.3.7 2.9 1.1 4.4 1.4z"></path>
                        <path class="AJUSTES_svg__st16"
                              d="M447.7 117.3c-1.6 0-3.2-.6-4.6-1.6-.7-.5-1.3-1-1.8-1.7-.5-.6-.9-1.4-1.1-2.2.5.6 1 1.2 1.6 1.8.5.5 1.1 1 1.8 1.5 1.2.9 2.6 1.6 4.1 2.2z"></path>
                        <path class="AJUSTES_svg__st15"
                              d="M448.5 115.4c-.8-.1-1.6-.4-2.3-.7-.7-.3-1.4-.8-2.1-1.3-.6-.5-1.2-1.1-1.7-1.8s-.8-1.4-1-2.2c.4.7.8 1.3 1.4 1.9.5.6 1.1 1.1 1.7 1.6 1.2 1.1 2.6 1.9 4 2.5z"></path>
                        <path class="AJUSTES_svg__st16"
                              d="M449.9 112.9c-1.6-.3-3.1-1.1-4.2-2.3-.6-.6-1.1-1.2-1.5-2-.4-.7-.6-1.5-.8-2.3.4.7.8 1.4 1.3 2 .5.6.9 1.2 1.5 1.7 1 1.1 2.3 2 3.7 2.9zM452 109.7c-1.6-.2-3.1-1-4.3-2.1-.6-.6-1.1-1.2-1.5-1.9-.4-.7-.7-1.5-.8-2.3.4.7.8 1.4 1.3 2 .5.6 1 1.2 1.6 1.7 1 1 2.3 1.9 3.7 2.6z"></path>
                        <path class="AJUSTES_svg__st15"
                              d="M454.7 106.3c-.8-.2-1.5-.5-2.3-.8-.7-.4-1.4-.9-2-1.4-.6-.6-1.1-1.2-1.5-1.9-.4-.7-.7-1.5-.9-2.2.4.7.7 1.4 1.2 2 .5.6 1 1.2 1.5 1.7 1.3 1 2.6 1.9 4 2.6zM457.3 103.3c-.8-.2-1.5-.5-2.1-.8-.7-.4-1.3-.9-1.8-1.4-.5-.6-1-1.2-1.3-1.9-.4-.7-.6-1.4-.7-2.2.3.7.6 1.4 1 2 .4.6.8 1.2 1.4 1.7.9 1.1 2.2 1.9 3.5 2.6z"></path>
                        <path class="AJUSTES_svg__st16"
                              d="M459.4 100.2c-1.4-.1-2.7-.7-3.8-1.6-.5-.5-1-1-1.3-1.6-.4-.6-.6-1.3-.7-2 .4.6.7 1.1 1.2 1.6.4.5.8 1 1.3 1.4 1 .8 2.1 1.5 3.3 2.2z"></path></g>
                    <path class="AJUSTES_svg__st33" d="M435.6 170.6l.1-4.3-16.1.9.4 5.9z"></path></g>
                <path class="AJUSTES_svg__st34"
                      d="M459 172.9c6-.4 11.2 3.3 11.5 8.3l1.5 59.4c.3 4.9-4.3 9.3-10.3 9.7l-99.5 6.6c-6 .4-11.2-3.3-11.5-8.3l-4-59.6c-.3-4.9 4.3-9.3 10.3-9.7l102-6.4z"></path>
                <path d="M469.4 233.5l-4.3-58c-.7-5-6.3-8.4-12.4-7.5L349 180.1c-6.1.9-10.5 5.7-9.7 10.7l8.8 60.3c.7 5 6.3 8.4 12.4 7.5 0 0 2 4 6.9 3.4 2.1-.2 5.6-2.6 5.5-5.1l76.5-11.5c.5 2.6 3.5 4.5 6.4 4 3.1-.5 5.5-2.8 5.3-5.5 5.5-1.1 9-5.7 8.3-10.4z"
                      fill="#939598"></path>
                <path d="M449.1 174.3c5.5-.8 10.5 2.1 11.2 6.5l3.6 50.5c.6 4.4-3.4 8.6-8.9 9.4l-88.6 12.9c-5.5.8-10.5-2.1-11.2-6.5l-7.6-52.4c-.6-4.4 3.4-8.6 8.9-9.4l92.6-11z"
                      fill="none" stroke="#6d6e71" stroke-width=".219" stroke-miterlimit="10"></path>
                <path class="AJUSTES_svg__st20"
                      d="M448.3 173.3c5.6-.8 10.6 2.1 11.3 6.5l3.6 50.8c.6 4.4-3.4 8.6-8.9 9.4l-89.2 13c-5.6.8-10.6-2.1-11.3-6.5l-7.7-52.8c-.6-4.4 3.4-8.6 8.9-9.4l93.3-11z"></path>
                <g><ellipse transform="rotate(-40.412 366.261 210.076)" cx="366.3" cy="210.1" rx=".9" ry=".9" fill="#babcbe"></ellipse>
                    <path fill="none" stroke="#616264" stroke-width=".282" stroke-miterlimit="10"
                          d="M365.2 209.8l2.3.7"></path>
                    <path class="AJUSTES_svg__st39"
                          d="M355.1 192.8c-.9.6-1.3 1.8-.7 2.7l10 17.1c.6.9 1.8 1.3 2.7.7.9-.6 1.3-1.8.7-2.7l-10-17.1c-.5-.9-1.8-1.2-2.7-.7z"></path>
                    <path class="AJUSTES_svg__st39"
                          d="M370.9 190.5c-1.1-.2-2.1.4-2.4 1.5l-4.3 19.3c-.2 1.1.4 2.1 1.5 2.4 1.1.2 2.1-.4 2.4-1.5l4.3-19.3c.3-1.1-.4-2.2-1.5-2.4z"></path>
                    <path class="AJUSTES_svg__st40"
                          d="M354.9 192.6c-1 .1-1.8 1-1.7 2.1l1.8 18.7c.1 1 1 1.8 2.1 1.7 1-.1 1.8-1 1.7-2.1l-1.8-18.7c-.1-1-1-1.8-2.1-1.7zM370.9 190.8c-1 .2-1.7 1.1-1.6 2.2l3 18.5c.2 1 1.1 1.7 2.2 1.6 1-.2 1.7-1.1 1.6-2.2l-3-18.5c-.2-1-1.1-1.7-2.2-1.6z"></path>
                    <ellipse transform="rotate(-8.27 354.976 194.984)" class="AJUSTES_svg__st41" cx="355" cy="195"
                             rx=".9"
                             ry=".9"></ellipse>
                    <path class="AJUSTES_svg__st42" d="M354.2 194.2l1.6 1.7"></path>
                    <path d="M395.9 221.7h0c-1 .2-1.7.9-1.6 1.7l2.2 13.7c.1.8 1 1.2 2 1.1h0c1-.2 1.7-.9 1.6-1.7l-2.2-13.7c-.2-.8-1.1-1.2-2-1.1z"
                          fill="#c6168d" stroke="#c6168d" stroke-width="1.057" stroke-miterlimit="10"></path>
                    <path class="AJUSTES_svg__st39"
                          d="M413.3 218.7c-.9-.2-1.8.4-2 1.2l-2.5 14.9c-.1.8.5 1.6 1.5 1.8.9.2 1.8-.4 2-1.2l2.5-14.9c.1-.9-.5-1.7-1.5-1.8z"></path>
                    <path class="AJUSTES_svg__st40"
                          d="M401.3 221.2c-.8.5-1.1 1.5-.6 2.2L409 236c.5.7 1.5.8 2.3.3.8-.5 1.1-1.5.6-2.2l-8.3-12.6c-.5-.7-1.5-.8-2.3-.3z"></path>
                    <path class="AJUSTES_svg__st44"
                          d="M410.4 197.1s-1.3-6.8-7.5-5.2c-5.6 1.4-5.4 8.3-5.2 9.3.2 1 2.8 1.3 2.3-.6s.6-5.4 3.5-6 4.8 2.2 4.9 2.6c.1.5 2.1-.2 2.2-.3.1.2-.2.2-.2.2z"></path>
                    <path class="AJUSTES_svg__st45"
                          d="M397 193c-1 .2-1.6 1-1.5 1.7l3 13.6c.2.8 1.1 1.2 2.1 1 1-.2 1.6-1 1.5-1.7l-3-13.6c-.2-.8-1.1-1.2-2.1-1z"></path>
                    <ellipse transform="rotate(-15.028 398.263 197.533)" class="AJUSTES_svg__st41" cx="398.3" cy="197.5"
                             rx=".9" ry=".9"></ellipse>
                    <path class="AJUSTES_svg__st46" d="M397.4 196.8l1.8 1.5"></path>
                    <path class="AJUSTES_svg__st45"
                          d="M408.7 193.3c-.9.1-1.5.7-1.4 1.4l1.3 12c.1.7.8 1.1 1.7 1 .9-.1 1.5-.7 1.4-1.4l-1.3-12c-.1-.6-.9-1.1-1.7-1z"></path>
                    <ellipse transform="rotate(-5.614 409.202 195.261)" class="AJUSTES_svg__st41" cx="409.2" cy="195.3"
                             rx=".8" ry=".8"></ellipse>
                    <path class="AJUSTES_svg__st46" d="M408.5 194.6l1.4 1.5"></path>
                    <path d="M440 219.9s-1.3-6.8-7.5-5.2c-5.6 1.4-5.4 8.3-5.2 9.3.2 1 2.8 1.3 2.3-.6s.6-5.4 3.5-6c2.9-.5 4.8 2.2 4.9 2.6s2.1-.2 2.2-.3l-.2.2z"
                          fill="#008fd5" stroke="#008fd5" stroke-width="1.057" stroke-miterlimit="10"></path>
                    <path class="AJUSTES_svg__st48"
                          d="M426.7 215.8c-1 .2-1.6 1-1.5 1.7l3 13.6c.2.8 1.1 1.2 2.1 1 1-.2 1.6-1 1.5-1.7l-3-13.6c-.2-.8-1.2-1.3-2.1-1z"></path>
                    <ellipse transform="rotate(-15.028 427.887 220.312)" class="AJUSTES_svg__st41" cx="427.9" cy="220.3"
                             rx=".9" ry=".9"></ellipse>
                    <path class="AJUSTES_svg__st49" d="M427 219.6l1.8 1.5"></path>
                    <path class="AJUSTES_svg__st48"
                          d="M438.6 216c-.9.1-1.5.7-1.4 1.4l1.3 12c.1.7.8 1.1 1.7 1 .9-.1 1.5-.7 1.4-1.4l-1.3-12c-.1-.6-.8-1.1-1.7-1z"></path>
                    <ellipse transform="rotate(-5.614 438.827 218.037)" class="AJUSTES_svg__st41" cx="438.8" cy="218"
                             rx=".8" ry=".8"></ellipse>
                    <path class="AJUSTES_svg__st49" d="M438.2 217.3l1.3 1.6"></path>
                    <ellipse transform="rotate(-31.756 371.67 193.474)" class="AJUSTES_svg__st41" cx="371.6" cy="193.5"
                             rx=".9" ry=".9"></ellipse>
                    <path class="AJUSTES_svg__st42" d="M372 192.4l-.9 2.2"></path>
                    <path class="AJUSTES_svg__st50"
                          d="M390.6 232.8s-2.1 7.9-8.2 7.4c-6.2-.4-6.7-6.5-6.7-7.7 0-1.2 2.6-2.4 3.1-.4.5 2.2 2.2 4.9 4.3 5.1 3.6.3 5-4.5 5-5s2.5.6 2.5.6z"></path>
                    <path class="AJUSTES_svg__st44"
                          d="M372.4 235.2s-.7 6.9-6.2 8c-5.6 1.1-6.3-2.7-6.5-3.7-.2-1.5 1.6-2.2 2.4-.8.9 1.6 2.5 1.9 4.4 1.6 3.3-.6 4.1-5.7 4.2-6.1.4-2 1.7 1 1.7 1z"></path>
                    <path class="AJUSTES_svg__st51"
                          d="M393.6 199.6s-2.8-6.6-8.9-4.8c-6.7 2-5.5 8.5-5.2 9.6.3 1.1 3.8.8 3.1-1.2-.8-2-.2-5.1 2.9-6 3-.9 5.6 2.5 5.7 3s2.2-.5 2.4-.5v-.1z"></path>
                    <path d="M389.8 228.7s-3.2-6.4-8.9-4.9c-6.3 1.7-4.9 8.6-4.6 9.7.6 2.2 4.1 1.4 3.3-1.1-.7-2-.1-5.2 2.8-6 2.9-.8 4.9 2.2 5 2.7s2.1-.4 2.2-.4h.2z"
                          fill="#a6ce39" stroke="#a6ce39" stroke-width="1.057" stroke-miterlimit="10"></path>
                    <path class="AJUSTES_svg__st51"
                          d="M379.4 203.9s.2 6.6 6.4 7.6c6.3.9 9.2-4.5 9.4-5.7.3-1.1-1.7-2.8-2.5-1-1 2-3.6 4-5.7 3.7-3.6-.4-4.4-4.1-4.3-4.7.1-.5-3.3.1-3.3.1z"></path>
                    <path class="AJUSTES_svg__st44"
                          d="M372.2 231.5s-.6-5.9-6-5.8c-5.6.1-7.6 5.2-7.7 6.3-.1 1.1 1.8 2.4 2.3.5.6-2.1 2.9-3.8 4.8-3.9 3.2-.1 4.7 2.6 4.6 3.2 0 .6 2-.3 2-.3z"></path>
                    <path class="AJUSTES_svg__st44"
                          d="M371 231.5s-1.2-.4-5.8 1.3c-5.6 2.1-5.6 4.8-5.2 6.3.5 1.7 2.4 1.4 2.5-.2.2-1.8 1.7-2.7 3.4-3.7 2.9-1.6 5.2-1.7 5.3-1.3s-.2-2.4-.2-2.4z"></path>
                    <path d="M393.2 201.3l-12.5 4.4c-.6.2-1.3-.1-1.5-.6l-.1-.3c-.2-.6.1-1.3.6-1.5l12.5-4.4c.6-.2 1.3.1 1.5.6l.1.3c.3.6 0 1.3-.6 1.5z"
                          fill="#fdb714" stroke="#fdb714" stroke-width="1.057" stroke-miterlimit="10"></path>
                    <ellipse transform="rotate(-45.292 381.071 204.331)" class="AJUSTES_svg__st41" cx="381" cy="204.3"
                             rx=".7" ry=".7"></ellipse>
                    <path class="AJUSTES_svg__st54" d="M381.2 203.4l-.4 2"></path>
                    <ellipse transform="rotate(-49.111 392.427 200.184)" class="AJUSTES_svg__st41" cx="392.4" cy="200.2"
                             rx=".7" ry=".7"></ellipse>
                    <path class="AJUSTES_svg__st54" d="M393.3 200.3l-1.9-.3"></path>
                    <path class="AJUSTES_svg__st50"
                          d="M441.9 196s.4-7.2-5.8-8.3c-6.9-1.3-8.8 5.1-9 6.2-.2 1.1 3.1 2.4 3.3.3s2.1-4.6 5.2-4c3.1.6 3.9 4.8 3.8 5.3-.1.5 2.2.5 2.4.6l.1-.1z"></path>
                    <path class="AJUSTES_svg__st50"
                          d="M427.3 193.5s-2.8 6 2.3 9.6c5.2 3.7 10.2 0 11-.9s-.2-3.2-1.8-2c-1.8 1.3-5 1.9-6.8.7-3.1-2-2.1-5.7-1.7-6.1s-3-1.3-3-1.3z"></path>
                    <path class="AJUSTES_svg__st55"
                          d="M440.9 197.4l-13.2-1.7c-.6-.1-1.1-.6-1-1.2v-.3c.1-.6.6-1.1 1.2-1l13.2 1.7c.6.1 1.1.6 1 1.2v.3c0 .6-.6 1-1.2 1z"></path>
                    <ellipse transform="rotate(-18.648 428.657 194.615)" class="AJUSTES_svg__st41" cx="428.6" cy="194.6"
                             rx=".7" ry=".7"></ellipse>
                    <path class="AJUSTES_svg__st56" d="M429.2 193.9l-1.2 1.6"></path>
                    <g><ellipse transform="rotate(-22.467 440.675 196.009)" class="AJUSTES_svg__st41" cx="440.6" cy="196" rx=".7" ry=".7"></ellipse>
                        <path class="AJUSTES_svg__st56" d="M441.4 196.5l-1.6-1.1"></path></g>
                    <g><ellipse transform="rotate(-40.412 365.977 209.626)" class="AJUSTES_svg__st41" cx="366" cy="209.6" rx=".9" ry=".9"></ellipse>
                        <path fill="#782b90" stroke="#782b90" stroke-width=".352" stroke-miterlimit="10"
                              d="M364.9 209.4l2.3.6"></path></g>
                    <g><path class="AJUSTES_svg__st58" d="M417.4 205c2.8 2.4 6.9.5 7.6-.1.8-.7.4-2.8-1.2-2.1-1.8.8-4.4.3-5.5-1.2"></path>
                        <path d="M416.4 184.4h0c-1 .1-1.8 1-1.7 2l1.7 18.1c.1 1 1 1.8 2 1.7h0c1-.1 1.8-1 1.7-2l-1.7-18.1c0-1.1-1-1.8-2-1.7z"
                              fill="#ed037c" stroke="#ed037c" stroke-width="1.057" stroke-miterlimit="10"></path>
                        <ellipse transform="rotate(-8.27 418.434 204)" class="AJUSTES_svg__st41" cx="418.5" cy="204"
                                 rx=".8"
                                 ry=".8"></ellipse>
                        <path fill="none" stroke="#ed037c" stroke-width=".341" stroke-miterlimit="10"
                              d="M417.8 203.3l1.4 1.5"></path>
                        <path class="AJUSTES_svg__st58"
                              d="M421.2 191.5l-7.6 1.7c-.6.1-1.2-.3-1.4-.9-.1-.6.3-1.2.9-1.4l7.6-1.7c.6-.1 1.2.3 1.4.9.1.6-.3 1.2-.9 1.4z"></path>
                        <g><ellipse transform="rotate(-8.27 417.11 191.237)" class="AJUSTES_svg__st41" cx="417.2" cy="191.2" rx=".7" ry=".7"></ellipse>
                            <path fill="#bf1c7e" stroke="#bf1c7e" stroke-width=".352" stroke-miterlimit="10"
                                  d="M416.5 190.6l1.1 1.3"></path></g></g>
                    <path class="AJUSTES_svg__st45"
                          d="M370.3 227.1c-.7.1-1.2.8-1.1 1.5l2.4 12c.1.7.8 1.1 1.6.9.7-.1 1.2-.8 1.1-1.5l-2.4-12c-.1-.7-.8-1.1-1.6-.9z"></path>
                    <g><ellipse transform="rotate(-18.25 370.812 228.764)" class="AJUSTES_svg__st41" cx="370.8" cy="228.7" rx=".7" ry=".7"></ellipse>
                        <path class="AJUSTES_svg__st46" d="M370.1 228.3l1.5 1.1"></path></g>
                    <g><ellipse transform="rotate(-38.922 372.667 237.12)" class="AJUSTES_svg__st41" cx="372.7" cy="237.1" rx=".6" ry=".7"></ellipse>
                        <path class="AJUSTES_svg__st46" d="M372.8 236.4l-.4 1.6"></path></g>
                    <g><ellipse transform="rotate(-29.834 361.278 239.327)" class="AJUSTES_svg__st41" cx="361.3" cy="239.3" rx=".7" ry=".7"></ellipse>
                        <path fill="none" stroke="#009a9a" stroke-width=".371" stroke-miterlimit="10"
                              d="M361.6 238.5l-.7 1.7"></path></g>
                    <path class="AJUSTES_svg__st63"
                          d="M457.1 221.3s-1.5 6.7-7.1 7.1c-5.7.4-5.9-3.5-6-4.4 0-1.5 1.9-2 2.5-.5.7 1.7 2.2 2.2 4.2 2.1 3.3-.2 4.8-5.1 4.9-5.6.6-1.9 1.5 1.3 1.5 1.3zM457.4 217.6s.1-5.9-5.3-6.5c-5.5-.6-8.2 4.2-8.4 5.3-.2 1.1 1.5 2.6 2.2.8.8-2 3.4-3.4 5.2-3.2 3.2.3 4.3 3.2 4.2 3.7 0 .5 2.1-.1 2.1-.1z"></path>
                    <path class="AJUSTES_svg__st63"
                          d="M456.2 217.5s-1.2-.6-5.9.6c-5.8 1.4-6.2 4.1-5.9 5.6.3 1.7 2.2 1.7 2.5.1.4-1.7 2-2.5 3.8-3.2 3-1.2 5.4-1.1 5.4-.6 0 .3.1-2.5.1-2.5z"></path>
                    <path d="M456.1 212.9h0c-.8.1-1.3.7-1.3 1.3l.9 12.2c.1.7.7 1.2 1.5 1.1h0c.8-.1 1.3-.7 1.3-1.3l-.9-12.2c-.1-.6-.7-1.1-1.5-1.1z"
                          fill="#f47d20" stroke="#f47d20" stroke-width="1.057" stroke-miterlimit="10"></path>
                    <g><ellipse transform="rotate(-11.068 456.431 214.68)" class="AJUSTES_svg__st41" cx="456.4" cy="214.7" rx=".7" ry=".7"></ellipse>
                        <path class="AJUSTES_svg__st65" d="M455.7 214.1l1.4 1.3"></path></g>
                    <g><ellipse transform="rotate(-31.748 457.14 223.22)" class="AJUSTES_svg__st41" cx="457.1" cy="223.2" rx=".6" ry=".7"></ellipse>
                        <path class="AJUSTES_svg__st65" d="M457.4 222.5l-.6 1.5"></path></g>
                    <g><ellipse transform="rotate(-22.661 445.423 223.6)" class="AJUSTES_svg__st41" cx="445.5" cy="223.6" rx=".6" ry=".7"></ellipse>
                        <path fill="#f04c23" stroke="#f04c23" stroke-width=".352" stroke-miterlimit="10"
                              d="M445.9 222.9l-.9 1.5"></path></g>
                    <path class="AJUSTES_svg__st55"
                          d="M388.8 216.7c-1 0-1.9.9-1.9 1.9l.3 19.1c0 1 .9 1.9 1.9 1.9 1 0 1.9-.9 1.9-1.9l-.3-19.1c0-1.1-.9-1.9-1.9-1.9z"></path>
                    <g><ellipse transform="rotate(-25.05 389.274 230.993)" class="AJUSTES_svg__st41" cx="389.2" cy="231" rx=".9" ry=".9"></ellipse>
                        <path class="AJUSTES_svg__st56" d="M389.8 229.9l-1.3 2.2"></path></g>
                    <g><ellipse transform="rotate(-28.346 410.1 234.575)" class="AJUSTES_svg__st41" cx="410" cy="234.6" rx="1" ry="1"></ellipse>
                        <path fill="#92278f" stroke="#92278f" stroke-width=".352" stroke-miterlimit="10"
                              d="M410.6 233.5l-1.2 2.3"></path></g>
                    <g><ellipse transform="rotate(-67.356 377.888 232.43)" class="AJUSTES_svg__st41" cx="377.9" cy="232.4" rx=".9" ry=".9"></ellipse>
                        <path fill="#a6ce39" stroke="#a6ce39" stroke-width=".352" stroke-miterlimit="10"
                              d="M377.6 231.4l.5 2.3"></path></g>
                    <ellipse transform="rotate(-3.912 395.193 217.66) scale(1.00003)" cx="395.2" cy="217.7" rx="2.1"
                             ry="2.1" fill="#ec008c" stroke="#ec008c" stroke-width="1.057" stroke-miterlimit="10"></ellipse>
                    <path d="M419.5 217.8h0c-1 .2-1.7.9-1.6 1.7l2.2 13.7c.1.8 1 1.2 2 1.1v0c1-.2 1.7-.9 1.6-1.7l-2.2-13.7c-.2-.8-1.1-1.3-2-1.1z"
                          fill="#ffc20e" stroke="#ffc20e" stroke-width="1.057" stroke-miterlimit="10"></path>
                    <ellipse transform="rotate(-3.912 418.804 213.714) scale(1.00003)" cx="418.8" cy="213.7" rx="2.1"
                             ry="2.1" fill="#fdb913" stroke="#fdb913" stroke-width="1.057" stroke-miterlimit="10"></ellipse></g></g></g>
        <g (click)="exit()" id="exit-game"><path class="AJUSTES_svg__st34" d="M481.6 406.9L336.2 402c-12.5-.4-22.3-11-21.9-23.4l1.1-32.1c.4-12.5 11-22.3 23.4-21.9l145.4 4.9c12.5.4 22.3 11 21.9 23.4L505 385c-.4 12.4-10.9 22.3-23.4 21.9z"></path>
            <path d="M482 401.5H336.6c-12.5 0-22.7-10.2-22.7-22.7v-32.2c0-12.5 10.2-22.7 22.7-22.7H482c12.5 0 22.7 10.2 22.7 22.7v32.2c0 12.5-10.2 22.7-22.7 22.7z"
                  fill="#f7941d"></path>
            <text transform="matrix(.94 0 0 1 366.031 356.338)"><tspan x="0" y="0" class="AJUSTES_svg__st20 AJUSTES_svg__st22 AJUSTES_svg__st73">SALIR </tspan>
                <tspan x="-31.8" y="31.8"
                       class="AJUSTES_svg__st20 AJUSTES_svg__st22 AJUSTES_svg__st73">DEL JUEGO</tspan></text></g>

        <foreignObject x="550" y="130" width="200" height="300" >
            <xhtml:div fxLayout="column">
                <app-music-button fxFlex="25"></app-music-button>
                <app-sound-button fxFlex="25"></app-sound-button>
                <app-language-button fxFlex="25"></app-language-button>
                <app-tutorial-button fxFlex="25"></app-tutorial-button>
            </xhtml:div>
        </foreignObject>
</svg>

    <div style="padding: 1%" class="full-width" fxLayoutAlign="space-between">
        <app-back-button></app-back-button>
    </div>

</div>
