.menteadivina_svg__st10, .menteadivina_svg__st9 {
  fill: #782b90;
  stroke: #782b90;
  stroke-width: .9348;
  stroke-miterlimit: 10
}

.menteadivina_svg__st10 {
  fill: #92278f;
  stroke: #92278f
}

.menteadivina_svg__st11 {
  fill: #e6e7e8
}

.menteadivina_svg__st12, .menteadivina_svg__st14, .menteadivina_svg__st15, .menteadivina_svg__st16 {
  fill: none;
  stroke: #92278f;
  stroke-width: .3116;
  stroke-miterlimit: 10
}

.menteadivina_svg__st14, .menteadivina_svg__st15, .menteadivina_svg__st16 {
  fill: #009a9a;
  stroke: #009a9a;
  stroke-width: .9348
}

.menteadivina_svg__st15, .menteadivina_svg__st16 {
  fill: #00babb;
  stroke: #00babb
}

.menteadivina_svg__st16 {
  fill: none;
  stroke-width: .3116
}

.menteadivina_svg__st18, .menteadivina_svg__st19, .menteadivina_svg__st20, .menteadivina_svg__st21, .menteadivina_svg__st24 {
  fill: #00aeef;
  stroke: #00aeef;
  stroke-width: .9348;
  stroke-miterlimit: 10
}

.menteadivina_svg__st19, .menteadivina_svg__st20, .menteadivina_svg__st21, .menteadivina_svg__st24 {
  fill: none;
  stroke-width: .3116
}

.menteadivina_svg__st20, .menteadivina_svg__st21, .menteadivina_svg__st24 {
  fill: #8dc63f;
  stroke: #8dc63f;
  stroke-width: .9348
}

.menteadivina_svg__st21, .menteadivina_svg__st24 {
  fill: #f99d1c;
  stroke: #f99d1c
}

.menteadivina_svg__st24 {
  fill: none;
  stroke: #fdb714;
  stroke-width: .3116
}

.menteadivina_svg__st25, .menteadivina_svg__st26, .menteadivina_svg__st28, .menteadivina_svg__st32, .menteadivina_svg__st34 {
  fill: #bfd730;
  stroke: #bfd730;
  stroke-width: .9348;
  stroke-miterlimit: 10
}

.menteadivina_svg__st26, .menteadivina_svg__st28, .menteadivina_svg__st32, .menteadivina_svg__st34 {
  fill: none;
  stroke-width: .3116
}

.menteadivina_svg__st28, .menteadivina_svg__st32, .menteadivina_svg__st34 {
  fill: #bf1c7e;
  stroke: #bf1c7e;
  stroke-width: .9348
}

.menteadivina_svg__st32, .menteadivina_svg__st34 {
  fill: #f04c23;
  stroke: #f04c23
}

.menteadivina_svg__st34 {
  fill: none;
  stroke: #f47d20;
  stroke-width: .3116
}
