<svg version="1.1" id="menteadivina_svg__Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0"
     viewBox="0 0 104.1 67.3" xml:space="preserve">
    <path d="M94.2 0c5.1-.4 9.5 2.6 9.8 6.6l.1 46.4c.3 4-3.6 7.6-8.7 8l-81.9 6.2c-5.1.4-9.5-2.6-9.8-6.6L0 12.1c-.3-4 3.6-7.6 8.7-8L94.2 0z"
          fill="#fff"></path>
    <ellipse transform="rotate(-36.496 19.43 27.626)" cx="19.4" cy="27.6" rx=".8" ry=".8" fill="#babcbe"></ellipse>
    <path fill="none" stroke="#616264" stroke-width=".25" stroke-miterlimit="10" d="M18.4 27.3l2 .7"></path>
    <path class="menteadivina_svg__st9"
          d="M10.8 11.5l-.5.3c-.7.4-1 1.2-.7 1.9l8.1 16.2c.4.7 1.2 1 1.9.7l.5-.3c.7-.4 1-1.2.7-1.9l-8.1-16.2c-.3-.7-1.2-1-1.9-.7z"></path>
    <path class="menteadivina_svg__st9"
          d="M25 10.7l-.6-.2c-.8-.2-1.6.2-1.8 1l-5.2 17.3c-.2.8.2 1.6 1 1.8l.6.2c.8.2 1.6-.2 1.8-1L26 12.5c.2-.8-.3-1.6-1-1.8z"></path>
    <path class="menteadivina_svg__st10"
          d="M10.7 11.5h-.6c-.8 0-1.4.7-1.3 1.4l.4 17.2c0 .8.7 1.4 1.4 1.3h.6c.8 0 1.4-.7 1.3-1.4l-.4-17.2c0-.7-.6-1.3-1.4-1.3zM24.9 10.9l-.6.1c-.8.1-1.3.7-1.2 1.5l1.6 17.1c.1.8.7 1.3 1.5 1.2l.6-.1c.8-.1 1.3-.7 1.2-1.5l-1.6-17.1c0-.8-.7-1.3-1.5-1.2z"></path>
    <ellipse transform="matrix(.9971 -.07593 .07593 .9971 -1.005 .83)" class="menteadivina_svg__st11" cx="10.4"
             cy="13.6" rx=".8" ry=".8"></ellipse>
    <path class="menteadivina_svg__st12" d="M9.7 12.9l1.3 1.6"></path>
    <path d="M44.8 39.6h0c-.9.1-1.5.7-1.5 1.4l1.2 12.2c.1.7.8 1.2 1.7 1.1h0c.9-.1 1.5-.7 1.5-1.4l-1.2-12.2c-.1-.7-.9-1.1-1.7-1.1z"
          fill="#c6168d" stroke="#c6168d" stroke-width=".935" stroke-miterlimit="10"></path>
    <path class="menteadivina_svg__st9"
          d="M60.4 38c-.8-.2-1.6.2-1.8.9l-3.1 13c-.2.7.4 1.5 1.2 1.7.8.2 1.6-.2 1.8-.9l3.1-13c.1-.8-.4-1.5-1.2-1.7z"></path>
    <path class="menteadivina_svg__st10"
          d="M49.6 39.5c-.7.4-1 1.3-.7 1.9L55.4 53c.4.6 1.3.8 2 .4s1-1.3.7-1.9l-6.5-11.6c-.4-.6-1.3-.8-2-.4z"></path>
    <path class="menteadivina_svg__st14"
          d="M59.1 18.8s-.7-6-6.3-5.1c-5 .9-5.2 7-5.2 7.9.1.9 2.4 1.3 2-.4-.3-1.7.9-4.8 3.5-5.1s4.1 2.2 4.1 2.6c0 .4 1.8-.1 2-.1.2.2-.1.2-.1.2z"></path>
    <path class="menteadivina_svg__st15"
          d="M47.5 14.4c-.9.1-1.5.8-1.4 1.5l1.8 12.2c.1.7.9 1.1 1.8 1 .9-.1 1.5-.8 1.4-1.5l-1.8-12.3c-.1-.6-.9-1.1-1.8-.9z"></path>
    <ellipse transform="rotate(-11.11 48.433 18.435)" class="menteadivina_svg__st11" cx="48.4" cy="18.4" rx=".8"
             ry=".8"></ellipse>
    <path class="menteadivina_svg__st16" d="M47.6 17.8l1.6 1.4"></path>
    <path class="menteadivina_svg__st15"
          d="M57.8 15.3c-.8 0-1.4.5-1.3 1.1l.4 10.6c0 .6.7 1 1.4 1 .8 0 1.4-.5 1.3-1.1l-.4-10.6c0-.5-.7-1-1.4-1z"></path>
    <ellipse transform="rotate(-1.7 58.24 17.135) scale(1.00004)" class="menteadivina_svg__st11" cx="58.2" cy="17.1"
             rx=".7" ry=".7"></ellipse>
    <path class="menteadivina_svg__st16" d="M57.6 16.5l1.1 1.4"></path>
    <path d="M83.8 40.7s-.7-6-6.3-5.1c-5 .9-5.2 7-5.2 7.9.1.9 2.4 1.3 2-.4-.3-1.7.9-4.8 3.5-5.1 2.6-.3 4.1 2.2 4.1 2.6s1.8-.1 2-.1-.1.2-.1.2z"
          fill="#008fd5" stroke="#008fd5" stroke-width=".935" stroke-miterlimit="10"></path>
    <path class="menteadivina_svg__st18"
          d="M72.3 36.2c-.9.1-1.5.8-1.4 1.5l1.8 12.2c.1.7.9 1.1 1.8 1 .9-.1 1.5-.8 1.4-1.5l-1.8-12.2c-.1-.6-.9-1.1-1.8-1z"></path>
    <ellipse transform="rotate(-11.11 73.136 40.35)" class="menteadivina_svg__st11" cx="73.1" cy="40.4" rx=".8"
             ry=".8"></ellipse>
    <path class="menteadivina_svg__st19" d="M72.4 39.7l1.5 1.4"></path>
    <path class="menteadivina_svg__st18"
          d="M82.9 37.2c-.8 0-1.4.5-1.3 1.1l.4 10.6c0 .6.7 1 1.4 1 .8 0 1.4-.5 1.3-1.1l-.4-10.6c0-.6-.7-1-1.4-1z"></path>
    <ellipse transform="rotate(-1.7 82.943 39.038) scale(1.00004)" class="menteadivina_svg__st11" cx="82.9" cy="39"
             rx=".7" ry=".7"></ellipse>
    <path class="menteadivina_svg__st19" d="M82.4 38.3l1.1 1.5"></path>
    <ellipse transform="rotate(-27.847 25.135 13.332)" class="menteadivina_svg__st11" cx="25.1" cy="13.3" rx=".8"
             ry=".8"></ellipse>
    <path class="menteadivina_svg__st12" d="M25.5 12.4l-.9 1.8"></path>
    <path class="menteadivina_svg__st20"
          d="M39.5 49.1s-2.4 6.8-7.7 6.1c-5.4-.8-5.5-6.1-5.4-7.2s2.5-1.9 2.8-.2c.3 1.9 1.7 4.5 3.5 4.8 3.1.5 4.7-3.6 4.7-4.1 0-.5 2.1.6 2.1.6z"></path>
    <path class="menteadivina_svg__st14"
          d="M23.3 50.1s-1 6-5.9 6.6c-5.1.6-5.4-2.8-5.5-3.6-.1-1.4 1.5-1.9 2.2-.5.7 1.5 2.1 1.8 3.8 1.6 2.9-.3 4-4.8 4.1-5.2.3-1.6 1.3 1.1 1.3 1.1z"></path>
    <path class="menteadivina_svg__st21"
          d="M44.1 20s-2.1-6-7.6-4.8c-6.1 1.3-5.4 7.2-5.2 8.1.2 1 3.3.9 2.8-.9s.1-4.5 2.9-5.1c2.7-.6 4.8 2.6 4.9 3 .1.5 2-.3 2.2-.3z"></path>
    <path d="M39 45.4s-2.4-5.8-7.6-4.9c-5.7 1.1-4.8 7.3-4.7 8.3.4 1.9 3.6 1.5 3-.8-.5-1.8.2-4.6 2.8-5.1 2.6-.5 4.2 2.2 4.3 2.7.1.5 1.9-.2 2-.3l.2.1z"
          fill="#a6ce39" stroke="#a6ce39" stroke-width=".935" stroke-miterlimit="10"></path>
    <path class="menteadivina_svg__st21"
          d="M31.3 23s-.2 5.9 5.2 7.1c5.5 1.2 8.4-3.5 8.6-4.5s-1.3-2.5-2.2-1c-1 1.7-3.4 3.3-5.3 2.9-3.2-.6-3.7-3.9-3.5-4.4.2-.5-2.8-.1-2.8-.1z"></path>
    <path class="menteadivina_svg__st14"
          d="M23.3 46.9s-.2-5.3-5-5.5c-4.9-.3-7 4.1-7.2 5.1-.1 1 1.4 2.2 2 .6.6-1.8 2.8-3.2 4.4-3.1 2.8.1 4 2.6 3.9 3.1.1.4 1.9-.2 1.9-.2z"></path>
    <path class="menteadivina_svg__st14"
          d="M22.2 46.8s-1.1-.5-5.2.8c-5.1 1.6-5.2 3.9-4.9 5.2.3 1.5 2 1.4 2.2 0 .3-1.6 1.6-2.3 3.2-3 2.6-1.2 4.7-1.2 4.7-.8.1.3 0-2.2 0-2.2z"></path>
    <path d="M43.7 21.5l-11.3 3.1c-.5.2-1.1-.1-1.3-.7l-.1-.3c-.2-.5.1-1.1.7-1.3L43 19.2c.5-.2 1.1.1 1.3.7l.1.3c.1.5-.2 1.1-.7 1.3z"
          fill="#fdb714" stroke="#fdb714" stroke-width=".935" stroke-miterlimit="10"></path>
    <ellipse transform="rotate(-41.384 32.79 23.394)" class="menteadivina_svg__st11" cx="32.8" cy="23.4" rx=".7"
             ry=".7"></ellipse>
    <path class="menteadivina_svg__st24" d="M32.9 22.6l-.4 1.7"></path>
    <ellipse transform="rotate(-45.203 42.987 20.464)" class="menteadivina_svg__st11" cx="43" cy="20.5" rx=".6"
             ry=".6"></ellipse>
    <path class="menteadivina_svg__st24" d="M43.8 20.5l-1.6-.2"></path>
    <path class="menteadivina_svg__st20"
          d="M87 19.7s.8-6.3-4.6-7.7c-6-1.5-8 4-8.3 4.9s2.6 2.3 2.9.4c.3-1.8 2.1-3.9 4.9-3.2 2.7.7 3.1 4.4 3 4.9s1.9.6 2.1.7c.2.1 0 0 0 0z"></path>
    <path class="menteadivina_svg__st20"
          d="M74.2 16.7s-2.8 5.1 1.5 8.6c4.4 3.6 9 .7 9.7-.1s0-2.9-1.5-1.9c-1.6 1.1-4.5 1.4-6 .3-2.6-2-1.5-5.1-1.2-5.5s-2.5-1.4-2.5-1.4z"></path>
    <path class="menteadivina_svg__st25"
          d="M86 20.9l-11.5-2.3c-.6-.1-.9-.6-.8-1.2v-.3c.1-.6.6-.9 1.2-.8l11.5 2.3c.6.1.9.6.8 1.2v.3c-.1.5-.7.9-1.2.8z"></path>
    <ellipse transform="rotate(-14.738 75.314 17.755)" class="menteadivina_svg__st11" cx="75.3" cy="17.8" rx=".7"
             ry=".7"></ellipse>
    <path class="menteadivina_svg__st26" d="M75.9 17.1l-1.2 1.3"></path>
    <g><ellipse transform="rotate(-18.558 85.923 19.702)" class="menteadivina_svg__st11" cx="85.9" cy="19.7" rx=".6" ry=".6"></ellipse>
        <path class="menteadivina_svg__st26" d="M86.5 20.1l-1.3-1"></path></g>
    <g><ellipse transform="rotate(-36.496 19.154 27.269)" class="menteadivina_svg__st11" cx="19.2" cy="27.3" rx=".8" ry=".8"></ellipse>
        <path fill="none" stroke="#782b90" stroke-width=".312" stroke-miterlimit="10" d="M18.2 26.9l2 .7"></path></g>
    <g><path class="menteadivina_svg__st28" d="M64.8 26.2c2.4 2.3 6.1.8 6.7.4.8-.5.5-2.5-1-1.9-1.6.6-3.9 0-4.8-1.4"></path>
        <path d="M65.5 7.9h-.6c-.7 0-1.3.6-1.3 1.4l.4 16.6c0 .7.6 1.3 1.4 1.3h.6c.7 0 1.3-.6 1.3-1.4l-.4-16.5c-.1-.8-.7-1.4-1.4-1.4z"
              fill="#ed037c" stroke="#ed037c" stroke-width=".935" stroke-miterlimit="10"></path>
        <ellipse transform="matrix(.9971 -.07593 .07593 .9971 -1.741 5.07)" class="menteadivina_svg__st11" cx="65.8"
                 cy="25.4" rx=".7" ry=".7"></ellipse>
        <path class="menteadivina_svg__st28"
              d="M69.1 14.4L62 15.5c-.5.1-.9-.2-1-.7l-.1-.3c-.1-.5.2-.9.7-1l7.1-1.1c.5-.1.9.2 1 .7l.1.3c.1.5-.2 1-.7 1z"></path>
        <ellipse transform="matrix(.9971 -.07593 .07593 .9971 -.877 5.007)" class="menteadivina_svg__st11" cx="65.4"
                 cy="14" rx=".6" ry=".6"></ellipse>
        <path fill="none" stroke="#bf1c7e" stroke-width=".312" stroke-miterlimit="10" d="M64.9 13.5l.9 1.1"></path></g>
    <path class="menteadivina_svg__st15"
          d="M21.9 42.8c-.7.1-1.1.6-1.1 1.2l1.4 10.7c.1.6.7 1 1.3.9.7-.1 1.1-.6 1.1-1.2l-1.3-10.7c-.1-.6-.7-1-1.4-.9z"></path>
    <g><ellipse transform="rotate(-14.335 22.321 44.312)" class="menteadivina_svg__st11" cx="22.3" cy="44.3" rx=".6" ry=".6"></ellipse>
        <path class="menteadivina_svg__st16" d="M21.7 43.9l1.2 1"></path></g>
    <g><ellipse class="menteadivina_svg__st11" cx="23.4" cy="51.9" rx=".6" ry=".6"></ellipse>
        <path class="menteadivina_svg__st16" d="M23.6 51.2l-.5 1.4"></path></g>
    <g><ellipse class="menteadivina_svg__st11" cx="13.1" cy="52.9" rx=".6" ry=".6"></ellipse>
        <path fill="none" stroke="#009a9a" stroke-width=".312" stroke-miterlimit="10" d="M13.4 52.2l-.7 1.3"></path></g>
    <path class="menteadivina_svg__st32"
          d="M98.9 43s-1.7 5.8-6.7 5.9c-5.1 0-5-3.4-5-4.3.1-1.4 1.8-1.7 2.2-.3.5 1.6 1.8 2.1 3.5 2.1 2.9.1 4.5-4.2 4.7-4.6.6-1.7 1.3 1.2 1.3 1.2zM99.4 39.7s.5-5.2-4.2-6.1c-4.8-.9-7.5 3.2-7.7 4.2s1.2 2.4 1.9.9c.8-1.7 3.2-2.8 4.8-2.5 2.8.4 3.6 3.1 3.5 3.5s1.7 0 1.7 0z"></path>
    <path class="menteadivina_svg__st32"
          d="M98.3 39.5s-1-.6-5.2.1c-5.2.9-5.7 3.2-5.6 4.5.1 1.5 1.8 1.7 2.2.3.5-1.5 1.9-2.1 3.6-2.6 2.7-.9 4.8-.6 4.8-.2-.1.5.2-2.1.2-2.1z"></path>
    <path d="M98.5 35.5h0c-.7 0-1.2.5-1.2 1.1l.1 10.8c0 .6.6 1.1 1.2 1.1h0c.7 0 1.2-.5 1.2-1.1l-.1-10.8c0-.6-.6-1.1-1.2-1.1z"
          fill="#f47d20" stroke="#f47d20" stroke-width=".935" stroke-miterlimit="10"></path>
    <g><ellipse transform="rotate(-7.161 98.612 37.147)" class="menteadivina_svg__st11" cx="98.6" cy="37.1" rx=".6" ry=".6"></ellipse>
        <path class="menteadivina_svg__st34" d="M98.1 36.5l1.1 1.3"></path></g>
    <g><ellipse transform="rotate(-27.834 98.828 44.752)" class="menteadivina_svg__st11" cx="98.8" cy="44.7" rx=".6" ry=".6"></ellipse>
        <path class="menteadivina_svg__st34" d="M99.1 44l-.7 1.4"></path></g>
    <g><ellipse transform="rotate(-18.748 88.483 44.316)" class="menteadivina_svg__st11" cx="88.5" cy="44.3" rx=".6" ry=".6"></ellipse>
        <path fill="none" stroke="#f04c23" stroke-width=".312" stroke-miterlimit="10" d="M88.8 43.7L88 45"></path></g>
    <path class="menteadivina_svg__st25"
          d="M39.1 34.8h-.6c-.8 0-1.4.5-1.4 1.3l-.9 17.5c0 .8.5 1.4 1.3 1.4h.6c.8 0 1.4-.5 1.4-1.3l.9-17.5c.1-.7-.5-1.4-1.3-1.4z"></path>
    <g><ellipse transform="rotate(-21.14 38.4 47.452)" class="menteadivina_svg__st11" cx="38.4" cy="47.4" rx=".8" ry=".8"></ellipse>
        <path class="menteadivina_svg__st26" d="M38.9 46.5l-1.2 1.9"></path></g>
    <g><ellipse transform="rotate(-24.439 56.49 51.846)" class="menteadivina_svg__st11" cx="56.5" cy="51.8" rx=".9" ry=".9"></ellipse>
        <path class="menteadivina_svg__st12" d="M57 50.9l-1.1 2"></path></g>
    <g><ellipse transform="rotate(-63.442 28.3 48.016)" class="menteadivina_svg__st11" cx="28.3" cy="48" rx=".8" ry=".8"></ellipse>
        <path fill="none" stroke="#a6ce39" stroke-width=".312" stroke-miterlimit="10" d="M28.1 47l.3 2.1"></path></g>
    <circle cx="44.4" cy="36" r="1.9" fill="#ec008c" stroke="#ec008c" stroke-width=".935" stroke-miterlimit="10"></circle>
    <path d="M65.9 37.6h0c-.9.1-1.5.7-1.5 1.4l1.2 12.2c.1.7.8 1.2 1.7 1.1h0c.9-.1 1.5-.7 1.5-1.4l-1.2-12.2c-.1-.7-.9-1.2-1.7-1.1z"
          fill="#ffc20e" stroke="#ffc20e" stroke-width=".935" stroke-miterlimit="10"></path>
    <circle cx="65.5" cy="34" r="1.9" fill="#fdb913" stroke="#fdb913" stroke-width=".935" stroke-miterlimit="10"></circle></svg>
