<svg fxFlex="grow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 126.4 149" >
    <path [attr.fill]="player.color"  d="M113.8 65.7h7.4v18.6h-7.4zM4.6 68.2h4.7v11.5H4.6z"></path>
    <path [attr.fill]="player.color"  d="M8.3 65.7h7.4v18.6H8.3z"></path>
    <path [attr.fill]="player.color"
          d="M21 7c-5.3-.2-9.8 3.9-10 9l3.1 120.5c-.1 5.2 4.1 9.6 9.5 9.8h82.6c5.3.2 9.8-5.5 10-10.7l1.3-120.5c.1-5.2-4.1-9.6-9.5-9.8L21 7z"></path>
    <path fill="white"
          d="M26.2 32.3c-4.9-.2-8.9 2.9-9 6.7l1.6 67.5c-.1 3.9 3.8 7.2 8.6 7.3l75.6-.6c4.9.2 8.9-2.9 9-6.7V39.8c.1-3.9-3.8-7.2-8.6-7.3l-77.2-.2zM103.9 140.8H27.2c-4.7 0-8.5-3.8-8.5-8.5v-4.7c0-4.7 3.8-8.5 8.5-8.5h76.7c4.7 0 8.5 3.8 8.5 8.5v4.7c0 4.7-3.8 8.5-8.5 8.5z"></path>
    <g>
        <clipPath id="clip-path-read-answer">
            <path  d="M26.2 32.3c-4.9-.2-8.9 2.9-9 6.7l1.6 67.5c-.1 3.9 3.8 7.2 8.6 7.3l75.6-.6c4.9.2 8.9-2.9 9-6.7V39.8c.1-3.9-3.8-7.2-8.6-7.3l-77.2-.2z"></path></clipPath>
        <g clip-path="url(#clip-path-read-answer)">
            <!--<use xlink:href="assets/images/robots/robot_1.svg"/>-->
            <use id="card-robot" transform="translate(3, 20)"  [attr.xlink:href]="'assets/images/robots/robots_level' + game.level + '.svg#robot' + player.robot.id"></use>
        </g>
    </g>
    <g>
        <text font-size='16' text-anchor="middle" x="50%" fill="white" y="18%">{{action}}</text>
        <text font-size='16' text-anchor="middle" x="50%" fill="black" y="90%">{{player.name}}</text>
    </g>
</svg>
