@import "~src/variables";

.game-complete-background-level-1 {
  background-color: $green-color;
}

.game-complete-background-level-2 {
  background-color: $orange-color;
}

.game-complete-background-level-3 {
  background-color: $black-color;
}

.st1 {
  display: inline
}

.st10, .st13, .st3, .st4, .st5, .st6 {
  fill: none;
  stroke: #f6861f;
  stroke-width: 6.9835;
  stroke-miterlimit: 10
}

.st10, .st13, .st4, .st5, .st6 {
  stroke-width: 5.8469
}

.st10, .st13, .st5, .st6 {
  stroke: #00aeef;
  stroke-width: 4.3647
}

.st10, .st13, .st6 {
  stroke: #bf1a8d;
  stroke-width: 6.9835
}

.st10, .st13 {
  stroke: #00ad4d;
  stroke-width: 6.4371
}

.st13 {
  stroke: #fff200;
  stroke-width: 5.7251
}

.st16, .st17, .st18, .st19, .st22, .st25 {
  fill: none;
  stroke: #f6861f;
  stroke-width: 5.97;
  stroke-miterlimit: 10
}

.st17, .st18, .st19, .st22, .st25 {
  stroke-width: 4.9984
}

.st18, .st19, .st22, .st25 {
  stroke: #00aeef;
  stroke-width: 3.7313
}

.st19, .st22, .st25 {
  stroke: #bf1a8d;
  stroke-width: 5.97
}

.st22, .st25 {
  stroke: #00ad4d;
  stroke-width: 5.503
}

.st25 {
  stroke: #fff200;
  stroke-width: 4.8943
}

.st28, .st29, .st30, .st31, .st32, .st33 {
  fill: none;
  stroke: #f6861f;
  stroke-width: 5.8156;
  stroke-miterlimit: 10
}

.st29, .st30, .st31, .st32, .st33 {
  stroke-width: 4.869
}

.st30, .st31, .st32, .st33 {
  stroke: #00aeef;
  stroke-width: 3.6347
}

.st31, .st32, .st33 {
  stroke: #bf1a8d;
  stroke-width: 5.8156
}

.st32, .st33 {
  stroke-width: 4.869
}

.st33 {
  stroke-width: 3.6347
}

.st34, .st37, .st41, .st42, .st43, .st44 {
  fill: none;
  stroke: #00ad4d;
  stroke-width: 5.3606;
  stroke-miterlimit: 10
}

.st37, .st41, .st42, .st43, .st44 {
  stroke: #ffd600;
  stroke-width: 5.9119
}

.st41, .st42, .st43, .st44 {
  stroke-width: 5.3606
}

.st42, .st43, .st44 {
  stroke: #fff200;
  stroke-width: 4.7676
}

.st43, .st44 {
  stroke-width: 3.9917
}

.st44 {
  stroke-width: 2.9798
}

.st45, .st46, .st47, .st48, .st51, .st54, .st59 {
  fill: none;
  stroke: #f6861f;
  stroke-width: 5.0421;
  stroke-miterlimit: 10
}

.st46, .st47, .st48, .st51, .st54, .st59 {
  stroke-width: 4.2215
}

.st47, .st48, .st51, .st54, .st59 {
  stroke: #00aeef;
  stroke-width: 3.1513
}

.st48, .st51, .st54, .st59 {
  stroke: #bf1a8d;
  stroke-width: 5.0421
}

.st51, .st54, .st59 {
  stroke: #00ad4d;
  stroke-width: 4.6476
}

.st54, .st59 {
  stroke: #ffd600;
  stroke-width: 5.1256
}

.st59 {
  stroke: #fff200;
  stroke-width: 4.1336
}

.st62 {
  fill: rgba(86, 88, 96, 0.15)
}

.st64 {
  fill: #fff
}

.st66 {
  fill: #133986
}

.st67 {
  fill: #8a8c8e
}

.st68 {
  fill: #7b7c7f
}

.st69 {
  fill: #c7c8ca
}

.st70 {
  fill: #848689
}

.st71 {
  fill: #fff;
  stroke: #939598;
  stroke-width: 3.962;
  stroke-miterlimit: 10
}

.st73 {
  font-size: 47.9473px
}

.st74 {
  font-size: 23px
}

.st75 {
  fill: #717375
}

.st76 {
  fill: #808285
}

.st77 {
  fill: #92278f
}

.st78 {
  fill: #a7a9ac
}

.st80 {
  fill: #00aeef
}

.st81 {
  fill: #0076c0
}

.st82 {
  fill: none;
  stroke: #006fba;
  stroke-width: .2108;
  stroke-miterlimit: 10
}

.st83 {
  fill: #6b0f6b
}

.st84 {
  fill: #8f278f
}

.st85 {
  fill: #f57e20
}

.st86 {
  fill: #7f2a90
}

.st87 {
  fill: #8c4d9e
}

.st88 {
  fill: #f7941d
}

.st89 {
  fill: #ffd600
}

.st90 {
  stroke: #fff;
  stroke-width: 6.986003e-02;
  stroke-miterlimit: 10
}

.st91 {
  fill: #ad1a15
}

.st92 {
  fill: #ee2831
}

.st93 {
  fill: #ec008c
}

.st94 {
  fill: none;
  stroke: #fff;
  stroke-width: .5592;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10
}

.st102 {
  fill: #94c940
}

.st103 {
  fill: #68bc47
}

.st104 {
  fill: none;
  stroke: #0970b8;
  stroke-width: .4815;
  stroke-miterlimit: 10
}

.st105 {
  fill: #6a246b
}

.st107 {
  fill: #f37f20
}

.st108 {
  fill: #8b4f9f
}

.st109, .st111 {
  fill: #231f20;
  stroke: #fff;
  stroke-width: .1596;
  stroke-miterlimit: 10
}

.st111 {
  fill: none;
  stroke-width: 1.2774;
  stroke-linecap: round;
  stroke-linejoin: round
}

.winner-shadow-level-1 {
  fill: #b3da49;
  opacity: .24;
}
.winner-shadow-level-2 {
  fill: #f58220;
  opacity: .24;
}
.winner-shadow-level-3 {
  fill: #747474;
  opacity: .24;
}
