<div *ngIf="winners" fxFlex="grow" [ngClass]="'game-complete-background-level-' + game.level"
     xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <svg fxFlex="grow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="176 0 720 595.3" style="position: absolute; z-index: 1" class="papel-picado">
    <g id="PAPEL_PICADO1" class="group st0">
      <g class="st1">
        <path class="st3"
              d="M298.7 115.2s9.9-4.1 9.9 4.7 5.8 10.5 8.1 10.5M413.6 130.2s-6.7 8.4-10.9.7c-4.2-7.6-10.2-6.3-12.2-5.2"></path>
        <path class="st4" d="M382.4 92.5s4.3 7.9-3 8.7-8.2 5.8-8 7.7"></path>
        <path class="st5"
              d="M430.2 150s9.9-4.1 9.9 4.7 5.8 10.5 8.1 10.5M538.7 187.8s-6.7 8.4-10.9.7-10.2-6.3-12.2-5.2M496.9 150.6s4.3 7.9-3 8.7c-7.3.8-8.2 5.8-8 7.7"></path>
        <path class="st3" d="M431.4 109s9.9-4.1 9.9 4.7 5.8 10.5 8.1 10.5"></path>
        <path class="st6" d="M379.8 327.6s-1.5-10.6 6.9-8.5c8.5 2.1 11.6-3.1 12.1-5.4"></path>
        <path d="M588.3 34.7s6.5 8.5-2 10.8c-8.4 2.2-8.6 8.3-8 10.6" fill="none" stroke="#bf1a8d" stroke-width="2"
              stroke-miterlimit="10"></path>
        <path d="M396.6 263.1s8.7-2.3 7.7 5c-1 7.2 3.6 9.3 5.6 9.6" fill="none" stroke="#bf1a8d"
              stroke-width="5.847" stroke-miterlimit="10"></path>
        <path d="M287.7 72.8s-1.5-10.6 6.9-8.5c8.5 2.1 11.6-3.1 12.1-5.4" fill="none" stroke="#bf1a8d"
              stroke-width="4.365" stroke-miterlimit="10"></path>
        <path class="st6" d="M390.6 207.9s-1.5-10.6 6.9-8.5 11.6-3.1 12.1-5.4"></path>
        <path class="st10"
              d="M541 224.7s-1.6-9.7 6.2-7.9c7.8 1.8 10.6-3 11.1-5.1M597.6 135.2s6.1 7.7-1.6 9.9c-7.7 2.2-7.8 7.8-7.2 9.9"></path>
        <path d="M555.4 165s8-2.2 7.2 4.5c-.8 6.7 3.5 8.6 5.3 8.8" fill="none" stroke="#00ad4d" stroke-width="5.389"
              stroke-miterlimit="10"></path>
        <path d="M599.8 113.9s-1.6-9.7 6.2-7.9c7.8 1.8 10.6-3 11.1-5.1" fill="none" stroke="#00ad4d"
              stroke-width="4.023" stroke-miterlimit="10"></path>
        <path class="st10" d="M549.1 114.3s-1.6-9.7 6.2-7.9c7.8 1.8 10.6-3 11.1-5.1"></path>
        <g>
          <path class="st13"
                d="M338.8 90.7s7.5 4.6 1.7 8.8-4.1 8.9-3 10.5M366.1 180.8s-8.8-.4-5.7-6.9c3-6.5-.7-9.8-2.4-10.6"></path>
          <path d="M370.5 135.1s-3.1 6.6-7.2 2.2c-4-4.4-7.8-2.6-9-1.5" fill="none" stroke="#fff200"
                stroke-width="4.793" stroke-miterlimit="10"></path>
          <path d="M379.1 194.7s7.5 4.6 1.7 8.8c-5.8 4.2-4.1 8.9-3 10.5" fill="none" stroke="#fff200"
                stroke-width="3.578" stroke-miterlimit="10"></path>
          <path class="st13" d="M408.3 160.4s7.5 4.6 1.7 8.8c-5.8 4.2-4.1 8.9-3 10.5"></path>
        </g>
        <path class="st3" d="M525.9 134.3s-6.7 8.4-10.9.7-10.2-6.3-12.2-5.2"></path>
        <path class="st4" d="M484 97.1s4.3 7.9-3 8.7c-7.3.8-8.2 5.8-8 7.7"></path>
      </g>
      <g class="st1">
        <path class="st16" d="M614.2 46.1s-9 1.6-7.4-5.7-3-9.8-4.9-10.2"></path>
        <path class="st17" d="M615.2 4.3s-1.6 7.5-6.8 3.9c-5.1-3.6-8.5-.8-9.5.5"></path>
        <path class="st18"
              d="M613.8 68.2s8.7 2.9 3.8 8.6c-4.9 5.6-2.1 10-.6 11.3M662.6 153.4s-9 1.6-7.4-5.7c1.6-7.3-3-9.8-4.9-10.2M656.4 105.9s-1.6 7.5-6.8 3.9-8.5-.8-9.5.5"></path>
        <path class="st16" d="M635.5 26.5s8.7 2.9 3.8 8.6c-4.9 5.6-2.1 10-.6 11.3"></path>
        <path class="st19"
              d="M481.6 154.4s4.9-7.7 9.2-1.6c4.3 6.1 9.2 4.5 10.8 3.4M576.2 127.8s-.6 9.1-7.3 5.8-10.2.5-11.1 2.3"></path>
        <path d="M521.9 97.5s6.9 3.4 2.2 7.5-2.9 8.1-1.8 9.3" fill="none" stroke="#bf1a8d" stroke-width="4.998"
              stroke-miterlimit="10"></path>
        <path d="M596.9 121.2s4.9-7.7 9.2-1.6c4.3 6.1 9.2 4.5 10.8 3.4" fill="none" stroke="#bf1a8d"
              stroke-width="3.731" stroke-miterlimit="10"></path>
        <path class="st19" d="M555.7 83.3s4.9-7.7 9.2-1.6c4.3 6.1 9.2 4.5 10.8 3.4"></path>
        <path class="st22"
              d="M643.3 178.5s4.4-7.2 8.5-1.6 8.6 4 10 2.9M730 152.5s-.4 8.4-6.6 5.5c-6.2-2.9-9.4.6-10.2 2.3"></path>
        <path d="M686.1 148.1s6.4 3 2.1 6.9c-4.3 3.9-2.5 7.5-1.5 8.6" fill="none" stroke="#00ad4d"
              stroke-width="4.607" stroke-miterlimit="10"></path>
        <path d="M743.4 140.1s4.4-7.2 8.5-1.6c4 5.6 8.6 4 10 2.9" fill="none" stroke="#00ad4d" stroke-width="3.439"
              stroke-miterlimit="10"></path>
        <path class="st22" d="M710.5 111.8s4.4-7.2 8.5-1.6c4 5.6 8.6 4 10 2.9"></path>
        <g>
          <path class="st25" d="M555.1 52s-5.4-5.2.2-7.7c5.6-2.5 5.1-6.7 4.4-8.2"></path>
          <path d="M583.7 25s-5.7 2.5-5.9-2.6c-.1-5.1-3.6-6.1-4.9-6" fill="none" stroke="#fff200"
                stroke-width="4.098" stroke-miterlimit="10"></path>
          <path d="M555.7 68.3s2.2 7.2-3.9 6.6-7.7 3.4-7.8 5" fill="none" stroke="#fff200" stroke-width="3.059"
                stroke-miterlimit="10"></path>
          <path class="st25" d="M593.9 62.6s2.2 7.2-3.9 6.6c-6.1-.5-7.7 3.4-7.8 5"></path>
        </g>
        <path class="st16" d="M684.3 111.7s-9 1.6-7.4-5.7c1.6-7.3-3-9.8-4.9-10.2"></path>
        <path class="st17" d="M678.2 64.2s-1.6 7.5-6.8 3.9c-5.1-3.6-8.5-.8-9.5.5"></path>
      </g>
      <g class="st1">
        <path class="st28"
              d="M619.1 281.2s-1.5-8.8 5.6-7.2 9.6-2.9 10-4.8M651.9 190.4s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9"></path>
        <path class="st29" d="M615.7 209.1s7.2-2.1 6.5 4c-.6 6.1 3.3 7.7 4.9 7.9"></path>
        <path class="st30"
              d="M671 180.5s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8M721.1 99s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9M683.4 126.4s7.2-2.1 6.5 4c-.6 6.1 3.3 7.7 4.9 7.9"></path>
        <path class="st28" d="M625.2 181.3s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8"></path>
        <path class="st31"
              d="M805.2 225.4s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8M711.9 246.5s1-8.8 7.4-5.3c6.4 3.5 10 0 10.9-1.7"></path>
        <path class="st32" d="M757.9 254.4s-6.5-3.7-1.7-7.4 3.2-7.7 2.2-9"></path>
        <path class="st33" d="M696.9 258.7s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8"></path>
        <path class="st31" d="M729.5 290.8s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8"></path>
        <path class="st34"
              d="M751.6 103.7s-8.2-.5-5.3-6.5-.6-9.2-2.2-10M688.9 41.7s7.4-3.6 7.8 3.1 4.9 7.8 6.7 7.7"></path>
        <path d="M705.6 81.3s-.4-6.9 4.9-5c5.3 1.8 7.6-1.3 8.1-2.7" fill="none" stroke="#00ad4d"
              stroke-width="4.488" stroke-miterlimit="10"></path>
        <path d="M672 36.1s-8.2-.5-5.3-6.5-.6-9.2-2.2-10" fill="none" stroke="#00ad4d" stroke-width="3.35"
              stroke-miterlimit="10"></path>
        <path class="st34" d="M663.2 77.4s-8.2-.5-5.3-6.5-.6-9.2-2.2-10"></path>
        <path class="st37" d="M398.2 135.3s5.6 7.1-1.5 9.1-7.2 7.2-6.6 9.1"></path>
        <path d="M359.5 162.7s7.3-2 6.6 4.1c-.7 6.1 3.2 7.9 4.9 8.1" fill="none" stroke="#ffd600"
              stroke-width="4.95" stroke-miterlimit="10"></path>
        <path d="M400.3 115.8s-1.5-8.9 5.7-7.3c7.2 1.7 9.8-2.8 10.2-4.7" fill="none" stroke="#ffd600"
              stroke-width="3.695" stroke-miterlimit="10"></path>
        <path class="st37" d="M353.7 116.1s-1.5-8.9 5.7-7.3c7.2 1.7 9.8-2.8 10.2-4.7"></path>
        <path d="M433.1 151s-8.2-.5-5.3-6.5c2.9-6-.6-9.2-2.2-10" fill="none" stroke="#ffd600" stroke-width="3.35"
              stroke-miterlimit="10"></path>
        <path class="st41" d="M424.3 192.3s-8.2-.5-5.3-6.5-.6-9.2-2.2-10"></path>
        <g>
          <path class="st42"
                d="M606.3 244.2s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3M684.5 238.1s-1.9 7.1-6.6 3.4c-4.7-3.6-8.1-1.2-9.1.1"></path>
          <path class="st43" d="M648.2 226.3s4.8 3.7.5 6.2-3.5 5.9-2.9 7"></path>
          <path class="st44" d="M698.2 230.1s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
          <path class="st42" d="M675.5 200.1s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
        </g>
        <path class="st28" d="M733.3 181.8s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9"></path>
        <path class="st29" d="M628.2 132.4s7.2-2.1 6.5 4c-.6 6.1 3.3 7.7 4.9 7.9"></path>
      </g>
      <g class="st1">
        <path class="st28"
              d="M725.1 100.5s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8M757.9 9.8s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9"></path>
        <path class="st29" d="M721.7 28.4s7.2-2.1 6.5 4c-.6 6.1 3.3 7.7 4.9 7.9"></path>
        <path class="st31" d="M815.7 30.8s6.3-6.3 9.1.4 7.8 6.2 9.6 5.4"></path>
        <path class="st32" d="M845.2 79.7s-6.5-3.7-1.7-7.4c4.8-3.8 3.2-7.7 2.2-9"></path>
        <path class="st33" d="M802.9 78s-5.2 7.2-9 1.1-8.7-4.8-10.4-3.8"></path>
        <path class="st31" d="M807.5 103.5s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8"></path>
        <path class="st41" d="M424.7 25.6s-8.2-.5-5.3-6.5-.6-9.2-2.2-10"></path>
        <path class="st42" d="M712.3 63.5s5.1-5.3 7.5.2 6.5 5 8 4.3M790.5 57.5s-1.9 7.1-6.6 3.4-8.1-1.2-9.1.1"></path>
        <path class="st43" d="M754.2 45.7s4.8 3.7.5 6.2-3.5 5.9-2.9 7"></path>
        <path class="st44" d="M804.2 49.4s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
        <path class="st42" d="M781.5 19.4s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
      </g>
      <g class="st1">
        <path class="st28"
              d="M247.1 192.5s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8M279.9 101.8s5.6 6.9-1.4 9-7 7.1-6.4 9"></path>
        <path class="st29" d="M243.7 120.4s7.2-2.1 6.5 4c-.6 6.1 3.3 7.7 4.9 7.9"></path>
        <path class="st30"
              d="M299 91.8s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8M349.1 10.3s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9M311.4 37.7s7.2-2.1 6.5 4 3.3 7.7 4.9 7.9"></path>
        <path class="st28" d="M253.2 92.6s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8"></path>
        <path class="st31"
              d="M463.2 136.7s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8M339.9 157.8s1-8.8 7.4-5.3c6.4 3.5 10 0 10.9-1.7"></path>
        <path class="st32" d="M385.9 165.7s-6.5-3.7-1.7-7.4 3.2-7.7 2.2-9"></path>
        <path class="st33" d="M324.9 170s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8"></path>
        <path class="st31" d="M357.5 202.2s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8"></path>
        <path class="st34" d="M379.6 15.1s-8.2-.5-5.3-6.5c2.9-6-.6-9.2-2.2-10"></path>
        <path class="st42"
              d="M234.3 155.5s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3M312.5 149.5s-1.9 7.1-6.6 3.4c-4.7-3.6-8.1-1.2-9.1.1"></path>
        <path class="st43" d="M276.2 137.7s4.8 3.7.5 6.2-3.5 5.9-2.9 7"></path>
        <path class="st44" d="M326.2 141.4s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
        <path class="st42" d="M303.5 111.4s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
        <path class="st28" d="M303.3 11.1s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9"></path>
        <path class="st29" d="M265.6 38.5s7.2-2.1 6.5 4 3.3 7.7 4.9 7.9"></path>
      </g>
      <g class="st1">
        <path class="st45" d="M347.4 123s-1.6-7.5 4.6-6.4 8.2-2.8 8.5-4.5M372.6 43.2s5.1 5.8-.9 7.8-5.8 6.4-5.3 8"></path>
        <path class="st46" d="M341.9 60.6s6.1-2.1 5.8 3.2c-.3 5.3 3.1 6.6 4.5 6.6"></path>
        <path class="st47"
              d="M388.8 33.9s-1.6-7.5 4.6-6.4c6.2 1.1 8.2-2.8 8.5-4.5M498.3 69.5s-3.2 7-7.5 2.4-8.2-2.7-9.5-1.5M462.5 50.7s4.4 4.8-.6 6.6c-4.9 1.8-4.7 5.5-4.2 6.8"></path>
        <path class="st45" d="M349.2 36.2s-1.6-7.5 4.6-6.4 8.2-2.8 8.5-4.5"></path>
        <path class="st48"
              d="M522.8 71.3s-4.9-6 1.2-7.8c6-1.8 6-6.2 5.5-7.8M413.8 47.2s.6-7.7 6.2-4.9c5.6 2.8 8.6-.3 9.4-1.8"></path>
        <path d="M466.6 94.9s-5.8-2.9-1.7-6.4 2.5-6.8 1.6-7.9" fill="none" stroke="#bf1a8d" stroke-width="4.221"
              stroke-miterlimit="10"></path>
        <path d="M414 100.7s-4.3 6.5-7.8 1.2c-3.5-5.2-7.7-3.9-9.1-2.9" fill="none" stroke="#bf1a8d"
              stroke-width="3.151" stroke-miterlimit="10"></path>
        <path class="st48" d="M444.2 67.2s1.2 7.6-4.9 6.2c-6.1-1.4-8.3 2.4-8.7 4"></path>
        <path class="st51"
              d="M506.3 95s-2.8-6.5 3-6.6 6.9-4 6.9-5.5M523 23.7s5.6 4.4.6 7.3c-5 2.9-4.1 6.8-3.4 8.2"></path>
        <path d="M506 50.6s5.2-2.9 5.8 1.9c.6 4.8 3.9 5.4 5.2 5.2" fill="none" stroke="#00ad4d" stroke-width="3.891"
              stroke-miterlimit="10"></path>
        <path d="M547 20.3s-2.8-6.5 3-6.6c5.8-.1 6.9-4 6.9-5.5" fill="none" stroke="#00ad4d" stroke-width="2.905"
              stroke-miterlimit="10"></path>
        <path class="st51" d="M492.8 16.1s-2.8-6.5 3-6.6c5.8-.1 6.9-4 6.9-5.5"></path>
        <path class="st54" d="M715.9 40.4s5.1 6-1 8-6 6.5-5.4 8.1"></path>
        <path d="M683.3 65.4s6.3-2 5.8 3.3c-.4 5.3 3.1 6.7 4.5 6.8" fill="none" stroke="#ffd600"
              stroke-width="4.291" stroke-miterlimit="10"></path>
        <path d="M717 23.4s-1.6-7.7 4.7-6.5c6.3 1.2 8.4-2.8 8.7-4.4" fill="none" stroke="#ffd600"
              stroke-width="3.204" stroke-miterlimit="10"></path>
        <path class="st54" d="M676.7 25.3s-1.6-7.7 4.7-6.5c6.3 1.2 8.4-2.8 8.7-4.4"></path>
        <path d="M746.7 52.7s-7.1-.1-4.8-5.4c2.3-5.3-.8-7.9-2.2-8.5" fill="none" stroke="#ffd600"
              stroke-width="2.905" stroke-miterlimit="10"></path>
        <path d="M740.5 88.8s-7.1-.1-4.8-5.4c2.3-5.3-.8-7.9-2.2-8.5" fill="none" stroke="#ffd600"
              stroke-width="4.648" stroke-miterlimit="10"></path>
        <g>
          <path class="st59"
                d="M335 91.4s4.2-4.7 6.5-.1c2.3 4.6 5.8 4.1 7 3.5M402.5 83.4s-1.4 6.2-5.6 3.2c-4.2-3-7.1-.7-7.8.4"></path>
          <path d="M370.6 74.4s4.3 3.1.7 5.4c-3.7 2.3-2.9 5.2-2.2 6.2" fill="none" stroke="#fff200"
                stroke-width="3.461" stroke-miterlimit="10"></path>
          <path d="M414.1 75.9s4.2-4.7 6.5-.1 5.8 4.1 7 3.5" fill="none" stroke="#fff200" stroke-width="2.583"
                stroke-miterlimit="10"></path>
          <path class="st59" d="M393.4 50.7s4.2-4.7 6.5-.1c2.3 4.6 5.8 4.1 7 3.5"></path>
        </g>
        <path class="st45" d="M480 34.2s-3.2 7-7.5 2.4-8.2-2.7-9.5-1.5"></path>
        <path class="st46" d="M444.2 15.4s4.4 4.8-.6 6.6c-4.9 1.8-4.7 5.5-4.2 6.8"></path>
      </g>
    </g>
    <g id="PAPEL_PICADO2" class="group st0">
      <g class="st1">
        <path class="st3"
              d="M298.7 115.2s9.9-4.1 9.9 4.7 5.8 10.5 8.1 10.5M413.6 130.2s-6.7 8.4-10.9.7c-4.2-7.6-10.2-6.3-12.2-5.2"></path>
        <path class="st4" d="M382.4 92.5s4.3 7.9-3 8.7-8.2 5.8-8 7.7"></path>
        <path class="st5"
              d="M430.2 150s9.9-4.1 9.9 4.7 5.8 10.5 8.1 10.5M538.7 187.8s-6.7 8.4-10.9.7-10.2-6.3-12.2-5.2M496.9 150.6s4.3 7.9-3 8.7c-7.3.8-8.2 5.8-8 7.7"></path>
        <path class="st3" d="M431.4 109s9.9-4.1 9.9 4.7 5.8 10.5 8.1 10.5"></path>
        <path class="st6" d="M379.8 327.6s-1.5-10.6 6.9-8.5c8.5 2.1 11.6-3.1 12.1-5.4"></path>
        <path d="M588.3 34.7s6.5 8.5-2 10.8c-8.4 2.2-8.6 8.3-8 10.6" fill="none" stroke="#bf1a8d" stroke-width="2"
              stroke-miterlimit="10"></path>
        <path d="M396.6 263.1s8.7-2.3 7.7 5c-1 7.2 3.6 9.3 5.6 9.6" fill="none" stroke="#bf1a8d"
              stroke-width="5.847" stroke-miterlimit="10"></path>
        <path d="M287.7 72.8s-1.5-10.6 6.9-8.5c8.5 2.1 11.6-3.1 12.1-5.4" fill="none" stroke="#bf1a8d"
              stroke-width="4.365" stroke-miterlimit="10"></path>
        <path class="st6" d="M390.6 207.9s-1.5-10.6 6.9-8.5 11.6-3.1 12.1-5.4"></path>
        <path class="st10"
              d="M541 224.7s-1.6-9.7 6.2-7.9c7.8 1.8 10.6-3 11.1-5.1M597.6 135.2s6.1 7.7-1.6 9.9c-7.7 2.2-7.8 7.8-7.2 9.9"></path>
        <path d="M555.4 165s8-2.2 7.2 4.5c-.8 6.7 3.5 8.6 5.3 8.8" fill="none" stroke="#00ad4d" stroke-width="5.389"
              stroke-miterlimit="10"></path>
        <path d="M599.8 113.9s-1.6-9.7 6.2-7.9c7.8 1.8 10.6-3 11.1-5.1" fill="none" stroke="#00ad4d"
              stroke-width="4.023" stroke-miterlimit="10"></path>
        <path class="st10" d="M549.1 114.3s-1.6-9.7 6.2-7.9c7.8 1.8 10.6-3 11.1-5.1"></path>
        <g>
          <path class="st13"
                d="M338.8 90.7s7.5 4.6 1.7 8.8-4.1 8.9-3 10.5M366.1 180.8s-8.8-.4-5.7-6.9c3-6.5-.7-9.8-2.4-10.6"></path>
          <path d="M370.5 135.1s-3.1 6.6-7.2 2.2c-4-4.4-7.8-2.6-9-1.5" fill="none" stroke="#fff200"
                stroke-width="4.793" stroke-miterlimit="10"></path>
          <path d="M379.1 194.7s7.5 4.6 1.7 8.8c-5.8 4.2-4.1 8.9-3 10.5" fill="none" stroke="#fff200"
                stroke-width="3.578" stroke-miterlimit="10"></path>
          <path class="st13" d="M408.3 160.4s7.5 4.6 1.7 8.8c-5.8 4.2-4.1 8.9-3 10.5"></path>
        </g>
        <path class="st3" d="M525.9 134.3s-6.7 8.4-10.9.7-10.2-6.3-12.2-5.2"></path>
        <path class="st4" d="M484 97.1s4.3 7.9-3 8.7c-7.3.8-8.2 5.8-8 7.7"></path>
      </g>
      <g class="st1">
        <path class="st16" d="M614.2 46.1s-9 1.6-7.4-5.7-3-9.8-4.9-10.2"></path>
        <path class="st17" d="M615.2 4.3s-1.6 7.5-6.8 3.9c-5.1-3.6-8.5-.8-9.5.5"></path>
        <path class="st18"
              d="M613.8 68.2s8.7 2.9 3.8 8.6c-4.9 5.6-2.1 10-.6 11.3M662.6 153.4s-9 1.6-7.4-5.7c1.6-7.3-3-9.8-4.9-10.2M656.4 105.9s-1.6 7.5-6.8 3.9-8.5-.8-9.5.5"></path>
        <path class="st16" d="M635.5 26.5s8.7 2.9 3.8 8.6c-4.9 5.6-2.1 10-.6 11.3"></path>
        <path class="st19"
              d="M481.6 154.4s4.9-7.7 9.2-1.6c4.3 6.1 9.2 4.5 10.8 3.4M576.2 127.8s-.6 9.1-7.3 5.8-10.2.5-11.1 2.3"></path>
        <path d="M521.9 97.5s6.9 3.4 2.2 7.5-2.9 8.1-1.8 9.3" fill="none" stroke="#bf1a8d" stroke-width="4.998"
              stroke-miterlimit="10"></path>
        <path d="M596.9 121.2s4.9-7.7 9.2-1.6c4.3 6.1 9.2 4.5 10.8 3.4" fill="none" stroke="#bf1a8d"
              stroke-width="3.731" stroke-miterlimit="10"></path>
        <path class="st19" d="M555.7 83.3s4.9-7.7 9.2-1.6c4.3 6.1 9.2 4.5 10.8 3.4"></path>
        <path class="st22"
              d="M643.3 178.5s4.4-7.2 8.5-1.6 8.6 4 10 2.9M730 152.5s-.4 8.4-6.6 5.5c-6.2-2.9-9.4.6-10.2 2.3"></path>
        <path d="M686.1 148.1s6.4 3 2.1 6.9c-4.3 3.9-2.5 7.5-1.5 8.6" fill="none" stroke="#00ad4d"
              stroke-width="4.607" stroke-miterlimit="10"></path>
        <path d="M743.4 140.1s4.4-7.2 8.5-1.6c4 5.6 8.6 4 10 2.9" fill="none" stroke="#00ad4d" stroke-width="3.439"
              stroke-miterlimit="10"></path>
        <path class="st22" d="M710.5 111.8s4.4-7.2 8.5-1.6c4 5.6 8.6 4 10 2.9"></path>
        <g>
          <path class="st25" d="M555.1 52s-5.4-5.2.2-7.7c5.6-2.5 5.1-6.7 4.4-8.2"></path>
          <path d="M583.7 25s-5.7 2.5-5.9-2.6c-.1-5.1-3.6-6.1-4.9-6" fill="none" stroke="#fff200"
                stroke-width="4.098" stroke-miterlimit="10"></path>
          <path d="M555.7 68.3s2.2 7.2-3.9 6.6-7.7 3.4-7.8 5" fill="none" stroke="#fff200" stroke-width="3.059"
                stroke-miterlimit="10"></path>
          <path class="st25" d="M593.9 62.6s2.2 7.2-3.9 6.6c-6.1-.5-7.7 3.4-7.8 5"></path>
        </g>
        <path class="st16" d="M684.3 111.7s-9 1.6-7.4-5.7c1.6-7.3-3-9.8-4.9-10.2"></path>
        <path class="st17" d="M678.2 64.2s-1.6 7.5-6.8 3.9c-5.1-3.6-8.5-.8-9.5.5"></path>
      </g>
      <g class="st1">
        <path class="st28"
              d="M619.1 281.2s-1.5-8.8 5.6-7.2 9.6-2.9 10-4.8M651.9 190.4s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9"></path>
        <path class="st29" d="M615.7 209.1s7.2-2.1 6.5 4c-.6 6.1 3.3 7.7 4.9 7.9"></path>
        <path class="st30"
              d="M671 180.5s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8M721.1 99s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9M683.4 126.4s7.2-2.1 6.5 4c-.6 6.1 3.3 7.7 4.9 7.9"></path>
        <path class="st28" d="M625.2 181.3s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8"></path>
        <path class="st31"
              d="M805.2 225.4s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8M711.9 246.5s1-8.8 7.4-5.3c6.4 3.5 10 0 10.9-1.7"></path>
        <path class="st32" d="M757.9 254.4s-6.5-3.7-1.7-7.4 3.2-7.7 2.2-9"></path>
        <path class="st33" d="M696.9 258.7s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8"></path>
        <path class="st31" d="M729.5 290.8s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8"></path>
        <path class="st34"
              d="M751.6 103.7s-8.2-.5-5.3-6.5-.6-9.2-2.2-10M688.9 41.7s7.4-3.6 7.8 3.1 4.9 7.8 6.7 7.7"></path>
        <path d="M705.6 81.3s-.4-6.9 4.9-5c5.3 1.8 7.6-1.3 8.1-2.7" fill="none" stroke="#00ad4d"
              stroke-width="4.488" stroke-miterlimit="10"></path>
        <path d="M672 36.1s-8.2-.5-5.3-6.5-.6-9.2-2.2-10" fill="none" stroke="#00ad4d" stroke-width="3.35"
              stroke-miterlimit="10"></path>
        <path class="st34" d="M663.2 77.4s-8.2-.5-5.3-6.5-.6-9.2-2.2-10"></path>
        <path class="st37" d="M398.2 135.3s5.6 7.1-1.5 9.1-7.2 7.2-6.6 9.1"></path>
        <path d="M359.5 162.7s7.3-2 6.6 4.1c-.7 6.1 3.2 7.9 4.9 8.1" fill="none" stroke="#ffd600"
              stroke-width="4.95" stroke-miterlimit="10"></path>
        <path d="M400.3 115.8s-1.5-8.9 5.7-7.3c7.2 1.7 9.8-2.8 10.2-4.7" fill="none" stroke="#ffd600"
              stroke-width="3.695" stroke-miterlimit="10"></path>
        <path class="st37" d="M353.7 116.1s-1.5-8.9 5.7-7.3c7.2 1.7 9.8-2.8 10.2-4.7"></path>
        <path d="M433.1 151s-8.2-.5-5.3-6.5c2.9-6-.6-9.2-2.2-10" fill="none" stroke="#ffd600" stroke-width="3.35"
              stroke-miterlimit="10"></path>
        <path class="st41" d="M424.3 192.3s-8.2-.5-5.3-6.5-.6-9.2-2.2-10"></path>
        <g>
          <path class="st42"
                d="M606.3 244.2s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3M684.5 238.1s-1.9 7.1-6.6 3.4c-4.7-3.6-8.1-1.2-9.1.1"></path>
          <path class="st43" d="M648.2 226.3s4.8 3.7.5 6.2-3.5 5.9-2.9 7"></path>
          <path class="st44" d="M698.2 230.1s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
          <path class="st42" d="M675.5 200.1s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
        </g>
        <path class="st28" d="M733.3 181.8s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9"></path>
        <path class="st29" d="M628.2 132.4s7.2-2.1 6.5 4c-.6 6.1 3.3 7.7 4.9 7.9"></path>
      </g>
      <g class="st1">
        <path class="st28"
              d="M725.1 100.5s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8M757.9 9.8s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9"></path>
        <path class="st29" d="M721.7 28.4s7.2-2.1 6.5 4c-.6 6.1 3.3 7.7 4.9 7.9"></path>
        <path class="st31" d="M815.7 30.8s6.3-6.3 9.1.4 7.8 6.2 9.6 5.4"></path>
        <path class="st32" d="M845.2 79.7s-6.5-3.7-1.7-7.4c4.8-3.8 3.2-7.7 2.2-9"></path>
        <path class="st33" d="M802.9 78s-5.2 7.2-9 1.1-8.7-4.8-10.4-3.8"></path>
        <path class="st31" d="M807.5 103.5s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8"></path>
        <path class="st41" d="M424.7 25.6s-8.2-.5-5.3-6.5-.6-9.2-2.2-10"></path>
        <path class="st42" d="M712.3 63.5s5.1-5.3 7.5.2 6.5 5 8 4.3M790.5 57.5s-1.9 7.1-6.6 3.4-8.1-1.2-9.1.1"></path>
        <path class="st43" d="M754.2 45.7s4.8 3.7.5 6.2-3.5 5.9-2.9 7"></path>
        <path class="st44" d="M804.2 49.4s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
        <path class="st42" d="M781.5 19.4s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
      </g>
      <g class="st1">
        <path class="st28"
              d="M247.1 192.5s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8M279.9 101.8s5.6 6.9-1.4 9-7 7.1-6.4 9"></path>
        <path class="st29" d="M243.7 120.4s7.2-2.1 6.5 4c-.6 6.1 3.3 7.7 4.9 7.9"></path>
        <path class="st30"
              d="M299 91.8s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8M349.1 10.3s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9M311.4 37.7s7.2-2.1 6.5 4 3.3 7.7 4.9 7.9"></path>
        <path class="st28" d="M253.2 92.6s-1.5-8.8 5.6-7.2c7.1 1.6 9.6-2.9 10-4.8"></path>
        <path class="st31"
              d="M463.2 136.7s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8M339.9 157.8s1-8.8 7.4-5.3c6.4 3.5 10 0 10.9-1.7"></path>
        <path class="st32" d="M385.9 165.7s-6.5-3.7-1.7-7.4 3.2-7.7 2.2-9"></path>
        <path class="st33" d="M324.9 170s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8"></path>
        <path class="st31" d="M357.5 202.2s-5.2 7.2-9 1.1c-3.8-6.2-8.7-4.8-10.4-3.8"></path>
        <path class="st34" d="M379.6 15.1s-8.2-.5-5.3-6.5c2.9-6-.6-9.2-2.2-10"></path>
        <path class="st42"
              d="M234.3 155.5s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3M312.5 149.5s-1.9 7.1-6.6 3.4c-4.7-3.6-8.1-1.2-9.1.1"></path>
        <path class="st43" d="M276.2 137.7s4.8 3.7.5 6.2-3.5 5.9-2.9 7"></path>
        <path class="st44" d="M326.2 141.4s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
        <path class="st42" d="M303.5 111.4s5.1-5.3 7.5.2c2.4 5.5 6.5 5 8 4.3"></path>
        <path class="st28" d="M303.3 11.1s5.6 6.9-1.4 9c-7 2.1-7 7.1-6.4 9"></path>
        <path class="st29" d="M265.6 38.5s7.2-2.1 6.5 4 3.3 7.7 4.9 7.9"></path>
      </g>
      <g class="st1">
        <path class="st45" d="M347.4 123s-1.6-7.5 4.6-6.4 8.2-2.8 8.5-4.5M372.6 43.2s5.1 5.8-.9 7.8-5.8 6.4-5.3 8"></path>
        <path class="st46" d="M341.9 60.6s6.1-2.1 5.8 3.2c-.3 5.3 3.1 6.6 4.5 6.6"></path>
        <path class="st47"
              d="M388.8 33.9s-1.6-7.5 4.6-6.4c6.2 1.1 8.2-2.8 8.5-4.5M498.3 69.5s-3.2 7-7.5 2.4-8.2-2.7-9.5-1.5M462.5 50.7s4.4 4.8-.6 6.6c-4.9 1.8-4.7 5.5-4.2 6.8"></path>
        <path class="st45" d="M349.2 36.2s-1.6-7.5 4.6-6.4 8.2-2.8 8.5-4.5"></path>
        <path class="st48"
              d="M522.8 71.3s-4.9-6 1.2-7.8c6-1.8 6-6.2 5.5-7.8M413.8 47.2s.6-7.7 6.2-4.9c5.6 2.8 8.6-.3 9.4-1.8"></path>
        <path d="M466.6 94.9s-5.8-2.9-1.7-6.4 2.5-6.8 1.6-7.9" fill="none" stroke="#bf1a8d" stroke-width="4.221"
              stroke-miterlimit="10"></path>
        <path d="M414 100.7s-4.3 6.5-7.8 1.2c-3.5-5.2-7.7-3.9-9.1-2.9" fill="none" stroke="#bf1a8d"
              stroke-width="3.151" stroke-miterlimit="10"></path>
        <path class="st48" d="M444.2 67.2s1.2 7.6-4.9 6.2c-6.1-1.4-8.3 2.4-8.7 4"></path>
        <path class="st51"
              d="M506.3 95s-2.8-6.5 3-6.6 6.9-4 6.9-5.5M523 23.7s5.6 4.4.6 7.3c-5 2.9-4.1 6.8-3.4 8.2"></path>
        <path d="M506 50.6s5.2-2.9 5.8 1.9c.6 4.8 3.9 5.4 5.2 5.2" fill="none" stroke="#00ad4d" stroke-width="3.891"
              stroke-miterlimit="10"></path>
        <path d="M547 20.3s-2.8-6.5 3-6.6c5.8-.1 6.9-4 6.9-5.5" fill="none" stroke="#00ad4d" stroke-width="2.905"
              stroke-miterlimit="10"></path>
        <path class="st51" d="M492.8 16.1s-2.8-6.5 3-6.6c5.8-.1 6.9-4 6.9-5.5"></path>
        <path class="st54" d="M715.9 40.4s5.1 6-1 8-6 6.5-5.4 8.1"></path>
        <path d="M683.3 65.4s6.3-2 5.8 3.3c-.4 5.3 3.1 6.7 4.5 6.8" fill="none" stroke="#ffd600"
              stroke-width="4.291" stroke-miterlimit="10"></path>
        <path d="M717 23.4s-1.6-7.7 4.7-6.5c6.3 1.2 8.4-2.8 8.7-4.4" fill="none" stroke="#ffd600"
              stroke-width="3.204" stroke-miterlimit="10"></path>
        <path class="st54" d="M676.7 25.3s-1.6-7.7 4.7-6.5c6.3 1.2 8.4-2.8 8.7-4.4"></path>
        <path d="M746.7 52.7s-7.1-.1-4.8-5.4c2.3-5.3-.8-7.9-2.2-8.5" fill="none" stroke="#ffd600"
              stroke-width="2.905" stroke-miterlimit="10"></path>
        <path d="M740.5 88.8s-7.1-.1-4.8-5.4c2.3-5.3-.8-7.9-2.2-8.5" fill="none" stroke="#ffd600"
              stroke-width="4.648" stroke-miterlimit="10"></path>
        <g>
          <path class="st59"
                d="M335 91.4s4.2-4.7 6.5-.1c2.3 4.6 5.8 4.1 7 3.5M402.5 83.4s-1.4 6.2-5.6 3.2c-4.2-3-7.1-.7-7.8.4"></path>
          <path d="M370.6 74.4s4.3 3.1.7 5.4c-3.7 2.3-2.9 5.2-2.2 6.2" fill="none" stroke="#fff200"
                stroke-width="3.461" stroke-miterlimit="10"></path>
          <path d="M414.1 75.9s4.2-4.7 6.5-.1 5.8 4.1 7 3.5" fill="none" stroke="#fff200" stroke-width="2.583"
                stroke-miterlimit="10"></path>
          <path class="st59" d="M393.4 50.7s4.2-4.7 6.5-.1c2.3 4.6 5.8 4.1 7 3.5"></path>
        </g>
        <path class="st45" d="M480 34.2s-3.2 7-7.5 2.4-8.2-2.7-9.5-1.5"></path>
        <path class="st46" d="M444.2 15.4s4.4 4.8-.6 6.6c-4.9 1.8-4.7 5.5-4.2 6.8"></path>
      </g>
    </g>
  </svg>
  <svg fxFlex="grow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="176 0 720 595.3" style="z-index: 2">

    <g id="BOTON_HOME" (click)="onClickHome()">
      <path [ngClass]="'winner-shadow-level-' + game.level"
            d="M563.7 500.5c-4.5-.3-6.4 2.2-6.5 5.7l.9 40c-.5 3.5 1 6.6 5.5 6.9l41.9 5.4c4.5.3 8.3-2.2 8.6-5.7l5.9-41.7c.3-3.5-3.2-6.6-7.6-6.9l-48.7-3.7z"></path>
      <path d="M613.4 502.3c4.3-.3 6.2 2.2 6.5 5.5l-.9 38.8c.3 3.4-1.3 6.4-5.6 6.7l-40.6 5.3c-4.3.3-8.1-2.2-8.3-5.5l-5.7-40.5c-.3-3.4 3.1-6.4 7.4-6.7l47.2-3.6z"
            fill="#f04e23"></path>
      <path class="st64"
            d="M590.7 512.5c-1-1.1-2.5-1.1-3.5 0L573.3 530v15.2c0 1.3 1 2.3 2.3 2.3h8.7v-8.7c0-1.8 1.5-3.3 3.3-3.3h2.7c1.8 0 3.3 1.5 3.3 3.3v8.7h8.7c1.3 0 2.3-1 2.3-2.3V530l-13.9-17.5z"></path>
    </g>
    <g id="BOTON_REINICIO" (click)="onClickRestart()">
      <path [ngClass]="'winner-shadow-level-' + game.level"
            d="M490 558.5c4.5.3 6.4-2.2 6.5-5.7l-.9-40c.5-3.5-1-6.6-5.5-6.9l-41.9-5.4c-4.5-.3-8.3 2.2-8.6 5.7l-5.9 41.7c-.3 3.5 3.2 6.6 7.6 6.9l48.7 3.7z"></path>
      <path d="M440.3 556.7c-4.3.3-6.2-2.2-6.5-5.5l.9-38.8c-.3-3.4 1.3-6.4 5.6-6.7l40.6-5.3c4.3-.3 8.1 2.2 8.3 5.5l5.7 40.5c.3 3.4-3.1 6.4-7.4 6.7l-47.2 3.6z"
            fill="#18469d"></path>
      <path class="st66"
            d="M481.8 536.6c2-4.3 2.2-9 .6-13.4-1.7-4.5-5.1-8.1-9.7-10.1-1.3-.6-2.8 0-3.4 1.3-.6 1.3 0 2.8 1.3 3.4 3.3 1.4 5.7 4 6.9 7.2 1.2 3.1 1 6.4-.4 9.4-.9 1.9-2.3 3.6-4 4.8v-.3c.1-1.4-1.1-2.6-2.5-2.7-1.4 0-2.6 1.1-2.7 2.5l-.2 5c0 .9.3 1.8.9 2.5.6.7 1.5 1.1 2.4 1.1l5.1.2h.1c1.4 0 2.5-1.1 2.6-2.5 0-1.1-.7-2.1-1.7-2.5 2.1-1.7 3.7-3.6 4.7-5.9zM461.2 514.9c-.2-.5-.5-1-1-1.3-.6-.6-1.4-.9-2.2-1l-5.2-.4c-1.4-.1-2.7.9-2.8 2.3-.1 1.1.6 2.2 1.6 2.6-1.6 1.5-3 3.4-4 5.4-2 4.3-2.2 9-.6 13.4 1.7 4.5 5.1 8.1 9.7 10.1.3.1.7.2 1 .2 1 0 1.9-.6 2.4-1.5.6-1.3 0-2.8-1.3-3.4-3.3-1.4-5.7-4-6.9-7.2-1.2-3.1-1-6.4.4-9.4.9-1.8 2.1-3.4 3.7-4.6v.8c-.1 1.4 1.1 2.6 2.5 2.7h.1c1.4 0 2.5-1.1 2.6-2.5l.2-4.9c0-.3 0-.8-.2-1.3z"></path>
      <g>
        <path class="st64"
              d="M480.1 535.7c2-4.3 2.2-9 .6-13.4-1.7-4.5-5.1-8.1-9.7-10.1-1.3-.6-2.8 0-3.4 1.3-.6 1.3 0 2.8 1.3 3.4 3.3 1.4 5.7 4 6.9 7.2 1.2 3.1 1 6.4-.4 9.4-.9 1.9-2.3 3.6-4 4.8v-.3c.1-1.4-1.1-2.6-2.5-2.7-1.4 0-2.6 1.1-2.7 2.5l-.2 5c0 .9.3 1.8.9 2.5.6.7 1.5 1.1 2.4 1.1l5.1.2h.1c1.4 0 2.5-1.1 2.6-2.5 0-1.1-.7-2.1-1.7-2.5 2.1-1.6 3.6-3.6 4.7-5.9zM459.5 514.1c-.2-.5-.5-1-1-1.3-.6-.6-1.4-.9-2.2-1l-5.2-.4c-1.4-.1-2.7.9-2.8 2.3-.1 1.1.6 2.2 1.6 2.6-1.6 1.5-3 3.4-4 5.4-2 4.3-2.2 9-.6 13.4 1.7 4.5 5.1 8.1 9.7 10.1.3.1.7.2 1 .2 1 0 1.9-.6 2.4-1.5.6-1.3 0-2.8-1.3-3.4-3.3-1.4-5.7-4-6.9-7.2-1.2-3.1-1-6.4.4-9.4.9-1.8 2.1-3.4 3.7-4.6v.8c-.1 1.4 1.1 2.6 2.5 2.7h.1c1.4 0 2.5-1.1 2.6-2.5l.2-4.9c0-.4 0-.9-.2-1.3z"></path>
      </g>
    </g>
    <g id="Ranks">
      <g id="PUESTO_4" *ngIf="winners.length >= 4">
        <path class="st67" d="M768.2 407.4l1.9 6.8s-46.4 19.4-79.8-19.4l.2-12.8c.1 0 40.3 44.3 77.7 25.4z"></path>
        <path class="st68" d="M767.5 408.3l.8 3s-42.5 16.5-77.8-22.2l.2-5.7c0-.1 39.3 43.8 76.8 24.9z"></path>
        <path class="st69"
              d="M765.1 409.2c.8.7 1.3 1.6 1.6 2.6.2.5.3 1 .3 1.5s-.1 1-.2 1.5c0-.5 0-1-.1-1.5s-.2-1-.3-1.4c-.3-1-.8-1.9-1.3-2.7zM763.6 409.8c.7.8 1 1.8 1.2 2.8.1.5.1 1 0 1.5s-.2 1-.4 1.5c.1-.5.2-1 .2-1.5s0-1-.1-1.5c-.1-.9-.5-1.9-.9-2.8zM762.4 410.3c.6.8.9 1.8 1 2.9 0 .5 0 1-.1 1.5s-.3 1-.5 1.4c.1-.5.3-1 .3-1.5.1-.5.1-1 0-1.5-.1-.9-.3-1.9-.7-2.8z"></path>
        <path class="st70"
              d="M760.7 410.8c.6.9.8 1.9.8 2.9 0 .5-.1 1-.3 1.5-.2.5-.4 1-.7 1.4.1-.5.3-1 .4-1.4.1-.5.2-1 .1-1.4 0-1.1-.1-2-.3-3zM757.4 411.8c.6.8.9 1.9.9 2.9 0 .5-.1 1-.2 1.5s-.4 1-.7 1.4c.1-.5.3-1 .3-1.5.1-.5.1-1 .1-1.5 0-.9-.2-1.8-.4-2.8z"></path>
        <path class="st69"
              d="M754.5 412.1c.5.9.8 1.9.8 2.9 0 .5-.1 1-.2 1.5s-.4 1-.6 1.4c.2-.5.3-1 .4-1.4.1-.5.1-1 .1-1.5-.1-.9-.3-1.9-.5-2.9zM751.8 412.4c.5.8.7 1.8.7 2.8 0 .5-.1 1-.3 1.4-.2.5-.4.9-.7 1.3.2-.5.4-.9.5-1.3.1-.5.2-.9.2-1.4 0-.9-.1-1.9-.4-2.8z"></path>
        <path class="st70"
              d="M750.3 412.6c.5.7.6 1.6.6 2.5-.1.4-.1.9-.3 1.3-.2.4-.4.8-.7 1.1.1-.4.3-.8.4-1.2.1-.4.2-.8.2-1.2 0-.8-.1-1.6-.2-2.5zM744.2 412.2c.3.5.4 1 .5 1.6.1.5 0 1.1-.1 1.7-.2 1.1-.8 2.1-1.7 2.8.2-.5.5-.9.7-1.4.2-.5.3-1 .4-1.5.1-.5.2-1 .2-1.5.1-.6.1-1.1 0-1.7z"></path>
        <path class="st69"
              d="M747.8 412.6c.5.9.6 1.9.6 2.9 0 .5-.2 1-.3 1.5-.2.5-.5.9-.8 1.3.2-.5.4-.9.5-1.4.1-.5.2-.9.3-1.4 0-1-.1-1.9-.3-2.9zM745.7 412.3c.6.9.8 1.9.8 3 0 .5-.1 1.1-.3 1.6-.2.5-.4 1-.7 1.4.2-.5.4-1 .5-1.5.1-.5.2-1 .2-1.5 0-1.1-.2-2.1-.5-3zM740.6 411.6c.5 1.2.6 2.6.4 3.9-.1.7-.3 1.3-.6 1.9-.3.6-.7 1.1-1.1 1.6.3-.6.6-1.1.8-1.7.2-.6.4-1.2.5-1.8.1-.6.2-1.3.2-1.9-.1-.8-.1-1.4-.2-2zM738.6 411.4c.3 1.3.1 2.6-.3 3.9-.2.6-.5 1.2-.9 1.8-.4.6-.9 1-1.4 1.4.4-.5.8-1 1.1-1.6.3-.6.6-1.1.8-1.7.2-.6.4-1.2.5-1.8.1-.7.2-1.3.2-2zM736.9 411.2c.2 1.3 0 2.6-.5 3.9-.3.6-.6 1.2-1 1.7s-.9 1-1.5 1.3c.4-.5.9-1 1.2-1.5.3-.5.7-1.1.9-1.7.3-.6.4-1.2.6-1.8.1-.6.3-1.2.3-1.9z"></path>
        <path class="st70"
              d="M734.6 410.8c.1 1.3-.2 2.7-.8 3.8-.3.6-.7 1.1-1.2 1.6s-1 .8-1.6 1.1c.5-.5.9-.9 1.3-1.4.4-.5.7-1 1-1.6.6-1.1 1-2.3 1.3-3.5zM730.3 410c.2 1.3-.1 2.7-.7 3.9-.3.6-.7 1.2-1.1 1.6-.4.5-1 .9-1.6 1.2.4-.5.9-1 1.2-1.5.4-.5.7-1 1-1.6.5-1.1.9-2.3 1.2-3.6z"></path>
        <path class="st69"
              d="M726.7 408.7c.1 1.3-.2 2.6-.8 3.8-.3.6-.7 1.1-1.1 1.6-.4.5-1 .9-1.5 1.2.5-.5.9-.9 1.3-1.4.4-.5.7-1 1-1.6.3-.6.5-1.2.7-1.8.2-.5.3-1.2.4-1.8zM723.6 407.5c.1 1.2-.3 2.5-.9 3.6-.3.5-.7 1.1-1.2 1.5-.5.4-1 .8-1.6 1 .5-.4.9-.8 1.3-1.3s.8-.9 1-1.5c.3-.5.5-1.1.7-1.6.4-.5.5-1.1.7-1.7z"></path>
        <path class="st70"
              d="M721.6 406.8c.1 1.1-.2 2.3-.8 3.2-.3.5-.7.9-1.1 1.3-.4.4-1 .6-1.5.8.8-.7 1.6-1.5 2.1-2.4.6-.9 1-1.9 1.3-2.9zM715 402.8c0 1.4-.6 2.8-1.4 3.9-.4.6-1 1.1-1.6 1.4-.6.4-1.3.6-2 .8.6-.4 1.1-.8 1.6-1.3.5-.4.9-.9 1.3-1.4.8-.9 1.5-2.1 2.1-3.4z"></path>
        <path class="st69"
              d="M718.8 405.3c0 1.3-.4 2.6-1 3.7-.4.5-.8 1.1-1.3 1.5-.5.4-1.1.7-1.6 1 .5-.4 1-.8 1.4-1.2.4-.4.8-.9 1.1-1.5.3-.5.6-1.1.8-1.6.3-.7.4-1.3.6-1.9zM716.6 403.7c.1 1.3-.2 2.7-.8 3.9-.3.6-.7 1.2-1.2 1.6-.5.5-1 .9-1.6 1.2.5-.5 1-.9 1.4-1.4.4-.5.8-1 1.1-1.6.3-.6.6-1.2.8-1.8 0-.6.2-1.3.3-1.9z"></path>
        <g>
          <path class="st69"
                d="M711.4 400.5c.2 1.4-.2 2.7-.7 4-.3.6-.7 1.2-1.1 1.7-.4.5-1 .9-1.6 1.3.5-.5.9-1 1.3-1.5s.7-1.1 1-1.7c.3-.6.5-1.2.7-1.8.2-.6.3-1.3.4-2z"></path>
          <path class="st70"
                d="M709.6 399.3c0 1.4-.5 2.7-1.3 3.9-.4.6-.9 1.1-1.4 1.5-.5.4-1.2.7-1.8 1 .5-.4 1-.8 1.5-1.3.4-.5.9-1 1.2-1.5.7-1.2 1.3-2.3 1.8-3.6z"></path>
          <path class="st69"
                d="M708 398.6c-.2 1.4-.8 2.6-1.6 3.7-.4.5-.9 1-1.5 1.4-.5.4-1.2.7-1.8.9.6-.4 1.1-.7 1.6-1.2.5-.4 1-.9 1.3-1.4.4-.5.8-1.1 1.1-1.6.3-.5.6-1.1.9-1.8z"></path>
          <path class="st70"
                d="M705.8 397.6c-.2 1.4-.9 2.6-1.9 3.6-.5.5-1 .9-1.6 1.3-.6.4-1.3.5-1.9.7.6-.4 1.2-.7 1.7-1.1.5-.4 1-.8 1.4-1.3.8-1 1.6-2.1 2.3-3.2zM703.1 395.8c-.2 1.4-.8 2.6-1.8 3.7-.5.5-1 1-1.6 1.3-.6.4-1.3.6-1.9.7.6-.4 1.1-.7 1.6-1.1.5-.4 1-.8 1.4-1.3.9-1 1.7-2.1 2.3-3.3z"></path>
          <path class="st69"
                d="M700.2 393.5c-.3 1.3-1 2.6-1.9 3.6-.5.5-1 1-1.6 1.3-.6.4-1.2.6-1.9.8.6-.3 1.2-.6 1.7-1.1.5-.4 1-.8 1.4-1.3.5-.5.8-1 1.2-1.6.5-.5.8-1.1 1.1-1.7zM697.6 391.4c-.2 1.3-1 2.4-1.9 3.4-.5.5-1 .9-1.6 1.2-.6.3-1.2.5-1.8.6.6-.3 1.2-.5 1.7-.9.5-.3 1-.7 1.4-1.2.5-.4.8-.9 1.2-1.4.4-.6.7-1.1 1-1.7z"></path>
          <path class="st70"
                d="M694.9 389.7c0 1.2-.5 2.3-1.3 3.2-.4.5-.8.9-1.3 1.1-.5.3-1.1.5-1.6.6.5-.3.9-.6 1.4-1 .4-.4.8-.7 1.1-1.1.7-.9 1.2-1.8 1.7-2.8z"></path>
        </g>
        <g>
          <path class="st71"
                d="M710.8 432.9l-29.2 2.8c-10.9 1.4-20.9-5.3-22.1-15l-2.4-22.4c-1.3-9.7 6.6-18.8 17.5-20.3l31.5-2.1c10.9-1.4 20.9 5.3 22.1 15v21.7c1.3 9.7-6.6 18.8-17.4 20.3z"></path>
          <foreignObject x="672" y="380" width="50" height="50">
            <xhtml:div style="width: 50px; height: 50px" fxLayout="row" fxLayoutAlign="center center">
            <span class="st72 st73">
              4°
            </span>
            </xhtml:div>
          </foreignObject>
        </g>
        <g >
          <path class="st75" d="M868.7 411.7h4.7v11.7h-4.7z"></path>
          <path class="st76" d="M862.1 406.9h7.6v18.9h-7.6z"></path>
          <path transform="rotate(-180 753.605 415.247)" class="st75" d="M751.2 409.4h4.7v11.7h-4.7z"></path>
          <path transform="rotate(-180 758.8 416.362)" class="st76" d="M755 406.9h7.6v18.9H755z"></path>
          <path [attr.fill]="winners[3].color"
                d="M767.9 368c-5.4-.2-10 3.4-10.1 7.8l3.1 104.5c-.1 4.5 4.2 8.3 9.6 8.5h83.9c5.4.2 10-4.8 10.1-9.3l1.3-104.5c.1-4.5-4.2-8.3-9.6-8.5l-88.3 1.5z"></path>
          <path  class="st64"
                 d="M773.2 373c-4.9-.2-9.1 2.9-9.2 6.9l1.6 68.5c-.1 3.9 3.8 7.3 8.7 7.4l76.7-.6c4.9.2 9.1-2.9 9.2-6.9v-67.7c.1-3.9-3.8-7.3-8.7-7.4l-78.3-.2zM852.2 483.2H774c-4.7 0-8.5-3.8-8.5-8.5v-5.1c0-4.7 3.8-8.5 8.5-8.5h78.2c4.7 0 8.5 3.8 8.5 8.5v5.1c.1 4.7-3.8 8.5-8.5 8.5z"></path>

          <g>
            <defs>
            </defs>

            <clipPath id="game-complete-clip-rank-4">
              <path
                      d="M773.2 373c-4.9-.2-9.1 2.9-9.2 6.9l1.6 68.5c-.1 3.9 3.8 7.3 8.7 7.4l76.7-.6c4.9.2 9.1-2.9 9.2-6.9v-67.7c.1-3.9-3.8-7.3-8.7-7.4l-78.3-.2z"></path>
            </clipPath>
            <g clip-path="url(#game-complete-clip-rank-4)">
              <use transform="translate(725, 363) scale(0.25)" [attr.xlink:href]="'assets/images/robots/robots_level' + game.level + '.svg#robot' + winners[3].robot.id" overflow="visible"></use>

            </g>
            <text font-size="18" text-anchor="middle" x="815" y="479">{{winners[3].name}}</text>

          </g>
        </g>
      </g>
      <g id="PUESTO_3" *ngIf="winners.length >= 3">
        <path class="st67" d="M296.2 410.4l-1.9 6.8s46.4 19.4 79.8-19.4l-.2-12.8s-40.3 44.3-77.7 25.4z"></path>
        <path class="st68" d="M296.9 411.3l-.8 3s42.5 16.5 77.8-22.2l-.2-5.7c0-.1-39.3 43.8-76.8 24.9z"></path>
        <path class="st69"
              d="M299.4 412.2c-.6.8-1 1.7-1.3 2.7-.2.5-.3.9-.3 1.4-.1.5-.1 1-.1 1.5-.1-.5-.2-1-.2-1.5s.1-1 .3-1.5c.3-1 .8-1.9 1.6-2.6zM300.8 412.8c-.4.9-.7 1.9-.9 2.8-.1.5-.1 1-.1 1.5s.1 1 .2 1.5c-.2-.5-.4-.9-.4-1.5-.1-.5-.1-1 0-1.5.2-1 .6-2 1.2-2.8zM302 413.3c-.4.9-.6 1.9-.7 2.9-.1.5 0 1 0 1.5s.2 1 .3 1.5c-.2-.4-.5-.9-.5-1.4-.1-.5-.1-1-.1-1.5.1-1.2.4-2.2 1-3z"></path>
        <path class="st70"
              d="M303.8 413.8c-.2 1-.4 2-.3 2.9 0 .5 0 1 .1 1.4.1.5.2 1 .4 1.4-.3-.4-.6-.9-.7-1.4-.2-.5-.2-1-.3-1.5 0-.9.2-2 .8-2.8zM307.1 414.8c-.2 1-.4 1.9-.4 2.9 0 .5 0 1 .1 1.5l.3 1.5c-.3-.4-.6-.9-.7-1.4-.2-.5-.2-1-.2-1.5 0-1.1.3-2.2.9-3z"></path>
        <path class="st69"
              d="M310 415.1c-.3 1-.5 1.9-.5 2.9 0 .5 0 1 .1 1.5s.2 1 .4 1.4c-.3-.4-.5-.9-.6-1.4-.1-.5-.2-1-.2-1.5 0-1 .2-2 .8-2.9zM312.6 415.4c-.3.9-.4 1.9-.4 2.8 0 .5.1.9.2 1.4.1.5.3.9.5 1.3-.3-.4-.6-.8-.7-1.3-.2-.5-.3-1-.3-1.4 0-1 .2-2 .7-2.8z"></path>
        <path class="st70"
              d="M314.2 415.6c-.1.9-.2 1.7-.1 2.5 0 .4.1.8.2 1.2.1.4.3.8.4 1.2-.3-.3-.6-.7-.7-1.1-.2-.4-.3-.8-.3-1.3-.2-.8 0-1.8.5-2.5zM320.2 415.2v1.6c0 .5.1 1 .2 1.5s.2 1 .4 1.5.4.9.7 1.4c-.9-.7-1.5-1.7-1.7-2.8-.1-.5-.1-1.1-.1-1.7.1-.4.2-1 .5-1.5z"></path>
        <path class="st69"
              d="M316.7 415.6c-.2 1-.3 1.9-.2 2.9 0 .5.1.9.3 1.4.1.5.3.9.5 1.4-.3-.4-.6-.8-.8-1.3-.2-.5-.3-1-.3-1.5-.2-1 0-2 .5-2.9zM318.8 415.3c-.3 1-.5 2-.5 3 0 .5.1 1 .2 1.5s.3 1 .5 1.5c-.3-.4-.6-.9-.7-1.4-.2-.5-.2-1-.3-1.6-.1-1.1.2-2.2.8-3zM323.8 414.6c-.1.6-.1 1.3-.1 1.9 0 .6 0 1.3.2 1.9.1.6.3 1.2.5 1.8.2.6.5 1.2.8 1.7-.4-.5-.8-1-1.1-1.6-.3-.6-.5-1.2-.6-1.9-.2-1.3-.1-2.6.3-3.8zM325.8 414.4c0 .7.1 1.3.2 1.9.1.6.2 1.2.5 1.8.2.6.5 1.2.8 1.7.3.6.7 1.1 1.1 1.6-.5-.4-1-.9-1.4-1.4-.4-.5-.7-1.1-.9-1.8-.4-1.1-.5-2.5-.3-3.8zM327.5 414.2c.1.6.2 1.3.3 1.9.2.6.3 1.2.6 1.8.2.6.5 1.1.9 1.7.3.5.8 1 1.2 1.5-.5-.4-1.1-.8-1.5-1.3-.4-.5-.7-1.1-1-1.7-.5-1.2-.7-2.6-.5-3.9z"></path>
        <path class="st70"
              d="M329.8 413.8c.3 1.3.7 2.5 1.3 3.6.3.6.6 1.1 1 1.6s.8 1 1.3 1.4c-.6-.3-1.2-.6-1.6-1.1-.5-.5-.9-1-1.2-1.6-.6-1.3-.9-2.6-.8-3.9zM334.2 413c.3 1.3.7 2.5 1.2 3.6.3.6.6 1.1 1 1.6l1.2 1.5c-.6-.3-1.2-.7-1.6-1.2-.5-.5-.8-1-1.1-1.6-.6-1.2-.9-2.6-.7-3.9z"></path>
        <path class="st69"
              d="M337.7 411.7c.1.6.3 1.3.5 1.9.2.6.4 1.2.7 1.8.3.6.6 1.1 1 1.6s.8 1 1.3 1.4c-.6-.3-1.1-.7-1.5-1.2-.5-.5-.8-1-1.1-1.6-.7-1.3-1-2.6-.9-3.9zM340.9 410.5c.1.6.3 1.2.5 1.8.2.6.4 1.1.7 1.6.3.5.6 1 1 1.5s.9.9 1.3 1.3c-.6-.3-1.1-.6-1.6-1s-.8-.9-1.2-1.5c-.5-1.2-.8-2.5-.7-3.7z"></path>
        <path class="st70"
              d="M342.8 409.8c.4 1.1.8 2 1.3 2.9.5.9 1.3 1.7 2.1 2.4-.5-.2-1.1-.4-1.5-.8-.5-.4-.8-.8-1.1-1.3-.6-.9-.9-2.1-.8-3.2zM349.5 405.8c.6 1.3 1.2 2.4 2 3.4.4.5.8 1 1.3 1.4.5.5 1 .8 1.6 1.3-.7-.1-1.4-.4-2-.8-.6-.4-1.1-.9-1.6-1.4-.8-1.1-1.3-2.5-1.3-3.9z"></path>
        <path class="st69"
              d="M345.6 408.3c.2.6.3 1.2.6 1.8.2.6.5 1.1.8 1.6.3.5.7 1 1.1 1.5.4.5.9.8 1.4 1.2-.6-.2-1.2-.6-1.6-1-.5-.4-.9-.9-1.3-1.5-.6-1-1-2.3-1-3.6zM347.8 406.7c.1.7.3 1.3.5 1.9.2.6.4 1.2.8 1.8.3.6.7 1.1 1.1 1.6.4.5.9.9 1.4 1.4-.6-.3-1.2-.7-1.6-1.2-.5-.5-.9-1-1.2-1.6-.8-1.2-1.1-2.6-1-3.9z"></path>
        <g>
          <path class="st69"
                d="M353 403.5c.1.7.2 1.3.4 2 .2.6.4 1.3.7 1.8.3.6.6 1.2 1 1.7s.8 1 1.3 1.5c-.6-.3-1.1-.8-1.6-1.3s-.8-1.1-1.1-1.7c-.5-1.2-.8-2.6-.7-4z"></path>
          <path class="st70"
                d="M354.9 402.3c.5 1.3 1 2.4 1.8 3.5l1.2 1.5c.4.5 1 .9 1.5 1.3-.6-.2-1.3-.5-1.8-1-.5-.4-1-.9-1.4-1.5-.8-1.1-1.3-2.4-1.3-3.8z"></path>
          <path class="st69"
                d="M356.5 401.6c.3.6.5 1.2.9 1.8.3.6.7 1.1 1.1 1.6.4.5.9 1 1.3 1.4.5.5 1 .8 1.6 1.2-.6-.2-1.3-.5-1.8-.9-.6-.4-1.1-.9-1.5-1.4-.8-1-1.5-2.3-1.6-3.7z"></path>
          <path class="st70"
                d="M358.7 400.6c.7 1.2 1.4 2.2 2.3 3.2.4.5.9.9 1.4 1.3.5.4 1.1.7 1.7 1.1-.7-.1-1.3-.3-1.9-.7-.6-.3-1.2-.8-1.6-1.3-1-1-1.7-2.3-1.9-3.6zM361.3 398.8c.7 1.2 1.4 2.3 2.2 3.2.4.5.9.9 1.4 1.3.5.4 1.1.8 1.6 1.1-.7-.1-1.3-.3-1.9-.7-.6-.3-1.1-.8-1.6-1.3-.8-1-1.5-2.2-1.7-3.6z"></path>
          <path class="st69"
                d="M364.3 396.5c.3.6.6 1.2 1 1.7s.8 1.1 1.2 1.6c.4.5.9.9 1.4 1.3.5.4 1.1.7 1.7 1.1-.7-.2-1.3-.4-1.9-.8-.6-.4-1.1-.8-1.6-1.3-.9-1-1.6-2.2-1.8-3.6zM366.8 394.4c.3.6.6 1.1 1 1.6s.7 1 1.2 1.4c.4.5.9.8 1.4 1.2.5.4 1.1.6 1.7.9-.6-.1-1.3-.3-1.8-.6-.6-.3-1.1-.7-1.6-1.2-.9-.9-1.6-2-1.9-3.3z"></path>
          <path class="st70"
                d="M369.5 392.7c.5 1 1.1 2 1.8 2.8.3.4.7.8 1.1 1.1.4.4.9.7 1.4 1-.6-.1-1.1-.3-1.6-.6s-1-.7-1.3-1.1c-.9-.9-1.4-2-1.4-3.2z"></path>
        </g>
        <g>
          <path class="st71"
                d="M353.7 435.9l29.2 2.8c10.9 1.4 20.9-5.3 22.1-15l2.4-22.4c1.3-9.7-6.6-18.8-17.5-20.3l-31.5-2.1c-10.9-1.4-20.9 5.3-22.1 15v21.7c-1.4 9.7 6.5 18.8 17.4 20.3z"></path>
          <foreignObject x="352" y="382" width="50" height="50">
            <xhtml:div style="width: 50px; height: 50px" fxLayout="row" fxLayoutAlign="center center">
            <span class="st72 st73">
              3°
            </span>
            </xhtml:div>
          </foreignObject>
        </g>
        <g >
          <path class="st75" d="M307.2 411.7h4.7v11.7h-4.7z"></path>
          <path class="st76" d="M300.6 406.9h7.6v18.9h-7.6z"></path>
          <path transform="rotate(-180 192.134 415.247)" class="st75" d="M189.8 409.4h4.7v11.7h-4.7z"></path>
          <path transform="rotate(-180 197.33 416.362)" class="st76" d="M193.6 406.9h7.6v18.9h-7.6z"></path>
          <path [attr.fill]="winners[2].color"
                d="M206.4 368c-5.4-.2-10 3.4-10.1 7.8l3.1 104.5c-.1 4.5 4.2 8.3 9.6 8.5h83.9c5.4.2 10-4.8 10.1-9.3l1.3-104.5c.1-4.5-4.2-8.3-9.6-8.5l-88.3 1.5z"></path>
          <path class="st64"
                d="M211.7 373c-4.9-.2-9.1 2.9-9.2 6.9l1.6 68.5c-.1 3.9 3.8 7.3 8.7 7.4l76.7-.6c4.9.2 9.1-2.9 9.2-6.9v-67.7c.1-3.9-3.8-7.3-8.7-7.4l-78.3-.2zM290.8 483.2h-78.2c-4.7 0-8.5-3.8-8.5-8.5v-5.1c0-4.7 3.8-8.5 8.5-8.5h78.2c4.7 0 8.5 3.8 8.5 8.5v5.1c0 4.7-3.8 8.5-8.5 8.5z"></path>
          <g>

            <clipPath id="game-complete-clip-robot-rank-3">
              <path
                      d="M211.7 373c-4.9-.2-9.1 2.9-9.2 6.9l1.6 68.5c-.1 3.9 3.8 7.3 8.7 7.4l76.7-.6c4.9.2 9.1-2.9 9.2-6.9v-67.7c.1-3.9-3.8-7.3-8.7-7.4l-78.3-.2z"></path>

            </clipPath>
            <g clip-path="url(#game-complete-clip-robot-rank-3)">
              <use transform="translate(162, 363) scale(0.25)" [attr.xlink:href]="'assets/images/robots/robots_level' + game.level + '.svg#robot' + winners[2].robot.id" overflow="visible"></use>

            </g>
            <text font-size="18" text-anchor="middle" x="250" y="479">{{winners[2].name}}</text>

          </g>
        </g>
      </g>
      <g id="PUESTO_2">
        <path class="st67" d="M768.2 148.7l1.9 6.8s-46.4 19.4-79.8-19.4l.2-12.8c.1 0 40.3 44.4 77.7 25.4z"></path>
        <path class="st68" d="M767.5 149.6l.8 3s-42.5 16.5-77.8-22.2l.2-5.7s39.3 43.9 76.8 24.9z"></path>
        <path class="st69"
              d="M765.1 150.6c.8.7 1.3 1.6 1.6 2.6.2.5.3 1 .3 1.5s-.1 1-.2 1.5c0-.5 0-1-.1-1.5s-.2-1-.3-1.4c-.3-1-.8-1.9-1.3-2.7zM763.6 151.2c.7.8 1 1.8 1.2 2.8.1.5.1 1 0 1.5s-.2 1-.4 1.5c.1-.5.2-1 .2-1.5s0-1-.1-1.5c-.1-1-.5-1.9-.9-2.8zM762.4 151.6c.6.8.9 1.8 1 2.9 0 .5 0 1-.1 1.5s-.3 1-.5 1.4c.1-.5.3-1 .3-1.5.1-.5.1-1 0-1.5-.1-.9-.3-1.8-.7-2.8z"></path>
        <path class="st70"
              d="M760.7 152.1c.6.9.8 1.9.8 2.9 0 .5-.1 1-.3 1.5-.2.5-.4 1-.7 1.4.1-.5.3-1 .4-1.4.1-.5.2-1 .1-1.4 0-1-.1-2-.3-3zM757.4 153.2c.6.8.9 1.9.9 2.9 0 .5-.1 1-.2 1.5s-.4 1-.7 1.4c.1-.5.3-1 .3-1.5.1-.5.1-1 .1-1.5 0-.9-.2-1.9-.4-2.8z"></path>
        <path class="st69"
              d="M754.5 153.5c.5.9.8 1.9.8 2.9 0 .5-.1 1-.2 1.5s-.4 1-.6 1.4c.2-.5.3-1 .4-1.4.1-.5.1-1 .1-1.5-.1-1-.3-1.9-.5-2.9zM751.8 153.8c.5.8.7 1.8.7 2.8 0 .5-.1 1-.3 1.4-.2.5-.4.9-.7 1.3.2-.5.4-.9.5-1.3.1-.5.2-.9.2-1.4 0-1-.1-1.9-.4-2.8z"></path>
        <path class="st70"
              d="M750.3 154c.5.7.6 1.6.6 2.5-.1.4-.1.9-.3 1.3-.2.4-.4.8-.7 1.1.1-.4.3-.8.4-1.2.1-.4.2-.8.2-1.2 0-.8-.1-1.7-.2-2.5zM744.2 153.6c.3.5.4 1 .5 1.6.1.5 0 1.1-.1 1.7-.2 1.1-.8 2.1-1.7 2.8.2-.5.5-.9.7-1.4.2-.5.3-1 .4-1.5.1-.5.2-1 .2-1.5.1-.6.1-1.1 0-1.7z"></path>
        <path class="st69"
              d="M747.8 154c.5.9.6 1.9.6 2.9 0 .5-.2 1-.3 1.5-.2.5-.5.9-.8 1.3.2-.5.4-.9.5-1.4.1-.5.2-.9.3-1.4 0-1-.1-2-.3-2.9zM745.7 153.6c.6.9.8 1.9.8 3 0 .5-.1 1.1-.3 1.6-.2.5-.4 1-.7 1.4.2-.5.4-1 .5-1.5.1-.5.2-1 .2-1.5 0-1-.2-2-.5-3zM740.6 152.9c.5 1.2.6 2.6.4 3.9-.1.7-.3 1.3-.6 1.9-.3.6-.7 1.1-1.1 1.6.3-.6.6-1.1.8-1.7.2-.6.4-1.2.5-1.8.1-.6.2-1.3.2-1.9-.1-.7-.1-1.3-.2-2zM738.6 152.8c.3 1.3.1 2.6-.3 3.9-.2.6-.5 1.2-.9 1.8-.4.6-.9 1-1.4 1.4.4-.5.8-1 1.1-1.6.3-.6.6-1.1.8-1.7.2-.6.4-1.2.5-1.8.1-.7.2-1.4.2-2zM736.9 152.6c.2 1.3 0 2.6-.5 3.9-.3.6-.6 1.2-1 1.7s-.9 1-1.5 1.3c.4-.5.9-1 1.2-1.5.3-.5.7-1.1.9-1.7.3-.6.4-1.2.6-1.8.1-.6.3-1.3.3-1.9z"></path>
        <path class="st70"
              d="M734.6 152.2c.1 1.3-.2 2.7-.8 3.8-.3.6-.7 1.1-1.2 1.6s-1 .8-1.6 1.1c.5-.5.9-.9 1.3-1.4.4-.5.7-1 1-1.6.6-1.1 1-2.3 1.3-3.5zM730.3 151.4c.2 1.3-.1 2.7-.7 3.9-.3.6-.7 1.2-1.1 1.6-.4.5-1 .9-1.6 1.2.4-.5.9-1 1.2-1.5.4-.5.7-1 1-1.6.5-1.2.9-2.4 1.2-3.6z"></path>
        <path class="st69"
              d="M726.7 150.1c.1 1.3-.2 2.6-.8 3.8-.3.6-.7 1.1-1.1 1.6-.4.5-1 .9-1.5 1.2.5-.5.9-.9 1.3-1.4.4-.5.7-1 1-1.6.3-.6.5-1.2.7-1.8.2-.6.3-1.2.4-1.8zM723.6 148.9c.1 1.2-.3 2.5-.9 3.6-.3.5-.7 1.1-1.2 1.5-.5.4-1 .8-1.6 1 .5-.4.9-.8 1.3-1.3s.8-.9 1-1.5c.3-.5.5-1.1.7-1.6.4-.6.5-1.1.7-1.7z"></path>
        <path class="st70"
              d="M721.6 148.2c.1 1.1-.2 2.3-.8 3.2-.3.5-.7.9-1.1 1.3-.4.4-1 .6-1.5.8.8-.7 1.6-1.5 2.1-2.4.6-.9 1-1.9 1.3-2.9zM715 144.2c0 1.4-.6 2.8-1.4 3.9-.4.6-1 1.1-1.6 1.4-.6.4-1.3.6-2 .8.6-.4 1.1-.8 1.6-1.3.5-.4.9-.9 1.3-1.4.8-1 1.5-2.1 2.1-3.4z"></path>
        <path class="st69"
              d="M718.8 146.7c0 1.3-.4 2.6-1 3.7-.4.5-.8 1.1-1.3 1.5-.5.4-1.1.7-1.6 1 .5-.4 1-.8 1.4-1.2.4-.4.8-.9 1.1-1.5.3-.5.6-1.1.8-1.6.3-.7.4-1.3.6-1.9zM716.6 145.1c.1 1.3-.2 2.7-.8 3.9-.3.6-.7 1.2-1.2 1.6-.5.5-1 .9-1.6 1.2.5-.5 1-.9 1.4-1.4.4-.5.8-1 1.1-1.6.3-.6.6-1.2.8-1.8 0-.6.2-1.3.3-1.9z"></path>
        <g>
          <path class="st69"
                d="M711.4 141.9c.2 1.4-.2 2.7-.7 4-.3.6-.7 1.2-1.1 1.7-.4.5-1 .9-1.6 1.3.5-.5.9-1 1.3-1.5s.7-1.1 1-1.7c.3-.6.5-1.2.7-1.8.2-.7.3-1.3.4-2z"></path>
          <path class="st70"
                d="M709.6 140.7c0 1.4-.5 2.7-1.3 3.9-.4.6-.9 1.1-1.4 1.5-.5.4-1.2.7-1.8 1 .5-.4 1-.8 1.5-1.3.4-.5.9-1 1.2-1.5.7-1.2 1.3-2.4 1.8-3.6z"></path>
          <path class="st69"
                d="M708 140c-.2 1.4-.8 2.6-1.6 3.7-.4.5-.9 1-1.5 1.4-.5.4-1.2.7-1.8.9.6-.4 1.1-.7 1.6-1.2.5-.4 1-.9 1.3-1.4.4-.5.8-1.1 1.1-1.6l.9-1.8z"></path>
          <path class="st70"
                d="M705.8 138.9c-.2 1.4-.9 2.6-1.9 3.6-.5.5-1 .9-1.6 1.3-.6.4-1.3.5-1.9.7.6-.4 1.2-.7 1.7-1.1.5-.4 1-.8 1.4-1.3.8-.9 1.6-2 2.3-3.2zM703.1 137.2c-.2 1.4-.8 2.6-1.8 3.7-.5.5-1 1-1.6 1.3-.6.4-1.3.6-1.9.7.6-.4 1.1-.7 1.6-1.1.5-.4 1-.8 1.4-1.3.9-1 1.7-2.1 2.3-3.3z"></path>
          <path class="st69"
                d="M700.2 134.9c-.3 1.3-1 2.6-1.9 3.6-.5.5-1 1-1.6 1.3-.6.4-1.2.6-1.9.8.6-.3 1.2-.6 1.7-1.1.5-.4 1-.8 1.4-1.3.5-.5.8-1 1.2-1.6.5-.5.8-1.1 1.1-1.7zM697.6 132.8c-.2 1.3-1 2.4-1.9 3.4-.5.5-1 .9-1.6 1.2-.6.3-1.2.5-1.8.6.6-.3 1.2-.5 1.7-.9.5-.3 1-.7 1.4-1.2.5-.4.8-.9 1.2-1.4.4-.6.7-1.2 1-1.7z"></path>
          <path class="st70"
                d="M694.9 131.1c0 1.2-.5 2.3-1.3 3.2-.4.5-.8.9-1.3 1.1-.5.3-1.1.5-1.6.6.5-.3.9-.6 1.4-1 .4-.4.8-.7 1.1-1.1.7-.9 1.2-1.8 1.7-2.8z"></path>
        </g>
        <path class="st71"
              d="M710.8 174.2l-29.2 2.8c-10.9 1.4-20.9-5.3-22.1-15l-2.4-22.4c-1.3-9.7 6.6-18.8 17.5-20.3l31.5-2.1c10.9-1.4 20.9 5.3 22.1 15v21.7c1.3 9.8-6.6 18.9-17.4 20.3z"></path>
        <foreignObject x="670" y="127" width="50" height="40">
          <xhtml:div style="width: 50px; height: 40px" fxLayout="row" fxLayoutAlign="center center">
            <span class="st72 st73">
              2°
            </span>
          </xhtml:div>
        </foreignObject>

        <g>
          <path class="st75" d="M869.4 153h4.7v11.7h-4.7z"></path>
          <path class="st76" d="M862.8 148.3h7.6v18.9h-7.6z"></path>
          <path transform="rotate(-180 754.328 156.622)" class="st75" d="M752 150.8h4.7v11.7H752z"></path>
          <path transform="rotate(-180 759.524 157.737)" class="st76" d="M755.7 148.3h7.6v18.9h-7.6z"></path>
          <path [attr.fill]="winners[1].color"
                d="M768.6 109.4c-5.4-.2-10 3.4-10.1 7.8l3.1 104.5c-.1 4.5 4.2 8.3 9.6 8.5h83.9c5.4.2 10-4.8 10.1-9.3l1.3-104.5c.1-4.5-4.2-8.3-9.6-8.5l-88.3 1.5z"></path>
          <path class="st64"
                d="M773.9 114.4c-4.9-.2-9.1 2.9-9.2 6.9l1.6 68.5c-.1 3.9 3.8 7.3 8.7 7.4l76.7-.6c4.9.2 9.1-2.9 9.2-6.9V122c.1-3.9-3.8-7.3-8.7-7.4l-78.3-.2zM853 224.6h-78.2c-4.7 0-8.5-3.8-8.5-8.5V211c0-4.7 3.8-8.5 8.5-8.5H853c4.7 0 8.5 3.8 8.5 8.5v5.1c0 4.7-3.9 8.5-8.5 8.5z"></path>
          <g>
            <clipPath id="game-complete-clip-robot-rank-2">
              <path
                      d="M773.9 114.4c-4.9-.2-9.1 2.9-9.2 6.9l1.6 68.5c-.1 3.9 3.8 7.3 8.7 7.4l76.7-.6c4.9.2 9.1-2.9 9.2-6.9V122c.1-3.9-3.8-7.3-8.7-7.4l-78.3-.2z"></path>
            </clipPath>
            <g clip-path="url(#game-complete-clip-robot-rank-2)">
              <use transform="translate(725, 105) scale(0.25)" [attr.xlink:href]="'assets/images/robots/robots_level' + game.level + '.svg#robot' + winners[1].robot.id" overflow="visible"></use>

            </g>
            <text font-size="18" text-anchor="middle" x="815" y="219">{{winners[1].name}}</text>

          </g>
        </g>
      </g>
      <g id="PUESTO_1">
        <path class="st67" d="M296.2 151.7l-1.9 6.8s46.4 19.4 79.8-19.4l-.2-12.8s-40.3 44.4-77.7 25.4z"></path>
        <path class="st68" d="M296.9 152.6l-.8 3s42.5 16.5 77.8-22.2l-.2-5.7s-39.3 43.9-76.8 24.9z"></path>
        <path class="st69"
              d="M299.4 153.6c-.6.8-1 1.7-1.3 2.7-.2.5-.3.9-.3 1.4-.1.5-.1 1-.1 1.5-.1-.5-.2-1-.2-1.5s.1-1 .3-1.5c.3-1 .8-2 1.6-2.6zM300.8 154.2c-.4.9-.7 1.9-.9 2.8-.1.5-.1 1-.1 1.5s.1 1 .2 1.5c-.2-.5-.4-.9-.4-1.5-.1-.5-.1-1 0-1.5.2-1 .6-2 1.2-2.8zM302 154.6c-.4.9-.6 1.9-.7 2.9-.1.5 0 1 0 1.5s.2 1 .3 1.5c-.2-.4-.5-.9-.5-1.4-.1-.5-.1-1-.1-1.5.1-1.1.4-2.1 1-3z"></path>
        <path class="st70"
              d="M303.8 155.1c-.2 1-.4 2-.3 2.9 0 .5 0 1 .1 1.4.1.5.2 1 .4 1.4-.3-.4-.6-.9-.7-1.4-.2-.5-.2-1-.3-1.5 0-.8.2-1.9.8-2.8zM307.1 156.2c-.2 1-.4 1.9-.4 2.9 0 .5 0 1 .1 1.5l.3 1.5c-.3-.4-.6-.9-.7-1.4-.2-.5-.2-1-.2-1.5 0-1.2.3-2.2.9-3z"></path>
        <path class="st69"
              d="M310 156.5c-.3 1-.5 1.9-.5 2.9 0 .5 0 1 .1 1.5s.2 1 .4 1.4c-.3-.4-.5-.9-.6-1.4-.1-.5-.2-1-.2-1.5 0-1 .2-2 .8-2.9zM312.6 156.8c-.3.9-.4 1.9-.4 2.8 0 .5.1.9.2 1.4.1.5.3.9.5 1.3-.3-.4-.6-.8-.7-1.3-.2-.5-.3-1-.3-1.4 0-1 .2-2 .7-2.8z"></path>
        <path class="st70"
              d="M314.2 157c-.1.9-.2 1.7-.1 2.5 0 .4.1.8.2 1.2.1.4.3.8.4 1.2-.3-.3-.6-.7-.7-1.1-.2-.4-.3-.8-.3-1.3-.2-.9 0-1.8.5-2.5zM320.2 156.6v1.6c0 .5.1 1 .2 1.5s.2 1 .4 1.5.4.9.7 1.4c-.9-.7-1.5-1.7-1.7-2.8-.1-.5-.1-1.1-.1-1.7.1-.5.2-1 .5-1.5z"></path>
        <path class="st69"
              d="M316.7 157c-.2 1-.3 1.9-.2 2.9 0 .5.1.9.3 1.4.1.5.3.9.5 1.4-.3-.4-.6-.8-.8-1.3-.2-.5-.3-1-.3-1.5-.2-1 0-2.1.5-2.9zM318.8 156.6c-.3 1-.5 2-.5 3 0 .5.1 1 .2 1.5s.3 1 .5 1.5c-.3-.4-.6-.9-.7-1.4-.2-.5-.2-1-.3-1.6-.1-1 .2-2.1.8-3zM323.8 155.9c-.1.6-.1 1.3-.1 1.9 0 .6 0 1.3.2 1.9.1.6.3 1.2.5 1.8.2.6.5 1.2.8 1.7-.4-.5-.8-1-1.1-1.6-.3-.6-.5-1.2-.6-1.9-.2-1.2-.1-2.6.3-3.8zM325.8 155.8c0 .7.1 1.3.2 1.9.1.6.2 1.2.5 1.8.2.6.5 1.2.8 1.7.3.6.7 1.1 1.1 1.6-.5-.4-1-.9-1.4-1.4-.4-.5-.7-1.1-.9-1.8-.4-1.2-.5-2.5-.3-3.8zM327.5 155.6c.1.6.2 1.3.3 1.9.2.6.3 1.2.6 1.8.2.6.5 1.1.9 1.7.3.5.8 1 1.2 1.5-.5-.4-1.1-.8-1.5-1.3-.4-.5-.7-1.1-1-1.7-.5-1.3-.7-2.6-.5-3.9z"></path>
        <path class="st70"
              d="M329.8 155.2c.3 1.3.7 2.5 1.3 3.6.3.6.6 1.1 1 1.6s.8 1 1.3 1.4c-.6-.3-1.2-.6-1.6-1.1-.5-.5-.9-1-1.2-1.6-.6-1.3-.9-2.6-.8-3.9zM334.2 154.4c.3 1.3.7 2.5 1.2 3.6.3.6.6 1.1 1 1.6l1.2 1.5c-.6-.3-1.2-.7-1.6-1.2-.5-.5-.8-1-1.1-1.6-.6-1.3-.9-2.6-.7-3.9z"></path>
        <path class="st69"
              d="M337.7 153.1c.1.6.3 1.3.5 1.9.2.6.4 1.2.7 1.8.3.6.6 1.1 1 1.6s.8 1 1.3 1.4c-.6-.3-1.1-.7-1.5-1.2-.5-.5-.8-1-1.1-1.6-.7-1.3-1-2.6-.9-3.9zM340.9 151.9c.1.6.3 1.2.5 1.8.2.6.4 1.1.7 1.6.3.5.6 1 1 1.5s.9.9 1.3 1.3c-.6-.3-1.1-.6-1.6-1s-.8-.9-1.2-1.5c-.5-1.2-.8-2.5-.7-3.7z"></path>
        <path class="st70"
              d="M342.8 151.2c.4 1.1.8 2 1.3 2.9.5.9 1.3 1.7 2.1 2.4-.5-.2-1.1-.4-1.5-.8-.5-.4-.8-.8-1.1-1.3-.6-1-.9-2.1-.8-3.2zM349.5 147.2c.6 1.3 1.2 2.4 2 3.4.4.5.8 1 1.3 1.4.5.5 1 .8 1.6 1.3-.7-.1-1.4-.4-2-.8-.6-.4-1.1-.9-1.6-1.4-.8-1.1-1.3-2.5-1.3-3.9z"></path>
        <path class="st69"
              d="M345.6 149.7c.2.6.3 1.2.6 1.8.2.6.5 1.1.8 1.6.3.5.7 1 1.1 1.5.4.5.9.8 1.4 1.2-.6-.2-1.2-.6-1.6-1-.5-.4-.9-.9-1.3-1.5-.6-1.1-1-2.3-1-3.6zM347.8 148.1c.1.7.3 1.3.5 1.9.2.6.4 1.2.8 1.8.3.6.7 1.1 1.1 1.6.4.5.9.9 1.4 1.4-.6-.3-1.2-.7-1.6-1.2-.5-.5-.9-1-1.2-1.6-.8-1.2-1.1-2.6-1-3.9z"></path>
        <g>
          <path class="st69"
                d="M353 144.9c.1.7.2 1.3.4 2 .2.6.4 1.3.7 1.8.3.6.6 1.2 1 1.7s.8 1 1.3 1.5c-.6-.3-1.1-.8-1.6-1.3s-.8-1.1-1.1-1.7c-.5-1.2-.8-2.6-.7-4z"></path>
          <path class="st70"
                d="M354.9 143.7c.5 1.3 1 2.4 1.8 3.5l1.2 1.5c.4.5 1 .9 1.5 1.3-.6-.2-1.3-.5-1.8-1-.5-.4-1-.9-1.4-1.5-.8-1.1-1.3-2.5-1.3-3.8z"></path>
          <path class="st69"
                d="M356.5 143c.3.6.5 1.2.9 1.8.3.6.7 1.1 1.1 1.6.4.5.9 1 1.3 1.4.5.5 1 .8 1.6 1.2-.6-.2-1.3-.5-1.8-.9-.6-.4-1.1-.9-1.5-1.4-.8-1.1-1.5-2.3-1.6-3.7z"></path>
          <path class="st70"
                d="M358.7 141.9c.7 1.2 1.4 2.2 2.3 3.2.4.5.9.9 1.4 1.3.5.4 1.1.7 1.7 1.1-.7-.1-1.3-.3-1.9-.7-.6-.3-1.2-.8-1.6-1.3-1-1-1.7-2.2-1.9-3.6zM361.3 140.2c.7 1.2 1.4 2.3 2.2 3.2.4.5.9.9 1.4 1.3.5.4 1.1.8 1.6 1.1-.7-.1-1.3-.3-1.9-.7-.6-.3-1.1-.8-1.6-1.3-.8-1-1.5-2.3-1.7-3.6z"></path>
          <path class="st69"
                d="M364.3 137.9c.3.6.6 1.2 1 1.7s.8 1.1 1.2 1.6c.4.5.9.9 1.4 1.3.5.4 1.1.7 1.7 1.1-.7-.2-1.3-.4-1.9-.8-.6-.4-1.1-.8-1.6-1.3-.9-1-1.6-2.3-1.8-3.6zM366.8 135.8c.3.6.6 1.1 1 1.6s.7 1 1.2 1.4c.4.5.9.8 1.4 1.2.5.4 1.1.6 1.7.9-.6-.1-1.3-.3-1.8-.6-.6-.3-1.1-.7-1.6-1.2-.9-.9-1.6-2.1-1.9-3.3z"></path>
          <path class="st70"
                d="M369.5 134.1c.5 1 1.1 2 1.8 2.8.3.4.7.8 1.1 1.1.4.4.9.7 1.4 1-.6-.1-1.1-.3-1.6-.6s-1-.7-1.3-1.1c-.9-.9-1.4-2.1-1.4-3.2z"></path>
        </g>
        <path class="st71"
              d="M353.7 177.2l29.2 2.8c10.9 1.4 20.9-5.3 22.1-15l2.4-22.4c1.3-9.7-6.6-18.8-17.5-20.3l-31.5-2.1c-10.9-1.4-20.9 5.3-22.1 15v21.7c-1.4 9.8 6.5 18.9 17.4 20.3z"></path>
        <foreignObject x="350" y="130" width="50" height="40">
          <xhtml:div style="width: 50px; height: 40px" fxLayout="row" fxLayoutAlign="center center">
            <span class="st72 st73">
              1°
            </span>
          </xhtml:div>
        </foreignObject>
        <g>
          <path class="st75" d="M307.2 153h4.7v11.7h-4.7z"></path>
          <path class="st76" d="M300.6 148.3h7.6v18.9h-7.6z"></path>
          <path transform="rotate(-180 192.134 156.622)" class="st75" d="M189.8 150.8h4.7v11.7h-4.7z"></path>
          <path transform="rotate(-180 197.33 157.737)" class="st76" d="M193.6 148.3h7.6v18.9h-7.6z"></path>
          <path [attr.fill]="winners[0].color"
                d="M206.4 109.4c-5.4-.2-10 3.4-10.1 7.8l3.1 104.5c-.1 4.5 4.2 8.3 9.6 8.5h83.9c5.4.2 10-4.8 10.1-9.3l1.3-104.5c.1-4.5-4.2-8.3-9.6-8.5l-88.3 1.5z"></path>
          <path class="st64"
                d="M211.7 114.4c-4.9-.2-9.1 2.9-9.2 6.9l1.6 68.5c-.1 3.9 3.8 7.3 8.7 7.4l76.7-.6c4.9.2 9.1-2.9 9.2-6.9V122c.1-3.9-3.8-7.3-8.7-7.4l-78.3-.2zM290.8 224.6h-78.2c-4.7 0-8.5-3.8-8.5-8.5V211c0-4.7 3.8-8.5 8.5-8.5h78.2c4.7 0 8.5 3.8 8.5 8.5v5.1c0 4.7-3.8 8.5-8.5 8.5z"></path>
          <g>
            <clipPath id="game-complete-clip-robot-rank-1">
              <path
                      d="M211.7 114.4c-4.9-.2-9.1 2.9-9.2 6.9l1.6 68.5c-.1 3.9 3.8 7.3 8.7 7.4l76.7-.6c4.9.2 9.1-2.9 9.2-6.9V122c.1-3.9-3.8-7.3-8.7-7.4l-78.3-.2z"></path>
            </clipPath>
            <g clip-path="url(#game-complete-clip-robot-rank-1)">
              <use transform="translate(162, 105) scale(0.25)" [attr.xlink:href]="'assets/images/robots/robots_level' + game.level + '.svg#robot' + winners[0].robot.id" overflow="visible"></use>

            </g>
            <text font-size="18" text-anchor="middle" x="250" y="219">{{winners[0].name}}</text>

          </g>
        </g>
      </g>
    </g>
    <g id="ROBOTS">
      <g [ngClass]="'winner-shadow-level-' + game.level">
        <path
              d="M491.3 154.5l31.9 69.3 14.3-74.9 9 75.7 36.7-66.8-14.9 74.8 55.7-52.2-37.3 66.6 69-32.5-56 51.8 75.7-9.5-69.3 31.9L681 303l-75.7 9 66.8 36.7-74.8-14.9 52.1 55.7-66.5-37.3 32.4 69-51.7-56 9.5 75.7-31.9-69.3-14.3 74.9-9-75.7-36.8 66.8 14.9-74.8-55.6 52.1 37.3-66.5-69 32.4 56-51.7-75.7 9.5 69.3-31.9-74.9-14.3 75.7-9-66.8-36.8 74.8 14.9-52.2-55.6 66.6 37.3-32.5-69 51.8 56z"
              ></path>
        <ellipse *ngIf="winners[0].robot.id === 1" cx="540" cy="464.8" rx="77.3" ry="11.6"></ellipse>
        <ellipse *ngIf="winners[0].robot.id === 2" cx="544" cy="462.8" rx="77.3" ry="11.6"></ellipse>
        <ellipse *ngIf="winners[0].robot.id === 3" cx="536.2" cy="468.8" rx="77.3" ry="11.6"></ellipse>
        <ellipse *ngIf="winners[0].robot.id === 4" cx="535.5" cy="458.8" rx="77.3" ry="11.6"></ellipse>
        <ellipse *ngIf="winners[0].robot.id === 5" cx="536.2" cy="458.8" rx="77.3" ry="11.6"></ellipse>
      </g>
      <use width="34%" x="58%" [attr.xlink:href]="'assets/images/robots/robots_level' + game.level + '.svg#robot' + winners[0].robot.id" overflow="visible"></use>


    </g>
  </svg>
</div>
