<div fxFlex="grow" fxLayout="column" [ngClass]=" 'background-level-' + (game.level)"
     xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <div style="position: absolute; top: 0; left: 0;">
        <app-settings-button></app-settings-button>
    </div>

    <svg fxFlex="grow" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0"
         viewBox="0 10 647 520">
    <path d="M97.9 47.3c-18.9-1.1-35 13.3-35.8 32.1l4.6 404c-.8 18.8 14.1 35 33 36.1l457.9 4.7c18.9 1.1 35-19.5 35.8-38.2L608 115.5c.4-29-18.2-53.1-41.8-53.8L97.9 47.3z"
          fill="#92766b" opacity=".2"></path>
        <path transform="rotate(4.993 629.802 269.95)" class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st2"
              d="M620.5 247.4H639v45h-18.5z"></path>
        <linearGradient id="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__SVGID_1_" gradientUnits="userSpaceOnUse" x1="590.898"
                        y1="113.599" x2="590.898" y2="206.228" gradientTransform="rotate(4.993 -603.781 428.751)"><stop offset="0" stop-color="#77787b"></stop>
            <stop offset=".526" stop-color="#878787"></stop>
            <stop offset="1" stop-color="#595959"></stop></linearGradient>
        <path fill="url(#DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__SVGID_1_)"
              d="M621.5 301.5l-29.6-2.5 6.3-72.8 29.6 2.6z"></path>
        <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st4"
              d="M534.4 43.8l-454 5.6c-18.9-.7-34.8 14.1-35.3 33l15.1 396.4c-.5 18.9 14.6 34.9 33.5 35.6l451.4.2c18.9.7 34.8-20.2 35.3-39.1l13.4-347.2-59.4-84.5z"></path>
        <radialGradient id="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__SVGID_2_" cx="325.679" cy="34.048" r="16.162"
                        fx="315.187"
                        fy="35.177" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#525252"></stop>
            <stop offset="0" stop-color="#ed1c24"></stop>
            <stop offset=".228" stop-color="#e91c24"></stop>
            <stop offset=".382" stop-color="#e21b22"></stop>
            <stop offset=".514" stop-color="#d61920"></stop>
            <stop offset=".634" stop-color="#c6161d"></stop>
            <stop offset=".746" stop-color="#b11117"></stop>
            <stop offset=".851" stop-color="#97080c"></stop>
            <stop offset=".95" stop-color="#7b0000"></stop>
            <stop offset="1" stop-color="#6b0000"></stop></radialGradient>
        <path d="M308.4 43.8s-6.9-24.7 16.5-26.4 19.6 24.7 19.6 24.7l-36.1 1.7z"
              fill="url(#DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__SVGID_2_)"></path>
        <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st2" d="M304.7 51.9l-1-9.2 43.9-.7-1.9 8.9z"></path>
        <path transform="scale(-1) rotate(-6.858 -4571.644 484.085)" class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st2"
              d="M21.4 255.6h15.1v36.6H21.4z"></path>
        <linearGradient id="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__SVGID_3_" gradientUnits="userSpaceOnUse" x1="52.543"
                        y1="404.064" x2="52.543" y2="453.102" gradientTransform="rotate(-6.858 -1255.883 431.456)"><stop offset="0" stop-color="#77787b"></stop>
            <stop offset=".526" stop-color="#878787"></stop>
            <stop offset="1" stop-color="#595959"></stop></linearGradient>
        <path fill="url(#DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__SVGID_3_)"
              d="M27.2 243.2l23.9-3.4 3.7 59.4-20.5 2.8z"></path>
        <path d="M600.2 97.7c.3-31.3-20.4-56.8-45.8-56.6l-467 5.1c-18.9-.7-34.8 14.1-35.3 33l15.1 396.4c-.5 18.9 14.6 34.9 33.5 35.6l451.4.2c18.9.7 34.8-20.2 35.3-39.1l12.8-374.6z"
              fill="#939598"></path>
        <path d="M237.3 305.3" fill="#92278f"></path>
        <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st9"
              d="M202.4 401.8l7.8-.1-.3 31.2-7.8.1zM186.3 402l7.8-.1-.3 31.2-7.8.1zM170.1 402.2l7.9-.1-.4 31.1-7.8.1zM154 402.3l7.8-.1-.3 31.2-7.8.1zM137.9 402.5l7.8-.1-.3 31.2-7.8.1zM121.7 402.7l7.8-.1-.3 31.2h-7.8zM105.6 402.8h7.8l-.3 31.1-7.8.1zM89.5 403l7.8-.1-.3 31.2-7.8.1z"></path>
        <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st10"
              d="M201.5 401.8l7.8-.1-.3 31.2-7.8.1zM185.3 402l7.8-.1-.3 31.2-7.8.1zM169.2 402.2l7.8-.1-.3 31.2h-7.8zM153.1 402.3l7.8-.1-.3 31.2-7.8.1zM136.9 402.5l7.8-.1-.3 31.2-7.8.1zM120.8 402.7l7.8-.1-.3 31.2-7.8.1zM104.7 402.8h7.8l-.3 31.1-7.9.1zM88.5 403l7.8-.1-.3 31.2-7.8.1z"></path>
        <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st2" d="M114.4 452l-12.2 3.3s-6.1 6.8-5.3 13.3c1 8.8 7.8 14.6 11.8 15.6l10.2-.2-4.5-32z"></path>
            <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -18.342 5.021)"
                     class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st11" cx="118.2" cy="467.7" rx="16.3"
                     ry="16.1"></ellipse>
            <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -18.346 4.984)"
                     class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st12" cx="117.2" cy="467.8" rx="13"
                     ry="12.9"></ellipse>
            <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st2" d="M156.4 455.9l-9.1 2.4s-4.5 5-3.9 9.9c.8 6.6 5.8 10.9 8.8 11.6l7.6-.2-3.4-23.7z"></path>
                <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -18.305 6.64)"
                         class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st11" cx="159.3" cy="467.6" rx="12.1"
                         ry="12"></ellipse>
                <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -18.309 6.612)"
                         class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st12" cx="158.6" cy="467.7" rx="9.7"
                         ry="9.6"></ellipse></g>
            <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st2" d="M195.3 455.8l-9.1 2.4s-4.5 5-3.9 9.9c.8 6.6 5.8 10.9 8.8 11.6l7.6-.2-3.4-23.7z"></path>
                <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -18.27 8.171)"
                         class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st11" cx="198.1" cy="467.5" rx="12.1"
                         ry="12"></ellipse>
                <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -18.273 8.144)"
                         class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st12" cx="197.4" cy="467.5" rx="9.7"
                         ry="9.6"></ellipse></g></g>
        <g><path opacity=".31" fill="#77787b" d="M560.1 488.9h-69.4l-.7-32.4 71.9-1.3z"></path>
            <path fill="#abadb0" d="M556.8 485.5h-60.4l-1.1-2.6.5-20.8 61.7-3 1 2z"></path>
            <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st10" d="M555.7 483.5h-60.5l-.6-23.4 62.7-1z"></path>
            <path opacity=".31" fill="none" stroke="#77787b" stroke-width=".946" stroke-miterlimit="10"
                  d="M526 459.1v24.4"></path></g>
        <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st16"
              d="M492.6 372.4h16.7v33.1h-16.7zM517.2 372.4h16.7v33.1h-16.7zM539.1 372.4h16.7v33.1h-16.7zM492.6 411.9h16.7V445h-16.7zM517.2 411.9h16.7V445h-16.7zM539.1 411.9h16.7V445h-16.7z"></path>
        <g id="category-orange" (click)="onClickRiddle()">
         <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st4" d="M314.5 199c6.7.3 12.4-4.9 12.5-11.5l-6-97.7c.2-6.6-5.2-12.2-12-12.4l-208.9-.6c-6.7-.3-12.4 7-12.5 13.6l-.3 97.6c-.2 6.6 5.2 12.2 12 12.4l215.2-1.4z"></path>
             <path d="M307.9 194.4c6.1.2 11.3-4.7 11.4-10.9l-2-88.4c.2-6.3-4.7-11.6-10.9-11.9l-200.9 1c-6.1-.2-11.3 4.7-11.4 10.9v87.1c-.2 6.3 4.7 11.6 10.9 11.9l202.9.3z"
                   fill="#f7941d" stroke="#fff" stroke-width=".954" stroke-miterlimit="10"></path></g>
            <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st18" d="M207.3 113.4c0-1.1.4-2.2 1.1-3.2.7-1.1 1.8-2 3.1-2.7 1.3-.7 2.9-1 4.7-1 1.6 0 3.1.4 4.3 1 1.2.6 2.2 1.5 2.8 2.6.7 1.1 1 2.2.9 3.4 0 1-.2 1.8-.7 2.5-.4.7-.9 1.3-1.4 1.8-.6.5-1.5 1.4-3 2.6-.4.3-.7.6-1 .9-.2.3-.4.5-.5.7-.1.2-.2.4-.3.7-.1.2-.2.6-.3 1.2-.2 1.2-.9 1.7-2.1 1.7-.6 0-1.1-.2-1.5-.6-.4-.4-.6-1-.6-1.7 0-1 .2-1.8.5-2.5s.7-1.3 1.2-1.8 1.2-1.1 2-1.8c.7-.6 1.3-1.1 1.6-1.4.3-.3.6-.7.8-1.1.2-.4.4-.8.4-1.3 0-.9-.3-1.7-.9-2.3-.7-.6-1.5-1-2.6-1-1.2 0-2.2.3-2.8.9-.6.6-1.1 1.5-1.6 2.7-.4 1.3-1.2 1.9-2.2 1.9-.6 0-1.2-.3-1.6-.7-.1-.5-.3-1-.3-1.5zm7.8 18.9c-.7 0-1.3-.3-1.8-.7-.5-.5-.7-1.1-.7-1.9 0-.7.3-1.3.8-1.8s1.1-.7 1.9-.7c.7 0 1.3.3 1.8.8s.7 1.1.7 1.8c0 .8-.3 1.4-.8 1.8-.7.5-1.3.7-1.9.7zM207.7 130.8c-.1 1.1-.6 2.1-1.5 3.1-.8 1-1.9 1.8-3.4 2.3-1.4.5-3 .7-4.7.5-1.6-.2-3-.7-4.2-1.5-1.2-.8-2-1.7-2.6-2.8-.5-1.1-.7-2.3-.6-3.5.1-1 .4-1.8.9-2.4.5-.7 1-1.2 1.6-1.7.6-.5 1.7-1.2 3.2-2.3.4-.3.8-.6 1-.8.3-.2.5-.5.6-.7.1-.2.3-.4.3-.6.1-.2.2-.6.4-1.1.4-1.1 1.1-1.6 2.2-1.5.6.1 1 .3 1.4.8.3.4.5 1 .4 1.8-.1.9-.4 1.7-.8 2.4s-.8 1.2-1.4 1.7c-.6.5-1.3 1-2.2 1.6-.8.5-1.4.9-1.7 1.2-.4.3-.7.6-.9 1-.3.4-.4.8-.5 1.2-.1.9.1 1.7.7 2.4s1.4 1.1 2.5 1.3c1.2.2 2.2 0 2.8-.6.7-.5 1.3-1.4 1.8-2.6.5-1.2 1.4-1.8 2.4-1.6.6.1 1.1.4 1.5.9.7.5.8 1 .8 1.5zm-5.8-19.5c.7.1 1.3.4 1.7.9.5.5.6 1.2.5 2-.1.7-.4 1.3-1 1.7-.6.4-1.2.6-1.9.5-.7-.1-1.3-.4-1.7-1-.4-.5-.6-1.2-.5-1.9.1-.8.4-1.4 1-1.8.6-.4 1.2-.5 1.9-.4z"></path>
                <g>
                    <foreignObject transform="matrix(.9 0 0 1 105 130)" width="230" height="55">
                        <xhtml:div  fxLayout="row" fxLayoutAlign="center center" style="height: 55px">
                            <span class="nunito white-text DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st19 DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st20 DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st21">
                                {{currentRiddleText | uppercase}}</span>
                        </xhtml:div>
                    </foreignObject>
                </g>
            </g>
    </g>
        <g id="category-blue" (click)="onClickSpelling()">
        <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st4" d="M351.6 76.2c-6.3-.3-11.6 5-11.7 11.7l5.6 99.5c-.1 6.7 4.9 12.4 11.2 12.7l195.2.5c6.3.3 11.6-7.2 11.7-13.9l.4-99.5c.1-6.7-4.9-12.4-11.2-12.7l-201.2 1.7z"></path>
            <path d="M357.9 80.2c-5.7-.2-10.5 4.7-10.7 10.9l1.9 88.4c-.1 6.3 4.4 11.6 10.1 11.9l187.8-1c5.7.2 10.5-4.7 10.7-10.9V92.4c.1-6.3-4.4-11.6-10.1-11.9l-189.7-.3z"
                  fill="#00aeef" stroke="#fff" stroke-width=".922" stroke-miterlimit="10"></path></g>
            <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st23" d="M447.8 122.3l-.8-2.3h-6.8l-.8 2.3c-.3.9-.6 1.5-.8 1.9-.2.3-.6.5-1.1.5-.4 0-.8-.2-1.1-.5-.3-.3-.5-.7-.5-1.2 0-.2 0-.5.1-.8.1-.3.2-.6.4-1.1l4.3-11.9c.1-.3.3-.7.4-1.2.2-.5.4-.9.5-1.2.2-.3.4-.6.8-.8.3-.2.7-.3 1.2-.3s.9.1 1.2.3c.3.2.6.4.8.8.2.3.4.6.5 1 .1.4.3.8.5 1.4L451 121c.3.9.5 1.6.5 2 0 .4-.2.8-.5 1.2-.3.4-.7.5-1.2.5-.3 0-.5-.1-.7-.2-.2-.1-.3-.2-.5-.4-.1-.2-.3-.5-.4-.8-.2-.4-.3-.7-.4-1zm-6.7-5.1h5l-2.5-7.6-2.5 7.6zM469.8 132.5v-.4c-.3.5-.7.8-1 1.1-.4.3-.7.5-1.2.7-.4.1-.9.2-1.5.2-.7 0-1.2-.1-1.8-.4-.5-.3-.9-.7-1.2-1.2-.3-.6-.5-1.5-.5-2.7v-5.9c0-.6.1-1 .4-1.3.2-.3.6-.4 1-.4s.7.1 1 .4c.3.3.4.7.4 1.3v4.8c0 .7.1 1.3.2 1.7.1.5.3.8.6 1.1.3.3.6.4 1.1.4.5 0 .9-.1 1.3-.4.4-.3.7-.7.9-1.2.2-.4.2-1.3.2-2.8v-3.6c0-.6.1-1 .4-1.3.3-.3.6-.4 1-.4s.7.1 1 .4c.2.3.4.7.4 1.3v8.6c0 .6-.1 1-.4 1.3-.2.3-.5.4-.9.4s-.7-.1-.9-.4c-.4-.4-.5-.8-.5-1.3z"></path>
                <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st23"
                      d="M460.2 118.8l-5.7 7h6.1c.5 0 .9.1 1.1.4.2.3.4.6.4 1s-.1.7-.4.9c-.2.2-.6.4-1.1.4h-8.4c-.6 0-1-.1-1.3-.4-.3-.3-.4-.7-.4-1.2 0-.3.1-.6.3-.9.2-.3.6-.8 1.3-1.6.7-.8 1.3-1.6 1.9-2.3.6-.7 1.1-1.3 1.6-1.9.5-.6.9-1.1 1.2-1.5.3-.4.6-.8.8-1H453c-.6 0-1.1-.1-1.4-.2-.3-.1-.5-.5-.5-1 0-.4.1-.7.4-.9.2-.2.6-.4 1.1-.4h7.1c.7 0 1.2.1 1.5.3.4.2.5.6.5 1.1 0 .2 0 .4-.1.6-.1.2-.1.4-.2.5-.1.1-.2.3-.3.5-.5.1-.7.3-.9.6z"></path>
                <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st23"
                      d="M466.2 112.6h-6.1c0 .8.1 1.5.4 2 .3.6.6 1 1.1 1.3.5.3 1 .5 1.5.5.4 0 .7 0 1-.1.3-.1.6-.2.9-.4.3-.2.6-.4.8-.7l.9-.9c.2-.1.4-.2.7-.2.3 0 .6.1.8.3.2.2.3.5.3.8 0 .3-.1.7-.3 1.1-.2.4-.6.8-1 1.2-.4.4-1 .7-1.7.9-.7.3-1.4.4-2.3.4-2 0-3.5-.6-4.7-1.9-1.1-1.2-1.7-2.9-1.7-5.1 0-1 .1-1.9.4-2.8.3-.9.7-1.6 1.2-2.2.5-.6 1.2-1.1 1.9-1.4.8-.3 1.6-.5 2.5-.5 1.2 0 2.3.3 3.1.8.9.6 1.5 1.3 1.9 2.2.4.9.6 1.8.6 2.7 0 .9-.2 1.4-.7 1.7-.1.2-.7.3-1.5.3zm-6.1-1.9h5.6c-.1-1.2-.4-2-.9-2.6-.5-.6-1.2-.9-2-.9s-1.4.3-1.9.9c-.4.6-.7 1.4-.8 2.6zM443.2 133.2v3.8c0 .6-.1 1-.4 1.3-.3.3-.6.4-1.1.4-.4 0-.8-.1-1-.4-.3-.3-.4-.7-.4-1.3v-4.5c0-.7 0-1.3-.1-1.7 0-.4-.2-.7-.4-1-.2-.3-.6-.4-1-.4-.9 0-1.5.3-1.8 1-.3.6-.4 1.6-.4 2.7v3.8c0 .6-.1 1-.4 1.3-.3.3-.6.5-1.1.5-.4 0-.8-.2-1.1-.5-.3-.3-.4-.7-.4-1.3v-8.1c0-.5.1-.9.4-1.2.2-.3.6-.4 1-.4s.7.1 1 .4c.3.3.4.6.4 1.1v.3c.5-.6 1-1 1.6-1.3.6-.3 1.2-.4 1.9-.4s1.3.1 1.8.4c.5.3.9.7 1.3 1.3.5-.6 1-1 1.5-1.3.5-.3 1.2-.4 1.8-.4.8 0 1.4.2 2 .5.6.3 1 .7 1.3 1.3.2.5.4 1.3.4 2.4v5.6c0 .6-.1 1-.4 1.3-.3.3-.6.4-1.1.4-.4 0-.8-.2-1.1-.5-.3-.3-.4-.7-.4-1.3v-4.8c0-.6 0-1.1-.1-1.5-.1-.4-.2-.7-.4-.9-.2-.2-.6-.4-1-.4s-.7.1-1.1.3c-.3.2-.6.5-.8.9-.3.5-.4 1.4-.4 2.6z"></path>
                <foreignObject  transform="matrix(1 0 0 1 355.023 130.676)" width="200" height="50">
                    <xhtml:div  fxLayout="row" fxLayoutAlign="center center" style="height: 50px">
                        <span class="nunito white-text DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st19 DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st20 DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st21">{{currentSpellingText | uppercase}}</span>
                    </xhtml:div>
                </foreignObject>
            </g>

    </g>
        <g id="category-fuchsia" (click)="onClickGuessword()">
        <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st4" d="M547.3 343.2c6.3.3 11.6-4.9 11.7-11.5l.7-98c.1-6.6-4.9-12.2-11.2-12.5l-198.4-.5c-6.3-.3-11.6 7-11.7 13.6l-.4 98c-.1 6.6 4.9 12.2 11.2 12.5l198.1-1.6z"></path>
            <path d="M541 338.9c5.7.2 10.5-4.7 10.7-10.9l4.5-88.4c.1-6.3-4.4-11.6-10.1-11.9l-191 1c-5.7-.2-10.5 4.7-10.7 10.9v87.1c-.1 6.3 4.4 11.6 10.1 11.9l186.5.3z"
                  fill="#ec008c" stroke="#fff" stroke-width=".922" stroke-miterlimit="10"></path></g>
            <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st25" d="M453.2 264.6c-1.5 0-2.9-.3-4.2-.9-2.7-1.1-4.8-3.3-5.9-6-1.1-2.7-1.1-5.7 0-8.4 1.7-4.1 5.7-6.7 10.1-6.7 1.5 0 2.9.3 4.2.9 5.6 2.3 8.2 8.8 5.9 14.3-1.7 4.2-5.7 6.8-10.1 6.8zm0-20.1c-3.7 0-7 2.2-8.4 5.6-.9 2.3-1 4.7 0 7 .9 2.3 2.7 4 4.9 5 1.1.5 2.3.7 3.5.7 3.7 0 7-2.2 8.4-5.6 2-4.6-.2-10-4.9-12-1.1-.5-2.3-.7-3.5-.7z"></path>
                <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st25"
                      d="M444.6 257.3s-21.8 7.3-19.1 13c2.6 5.7 20.5-10.7 20.5-10.7M449.2 260.5c-.2 0-.3-.1-.5-.2-2.2-2.3-3.3-4.7-3.1-7.2.3-4 3.7-6.5 3.9-6.6.3-.2.7-.2.9.1.2.3.2.7-.1.9 0 0-3.1 2.3-3.3 5.7-.2 2.1.8 4.2 2.7 6.2.3.3.2.7 0 .9-.2.2-.3.2-.5.2z"></path>
                <foreignObject transform="matrix(.9 0 0 1 345.023 275.676)" width="230" height="60">
                    <xhtml:div  fxLayout="column" fxLayoutAlign="center center" style="height: 60px">
                        <span class="nunito white-text DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st19 DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st20 DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st21"
                        >{{currentGueswordText | uppercase}}</span>
                    </xhtml:div>
                </foreignObject>
                </g>

    </g>
        <g id="category-green" (click)="onClickPhrases()">
          <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st4" d="M97.5 222.3c-6.7-.3-12.4 5-12.6 11.7l5.9 99.8c-.2 6.7 5.2 12.4 12 12.7l208.9.5c6.7.3 12.4-7.2 12.6-13.9l.5-99.8c.2-6.7-5.2-12.4-12-12.7l-215.3 1.7z"></path>
              <path d="M104.2 227.9c-6.1-.2-11.3 4.7-11.4 10.9l2 88.4c-.2 6.3 4.7 11.6 10.9 11.9l200.9-1c6.1.2 11.3-4.7 11.4-10.9v-87.1c.2-6.3-4.7-11.6-10.9-11.9l-202.9-.3z"
                    fill="#00b6b5" stroke="#fff" stroke-width=".954" stroke-miterlimit="10"></path></g>


            <foreignObject transform="matrix(.9 0 0 1 105 275)" width="230" height="55">
                <xhtml:div  fxLayout="row" fxLayoutAlign="center center" style="height: 55px">
                    <span class="nunito white-text DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st19 DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st20 DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st21">
                        {{currentPhraseText | uppercase}}</span>
                </xhtml:div>
            </foreignObject>
            <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st27" d="M224.1 272.6l-16.3-8.2-15.5-.1c-1.4 0-2.7-.6-3.7-1.6s-1.5-2.3-1.5-3.7l.1-14.9c0-2.9 2.4-5.2 5.2-5.2l28.3.3c2.9 0 5.2 2.4 5.2 5.3l-.1 14.9c0 2.9-2.4 5.2-5.2 5.2H219l5.1 8zM193 241.5c-1.7 0-3 1.3-3 3l-.1 14.3c0 .8.3 1.6.9 2.1.6.6 1.3.9 2.1.9l15.4.1 9.6 4.8-3-4.7h5.2c1.7 0 3-1.3 3-3l.1-14.3c0-1.7-1.3-3-3-3l-27.2-.2z"></path>
                <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st27"
                      d="M192.6 258.4c-.4 0-.8-.3-.8-.8v-13.2c0-.4.4-.8.8-.8s.8.3.8.8v13.2c0 .4-.3.8-.8.8z"></path></g>
    </g>
        <g id="random" (click)="onClickRandom()"><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st4" d="M228.9 493.4c-6.6.2-12.1-4.9-12.2-11.4l1.2-97c-.2-6.5 5.1-12.1 11.6-12.3l205.5-.1c6.6-.2 15.4 7 15.5 13.5l-.4 97.1c.2 6.5-5.1 12.1-11.6 12.3l-209.6-2.1z"></path>
            <path d="M235.3 485.9c-6 .2-11-4.4-11.1-10.3l-2.6-83.1c-.2-5.9 4.6-10.9 10.6-11.1l200 1.1c6-.2 11 4.4 11.1 10.3l.1 81.9c.2 5.9-4.6 10.9-10.6 11.1l-197.5.1z"
                  fill="#fff" stroke="#a7a9ac" stroke-width=".913" stroke-miterlimit="10"></path>
            <g><text transform="translate(257.429 465.857)" class="nunito DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st20" font-size="29.106" fill="#b41e8e">ALEATORIO</text>
                <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st18"
                      d="M258.8 408.2c0-1.1.4-2.3 1.2-3.4.8-1.1 1.9-2.1 3.3-2.8 1.4-.7 3.1-1.1 4.9-1 1.7 0 3.3.4 4.6 1.1 1.3.7 2.3 1.6 3 2.7.7 1.1 1 2.3 1 3.6 0 1-.3 1.9-.7 2.7-.4.8-.9 1.4-1.5 1.9s-1.6 1.4-3.1 2.7c-.4.4-.8.7-1 .9-.3.3-.4.5-.6.8-.1.2-.2.5-.3.7-.1.2-.2.6-.3 1.2-.3 1.2-1 1.8-2.2 1.8-.6 0-1.1-.2-1.6-.7-.4-.4-.6-1-.6-1.8 0-1 .2-1.9.5-2.6.3-.7.8-1.4 1.3-1.9s1.2-1.2 2.1-1.9c.8-.6 1.4-1.1 1.7-1.5.3-.3.6-.7.9-1.1.2-.4.4-.9.4-1.4 0-1-.3-1.8-1-2.5s-1.6-1-2.7-1.1c-1.3 0-2.3.3-2.9.9-.6.6-1.2 1.6-1.7 2.9-.4 1.3-1.2 2-2.4 2-.7 0-1.2-.3-1.7-.8-.4-.4-.6-.9-.6-1.4zm8.2 19.9c-.7 0-1.4-.3-1.9-.8s-.8-1.2-.8-2 .3-1.4.8-1.9 1.2-.7 2-.7 1.4.3 1.9.8.7 1.2.7 1.9c0 .8-.3 1.5-.9 1.9-.4.6-1.1.8-1.8.8zM259.2 426.5c-.1 1.1-.7 2.2-1.5 3.3-.9 1.1-2.1 1.9-3.5 2.5-1.5.6-3.2.7-5 .5-1.7-.2-3.2-.7-4.4-1.5-1.2-.8-2.1-1.8-2.7-3-.6-1.2-.8-2.4-.6-3.7.1-1 .5-1.9 1-2.6.5-.7 1.1-1.3 1.7-1.8.6-.5 1.8-1.3 3.4-2.4.5-.3.8-.6 1.1-.8.3-.2.5-.5.6-.7.1-.2.3-.4.4-.7.1-.2.2-.6.5-1.2.4-1.2 1.2-1.7 2.4-1.6.6.1 1.1.4 1.5.8.4.5.5 1.1.4 1.9-.1 1-.4 1.8-.8 2.5s-.9 1.3-1.5 1.8-1.4 1-2.3 1.7c-.8.6-1.5 1-1.8 1.3-.4.3-.7.6-1 1-.3.4-.5.8-.5 1.3-.1.9.1 1.8.7 2.5s1.5 1.2 2.6 1.3c1.3.2 2.3 0 3-.6.7-.6 1.4-1.5 1.9-2.7.6-1.3 1.4-1.9 2.6-1.7.7.1 1.2.4 1.6.9.1.6.2 1.2.2 1.7zm-6.1-20.6c.7.1 1.3.4 1.8 1 .5.5.7 1.2.6 2.1-.1.7-.4 1.3-1 1.8s-1.3.6-2 .5c-.7-.1-1.3-.4-1.8-1-.4-.6-.6-1.2-.5-2 .1-.8.5-1.4 1.1-1.9.4-.4 1.1-.6 1.8-.5z"></path>
                <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st23"
                      d="M301.5 417.4l-.8-2.4h-7.2l-.8 2.5c-.3 1-.6 1.6-.8 2-.2.3-.6.5-1.1.5-.4 0-.8-.2-1.2-.5-.3-.4-.5-.8-.5-1.2 0-.3 0-.5.1-.8.1-.3.2-.7.4-1.2l4.5-12.6c.1-.4.3-.8.5-1.3s.4-.9.6-1.3c.2-.3.5-.6.8-.8.3-.2.7-.3 1.2-.3s.9.1 1.2.3c.3.2.6.5.8.8.2.3.4.7.5 1 .1.4.3.9.5 1.5l4.6 12.5c.4 1 .5 1.6.5 2.1 0 .4-.2.9-.5 1.2-.3.4-.8.6-1.2.6-.3 0-.5-.1-.7-.2-.2-.1-.4-.3-.5-.4-.1-.2-.3-.5-.4-.9-.3-.4-.4-.8-.5-1.1zm-7.1-5.3h5.3l-2.7-8-2.6 8zM324.7 428.2v-.4c-.3.5-.7.9-1.1 1.2-.4.3-.8.6-1.2.7-.4.2-1 .2-1.5.2-.7 0-1.3-.2-1.9-.5-.5-.3-1-.8-1.3-1.3-.4-.7-.5-1.6-.5-2.9V419c0-.6.1-1.1.4-1.4.3-.3.6-.5 1-.5s.8.2 1.1.5c.3.3.4.8.4 1.4v5c0 .7.1 1.3.2 1.8s.3.9.6 1.2c.3.3.7.4 1.2.4s.9-.2 1.4-.5c.4-.3.7-.7.9-1.2.2-.4.2-1.4.2-2.9V419c0-.6.1-1.1.4-1.4.3-.3.6-.5 1-.5s.8.2 1 .5c.3.3.4.8.4 1.4v9.1c0 .6-.1 1-.4 1.3-.2.3-.6.5-1 .5s-.7-.2-1-.5c-.2-.2-.3-.6-.3-1.2z"></path>
                <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st23"
                      d="M314.5 413.7l-6 7.4h6.4c.5 0 .9.1 1.2.4.3.3.4.6.4 1s-.1.7-.4 1c-.3.3-.7.4-1.2.4H306c-.6 0-1.1-.1-1.4-.4-.3-.3-.5-.7-.5-1.2 0-.3.1-.6.3-.9.2-.3.7-.9 1.3-1.7.7-.9 1.4-1.7 2-2.4.6-.7 1.1-1.4 1.6-2 .5-.6.9-1.1 1.3-1.6.3-.4.6-.8.8-1.1h-4.9c-.7 0-1.2-.1-1.5-.2-.3-.1-.5-.5-.5-1 0-.4.1-.7.4-1 .3-.2.6-.4 1.1-.4h7.5c.7 0 1.2.1 1.6.3.4.2.6.6.6 1.2 0 .2 0 .4-.1.6-.1.2-.2.4-.2.5-.1.1-.2.3-.4.5 0 .1-.2.4-.5.6z"></path>
                <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st23"
                      d="M320.9 407.2h-6.4c0 .8.2 1.5.5 2.2.3.6.7 1.1 1.2 1.4.5.3 1 .5 1.6.5.4 0 .8-.1 1.1-.2.3-.1.6-.3.9-.5.3-.2.6-.4.8-.7.3-.2.6-.6 1-1 .2-.2.4-.2.7-.2.3 0 .6.1.8.3.2.2.3.5.3.9 0 .3-.1.7-.3 1.1-.2.4-.6.9-1.1 1.3-.5.4-1.1.7-1.8 1-.7.3-1.5.4-2.4.4-2.1 0-3.7-.7-4.9-2-1.2-1.3-1.8-3.1-1.8-5.4 0-1.1.1-2.1.4-3 .3-.9.7-1.7 1.3-2.3.6-.7 1.2-1.2 2-1.5.8-.3 1.7-.5 2.7-.5 1.3 0 2.4.3 3.3.9.9.6 1.6 1.4 2.1 2.3.5.9.7 1.9.7 2.9 0 .9-.2 1.5-.7 1.8-.5.2-1.2.3-2 .3zm-6.4-2h5.9c-.1-1.2-.4-2.2-.9-2.8-.5-.6-1.2-.9-2.1-.9-.8 0-1.5.3-2 .9-.5.6-.8 1.6-.9 2.8zM296.6 429v4c0 .6-.1 1.1-.4 1.4-.3.3-.7.5-1.1.5-.5 0-.8-.2-1.1-.5-.3-.3-.4-.8-.4-1.4v-4.8c0-.8 0-1.3-.1-1.8-.1-.4-.2-.8-.4-1-.2-.3-.6-.4-1.1-.4-1 0-1.6.3-1.9 1-.3.7-.5 1.6-.5 2.9v4.1c0 .6-.1 1.1-.4 1.4-.3.3-.7.5-1.1.5-.5 0-.8-.2-1.1-.5-.3-.3-.4-.8-.4-1.4v-8.6c0-.6.1-1 .4-1.3.3-.3.6-.4 1-.4s.8.1 1 .4c.3.3.4.7.4 1.1v.3c.5-.6 1.1-1.1 1.7-1.4.6-.3 1.3-.4 2-.4.8 0 1.4.2 1.9.5s1 .8 1.3 1.4c.5-.6 1-1.1 1.6-1.4.6-.3 1.2-.4 1.9-.4.8 0 1.5.2 2.1.5.6.3 1 .8 1.3 1.4.3.5.4 1.4.4 2.6v5.9c0 .6-.1 1.1-.4 1.4-.3.3-.7.5-1.1.5-.5 0-.8-.2-1.1-.5-.3-.3-.4-.8-.4-1.4v-5c0-.6 0-1.2-.1-1.6-.1-.4-.2-.7-.4-1-.2-.3-.6-.4-1.1-.4-.4 0-.8.1-1.1.4-.4.2-.6.5-.8.9-.4.3-.5 1.2-.5 2.5z"></path>
                <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st25" d="M366.6 424.8c-1.5 0-3.1-.3-4.5-.9-2.9-1.2-5.1-3.4-6.2-6.3-1.2-2.9-1.1-6 .1-8.9 1.8-4.3 6-7.1 10.7-7.1 1.5 0 3.1.3 4.5.9 5.9 2.5 8.7 9.3 6.2 15.2-2 4.4-6.2 7.1-10.8 7.1zm0-21.2c-3.9 0-7.4 2.3-8.9 5.9-1 2.4-1 5 0 7.4 1 2.4 2.8 4.3 5.2 5.3 1.2.5 2.5.8 3.7.8 3.9 0 7.4-2.3 8.9-5.9 2.1-4.9-.2-10.6-5.2-12.7-1.2-.5-2.5-.8-3.7-.8z"></path>
                    <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st25"
                          d="M357.5 417.1s-23 7.7-20.2 13.7c2.8 6 21.7-11.3 21.7-11.3M362.4 420.5c-.2 0-.4-.1-.5-.2-2.4-2.4-3.5-5-3.3-7.6.3-4.2 3.9-6.9 4.1-7 .3-.2.7-.2 1 .1.2.3.2.7-.1 1 0 0-3.2 2.5-3.5 6-.2 2.2.8 4.4 2.9 6.5.3.3.3.7 0 1-.3.2-.5.2-.6.2z"></path></g>
                <g><path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st27" d="M426.9 434.7l-17.2-8.6-16.4-.2c-1.5 0-2.8-.6-3.9-1.7-1-1.1-1.6-2.5-1.6-3.9l.1-15.7c0-3 2.5-5.5 5.5-5.5l29.9.3c3 0 5.5 2.5 5.5 5.6l-.1 15.7c0 3-2.5 5.5-5.5 5.5h-1.6l5.3 8.5zm-32.8-32.8c-1.8 0-3.2 1.4-3.2 3.2l-.1 15.1c0 .9.3 1.7.9 2.3.6.6 1.4.9 2.2 1l16.3.1 10.1 5.1-3.2-5h5.5c1.8 0 3.2-1.4 3.2-3.2l.1-15.1c0-1.8-1.4-3.2-3.1-3.2l-28.7-.3z"></path>
                    <path class="DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st27"
                          d="M393.7 419.7c-.5 0-.9-.4-.9-.8v-14c0-.4.4-.8.9-.8s.9.4.9.8v14c0 .4-.4.8-.9.8z"></path></g></g></g>
</svg>

    <!--
      <svg fxFlex="grow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="185 10 690 480">
        <g id="RELOJ">
          <g class="st20">
            <path class="st21"
                  d="M268.8 51.6c-21.6-1-39.9 12.3-40.8 29.7l.4 373.9c-.9 17.4 16.1 32.4 37.7 33.4l537.6 4.4c21.6 1 39.9-18 40.8-35.4l5.8-343c.5-26.9-20.8-49.1-47.7-49.8L268.8 51.6z"></path>
          </g>
          <path transform="rotate(4.993 862.831 304.657)" class="st22" d="M854.1 283.4h17.5V326h-17.5z"></path>
          <linearGradient id="free-mod-gradient-1" gradientUnits="userSpaceOnUse" x1="844.521" y1="257.419" x2="844.521" y2="344.995"
                          gradientTransform="rotate(4.993 859.218 293.26)">
            <stop offset="0" stop-color="#77787b"></stop>
            <stop offset=".526" stop-color="#878787"></stop>
            <stop offset="1" stop-color="#595959"></stop>
          </linearGradient>
          <path fill="url(#free-mod-gradient-1)" d="M854.9 334.5l-27.9-2.4 6-68.8 27.9 2.5z"></path>
          <path class="st24"
                d="M766.3 48.3l-517.4 5.2c-21.6-.7-39.7 13.1-40.3 30.5L221 450.9c-.6 17.5 16.6 32.3 38.2 33l530.2.2c21.6.7 39.7-18.7 40.3-36.2l4.4-321.3-67.8-78.3z"></path>
          <path d="M281.3 43.5s-6.6-23.3 15.6-25c22.1-1.7 18.5 23.4 18.5 23.4l-34.1 1.6z" fill="#ed1c24"></path>
          <radialGradient id="free-mode-svg-gradient-2" cx="638.582" cy="-683.1" r="12.925"
                          gradientTransform="matrix(1.3321 .00758 -.02572 .998 -570.107 707.925)"
                          gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fff" stop-opacity="0"></stop>
            <stop offset="1" stop-color="#525252"></stop>
          </radialGradient>
          <path d="M281.3 43.5s-6.6-23.3 15.6-25c22.1-1.7 18.5 23.4 18.5 23.4l-34.1 1.6z" fill="url(#free-mode-svg-gradient-2)"></path>
          <path fill="#58595b" d="M277.8 51.2l-1-8.7 41.5-.7-1.8 8.4z"></path>
          <path transform="scale(-1) rotate(-6.858 -5069.37 3273.695)" class="st22" d="M189 286.4h14.3V321H189z"></path>
          <linearGradient id="free-mode-gradient-3" gradientUnits="userSpaceOnUse" x1="208.452" y1="279.263" x2="208.452" y2="325.625"
                          gradientTransform="rotate(-6.858 207.55 295.901)">
            <stop offset="0" stop-color="#77787b"></stop>
            <stop offset=".526" stop-color="#878787"></stop>
            <stop offset="1" stop-color="#595959"></stop>
          </linearGradient>
          <path fill="url(#free-mode-gradient-3)" d="M194.4 274.7l22.6-3.2 3.5 56.1-19.4 2.7z"></path>
          <path d="M841.4 98.1c.3-29-23.2-52.6-52.2-52.3l-532.3 4.7c-21.6-.7-39.7 13.1-40.3 30.5L229 447.9c-.6 17.5 16.6 32.3 38.2 33l530.2.2c21.6.7 39.7-18.7 40.3-36.2l3.7-346.8z"
                fill="#939598"></path>
          <path class="st31"
                d="M276.2 210.6l.1 8.3-29.5-.4-.1-8.3zM276 193.4l.1 8.4-29.5-.4-.1-8.4zM275.8 176.3l.1 8.3-29.5-.4-.1-8.3zM275.6 159.1l.1 8.3-29.5-.4-.1-8.3zM275.4 141.9l.1 8.3-29.5-.4-.1-8.3zM275.2 124.7l.1 8.4-29.5-.4-.1-8.4zM275 107.6l.1 8.3-29.5-.4-.1-8.3zM274.8 90.4l.1 8.3-29.5-.4-.1-8.3z"></path>
          <g>
            <path class="st32"
                  d="M276.2 209.6l.1 8.3-29.5-.4-.1-8.3zM276 192.4l.1 8.4-29.5-.4-.1-8.4zM275.8 175.3l.1 8.3-29.5-.4-.1-8.3zM275.6 158.1l.1 8.3-29.5-.4-.1-8.3zM275.4 140.9l.1 8.3-29.5-.4-.1-8.3zM275.2 123.7l.1 8.4-29.5-.4-.1-8.4zM275 106.6l.1 8.3-29.5-.4-.1-8.3zM274.8 89.4l.1 8.3-29.5-.4-.1-8.3z"></path>
          </g>
          <g>
            <path class="st22" d="M276.5 430.1l-10.5 3.1s-5.2 6.4-4.5 12.5c.9 8.3 6.7 13.9 10.2 14.8l8.7-.2-3.9-30.2z"></path>
            <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -17.32 11.375)" class="st33" cx="279.9" cy="445"
                     rx="14" ry="15.2"></ellipse>
            <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -17.324 11.343)" class="st34" cx="279" cy="445.1"
                     rx="11.1" ry="12.2"></ellipse>
            <g>
              <path class="st22" d="M312.6 434l-7.8 2.3s-3.9 4.7-3.3 9.3c.7 6.2 5 10.3 7.6 11l6.5-.1-3-22.5z"></path>
              <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -17.294 12.764)" class="st33" cx="315.1" cy="445"
                       rx="10.4" ry="11.3"></ellipse>
              <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -17.297 12.74)" class="st34" cx="314.5" cy="445.1"
                       rx="8.3" ry="9"></ellipse>
            </g>
            <g>
              <path class="st22" d="M345.9 434l-7.8 2.3s-3.9 4.7-3.3 9.3c.7 6.2 5 10.3 7.6 11l6.5-.1-3-22.5z"></path>
              <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -17.268 14.078)" class="st33" cx="348.4" cy="445"
                       rx="10.4" ry="11.3"></ellipse>
              <ellipse transform="matrix(.9992 -.03941 .03941 .9992 -17.271 14.054)" class="st34" cx="347.8"
                       cy="445.1" rx="8.3" ry="9"></ellipse>
            </g>
          </g>
          <g>
            <path opacity=".31" fill="#77787b" d="M794.2 456.3h-65.5l-.7-30.6 68-1.3z"></path>
            <path fill="#abadb0" d="M791.2 453.1H734l-1-2.4.4-19.7 58.5-2.8.8 1.8z"></path>
            <path class="st34" d="M790.1 451.2H733l-.6-22.1 59.2-.9z"></path>
            <path opacity=".31" fill="none" stroke="#77787b" stroke-width=".894" stroke-miterlimit="10"
                  d="M762 428.2v23"></path>
          </g>
          <path class="st38"
                d="M730.5 346.1h15.8v31.3h-15.8zM753.7 346.1h15.8v31.3h-15.8zM774.4 346.1h15.8v31.3h-15.8zM730.5 383.6h15.8v31.3h-15.8zM753.7 383.6h15.8v31.3h-15.8zM774.4 383.6h15.8v31.3h-15.8z"></path>
        </g>
        <g id="riddle-button" (click)="onClickRiddle()">
          <path class="st24"
                d="M511.8 188.6c5.7.2 10.5-4.9 10.7-11.4l-4.9-96.7c.1-6.5-4.4-12-10.1-12.3H330c-5.7-.2-10.5 7-10.7 13.5l-.6 96.8c-.1 6.5 4.4 12 10.1 12.3l183-2.2z"></path>
          <path d="M506.2 181.3c5.2.2 9.6-4.3 9.7-10L514.2 91c.1-5.7-4-10.5-9.2-10.8l-170.6.9c-5.2-.2-9.6 4.3-9.7 10v79.1c-.1 5.7 4 10.5 9.2 10.8l172.3.3z"
                fill="#f7941d" stroke="#fff" stroke-width=".838" stroke-miterlimit="10"></path>
          <g>
            <path class="st40"
                  d="M420.4 104.9c0-1 .4-2 1-2.9.7-1 1.6-1.8 2.8-2.4 1.2-.6 2.6-.9 4.2-.9 1.5 0 2.8.4 3.9.9 1.1.6 2 1.4 2.6 2.3.6 1 .9 2 .8 3.1 0 .9-.2 1.6-.6 2.3-.4.6-.8 1.2-1.3 1.7s-1.4 1.2-2.7 2.3c-.4.3-.6.6-.9.8-.2.2-.4.5-.5.6l-.3.6c-.1.2-.2.5-.3 1-.2 1.1-.9 1.6-1.9 1.6-.5 0-1-.2-1.3-.6-.4-.4-.5-.9-.5-1.6 0-.9.2-1.6.5-2.2.3-.6.7-1.2 1.1-1.6.5-.5 1.1-1 1.8-1.7.7-.6 1.2-1 1.5-1.3.3-.3.6-.6.8-1 .2-.4.3-.7.3-1.2 0-.8-.3-1.5-.9-2.1-.6-.6-1.4-.9-2.3-.9-1.1 0-2 .2-2.5.8-.6.6-1 1.4-1.4 2.5-.4 1.2-1.1 1.7-2 1.7-.6 0-1.1-.2-1.4-.7-.3-.2-.5-.7-.5-1.1zm7.1 17.1c-.6 0-1.2-.2-1.6-.7-.5-.4-.7-1-.7-1.7 0-.6.3-1.2.7-1.6s1-.6 1.7-.6c.6 0 1.2.3 1.6.7.4.5.6 1 .6 1.7s-.3 1.3-.7 1.7c-.5.3-1 .5-1.6.5zM420.7 120.6c-.1 1-.6 1.9-1.3 2.8-.8.9-1.8 1.6-3 2.1-1.3.5-2.7.6-4.3.4-1.5-.2-2.7-.6-3.8-1.3-1.1-.7-1.8-1.6-2.3-2.6-.5-1-.7-2.1-.5-3.2.1-.9.4-1.6.8-2.2.4-.6.9-1.1 1.5-1.5.5-.4 1.5-1.1 2.9-2.1.4-.3.7-.5.9-.7l.6-.6.3-.6c.1-.2.2-.5.4-1 .3-1 1-1.5 2-1.4.5.1 1 .3 1.3.7.3.4.4.9.3 1.6-.1.9-.3 1.6-.7 2.2-.3.6-.8 1.1-1.3 1.5-.5.4-1.2.9-2 1.5-.7.5-1.3.9-1.6 1.1-.3.3-.6.5-.9.9-.2.3-.4.7-.5 1.1-.1.8.1 1.5.6 2.2.5.6 1.3 1 2.2 1.1 1.1.1 2 0 2.6-.5.6-.5 1.2-1.3 1.7-2.3.5-1.1 1.2-1.6 2.2-1.5.6.1 1 .3 1.4.8.4.6.6 1.1.5 1.5zm-5.2-17.7c.6.1 1.1.4 1.5.8.4.5.6 1.1.5 1.8-.1.6-.4 1.2-.9 1.5-.5.4-1.1.5-1.7.4-.6-.1-1.2-.4-1.5-.9-.4-.5-.5-1.1-.4-1.7.1-.7.4-1.2.9-1.6.4-.3 1-.4 1.6-.3z"></path>
            <g>
              <foreignObject transform="matrix(.9 0 0 1 330.088 124.675)" width="200" height="55">
                <xhtml:div  fxLayout="row" fxLayoutAlign="center center" style="height: 55px">
                  <span class="st41 st42 st43 button-label">{{currentRiddleText | uppercase}}</span>
                </xhtml:div>
              </foreignObject>
            </g>
          </g>
        </g>
        <g id="spelling-button" (click)="onClickSpelling()">
          <path class="st24"
                d="M545 70.2c-5.7-.2-10.5 4.9-10.7 11.4l4.9 96.7c-.1 6.5 4.4 12 10.1 12.3l177.4.1c5.7.2 10.5-7 10.7-13.5l.6-96.8c.1-6.5-4.4-12-10.1-12.3L545 70.2z"></path>
          <path d="M550.5 77.6c-5.2-.2-9.6 4.3-9.7 10l1.7 80.3c-.1 5.7 4 10.5 9.2 10.8l170.6-.9c5.2.2 9.6-4.3 9.7-10V88.7c.1-5.7-4-10.5-9.2-10.8l-172.3-.3z"
                fill="#00aeef" stroke="#fff" stroke-width=".838" stroke-miterlimit="10"></path>
          <g>
            <path class="st45"
                  d="M632.9 114.5l-.7-2.1H626l-.7 2.1c-.3.8-.5 1.4-.7 1.7-.2.3-.5.4-1 .4-.4 0-.7-.2-1-.5-.3-.3-.4-.7-.4-1.1 0-.2 0-.5.1-.7.1-.2.2-.6.3-1l3.9-10.8c.1-.3.2-.7.4-1.1.2-.4.3-.8.5-1.1.2-.3.4-.5.7-.7.3-.2.6-.3 1.1-.3.4 0 .8.1 1.1.3.3.2.5.4.7.7.2.3.3.6.4.9.1.3.3.7.5 1.3l4 10.7c.3.8.5 1.4.5 1.8 0 .4-.1.7-.4 1.1-.3.3-.6.5-1.1.5-.2 0-.4 0-.6-.1-.2-.1-.3-.2-.4-.4-.1-.2-.2-.4-.4-.7-.4-.4-.6-.6-.6-.9zm-6.1-4.6h4.5L629 103l-2.2 6.9zM652.8 123.8v-.3c-.3.4-.6.8-.9 1-.3.3-.7.5-1.1.6-.4.1-.8.2-1.3.2-.6 0-1.1-.1-1.6-.4-.5-.3-.8-.6-1.1-1.1-.3-.6-.5-1.4-.5-2.5v-5.4c0-.5.1-.9.3-1.2.2-.3.5-.4.9-.4s.7.1.9.4c.2.3.3.7.3 1.2v4.3c0 .6 0 1.2.1 1.6.1.4.3.8.5 1 .3.2.6.4 1 .4s.8-.1 1.2-.4c.4-.3.6-.6.8-1.1.1-.4.2-1.2.2-2.5v-3.3c0-.5.1-.9.3-1.2.2-.3.5-.4.9-.4s.7.1.9.4c.2.3.3.7.3 1.2v7.9c0 .5-.1.9-.3 1.2-.2.3-.5.4-.8.4-.3 0-.6-.1-.8-.4-.1-.4-.2-.7-.2-1.2z"></path>
            <path class="st45"
                  d="M644.1 111.3l-5.2 6.3h5.5c.4 0 .8.1 1 .3.2.2.3.5.3.9 0 .3-.1.6-.3.9-.2.2-.6.3-1 .3h-7.6c-.5 0-.9-.1-1.2-.4-.3-.3-.4-.6-.4-1.1 0-.3.1-.5.3-.8.2-.3.6-.8 1.2-1.5.6-.8 1.2-1.4 1.7-2.1.5-.6 1-1.2 1.4-1.7.4-.5.8-1 1.1-1.4.3-.4.5-.7.7-1h-4.2c-.6 0-1-.1-1.3-.2-.3-.1-.4-.4-.4-.9 0-.4.1-.6.3-.9.2-.2.5-.3 1-.3h6.5c.6 0 1.1.1 1.4.3.3.2.5.5.5 1 0 .2 0 .3-.1.5s-.1.3-.2.4c-.1.1-.2.3-.3.4-.4.6-.5.8-.7 1z"></path>
            <path class="st45"
                  d="M649.5 105.7H644c0 .7.1 1.3.4 1.9.3.5.6.9 1 1.2.4.3.9.4 1.4.4.3 0 .6 0 .9-.1.3-.1.6-.2.8-.4.3-.2.5-.4.7-.6l.9-.9c.1-.1.4-.2.6-.2.3 0 .5.1.7.3.2.2.3.4.3.7 0 .3-.1.6-.3 1-.2.4-.5.7-.9 1.1-.4.3-.9.6-1.5.9-.6.2-1.3.3-2.1.3-1.8 0-3.2-.6-4.2-1.7s-1.5-2.7-1.5-4.6c0-.9.1-1.8.4-2.5.2-.8.6-1.5 1.1-2 .5-.6 1.1-1 1.8-1.3.7-.3 1.5-.4 2.3-.4 1.1 0 2 .3 2.8.8.8.5 1.4 1.2 1.8 2 .4.8.6 1.6.6 2.5 0 .8-.2 1.3-.6 1.5-.6 0-1.1.1-1.9.1zM644 104h5.1c-.1-1.1-.3-1.9-.8-2.4s-1-.8-1.8-.8c-.7 0-1.3.3-1.7.8-.4.5-.7 1.3-.8 2.4zM628.7 124.4v3.4c0 .5-.1.9-.4 1.2-.2.3-.6.4-1 .4s-.7-.1-1-.4c-.2-.3-.4-.7-.4-1.2v-4.1c0-.7 0-1.2-.1-1.5 0-.4-.2-.7-.4-.9-.2-.2-.5-.3-.9-.3-.8 0-1.4.3-1.7.9-.3.6-.4 1.4-.4 2.5v3.5c0 .5-.1.9-.4 1.2-.2.3-.6.4-1 .4s-.7-.1-1-.4c-.3-.3-.4-.7-.4-1.2v-7.4c0-.5.1-.9.3-1.1.2-.3.5-.4.9-.4s.6.1.9.4c.2.2.4.6.4 1v.2c.4-.5.9-.9 1.4-1.2.5-.3 1.1-.4 1.7-.4.6 0 1.2.1 1.7.4.5.3.9.7 1.2 1.2.4-.5.9-.9 1.4-1.2.5-.3 1-.4 1.7-.4s1.3.1 1.8.4c.5.3.9.7 1.1 1.2.2.5.3 1.2.3 2.2v5c0 .5-.1.9-.4 1.2-.2.3-.6.4-1 .4s-.7-.1-1-.4c-.2-.3-.4-.7-.4-1.2v-4.3c0-.6 0-1-.1-1.3 0-.3-.2-.6-.4-.8-.2-.2-.5-.3-.9-.3-.3 0-.7.1-1 .3-.3.2-.5.5-.7.8.3.3.2 1.1.2 2.2z"></path>
            <g>
              <foreignObject transform="matrix(.9 0 0 1 547.023 130.676)" width="200" height="50">
                <xhtml:div  fxLayout="row" fxLayoutAlign="center center" style="height: 50px">
                  <span class="st41 st42 st43" style="color: white">{{currentSpellingText | uppercase}}</span>
                </xhtml:div>
              </foreignObject>
    &lt;!&ndash;
              <text transform="matrix(.9 0 0 1 577.023 154.676)" class="st41 st42 st43"></text>
    &ndash;&gt;
            </g>
          </g>
        </g>
        <g id="guessword-button" (click)="onClickGuessword()">
          <path class="st24"
                d="M727.3 324.8c5.7.2 10.5-4.9 10.7-11.4l-4.9-96.7c.1-6.5-4.4-12-10.1-12.3l-177.4-.1c-5.7-.2-10.5 7-10.7 13.5l-.6 96.8c-.1 6.5 4.4 12 10.1 12.3l182.9-2.1z"></path>
          <path d="M721.7 317.5c5.2.2 9.6-4.3 9.7-10l-1.7-80.3c.1-5.7-4-10.5-9.2-10.8l-170.6.9c-5.2-.2-9.6 4.3-9.7 10v79.1c-.1 5.7 4 10.5 9.2 10.8l172.3.3z"
                fill="#ec008c" stroke="#fff" stroke-width=".838" stroke-miterlimit="10"></path>
          <path class="st47"
                d="M643.8 247c-1.3 0-2.6-.3-3.9-.8-2.5-1-4.4-3-5.4-5.4-1-2.5-1-5.2 0-7.6 1.6-3.7 5.2-6.1 9.2-6.1 1.3 0 2.6.3 3.9.8 5.1 2.1 7.4 8 5.3 13-1.4 3.7-5 6.1-9.1 6.1zm0-18.2c-3.4 0-6.4 2-7.7 5.1-.9 2-.9 4.3 0 6.4.8 2.1 2.4 3.7 4.5 4.5 1 .4 2.1.7 3.2.7 3.4 0 6.4-2 7.7-5.1 1.8-4.2-.2-9.1-4.4-10.9-1.1-.5-2.1-.7-3.3-.7z"></path>
          <path class="st47"
                d="M636.1 240.4s-19.8 6.6-17.4 11.8c2.4 5.2 18.6-9.7 18.6-9.7M640.2 243.3c-.2 0-.3-.1-.4-.2-2-2.1-3-4.3-2.8-6.6.3-3.6 3.4-5.9 3.5-6 .3-.2.6-.1.8.1.2.3.1.6-.1.8 0 0-2.8 2.1-3 5.2-.1 1.9.7 3.8 2.5 5.6.2.2.2.6 0 .8-.2.3-.3.3-.5.3z"></path>
          <foreignObject transform="matrix(.9 0 0 1 545.023 256.676)" width="200" height="60">
            <xhtml:div  fxLayout="row" fxLayoutAlign="center center" style="height: 60px">
              <span class="st41 st42 st43 button-label">{{currentGueswordText | uppercase}}</span>
            </xhtml:div>
          </foreignObject>
         &lt;!&ndash; <text transform="matrix(.9 0 0 1 585.084 277.98)">

            <tspan x="0" y="0" class="st41 st42 st43">{{currentGueswordTextPart1 | uppercase}}</tspan>
            <tspan x="-4.8" y="27.2" class="st41 st42 st43">{{currentGueswordTextPart2 | uppercase}}</tspan>
          </text>&ndash;&gt;
        </g>
        <g id="phrases-button" (click)="onClickPhrases()">
          <g>
            <path class="st24"
                  d="M329.4 206.4c-5.7-.2-10.5 4.9-10.7 11.4l4.9 96.7c-.1 6.5 4.4 12 10.1 12.3l177.4.1c5.7.2 10.5-7 10.7-13.5l.6-96.8c.1-6.5-4.4-12-10.1-12.3l-182.9 2.1z"></path>
            <path d="M335 213.7c-5.2-.2-9.6 4.3-9.7 10L327 304c-.1 5.7 4 10.5 9.2 10.8l170.6-.9c5.2.2 9.6-4.3 9.7-10v-79.1c.1-5.7-4-10.5-9.2-10.8l-172.3-.3z"
                  fill="#00b6b5" stroke="#fff" stroke-width=".838" stroke-miterlimit="10"></path>
            <foreignObject transform="matrix(.9 0 0 1 330.617 256.853)" width="200" height="55">
              <xhtml:div  fxLayout="row" fxLayoutAlign="center center" style="height: 55px">
                <span class="st41 st42 st43 button-label">{{currentPhraseText | uppercase}}</span>
              </xhtml:div>
            </foreignObject>
           &lt;!&ndash; <text transform="matrix(.9 0 0 1 374.617 276.853)">
              <tspan x="0" [attr.y]="currentPhraseTextPart2 ? 0 : 27.2" class="st41 st42 st43">{{currentPhraseTextPart1 | uppercase}}</tspan>
              <tspan *ngIf="currentPhraseTextPart2 && currentPhraseTextPart2.split(' ').length > 1" x="-45" y="27.2" class="st41 st42 st43">{{currentPhraseTextPart2 | uppercase}}</tspan>
              <tspan *ngIf="currentPhraseTextPart2 && currentPhraseTextPart2.split(' ').length  === 1" x="-3.5" y="27.2" class="st41 st42 st43">{{currentPhraseTextPart2 | uppercase}}</tspan>
            </text>&ndash;&gt;
            <g>
              <path class="st49"
                    d="M436.6 252.4l-14.8-7.4-14.1-.1c-1.3 0-2.4-.5-3.3-1.4-.9-.9-1.4-2.1-1.4-3.4l.1-13.5c0-2.6 2.1-4.7 4.7-4.7l25.7.2c2.6 0 4.7 2.2 4.7 4.8l-.1 13.5c0 2.6-2.1 4.7-4.7 4.7H432l4.6 7.3zm-28.2-28.2c-1.5 0-2.7 1.2-2.7 2.7l-.1 13a2.732 2.732 0 0 0 2.7 2.7l14 .1 8.7 4.4-2.7-4.3h4.7c1.5 0 2.7-1.2 2.7-2.7l.1-13c0-1.5-1.2-2.7-2.7-2.8l-24.7-.1z"></path>
              <path class="st49" d="M408 239.4c-.4 0-.7-.3-.7-.7v-12c0-.4.3-.7.7-.7.4 0 .7.3.7.7v12c.1.4-.3.7-.7.7z"></path>
            </g>
          </g>

        </g>
        <g id="random-button" (click)="onClickRandom()">
          <path class="st24"
                d="M448.6 460.1c-5.7.2-10.5-4.9-10.7-11.4l4.9-96.7c-.1-6.5 4.4-12 10.1-12.3l177.4-.1c5.7-.2 10.5 7 10.7 13.5l.6 96.8c.1 6.5-4.4 12-10.1 12.3l-182.9-2.1z"></path>
          <path d="M454.2 452.8c-5.2.2-9.6-4.3-9.7-10l1.7-80.3c-.1-5.7 4-10.5 9.2-10.8l170.6.9c5.2-.2 9.6 4.3 9.7 10v79.1c.1 5.7-4 10.5-9.2 10.8l-172.3.3z"
                fill="#fff" stroke="#a7a9ac" stroke-width=".838" stroke-miterlimit="10"></path>
          <g>
            <text transform="matrix(.9 0 0 1 469.675 427.931)" class="st42" font-size="26.45" fill="#b41e8e">
              ALEATORIO
            </text>
            <path class="st40"
                  d="M486.5 379.1c0-.8.3-1.6.9-2.5.5-.8 1.3-1.5 2.4-2 1-.5 2.2-.8 3.5-.7 1.2 0 2.3.3 3.3.8.9.5 1.7 1.1 2.2 1.9.5.8.7 1.7.7 2.6 0 .7-.2 1.4-.5 1.9s-.7 1-1.1 1.4c-.4.4-1.2 1-2.3 2l-.7.7c-.2.2-.3.4-.4.5-.1.2-.2.3-.2.5-.1.2-.1.5-.2.9-.2.9-.7 1.3-1.6 1.3-.4 0-.8-.2-1.1-.5-.3-.3-.4-.7-.4-1.3 0-.7.1-1.3.4-1.9.2-.5.5-1 .9-1.4.4-.4.9-.8 1.5-1.4.6-.5 1-.8 1.2-1.1.3-.2.5-.5.6-.8.2-.3.3-.6.3-1 0-.7-.2-1.3-.7-1.8-.5-.5-1.2-.7-2-.8-.9 0-1.6.2-2.1.7s-.9 1.2-1.2 2.1c-.3 1-.9 1.4-1.7 1.4-.5 0-.9-.2-1.2-.5-.4-.2-.5-.6-.5-1zm5.9 14.3c-.5 0-1-.2-1.4-.5-.4-.4-.6-.8-.5-1.4 0-.5.2-1 .6-1.3.4-.4.9-.5 1.4-.5.5 0 1 .2 1.3.6.4.4.5.8.5 1.4 0 .6-.2 1.1-.6 1.4-.3.2-.8.3-1.3.3zM486.8 392.3c-.1.8-.5 1.6-1.1 2.4-.6.8-1.5 1.4-2.5 1.8-1.1.4-2.3.5-3.6.4-1.2-.2-2.3-.5-3.2-1.1-.9-.6-1.5-1.3-1.9-2.1-.4-.9-.6-1.7-.4-2.7.1-.7.3-1.3.7-1.8.4-.5.8-.9 1.2-1.3.5-.3 1.3-.9 2.4-1.7.3-.2.6-.4.8-.6.2-.2.4-.3.5-.5.1-.2.2-.3.3-.5s.2-.4.3-.8c.3-.9.8-1.2 1.7-1.1.4.1.8.3 1.1.6.3.3.4.8.3 1.4-.1.7-.3 1.3-.6 1.8s-.6.9-1.1 1.3c-.4.3-1 .8-1.7 1.2-.6.4-1 .7-1.3.9-.3.2-.5.5-.7.7-.2.3-.3.6-.4.9-.1.7.1 1.3.5 1.8s1.1.9 1.9 1c.9.1 1.7 0 2.2-.4.5-.4 1-1.1 1.4-1.9.4-.9 1-1.3 1.8-1.2.5.1.9.3 1.1.7.2 0 .3.4.3.8zm-4.4-14.8c.5.1 1 .3 1.3.7.3.4.5.9.4 1.5-.1.5-.3 1-.7 1.3-.4.3-.9.4-1.5.4-.5-.1-1-.3-1.3-.7-.3-.4-.4-.9-.4-1.4.1-.6.3-1 .8-1.3.4-.5.9-.6 1.4-.5z"></path>
            <path class="st45"
                  d="M517.2 385.7l-.6-1.7h-5.1l-.6 1.8c-.2.7-.4 1.2-.6 1.4-.2.2-.4.4-.8.4-.3 0-.6-.1-.9-.4-.2-.3-.4-.6-.4-.9 0-.2 0-.4.1-.6.1-.2.2-.5.3-.8l3.2-9 .3-.9c.1-.4.3-.7.4-.9s.3-.4.6-.6c.2-.1.5-.2.9-.2s.7.1.9.2c.2.1.4.3.6.6.1.2.3.5.4.8.1.3.2.6.4 1.1l3.3 9c.3.7.4 1.2.4 1.5 0 .3-.1.6-.4.9-.2.3-.5.4-.9.4-.2 0-.4 0-.5-.1-.1-.1-.3-.2-.4-.3-.1-.1-.2-.3-.3-.6-.2-.6-.2-.8-.3-1.1zm-5.1-3.8h3.8l-1.9-5.7-1.9 5.7zM533.9 393.5v-.3c-.2.3-.5.6-.8.9-.3.2-.6.4-.9.5-.3.1-.7.2-1.1.2-.5 0-.9-.1-1.3-.3-.4-.2-.7-.5-.9-.9-.3-.5-.4-1.2-.4-2.1V387c0-.5.1-.8.3-1 .2-.2.4-.3.7-.3.3 0 .6.1.8.3.2.2.3.6.3 1v3.6c0 .5 0 1 .1 1.3.1.4.2.6.4.8.2.2.5.3.8.3.3 0 .7-.1 1-.3.3-.2.5-.5.7-.9.1-.3.2-1 .2-2.1v-2.8c0-.4.1-.8.3-1 .2-.2.4-.3.7-.3.3 0 .6.1.7.3.2.2.3.6.3 1v6.6c0 .4-.1.8-.3 1-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3-.2-.3-.2-.6-.2-1z"></path>
            <path class="st45"
                  d="M526.6 383.1l-4.3 5.3h4.6c.4 0 .7.1.8.3.2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.5.3-.9.3h-6.4c-.4 0-.8-.1-1-.3-.2-.2-.3-.5-.3-.9 0-.2.1-.4.2-.7.2-.2.5-.6 1-1.2s1-1.2 1.4-1.7c.4-.5.8-1 1.2-1.4.4-.4.7-.8.9-1.1.2-.3.4-.6.6-.8h-3.5c-.5 0-.8 0-1.1-.1-.2-.1-.4-.3-.4-.8 0-.3.1-.5.3-.7.2-.2.5-.3.8-.3h5.4c.5 0 .9.1 1.2.2.3.2.4.5.4.9 0 .1 0 .3-.1.4-.1.1-.1.3-.2.4-.1.1-.1.2-.3.3 0 .1-.2.3-.3.5z"></path>
            <path class="st45"
                  d="M531.1 378.4h-4.6c0 .6.1 1.1.3 1.6.2.4.5.8.8 1 .3.2.7.3 1.2.3.3 0 .5 0 .8-.1.2-.1.5-.2.7-.3.2-.2.4-.3.6-.5l.7-.7c.1-.1.3-.2.5-.2s.4.1.6.2c.1.1.2.4.2.6 0 .2-.1.5-.3.8-.2.3-.4.6-.8.9-.3.3-.8.5-1.3.7-.5.2-1.1.3-1.8.3-1.5 0-2.7-.5-3.5-1.4-.8-.9-1.3-2.2-1.3-3.9 0-.8.1-1.5.3-2.1.2-.7.5-1.2.9-1.7s.9-.8 1.5-1.1c.6-.2 1.2-.4 1.9-.4.9 0 1.7.2 2.4.6.7.4 1.2 1 1.5 1.7.3.7.5 1.4.5 2.1 0 .7-.2 1.1-.5 1.3-.2.2-.7.3-1.3.3zm-4.6-1.5h4.3c-.1-.9-.3-1.5-.7-2-.4-.4-.9-.7-1.5-.7s-1.1.2-1.4.7c-.4.5-.6 1.2-.7 2zM513.7 394v2.9c0 .5-.1.8-.3 1-.2.2-.5.3-.8.3-.3 0-.6-.1-.8-.3-.2-.2-.3-.6-.3-1v-3.4c0-.5 0-1-.1-1.3 0-.3-.1-.5-.3-.7-.2-.2-.4-.3-.8-.3-.7 0-1.2.2-1.4.7-.2.5-.3 1.2-.3 2.1v2.9c0 .4-.1.8-.3 1-.2.2-.5.3-.8.3-.3 0-.6-.1-.8-.3-.2-.2-.3-.6-.3-1v-6.2c0-.4.1-.7.3-.9.2-.2.4-.3.7-.3.3 0 .5.1.7.3.2.2.3.5.3.8v.2c.4-.4.8-.8 1.2-1 .4-.2.9-.3 1.4-.3.5 0 1 .1 1.4.3.4.2.7.5 1 1 .4-.4.8-.8 1.2-1 .4-.2.9-.3 1.4-.3.6 0 1.1.1 1.5.3.4.2.7.6 1 1 .2.4.3 1 .3 1.8v4.2c0 .5-.1.8-.3 1-.2.2-.5.3-.8.3-.3 0-.6-.1-.8-.3-.2-.2-.3-.6-.3-1v-3.6c0-.5 0-.8-.1-1.1 0-.3-.1-.5-.3-.7-.2-.2-.4-.3-.8-.3-.3 0-.6.1-.8.3-.3.2-.5.4-.6.7-.2.4-.3 1-.3 1.9z"></path>
            <g>
              <path class="st47"
                    d="M564 391.1c-1.1 0-2.2-.2-3.2-.7-2-.9-3.6-2.5-4.5-4.5-.8-2.1-.8-4.3 0-6.4 1.3-3.1 4.3-5.1 7.7-5.1 1.1 0 2.2.2 3.2.7 4.2 1.8 6.2 6.7 4.4 10.9-1.3 3.1-4.3 5.1-7.6 5.1zm0-15.3c-2.8 0-5.3 1.7-6.4 4.3-.7 1.7-.7 3.6 0 5.3.7 1.7 2 3.1 3.7 3.8.9.4 1.8.5 2.7.5 2.8 0 5.3-1.7 6.4-4.3 1.5-3.5-.2-7.6-3.7-9.1-.9-.3-1.8-.5-2.7-.5z"></path>
              <path class="st47"
                    d="M557.5 385.5s-16.5 5.6-14.5 9.9c2 4.3 15.6-8.1 15.6-8.1M560.9 388c-.1 0-.3-.1-.4-.2-1.7-1.8-2.5-3.6-2.3-5.5.2-3 2.8-5 2.9-5 .2-.2.5-.1.7.1.2.2.1.5-.1.7 0 0-2.3 1.8-2.5 4.3-.1 1.6.6 3.2 2.1 4.7.2.2.2.5 0 .7-.1.1-.2.2-.4.2z"></path>
            </g>
            <g>
              <path class="st49"
                    d="M607.4 398.2L595 392l-11.8-.1c-1.1 0-2-.4-2.8-1.2-.7-.8-1.1-1.8-1.1-2.8l.1-11.3c0-2.2 1.8-4 4-4l21.5.2c2.2 0 3.9 1.8 3.9 4l-.1 11.3c0 2.2-1.8 3.9-4 3.9h-1.2l3.9 6.2zm-23.6-23.6c-1.3 0-2.3 1-2.3 2.3l-.1 10.9c0 .6.2 1.2.7 1.6.4.4 1 .7 1.6.7l11.7.1 7.3 3.7-2.3-3.6h3.9c1.3 0 2.3-1 2.3-2.3l.1-10.9c0-1.3-1-2.3-2.3-2.3l-20.6-.2z"></path>
              <path class="st49"
                    d="M583.5 387.4c-.3 0-.6-.3-.6-.6v-10c0-.3.3-.6.6-.6s.6.3.6.6v10c0 .3-.3.6-.6.6z"></path>
            </g>
          </g>
        </g>
      </svg>
    -->
    <div style="padding: 1%;">
        <app-back-button [backUrl]="'cover'"></app-back-button>
    </div>
</div>
