.white-text {
  color: white;
  text-align: center;
}
.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st2{fill:#717375}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st4{fill:#656668}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st9{fill:#5f6062}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st10{fill:#b1b3b6}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st11{fill:#bcbec0}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st12,.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st16{opacity:.7;fill:#939598}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st16{fill:#77787b}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st18{fill:#fdc485}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st19{fill:#fff}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st20{}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st21{font-size:26.4425px}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st23{fill:#6dcff6}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st25{fill:#f49ac1}.DESAFIO_LIBRE_NIVEL_1_SIN_FONDO_svg__st27{fill:#86dfd8}
