<div fxFlex="grow" fxLayout="column" fxLayoutAlign="center center">
  <svg *ngIf="!data" id="select-robot" fxFlex="grow"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 135.7 115.7">
    <g style="opacity:.5">
      <path d="M27.7 3.9c-5.8-.2-10.6 3.4-10.9 8.1l.1 86.4c-.2 4.7 4.3 8.8 10 9.1l90.3 3.1c5.7.3 10.6-4.9 10.9-9.6l2.9-84c.2-4.7-4.3-8.8-10-9.1l-93.3-4z" [ngClass]="'shadow-level-' + game.level"></path>
    </g>
    <g id="left-detail">
      <path transform="rotate(-180 5.33335 55.82055)" style="fill:#717375" d="M2.8 49.7h5V62h-5z"></path>
      <path transform="rotate(-180 10.83335 57)" style="fill:#808285" d="M6.8 47h8v20h-8z"></path>
    </g>
    <path d="M21.5 5.8c-5.7-.2-10.6 3.6-10.7 8.3l3.3 84.5c-.1 4.7 4.4 8.8 10.2 9h88.8c5.7.2 10.6-5.1 10.7-9.8l1.4-84.5c.1-4.7-4.4-8.8-10.2-9L21.5 5.8z" style="fill:#a7a9ac"></path>
    <path d="M27.1 11.2c-5.2-.2-9.6 3.1-9.7 7.3L19.1 91c-.1 4.2 4 7.7 9.2 7.9l81.2-.6c5.2.2 9.6-3.1 9.7-7.3V19.3c.1-4.2-4-7.7-9.2-7.9l-82.9-.2z" style="fill:#c7c8ca"></path>
    <g>
      <clipPath id="mini-monitor-select-player-clip-path">
        <path  d="M27.1 11.2c-5.2-.2-9.6 3.1-9.7 7.3L19.1 91c-.1 4.2 4 7.7 9.2 7.9l81.2-.6c5.2.2 9.6-3.1 9.7-7.3V19.3c.1-4.2-4-7.7-9.2-7.9l-82.9-.2z"></path>
      </clipPath>
      <g *ngIf="state === 'closed'" id="persianas">
        <path d="M15.2 17.5h106.5" class="st6"></path>
        <path d="M15.2 16.7h106.5" class="st7"></path>
        <path d="M15.2 26.9h106.5" class="st6"></path>
        <path d="M15.2 26.1h106.5" class="st7"></path>
        <g class="st8">
          <path d="M15.2 36.2h106.5" class="st9"></path>
          <path d="M15.2 35.4h106.5" class="st10"></path>
        </g>
        <g class="st8">
          <path d="M15.2 45.6h106.5" class="st9"></path>
          <path d="M15.2 44.8h106.5" class="st10"></path>
        </g>
        <g class="st8">
          <path d="M15.2 54.9h106.5" class="st9"></path>
          <path d="M15.2 54.1h106.5" class="st10"></path>
        </g>
        <g class="st8">
          <path d="M15.2 64.3h106.5" class="st9"></path>
          <path d="M15.2 63.5h106.5" class="st10"></path>
        </g>
        <g class="st8">
          <path d="M15.2 73.7h106.5" class="st9"></path>
          <path d="M15.2 72.9h106.5" class="st10"></path>
        </g>
        <g class="st8">
          <path d="M15.2 83h106.5" class="st9"></path>
          <path d="M15.2 82.2h106.5" class="st10"></path>
        </g>
        <g class="st8">
          <path d="M15.2 92.4h106.5" class="st9"></path>
          <path d="M15.2 91.6h106.5" class="st10"></path>
        </g>
      </g>
      <g *ngIf="state === 'add'" style="transform: translateX(4px)" id="white-add">
        <path d="M23.1 12.2c-5.2-.2-9.6 3.1-9.7 7.3L15.1 92c-.1 4.2 4 7.7 9.2 7.9l81.2-.6c5.2.2 9.6-3.1 9.7-7.3V20.3c.1-4.2-4-7.7-9.2-7.9l-82.9-.2z" style="fill:#ffffff"></path>
        <path d="M39.9 56.9v-.7c0-3.6 2.9-6.5 6.5-6.5H84c3.6 0 6.5 2.9 6.5 6.5v.7c0 3.6-2.9 6.5-6.5 6.5H46.4c-3.6 0-6.5-3-6.5-6.5z" class="st4"></path>
        <path d="M65.5 81.8h-.7c-3.6 0-6.5-2.9-6.5-6.5V37.8c0-3.6 2.9-6.5 6.5-6.5h.7c3.6 0 6.5 2.9 6.5 6.5v37.6c0 3.5-2.9 6.4-6.5 6.4z" class="st4"></path>
      </g>
    </g>
    <g style="transform: translateX(6px)" id="right-detail">
      <path style="fill:#717375" d="M125.3 51h5v12.3h-5z"></path>
      <path style="fill:#808285" d="M118.3 46h8v20h-8z"></path>
    </g>
  </svg>
  <svg *ngIf="data" id="card-robot" fxflex="grow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 109.3 116.3">
    <g>
      <path d="M19.7 5.4c-4.5-.2-8.4 2.6-8.6 6.4l.1 88.7c-.2 3.7 3.4 6.9 7.9 7.2l71.2 2.4c4.5.2 8.4-3.9 8.6-7.6l2.3-86.8c.2-3.7-3.4-6.9-7.9-7.2L19.7 5.4z" [ngClass]="'shadow-level-' + game.level"></path>
      <path d="M101.4 43.4h3.9v9.7h-3.9z" class="st1"></path>
      <path d="M95.9 39.4h6.3v15.8h-6.3z" class="st2"></path>
      <path d="M3.3 41.5h3.9v9.7H3.3z" class="st1" transform="rotate(-180 5.3053 46.3776)"></path>
      <path d="M6.5 39.4h6.3v15.8H6.5z" class="st2" transform="rotate(-180 9.64365 47.30795)"></path>
      <path d="M17.2 6.9c-4.5-.1-8.3 2.8-8.5 6.5l2.6 87.2c-.1 3.7 3.5 6.9 8 7.1h70.1c4.5.1 8.3-4 8.5-7.8L99 12.8c.1-3.7-3.5-6.9-8-7.1L17.2 6.9z" [ngStyle]="{'fill': data.color}"></path>
      <g>
        <path d="M21.6 11.1c-4.1-.1-7.6 2.4-7.7 5.7L15.2 74c-.1 3.3 3.2 6.1 7.3 6.2l64.1-.5c4.1.1 7.6-2.4 7.7-5.7V17.5c.1-3.3-3.2-6.1-7.3-6.2l-65.4-.2zM86.3 103.1H23.8c-4.7 0-8.5-3.8-8.5-8.5v-1.4c0-4.7 3.8-8.5 8.5-8.5h62.4c4.7 0 8.5 3.8 8.5 8.5v1.4c.1 4.7-3.8 8.5-8.4 8.5z" class="st5"></path>
        <text x="55" text-anchor="middle" y="98" font-size="13">{{data ? data.name: ''}}</text>
      </g>
      <g>
        <defs>
          <clipPath id="clip-path-turn-1">
            <path  d="M21.6 11.1c-4.1-.1-7.6 2.4-7.7 5.7L15.2 74c-.1 3.3 3.2 6.1 7.3 6.2l64.1-.5c4.1.1 7.6-2.4 7.7-5.7V17.5c.1-3.3-3.2-6.1-7.3-6.2l-65.4-.2z"></path>
          </clipPath>
        </defs>
        <g style="clip-path: url(#clip-path-turn-1)">

           <use id="card-robot"  [attr.xlink:href]="'assets/images/robots/robots_level' + game.level + '.svg#robot' + data.robot.id">

  </use>
         </g>
      </g>
    </g>
  </svg>
</div>


