<svg *ngIf="gameService.level === 1" class="level1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 46.2 49">
  <g>
    <circle class="st19" cx="23.1" cy="24.7" r="19.8"></circle>
    <defs>
      <ellipse id="ellipse-token-2-level-1" transform="rotate(-3.711 23.136 24.724)" cx="23.1" cy="24.7" rx="17.9" ry="17.9"></ellipse>
    </defs>
    <clipPath id="clip-path-token-2-level-1">
      <use xlink:href="#ellipse-token-2-level-1" overflow="visible"></use>
    </clipPath>
    <g clip-path="url(#clip-path-token-2-level-1)" >
      <ellipse transform="rotate(-3.711 23.136 24.724)" cx="23.1" cy="24.7" rx="17.9" ry="17.9"
                fill="#c41b45"></ellipse>
      <ellipse transform="rotate(-3.711 21.732 23.49)" cx="21.7" cy="23.5" rx="16.6" ry="16.6"
                fill="#ee2554"></ellipse>
      <path  fill="none" stroke="#c31a44" stroke-width="4.667" stroke-miterlimit="10"
            d="M39.8 15.1L5.2 33.8"></path>
    </g>

  </g>
</svg>

<svg *ngIf="gameService.level === 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 46.5 47">
  <circle cx="23.7" cy="23" r="19.8" fill="#fff"></circle>
  <defs>
    <ellipse id="ellipse-token-2-level-2" transform="rotate(-3.711 23.694 23.015)" cx="23.7" cy="23" rx="17.9" ry="17.9"></ellipse>
  </defs>
  <clipPath id="clip-path-token-2-level-2">
    <use xlink:href="#ellipse-token-2-level-2" overflow="visible"></use>
  </clipPath>
  <ellipse transform="rotate(-3.711 23.694 23.015)" cx="23.7" cy="23" rx="17.9" ry="17.9" clip-path="url(#clip-path-token-2-level-2)"
           fill="#c41b45"></ellipse>
  <ellipse transform="rotate(-3.711 22.29 21.781)" cx="22.3" cy="21.8" rx="16.6" ry="16.6" clip-path="url(#clip-path-token-2-level-2)"
           fill="#ee2554"></ellipse>
  <path transform="rotate(-28.454 23.056 22.745)" clip-path="url(#clip-path-token-2-level-2)" fill="#c31a44" d="M3.4 20.4h39.4v4.7H3.4z"></path>
</svg>

<svg *ngIf="gameService.level === 3" class="level3"   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
     y="0" viewBox="0 0 46.5 47">
  <ellipse transform="matrix(.9998 -.02175 .02175 .9998 -.504 .552)" cx="25.1" cy="23.5" rx="19.8" ry="19.8"
           fill="#fff"></ellipse>
  <defs><ellipse id="ellipse-token-2-level-3" transform="rotate(-4.957 25.127 23.46) scale(1.00004)" cx="25.1" cy="23.5" rx="17.9" ry="17.9"></ellipse></defs>
  <use xlink:href="#ellipse-token-2-level-3" overflow="visible" fill="#f7941d"></use>
  <clipPath id="clip-path-token-2-level-3"><use xlink:href="#ellipse-token-2-level-3" overflow="visible"></use></clipPath>
  <ellipse transform="rotate(-4.957 25.127 23.46) scale(1.00004)" class="st1" cx="25.1" cy="23.5" rx="17.9"
           ry="17.9"></ellipse>
  <ellipse transform="rotate(-4.957 26.33 22.028) scale(1.00004)" cx="26.3" cy="22" rx="16.6" ry="16.6"
           clip-path="url(#clip-path-token-2-level-3)" fill="#ffcb05"></ellipse>
  <path transform="rotate(-29.704 25.38 22.812)" class="st1" d="M23 3.1h4.7v39.4H23z"></path></svg>
