@import "../../../variables";
@import "../../../fluid-typography";
.more-info-container {
  width: 25%;
  min-width: 8.5vw;
  height: 100%;
  max-height: 60px;
  min-height: 4vw;
  border-radius: 1vw;
  @include fluid-type(500px, 1800px, 16px, 38px);
  padding: 5px 10px;
  font-weight: 500;
  color: white;
  background-color: $black-color;
}
.age-text {
  font-size: 24px;
  color: white;
  font-weight: 400;
}
.age-number {
  font-size: 34px;
  color: white;
  font-weight: 500;
}

.SELECCION_PANEL_3_svg__st3 {
  fill: #c7c8ca
}

.SELECCION_PANEL_3_svg__st4 {
  fill: #717375
}

.SELECCION_PANEL_3_svg__st9 {
  fill: #00aeef
}

.SELECCION_PANEL_3_svg__st10 {
  fill: #172e79
}

.SELECCION_PANEL_3_svg__st11 {
  fill: #1b75bc
}

.SELECCION_PANEL_3_svg__st12 {
  fill: #ed037c
}

.SELECCION_PANEL_3_svg__st13 {
  fill: #b41f7e
}

.SELECCION_PANEL_3_svg__st14 {
  fill: #8c4d9e
}

.SELECCION_PANEL_3_svg__st15 {
  fill: #ffd400
}

.SELECCION_PANEL_3_svg__st17 {
  fill: #0072bc
}

.SELECCION_PANEL_3_svg__st19 {
  fill: #fff
}

.SELECCION_PANEL_3_svg__st22 {
  fill: #6b3779
}

.SELECCION_PANEL_3_svg__st25 {
  font-size: 42.0291px
}

.SELECCION_PANEL_3_svg__st26 {
  letter-spacing: -3.2
}

.SELECCION_PANEL_3_svg__st28 {
  font-size: 42.5793px
}
