<div fxFlex="grow" fxLayout="column" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <svg fxFlex="grow" (click)="clickLevel.next()" id="SELECCION_PANEL_3_svg__Layer_1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0"
         viewBox="0 0 208.6 446" xml:space="preserve">
        <g id="SELECCION_PANEL_3_svg__TUBOS_2_">
            <g ><path d="M10.3-10.7C39.5 16.1 82.8 64 84.8 114.4 87 169.6 74.2 247.7 70.9 258l14.1-2.6s21.3-79.7 25.4-139.1c2.1-30.1-11.1-100.9-49.7-139.6.1-.1-21.6 4.8-50.4 12.6z" fill="#a7a9ac"></path>
                <path d="M18.2-4.9c28.8 26.7 65.7 70 68.3 118.6 3.8 69.7-14.2 123-14.9 128.8l9.9.8s16.8-66.9 14.3-128.6c-1.1-26.6-10.5-80-54.6-126.5-4.3 1.3-10.1 1.5-23 6.9z"
                      fill="#808285"></path>
                <path class="SELECCION_PANEL_3_svg__st3"
                      d="M82 89.8c3.7.9 7.4 1.3 11.1 1 1.8-.1 3.7-.5 5.4-1 1.8-.5 3.5-1.4 5.2-2.2-1.4 1.3-3 2.5-4.8 3.2l-.7.3c-.2.1-.5.1-.7.2-.5.1-.9.3-1.4.4-1 .2-1.9.4-2.9.4-2 .1-3.9 0-5.8-.4-1.9-.3-3.7-1-5.4-1.9zM81.9 83.1c3.8.2 7.6 0 11.1-1.1.9-.2 1.8-.6 2.6-.9.8-.4 1.7-.7 2.5-1.2 1.7-.8 3.2-2 4.7-3.1-1.2 1.5-2.5 3-4.2 4-.8.6-1.7 1-2.5 1.5-.9.4-1.8.7-2.8 1-1.9.5-3.8.8-5.8.7-1.9.1-3.8-.2-5.6-.9z"></path>
                <path class="SELECCION_PANEL_3_svg__st4"
                      d="M78.2 70c1.9-.4 3.7-.8 5.5-1.3 1.8-.6 3.4-1.2 5-2.1.8-.4 1.6-.9 2.3-1.3.7-.5 1.5-1 2.2-1.6 1.5-1.1 2.7-2.5 4.1-3.8-.6 1.8-1.6 3.6-3 5-1.3 1.5-2.9 2.7-4.7 3.6s-3.7 1.5-5.7 1.8c-1.8.3-3.8.3-5.7-.3z"></path>
                <path class="SELECCION_PANEL_3_svg__st3"
                      d="M75.5 58.8c3.8-.7 7.4-1.9 10.6-3.8 1.6-.9 3.1-2 4.5-3.3 1.4-1.2 2.6-2.7 3.9-4.1-.8 1.8-1.8 3.5-3.2 4.9-.6.8-1.4 1.4-2.1 2-.8.6-1.6 1.2-2.5 1.7-1.7 1-3.6 1.7-5.5 2.2-1.8.4-3.8.6-5.7.4zM68.9 50.5c2.3-.4 4.5-.9 6.6-1.7 2.1-.7 4.1-1.7 6-2.8s3.7-2.5 5.3-4c.8-.7 1.6-1.6 2.3-2.4.8-.8 1.4-1.8 2.2-2.7-.9 2.1-2 4.2-3.6 6-.7.9-1.6 1.7-2.5 2.5-.4.4-.9.7-1.4 1.1l-.7.5-.8.5c-2 1.2-4.2 2.1-6.5 2.6-2.2.5-4.6.8-6.9.4z"></path>
                <path class="SELECCION_PANEL_3_svg__st4"
                      d="M64.6 40.2c2.3-.6 4.6-1.3 6.7-2.2 2.2-.9 4.2-1.9 6.2-3.1 2-1.2 3.8-2.6 5.5-4.1 1.8-1.5 3.2-3.3 4.8-5.2-.8 2.3-2 4.5-3.6 6.3-.7 1-1.7 1.8-2.6 2.6-1 .7-1.9 1.5-3 2.2-2.1 1.3-4.4 2.3-6.8 2.9-2.4.5-4.8.8-7.2.6zM45.8 14.5c2.8-1.1 5.4-2.2 8.1-3.5 2.6-1.3 5.2-2.6 7.6-4.1 2.5-1.5 4.8-3.2 7-5 .6-.5 1.1-.9 1.7-1.4L71.8-1l.8-.7.7-.8c.5-.5 1-1.1 1.6-1.6-.3.7-.7 1.3-1.1 2l-.6 1-.7.9-1.4 1.8c-.5.6-1 1.1-1.5 1.6-.5.6-1.1 1.1-1.6 1.6-.6.5-1.1 1-1.7 1.5l-1.8 1.3c-.6.4-1.3.8-1.9 1.2-2.6 1.5-5.3 2.9-8.1 3.8-2.8 1-5.8 1.7-8.7 1.9z"></path>
                <path class="SELECCION_PANEL_3_svg__st3"
                      d="M58.3 31.7c2.7-.5 5.3-1.2 7.8-2.1 2.5-1 4.8-2.2 6.9-3.7.5-.4 1.1-.7 1.6-1.2l1.4-1.3c.9-1 1.8-1.9 2.5-3 1.6-2.1 2.6-4.6 3.7-7.1-.4 2.7-1.1 5.4-2.6 7.8l-.5.9c-.2.3-.4.6-.6.8-.4.5-.9 1.1-1.3 1.6l-1.5 1.5c-.5.5-1.1.9-1.6 1.3-2.3 1.6-4.8 2.9-7.5 3.6-2.8.8-5.6 1.2-8.3.9zM53.2 24.5c4.9-1.8 9.6-4 13.9-6.8 2.2-1.4 4.1-3 6-4.7s3.5-3.8 5.1-5.8c-.3.6-.5 1.2-.8 1.8l-.4.9-.5.8c-.4.6-.7 1.1-1.1 1.7l-1.3 1.5c-1.8 2-3.8 3.8-6 5.2-2.2 1.5-4.6 2.7-7.1 3.6-2.5.8-5.1 1.5-7.8 1.8z"></path>
                <g><path class="SELECCION_PANEL_3_svg__st3" d="M86 155.9c1.9 1.5 4 2.8 6.2 3.6 1.1.4 2.3.7 3.4.9 1.2.2 2.4.2 3.6.2-1.2.4-2.4.6-3.7.5-.6 0-1.2-.1-1.9-.2-.6-.2-1.2-.3-1.8-.5-1.2-.4-2.3-1-3.3-1.8-.9-.8-1.8-1.7-2.5-2.7zM87.7 152c2.2 1.2 4.4 2 6.7 2.4 1.2.2 2.3.3 3.5.2 1.2 0 2.4-.3 3.6-.5-1.1.6-2.3 1-3.5 1.2-.6.1-1.2.1-1.9.1-.6 0-1.3-.1-1.9-.2-1.2-.2-2.4-.6-3.6-1.1-1-.5-2-1.2-2.9-2.1z"></path>
                    <path class="SELECCION_PANEL_3_svg__st4"
                          d="M89.2 143.4c2.4.6 4.7 1 7 .9 1.1 0 2.3-.2 3.4-.5 1.2-.2 2.2-.7 3.4-1.1-.9.9-1.9 1.6-3.1 2.1s-2.4.8-3.7.8-2.6-.1-3.8-.5c-1.1-.3-2.3-.8-3.2-1.7z"></path>
                    <path class="SELECCION_PANEL_3_svg__st3"
                          d="M90.6 136.2c2.4.6 4.8.9 7.2.7 1.2-.1 2.4-.3 3.5-.7 1.2-.3 2.3-.8 3.4-1.3-.9.8-2 1.5-3.2 2-.6.3-1.2.4-1.8.6-.6.1-1.2.3-1.9.3-1.3.1-2.5 0-3.8-.2-1.1-.3-2.3-.8-3.4-1.4zM89.1 129.6c1.4.4 2.8.7 4.3.8 1.4.1 2.9.2 4.3 0 1.4-.1 2.8-.4 4.2-.9 1.4-.4 2.7-1.1 4-1.7-1.1 1-2.3 1.9-3.7 2.5-1.4.7-2.9 1-4.4 1.2-1.5.1-3 .1-4.5-.3-1.6-.3-3-.8-4.2-1.6z"></path>
                    <path class="SELECCION_PANEL_3_svg__st4"
                          d="M89.4 122.4c3 .6 6 .8 8.9.4 1.5-.1 2.9-.4 4.3-.9 1.4-.4 2.8-1.1 4.2-1.7-1.1 1.1-2.4 2.1-3.8 2.7-.7.4-1.5.6-2.2.8-.8.2-1.5.4-2.3.4-1.6.2-3.2.1-4.7-.2-1.6-.2-3.1-.7-4.4-1.5zM85.5 102.4c3.8.3 7.5.3 11.2-.1 1.8-.2 3.6-.5 5.4-1 1.8-.4 3.5-1.1 5.3-1.8-1.5 1.2-3.2 2.2-5 2.8-1.8.7-3.7 1.1-5.6 1.3-1.9.2-3.8.2-5.7 0-2-.1-3.8-.5-5.6-1.2z"></path>
                    <path class="SELECCION_PANEL_3_svg__st3"
                          d="M88 115.8c1.7.5 3.4.7 5.1.9 1.7.1 3.4.1 5-.3 1.7-.3 3.2-.9 4.7-1.7 1.5-.8 2.8-1.9 4.1-3.1-1 1.4-2.1 2.8-3.7 3.8-.7.6-1.6.9-2.4 1.3-.8.3-1.7.6-2.6.7-1.8.3-3.6.3-5.3 0-1.6-.2-3.3-.7-4.9-1.6zM87.1 110.2c1.7.2 3.3.2 5 .2s3.3-.1 4.9-.4c1.6-.2 3.2-.6 4.8-1.1s3.1-1.2 4.6-2c-1.3 1.1-2.7 2.1-4.3 2.8-1.6.7-3.2 1.2-4.9 1.4-3.4.5-6.9.2-10.1-.9z"></path></g></g></g>
        <g id="SELECCION_PANEL_3_svg___x2B_11_N3"><path fill="#48484a" d="M118.8 168.7l4.2-20.5-54.8.1 3.1 20.8z"></path>
            <path d="M176.4 440.9l-142.7 4.9C20.1 445.8 9 434.7 9 421.1l-9-235c0-13.6 11.1-24.7 24.7-24.7l159.2-.3c13.6 0 24.7 11.1 24.7 24.7L201 416.2c.1 13.6-11 24.7-24.6 24.7z"
                  fill="#b1b3b6"></path>
            <path d="M161.2 373.3H51.6c-13.9 0-25.3-11.4-25.3-25.3V223.4c0-13.9 11.4-25.3 25.3-25.3h109.7c13.9 0 25.3 11.4 25.3 25.3v124.5c0 14-11.4 25.4-25.4 25.4z"
                  stroke="#fff" stroke-width="1.748" stroke-miterlimit="10"></path>
            <defs><path id="SELECCION_PANEL_3_svg__SVGID_3_" d="M160.2 371.9H52.4c-13.9 0-25.3-11.4-25.3-25.3V223.4c0-13.9 11.4-25.3 25.3-25.3h107.9c13.9 0 25.3 11.4 25.3 25.3v123.1c0 14-11.4 25.4-25.4 25.4z"></path></defs>
            <clipPath id="SELECCION_PANEL_3_svg__SVGID_4_"><use xlink:href="#SELECCION_PANEL_3_svg__SVGID_3_" overflow="visible"></use></clipPath>
            <g clip-path="url(#SELECCION_PANEL_3_svg__SVGID_4_)"><path class="SELECCION_PANEL_3_svg__st9" d="M48.2 309.1l10 2.4-4 13s10 3.9 8 13.9c-1 5-4 8.5-7.9 10.1.4-1 .5-2.2.2-3.5-1.4-6.1-5-10.9-11.2-9.6-5.8 1.2-5.9 6-4.5 11.3-8.1-4.7-9.7-12.4-7.3-17.3 2.7-5.5 9-9 14.5-8.6l2.2-11.7z"></path>
                <path class="SELECCION_PANEL_3_svg__st10"
                      d="M52 301.3c6.1.2 11.4 1.5 10.7 7.9s-6.4 8.2-12.6 7.7c-4.6-.4-5.8-5-6.1-8.3-.2-3.4 2.8-7.5 8-7.3z"></path>
                <path class="SELECCION_PANEL_3_svg__st10"
                      d="M57.7 293.1c4.8 3 8.5 6.5 5 11.3s-9 3.7-13.7.3c-3.5-2.5-2.4-6.7-1.1-9.5 1.3-2.8 5.7-4.7 9.8-2.1z"></path>
                <path class="SELECCION_PANEL_3_svg__st9"
                      d="M66.3 283.3s-12.8-1.9-12.3 10.4c.5 12.4 12 11.1 12 11.1l.3-21.5z"></path>
                <path class="SELECCION_PANEL_3_svg__st10" d="M66 287.4s-9.8-1.1-9.5 6.5 9.1 6.7 9.1 6.7l.4-13.2z"></path>
                <path class="SELECCION_PANEL_3_svg__st11"
                      d="M60.3 294.2c.4 1 1.7 1.3 2.9.8s1.8-1.7 1.3-2.7c-.4-1-1.7-1.3-2.9-.8-1.1.5-1.7 1.7-1.3 2.7z"></path>
                <path class="SELECCION_PANEL_3_svg__st12" d="M85.1 383.5s-.1-12.6-7.6-11.6-5.7 10.9-5.7 10.9l13.3.7z"></path>
                <path class="SELECCION_PANEL_3_svg__st13"
                      d="M82.3 383.1s-1.1-8.7-4.3-9.1c-2.6-.3-3.1 4.3-2.9 9.1h7.2z"></path>
                <path class="SELECCION_PANEL_3_svg__st12"
                      d="M86.4 391.9s2.7-12.6-9-11.4c-11.7 1.3-5.8 13.2-5.8 13.2l14.8-1.8z"></path>
                <path class="SELECCION_PANEL_3_svg__st13"
                      d="M84.9 391.9s-1.4-7.6-6.5-7.8c-4.1-.2-5 3.9-4.9 8.1l11.4-.3z"></path>
                <path class="SELECCION_PANEL_3_svg__st12" d="M87.1 404.5s6.5-17.4-8-15.8-7.9 15.1-7.9 15.1l15.9.7z"></path>
                <path class="SELECCION_PANEL_3_svg__st13"
                      d="M84.9 401.7s.1-10.1-6.2-10.3c-5.1-.2-6.2 4.9-6.1 10.2l12.3.1z"></path>
                <path class="SELECCION_PANEL_3_svg__st12"
                      d="M87.3 414.1s5.3-17.1-9.3-15.4c-14.5 1.6-7.6 15.2-7.6 15.2l16.9.2z"></path>
                <path class="SELECCION_PANEL_3_svg__st14"
                      d="M85.8 412.4s-1.7-9.5-8-9.8c-5.1-.2-6.2 4.9-6.1 10.2l14.1-.4z"></path>
                <path class="SELECCION_PANEL_3_svg__st12"
                      d="M88.8 426.1s3.9-17.3-10.7-15.7c-14.5 1.6-8.4 15.2-8.4 15.2l19.1.5z"></path>
                <path class="SELECCION_PANEL_3_svg__st13" d="M86.1 426.2s.4-13-7-13.3c-6-.3-7.6 6.7-7.5 12.8l14.5.5z"></path>
                <path class="SELECCION_PANEL_3_svg__st12"
                      d="M92.4 437.9s.2-17.3-14.3-15.7c-14.5 1.6-11.5 15.2-11.5 15.2l25.8.5z"></path>
                <path class="SELECCION_PANEL_3_svg__st13"
                      d="M87.2 437.7s0-14.8-7.7-15c-6.2-.2-9.3 9.4-9.2 14.6l16.9.4z"></path>
                <path class="SELECCION_PANEL_3_svg__st14" d="M91.8 441.6l-24.6-.9-.6-3.3 25.9-.4z"></path>
                <ellipse transform="rotate(-11.333 77.393 377.7)" class="SELECCION_PANEL_3_svg__st15" cx="77.4"
                         cy="377.7" rx="1.6" ry="1.3"></ellipse>
                <path class="SELECCION_PANEL_3_svg__st12" d="M140.4 383.5s-.1-12.6-7.6-11.6-5.7 10.9-5.7 10.9l13.3.7z"></path>
                <path class="SELECCION_PANEL_3_svg__st13"
                      d="M137.6 383.1s-1.1-8.7-4.3-9.1c-2.6-.3-3.1 4.3-2.9 9.1h7.2z"></path>
                <path class="SELECCION_PANEL_3_svg__st12"
                      d="M141.7 391.9s2.7-12.6-9-11.4c-11.7 1.3-5.8 13.2-5.8 13.2l14.8-1.8z"></path>
                <path class="SELECCION_PANEL_3_svg__st13"
                      d="M140.2 391.9s-1.4-7.6-6.5-7.8c-4.1-.2-5 3.9-4.9 8.1l11.4-.3z"></path>
                <path class="SELECCION_PANEL_3_svg__st12" d="M142.4 404.5s6.5-17.4-8-15.8-7.9 15.1-7.9 15.1l15.9.7z"></path>
                <path class="SELECCION_PANEL_3_svg__st13"
                      d="M140.2 401.7s.1-10.1-6.2-10.3c-5.1-.2-6.2 4.9-6.1 10.2l12.3.1z"></path>
                <g><path class="SELECCION_PANEL_3_svg__st12" d="M142.6 414.1s5.3-17.1-9.3-15.4c-14.5 1.6-7.6 15.2-7.6 15.2l16.9.2z"></path>
                    <path class="SELECCION_PANEL_3_svg__st14"
                          d="M141.1 412.4s-1.7-9.5-8-9.8c-5.1-.2-6.2 4.9-6.1 10.2l14.1-.4z"></path></g>
                <g><path class="SELECCION_PANEL_3_svg__st12" d="M144.1 426.1s3.9-17.3-10.7-15.7c-14.5 1.6-8.4 15.2-8.4 15.2l19.1.5z"></path>
                    <path class="SELECCION_PANEL_3_svg__st13"
                          d="M141.4 426.2s.4-13-7-13.3c-6-.3-7.6 6.7-7.5 12.8l14.5.5z"></path></g>
                <g><path class="SELECCION_PANEL_3_svg__st12" d="M147.7 437.9s.2-17.3-14.3-15.7c-14.5 1.6-11.5 15.2-11.5 15.2l25.8.5z"></path>
                    <path class="SELECCION_PANEL_3_svg__st13"
                          d="M143.1 437.8s-.5-14.6-8.1-14.8c-6.2-.2-8.2 9.3-8.2 14.5l16.3.3z"></path></g>
                <path class="SELECCION_PANEL_3_svg__st14" d="M147.1 441.2l-24.4-.3-.9-3.5h25.9z"></path>
                <ellipse transform="rotate(-11.333 133.693 376.901)" class="SELECCION_PANEL_3_svg__st15" cx="133.7"
                         cy="376.9" rx="1.6" ry="1.3"></ellipse>
                <path d="M143.7 276.6s-25-3.5-41.8-2.9c-12.2.4-19.7 1.9-38.2 6.2 0 0-1.6 95.3.4 98.9l1.8 4s57.6-.3 80.8-4l.6-99-3.6-3.2z"
                      fill="#2e3293"></path>
                <g><path class="SELECCION_PANEL_3_svg__st9" d="M165.4 307.4l-10 2.4 4 13s-10 3.9-8 13.9c1 5 4 8.5 7.9 10.1-.4-1-.5-2.2-.2-3.5 1.4-6.1 5-10.9 11.2-9.6 5.8 1.2 5.9 6 4.5 11.3 8.1-4.7 9.7-12.4 7.3-17.3-2.7-5.5-9-9-14.5-8.6l-2.2-11.7z"></path>
                    <path class="SELECCION_PANEL_3_svg__st10"
                          d="M161.5 299.6c-6.1.2-11.4 1.5-10.7 7.9s6.4 8.2 12.6 7.7c4.6-.4 5.8-5 6.1-8.3.3-3.3-2.7-7.4-8-7.3z"></path>
                    <path class="SELECCION_PANEL_3_svg__st10"
                          d="M155.8 291.4c-4.8 3-8.5 6.5-5 11.3s9 3.7 13.7.3c3.5-2.5 2.4-6.7 1.1-9.5-1.3-2.7-5.6-4.6-9.8-2.1z"></path></g>
                <path class="SELECCION_PANEL_3_svg__st9"
                      d="M147.3 281.6s12.8-1.9 12.3 10.4c-.5 12.4-12 11.1-12 11.1l-.3-21.5z"></path>
                <path class="SELECCION_PANEL_3_svg__st10" d="M147.6 285.8s9.8-1.1 9.5 6.5-9.1 6.7-9.1 6.7l-.4-13.2z"></path>
                <path class="SELECCION_PANEL_3_svg__st11"
                      d="M153.2 292.5c-.4 1-1.7 1.3-2.9.8s-1.8-1.7-1.3-2.7c.4-1 1.7-1.3 2.9-.8 1.2.6 1.8 1.8 1.3 2.7z"></path>
                <path class="SELECCION_PANEL_3_svg__st9"
                      d="M118.6 275c0 1.6-1.2 4.1-2.7 4.1l-23.1-.3c-1.6 0-2.7-1.9-2.7-3.5v-.8c0-1.6 1.2-1.9 2.7-1.9l22.9-1.2c1.6 0 2.8 1.2 2.9 2.8v.8zM117.5 265.1c0 1.2-1.3 2.1-2.8 2.1H91.9c-1.6 0-2.8-.9-2.8-2.1v-.6c0-1.2 1.2-1.4 2.8-1.4l22.9-.8c1.6 0 2.8.9 2.8 2.1l-.1.7z"></path>
                <path class="SELECCION_PANEL_3_svg__st17"
                      d="M90.3 270.7c.1 1.6 1.3 2.8 2.7 2.7l21.2-1c1.5-.1 2.6-1.4 2.5-3v-.8c-.1-1.6-1.2-1.8-2.6-1.7H92.8c-1.5.1-2.6 1.4-2.5 3v.8zM147.3 279.8s-32.1-2.5-43.6-2.1-38.2 4.6-38.2 4.6-1.6 97 .4 100.6c0 0 52 4.9 82.7 0l-1.3-103.1z"></path>
                <g><path class="SELECCION_PANEL_3_svg__st10" d="M68.7 255.3l23.8-33.2 34.7 2 2.5 3.2 7.4 32.8-2 5-65.3-3.1z"></path>
                    <path class="SELECCION_PANEL_3_svg__st11"
                          d="M71.5 257.5L93 223.7l36.7 3.5 8.6 36-2.1 5.1-66.4-6.3z"></path>
                    <path d="M121.9 250c-1.4 7.8-8.8 13-16.6 11.6s-12.9-8.9-11.5-16.7 8.8-13 16.6-11.6 12.9 8.9 11.5 16.7z"
                          fill="#3db9e1"></path>
                    <path class="SELECCION_PANEL_3_svg__st19"
                          d="M122.4 249.5c-1.3 7.4-8.4 12.3-15.7 11-7.4-1.3-12.3-8.4-10.9-15.8 1.3-7.4 8.4-12.3 15.7-11s12.2 8.4 10.9 15.8z"></path>
                    <path d="M113 247c-.5 2.6-2.9 4.3-5.5 3.8s-4.3-2.9-3.8-5.5 2.9-4.3 5.5-3.8 4.3 3 3.8 5.5z"
                          stroke="#fff" stroke-width=".108" stroke-miterlimit="10"></path></g>
                <g><path fill="#041455" d="M84.7 230.4l-2.3 8.6 1.9 1.5 51.5-3.9-1.8-2.6z"></path>
                    <path class="SELECCION_PANEL_3_svg__st10" d="M86.4 232l-2.3 8.7 50.7 5.4 1.2-9.5z"></path></g>
                <path class="SELECCION_PANEL_3_svg__st10"
                      d="M79.9 226.8l2.3-1.2s-.4-8.1-6-8.3-1.5-6.2-1.5-6.2l-6.4 1.2s-.2 5.2 4.6 7.5c4.7 2.3 7 7 7 7zM77.1 232.2l1.1-1.8s-3.6-5.7-7.7-3.5-3.6-3.9-3.6-3.9l-4.1 3.5s2 3.8 6.3 3.5c4.4-.3 8 2.2 8 2.2zM146.8 232.9l-2.3-1.2s.4-8.1 6-8.3 1.5-6.2 1.5-6.2l6.4 1.2s.2 5.2-4.6 7.5c-4.8 2.2-7 7-7 7zM149.6 238.3l-1.1-1.8s3.6-5.7 7.7-3.5c4.1 2.1 3.6-3.9 3.6-3.9l4.1 3.5s-2 3.8-6.3 3.5c-4.4-.3-8 2.2-8 2.2z"></path>
                <path class="SELECCION_PANEL_3_svg__st22"
                      d="M77.1 373.7l.7 3.6-2.7 2.4-3.5-1.2-.7-3.5 2.7-2.4zM140.6 379.9l-3.4-1.4-.5-3.6 2.9-2.3 3.4 1.4.5 3.6z"></path>
                <path class="SELECCION_PANEL_3_svg__st9"
                      d="M77.4 286.6l-1.5 3.4-3.6.3-2.1-2.9 1.5-3.4 3.6-.3zM141.9 289.9l-3.6.7-2.3-2.8 1.1-3.4 3.6-.7 2.4 2.7z"></path></g>
            <g><path fill="#4f4f51" d="M115.9 109.5l-40.3 2.7-18.6 35 21.7 32.4 5 1.6 36.6-70.2z"></path>
                <path d="M120.2 111.1l-40.4 2.6-18.6 35.1L83 181.2l40.4-2.7 18.6-35.1z"></path>
                <path class="SELECCION_PANEL_3_svg__st19"
                      d="M117.9 115.2l-35.3.6-16.1 32.7L87 176.9l33.7-.5 14.9-32.4z"></path>
                <text transform="matrix(.95 0 0 1 76.817 160.576)"
                      class="SELECCION_PANEL_3_svg__st24 SELECCION_PANEL_3_svg__st25 SELECCION_PANEL_3_svg__st26">N</text>
                <text transform="matrix(.95 0 0 1 103.418 160.576)"
                      class="SELECCION_PANEL_3_svg__st24 SELECCION_PANEL_3_svg__st25">3</text></g></g>

        <foreignObject width="140" height="40" x="40" y="385">
            <xhtml:div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="5px">
                <div class="age-number">+11</div>
                <div class="age-text">años</div>
            </xhtml:div>
        </foreignObject>
    </svg>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlexOffset="50" class="more-info-container" fxLayout="row" fxLayoutAlign="center center"
             (click)="moreInfo()">
            <span>+Info</span>
        </div>
    </div>
</div>
