<div fxFlex="grow" fxLayout="column" fxLayoutAlign="center center" style="z-index: 1" class="violet-background">
  <div fxFlex="20" style="position: absolute; top: 0; right: 0; left: 0;" fxLayout="row" fxLayoutAlign="space-between start" class="full-width">
    <app-settings-button fxFlexFill fxFlex="8"></app-settings-button>
    <svg (click)="toggleMusic()" fxFlexFill fxFlex="8" id="musicButton"  viewBox="0 0 72.5 74">
      <path d="M11.1 12.6c-4.2.4-5.6 3.2-5.2 6.6l7.4 38.5c.3 3.4 2.3 6.2 6.4 5.8l39.5-1.6c4.2-.4 7.3-3.5 7-6.9l-1.4-41.3c-.3-3.4-4-5.8-8.2-5.4l-45.5 4.3z" style="fill:#741472"></path>
      <path d="M49.5 52.7L51.6 24l-22.8.9 3.9 30.4-1.9-.2-5.7-33.4s-.6-2.1.4-3.1 2.9-.7 2.9-.7 19.9 1.6 21.4 1.7c3.6.3 4.9 1.3 4.5 5.7-.3 3.2-3 28.1-3 28.1l-1.8-.7z" fill="#ffd64f"></path>
      <ellipse cx="47.3" cy="50.8" fill="#ffd64f" rx="6.6" ry="4.8" transform="rotate(-15.804 47.29447724 50.79666265)"></ellipse>
      <ellipse cx="27.6" cy="52.9" fill="#ffd64f" rx="6.6" ry="4.8" transform="rotate(-15.804 27.61282405 52.87904792)"></ellipse>
      <path *ngIf="!settings.onChangeMusic.value" d="M61.7 41.3h-.4l-46.5-8.9c-1.1-.2-1.8-1.2-1.6-2.3.2-1.1 1.2-1.8 2.3-1.6L62 37.4c1.1.2 1.8 1.2 1.6 2.3-.1 1-1 1.6-1.9 1.6z" style="fill:#ffe28c"></path>
    </svg>
  </div>
  <div fxlayout="row" fxFlex="80" fxLayout="row" fxLayoutAlign="start center" class="full-width">
    <app-logo-and-buttons fxFlexOffset="8" fxFlexFill fxFlex="grow"></app-logo-and-buttons>
  </div>
  <div fxLayout="row" fxFlex="20" fxLayoutAlign="space-between center" style="padding: 1%;"  class="full-width">
    <app-info-button></app-info-button>
    <app-divermente-button></app-divermente-button>
  </div>
</div>
