@import "../../../variables";

.title-text {
  color: $violet-color;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.social-button {
  fill: $fuchsia-category;
  :hover {
    cursor: pointer;
  }
}
.social-text {
  font-size: 22px;
  text-decoration: none;
  user-select: text;
  color: $fuchsia-category;
  :hover {
    cursor: pointer;
  }

}
.sub-title {
  color: $gray-color;
  font-size: 18px;

}
