/*
.selectable {
  animation: bright 2s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes bright {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    transform: scale(1.025)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}
*/


.st1 {
  fill: #d1d3d4
}

.st2 {
  fill: #fff
}

.st4 {
  font-size: 12px
}

.st6 {
  fill: #f49ac1
}

.st8 {
  fill: #ffc489
}

.st10 {
  fill: #6dcff6
}

.st12 {
  fill: #86dfd8
}

.st13 {
  fill: #939598
}

.st14 {
  fill: #77787b
}

.st17 {
  fill: #ffdb00
}

.st18 {
  fill: #92278f
}
