<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 106 132.1" style="height: 10vmax">
  <text transform="translate(9.582 120.3704)" class="st0" font-size="29.2276">¡Jugar!</text>
  <circle cx="52.9" cy="53.9" r="43.4" opacity=".24" fill="#a7a9ac"></circle>
  <circle cx="52.9" cy="50.4" r="43.4" fill="#bcbec0"></circle>
  <circle cx="52.9" cy="50.4" r="36.8" fill="#f7941d"></circle>
  <path class="st0" d="M37 27.4l40 21.2c2.2 1.2 2.2 3.1 0 4.3L37 74"></path>
</svg>
