@import "../../../fluid-typography";
.select-players-title {
  @include fluid-type(500px, 1800px, 14px, 32px);
  color: white;
}
app-card-player {
  width: 12%;
  max-width: 200px;
  min-width: 80px;
}
.grayscale {
  filter: grayscale(1);
}
.inputName {
  background-color: rgba(0,0,0,0);
  border: none;
  text-align: center;
  color: white;
  font-size: 30px;
  width: 200px;
}
