<div style="position: relative" fxFlex="grow" fxLayout="column"  fxLayoutAlign="space-between center" [ngClass]="'background-level-' + game.level"
     xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <app-settings-button style="position: absolute; top: 0; left: 0"></app-settings-button>
  <div *ngIf="showInputName" fxFlex="grow" class="full-width" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%">
    <input #mainInputName (keydown.enter)="showInputName = false" [(ngModel)]="players[currentPlayerIndex].name"  class="inputName" placeholder="Nombre" />
    <app-check-button (click)="showInputName = !players[currentPlayerIndex].name" [class.grayscale]="!players[currentPlayerIndex].name"></app-check-button>
  </div>
  <div *ngIf="!showInputName" fxFlex="30" class="full-width" style="padding: 1%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
    <h2 class="select-players-title">De 2 a 4 jugadores</h2>
    <div fxFlex="grow" class="full-width" fxlayout="row" fxLayoutAlign="center center" fxLayoutGap="1%">
      <app-card-player  *ngFor="let player of players, let i = index"
                       [data]="player" (click)="changeCurrentPlayer(i)"></app-card-player>

    <!--  <app-card-player *ngIf="players.length < 3"
                       [state]="'add'"
                       (click)="onClickAddPlayer() "></app-card-player>
      <app-card-player *ngIf="players.length < 4"
                       [state]="'add'"
                       (click)="onClickAddPlayer() "></app-card-player>-->

    </div>
  </div>
  <app-main-monitor (selectRobot)="onSelectRobot()" *ngIf="!showInputName" (clickInputName)="showInputName = true" (changeName)="onChangeName($event)" [canRemove]="canRemovePlayer" (onRemoveRobot)="onRemoveCurrentRobot()" style="z-index: 2" class="full-width" [allUnusedRobots]="allUnusedRobots" [currentPlayer]="players[currentPlayerIndex]" fxFlex="60"></app-main-monitor>
  <app-back-button style="position: absolute; bottom: 0; left: 0; z-index: 3;" [backUrl]="'/selectLevel'"></app-back-button>

  <app-tic-button *ngIf="!showInputName" style="position: absolute; bottom: 1%; z-index: 2; right: 10%"  [class.grayscale]="!allowedPlayButton" (click)="goToGame()" fxFlexOffset="60"></app-tic-button>

</div>
