<svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 176.5 199.5">
    <ellipse cx="114.2" cy="192.2" rx="53.4" ry="3.1" style="opacity:.75;" [ngClass]="'shadow-level-' + level"></ellipse>
    <path d="M82.8 169.6h56.6v6.5H82.8z"></path>
    <path d="M109 150.2h10.9v23.5H109z"></path>
    <path transform="rotate(180 113.4902 147.88)" style="fill:#616264" d="M82.4 142.4h62.2v11H82.4z"></path>
    <path d="M61 137h105v12.5H61z" class="st2" transform="rotate(180 113.4902 143.23)"></path>
    <path transform="rotate(180 113.4902 146.00845)" style="fill:#a9abae" d="M61 142.5h105v7H61z"></path>
    <ellipse cx="74.8" cy="142.9" class="st4" rx="3.4" ry="3.4"
             transform="rotate(-62.626 74.8054928 142.8737919)"></ellipse>
    <clipPath id="clip-path-trolley-1">
        <ellipse cx="75" cy="143.4" rx="3.4" ry="3.4" transform="rotate(-67.95 74.96964044 143.39400794)"></ellipse>
    </clipPath>
    <path style="clip-path:url(#clip-path-trolley-1);fill:none;stroke:#8a8c8e;stroke-width:1.1536;stroke-miterlimit:10"
          d="M73.3 139.4l3.2 8.1"></path>
    <g>
        <ellipse cx="100.6" cy="142.9" class="st4" rx="3.4" ry="3.4"
                 transform="matrix(.9943 -.1063 .1063 .9943 -14.6249 11.5075)"></ellipse>
        <clipPath id="clip-path-trolley-1-2">
            <ellipse cx="100.3" cy="143.3" rx="3.4" ry="3.4"
                     transform="rotate(-11.42 100.27235683 143.3154602)"></ellipse>
        </clipPath>
        <path style="clip-path:url(#clip-path-trolley-1-2);fill:none;stroke:#8a8c8e;stroke-width:1.1536;stroke-miterlimit:10"
              d="M102.7 139.8l-5 7.1"></path>
    </g>
    <g>
        <ellipse cx="125.8" cy="143" class="st4" rx="3.4" ry="3.4"
                 transform="rotate(-16.903 125.79836865 143.03505169)"></ellipse>
        <clipPath id="clip-path-trolley-1-3">
            <ellipse cx="126.3" cy="143.3" rx="3.4" ry="3.4"
                     transform="rotate(-22.226 126.26846672 143.2862165)"></ellipse>
        </clipPath>
        <path style="clip-path:url(#clip-path-trolley-1-3);fill:none;stroke:#8a8c8e;stroke-width:1.1536;stroke-miterlimit:10"
              d="M122.4 141.6l7.9 3.5"></path>
    </g>
    <g>
        <ellipse cx="152" cy="143" class="st4" rx="3.4" ry="3.4"
                 transform="rotate(-80.102 152.01253776 142.9670922)"></ellipse>
        <clipPath id="clip-path-trolley-1-4">
            <ellipse cx="151.6" cy="143.3" rx="3.4" ry="3.4"
                     transform="matrix(.07984 -.9968 .9968 .07984 -3.3475 282.9294)"></ellipse>
        </clipPath>
        <path style="clip-path:url(#clip-path-trolley-1-4);fill:none;stroke:#8a8c8e;stroke-width:1.1536;stroke-miterlimit:10"
              d="M154.8 140.5l-6.7 5.5"></path>
    </g>
    <g>
        <circle cx="81.3" cy="174.5" r="17.7" class="st2"></circle>
        <circle cx="80.9" cy="173.8" r="16.6" class="st9"></circle>
        <circle cx="80.9" cy="174.1" r="11.7" class="st10"></circle>
        <circle cx="80.9" cy="174.1" r="6.1" class="st11"></circle>
        <circle cx="80.9" cy="174.1" r="3.5" class="st12"></circle>
        <g>
            <ellipse cx="145.7" cy="174.5" class="st2" rx="17.7" ry="17.7"
                     transform="rotate(-65.342 145.65008762 174.53671992)"></ellipse>
            <ellipse cx="144.8" cy="174.6" class="st9" rx="16.6" ry="16.6"
                     transform="rotate(-65.342 144.80787072 174.65220847)"></ellipse>
            <ellipse cx="145.1" cy="174.7" class="st10" rx="11.7" ry="11.7"
                     transform="rotate(-65.342 145.1313572 174.72893373)"></ellipse>
            <ellipse cx="145.1" cy="174.7" class="st11" rx="6.1" ry="6.1"
                     transform="rotate(-65.342 145.1313572 174.72893373)"></ellipse>
            <ellipse cx="145.1" cy="174.7" class="st12" rx="3.5" ry="3.5"
                     transform="rotate(-65.342 145.1313572 174.72893373)"></ellipse>
        </g>
    </g>

    <path d="M51.9 138.5H8.4M51.9 157.7H8.4M51.9 148.5H21.1M51.9 167.7h-21" class="st28"></path>
    <use transform="scale(0.8), translate(0, -20)" x="30%" id="card-robot"  [attr.xlink:href]="'assets/images/robots/robots_level' + level + '.svg#robot' + robotId">

    </use>

</svg>
