.st2 {
  fill: #808285
}

.st4 {
  fill: #6d6e71
}

.st9 {
  fill: #9d9fa2
}

.st10 {
  fill: #fff
}

.st11 {
  fill: #6f7173
}

.st12 {
  fill: #4d4d4f
}

.st28 {
  stroke: #dcddde;
  stroke-width: 3
}

.shadow-level-1 {
  fill:#75c044
}
.shadow-level-2 {
  fill:#F58220
}
.shadow-level-3 {
  fill:#58595B
}
