<div fxFill fxLayout="row" fxLayoutAlign="center center">

    <svg class="full-width" xmlns="http://www.w3.org/2000/svg" viewBox="10 10 75 75">
        <style>.st2 {
            fill: #005798
        }</style>
        <path d="M62.6 81.8H30.1c-9.4 0-17-7.7-17-17V32.3c0-9.4 7.7-17 17-17h32.5c9.4 0 17 7.7 17 17v32.5c0 9.4-7.6 17-17 17z"
              fill="#d1d3d4"></path>
        <path d="M64.5 79H31.9c-9.4 0-17-7.7-17-17V29.5c0-9.4 7.7-17 17-17h32.5c9.4 0 17 7.7 17 17V62c.1 9.4-7.6 17-16.9 17z"
              fill="#006ab6"></path>
        <path class="st2"
              d="M58.8 68.2c-.8 0-1.4-.1-2-.4-.5-.3-1-.6-1.3-1.1-.4-.5-1.1-1.4-2.1-2.8L45 52.1l-8.9 12.1c-.7.9-1.1 1.6-1.4 1.9-.3.3-.6.7-.9 1-.3.3-.8.6-1.2.7-.5.2-1 .3-1.7.3-1 0-1.8-.3-2.4-.8-.6-.5-.9-1.3-.9-2.3 0-1.2.7-2.8 2.1-4.7L40 46.7l-8.7-12.1c-.8-1.1-1.4-2.1-1.8-2.9-.4-.7-.6-1.5-.6-2.1 0-.6.3-1.2 1-1.7.7-.6 1.5-.8 2.5-.8 1.1 0 2 .3 2.6.9.7.6 1.7 1.9 2.9 3.7l7.2 10.4L53 31.7l1.5-2.1c.4-.6.8-1 1.2-1.4.3-.3.7-.6 1.1-.8.4-.2.9-.3 1.5-.3 1 0 1.9.3 2.5.8.6.5.9 1.1.9 1.8 0 1.1-.8 2.7-2.3 4.7l-9.1 12.3 9.8 13.6c.8 1.1 1.5 2.1 1.8 2.8.4.7.5 1.3.5 1.9 0 .6-.1 1-.4 1.5-.3.5-.7.8-1.3 1.1-.5.4-1.1.6-1.9.6z"></path>
        <path class="st2"
              d="M58.3 27.7c.9 0 1.6.2 2.2.7.5.4.7.9.7 1.4 0 .7-.4 2-2.2 4.4l-8.9 12-.4.6.4.6 9.6 13.3c.8 1.1 1.4 2 1.8 2.8.3.6.5 1.2.5 1.7s-.1.9-.4 1.2c-.3.4-.6.7-1.1.9-.5.2-1.1.4-1.7.4-.7 0-1.3-.1-1.7-.4-.5-.3-.9-.6-1.1-.9-.4-.5-1.1-1.4-2-2.8l-8-11.2-.8-1.1-.8 1.1L35.9 64c-.7.9-1.1 1.6-1.4 1.9-.2.3-.5.6-.9.9-.3.3-.7.5-1.1.6-.4.2-.9.2-1.5.2-.9 0-1.6-.2-2.1-.7-.5-.4-.7-1-.7-1.9 0-1.1.7-2.6 2-4.4l10.1-13.3.4-.6-.4-.6-8.5-11.8c-.8-1.1-1.3-2-1.7-2.8-.3-.7-.5-1.3-.5-1.9 0-.2 0-.7.8-1.3.6-.5 1.3-.7 2.2-.7 1 0 1.8.2 2.3.7.7.6 1.6 1.8 2.8 3.6l6.8 9.9.8 1.2.8-1.1 7.3-9.9c.6-.8 1.1-1.5 1.5-2.1.4-.5.8-1 1.1-1.3.3-.3.6-.5 1-.7.4-.2.8-.2 1.3-.2m0-1c-.6 0-1.2.1-1.7.3-.5.2-.9.5-1.3.9s-.8.9-1.2 1.5c-.4.6-.9 1.3-1.5 2.1l-7.2 9.9-6.8-9.9c-1.3-1.8-2.2-3.1-2.9-3.8-.7-.7-1.7-1-3-1-1.1 0-2.1.3-2.8.9-.8.6-1.2 1.3-1.2 2.1s.2 1.5.6 2.4c.4.8 1 1.8 1.8 3l8.5 11.8-10.2 13.2c-1.5 2-2.3 3.6-2.3 5 0 1.2.4 2 1.1 2.7.7.6 1.7.9 2.8.9.7 0 1.3-.1 1.9-.3.5-.2 1-.5 1.4-.8.4-.4.7-.7 1-1.1.3-.4.7-1 1.4-1.9L45.2 53l8 11.2c1 1.4 1.7 2.3 2.1 2.8.4.5.9.9 1.4 1.2.6.3 1.3.5 2.2.5.8 0 1.5-.2 2.2-.5.6-.3 1.1-.7 1.5-1.3.3-.5.5-1.1.5-1.8s-.2-1.4-.6-2.2c-.4-.8-1-1.7-1.9-2.9L51 46.7l8.9-12c1.6-2.1 2.4-3.8 2.4-5 0-.8-.4-1.6-1.1-2.2-.8-.5-1.7-.8-2.9-.8z"></path>
        <g>
            <path d="M32.4 60.1l10.1-13.3L34 35c-.8-1.1-1.4-2.1-1.8-3-.4-.8-.6-1.6-.6-2.4 0-.8.4-1.5 1.2-2.1.8-.6 1.7-.9 2.8-.9 1.3 0 2.3.3 3 1 .7.7 1.7 1.9 2.9 3.8l6.8 9.9 7.2-9.9c.6-.8 1.1-1.5 1.5-2.1.4-.6.8-1.1 1.2-1.5.4-.4.8-.7 1.3-.9.5-.2 1-.3 1.7-.3 1.2 0 2.1.3 2.8.9.7.6 1.1 1.4 1.1 2.2 0 1.2-.8 2.9-2.4 5l-8.9 12L63.4 60c.9 1.2 1.5 2.1 1.9 2.9.4.8.6 1.5.6 2.2 0 .6-.2 1.2-.5 1.8-.4.5-.8 1-1.5 1.3-.6.3-1.4.5-2.2.5-.9 0-1.6-.2-2.2-.5-.6-.3-1.1-.7-1.4-1.2-.4-.5-1.1-1.4-2.1-2.8L48 53l-8.5 11.6c-.7.9-1.1 1.6-1.4 1.9-.3.4-.6.7-1 1.1-.4.4-.9.6-1.4.8-.5.2-1.2.3-1.9.3-1.1 0-2-.3-2.8-.9-.7-.6-1.1-1.5-1.1-2.7.3-1.4 1-3 2.5-5z"
                  fill="#fff" stroke="#fff" stroke-width="1.692" stroke-miterlimit="10"></path>
        </g>
    </svg>
</div>
