<svg fxFlex="grow" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"   viewBox="180 0 633 595.3"
     xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <g id="background">

        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st0"
              d="M585.1 503.6c1.2 1.5 1.1 3.5-.1 4.5l-27 18.8c-1.2 1-3.2.6-4.4-.9l-11.8-16.3c-1.2-1.5-1.1-3.5.1-4.5l24.6-20.8c1.2-1 2.1.2 3.3 1.7l15.3 17.5z"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1"
              d="M584.8 503.8c1.2 1.5 1.1 3.5-.2 4.5l-27.2 17.6c-1.2 1-3.2.5-4.4-1l-10.7-16.5c-1.2-1.5-1.1-3.5.2-4.5l24.9-20.2c1.2-1 3.2-.5 4.4 1l13 19.1z"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st2"
              d="M580.7 503.4c1 1.2.9 2.9-.1 3.6l-17.9 12.3c-1 .8-2.6.4-3.5-.9l-9.5-13.5c-1-1.2-.9-2.9.1-3.6l16.6-13.1c1-.8 2.6-.4 3.5.9l10.8 14.3z"></path>
        <ellipse transform="rotate(-35.767 544.535 506.652)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="544.6"
                 cy="506.7" rx="1" ry="1"></ellipse>
        <ellipse transform="rotate(-35.767 546.391 509.725)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="546.4"
                 cy="509.8" rx=".7" ry=".7"></ellipse>
        <ellipse transform="rotate(-35.767 544.567 506.454)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="544.6"
                 cy="506.5" rx="1" ry="1"></ellipse>
        <ellipse transform="rotate(-35.767 546.424 509.527)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="546.5"
                 cy="509.6" rx=".7" ry=".7"></ellipse>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
              d="M554.6 524.2l-2.7-3.8c-.4-.6-.3-1.3.3-1.7l.3-.2c.6-.4 1.3-.3 1.7.3l2.7 3.8c.4.6.3 1.3-.3 1.7l-.3.2c-.6.3-1.3.2-1.7-.3z"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st5"
              d="M554.1 518.1l-2.8 2M554.5 518.8l-2.7 2M555 519.4l-2.8 2M555.5 520.1l-2.8 2M556 520.7l-2.8 2M556.4 521.4l-2.8 2M556.9 522l-2.8 2M557.4 522.7l-2.8 2"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6"
              d="M554.2 506.9c1.4 1.8 5.2 8.6 7.1 7.1 1.7-1.3-5.9-10.4-2.5-12.9 3-2.2 8.5 6.3 10.5 4.8 2.3-1.7-6.9-8.2-1.9-12 3.5-2.7 7.2 2.8 8.5 4.6 2.1 2.9 4.2 3.1 4.2 3.1l-1.9 1.6s-2.4-.3-4.4-3c-1.3-1.7-2.5-4.7-4.1-3.5-3.1 2.1 6 8.2 1.5 11.7-3.1 2.3-8.3-5.1-10-3.8-1.5 1.2 5.6 8.3 2.2 11.4-2.6 2.4-5.9-1.3-7.9-3.4-1.3-1.4-2.5-3.4-3.1-4.5.7-.2 1.5-.9 1.8-1.2z"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1"
              d="M558.6 491.4l-3.6-6.9s-5.2 5.4-5 5.7c.2.3 4.5 5 4.5 5l4.1-3.8z"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st0"
              d="M403.9 111.6c-1.8-.7-2.8-2.5-2.3-4l14.2-30.9c.6-1.5 2.5-2.2 4.4-1.5l19 8.4c1.8.7 2.8 2.5 2.3 4l-11 31.4c-.6 1.5-2 .9-3.8.2l-22.8-7.6z"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
              d="M404 111.2c-1.8-.7-2.8-2.6-2.2-4.1l15-29.9c.6-1.5 2.6-2.1 4.4-1.4l18.2 9.1c1.8.7 2.8 2.6 2.2 4.1l-11.5 31c-.6 1.5-2.6 2.1-4.4 1.4L404 111.2z"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st2"
              d="M407.9 109.4c-1.5-.6-2.3-2.1-1.8-3.3l9.5-20.3c.5-1.2 2.1-1.7 3.6-1.1l15.5 7.1c1.5.6 2.3 2.1 1.8 3.3l-7.9 20.4c-.5 1.2-2.1 1.7-3.6 1.1l-17.1-7.2z"></path>
        <ellipse transform="rotate(-66.234 438.344 87.564)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="438.3" cy="87.6"
                 rx="1.1" ry="1.1"></ellipse>
        <ellipse transform="rotate(-66.234 435.082 85.801)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="435.1" cy="85.8"
                 rx=".8" ry=".8"></ellipse>
        <ellipse transform="rotate(-66.234 438.419 87.758)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="438.4" cy="87.8"
                 rx="1.1" ry="1.1"></ellipse>
        <ellipse transform="rotate(-66.234 435.157 85.994)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="435.2" cy="86"
                 rx=".8" ry=".8"></ellipse>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
              d="M420.3 77.2l4.5 2c.6.3.9 1 .6 1.6l-.2.4c-.3.6-1 .9-1.6.6l-4.5-2c-.6-.3-.9-1-.6-1.6l.2-.4c.2-.6.9-.9 1.6-.6z"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st8"
              d="M423.9 82.4l1.4-3.3M423.1 82l1.5-3.2M422.4 81.7l1.4-3.3M421.6 81.4l1.4-3.3M420.8 81l1.5-3.2M420.1 80.7l1.4-3.3M419.3 80.4l1.5-3.3M418.6 80l1.4-3.2"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6"
              d="M429.7 92.4c-2.2-.9-9.1-4.9-10.1-2.6-.9 2.1 10.7 6.2 9 10.2-1.5 3.5-10.9-1.1-11.8 1.2-1.1 2.7 10.4 3.6 8 9.6-1.7 4.2-7.9 1.3-10 .4-3.4-1.5-5.4-.6-5.4-.6l.9-2.5s2.2-1 5.5.4c2.1.9 4.6 2.9 5.5 1 1.6-3.5-9.7-4.2-7.5-9.6 1.5-3.7 10.1.2 10.9-1.8.7-1.8-9.3-4.5-7.9-9 1.1-3.5 6-2 8.8-1.1 1.9.6 4 1.7 5.1 2.4-.6.5-.9 1.6-1 2z"></path>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
              d="M433.9 108.5l16.8 7.8s1.8-7.5 1.4-7.7-16.6-5.6-16.6-5.6l-1.6 5.5z"></path>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st0" d="M185.2 441.6c-1.8-.7-2.8-2.5-2.3-4l14.2-30.9c.6-1.5 2.5-2.2 4.4-1.5l19 8.4c1.8.7 2.8 2.5 2.3 4l-11 31.4c-.6 1.5-2 .9-3.8.2l-22.8-7.6z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1"
                  d="M185.4 441.2c-1.8-.7-2.8-2.6-2.2-4.1l15-29.9c.6-1.5 2.6-2.1 4.4-1.4l18.2 9.1c1.8.7 2.8 2.6 2.2 4.1l-11.5 31c-.6 1.5-2.6 2.1-4.4 1.4l-21.7-10.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st2"
                  d="M189.2 439.4c-1.5-.6-2.3-2.1-1.8-3.3l9.5-20.3c.5-1.2 2.1-1.7 3.6-1.1l15.5 7.1c1.5.6 2.3 2.1 1.8 3.3l-7.9 20.4c-.5 1.2-2.1 1.7-3.6 1.1l-17.1-7.2z"></path>
            <ellipse transform="rotate(-66.234 219.677 417.57)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="219.7"
                     cy="417.6" rx="1.1" ry="1.1"></ellipse>
            <ellipse transform="rotate(-66.234 216.416 415.807)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="216.4"
                     cy="415.8" rx=".8" ry=".8"></ellipse>
            <ellipse transform="rotate(-66.234 219.752 417.763)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="219.7"
                     cy="417.8" rx="1.1" ry="1.1"></ellipse>
            <ellipse transform="rotate(-66.234 216.49 416)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="216.5" cy="416"
                     rx=".8" ry=".8"></ellipse>
            <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4" d="M201.6 407.2l4.5 2c.6.3.9 1 .6 1.6l-.2.4c-.3.6-1 .9-1.6.6l-4.5-2c-.6-.3-.9-1-.6-1.6l.2-.4c.2-.6 1-.9 1.6-.6z"></path>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st8"
                      d="M205.2 412.4l1.5-3.3M204.5 412l1.4-3.2M203.7 411.7l1.4-3.3M202.9 411.4l1.5-3.3M202.2 411l1.4-3.2M201.4 410.7l1.5-3.3M200.7 410.4l1.4-3.3M199.9 410l1.4-3.2"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6"
                  d="M211 422.4c-2.2-.9-9.1-4.9-10.1-2.6-.9 2.1 10.7 6.2 9 10.2-1.5 3.5-10.9-1.1-11.8 1.2-1.1 2.7 10.4 3.6 8 9.6-1.7 4.2-7.9 1.3-10 .4-3.4-1.5-5.4-.6-5.4-.6l.9-2.5s2.2-1 5.5.4c2.1.9 4.6 2.9 5.5 1 1.6-3.5-9.7-4.2-7.5-9.6 1.5-3.7 10.1.2 10.9-1.8.7-1.8-9.3-4.5-7.9-9 1.1-3.5 6-2 8.8-1.1 1.9.6 4 1.7 5.1 2.4-.6.5-.9 1.6-1 2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1"
                  d="M215.2 438.5l16.8 7.8s1.8-7.5 1.4-7.7c-.4-.2-16.6-5.6-16.6-5.6l-1.6 5.5z"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st0" d="M590.8 300.9c1.8-.2 3.5.9 3.6 2.4l1.3 32.2c.2 1.5-1.2 2.9-3.1 3.1l-19.6 1.1c-1.8.2-3.5-.9-3.6-2.4l-4.2-31.2c-.2-1.5 1.3-1.7 3.1-1.9l22.5-3.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M590.8 301.2c1.8-.2 3.5.9 3.6 2.5l.2 31.6c.1 1.5-1.3 2.9-3.1 3.1l-19.2.1c-1.8.2-3.5-.9-3.6-2.5l-3.6-31.1c-.1-1.5 1.3-2.9 3.1-3.1l22.6-.6z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st2"
                  d="M588.3 304.4c1.5-.1 2.8.7 3 2l.7 21.2c.1 1.2-1 2.3-2.6 2.4l-16.1.7c-1.5.1-2.8-.7-3-2l-2.1-20.6c-.1-1.2 1-2.3 2.6-2.4l17.5-1.3z"></path>
            <ellipse transform="rotate(-3.236 572.01 335.91)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="572" cy="335.9"
                     rx="1" ry="1"></ellipse>
            <ellipse transform="rotate(-3.236 575.521 335.994)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="575.5"
                     cy="336" rx=".7" ry=".7"></ellipse>
            <ellipse transform="rotate(-3.236 571.866 335.778)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="571.9"
                     cy="335.8" rx="1" ry="1"></ellipse>
            <ellipse transform="rotate(-3.236 575.374 335.863)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="575.4"
                     cy="335.9" rx=".7" ry=".7"></ellipse>
            <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4" d="M591.6 336.9l-4.3.2c-.7 0-1.4-.5-1.4-1.2v-.1c0-.7.5-1.4 1.2-1.4l4.3-.2c.7 0 1.4.5 1.4 1.2v.1c0 .7-.5 1.3-1.2 1.4z"></path>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st9"
                      d="M586.4 334.1l.2 3.3M587.2 334l.2 3.4M588 334l.2 3.4M588.8 334l.2 3.3M589.6 333.9l.2 3.4M590.4 333.9l.1 3.3M591.1 333.8l.2 3.4M591.9 333.8l.2 3.3"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6"
                  d="M577.2 328.1c2.2-.2 9.8.2 9.6-2.1-.1-2.1-11.7-.6-12-4.7-.3-3.6 9.6-3.8 9.5-6.1-.2-2.8-10.4 1.4-10.9-4.7-.4-4.3 6.1-4.5 8.3-4.6 3.5-.2 4.8-1.8 4.8-1.8l.3 2.4s-1.5 1.8-4.8 2.1c-2.1.2-5.1-.4-5.1 1.5.1 3.6 9.9-.6 10.4 4.9.3 3.8-8.6 4.1-8.4 6.2.2 1.9 9.8-.2 10.5 4.2.6 3.4-4.2 4.2-6.9 4.7-1.9.3-4.1.3-5.3.2.3-.8.1-1.8 0-2.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M566.8 316.3l-7.6-.7s-2.3 7.1-1.9 7.1c.4 0 10.5-1 10.5-1l-1-5.4z"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st0" d="M806.6 201.6c1.4-.1 2.6.7 2.8 1.8l1 24.4c.1 1.1-.9 2.2-2.3 2.3l-14.9.8c-1.4.1-2.6-.7-2.8-1.8l-3.2-23.6c-.1-1.1 1-1.3 2.4-1.4l17-2.5z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M806.6 201.9c1.4-.1 2.6.7 2.7 1.9l.2 24c.1 1.2-1 2.2-2.4 2.3l-14.6.1c-1.4.1-2.6-.7-2.7-1.9l-2.7-23.6c-.1-1.2 1-2.2 2.4-2.3l17.1-.5z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st2"
                  d="M804.7 204.3c1.2-.1 2.2.6 2.2 1.5l.5 16c.1.9-.8 1.7-1.9 1.8l-12.2.5c-1.2.1-2.2-.6-2.2-1.5l-1.6-15.6c-.1-.9.8-1.7 1.9-1.8l13.3-.9z"></path>
            <ellipse transform="rotate(-3.236 792.342 228.194)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="792.3"
                     cy="228.2" rx=".8" ry=".8"></ellipse>
            <ellipse transform="rotate(-3.236 794.999 228.259)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="795"
                     cy="228.3" rx=".5" ry=".5"></ellipse>
            <ellipse transform="rotate(-3.236 792.231 228.096)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="792.2"
                     cy="228.1" rx=".8" ry=".8"></ellipse>
            <ellipse transform="rotate(-3.236 794.888 228.16)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="794.9"
                     cy="228.2" rx=".5" ry=".5"></ellipse>
            <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4" d="M807.1 228.9l-3.3.2c-.6 0-1-.4-1.1-.9v-.1c0-.6.4-1 .9-1.1l3.3-.2c.6 0 1 .4 1.1.9v.1c.1.6-.3 1.1-.9 1.1z"></path>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st10"
                      d="M803.3 226.8l.1 2.6M803.9 226.8l.1 2.5M804.5 226.7l.1 2.6M805 226.7l.2 2.6M805.6 226.7l.2 2.5M806.2 226.6l.2 2.6M806.8 226.6l.2 2.6M807.4 226.6l.2 2.5"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6"
                  d="M796.3 222.3c1.7-.1 7.4.2 7.3-1.6-.1-1.6-8.8-.5-9.1-3.6-.2-2.8 7.3-2.8 7.2-4.6-.2-2.1-7.9 1.1-8.3-3.6-.3-3.2 4.6-3.4 6.3-3.5 2.7-.2 3.6-1.4 3.6-1.4l.2 1.9s-1.1 1.4-3.6 1.6c-1.6.1-3.9-.3-3.8 1.2.1 2.7 7.5-.5 7.9 3.7.2 2.8-6.5 3.1-6.4 4.7.1 1.4 7.4-.2 8 3.2.4 2.6-3.2 3.2-5.2 3.6-1.4.3-3.1.2-4 .2.1-.7 0-1.5-.1-1.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M788.4 213.4l-9.8-.5s.2 5.4.5 5.4 10-.8 10-.8l-.7-4.1z"></path></g>
        <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st11"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6" d="M334.9 320.5s81.6-36.7 117.6-13.1l5.7-12.6s-54.5-26-124 10.6l.7 15.1z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6"
                  d="M338.2 317.7s69.5-30.5 108.3-14.4l1.7-4.3s-43.4-17.2-112.4 8.4l2.4 10.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st12"
                  d="M461.9 310.9l-16.4-3.2 4.5-18.1 20.2 4.5zM341.1 321.8l-15.9 5.3-5.7-21.8 16.6-4.1z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st13"
                  d="M444.5 302s4-4.5 2-9.9M441.6 301.6s4-4.5 2-9.9M438.5 300.8s3.1-5 .1-10.1M436.6 300s3.1-5 .1-10.1M432.3 299.6s2.1-5.4-1.8-10M428.5 299s1.7-5.5-2.5-9.9M422.3 297.2s2.4-5.2-1.2-10M417.5 298.6s3-6.1-1.6-11.8M412.4 298.9s3-6.1-1.6-11.8M396.1 299.1s3-6.1-1.6-11.8M407.4 298.3s3-6.1-1.6-11.8M401.7 299.1s3-6.1-1.6-11.8M388.1 299.3s1.6-5.4-2.7-9.7M383.6 301.2s2.1-6.4-3.3-11.5M378.5 302.1s2.1-6.4-3.3-11.5M364.4 307s2.1-6.4-3.3-11.5M372.2 303.8s2.1-6.4-3.3-11.5M369.8 304.9s2.1-6.4-3.3-11.5"></path></g>
        <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st11"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6" d="M668.5 221s-65.4 56.6-108.2 42.4l-1 13.9s61.4 11.9 115.3-41.5l-6.1-14.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6"
                  d="M666.4 224.6s-55.9 47.4-98.9 41.3l-.2 4.6s47.6 6 104.9-36.5l-5.8-9.4z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st12"
                  d="M550.1 262.3l16.8-1 2 18.9-20.9.7zM662.1 221.2l13.5-9.1 13.1 20-14.6 8.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st13"
                  d="M569.9 266.7s-2.3 5.4 1.6 10.3M572.8 266.4s-2.3 5.4 1.6 10.3M576 266.4s-1.2 5.7 3.5 10M578.2 266.7s-1.2 5.7 3.5 10M582.4 266s-.1 5.8 5.3 9.4M586.3 265.6s.3 5.8 5.8 9.2M592.8 265.8s-.4 5.7 4.6 9.5M597 263.3s-.7 6.8 5.6 11.2M601.8 261.7s-.7 6.8 5.6 11.2M617.3 257.4s-.7 6.8 5.6 11.2M606.8 261s-.7 6.8 5.6 11.2M611.9 258.8s-.7 6.8 5.6 11.2M624.9 255.2s.4 5.7 5.9 8.9M628.6 252.2s.3 6.8 7.2 10.4M633.2 250s.3 6.8 7.2 10.4M645 241.7s.3 6.8 7.2 10.4M638.7 246.8s.3 6.8 7.2 10.4M640.5 245.1s.3 6.8 7.2 10.4"></path></g>
        <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st11"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6" d="M673.4 182.3s-71.9 2.9-90.9-28.1l-8.3 8.4s31.8 39 94.9 32.3l4.3-12.6z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6"
                  d="M670 183.5s-61 1.9-84.5-24l-2.6 2.9s26.5 28.2 85.6 30.2l1.5-9.1z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st12"
                  d="M576.6 148.3l11.1 7.9-9.2 13.2-13.4-10.2zM669.2 179.1l13.5 1.1-2.8 19.5-13.6-2.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st13"
                  d="M586.5 161.2s-4.4 2.3-4.7 7.4M588.6 162.5s-4.4 2.3-4.7 7.4M590.6 164.2s-3.9 3.1-3.3 8.2M591.8 165.4s-3.9 3.1-3.3 8.2M594.8 167.2s-3.3 3.7-1.9 8.7M597.4 168.9s-3 3.9-1.4 8.9M601.4 172.4s-3.4 3.5-2.3 8.5M605.4 172.9s-4.2 4-2.6 10.1M609.3 174.3s-4.2 4-2.6 10.1M621.4 179.4s-4.2 4-2.6 10.1M612.7 176.4s-4.2 4-2.6 10.1M617.2 177.6s-4.2 4-2.6 10.1M627.3 181.9s-2.9 3.9-1.2 8.7M631.3 181.9s-3.6 4.5-1.2 10.4M635.3 182.9s-3.6 4.5-1.2 10.4M647.3 183.5s-3.6 4.5-1.2 10.4M640.5 183.5s-3.6 4.5-1.2 10.4M642.6 183.4s-3.6 4.5-1.2 10.4"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st14" d="M565.1 235.9s73.7 38.8 107.7 14.4l4.8 13.2s-51.1 26.8-113.8-11.7l1.3-15.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st15"
                  d="M568 238.8s62.8 32.2 99.2 15.7l1.4 4.5s-40.6 17.6-103.2-9.4l2.6-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st16"
                  d="M672.7 248.7l-6.3 1.2 3.5 18.8 13.8-3zM570.9 234.5l-20.8-3.9L546 246l19.5 10z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M665.3 255.8c1.2 1.4 2 3.1 2.3 5 .1.9.2 1.9 0 2.8-.1.9-.4 1.8-.8 2.6.2-.9.3-1.8.3-2.7 0-.9 0-1.8-.2-2.6-.1-.9-.3-1.7-.6-2.6-.3-.8-.6-1.6-1-2.5zM662.6 256.2c1.2 1.4 2 3.1 2.3 5 .1.9.2 1.9 0 2.8-.1.9-.4 1.8-.8 2.6.2-.9.3-1.8.3-2.7 0-.9 0-1.8-.2-2.6-.1-.9-.3-1.7-.6-2.6-.3-.8-.6-1.6-1-2.5zM659.7 257.1c1 1.6 1.4 3.5 1.4 5.3 0 .9-.2 1.9-.4 2.8-.3.9-.7 1.7-1.2 2.5.3-.9.6-1.7.8-2.6.2-.9.3-1.8.3-2.6 0-.9 0-1.8-.2-2.7-.2-1-.4-1.9-.7-2.7zM657.9 257.9c1 1.6 1.4 3.5 1.4 5.3 0 .9-.2 1.9-.4 2.8-.3.9-.7 1.7-1.2 2.5.3-.9.6-1.7.8-2.6.2-.9.3-1.8.3-2.6 0-.9 0-1.8-.2-2.7-.3-1-.4-1.9-.7-2.7zM653.9 258.2c.7 1.7.8 3.7.5 5.5-.2.9-.5 1.8-.9 2.7-.4.9-1 1.6-1.6 2.3.4-.8.9-1.6 1.2-2.5.3-.8.6-1.7.7-2.6.2-.9.3-1.8.3-2.7 0-.8 0-1.8-.2-2.7z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M650.4 258.8c.4.9.6 1.8.7 2.8.1 1 0 1.9-.2 2.9-.1.5-.3.9-.4 1.4-.2.4-.4.9-.7 1.3-.5.8-1.2 1.5-2 2.1.4-.9.8-1.7 1.1-2.5.3-.8.6-1.7.8-2.5.4-1.9.6-3.6.7-5.5z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M644.7 260.7c.8 1.7 1 3.6.8 5.4-.1.9-.4 1.8-.7 2.7-.3.9-.9 1.6-1.5 2.3.4-.8.8-1.6 1-2.5.3-.8.5-1.7.6-2.6.1-.9.2-1.8.1-2.6l-.3-2.7zM640.3 259.2c1 2 1.3 4.2.9 6.4-.2 1.1-.5 2.2-1 3.2-.4 1-1.1 1.9-1.9 2.7.5-1 1-1.9 1.3-2.9.4-1 .6-2 .8-3 .2-1 .2-2.1.2-3.1 0-1.1-.1-2.2-.3-3.3z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M635.6 258.9c.6.9.9 2 1.1 3.1.2 1.1.2 2.2 0 3.4-.1.6-.2 1.1-.4 1.6s-.4 1.1-.7 1.6c-.5 1-1.2 1.9-2 2.6.4-1 .9-2 1.2-3 .3-1 .6-2 .7-3 .4-2.1.3-4.1.1-6.3z"></path></g>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M620.6 258.5c.6.9.9 2 1.1 3.1.2 1.1.2 2.2 0 3.4-.1.6-.2 1.1-.4 1.6s-.4 1.1-.7 1.6c-.5 1-1.2 1.9-2 2.6.4-1 .9-2 1.2-3 .3-1 .6-2 .7-3 .4-2 .3-4.1.1-6.3z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M631 259.5c1 2 1.3 4.2.9 6.4-.2 1.1-.5 2.2-1 3.2-.4 1-1.1 1.9-1.9 2.7.5-1 1-1.9 1.3-2.9.4-1 .6-2 .8-3 .2-1 .2-2.1.2-3.1 0-1.2-.1-2.2-.3-3.3zM625.8 258.6c1 2 1.3 4.2.9 6.4-.2 1.1-.5 2.2-1 3.2-.4 1-1.1 1.9-1.9 2.7.5-1 1-1.9 1.3-2.9.4-1 .6-2 .8-3 .2-1 .2-2.1.2-3.1 0-1.2-.1-2.2-.3-3.3zM613.3 258.3c.6 1.7.5 3.7.1 5.5-.2.9-.6 1.8-1.1 2.6-.5.8-1.1 1.5-1.8 2.1.5-.8 1-1.5 1.3-2.3.4-.8.7-1.6.9-2.5.2-.9.4-1.7.5-2.6.1-1 .1-1.9.1-2.8zM609.1 256.3c.7 2.1.7 4.4.1 6.5-.3 1.1-.7 2.1-1.4 3-.6.9-1.4 1.7-2.2 2.4.6-.9 1.2-1.8 1.7-2.7.5-.9.9-1.9 1.1-2.9.3-1 .5-2 .6-3.1.2-1.1.2-2.1.1-3.2z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M604.5 255.3c.5 1 .7 2.1.7 3.2.1 1.1-.1 2.2-.4 3.3-.1.5-.4 1.1-.6 1.6-.3.5-.5 1-.9 1.5-.6.9-1.5 1.7-2.4 2.3.5-1 1.1-1.9 1.5-2.8.4-.9.8-1.9 1.1-2.9.7-1.9.9-4 1-6.2z"></path></g>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M591.7 250.1c.5 1 .7 2.1.7 3.2.1 1.1-.1 2.2-.4 3.3-.1.5-.4 1.1-.6 1.6-.3.5-.5 1-.9 1.5-.6.9-1.5 1.7-2.4 2.3.5-1 1.1-1.9 1.5-2.8.4-.9.8-1.9 1.1-2.9.7-1.9.9-4 1-6.2z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M598.7 253.5c.7 2.1.7 4.4.1 6.5-.3 1.1-.7 2.1-1.4 3-.6.9-1.4 1.7-2.2 2.4.6-.9 1.2-1.8 1.7-2.7.5-.9.9-1.9 1.1-2.9.3-1 .5-2 .6-3.1.2-1 .2-2.1.1-3.2zM596.6 252.3c.7 2.1.7 4.4.1 6.5-.3 1.1-.7 2.1-1.4 3-.6.9-1.4 1.7-2.2 2.4.6-.9 1.2-1.8 1.7-2.7.5-.9.9-1.9 1.1-2.9.3-1 .5-2 .6-3.1.2-1 .2-2.1.1-3.2z"></path></g>
        <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st11"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6" d="M561.6 458.9s67.9-58.7 112.3-44l1.1-14.4s-63.7-12.4-119.7 43.1l6.3 15.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st6"
                  d="M563.8 455.1s58.1-49.3 102.6-42.9l.2-4.8s-49.4-6.2-108.9 37.9l6.1 9.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st12"
                  d="M684.5 416l-17.4 1-2.1-19.6 21.7-.7zM568.3 458.6l-14.1 9.5-13.5-20.7 15.1-8.5z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st13"
                  d="M664 411.4s2.3-5.6-1.6-10.7M660.9 411.8s2.3-5.6-1.6-10.7M657.6 411.8s1.2-5.9-3.6-10.4M655.3 411.5s1.2-5.9-3.6-10.4M651 412.2s.1-6.1-5.5-9.8M647 412.6s-.3-6.1-6.1-9.5M640.2 412.3s.4-5.9-4.8-9.9M635.9 415s.7-7.1-5.9-11.6M630.9 416.6s.7-7.1-5.9-11.6M614.8 421.1s.7-7.1-5.9-11.6M625.7 417.3s.7-7.1-5.9-11.6M620.3 419.6s.7-7.1-5.9-11.6M606.9 423.4s-.4-5.9-6.2-9.2M603 426.5s-.3-7.1-7.5-10.8M598.3 428.7s-.3-7.1-7.5-10.8M586 437.4s-.3-7.1-7.5-10.8M592.6 432.1s-.3-7.1-7.5-10.8M590.7 433.9s-.3-7.1-7.5-10.8"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st14" d="M667.7 449.7S594 410.9 560 435.3l-4.8-13.2s51.1-26.8 113.8 11.7l-1.3 15.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st15"
                  d="M664.7 446.8s-62.8-32.2-99.2-15.7l-1.4-4.5s40.6-17.6 103.2 9.4l-2.6 10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st16"
                  d="M560 436.9l6.3-1.2-3.5-18.8-13.8 3zM661.9 451.1l20.7 3.9 4.1-15.4-19.5-10z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M567.4 429.7c-1.2-1.4-2-3.1-2.3-5-.1-.9-.2-1.9 0-2.8.1-.9.4-1.8.8-2.6-.2.9-.3 1.8-.3 2.7 0 .9 0 1.8.2 2.6.1.9.3 1.7.6 2.6.3.9.6 1.7 1 2.5zM570.2 429.4c-1.2-1.4-2-3.1-2.3-5-.1-.9-.2-1.9 0-2.8.1-.9.4-1.8.8-2.6-.2.9-.3 1.8-.3 2.7 0 .9 0 1.8.2 2.6.1.9.3 1.7.6 2.6.2.8.5 1.6 1 2.5zM573 428.5c-1-1.6-1.4-3.5-1.4-5.3 0-.9.2-1.9.4-2.8.3-.9.7-1.7 1.2-2.5-.3.9-.6 1.7-.8 2.6-.2.9-.3 1.8-.3 2.6 0 .9 0 1.8.2 2.7.2 1 .4 1.9.7 2.7zM574.8 427.7c-1-1.6-1.4-3.5-1.4-5.3 0-.9.2-1.9.4-2.8.3-.9.7-1.7 1.2-2.5-.3.9-.6 1.7-.8 2.6-.2.9-.3 1.8-.3 2.6 0 .9 0 1.8.2 2.7.3 1 .4 1.9.7 2.7zM578.8 427.4c-.7-1.7-.8-3.7-.5-5.5.2-.9.5-1.8.9-2.7.4-.9 1-1.6 1.6-2.3-.4.8-.9 1.6-1.2 2.5-.3.8-.6 1.7-.7 2.6-.2.9-.3 1.8-.3 2.7 0 .8 0 1.7.2 2.7z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M582.3 426.8c-.4-.9-.6-1.8-.7-2.8-.1-1 0-1.9.2-2.9.1-.5.3-.9.4-1.4.2-.4.4-.9.7-1.3.5-.8 1.2-1.5 2-2.1-.4.9-.8 1.7-1.1 2.5-.3.8-.6 1.7-.8 2.5-.4 1.9-.6 3.6-.7 5.5z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M588 424.9c-.8-1.7-1-3.6-.8-5.4.1-.9.4-1.8.7-2.7.3-.9.9-1.6 1.5-2.3-.4.8-.8 1.6-1 2.5-.3.8-.5 1.7-.6 2.6-.1.9-.2 1.8-.1 2.6l.3 2.7zM592.4 426.3c-1-2-1.3-4.2-.9-6.4.2-1.1.5-2.2 1-3.2.4-1 1.1-1.9 1.9-2.7-.5 1-1 1.9-1.3 2.9-.4 1-.6 2-.8 3-.2 1-.2 2.1-.2 3.1 0 1.2.1 2.3.3 3.3z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M597.1 426.7c-.6-.9-.9-2-1.1-3.1-.2-1.1-.2-2.2 0-3.4.1-.6.2-1.1.4-1.6s.4-1.1.7-1.6c.5-1 1.2-1.9 2-2.6-.4 1-.9 2-1.2 3-.3 1-.6 2-.7 3-.4 2.1-.3 4.1-.1 6.3z"></path></g>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M612.1 427.1c-.6-.9-.9-2-1.1-3.1-.2-1.1-.2-2.2 0-3.4.1-.6.2-1.1.4-1.6s.4-1.1.7-1.6c.5-1 1.2-1.9 2-2.6-.4 1-.9 2-1.2 3-.3 1-.6 2-.7 3-.4 2-.3 4.1-.1 6.3z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M601.7 426.1c-1-2-1.3-4.2-.9-6.4.2-1.1.5-2.2 1-3.2.4-1 1.1-1.9 1.9-2.7-.5 1-1 1.9-1.3 2.9-.4 1-.6 2-.8 3-.2 1-.2 2.1-.2 3.1 0 1.2.1 2.2.3 3.3zM606.9 427c-1-2-1.3-4.2-.9-6.4.2-1.1.5-2.2 1-3.2.4-1 1.1-1.9 1.9-2.7-.5 1-1 1.9-1.3 2.9-.4 1-.6 2-.8 3-.2 1-.2 2.1-.2 3.1 0 1.2.1 2.2.3 3.3zM619.4 427.3c-.6-1.7-.5-3.7-.1-5.5.2-.9.6-1.8 1.1-2.6.5-.8 1.1-1.5 1.8-2.1-.5.8-1 1.5-1.3 2.3-.4.8-.7 1.6-.9 2.5-.2.9-.4 1.7-.5 2.6-.1 1-.1 1.9-.1 2.8zM623.6 429.3c-.7-2.1-.7-4.4-.1-6.5.3-1.1.7-2.1 1.4-3 .6-.9 1.4-1.7 2.2-2.4-.6.9-1.2 1.8-1.7 2.7-.5.9-.9 1.9-1.1 2.9-.3 1-.5 2-.6 3.1-.2 1.1-.2 2.1-.1 3.2z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M628.2 430.3c-.5-1-.7-2.1-.7-3.2-.1-1.1.1-2.2.4-3.3.1-.5.4-1.1.6-1.6.3-.5.5-1 .9-1.5.6-.9 1.5-1.7 2.4-2.3-.5 1-1.1 1.9-1.5 2.8-.4.9-.8 1.9-1.1 2.9-.7 1.9-.9 4-1 6.2z"></path></g>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M641 435.5c-.5-1-.7-2.1-.7-3.2-.1-1.1.1-2.2.4-3.3.1-.5.4-1.1.6-1.6.3-.5.5-1 .9-1.5.6-.9 1.5-1.7 2.4-2.3-.5 1-1.1 1.9-1.5 2.8-.4.9-.8 1.9-1.1 2.9-.7 1.9-.9 4-1 6.2z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M634 432.1c-.7-2.1-.7-4.4-.1-6.5.3-1.1.7-2.1 1.4-3 .6-.9 1.4-1.7 2.2-2.4-.6.9-1.2 1.8-1.7 2.7-.5.9-.9 1.9-1.1 2.9-.3 1-.5 2-.6 3.1-.2 1-.2 2.1-.1 3.2zM636.1 433.3c-.7-2.1-.7-4.4-.1-6.5.3-1.1.7-2.1 1.4-3 .6-.9 1.4-1.7 2.2-2.4-.6.9-1.2 1.8-1.7 2.7-.5.9-.9 1.9-1.1 2.9-.3 1-.5 2-.6 3.1-.2 1-.2 2.1-.1 3.2z"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st14" d="M560.5 194.9s77.6-3.5 93.5-39.1l10.1 8.4s-28.6 45.6-97.2 44.1l-6.4-13.4z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st15"
                  d="M564.3 195.8s65.8-3.6 87.3-34l3.3 2.9s-24.4 33.3-87.5 40.9l-3.1-9.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st16"
                  d="M653.2 154.5l-4.5 3.9 11.7 13.6 9.7-8.9zM564.5 191l-18.5 6.6 3.9 14.4 20.4-1.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M650.6 163.8c.8.3 1.6.7 2.3 1.2.7.5 1.3 1.1 1.9 1.8.5.7 1 1.4 1.3 2.2.3.8.5 1.7.6 2.5-.3-.8-.6-1.6-1-2.3-.4-.7-.8-1.4-1.4-2.1-1-1.3-2.3-2.4-3.7-3.3zM648.6 165.4c.8.3 1.6.7 2.3 1.2.7.5 1.3 1.1 1.9 1.8.5.7 1 1.4 1.3 2.2.3.8.5 1.7.6 2.5-.3-.8-.6-1.6-1-2.3-.4-.7-.8-1.4-1.4-2.1-1-1.3-2.3-2.4-3.7-3.3zM646.7 167.4c.8.4 1.4.9 2.1 1.6.6.6 1.1 1.3 1.6 2.1.4.8.8 1.6.9 2.4.2.8.2 1.7.2 2.6-.2-.8-.3-1.7-.6-2.5s-.6-1.6-1-2.3c-.4-.7-.9-1.4-1.4-2.1l-1.8-1.8zM645.6 168.9c.8.4 1.4.9 2.1 1.6.6.6 1.1 1.3 1.6 2.1.4.8.8 1.6.9 2.4.2.8.2 1.7.2 2.6-.2-.8-.3-1.7-.6-2.5s-.6-1.6-1-2.3c-.4-.7-.9-1.4-1.4-2.1l-1.8-1.8zM642.6 171c.7.5 1.3 1.2 1.8 1.9s.9 1.5 1.2 2.3c.3.8.5 1.7.5 2.6.1.9 0 1.8-.2 2.6 0-.9 0-1.7-.2-2.5-.1-.8-.3-1.6-.6-2.4-.3-.8-.6-1.5-1-2.3-.5-.8-1-1.5-1.5-2.2z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M640.1 173.1c.8.5 1.4 1.2 1.9 1.9s.9 1.6 1.2 2.4c.1.4.2.9.3 1.3 0 .5.1.9 0 1.4 0 .9-.2 1.8-.6 2.6-.1-.9-.1-1.7-.3-2.5-.1-.8-.3-1.6-.5-2.4-.6-1.6-1.3-3.1-2-4.7z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M636.3 177.4c.7.5 1.3 1.1 1.8 1.8s1 1.4 1.3 2.2c.3.8.6 1.6.7 2.5.1.9.1 1.7-.1 2.6-.1-.8-.1-1.7-.3-2.5-.2-.8-.4-1.6-.7-2.3-.3-.8-.7-1.5-1.1-2.2-.5-.8-1-1.5-1.6-2.1zM632.1 178.3c1.7 1.1 3 2.8 3.8 4.7.4 1 .6 2 .7 3 .1 1 0 2.1-.2 3-.1-1-.1-2-.3-3-.2-1-.4-1.9-.8-2.8-.4-.9-.8-1.8-1.3-2.6-.6-.8-1.2-1.6-1.9-2.3z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M628.1 180.2c.9.5 1.7 1.2 2.4 2s1.2 1.7 1.6 2.7c.4 1 .6 2 .7 3.1.1 1-.1 2.1-.4 3.1-.2-1-.2-2-.5-2.9-.2-.9-.5-1.9-.9-2.7-.6-2-1.7-3.7-2.9-5.3z"></path></g>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M615.9 186.9c.9.5 1.7 1.2 2.4 2s1.2 1.7 1.6 2.7c.4 1 .6 2 .7 3.1.1 1-.1 2.1-.4 3.1-.2-1-.2-2-.5-2.9-.2-.9-.5-1.9-.9-2.7-.7-2-1.7-3.6-2.9-5.3z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M624.7 182.8c1.7 1.1 3 2.8 3.8 4.7.4 1 .6 2 .7 3 .1 1 0 2.1-.2 3-.1-1-.1-2-.3-3-.2-1-.4-1.9-.8-2.8-.4-.9-.8-1.8-1.3-2.6-.6-.7-1.2-1.5-1.9-2.3zM620.1 184.6c1.7 1.1 3 2.8 3.8 4.7.4 1 .6 2 .7 3 .1 1 0 2.1-.2 3-.1-1-.1-2-.3-3-.2-1-.4-1.9-.8-2.8-.4-.9-.8-1.8-1.3-2.6-.6-.8-1.2-1.6-1.9-2.3zM609.9 190.2c.6.6 1.2 1.3 1.6 2 .4.7.8 1.5 1 2.4.2.8.4 1.7.3 2.6 0 .9-.2 1.7-.4 2.5 0-.9.1-1.7 0-2.5s-.2-1.6-.4-2.4c-.2-.8-.5-1.6-.8-2.3-.4-.8-.8-1.6-1.3-2.3zM605.6 190.5c1.5 1.3 2.6 3.2 3.1 5.2.3 1 .4 2 .3 3.1 0 1-.3 2-.6 3 .1-1 .2-2 .1-3 0-1-.2-1.9-.4-2.9-.2-.9-.6-1.9-1-2.8-.4-.8-.9-1.7-1.5-2.6z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M601.4 192c.9.6 1.5 1.4 2.1 2.3.6.9 1 1.9 1.2 2.9.3 1 .4 2.1.3 3.1-.1 1-.4 2.1-.8 3 0-1 0-2-.1-3s-.2-1.9-.5-2.8c-.4-2-1.2-3.8-2.2-5.5z"></path></g>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M588.7 193.8c.9.6 1.5 1.4 2.1 2.3.6.9 1 1.9 1.2 2.9.3 1 .4 2.1.3 3.1-.1 1-.4 2.1-.8 3 0-1 0-2-.1-3s-.2-1.9-.5-2.8c-.5-2-1.3-3.7-2.2-5.5z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M595.9 193.2c1.5 1.3 2.6 3.2 3.1 5.2.3 1 .4 2 .3 3.1 0 1-.3 2-.6 3 .1-1 .2-2 .1-3 0-1-.2-1.9-.4-2.9-.2-.9-.6-1.9-1-2.8-.4-.9-.9-1.8-1.5-2.6zM593.7 193.2c1.5 1.3 2.6 3.2 3.1 5.2.3 1 .4 2 .3 3.1 0 1-.3 2-.6 3 .1-1 .2-2 .1-3 0-1-.2-1.9-.4-2.9-.2-.9-.6-1.9-1-2.8-.5-.8-1-1.7-1.5-2.6z"></path></g>
        <g><path d="M340.5 339.5s85.8-4.9 106.9 29.4l10.2-9.5s-36-42.9-111.4-34l-5.7 14.1z" fill="#7c8f9a"></path>
            <path d="M344.6 338.1s72.8-3.5 99.5 24.9l3.3-3.3s-30.2-30.9-100.4-31.8l-2.4 10.2z" opacity=".29"
                  fill="#4e585f"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st16"
                  d="M454.5 377l-13.3-8.8 11.6-16.4 7 5.3zM345.3 342.9l-15.9-.8 4.2-21.9 16.1 2.1z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M442.8 361.1c1.4-1.1 2.7-2.3 3.7-3.7.5-.7 1-1.4 1.3-2.2.4-.8.6-1.6.9-2.5 0 .9-.1 1.8-.4 2.7-.3.9-.7 1.7-1.3 2.4-1 1.4-2.5 2.6-4.2 3.3zM440.5 359.7c1.4-1.1 2.7-2.3 3.7-3.7.5-.7 1-1.4 1.3-2.2.4-.8.6-1.6.9-2.5 0 .9-.1 1.8-.4 2.7-.3.9-.7 1.7-1.3 2.4-1.1 1.5-2.6 2.6-4.2 3.3zM438.2 357.9c1.2-1.3 2.3-2.7 3-4.2.4-.8.7-1.6.9-2.4.2-.8.3-1.7.4-2.6.1.9.2 1.8.1 2.7-.1.9-.4 1.8-.8 2.6-.9 1.6-2.1 3-3.6 3.9zM436.8 356.5c1.2-1.3 2.3-2.7 3-4.2.4-.8.7-1.6.9-2.4.2-.8.3-1.7.4-2.6.1.9.2 1.8.1 2.7-.1.9-.4 1.8-.8 2.6-.8 1.6-2.1 3-3.6 3.9zM433.3 354.6c1-1.5 1.8-3 2.2-4.7.3-.8.4-1.7.5-2.5.1-.9 0-1.7 0-2.6.3.8.5 1.7.5 2.6 0 .9-.1 1.8-.3 2.7-.6 1.8-1.6 3.4-2.9 4.5z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M430.3 352.8c.7-1.7 1.3-3.2 1.7-4.9.2-.8.3-1.6.4-2.5.1-.8 0-1.7 0-2.6.5.8.8 1.7.9 2.6.1.5.1.9.1 1.4 0 .5-.1.9-.2 1.4-.2.9-.5 1.8-1 2.6-.6.7-1.2 1.5-1.9 2z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M425.7 348.9c1-1.4 1.9-2.9 2.5-4.5.3-.8.5-1.6.6-2.5.1-.8.1-1.7.1-2.6.2.8.4 1.7.4 2.6 0 .9-.2 1.8-.5 2.6s-.7 1.6-1.2 2.4c-.6.8-1.2 1.5-1.9 2zM421 348.5c.7-.8 1.2-1.7 1.7-2.6.5-.9.9-1.8 1.2-2.8.3-.9.5-1.9.6-2.9.1-1 .1-2 0-3.1.3 1 .6 2 .6 3.1 0 .5-.1 1.1-.1 1.6-.1.5-.2 1-.4 1.5-.6 2.1-1.9 4-3.6 5.2z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M416.4 347c1.1-1.8 2.1-3.5 2.7-5.4.3-.9.5-1.9.7-2.9.2-1 .1-2 .2-3.1.4 1 .7 2 .7 3.1.1.5 0 1.1-.1 1.6s-.2 1.1-.4 1.6c-.4 1-.9 2-1.5 2.9-.6.9-1.3 1.6-2.3 2.2z"></path></g>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M402.3 341.5c1.1-1.8 2.1-3.5 2.7-5.4.3-.9.5-1.9.7-2.9.2-1 .1-2 .2-3.1.4 1 .7 2 .7 3.1.1.5 0 1.1-.1 1.6s-.2 1.1-.4 1.6c-.4 1-.9 2-1.5 2.9-.6.9-1.4 1.7-2.3 2.2z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M412.4 344.7c.7-.8 1.2-1.7 1.7-2.6.5-.9.9-1.8 1.2-2.8.3-.9.5-1.9.6-2.9.1-1 .1-2 0-3.1.3 1 .6 2 .6 3.1 0 .5-.1 1.1-.1 1.6-.1.5-.2 1-.4 1.5-.6 2.1-1.9 3.9-3.6 5.2zM407.2 343.4c.7-.8 1.2-1.7 1.7-2.6.5-.9.9-1.8 1.2-2.8.3-.9.5-1.9.6-2.9.1-1 .1-2 0-3.1.3 1 .6 2 .6 3.1 0 .5-.1 1.1-.1 1.6-.1.5-.2 1-.4 1.5-.7 2.2-1.9 4-3.6 5.2zM395.4 338.8c.9-1.5 1.5-3.1 1.8-4.7.2-.8.3-1.7.2-2.5 0-.8-.1-1.7-.3-2.6.4.8.6 1.6.7 2.5.1.9.1 1.8-.1 2.7-.2.9-.5 1.7-.9 2.5-.3.8-.8 1.5-1.4 2.1zM390.6 339c.5-.9 1-1.8 1.3-2.7.4-.9.7-1.9.8-2.9.2-1 .3-2 .2-3 0-1-.2-2-.4-3 .5.9.9 1.9 1 3 .1.5.1 1.1.1 1.6s-.1 1.1-.2 1.6c-.3 1.9-1.3 3.9-2.8 5.4z"></path>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M385.9 338c.9-1.9 1.6-3.7 1.9-5.7.2-1 .3-1.9.3-2.9s-.1-2-.2-3c.6.9 1 1.9 1.2 3 .1.5.1 1.1.2 1.6 0 .5-.1 1.1-.2 1.6-.2 1.1-.6 2.1-1.1 3-.6.9-1.3 1.7-2.1 2.4z"></path></g>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M371.6 337.5c.9-1.9 1.6-3.7 1.9-5.7.2-1 .3-1.9.3-2.9s-.1-2-.2-3c.6.9 1 1.9 1.2 3 .1.5.1 1.1.2 1.6 0 .5-.1 1.1-.2 1.6-.2 1.1-.6 2.1-1.1 3-.6.9-1.2 1.8-2.1 2.4z"></path></g>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                  d="M379.7 337.3c.5-.9 1-1.8 1.3-2.7.4-.9.7-1.9.8-2.9.2-1 .3-2 .2-3 0-1-.2-2-.4-3 .5.9.9 1.9 1 3 .1.5.1 1.1.1 1.6s-.1 1.1-.2 1.6c-.3 2-1.3 4-2.8 5.4zM377.2 337.5c.5-.9 1-1.8 1.3-2.7.4-.9.7-1.9.8-2.9.2-1 .3-2 .2-3 0-1-.2-2-.4-3 .5.9.9 1.9 1 3 .1.5.1 1.1.1 1.6s-.1 1.1-.2 1.6c-.3 2-1.3 4-2.8 5.4z"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st0" d="M692.8 48.7c-1.2.1-2.3-.7-2.4-1.7l-.1-21.6c-.1-1 .9-1.9 2.1-2l13.2-.3c1.2-.1 2.3.7 2.4 1.7l2.1 20.9c.1 1-.9 1.1-2.1 1.2l-15.2 1.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st21"
                  d="M692.8 48.4c-1.2.1-2.3-.7-2.3-1.7l.6-21.2c-.1-1 .9-1.9 2.2-2l12.9.4c1.2-.1 2.3.7 2.3 1.7l1.6 20.9c.1 1-.9 1.9-2.2 2l-15.1-.1z"></path>
            <ellipse transform="rotate(-1.129 706.223 25.711)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="706.2"
                     cy="25.7" rx=".7" ry=".7"></ellipse>
            <ellipse transform="rotate(-1.129 703.878 25.566)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="703.9"
                     cy="25.6" rx=".5" ry=".5"></ellipse>
            <ellipse transform="rotate(-1.129 706.318 25.803)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="706.3"
                     cy="25.8" rx=".7" ry=".7"></ellipse>
            <ellipse transform="rotate(-1.129 703.974 25.659)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="704" cy="25.7"
                     rx=".5" ry=".5"></ellipse>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st21"
                  d="M697.2 47.9l-.6 7.1s4.8 0 4.8-.2c0-.3-.5-7.3-.5-7.3l-3.7.4z"></path>
            <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st22" d="M694.9 43.5l-.3-14.9c0-.6.5-1.1 1.1-1.1l6.9-.1c.6 0 1.1.5 1.1 1.1l.3 14.9c0 .6-.5 1.1-1.1 1.1l-6.9.1c-.5 0-1.1-.5-1.1-1.1z"></path>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st23"
                      d="M704.9 29l-11.2.2M705 30.9l-11.3.2M705 32.8l-11.2.3M705.1 34.8l-11.3.2M705.1 36.7l-11.3.2M705.1 38.6l-11.2.2M705.2 40.5l-11.3.3M705.2 42.5l-11.3.2"></path></g></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st0" d="M407.1 497.2c1.2-.1 2.3.7 2.4 1.7l.1 21.6c.1 1-.9 1.9-2.1 2l-13.2.3c-1.2.1-2.3-.7-2.4-1.7l-2.1-20.9c-.1-1 .9-1.1 2.1-1.2l15.2-1.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st21"
                  d="M407.1 497.5c1.2-.1 2.3.7 2.3 1.7l-.6 21.2c.1 1-.9 1.9-2.2 2l-12.9-.4c-1.2.1-2.3-.7-2.3-1.7l-1.6-20.9c-.1-1 .9-1.9 2.2-2l15.1.1z"></path>
            <ellipse transform="rotate(-1.129 393.694 520.196)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="393.7"
                     cy="520.2" rx=".7" ry=".7"></ellipse>
            <ellipse transform="rotate(-1.129 396.039 520.34)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="396"
                     cy="520.3" rx=".5" ry=".5"></ellipse>
            <ellipse transform="rotate(-1.129 393.599 520.108)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="393.6"
                     cy="520.1" rx=".7" ry=".7"></ellipse>
            <ellipse transform="rotate(-1.129 395.943 520.248)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st3" cx="395.9"
                     cy="520.2" rx=".5" ry=".5"></ellipse>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st21" d="M402.7 498l.6-7.1s-4.8 0-4.8.2c0 .3.5 7.3.5 7.3l3.7-.4z"></path>
            <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st22" d="M405 502.5l.3 14.9c0 .6-.5 1.1-1.1 1.1l-6.9.1c-.6 0-1.1-.5-1.1-1.1l-.3-14.9c0-.6.5-1.1 1.1-1.1l6.9-.1c.6-.1 1.1.4 1.1 1.1z"></path>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st23"
                      d="M395 516.9l11.2-.2M394.9 515l11.3-.2M394.9 513.1l11.3-.3M394.9 511.1l11.2-.2M394.8 509.2l11.3-.2M394.8 507.3l11.2-.2M394.7 505.4l11.3-.3M394.7 503.4l11.3-.2"></path></g></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1" d="M451.3 273.4H560v108.7H451.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st24" d="M451.4 273.4h10.8v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25" d="M469.6 382.1h-7.9l-3.8-108.7h11.7z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st26" d="M478 382.1h-10.8V273.4h14.2z"></path>
            <path transform="rotate(180 554.547 327.757)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st24"
                  d="M549.2 273.4H560v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25" d="M541.8 382.1h7.8l3.9-108.7h-11.7z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st26" d="M533.4 382.1h10.7V273.4H530z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st27" d="M509.6 382.1h-10.8l-2.9-108.7h16.6z"></path></g>
        <g><path transform="rotate(-180 505.625 219)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st28" d="M451.3 164.6H560v108.7H451.3z"></path>
            <path transform="rotate(-180 554.426 219)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M549 164.6h10.8v108.7H549z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29" d="M541.6 164.6h7.9l3.9 108.8h-11.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28" d="M533.3 164.6H544v108.8h-14.1z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7" d="M451.3 164.6h10.8v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29" d="M469.5 164.6h-7.9l-3.8 108.8h11.7z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28" d="M477.9 164.6h-10.8v108.8h14.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29" d="M501.7 164.6h10.8l2.9 108.8h-16.6z"></path></g>
        <g><path transform="rotate(-180 726.039 219)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st28" d="M671.7 164.6h108.7v108.7H671.7z"></path>
            <path transform="rotate(-180 774.84 219)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M769.5 164.6h10.8v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29" d="M762 164.6h7.9l3.9 108.8H762z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28" d="M753.7 164.6h10.7v108.8h-14.1z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7" d="M671.7 164.6h10.8v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29" d="M689.9 164.6H682l-3.8 108.8h11.7z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28" d="M698.3 164.6h-10.8v108.8h14.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29" d="M722.1 164.6h10.8l2.9 108.8h-16.6z"></path></g>
        <g><path transform="rotate(-90 615.782 108.738)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st28" d="M561.4 54.4h108.7v108.7H561.4z"></path>
            <path transform="rotate(-90 615.782 157.54)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M610.4 103.2h10.8v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29" d="M670.1 144.7v7.9l-108.7 3.9v-11.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28" d="M670.1 136.4v10.7H561.4V133z"></path>
            <path transform="rotate(90 615.782 59.817)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M610.4 5.5h10.8v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29" d="M670.1 72.6v-7.9l-108.7-3.8v11.7z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28" d="M670.1 81V70.2H561.4v14.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29" d="M670.1 104.8v10.8l-108.7 2.9v-16.6z"></path></g>
        <g><path transform="rotate(90 395.608 437.959)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st1" d="M341.2 383.6h108.7v108.7H341.2z"></path>
            <path transform="rotate(90 395.608 389.158)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st24"
                  d="M390.2 334.8H401v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25" d="M341.2 402v-7.9l108.8-3.9V402z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st26" d="M341.2 410.3v-10.7H450v14.1z"></path>
            <path transform="rotate(-90 395.608 486.88)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st24"
                  d="M390.2 432.5H401v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25" d="M341.2 474.1v7.9l108.8 3.8v-11.7z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st26" d="M341.2 465.7v10.8H450v-14.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st27" d="M341.2 441.9v-10.8l108.8-2.9v16.6z"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7" d="M341.2 382.2v111.6h-83.7c-15.4 0-27.9-10.6-27.9-23.9v-87.7h111.6z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29"
                  d="M341.2 382.2v105.4l-75.2 1.3c-14 0-25.4-9.6-25.4-21.7l-.3-84.9h100.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28"
                  d="M341.2 382.2v81.9l-63.7-3.1c-11.7 0-22.2-8.1-22.2-18.2l1.5-60.7h84.4z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29"
                  d="M341.2 382.2v66.9l-47.4.9c-8.7 0-15.8-6-15.8-13.5l.4-54.3h62.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M341.2 382.2v50.3l-38.9-1.8c-7.2 0-14.2-4.9-14.2-11.1l1.2-37.4h51.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28"
                  d="M341.2 382.2v33l-18.9.4c-3.8 0-6.8-3.1-6.8-7.1l-1.6-26.3h27.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st21" d="M341.2 382.2v10.9H333c-1.5 0-2.7-1-2.7-2.3v-8.6h10.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29"
                  d="M341.2 382.2v18.7h-12.7c-2.2 0-4.1-1.8-4.1-4l.5-14.7h16.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st30"
                  d="M341.2 382.2v9.5l-8.3-.4c-1.5 0-2.7-.9-2.7-2l.3-7.1h10.7z"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7" d="M449.9 382.2h111.6v83.7c0 15.4-10.6 27.9-23.9 27.9h-87.7V382.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29"
                  d="M449.9 382.2h105.4l1.3 75.2c0 14-9.6 25.4-21.7 25.4l-84.9.3V382.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28"
                  d="M449.9 382.2h81.9l-3.1 63.7c0 11.7-8.1 22.2-18.2 22.2l-60.7-1.5v-84.4z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29"
                  d="M449.9 382.2h66.9l.9 47.4c0 8.7-6 15.8-13.5 15.8l-54.3-.4v-62.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M449.9 382.2h50.3l-1.8 38.9c0 7.2-4.9 14.2-11.1 14.2l-37.4-1.2v-51.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28"
                  d="M449.9 382.2h33l.4 18.9c0 3.8-3.1 6.8-7.1 6.8l-26.3 1.6v-27.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st21" d="M449.9 382.2h10.9v8.2c0 1.5-1 2.7-2.3 2.7h-8.6v-10.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29"
                  d="M449.9 382.2h18.7v12.7c0 2.2-1.8 4.1-4 4.1l-14.7-.5v-16.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st30"
                  d="M449.9 382.2h9.5l-.4 8.3c0 1.5-.9 2.7-2 2.7l-7.1-.3v-10.7z"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1" d="M671.7 273.4h108.7v108.7H671.7z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st24" d="M671.9 273.4h10.8v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25" d="M690 273.4h-7.8l-3.9 108.7H690z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st26" d="M698.4 273.4h-10.8v108.7h14.2z"></path>
            <path transform="rotate(180 774.96 327.757)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st24"
                  d="M769.6 273.4h10.8v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25" d="M762.2 273.4h7.8l3.9 108.7h-11.7z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st26" d="M753.8 273.4h10.8v108.7h-14.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st27" d="M730 273.4h-10.8l-2.9 108.7h16.6z"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7" d="M781.8 382H670.2v83.7c0 15.4 10.6 27.9 23.9 27.9h87.7V382z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29"
                  d="M781.8 382H676.4l-1.3 75.2c0 14 9.6 25.4 21.7 25.4l84.9.3V382z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28"
                  d="M781.8 382h-81.9l3.1 63.7c0 11.7 8.1 22.2 18.2 22.2l60.7-1.5V382z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29"
                  d="M781.8 382h-66.9l-.9 47.4c0 8.7 6 15.8 13.5 15.8l54.3-.4V382z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st7"
                  d="M781.8 382h-50.3l1.8 38.9c0 7.2 4.9 14.2 11.1 14.2l37.4-1.2V382z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28"
                  d="M781.8 382h-33l-.4 18.9c0 3.8 3.1 6.8 7.1 6.8l26.3 1.6V382z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st21" d="M781.8 382h-10.9v8.2c0 1.5 1 2.7 2.3 2.7h8.6V382z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st29" d="M781.8 382h-18.7v12.7c0 2.2 1.8 4.1 4 4.1l14.7-.5V382z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st30" d="M781.8 382h-9.5l.4 8.3c0 1.5.9 2.7 2 2.7l7.1-.3V382z"></path></g>
        <g><defs><path id="TABLERO_NIVEL_2_RECORRIDO_svg__SVGID_1_" d="M444 1h353v92H444z"></path></defs>
            <clipPath id="TABLERO_NIVEL_2_RECORRIDO_svg__SVGID_2_"><use xlink:href="#TABLERO_NIVEL_2_RECORRIDO_svg__SVGID_1_" overflow="visible"></use></clipPath>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st31"><path d="M503.4 93.6s-54.1-77.6-31-119.1l-15.7-3.6S433.3 32 485.6 97.2l17.8-3.6z" fill="#abbac3"></path>
                <path d="M499.7 90.7s-45.2-66.2-31.4-109.4l-5.3-1s-14.5 48 24.8 114.7l11.9-4.3z" opacity=".29"
                      fill="#758188"></path>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st16"
                      d="M474.2-25.7l-.5 7.3-21.9-1.4 1.4-10zM504.2 86.9l8.3 15.6-24.9 9.8-7-16.5z"></path>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                      d="M467.1-16.4c-1-.4-2-.6-3-.8-1-.2-2-.3-3-.4-1 0-2 0-3 .2-1 .1-2 .4-3 .7.9-.5 1.8-1 2.9-1.3.5-.2 1-.2 1.6-.3.5 0 1.1-.1 1.6 0 2 .1 4.1.8 5.9 1.9zM467-13.2c-1-.4-2-.6-3-.8-1-.2-2-.3-3-.4-1 0-2 0-3 .2-1 .1-2 .4-3 .7.9-.5 1.8-1 2.9-1.3.5-.2 1-.2 1.6-.3.5 0 1.1-.1 1.6 0 2.1.1 4.2.7 5.9 1.9zM466.4-9.9c-1-.2-2.1-.3-3.1-.3s-2 0-3 .2c-1 .1-2 .4-3 .7-1 .3-1.9.8-2.8 1.2.8-.7 1.7-1.3 2.6-1.7l1.5-.6c.5-.1 1-.3 1.6-.3 2.1-.4 4.3-.1 6.2.8zM465.8-7.8c-1-.2-2.1-.3-3.1-.3s-2 0-3 .2c-1 .1-2 .4-3 .7-1 .3-1.9.8-2.8 1.2.8-.7 1.7-1.3 2.6-1.7l1.5-.6c.5-.1 1-.3 1.6-.3 2.1-.3 4.3 0 6.2.8zM465.9-3.3c-1.1 0-2.1.1-3.1.2s-2 .4-3 .7c-1 .3-1.9.7-2.8 1.2-.9.5-1.8 1.1-2.6 1.7.7-.8 1.4-1.6 2.4-2.1.4-.3.9-.5 1.4-.8l1.5-.6c1.9-.7 4.2-.8 6.2-.3z"></path>
                <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M465.7.7c-2.1.4-4.1.8-6 1.6-.9.3-1.9.7-2.7 1.2-.9.5-1.7 1-2.7 1.6.5-1 1.2-1.8 2.1-2.5.8-.7 1.8-1.3 2.9-1.6 1-.4 2.1-.6 3.2-.7 1.1-.1 2.2 0 3.2.4z"></path></g>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                      d="M464.4 7.5c-1-.1-2.1 0-3.1 0-1 .1-2 .2-3 .5-1 .2-1.9.6-2.9 1-.9.4-1.8.9-2.7 1.5.7-.8 1.5-1.5 2.4-2 .9-.5 1.9-.9 2.9-1.2 2.2-.5 4.4-.5 6.4.2zM466.6 12.2c-2.5-.2-4.9 0-7.2.6-1.2.3-2.3.7-3.4 1.3-1.1.5-2.1 1.2-3.1 1.9.8-.9 1.7-1.8 2.8-2.5.5-.4 1.1-.6 1.7-.9.6-.2 1.2-.5 1.8-.6 1.2-.3 2.5-.5 3.7-.5 1.3 0 2.6.2 3.7.7z"></path>
                <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M467.7 17.4c-2.5 0-4.9.3-7.1.9-1.1.3-2.2.7-3.3 1.2-1.1.5-2.1 1.1-3.2 1.7.7-1 1.6-2 2.7-2.7 1.1-.7 2.2-1.3 3.5-1.6 1.2-.3 2.5-.5 3.8-.4 1.2.1 2.4.4 3.6.9z"></path></g>
                <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M470.2 34.2c-2.5 0-4.9.3-7.1.9-1.1.3-2.2.7-3.3 1.2-1.1.5-2.1 1.1-3.2 1.7.7-1 1.6-2 2.7-2.7 1.1-.7 2.2-1.3 3.5-1.6 1.2-.3 2.5-.5 3.8-.4 1.1.1 2.4.4 3.6.9z"></path></g>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                      d="M467.6 22.7c-2.5-.2-4.9 0-7.2.6-1.2.3-2.3.7-3.4 1.3-1.1.5-2.1 1.2-3.1 1.9.8-.9 1.7-1.8 2.8-2.5.5-.4 1.1-.6 1.7-.9.6-.2 1.2-.5 1.8-.6 1.2-.3 2.5-.5 3.7-.5 1.3.1 2.6.3 3.7.7zM469.4 28.4c-2.5-.2-4.9 0-7.2.6-1.2.3-2.3.7-3.4 1.3-1.1.5-2.1 1.2-3.1 1.9.8-.9 1.7-1.8 2.8-2.5.5-.4 1.1-.6 1.7-.9.6-.2 1.2-.5 1.8-.6 1.2-.3 2.5-.5 3.7-.5 1.2.1 2.5.3 3.7.7zM471.4 42.4c-1 .1-2 .2-3 .4s-2 .5-2.9.9c-.9.4-1.8.8-2.7 1.4-.9.5-1.7 1.2-2.5 1.8.6-.8 1.3-1.7 2.2-2.3.4-.3.9-.6 1.3-.9.5-.2.9-.5 1.4-.7 2-.7 4.1-1 6.2-.6zM474.2 46.8c-2.5.2-4.8.6-7.1 1.6-1.1.4-2.2 1-3.2 1.7-1 .6-1.9 1.5-2.9 2.3.7-1 1.5-2 2.5-2.8.5-.4 1-.7 1.5-1.1.6-.3 1.1-.6 1.7-.8 1.2-.5 2.4-.8 3.6-.9 1.5-.3 2.7-.3 3.9 0z"></path>
                <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M476 51.9c-2.5.4-4.8.9-7 1.8-1.1.4-2.1 1-3.1 1.6-1 .6-2 1.4-3 2.1.6-1.1 1.4-2.2 2.3-3 1-.9 2.1-1.5 3.3-2 1.2-.5 2.4-.8 3.7-.9 1.3-.1 2.6 0 3.8.4z"></path></g>
                <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M483.6 65.6c-2.5.4-4.8.9-7 1.8-1.1.4-2.1 1-3.1 1.6-1 .6-2 1.4-3 2.1.6-1.1 1.4-2.2 2.3-3 1-.9 2.1-1.5 3.3-2 1.2-.5 2.4-.8 3.7-.9 1.3-.1 2.6 0 3.8.4z"></path></g>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                      d="M478.8 58.1c-2.5.2-4.8.6-7.1 1.6-1.1.4-2.2 1-3.2 1.7-1 .6-1.9 1.5-2.9 2.3.7-1 1.5-2 2.5-2.8.5-.4 1-.7 1.5-1.1.6-.3 1.1-.6 1.7-.8 1.2-.5 2.4-.8 3.6-.9 1.4-.3 2.7-.3 3.9 0zM480.5 60.4c-2.5.2-4.8.6-7.1 1.6-1.1.4-2.2 1-3.2 1.7-1 .6-1.9 1.5-2.9 2.3.7-1 1.5-2 2.5-2.8.5-.4 1-.7 1.5-1.1.6-.3 1.1-.6 1.7-.8 1.2-.5 2.4-.8 3.6-.9 1.4-.4 2.6-.3 3.9 0z"></path></g>
            <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st31"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st14" d="M729.3 79.6s58.7-59.5 45.1-99.2l14.1-.7s10.8 56.8-44.4 105.8l-14.8-5.9z"></path>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st15"
                      d="M733 77.7s49.2-50.9 43.9-90.6l4.7-.1s5.1 44.1-39.1 96.3l-9.5-5.6z"></path>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st16"
                      d="M772.9-20l-.7 6.4 19.1 2.2.3-9zM729.6 73.7L720.1 86l20 12.4 8.6-13.3z"></path>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                      d="M777.6-10.7c1.7-.8 3.6-1 5.4-.7.9.1 1.8.4 2.7.8.9.4 1.6.9 2.3 1.6-.8-.4-1.6-.8-2.5-1.1-.8-.3-1.7-.5-2.6-.6-.9-.1-1.8-.2-2.7-.1-.8-.2-1.7-.1-2.6.1zM777.2-8c1.7-.8 3.6-1 5.4-.7.9.1 1.8.4 2.7.8.9.4 1.6.9 2.3 1.6-.8-.4-1.6-.8-2.5-1.1-.8-.3-1.7-.5-2.6-.6-.9-.1-1.8-.2-2.7-.1-.8-.1-1.7-.1-2.6.1zM777.1-5.1c1.8-.5 3.7-.4 5.5.2.9.3 1.8.7 2.5 1.2.8.5 1.4 1.2 2 1.9-.7-.5-1.5-1.1-2.3-1.5-.8-.4-1.6-.8-2.5-1.1-.8-.3-1.7-.5-2.6-.6-.7 0-1.6-.1-2.6-.1zM777.4-3.1c1.8-.5 3.7-.4 5.5.2.9.3 1.8.7 2.5 1.2.8.5 1.4 1.2 2 1.9-.7-.5-1.5-1.1-2.3-1.5-.8-.4-1.6-.8-2.5-1.1-.8-.3-1.7-.5-2.6-.6-.8 0-1.7-.1-2.6-.1zM776.6.8c1.9-.2 3.8.3 5.4 1.1.8.4 1.6 1 2.3 1.6.7.6 1.2 1.4 1.7 2.2-.7-.7-1.3-1.3-2-1.9-.7-.6-1.5-1-2.3-1.5-.8-.4-1.6-.8-2.5-1-.8-.1-1.7-.3-2.6-.5z"></path>
                <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M776.1 4.4c.9-.2 1.9-.1 2.9.1.9.2 1.8.6 2.7 1.1.4.2.8.5 1.2.8.3.3.7.6 1 1 .6.7 1.1 1.6 1.4 2.5-.7-.6-1.4-1.3-2.1-1.8-.7-.5-1.4-1.1-2.2-1.5-1.5-.9-3.1-1.6-4.9-2.2z"></path></g>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                      d="M776.3 10.4c1.8-.3 3.7.1 5.4.8.8.4 1.7.9 2.3 1.5.7.6 1.3 1.3 1.8 2.1-.7-.6-1.3-1.2-2.1-1.7-.7-.5-1.5-1-2.3-1.3-.8-.4-1.6-.7-2.5-.9-.9-.2-1.7-.4-2.6-.5zM773.6 14.2c2.2-.4 4.4 0 6.4 1 1 .5 2 1.1 2.8 1.8.8.7 1.5 1.6 2 2.6-.8-.8-1.5-1.5-2.4-2.1-.8-.6-1.7-1.2-2.7-1.6-.9-.5-1.9-.8-3-1.1-1-.3-2-.5-3.1-.6z"></path>
                <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M771.9 18.6c1.1-.3 2.2-.3 3.3-.2 1.1.1 2.2.5 3.2.9.5.2 1 .5 1.5.8.4.4.9.7 1.3 1.1.8.8 1.5 1.7 1.9 2.7-.9-.7-1.6-1.4-2.5-2-.9-.6-1.7-1.1-2.7-1.5-1.9-.8-3.9-1.3-6-1.8z"></path></g>
                <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M767.1 32.9c1.1-.3 2.2-.3 3.3-.2 1.1.1 2.2.5 3.2.9.5.2 1 .5 1.5.8.4.4.9.7 1.3 1.1.8.8 1.5 1.7 1.9 2.7-.9-.7-1.6-1.4-2.5-2-.9-.6-1.7-1.1-2.7-1.5-1.8-.8-3.8-1.4-6-1.8z"></path></g>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                      d="M771.1 23.2c2.2-.4 4.4 0 6.4 1 1 .5 2 1.1 2.8 1.8.8.7 1.5 1.6 2 2.6-.8-.8-1.5-1.5-2.4-2.1-.8-.6-1.7-1.2-2.7-1.6-.9-.5-1.9-.8-3-1.1-1-.3-2-.5-3.1-.6zM768.7 28c2.2-.4 4.4 0 6.4 1 1 .5 2 1.1 2.8 1.8.8.7 1.5 1.6 2 2.6-.8-.8-1.5-1.5-2.4-2.1-.8-.6-1.7-1.2-2.7-1.6-.9-.5-1.9-.8-3-1.1-.9-.3-2-.5-3.1-.6zM764.8 39.9c1.8 0 3.7.6 5.3 1.5.8.5 1.5 1.1 2.1 1.8.6.7 1.1 1.5 1.5 2.3-.6-.7-1.2-1.4-1.8-2-.7-.6-1.4-1.1-2.1-1.6-.7-.5-1.5-.9-2.4-1.2-.9-.3-1.7-.6-2.6-.8zM761.7 43.3c2.2-.1 4.4.6 6.3 1.8.9.6 1.8 1.3 2.5 2.2.7.8 1.3 1.8 1.7 2.8-.7-.9-1.3-1.7-2.1-2.4s-1.6-1.4-2.5-2c-.9-.6-1.8-1.1-2.8-1.5-1-.3-2.1-.7-3.1-.9z"></path>
                <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M759.4 47.4c1.1-.2 2.2 0 3.3.3 1.1.3 2.1.7 3.1 1.3.5.3.9.7 1.4 1 .4.4.8.8 1.1 1.2.7.9 1.2 1.9 1.5 2.9-.8-.8-1.5-1.6-2.2-2.3-.8-.7-1.6-1.3-2.5-1.9-1.7-1-3.6-1.8-5.7-2.5z"></path></g>
                <g class="TABLERO_NIVEL_2_RECORRIDO_svg__st17"><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st18" d="M750.7 58.2c1.1-.2 2.2 0 3.3.3 1.1.3 2.1.7 3.1 1.3.5.3.9.7 1.4 1 .4.4.8.8 1.1 1.2.7.9 1.2 1.9 1.5 2.9-.8-.8-1.5-1.6-2.2-2.3-.8-.7-1.6-1.3-2.5-1.9-1.7-1-3.6-1.8-5.7-2.5z"></path></g>
                <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st4"
                      d="M756 52.4c2.2-.1 4.4.6 6.3 1.8.9.6 1.8 1.3 2.5 2.2.7.8 1.3 1.8 1.7 2.8-.7-.9-1.3-1.7-2.1-2.4s-1.6-1.4-2.5-2c-.9-.6-1.8-1.1-2.8-1.5-1.1-.3-2.1-.6-3.1-.9zM754.2 54.1c2.2-.1 4.4.6 6.3 1.8.9.6 1.8 1.3 2.5 2.2.7.8 1.3 1.8 1.7 2.8-.7-.9-1.3-1.7-2.1-2.4s-1.6-1.4-2.5-2c-.9-.6-1.8-1.1-2.8-1.5-1-.3-2-.6-3.1-.9z"></path></g></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st24" d="M561.4 164.5H449.8V80.8c0-15.4 10.6-27.9 23.9-27.9h87.7v111.6z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25"
                  d="M561.4 164.5H456l-1.3-75.2c0-14 9.6-25.4 21.7-25.4l84.9-.3v100.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1"
                  d="M561.4 164.5h-81.9l3.1-63.7c0-11.7 8.1-22.2 18.2-22.2l60.7 1.5v84.4z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st27"
                  d="M561.4 164.5h-66.9l-.9-47.4c0-8.7 6-15.8 13.5-15.8l54.3.4v62.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1"
                  d="M561.4 164.5h-50.3l1.8-38.9c0-7.2 4.9-14.2 11.1-14.2l37.4 1.2v51.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st26"
                  d="M561.4 164.5h-33l-.4-18.9c0-3.8 3.1-6.8 7.1-6.8l26.3-1.6v27.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st21" d="M561.4 164.5h-10.9v-8.2c0-1.5 1-2.7 2.3-2.7h8.6v10.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25"
                  d="M561.4 164.5h-18.7v-12.7c0-2.2 1.8-4.1 4-4.1l14.7.5v16.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st24"
                  d="M561.4 164.5h-9.5l.4-8.3c0-1.5.9-2.7 2-2.7l7.1.3v10.7z"></path></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st24" d="M670.2 164.5h111.6V80.8c0-15.4-10.6-27.9-23.9-27.9h-87.7v111.6z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25"
                  d="M670.2 164.5h105.4l1.3-75.2c0-14-9.6-25.4-21.7-25.4l-84.9-.3v100.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1"
                  d="M670.2 164.5h81.9l-3.1-63.7c0-11.7-8.1-22.2-18.2-22.2L670.2 80v84.5z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st27"
                  d="M670.2 164.5h66.9l.9-47.4c0-8.7-6-15.8-13.5-15.8l-54.3.4v62.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1"
                  d="M670.2 164.5h50.3l-1.8-38.9c0-7.2-4.9-14.2-11.1-14.2l-37.4 1.2v51.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st26"
                  d="M670.2 164.5h33l.4-18.9c0-3.8-3.1-6.8-7.1-6.8l-26.3-1.6v27.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st21" d="M670.2 164.5h10.9v-8.2c0-1.5-1-2.7-2.3-2.7h-8.6v10.9z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25"
                  d="M670.2 164.5h18.7v-12.7c0-2.2-1.8-4.1-4-4.1l-14.7.5v16.3z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st24" d="M670.2 164.5h9.5l-.4-8.3c0-1.5-.9-2.7-2-2.7l-7.1.3v10.7z"></path></g>
        <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st28" d="M339.8 273.4H231.1l-5.3-29.3h119.1z"></path>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1" d="M231 273.4h108.7v108.7H231z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st24" d="M231.2 273.4H242v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25" d="M249.3 382.1h-7.8l-3.9-108.7h11.7z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st26" d="M257.7 382.1H247V273.4h14.1z"></path>
            <path transform="rotate(180 334.277 327.757)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st24"
                  d="M328.9 273.4h10.8v108.7h-10.8z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st25" d="M321.5 382.1h7.9l3.8-108.7h-11.7z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st26" d="M313.1 382.1h10.8V273.4h-14.2z"></path>
            <path class="TABLERO_NIVEL_2_RECORRIDO_svg__st27" d="M289.3 382.1h-10.8l-2.9-108.7h16.6z"></path></g>
        <g><text transform="matrix(.9216 0 0 1 256.899 265.55)" class="TABLERO_NIVEL_2_RECORRIDO_svg__st4 TABLERO_NIVEL_2_RECORRIDO_svg__st34 TABLERO_NIVEL_2_RECORRIDO_svg__st35">SALIDA</text></g>
        <g><path class="TABLERO_NIVEL_2_RECORRIDO_svg__st1" d="M781.8 492.3V383.5l29.4-5.2v119z"></path>
            <text transform="matrix(0 .9216 -1 0 789.701 402.011)"
                  class="TABLERO_NIVEL_2_RECORRIDO_svg__st4 TABLERO_NIVEL_2_RECORRIDO_svg__st34 TABLERO_NIVEL_2_RECORRIDO_svg__st35">LLEGADA</text></g>
    </g>
    <foreignObject x="210" class="token" *ngFor="let player of gameService.players, let i = index" width="45" height="45" [ngStyle]="{'transform': 'translate(' + getXPosition(player.robot.id) + 'px ,' + getYPosition(player.robot.id) + 'px)'}">
        <xhtml:div style="height: 45px; width: 45px;">
            <app-token [color]="player.color" fxFlex="grow"></app-token>
        </xhtml:div>
    </foreignObject>
    <g id="roulette-start">
        <foreignObject x="210" y="95" width="150" height="150">
            <xhtml:div style="width: 150px; height: 150px">
                <app-roulette-start fxFlex="grow"></app-roulette-start>
            </xhtml:div>
        </foreignObject>
    </g>
</svg>
