.token {
  transform: translate(45px, 190px);
  transition: all linear 1s ;
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st0 {
  opacity: .28;
  fill: #58595b
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st1 {
  fill: #92278f
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st2 {
  fill: #ffd990
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st3 {
  opacity: .5;
  fill: #939598
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st4 {
  fill: #fff
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st5 {
  fill: none;
  stroke: #561e6d;
  stroke-width: .1657;
  stroke-miterlimit: 10
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st6 {
  opacity: .24;
  fill: #f5841f
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st7 {
  fill: #4f1864
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st10, .TABLERO_NIVEL_2_RECORRIDO_svg__st8, .TABLERO_NIVEL_2_RECORRIDO_svg__st9 {
  fill: none;
  stroke: #561e6d;
  stroke-width: .1711;
  stroke-miterlimit: 10
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st10, .TABLERO_NIVEL_2_RECORRIDO_svg__st9 {
  stroke-width: .1619
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st10 {
  stroke-width: .1227
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st11 {
  opacity: .6
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st12 {
  fill: #d8751b
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st13 {
  fill: #febe10
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st14 {
  fill: #8ea0aa
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st15 {
  opacity: .29;
  fill: #5c676e
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st16 {
  fill: #58595b
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st17 {
  opacity: .29
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st18 {
  fill: #758188
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st21 {
  fill: #561e6d
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st22 {
  fill: #a1a3a6
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st23 {
  fill: none;
  stroke: #561e6d;
  stroke-width: .4636;
  stroke-miterlimit: 10
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st24 {
  fill: #7c197a
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st25 {
  fill: #841e82
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st26 {
  fill: #862084
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st27 {
  fill: #963694
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st28 {
  fill: #511a67
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st29 {
  fill: #541c6a
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st30 {
  fill: #4a135e
}

.TABLERO_NIVEL_2_RECORRIDO_svg__st31 {
  clip-path: url(#TABLERO_NIVEL_2_RECORRIDO_svg__SVGID_2_)
}


.TABLERO_NIVEL_2_RECORRIDO_svg__st35 {
  font-size: 16.6371px
}
