<div fxFlex="grow" fxLayout="row" fxLayoutAlign="start" [ngClass]="'game-board-background-' + gameService.level">
  <div>
    <app-settings-button></app-settings-button>
  </div>
  <div class="full-width" fxlayout="row" fxFlex="grow">
    <app-board-level-one *ngIf="gameService.level === 1"  fxFlex="80"></app-board-level-one>
    <app-board-level-two *ngIf="gameService.level === 2"  fxFlex="80"></app-board-level-two>
    <app-board-level-three *ngIf="gameService.level === 3"  fxFlex="80"></app-board-level-three>
    <div fxLayout="column" fxFlex="20">
      <div fxLayout="column" fxFlex="80">
        <app-game-card-player *ngIf="!gameService.gameEnd" [routerLink]="'/roulette'" (click)="audioService.playClick()" [data]="gameService.players[gameService.currentTurn.answer]"></app-game-card-player>
      </div>
      <app-trolley *ngIf="gameService.gameEnd" [robotId]="gameService.winner.robot.id" [level]="gameService.level"></app-trolley>


    </div>
  </div>


</div>
<app-back-button *ngIf="gameService.showBackButton" style="position: absolute; bottom: 0; left: 0; z-index: 3;" [backUrl]="'/selectPlayers'"></app-back-button>
