.player {
  transition: 1s linear all;
}

.game-board-background-1 {
  background: url("../../../assets/images/backgrounds/boards/background-board-level-1.svg") center center no-repeat;
  background-size: cover;
}

.game-board-background-2 {
  background: url("../../../assets/images/backgrounds/boards/background-board-level-2.svg") center center no-repeat;
  background-size: cover;
}

.game-board-background-3 {
  background: url("../../../assets/images/backgrounds/boards/background-board-level-3.svg") center center no-repeat;
  background-size: cover;
}
