<svg (click)="goBack()" xmlns="http://www.w3.org/2000/svg" style="height: 7vmax" viewBox="0 0 72.3 66">
  <path d="M11.6 4.1c-4.5-.4-6.5 2.2-6.7 5.7l.9 40c-.3 3.5 1.3 6.6 5.7 6.9l41.9 5.4c4.5.3 8.3-2.2 8.6-5.7l5.9-41.7c.3-3.5-3.2-6.6-7.6-6.9L11.6 4.1z"
        style="opacity:.3;fill:gray"></path>
  <path d="M61.3 5.9c4.3-.3 6.2 2.2 6.5 5.5l-.9 38.8c.3 3.4-1.3 6.4-5.6 6.7l-40.6 5.3c-4.3.3-8.1-2.2-8.3-5.5L6.7 16.1c-.3-3.4 3.1-6.4 7.4-6.7l47.2-3.5z" style="fill:#0092c8"></path>
  <path d="M46.1 22.4l-8.2 11.5 7.8 11c.3.4.6.8.8 1.1.2.3.4.7.6 1 .1.4.2.8.2 1.1 0 .9-.4 1.6-1.2 2.2-.8.6-1.7.9-2.8.9-1.6 0-3.3-1-4.8-3.1l-8-10.5c-1.2-1.6-1.9-2.9-1.9-3.9 0-.8.6-2 1.9-3.6L38.1 20c1-1.4 1.9-2.3 2.7-2.8.8-.5 1.6-.8 2.5-.8 1.2 0 2.1.3 2.9 1 .8.6 1.2 1.4 1.2 2.3-.1.8-.5 1.7-1.3 2.7z" style="fill:#0081b2"></path>
  <path d="M44.1 21.4l-8.2 11.5 7.8 11c.3.4.6.8.8 1.1.2.3.4.7.6 1 .1.4.2.8.2 1.1 0 .9-.4 1.6-1.2 2.2-.8.6-1.7.9-2.8.9-1.6 0-3.3-1-4.8-3.1l-8-10.5c-1.2-1.6-1.9-2.9-1.9-3.9 0-.8.6-2 1.9-3.6L36.1 19c1-1.4 1.9-2.3 2.7-2.8.8-.5 1.6-.8 2.5-.8 1.2 0 2.1.3 2.9 1 .8.6 1.2 1.4 1.2 2.3-.1.8-.5 1.7-1.3 2.7z" style="fill:#fff"></path>
</svg>
