.level1 {
  .st1{display:inline}
  .st19{fill:#fff}
}
.level2 {
  .st1 {
    clip-path: url(#clip-path-token-4-level-2);
    fill: #002e6e
  }
}
.level3 {
  .st1 {
    clip-path: url(#clip-path-token-4-level-3);
    fill: #990a64
  }
}
