<svg *ngIf="gameService.level === 1" xmlns="http://www.w3.org/2000/svg" class="level1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 46.2 49">

    <g id="Layer_4">
        <ellipse transform="rotate(-54.639 23.167 23.726)" class="st19" cx="23.2" cy="23.7" rx="19.8" ry="19.8"></ellipse>
        <defs>
            <ellipse id="ellipse-path-token-4-level-1" transform="rotate(-58.352 23.165 23.724)" cx="23.2" cy="23.7" rx="17.9" ry="17.9"></ellipse>
        </defs>
        <use xlink:href="#ellipse-path-token-4-level-1" overflow="visible" fill="#00babb"></use>
        <clipPath id="clip-path-token-4-level-1">
            <use xlink:href="#ellipse-path-token-4-level-1" overflow="visible"></use>
        </clipPath>
        <ellipse transform="rotate(-58.352 23.165 23.724)" cx="23.2" cy="23.7" rx="17.9" ry="17.9"
                 clip-path="url(#clip-path-token-4-level-1)" fill="#008384"></ellipse>
        <ellipse transform="rotate(-58.352 21.346 24.156)" cx="21.3" cy="24.2" rx="16.6" ry="16.6"
                 clip-path="url(#clip-path-token-4-level-1)" fill="#00babb"></ellipse>
        <path clip-path="url(#clip-path-token-4-level-1)" fill="none" stroke="#008384" stroke-width="4.666" stroke-miterlimit="10"
              d="M24.9 4.5l-4.7 39.1"></path>
    </g>
</svg>

<svg *ngIf="gameService.level === 2" class="level2"   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
     y="0" viewBox="0 0 46.5 47" >
    <circle cx="23.9" cy="23.2" r="19.8" fill="#fff"></circle>
    <defs><ellipse id="ellipse-token-4-level-2" transform="rotate(-7.134 23.871 23.206)" cx="23.9" cy="23.2" rx="17.9" ry="17.9"></ellipse></defs>
    <use xlink:href="#ellipse-token-4-level-2" overflow="visible" fill="#034ea2"></use>
    <clipPath id="clip-path-token-4-level-2"><use xlink:href="#ellipse-token-4-level-2" overflow="visible"></use></clipPath>
    <ellipse transform="rotate(-7.134 23.871 23.206)" class="st1" cx="23.9" cy="23.2" rx="17.9" ry="17.9"></ellipse>
    <ellipse transform="rotate(-7.134 25.019 21.73)" cx="25" cy="21.7" rx="16.6" ry="16.6" clip-path="url(#clip-path-token-4-level-2)"
             fill="#034ea2"></ellipse>
    <path transform="rotate(-31.875 24.109 22.553)" class="st1" d="M21.8 2.9h4.7v39.4h-4.7z"></path></svg>

<svg *ngIf="gameService.level === 3" class="level3"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
     y="0" viewBox="0 0 46.5 47">
    <circle cx="23.4" cy="23.2" r="19.8" fill="#fff"></circle>
    <defs><ellipse id="ellipse-token-4-level-3" transform="rotate(-7.134 23.371 23.205)" cx="23.4" cy="23.2" rx="17.9" ry="17.9"></ellipse></defs>
    <use xlink:href="#ellipse-token-4-level-3" overflow="visible" fill="#034ea2"></use>
    <clipPath id="clip-path-token-4-level-3"><use xlink:href="#ellipse-token-4-level-3" overflow="visible"></use></clipPath>
    <ellipse transform="rotate(-7.134 23.371 23.205)" class="st1" cx="23.4" cy="23.2" rx="17.9" ry="17.9"></ellipse>
    <ellipse transform="rotate(-7.134 24.519 21.729)" cx="24.5" cy="21.7" rx="16.6" ry="16.6" clip-path="url(#clip-path-token-4-level-3)"
             fill="#c01c7d"></ellipse>
    <path transform="rotate(-31.875 23.608 22.553)" class="st1" d="M21.3 2.9H26v39.4h-4.7z"></path></svg>
