@import "../../../../variables";
:host {
  display: flex;
  flex: 1 1 100%;
  height: 100%; margin: 0; min-height: 100%; min-width: 100%; width: 100%;
}

.st0{fill:#f49ac1}
.phrase-text {
  font-weight: 500;
  color: $gray-color !important;
}
.option-text {
  font-weight: 600;
  color: $gray-color !important;
}

.app-card-texts {
  overflow: auto; max-height: 500px; font-size: 23px;
  padding-left: 3%;
  padding-right: 3%;
  overflow-y: hidden;
}
.title {
  color: $fuchsia-category;
}


.text-level-1 {
  font-size: 28px;
}
.text-level-2 {
  font-size: 23px;
}
.guessword-title {
  font-weight: 600;
  color: $gray-color !important;
  text-decoration: underline;
}
