<div fxFlex="grow" fxLayout="column" >
  <div fxLayout="column" fxLayoutAlign="space-between" fxFlex="75" class="full-width"  >
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
      <svg width="10%" height="80%">
        <path class="st0"
              d="M41.4 32.1c-1.8 0-3.5-.3-5.1-1-3.2-1.4-5.8-3.9-7.1-7.2-1.3-3.3-1.3-6.8.1-10.1 2.1-4.9 6.8-8.1 12.1-8.1 1.8 0 3.5.3 5.1 1 6.7 2.8 9.9 10.6 7 17.3-2 4.9-6.8 8.1-12.1 8.1zm0-24.2c-4.4 0-8.4 2.6-10.1 6.7-1.1 2.7-1.2 5.7 0 8.4 1.1 2.7 3.2 4.8 5.9 6 1.4.6 2.8.9 4.3.9 4.4 0 8.4-2.6 10.1-6.7 2.4-5.6-.3-12-5.9-14.4-1.4-.6-2.9-.9-4.3-.9z"></path>
        <path class="st0"
              d="M31.1 23.3s-26.2 8.8-23 15.6C11.3 45.8 32.7 26 32.7 26M36.6 27.1c-.2 0-.4-.1-.6-.2-2.7-2.8-3.9-5.7-3.7-8.7.4-4.8 4.5-7.9 4.6-8 .4-.3.8-.2 1.1.2.3.4.2.8-.2 1.1 0 0-3.7 2.8-4 6.9-.2 2.5.9 5 3.3 7.4.3.3.3.8 0 1.1-.1.2-.3.2-.5.2z"></path>

      </svg>
      <div class="title nunito"  [minFontSize]="22" [maxFontSize]="45" fittext>
        {{card.cardName | uppercase}}
      </div>
    </div>

    <div fxFlex="80" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="3%" class="app-card-texts" [ngClass]="'text-level-' + card.level" >

      <div fxLayout="column" fxLayoutGap="1%">
        <span class="guessword-title" *ngIf="card.level < 3">Pistas:</span>
        <span class="guessword-title" *ngIf="card.level === 3">¿Cuál es el objeto que se relaciona con estas palabras?</span>

        <span class="phrase-text" *ngFor="let line of card.inititalTexts, let i = index"> {{i + 1}} - {{line}}</span>
      </div>
      <div class="full-width" *ngIf="card.level < 3 && cardService.shoeExtraTexts.value" fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="start start" >
        <span class="guessword-title">Más pistas:</span>
        <span *ngFor="let extra of card.extraTexts, let i = index" class="option-text" >{{i + 1 + card.inititalTexts.length}} -  {{extra}}</span>

      </div>
      <div class="full-width" *ngIf="card.level === 3 && cardService.shoeExtraTexts.value" fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="start start" >
        <span *ngIf="card.extraTexts.length > 1" class="guessword-title">Opciones:</span>
        <span *ngIf="card.extraTexts.length === 1" class="guessword-title">Ayuda:</span>
        <div class="full-width" fxLayout="row" fxLayoutAlign="space-evenly center">
          <span *ngFor="let extra of card.extraTexts, let i = index" class="option-text" >{{extra}}</span>

        </div>

      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlex="25" fxLayoutAlign="start" [fxLayoutGap]="card.level === 3 ? '2.5%' : '5%'">
    <app-answer-button [cardColor]="'#ec008c'" [answer]="cardService.currentCard.answer" [fxFlex]="card.level === 3 ? '60' : '50'"></app-answer-button>
    <ng-container *ngIf="cardService.currentAnswerIsViewed">
      <app-correct-button (click)="correctAnswer()" fxFlex="10"></app-correct-button>
      <app-options-button (click)="onClickOptions()" *ngIf="!cardService.shoeExtraTexts.value &&
                cardService.currentCard.extraTexts && cardService.currentCard.extraTexts.length > 0" fxFlex="25"></app-options-button>
      <app-wrong-button (click)="wrongAnswer()" *ngIf="cardService.shoeExtraTexts.value || !cardService.currentCard.extraTexts
    || cardService.currentCard.extraTexts.length === 0 " fxFlex="10"></app-wrong-button>
    </ng-container>

  </div>

</div>
