<div fxFill fxLayout="row" fxLayoutAlign="center center">
  <svg class="full-width" xmlns="http://www.w3.org/2000/svg" viewBox="10 10 75 75">
    <path d="M62.6 81.8H30.1c-9.4 0-17-7.7-17-17V32.3c0-9.4 7.7-17 17-17h32.5c9.4 0 17 7.7 17 17v32.5c0 9.4-7.6 17-17 17z"
          fill="#d1d3d4"></path>
    <path d="M64.5 79H31.9c-9.4 0-17-7.7-17-17V29.5c0-9.4 7.7-17 17-17h32.5c9.4 0 17 7.7 17 17V62c.1 9.4-7.6 17-16.9 17z"
          fill="#ed145b"></path>
    <path d="M38.1 40.4l7.1 17.4 12-26.8c.8-1.9 1.5-3.3 2.3-4.1.7-.8 1.9-1.2 3.4-1.2 1.4 0 2.6.4 3.6 1.3s1.5 1.9 1.5 3c0 .4-.1 1-.3 1.5-.2.6-.4 1.1-.6 1.7-.2.5-.5 1.1-.8 1.8l-13 26.9c-.3.7-.7 1.6-1.2 2.6-.5 1.1-1 2-1.6 2.7-.6.7-1.3 1.3-2.2 1.8-.9.4-1.9.6-3.1.6-1.6 0-2.9-.3-3.8-1s-1.6-1.4-2.1-2.1c-.5-.8-1.2-2.3-2.3-4.6l-8.7-18.2c-.2-.6-.5-1.2-.8-1.8-.3-.6-.5-1.2-.7-1.8-.2-.6-.3-1.1-.3-1.6 0-.7.2-1.4.7-2 .5-.7 1.1-1.2 1.9-1.7.8-.4 1.7-.6 2.7-.6 1.9 0 3.1.5 3.8 1.4.9.9 1.6 2.5 2.5 4.8z"
          fill="#b80545"></path>
    <path d="M39 38.5l7.1 17.4 12-26.8c.8-1.9 1.5-3.3 2.3-4.1.7-.8 1.9-1.2 3.4-1.2 1.4 0 2.6.4 3.6 1.3s1.5 1.9 1.5 3c0 .4-.1 1-.3 1.5-.2.6-.4 1.1-.6 1.7-.2.5-.5 1.1-.8 1.8L54.2 60c-.3.7-.7 1.6-1.2 2.6-.5 1.1-1 2-1.6 2.7-.6.7-1.3 1.3-2.2 1.8-.9.4-1.9.6-3.1.6-1.6 0-2.9-.3-3.8-1-.9-.7-1.6-1.4-2.1-2.1-.5-.8-1.2-2.3-2.3-4.6l-8.7-18.2c-.2-.6-.5-1.2-.8-1.8-.3-.6-.5-1.2-.7-1.8-.2-.6-.3-1.1-.3-1.6 0-.7.2-1.4.7-2 .5-.7 1.1-1.2 1.9-1.7.8-.4 1.7-.6 2.7-.6 1.9 0 3.1.5 3.8 1.4.9.9 1.7 2.5 2.5 4.8z"
          fill="#fff"></path>
  </svg>

</div>
