<video (ended)="goBack()" #videoElement [autoplay]="true" [src]="'assets/videos/Tutorial_Comprimido.mp4'" fxFlex="grow" controls="seeking"
       controlsList="play nofullscreen hidefullscreen nodownload novolume" looped preload="auto"></video>
<!--
<ion-button  (click)="goBack()">Continuar</ion-button>
-->
<svg (click)="goBack()" style="position: absolute; right: 5px; bottom: 18px; width: 15%; min-width: 100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 163.4 77.7">
    <path d="M146 8.2c4.5-.3 6.4 2.2 6.7 5.7l-.9 40c.3 3.5-1.3 6.6-5.7 6.9L22.4 66.2c-4.5.3-8.3-2.2-8.6-5.7L7.9 18.8c-.3-3.5 3.2-6.6 7.6-6.9L146 8.2z"
          fill="#741472"/>
    <path d="M14.5 10c-4.3-.3-6.2 2.2-6.5 5.5l.9 38.8c-.3 3.4 1.3 6.4 5.6 6.7l122.4 5.3c4.3.3 8.1-2.2 8.3-5.5l5.7-40.5c.3-3.4-3.1-6.4-7.4-6.7L14.5 10z"
          fill="#0092c8"/>
    <text transform="translate(15.803 43.905)" font-size="18" font-family="FiraSans-Medium" fill="#fff">SALTEAR VIDEO
    </text>
</svg>
