.answer-text-height {
  min-height: 100%;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;

}
.answer-text {
  color: white;
  font-weight: 500;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}
.st0{fill:#6d6e71}
