<div fxLayout="column" fxFlex="grow" style="margin: 10px 5px" fxLayoutGap="4px">
  <div fxFlex="grow" [style.background-color]="cardColor" style="border-radius: 10px; box-shadow: lightgray -3px 3px">
    <div  class="full-width answer-text-height" style="position: relative">
      <div [ngStyle]="{'opacity': show ? '1' : '0'}" style="position: absolute" class="answer-text"  [minFontSize]="18" [maxFontSize]="30" fittext>
        {{ answer}}
      </div>
      <div  fxFlex="grow" fxLayoutAlign="column" [ngStyle]="{'opacity': show ? '0' : '1'}" class="answer-text" style="position: absolute" [minFontSize]="22" [maxFontSize]="40" fittext>
        RESPUESTA
      </div>

    </div>
  </div>
  <span style="font-size: 16px; color: gray">Solo mira la respuesta el que lee</span>
</div>
