<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260.5 94.3">
    <text transform="translate(26.3867 54.5462)" font-size="31" fill="#6d6e71">Sonido
    </text>
    <path d="M236.7 21.6c4.2.4 5.6 3.2 5.2 6.6l-7.4 38.5c-.3 3.4-2.3 6.2-6.4 5.8l-39.5-1.6c-4.2-.4-7.3-3.5-7-6.9l1.4-41.3c.3-3.4 4-5.8 8.2-5.4l45.5 4.3z"
          fill="#741472"></path>
    <path class="st4"
          d="M224.8 56.5h-.2c-.3-.1-.4-.4-.3-.6 2.6-11.1-1.5-19.5-5.3-24.6-.2-.2-.1-.5.1-.7.2-.2.5-.1.7.1 3.3 4.3 8.3 13.4 5.5 25.5-.2.1-.3.2-.5.3z"></path>
    <path class="st4"
          d="M227.8 59h-.3c-.2-.1-.4-.4-.3-.7 6.7-19.3-7.6-31.6-7.7-31.7-.2-.2-.3-.5-.1-.7.2-.2.5-.3.7-.1.2.1 15 12.9 8 32.9 0 .1-.2.3-.3.3zM197.9 45.3L212.1 28s14.7 12.4 7.9 32.3l-20-6.4-2.1-8.6z"></path>
    <path transform="rotate(-13.663 196.15495304 50.24327199)" class="st4" d="M192.1 45.9h8.1v8.7h-8.1z"></path>
    <path *ngIf="!settings.onChangeSfx.value" d="M230.2 61.2c-.1-.1-.2-.1-.3-.2l-37.4-28.9c-.9-.7-1-1.9-.4-2.8.7-.9 1.9-1 2.8-.4l37.4 28.9c.9.7 1 1.9.4 2.8-.6.8-1.7 1-2.5.6z"
          fill="#ffe28c"></path>
</svg>
