#free-game {
  :hover {
    cursor: pointer;
  }
}
#complete-game {
  :hover {
    cursor: pointer;
  }
}

.st0 {
  fill: none;
  stroke: #c4c6c8;
  stroke-width: 1.8109;
  stroke-miterlimit: 10
}

.st1 {
  fill: #7a1878
}

.st3 {
  opacity: .3
}

.st4 {
  fill: #58595b
}

.st5 {
  fill: #fff
}

.st8 {
  fill: #b1b3b6
}

.st9 {
  opacity: .29;
  fill: #848689
}

.st10 {
  fill: #48484a
}

.st11 {
  fill: #c7c8ca
}

.st12 {
  fill: #848689
}

.st18, .st19 {
  fill: #782b90;
  stroke: #782b90;
  stroke-width: 3.0957;
  stroke-miterlimit: 10
}

.st19 {
  fill: #92278f;
  stroke: #92278f
}

.st20 {
  fill: #e6e7e8
}

.st21, .st23, .st24, .st25 {
  fill: none;
  stroke: #92278f;
  stroke-width: 1.0319;
  stroke-miterlimit: 10
}

.st23, .st24, .st25 {
  fill: #009a9a;
  stroke: #009a9a;
  stroke-width: 3.0957
}

.st24, .st25 {
  fill: #00babb;
  stroke: #00babb
}

.st25 {
  stroke-width: 1.0319
}

.st27, .st28, .st29, .st30, .st33 {
  fill: #00aeef;
  stroke: #00aeef;
  stroke-width: 3.0957;
  stroke-miterlimit: 10
}

.st28, .st29, .st30, .st33 {
  fill: none;
  stroke-width: 1.0319
}

.st29, .st30, .st33 {
  fill: #8dc63f;
  stroke: #8dc63f;
  stroke-width: 3.0957
}

.st30, .st33 {
  fill: #f99d1c;
  stroke: #f99d1c
}

.st33 {
  fill: #fdb714;
  stroke: #fdb714;
  stroke-width: 1.0319
}

.st34, .st35, .st37, .st42, .st44 {
  fill: #bfd730;
  stroke: #bfd730;
  stroke-width: 3.0957;
  stroke-miterlimit: 10
}

.st35, .st37, .st42, .st44 {
  stroke-width: 1.0319
}

.st37, .st42, .st44 {
  fill: #bf1c7e;
  stroke: #bf1c7e;
  stroke-width: 3.0957
}

.st42, .st44 {
  fill: #f04c23;
  stroke: #f04c23
}

.st44 {
  fill: #f47d20;
  stroke: #f47d20;
  stroke-width: 1.0319
}
