<div fxFlex="grow" fxLayout="column" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <svg fxFlex="grow" (click)="clickLevel.next()" id="SELECCION_PANEL_2_svg__Layer_1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0"
         viewBox="0 0 208.6 445.8" xml:space="preserve">
        <g ><path d="M178.2-17.5c-27.6 28.4-68 78.8-67 129.3 1 55.2 18.4 132.5 22.3 142.5l-14.3-1.8s-25.9-78.3-33.5-137.4c-3.9-29.9 5.1-101.3 41.4-142.3 0 0 21.9 3.7 51.1 9.7z" fill="#a7a9ac"></path>
            <path d="M170.7-11.2c-27.2 28.3-61.5 73.7-61.3 122.4.3 69.8 21.4 122 22.4 127.7l-9.8 1.4s-20.7-65.8-21.8-127.5c-.5-26.7 5.8-80.5 47.1-129.5 4.4 1 10.2.9 23.4 5.5z"
                  fill="#808285"></path>
            <path class="SELECCION_PANEL_2_svg__st3"
                  d="M112.5 87.1c-1.6 1.1-3.4 1.8-5.3 2.3s-3.8.7-5.8.7c-1 0-2-.1-2.9-.3-.5-.1-1-.2-1.4-.3-.2-.1-.5-.1-.7-.2l-.7-.3c-1.9-.6-3.5-1.7-5-2.9 1.8.7 3.5 1.5 5.3 1.9s3.6.7 5.5.7c3.7.1 7.4-.5 11-1.6zM112.3 80.5c-1.8.8-3.7 1.2-5.6 1.3-1.9.2-3.9 0-5.8-.4-1-.2-1.9-.5-2.8-.8-.9-.4-1.8-.7-2.6-1.3-1.7-.9-3.2-2.3-4.4-3.7 1.6 1 3.2 2.1 4.9 2.8.8.4 1.7.7 2.6 1 .9.2 1.8.6 2.7.7 3.4.8 7.2.8 11 .4z"></path>
            <path class="SELECCION_PANEL_2_svg__st4"
                  d="M115.2 67.1c-1.8.7-3.8.8-5.8.7-2-.1-3.9-.6-5.8-1.4-1.8-.8-3.5-1.9-4.9-3.3-1.4-1.4-2.5-3.1-3.3-4.9 1.5 1.3 2.8 2.5 4.3 3.6.7.5 1.5 1 2.3 1.5.8.4 1.6.9 2.4 1.2 1.6.7 3.4 1.3 5.1 1.8 1.9.3 3.7.6 5.7.8z"></path>
            <path class="SELECCION_PANEL_2_svg__st3"
                  d="M117.3 55.8c-1.9.3-3.9.2-5.8-.1s-3.8-1-5.6-1.8c-.9-.4-1.7-1-2.6-1.5-.8-.6-1.6-1.2-2.3-1.9-1.4-1.3-2.6-3-3.5-4.7 1.4 1.4 2.7 2.8 4.2 3.9 1.5 1.2 3 2.2 4.7 3 3.4 1.6 7 2.6 10.9 3.1zM123.4 47.1c-2.3.5-4.7.4-7 0s-4.6-1.2-6.7-2.2l-.8-.4-.7-.5c-.5-.3-1-.6-1.5-1-.9-.8-1.9-1.5-2.6-2.4-1.7-1.7-2.9-3.7-3.9-5.8.8.8 1.5 1.7 2.3 2.5s1.6 1.6 2.5 2.3c1.7 1.5 3.5 2.7 5.5 3.7s4 1.8 6.2 2.5c2.1.7 4.4 1.1 6.7 1.3z"></path>
            <path class="SELECCION_PANEL_2_svg__st4"
                  d="M127.1 36.5c-2.4.4-4.9.3-7.3-.2-2.4-.4-4.7-1.3-6.9-2.5-1.1-.6-2.1-1.3-3.1-2-.9-.8-1.9-1.5-2.7-2.5-1.7-1.7-3-3.9-4-6.1 1.7 1.7 3.3 3.5 5.1 4.9 1.8 1.5 3.7 2.7 5.7 3.8s4.1 2 6.3 2.7c2.2.8 4.5 1.4 6.9 1.9zM144.3 9.8c-3 0-5.9-.6-8.8-1.4-2.9-.8-5.7-2-8.3-3.4-.7-.4-1.3-.7-2-1.1l-1.9-1.2c-.6-.4-1.2-.9-1.8-1.4s-1.2-.9-1.7-1.5c-.5-.5-1.1-1-1.6-1.6l-1.5-1.7-.6-.7-.7-1c-.4-.6-.8-1.3-1.2-1.9.6.5 1.1 1 1.6 1.5l.8.8.9.7 1.7 1.4c.6.4 1.2.9 1.7 1.3 2.3 1.7 4.7 3.3 7.3 4.6 2.5 1.4 5.2 2.6 7.8 3.7 2.8 1 5.5 2 8.3 2.9z"></path>
            <path class="SELECCION_PANEL_2_svg__st3"
                  d="M132.9 27.8c-2.7.4-5.5.2-8.2-.4s-5.3-1.7-7.7-3.2c-.6-.4-1.2-.7-1.7-1.2l-1.6-1.4c-.5-.5-.9-1-1.4-1.6-.2-.3-.5-.5-.7-.8l-.6-.9c-1.6-2.3-2.5-5-3.1-7.6 1.2 2.4 2.4 4.9 4.1 6.9.8 1.1 1.8 1.9 2.7 2.9l1.5 1.2c.5.4 1.1.7 1.6 1.1 2.2 1.4 4.6 2.5 7.2 3.3 2.5.8 5.1 1.3 7.9 1.7zM137.4 20.2c-2.6-.1-5.3-.6-7.8-1.4s-5-1.9-7.3-3.2-4.5-3-6.3-4.9l-1.4-1.5c-.4-.5-.8-1.1-1.2-1.6l-.6-.8-.5-.9c-.3-.6-.6-1.2-.9-1.7 1.8 2 3.5 3.9 5.5 5.5s4 3.1 6.3 4.4c4.4 2.6 9.2 4.6 14.2 6.1z"></path>
            <g><path class="SELECCION_PANEL_2_svg__st3" d="M112.5 153.3c-.6 1.1-1.5 2-2.4 2.8s-2 1.5-3.2 2c-.6.3-1.2.4-1.8.6-.6.1-1.2.3-1.9.3-1.2.2-2.5 0-3.7-.3 1.2-.1 2.4-.1 3.6-.4 1.2-.2 2.3-.6 3.4-1.1 2.2-.8 4.2-2.2 6-3.9zM110.5 149.6c-.8.9-1.8 1.7-2.9 2.3s-2.3 1.1-3.5 1.4c-.6.2-1.2.2-1.9.3-.6 0-1.3.1-1.9 0-1.3-.1-2.5-.5-3.6-1 1.2.2 2.4.3 3.6.3s2.4-.1 3.5-.4c2.5-.6 4.6-1.6 6.7-2.9z"></path>
                <path class="SELECCION_PANEL_2_svg__st4"
                      d="M108.6 141.1c-.9.9-2 1.5-3.2 2s-2.4.7-3.7.7-2.6-.2-3.8-.6c-1.2-.4-2.3-1.1-3.2-1.9 1.2.3 2.3.7 3.5.9 1.1.2 2.3.3 3.4.3 2.3-.1 4.6-.7 7-1.4z"></path>
                <path class="SELECCION_PANEL_2_svg__st3"
                      d="M106.7 133.9c-1 .7-2.2 1.2-3.4 1.5s-2.5.5-3.7.5c-.6 0-1.3-.1-1.9-.2-.6-.1-1.2-.2-1.8-.5-1.2-.4-2.3-1-3.3-1.8 1.2.4 2.3.9 3.5 1.1 1.2.3 2.4.4 3.6.4 2.2.2 4.6-.2 7-1zM107.9 127.3c-1.2.9-2.6 1.5-4 1.9s-3 .6-4.5.5-3-.3-4.4-.9c-1.4-.5-2.7-1.3-3.8-2.3 1.4.6 2.7 1.1 4.1 1.5 1.4.4 2.8.6 4.2.6 1.4.1 2.8 0 4.3-.3 1.3-.2 2.7-.5 4.1-1z"></path>
                <path class="SELECCION_PANEL_2_svg__st4"
                      d="M107.1 120.1c-1.3.9-2.7 1.5-4.3 1.9-1.5.4-3.1.5-4.7.5-.8 0-1.6-.2-2.4-.3-.8-.2-1.5-.4-2.3-.7-1.5-.5-2.8-1.4-4-2.5 1.5.5 2.8 1.1 4.3 1.4 1.4.4 2.9.6 4.4.6 3.1.2 6-.2 9-.9zM109.8 99.9c-1.7.8-3.6 1.3-5.5 1.6-1.9.3-3.8.4-5.7.3s-3.8-.4-5.7-1c-1.9-.5-3.6-1.4-5.1-2.5 1.8.6 3.6 1.1 5.4 1.5 1.8.3 3.6.6 5.5.7 3.7.1 7.4-.1 11.1-.6z"></path>
                <path class="SELECCION_PANEL_2_svg__st3"
                      d="M108.1 113.4c-1.5.9-3.1 1.6-4.9 2-1.7.4-3.5.5-5.3.3-.9-.1-1.8-.3-2.6-.6-.8-.4-1.7-.6-2.4-1.2-1.6-.9-2.8-2.2-3.9-3.6 1.4 1.1 2.7 2.2 4.3 2.9 1.5.7 3.1 1.3 4.8 1.4 1.7.2 3.4.2 5 0s3.3-.6 5-1.2zM108.7 107.8c-3.1 1.3-6.6 1.7-10 1.5-1.7-.1-3.4-.5-5-1.1-1.6-.5-3.1-1.5-4.4-2.5 1.6.7 3.1 1.3 4.7 1.7 1.6.4 3.2.7 4.8.8 1.6.1 3.3.2 4.9.1 1.6-.1 3.3-.2 5-.5z"></path></g></g>
        <g id="SELECCION_PANEL_2_svg___x2B_8_N2"><path fill="#48484a" d="M126.4 168.7l4.2-20.5-54.8.1 3.1 20.8z"></path>
            <path d="M176.4 440.9l-142.7 4.9C20.1 445.8 9 434.7 9 421.1l-9-235c0-13.6 11.1-24.7 24.7-24.7l159.2-.3c13.6 0 24.7 11.1 24.7 24.7L201 416.2c.1 13.6-11 24.7-24.6 24.7z"
                  fill="#b1b3b6"></path>
            <path d="M159.7 373.3H50c-13.9 0-25.3-11.4-25.3-25.3V223.4c0-13.9 11.4-25.3 25.3-25.3h109.7c13.9 0 25.3 11.4 25.3 25.3v124.5c0 14-11.4 25.4-25.3 25.4z"
                  fill="#faa61a" stroke="#fff" stroke-width="1.748" stroke-miterlimit="10"></path>
            <path fill="#d89016" d="M117.4 111.5L77 114.2l-18.6 35 21.8 32.4 4.9 1.6 36.7-70.2z"></path>
            <path class="SELECCION_PANEL_2_svg__st9"
                  d="M121.7 113.1l-40.4 2.6-18.6 35.1 21.8 32.4 40.4-2.7 18.6-35.1z"></path>
            <path class="SELECCION_PANEL_2_svg__st10" d="M119.4 117.2l-35.4.6-16.1 32.7 20.6 28.4 33.6-.5 15-32.4z"></path>
            <g><text transform="matrix(.95 0 0 1 78.28 162.576)" class="SELECCION_PANEL_2_svg__st9 SELECCION_PANEL_2_svg__st11 SELECCION_PANEL_2_svg__st12" letter-spacing="-3.2">N</text>
                <text transform="matrix(.95 0 0 1 104.88 162.576)"
                      class="SELECCION_PANEL_2_svg__st9 SELECCION_PANEL_2_svg__st11 SELECCION_PANEL_2_svg__st12">2</text></g>
            <g><defs><path id="SELECCION_PANEL_2_svg__SVGID_3_" d="M159.7 372.3H50c-13.9 0-25.3-11.4-25.3-25.3V222.4c0-13.9 11.4-25.3 25.3-25.3h109.7c13.9 0 25.3 11.4 25.3 25.3v124.5c0 14-11.4 25.4-25.3 25.4z"></path></defs>
                <clipPath id="SELECCION_PANEL_2_svg__SVGID_4_"><use xlink:href="#SELECCION_PANEL_2_svg__SVGID_3_" overflow="visible"></use></clipPath>
                <g clip-path="url(#SELECCION_PANEL_2_svg__SVGID_4_)"><path class="SELECCION_PANEL_2_svg__st15" d="M128.6 383.4c.2 1.5-.9 2.9-2.4 3.1l-21.7 2.3c-1.5.2-2.8-1-3-2.5l-.1-.8c-.2-1.5.9-1.9 2.4-2.1l21.7-3.3c1.5-.2 2.8 1 3 2.5l.1.8zM133.2 373.3c.1 1.2-1 2.2-2.5 2.3l-21.8 1.8c-1.5.1-2.8-.7-2.9-1.9v-.6c-.1-1.2 1-1.5 2.5-1.6l21.8-2.5c1.5-.1 2.8.7 2.9 1.9v.6z"></path>
                    <path class="SELECCION_PANEL_2_svg__st16"
                          d="M103.3 380.3c.1 1.6 1.3 2.7 2.7 2.6l20.2-1.6c1.4-.1 2.4-1.5 2.3-3l-.1-.8c-.1-1.6-1.2-1.7-2.6-1.6l-20.4.6c-1.4.1-2.4 1.5-2.3 3l.2.8z"></path>
                    <path class="SELECCION_PANEL_2_svg__st15"
                          d="M132.5 364.3c.1 1.1-1 2.1-2.4 2.3l-21.3 2.5c-1.5.2-2.7-.6-2.9-1.7l-.1-.6c-.1-1.1 1-1.4 2.4-1.6l21.3-3.2c1.5-.2 2.7.6 2.9 1.7l.1.6z"></path>
                    <path class="SELECCION_PANEL_2_svg__st16"
                          d="M107.7 372.1c.2 1.5 1.4 2.5 2.8 2.4l19.8-2.5c1.4-.2 2.3-1.5 2.1-3l-.1-.8c-.2-1.5-1.2-1.6-2.6-1.4l-19.9 1.6c-1.4.2-2.3 1.5-2.1 3v.7z"></path>
                    <path class="SELECCION_PANEL_2_svg__st15"
                          d="M105.9 359.2c.2 1.1 1.4 1.9 2.8 1.7l20.1-3.1c1.4-.2 2.4-1.3 2.2-2.5l-.1-.6c-.2-1.1-1.2-1.2-2.6-1l-20.3 2.4c-1.4.2-2.4 1.3-2.2 2.5l.1.6z"></path>
                    <path class="SELECCION_PANEL_2_svg__st16"
                          d="M130 361.1c.2 1.5-.8 2.9-2 3.1l-18.8 2c-1.3.1-2.5-1-2.6-2.6l-.1-.8c-.2-1.5.8-1.9 2.1-2.1l18.8-3c1.3-.1 2.5 1 2.6 2.6v.8zM129.4 351.5c.1 1.5-.8 2.8-2 2.9l-18.4 2c-1.3.1-2.4-1-2.6-2.4l-.1-.8c-.2-1.5.8-1.8 2-2l18.4-2.9c1.3-.1 2.4 1 2.6 2.4l.1.8z"></path>
                    <path class="SELECCION_PANEL_2_svg__st15"
                          d="M139.7 411l-.5-9.8c-.9-3.7-8.6-9.9-13.5-9.8l-25.1.9c-4.9.2-17 4.1-16.8 8.4l.4 12.3c0-.1 30.3 7.2 55.5-2z"></path>
                    <path d="M83.9 400.1s32 8.1 55.4.9l.4 10s-21 9.4-55.5 1.9l-.3-12.8z" fill="#005fae"></path>
                    <path class="SELECCION_PANEL_2_svg__st15"
                          d="M107.4 352.6s-1.6 3.6 9.2 3.2c0 0-7.7.1-9.2-3.2zM108.5 371.2s-1.1 3.8 8.3 2.2c0 .1-6.7.9-8.3-2.2zM104.9 378.1s-1.4 3.7 8.1 2.9c0 0-6.7.3-8.1-2.9zM129.2 360.6s1.8 3.5-8.8 3.7c0 .1 7.5-.3 8.8-3.7zM126.8 376.7s1.8 3.5-8.8 3.7c0 0 7.5-.4 8.8-3.7z"></path>
                    <path class="SELECCION_PANEL_2_svg__st15"
                          d="M129.7 344.8c.3 1.5-.6 2.9-2 3.3l-21.3 4.9c-1.5.3-2.9-.6-3.3-2l-.2-.8c-.3-1.5.7-2 2.2-2.3l21.1-5.9c1.5-.3 2.9.6 3.3 2l.2.8zM125.4 338.1c.1 1.1-1 2.2-2.5 2.3l-21.7 2.5c-1.5.2-2.8-.6-2.9-1.7l-.1-.6c-.1-1.1 1-1.4 2.5-1.6l21.7-3.2c1.5-.2 2.8.6 2.9 1.7l.1.6z"></path>
                    <path class="SELECCION_PANEL_2_svg__st16"
                          d="M102.6 346.7c.3 1.5 1.6 2.4 3 2.2l19.9-4c1.4-.3 2.2-1.7 1.9-3.2l-.2-.8c-.3-1.5-1.4-1.5-2.7-1.2l-20.1 3.1c-1.4.3-2.2 1.7-1.9 3.2l.1.7z"></path>
                    <path d="M98.5 337c.2 1.4 1.5 2.4 2.8 2.2l19.7-3.1c1.3-.2 2.3-1.5 2-3l-.1-.8c-.2-1.4-1.3-1.5-2.6-1.3l-19.9 2.2c-1.3.2-2.3 1.5-2 3l.1.8z"
                          fill="#009a9a"></path>
                    <path d="M99.3 336.6s-.5 3.8 8.5.9c0 .1-6.5 1.8-8.5-.9z" fill="#00babb"></path>
                    <path class="SELECCION_PANEL_2_svg__st15"
                          d="M103.8 345.3s-.9 3.7 8.4 1.8c0 0-6.7 1.1-8.4-1.8zM125 341.7s1.8 3.4-8.8 3.6c0 0 7.6-.4 8.8-3.6z"></path>
                    <path d="M99.7 340.9s14.4-.6 24.2-3.1" fill="none" stroke="#009694" stroke-width=".442"
                          stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></path>
                    <path class="SELECCION_PANEL_2_svg__st16"
                          d="M125.2 389.7c0 2-1.5 3.4-3.6 3.8 0 0-6.2 1.1-9.5 1.2s-8-.8-8-.8c-2-.5-3.7-1.6-3.7-3.6s1.6-3.7 3.6-3.8c0 0 3.5.9 8.3.8s9.2-1.1 9.2-1.1c2-.1 3.7 1.5 3.7 3.5z"></path>
                    <path class="SELECCION_PANEL_2_svg__st21"
                          d="M66.9 270.2s-7.4 25.1 2.1 50.2c7.2 18.9 17.5 24.3 17.5 24.3s16.2.1 26.8-3.5 26.2-13.4 26.2-13.4 5.3-14.6.4-31.2c-7.8-26.3-15.3-37.6-15.3-37.6l-57.7 11.2z"></path>
                    <path d="M62.9 284.7s-.5-7 2.6-12l54.9-16.7c.1 0-54.8 18.1-57.5 28.7z" fill="#fdb714"></path>
                    <path class="SELECCION_PANEL_2_svg__st16"
                          d="M138 273.2c-3.3-15-27.2-29.4-48.9-23.3-21.8 6-35.1 26.3-29.9 45.2 0 0 43.5 2.6 78.8-21.9z"></path>
                    <path class="SELECCION_PANEL_2_svg__st16" d="M91.3 254.8l-22.2-20.3-9 6.3 6.1 2.5 3.5-1 8 22.4"></path>
                    <path class="SELECCION_PANEL_2_svg__st16"
                          d="M68.8 242.7c1 5.4-3.3 11.2-9.6 12.8-6.3 1.7-12.3-1.4-13.3-6.8s3.3-11.2 9.6-12.8c6.4-1.6 12.3 1.4 13.3 6.8zM90 255.2l8.6-28.9 10.9.8-4 5.3-3.4.9 4.7 23.4"></path>
                    <path class="SELECCION_PANEL_2_svg__st16"
                          d="M104.9 229.7c-.9 5.4 3.6 11.1 9.9 12.6 6.4 1.5 12.2-1.7 13.1-7.1.9-5.4-3.6-11.1-9.9-12.6-6.3-1.5-12.2 1.7-13.1 7.1z"></path>
                    <path class="SELECCION_PANEL_2_svg__st15"
                          d="M60 292.1s-4.7-28.7 29.3-40.4c0 0-23.3 11.2-29.3 40.4z"></path>
                    <g><path d="M86 311.5l.9 11.2c1.8.4 20.4 7.7 44.7-14l-4.9-9.6s-4.8 6.5-19.9 11c-15.9 4.8-20.8 1.4-20.8 1.4z" fill="#243d98"></path>
                        <path d="M86.4 312.8l.4 9.7c2.1.3 19.4 5.6 44.8-14l-4.4-8.2s-5.1 5.7-20.2 10.2c-16 4.9-20.6 2.3-20.6 2.3z"
                              fill="#4bb8e9"></path>
                        <path d="M89.8 316.2s22.5 9.7 37.3-11.8c0 0-13 13.6-37.3 11.8z" fill="#ed1c24"></path></g>
                    <g><path class="SELECCION_PANEL_2_svg__st21" d="M180.8 286.9c.7 6.2-3.7 11.7-9.9 12.4-6.1.7-11.7-3.8-12.4-9.9-.7-6.2 3.7-11.7 9.9-12.4 6.2-.7 11.7 3.8 12.4 9.9z"></path>
                        <path class="SELECCION_PANEL_2_svg__st21"
                              d="M134.5 282.1l30 2.2-.4 8-28.2 8.4s-2.7-5.7-3-10.4c-.3-4.6 1.6-8.2 1.6-8.2z"></path>
                        <path class="SELECCION_PANEL_2_svg__st26"
                              d="M149.1 283.4l9.8 1s-1.4 3.6.2 6.9c0 0-1.9-5.9-10-7.9zM136.1 283.4s-3.3 9.1 1.8 15.2M138.2 284.1s-2.9 8 1.6 13.3M140.4 284.3s-2.7 7.5 1.5 12.5M142.8 284.4s-2.6 7 1.4 11.7M165.7 295.4s11.9 5.1 14.1-7.7c0 .1-4.9 10.3-14.1 7.7z"></path></g>
                    <g><path class="SELECCION_PANEL_2_svg__st21" d="M30.9 332.3c-3.2-5.3-1.4-12.2 3.9-15.4 5.3-3.2 12.2-1.4 15.3 3.9 3.2 5.3 1.4 12.2-3.9 15.4-5.3 3.1-12.1 1.4-15.3-3.9z"></path>
                        <path class="SELECCION_PANEL_2_svg__st21"
                              d="M74.9 317.4l-28.1 10.4-2.9-7.5L66 300.9s4.8 4 7 8.2c2.1 4.2 1.9 8.3 1.9 8.3z"></path>
                        <path class="SELECCION_PANEL_2_svg__st26"
                              d="M62 319.9l-9.4 5.2s-1-4.1-4.5-6.1c0 0 5.4 4.1 13.9.9zM71.3 318.6s-.7-9.7-8-13.1M69 318.8s-.6-8.5-7-11.5M67 319.6s-.6-8-6.5-10.8M64.7 320.5s-.6-7.4-6.1-10.1M41.6 318s-12.9.3-9.6 12.8c-.1.1.2-11.4 9.6-12.8z"></path></g>
                    <ellipse transform="rotate(-71.107 56.97 246.235)" class="SELECCION_PANEL_2_svg__st10" cx="57"
                             cy="246.2" rx="8.2" ry="8.1"></ellipse>
                    <ellipse cx="56.8" cy="249.9" rx="3.7" ry="3.7"></ellipse>
                    <ellipse transform="rotate(-62.974 117.66 232.816)" class="SELECCION_PANEL_2_svg__st10" cx="117.7"
                             cy="232.8" rx="8.1" ry="8.2"></ellipse>
                    <ellipse cx="120.5" cy="235.4" rx="3.7" ry="3.7"></ellipse></g></g></g>
        <g><foreignObject width="140" height="40" x="40" y="385">
            <xhtml:div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="5px">
                <div class="age-number">+8</div>
                <div class="age-text">años</div>
            </xhtml:div>
        </foreignObject></g></svg>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlexOffset="50" class="more-info-container" fxLayout="row" fxLayoutAlign="center center"
             (click)="moreInfo()">
            <span>+Info</span>
        </div>
    </div>
</div>
