@import "../../../variables";
@import "../../../fluid-typography";
.more-info-container {
  width: 25%;
  min-width: 8.5vw;
  height: 100%;
  max-height: 60px;
  min-height: 4vw;
  border-radius: 1vw;
  @include fluid-type(500px, 1800px, 16px, 38px);
  padding: 5px 10px;
  font-weight: 500;
  color: white;
  background-color: $orange-color;
}
.age-text {
  font-size: 24px;
  color: white;
  font-weight: 400;
}
.age-number {
  font-size: 34px;
  color: white;
  font-weight: 500;
}
.SELECCION_PANEL_2_svg__st3 {
  fill: #c7c8ca
}

.SELECCION_PANEL_2_svg__st4 {
  fill: #717375
}

.SELECCION_PANEL_2_svg__st9 {
  fill: #faa61a
}

.SELECCION_PANEL_2_svg__st10 {
  fill: #fff
}


.SELECCION_PANEL_2_svg__st12 {
  font-size: 42.0291px
}

.SELECCION_PANEL_2_svg__st15 {
  fill: #1486c8
}

.SELECCION_PANEL_2_svg__st16 {
  fill: #00aeef
}

.SELECCION_PANEL_2_svg__st21 {
  fill: #ee2554
}

.SELECCION_PANEL_2_svg__st26 {
  fill: #d01728
}

.SELECCION_PANEL_2_svg__st27 {
  font-size: 47.7784px
}
