<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.8 77.3" style="height: 8vmax">
  <circle cx="38.4" cy="38.3" r="37.5" opacity=".24" fill="#a7a9ac"></circle>
  <circle cx="41.4" cy="38.3" r="37.5" fill="#a7a9ac"></circle>
  <circle cx="41.4" cy="38.3" r="28.5" fill="#f68b1f"></circle>
  <path d="M41.3 57.1c-1.1 0-2.1-.5-2.7-1.3L25.5 39.2c-1.2-1.5-.9-3.7.6-4.8 1.5-1.2 3.7-.9 4.8.6l10 12.7 12.8-20.9c1-1.6 3.1-2.1 4.7-1.1s2.1 3.1 1.1 4.7l-15.3 25c-.6 1-1.6 1.6-2.7 1.6-.1.1-.2.1-.2.1z"
        fill="#db7c1b" stroke="#db7c1b" stroke-width="2" stroke-miterlimit="10"></path>
  <path d="M39.3 55.1c-1.1 0-2.1-.5-2.7-1.3L23.5 37.2c-1.2-1.5-.9-3.7.6-4.8 1.5-1.2 3.7-.9 4.8.6l10 12.7 12.8-20.9c1-1.6 3.1-2.1 4.7-1.1s2.1 3.1 1.1 4.7l-15.3 25c-.6 1-1.6 1.6-2.7 1.6-.1.1-.2.1-.2.1z"
        fill="#fff" stroke="#fff" stroke-width="2" stroke-miterlimit="10"></path>
</svg>
