@import "../../../../variables";

:host {
  display: flex;
  flex: 1 1 100%;
  height: 100%; margin: 0; min-height: 100%; min-width: 100%; width: 100%;
}
.st0{fill:#86dfd8}
.phrase-title {
  font-weight: 600;
  color: $gray-color !important;
  text-decoration: underline;
}
.phrase-text {
  font-weight: 500;
  color: $gray-color !important;
}
.option-text {
  font-weight: 600;
  color: $gray-color !important;
}
.option-text-title {
  font-weight: 600;
  color: $gray-color;
}

.app-card-texts {
  overflow: auto; max-height: 500px; font-size: 21px;
  padding-left: 3%;
  padding-right: 3%;
  overflow-y: hidden;
}
@import "../../../../variables";
.title {
  color: $green-category;
}
.text-level-1 {
  font-size: 26px;
}
.text-level-2 {
  font-size: 23px;
}
