
<div fxFlex="grow" fxLayout="column" >
  <div  fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="2%" fxFlex="75" class="full-width"  >

    <!--<svg  preserveAspectRatio="xMidYMid" fxFlex="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340.7 54">
      <text transform="matrix(.9 0 0 1 62.693 37.365)" [attr.font-size]="card.level === 1 ? 28 : 35"  fill="#00b6b5">
        {{card.cardName | uppercase}}
      </text></svg>-->
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
      <svg width="10%" height="80%">
        <path class="st0"
              d="M54.1 48.2l-19.6-9.8-18.7-.2c-1.7 0-3.2-.7-4.4-1.9-1.2-1.2-1.8-2.8-1.8-4.5L9.8 14c0-3.4 2.8-6.2 6.3-6.2l34.1.3c3.5 0 6.3 2.9 6.2 6.3l-.2 17.8c0 3.4-2.8 6.2-6.3 6.2H48l6.1 9.8zM16.7 11c-2 0-3.6 1.6-3.6 3.6l-.2 17.1c0 1 .4 1.9 1 2.6.7.7 1.6 1.1 2.5 1.1l18.6.1 11.6 5.7-3.6-5.7 6.2.1c2 0 3.6-1.6 3.6-3.6l.1-17c0-2-1.6-3.6-3.6-3.6L16.7 11z"></path>
        <path class="st0" d="M16.2 31.1c-.5 0-1-.4-1-.9V14.4c0-.5.4-.9 1-.9.5 0 1 .4 1 .9v15.8c0 .5-.4.9-1 .9z"></path>

      </svg>
      <div class="title nunito"  [minFontSize]="22" [maxFontSize]="40" fittext>
        {{card.cardName | uppercase}}
      </div>
    </div>
    <div fxFlex="80" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5%" class="app-card-texts" [ngClass]="'text-level-' + card.level">

      <div fxLayout="column" fxLayoutGap="1%">
        <span class="phrase-title" *ngIf="card.level !== 1">¿Qué signfica?</span>

        <span class="phrase-text" *ngFor="let line of card.inititalTexts, let i = index">{{line}}</span>
      </div>
      <div fxFlex="grow" class="full-width" *ngIf="cardService.shoeExtraTexts.value" fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="start start" >
        <span *ngIf="card.extraTexts.length > 1" class="option-text-title" style="font-weight: 600; text-decoration: underline; font-size: 25px;">Opciones:</span>
        <span *ngIf="card.extraTexts.length === 1" class="option-text-title" style="font-weight: 600; text-decoration: underline; font-size: 25px;">Ayuda:</span>
        <div class="full-width" fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="start start">
          <span *ngFor="let extra of card.extraTexts" class="option-text" >- {{extra}}</span>
        </div>

      </div>

    </div>
  </div>
  <div fxLayout="row" fxFlex="25" fxLayoutAlign="start" [fxLayoutGap]="card.level === 3 ? '2.5%' : '5%'">
    <app-answer-button [cardColor]="'#86dfd8'" [answer]="cardService.currentCard.answer" [fxFlex]="card.level === 3 ? '60' : '50'"></app-answer-button>
    <ng-container *ngIf="cardService.currentAnswerIsViewed">
      <app-correct-button (click)="correctAnswer()" fxFlex="10"></app-correct-button>
      <app-options-button (click)="onClickOptions()" *ngIf="!cardService.shoeExtraTexts.value &&
                cardService.currentCard.extraTexts && cardService.currentCard.extraTexts.length > 0" fxFlex="25"></app-options-button>
      <app-wrong-button (click)="wrongAnswer()" *ngIf="cardService.shoeExtraTexts.value" fxFlex="10"></app-wrong-button>
    </ng-container>

  </div>

</div>
