.st1 {
  fill: #717375
}

.st2 {
  fill: #808285
}

.st5 {
  fill: #fff
}

.st7 {
  fill: #00aeef
}

.st8 {
  fill: #0076c0
}

.st9 {
  fill: none;
  stroke: #006fba;
  stroke-width: .176;
  stroke-miterlimit: 10
}

.st10 {
  fill: #6b0f6b
}

.st11 {
  fill: #8f278f
}

.st12 {
  fill: #f57e20
}

.st13 {
  fill: #7f2a90
}

.st14 {
  fill: #8c4d9e
}

.st15 {
  fill: #f7941d
}

.st16 {
  fill: #ffd600
}

.st17 {
  stroke: #fff;
  stroke-width: 5.832749e-02;
  stroke-miterlimit: 10
}

.st18 {
  fill: #ad1a15
}

.st19 {
  fill: #ee2831
}

.st20 {
  fill: #ec008c
}

.st21 {
  fill: none;
  stroke: #fff;
  stroke-width: .4669;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10
}

.st23 {
  fill: #e6e7e8
}

.st23, .st24 {
  display: inline
}

.st25 {
  fill: #ed037c
}

.st26 {
  fill: #b41f7e
}

.st27 {
  fill: #ffd400
}

.st28 {
  fill: #6b3779
}

.st29 {
  fill: #ffef00
}

.st30 {
  fill: #fdb714
}

.st31 {
  fill: #172e79
}

.st33 {
  fill: #3db9e1
}

.st35 {
  fill: #384ea1
}

.st37 {
  fill: #c01c7d
}

.st38 {
  fill: #f36e21
}

.st40 {
  clip-path: url(#SVGID_4_)
}

.st41 {
  fill: #4bb8e9
}

.st43 {
  clip-path: url(#SVGID_6_)
}

.st45 {
  fill: #263374
}

.st46 {
  fill: #006fba
}

.st47 {
  fill: #fec00f
}

.st48 {
  fill: #ed1c24
}

.st50 {
  opacity: .78;
  fill: #ef3e23
}

.st52 {
  clip-path: url(#SVGID_8_)
}

.st53 {
  fill: #00babb
}

.st54 {
  fill: #00aaa7
}

.st55 {
  fill: #7c2a90
}

.st56 {
  fill: #adafb2
}

.st57 {
  fill: #009e9c
}

.st59 {
  fill: #054da2
}

.st60 {
  fill: #fff32b
}

.st61, .st62, .st63 {
  stroke-miterlimit: 10
}

.st61 {
  fill: none;
  stroke: #006fba;
  stroke-width: .179
}

.st62, .st63 {
  stroke: #fff;
  stroke-width: 5.930773e-02
}

.st63 {
  fill: none;
  stroke-width: .4747;
  stroke-linecap: round;
  stroke-linejoin: round
}

.st79 {
  fill: #009a9a
}

.st80, .st83 {
  fill: none;
  stroke: #009694;
  stroke-width: .2672;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10
}

.st83 {
  stroke-width: .2626
}

.st84 {
  fill: #ee2554
}

.st88 {
  fill: #f47b20
}

.st89 {
  fill: #fff200
}

.shadow-level-1 {
  fill:#b1bf23
}
.shadow-level-2 {
  fill:#DAA011
}
.shadow-level-3 {
  fill: gray;
}
