<svg  xmlns="http://www.w3.org/2000/svg" style="height: 15vh" viewBox="0 0 72.5 74">
  <path d="M60 13.2c4.4.3 7.9 3.5 7.6 7L60.7 60c-.3 3.5-4.1 6.1-8.5 5.8l-38.2-4c-4.4-.3-7.9-3.5-7.6-7l.5-42.6c.3-3.5 4.1-6.1 8.5-5.8L60 13.2z" style="fill:#6e0f6c"></path>
  <path d="M56.1 8c4.4-.3 8.3 2.3 8.6 5.8l-.8 40.4c.3 3.5-3.1 6.6-7.6 7l-38.1 5.4c-4.4.3-8.3-2.3-8.6-5.8l-6-42.2c-.3-3.5 3.1-6.6 7.6-7L56.1 8z" style="fill:#ffffff"></path>
  <path d="M16.1 42.7c-.9-1-1.5-2.3-1.7-4-.3-1.6-.1-3.3.6-5.1.7-1.8 1.8-3.4 3.5-4.9 1.6-1.4 3.2-2.3 4.9-2.8 1.7-.5 3.3-.5 4.8-.1S31 27 32 28.2c.8.9 1.3 1.9 1.6 2.9.2 1 .3 2 .2 2.9-.1.9-.2 2.6-.5 4.9-.1.7-.1 1.2-.1 1.6 0 .4 0 .8.1 1.1.1.3.2.6.3.8.1.3.4.7.7 1.3.8 1.3.6 2.4-.4 3.4-.6.5-1.2.7-1.9.7s-1.4-.4-2-1.1c-.8-.9-1.3-1.8-1.7-2.7-.3-.9-.4-1.8-.4-2.7 0-.9.1-2 .3-3.4.2-1.2.2-2.1.3-2.7 0-.6 0-1.1-.1-1.7-.1-.6-.4-1.1-.8-1.5-.8-.9-1.7-1.3-2.9-1.3s-2.2.4-3.3 1.3c-1.2 1-1.8 2.1-1.8 3.2s.3 2.4.9 3.9c.7 1.5.5 2.7-.5 3.6-.6.5-1.3.8-2.1.7-.8 0-1.4-.2-1.8-.7zm23.4 10.7c-.7.6-1.4.9-2.3.9-.9 0-1.6-.4-2.3-1.1-.6-.7-.9-1.4-.8-2.3.1-.9.4-1.6 1.1-2.2.7-.6 1.4-.9 2.3-.8.9.1 1.6.4 2.2 1.1.7.7.9 1.5.8 2.4 0 .7-.4 1.4-1 2zM42.5 37.8l6-12.2c1.2-2.4 2-4.1 2.6-5.1.8-1.4 1.7-2.2 2.9-2.6 1.1-.4 2.3-.2 3.5.5 1.4.8 2.1 1.8 2 3.1-.1 1.2-.7 2.8-1.7 4.6-.6 1.1-1.3 2.1-2.1 3.2l-8 11.5c-.9 1.4-1.8 2.3-2.6 2.9-.8.6-1.7.6-2.5.1-.9-.5-1.3-1.2-1.2-2.2 0-.9.4-2.2 1.1-3.8z" class="divermente-button-st2"></path>
  <path d="M35.9 55.5c-1-.6-1.7-1.4-2.1-2.5-.4-1.1-.2-2.2.4-3.3.6-1 1.4-1.7 2.5-2 1.1-.3 2.2-.2 3.2.4 1 .6 1.7 1.4 2 2.6.3 1.1.2 2.2-.4 3.2-.7 1.1-1.5 1.8-2.7 2.1-.8.3-1.9.1-2.9-.5z" class="divermente-button-st2"></path>
</svg>
