<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.3 63.8" style="height: 7vmax">
    <ellipse transform="rotate(-38.06 31.7985378 31.79902372)" cx="31.8" cy="31.8" rx="31.8" ry="31.8" fill="#6e0f6c"></ellipse>
    <ellipse transform="matrix(.7874 -.6165 .6165 .7874 -11.9807 29.284)" cx="36.5" cy="32" rx="31.8" ry="31.8"
             fill="#0092c8"></ellipse>
    <path d="M49.9 37.4l-6.3-5.7 5.7-6.3c1.3-1.6 1-4-.8-5.5s-4.1-1.7-5.7-.3l-5.7 6.3-6.3-5.7c-1.5-1.3-4.1-.9-5.5.8-1.5 1.8-1.7 4.1-.3 5.6l6.3 5.7-5.7 6.3c-1.3 1.5-.9 4.1.8 5.5.9.8 1.9 1.2 2.9 1.2s2-.3 2.7-1l5.7-6.3 6.3 5.7c.6.5 1.3.8 2.1.8 1.2.1 2.5-.5 3.5-1.6 1.6-1.6 1.8-3.9.3-5.5z"
          fill="#0081b2"></path>
    <path d="M47.9 37.3l-6.3-5.7 5.7-6.3c1.3-1.6 1-4-.8-5.5s-4.1-1.7-5.7-.3l-5.7 6.3-6.3-5.7c-1.5-1.3-4.1-.9-5.5.8-1.5 1.8-1.7 4.1-.3 5.6l6.3 5.7-5.7 6.3c-1.3 1.5-.9 4.1.8 5.5.9.8 1.9 1.2 2.9 1.2s2-.3 2.7-1l5.7-6.3 6.3 5.7c.6.5 1.3.8 2.1.8 1.2.1 2.5-.5 3.5-1.6 1.6-1.6 1.7-3.9.3-5.5z"
          fill="#fff"></path>
</svg>
