<svg fxFlex="grow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176.4 69.35">
    <text transform="translate(77.39 29.47)" font-size="18" fill="#92278f" font-family="FiraSans-Bold,Fira Sans"
          font-weight="700">¿N
        <tspan x="20.59" y="0" letter-spacing="-.0139974em">E</tspan>
        <tspan x="29.81" y="0">C</tspan>
        <tspan x="40.16" y="0" letter-spacing="-.00998264em">E</tspan>
        <tspan x="49.45" y="0">SI</tspan>
        <tspan x="65.02" y="0" letter-spacing="-.0500217em">T</tspan>
        <tspan x="73.83" y="0">AS</tspan>
        <tspan letter-spacing="-.05598958em">
            <tspan x="0" y="20.49">A</tspan>
            <tspan x="9.61" y="20.49" letter-spacing="-.00005425em">YU</tspan>
            <tspan x="32.02" y="20.49" letter-spacing="-.00998264em">D</tspan>
            <tspan x="43.56" y="20.49" letter-spacing="-.03000217em">A</tspan>
            <tspan x="53.64" y="20.49" letter-spacing="-.00005425em">?</tspan>
        </tspan>
    </text>
    <rect y="2.79" width="66.56" height="66.56" rx="17.01" ry="17.01" fill="#d1d3d4"></rect>
    <rect x="1.86" width="66.56" height="66.56" rx="17.01" ry="17.01" fill="#92278f"></rect>
    <path d="M17.65 38.11a3.05 3.05 0 0 1 0-6.1H52.4a3.05 3.05 0 0 1 0 6.1z" fill="#6d0e6b"></path>
    <path d="M52.4 32.87a2.19 2.19 0 1 1 0 4.38H17.65a2.19 2.19 0 1 1 0-4.38H52.4m0-1.72H17.65a3.91 3.91 0 1 0 0 7.81H52.4a3.91 3.91 0 1 0 0-7.81z"
          fill="#741472"></path>
    <path d="M35.02 55.45a3.05 3.05 0 0 1-3-3V17.68a3.05 3.05 0 1 1 6.1 0v34.77a3.05 3.05 0 0 1-3.1 3z" fill="#6d0e6b"></path>
    <path d="M35.02 15.45a2.19 2.19 0 0 1 2.2 2.23v34.77a2.19 2.19 0 0 1-4.38 0V17.68a2.19 2.19 0 0 1 2.18-2.23m0-1.72a3.92 3.92 0 0 0-3.91 3.91v34.81a3.91 3.91 0 0 0 7.81 0V17.68a3.92 3.92 0 0 0-3.91-3.91z"
          fill="#741472"></path>
    <rect x="47.46" y="26.77" width="7.81" height="42.56" rx="3.91" ry="3.91" transform="rotate(90 51.245 33.385)"
          fill="#fff" stroke="#fff" stroke-miterlimit="10" stroke-width=".85884477"></rect>
    <rect x="32.68" y="12.22" width="7.81" height="42.56" rx="3.91" ry="3.91" fill="#fff" stroke="#fff"
          stroke-miterlimit="10" stroke-width=".85884477"></rect>
</svg>
