<div class="violet-background" style="padding: 4%" fxFlex="grow">
    <app-monitor-container [logo]="'mente-adivina'" fxFlex="grow">
        <div fxFlex="grow" fxLayout="column" fxLayoutAlign="center center">
            <app-argentina-button class="language-button"></app-argentina-button>
            <app-spanish-button class="language-button"></app-spanish-button>
            <app-mexico-button class="language-button"></app-mexico-button>
        </div>

    </app-monitor-container>

</div>
