<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260.5 94.3">
    <text transform="translate(31.2163 61.6313)" font-size="31" fill="#6d6e71">TUTORIAL
    </text>
    <path d="M239.9 73.4c4.2-.1 5.8-2.8 5.6-6.3l-4.9-38.9c-.1-3.4-1.9-6.3-6.1-6.1l-39.5-.9c-4.2.1-7.5 3-7.4 6.4L186.5 69c.1 3.4 3.6 6.1 7.8 5.9l45.6-1.5z"
          fill="#741472"></path>
    <path fill="#fff" d="M230.2 47.5l-23 15.1V32.4z"></path>
</svg>
