<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260.5 94.3">
    <text transform="translate(26.3868 59.3978)" font-size="31" fill="#6d6e71">Música
    </text>
    <path d="M187.1 24.6c-4.2.4-5.6 3.2-5.2 6.6l7.4 38.5c.3 3.4 2.3 6.2 6.4 5.8l39.5-1.6c4.2-.4 7.3-3.5 7-6.9l-1.4-41.3c-.3-3.4-4-5.8-8.2-5.4l-45.5 4.3z"
          fill="#741472"></path>
    <path class="st4"
          d="M225.5 64.7l2.1-28.7-22.8 1 3.9 30.4-1.9-.2-5.7-33.4s-.6-2.1.4-3.1 2.9-.7 2.9-.7 19.9 1.6 21.4 1.7c3.6.3 4.9 1.3 4.5 5.7-.3 3.2-3 28.1-3 28.1l-1.8-.8z"></path>
    <ellipse transform="rotate(-15.804 223.29313885 62.83540451)" class="st4" cx="223.3" cy="62.8" rx="6.6" ry="4.8"></ellipse>
    <ellipse transform="rotate(-15.804 203.61153568 64.91742948)" class="st4" cx="203.6" cy="64.9" rx="6.6" ry="4.8"></ellipse>
    <path *ngIf="!settings.onChangeMusic.value" d="M237.7 53.4h-.4l-46.5-8.9c-1.1-.2-1.8-1.2-1.6-2.3.2-1.1 1.2-1.8 2.3-1.6l46.5 8.9c1.1.2 1.8 1.2 1.6 2.3-.1.9-1 1.6-1.9 1.6z"
          fill="#ffe28c"></path>
</svg>
