<svg *ngIf="gameService.level === 1" xmlns="http://www.w3.org/2000/svg" class="level1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 46.2 49">
  <g id="Layer_4">
    <circle class="st19" cx="23.7" cy="24.7" r="19.8"></circle>
    <defs>
      <ellipse id="ellipse-token-3-level-1" transform="rotate(-7.134 23.647 24.72)" cx="23.7" cy="24.7" rx="17.9" ry="17.9"></ellipse>
    </defs>
    <use xlink:href="#ellipse-token-3-level-1" overflow="visible" fill="#034ea2"></use>
    <clipPath id="clip-path-token-3-level-1">
      <use xlink:href="#ellipse-token-3-level-1" overflow="visible"></use>
    </clipPath>
    <ellipse transform="rotate(-7.134 23.647 24.72)" cx="23.7" cy="24.7" rx="17.9" ry="17.9"
             clip-path="url(#clip-path-token-3-level-1)" fill="#002e6e"></ellipse>
    <ellipse transform="rotate(-7.134 24.794 23.245)" cx="24.8" cy="23.2" rx="16.6" ry="16.6"
             clip-path="url(#clip-path-token-3-level-1)" fill="#034ea2"></ellipse>
    <path clip-path="url(#clip-path-token-3-level-1)" fill="none" stroke="#002e6e" stroke-width="4.667" stroke-miterlimit="10"
          d="M34.3 40.8L13.5 7.3"></path>
  </g>
</svg>

<svg *ngIf="gameService.level === 2" class="level2"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
     y="0" viewBox="0 0 46.5 47" >
    <ellipse transform="rotate(-54.639 24.127 22.96)" cx="24.1" cy="23" rx="19.8" ry="19.8" fill="#fff"></ellipse>
    <defs><ellipse id="ellipse-token-3-level-2" transform="rotate(-58.352 24.126 22.959)" cx="24.1" cy="23" rx="17.9" ry="17.9"></ellipse></defs>
    <use xlink:href="#ellipse-token-3-level-2" overflow="visible" fill="#00babb"></use>
    <clipPath id="clip-path-token-3-level-2"><use xlink:href="#ellipse-token-3-level-2" overflow="visible"></use></clipPath>
    <ellipse transform="rotate(-58.352 24.126 22.959)" class="st1" cx="24.1" cy="23" rx="17.9" ry="17.9"></ellipse>
    <ellipse transform="rotate(-58.352 22.306 23.39)" cx="22.3" cy="23.4" rx="16.6" ry="16.6" clip-path="url(#clip-path-token-3-level-2)"
             fill="#00babb"></ellipse>
    <path transform="rotate(-83.102 23.533 23.325)" class="st1" d="M3.8 21h39.4v4.7H3.8z"></path></svg>

<svg *ngIf="gameService.level === 3" class="level3"   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
     y="0" viewBox="0 0 46.5 47" >
    <circle cx="25.4" cy="23.2" r="19.8" fill="#ffffff"></circle>
    <defs><ellipse id="ellipse-token-3-level-3" transform="rotate(-7.134 25.37 23.205)" cx="25.4" cy="23.2" rx="17.9" ry="17.9"></ellipse></defs>
    <use xlink:href="#ellipse-token-3-level-3" overflow="visible" fill="#034ea2"></use>
    <clipPath id="clip-path-token-3-level-3"><use xlink:href="#ellipse-token-3-level-3" overflow="visible"></use></clipPath>
    <ellipse transform="rotate(-7.134 25.37 23.205)" class="st1" cx="25.4" cy="23.2" rx="17.9" ry="17.9"></ellipse>
    <ellipse transform="rotate(-7.134 26.518 21.73)" cx="26.5" cy="21.7" rx="16.6" ry="16.6" clip-path="url(#clip-path-token-3-level-3)"
             fill="#034ea2"></ellipse>
    <path transform="rotate(-31.875 25.608 22.553)" class="st1" d="M23.3 2.9H28v39.4h-4.7z"></path></svg>
