.level1 {
  .st1{display:inline}
  .st19{fill:#fff}
}

.level2 {
  .st1{clip-path:url(#clip-path-token-3-level-2);fill:#008384}
}

.level3 {
  .st1{clip-path:url(#clip-path-token-3-level-3);fill:#002e6e}
}
