<div fxFlex="grow" fxLayout="column" class="violet-background">
  <app-monitor-container [logo]="'mente-adivina'" fxFlex="85">
    <div fxFill fxLayout="column" fxLayoutAlign="space-evenly center" >
      <div fxLayout="column" class="full-width" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div class="violet-text">
          De 2 a 4 jugadores presentes.<br>
          Siempre uno lee y otro resuelve.
        </div>
        <div class="gray-text">
          3 niveles con diferente complejidad<br>con 4 desafíos cada uno que ejercitan<br> múltiples habilidades mentales.
        </div>
      </div>

      <div class="full-width" fxLayout="row" fxLayoutAlign="space-around center">
        <div  *ngFor="let level of [{age: 6}, {age: 8}, {age: 10}], let index = index" (click)="onClickLevel(index + 1)"
             class="level-button" [ngClass]="'level-' + (index + 1)" fxLayout="column" fxLayoutAlign="center center">
          <div class="age">+{{level.age}} años</div>
          <div class="level">Nivel {{index + 1}}</div>
        </div>
      </div>
    </div>
  </app-monitor-container>
  <div class="full-width" fxFlex="8">
    <app-back-button></app-back-button>
  </div>
  <app-close-button style="position: absolute; right: 1vw; top: 1vw;"></app-close-button>
</div>
