@import "../../../../variables";
.gray-text {
  color: $gray-color;
  font-size: 26px;
  text-align: center;
}
.violet-text {
  color: $violet-color;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}
.level-button {
  border-radius: 25px;
  width: 180px;
  height: 70px;
  color: white;
  cursor: pointer;
  .age {
    font-size: 30px;
    font-weight: 500;
  }
  .level {
    font-size: 22px;
    font-weight: 500;
  }
}
.level-1 {
  background-color: $green-color;
}
.level-2 {
  background-color: $orange-color;
}
.level-3 {
  background-color: $black-color;
}
