<svg fxFlex="grow" fxflex="grow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 109.3 116.3">
  <g>
    <path d="M19.7 5.4c-4.5-.2-8.4 2.6-8.6 6.4l.1 88.7c-.2 3.7 3.4 6.9 7.9 7.2l71.2 2.4c4.5.2 8.4-3.9 8.6-7.6l2.3-86.8c.2-3.7-3.4-6.9-7.9-7.2L19.7 5.4z" style="fill:#b1bf23"></path>
    <path d="M101.4 43.4h3.9v9.7h-3.9z" class="st1"></path>
    <path d="M95.9 39.4h6.3v15.8h-6.3z" class="st2"></path>
    <path d="M3.3 41.5h3.9v9.7H3.3z" class="st1" transform="rotate(-180 5.3053 46.3776)"></path>
    <path d="M6.5 39.4h6.3v15.8H6.5z" class="st2" transform="rotate(-180 9.64365 47.30795)"></path>
    <path d="M17.2 6.9c-4.5-.1-8.3 2.8-8.5 6.5l2.6 87.2c-.1 3.7 3.5 6.9 8 7.1h70.1c4.5.1 8.3-4 8.5-7.8L99 12.8c.1-3.7-3.5-6.9-8-7.1L17.2 6.9z" style="fill:#a7a9ac"></path>
    <g>
      <path d="M21.6 11.1c-4.1-.1-7.6 2.4-7.7 5.7L15.2 74c-.1 3.3 3.2 6.1 7.3 6.2l64.1-.5c4.1.1 7.6-2.4 7.7-5.7V17.5c.1-3.3-3.2-6.1-7.3-6.2l-65.4-.2zM86.3 103.1H23.8c-4.7 0-8.5-3.8-8.5-8.5v-1.4c0-4.7 3.8-8.5 8.5-8.5h62.4c4.7 0 8.5 3.8 8.5 8.5v1.4c.1 4.7-3.8 8.5-8.4 8.5z" class="st5"></path>
      <text x="55" text-anchor="middle" y="101" font-size="13">{{data ? data.name: ''}}</text>
    </g>
    <g>
      <defs>
        <clipPath id="roulette-card-palyer-clip-path">
          <path  d="M21.6 11.1c-4.1-.1-7.6 2.4-7.7 5.7L15.2 74c-.1 3.3 3.2 6.1 7.3 6.2l64.1-.5c4.1.1 7.6-2.4 7.7-5.7V17.5c.1-3.3-3.2-6.1-7.3-6.2l-65.4-.2z"></path>
        </clipPath>
      </defs>
      <g style="clip-path: url(#roulette-card-palyer-clip-path)">

        <use id="card-robot"  [attr.xlink:href]="'assets/images/robots/robots.svg#robot' + data.robot.id">

        </use>
      </g>
    </g>
  </g>
</svg>
