<svg *ngIf="gameService.level === 1" class="level1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 0 46.2 49">

    <g>
        <ellipse transform="matrix(.9998 -.02175 .02175 .9998 -.521 .51)" class="st19" cx="23.2" cy="24.2" rx="19.8"
                 ry="19.8"></ellipse>
        <defs>
            <ellipse id="ellipse-token-5-level-1" transform="rotate(-4.957 23.181 24.225) scale(1.00004)" cx="23.2" cy="24.2"
                     rx="17.9" ry="17.9"></ellipse>
        </defs>
        <clipPath id="clip-path-token-5-level-1">
            <use xlink:href="#ellipse-token-5-level-1" overflow="visible"></use>
        </clipPath>
        <ellipse transform="rotate(-4.957 23.181 24.225) scale(1.00004)" cx="23.2" cy="24.2" rx="17.9" ry="17.9"
                 clip-path="url(#clip-path-token-5-level-1)" fill="#f3c108"></ellipse>
        <ellipse transform="rotate(-4.957 24.384 22.793) scale(1.00004)" cx="24.4" cy="22.8" rx="16.6" ry="16.6"
                 clip-path="url(#clip-path-token-5-level-1)" fill="#ffef00"></ellipse>
        <path clip-path="url(#clip-path-token-5-level-1)" fill="none" stroke="#f3c108" stroke-width="4.667" stroke-miterlimit="10"
              d="M33.2 40.7L13.7 6.5"></path>
    </g>
</svg>
<svg *ngIf="gameService.level === 2" class="level2" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
     y="0" viewBox="0 0 46.5 47">
    <ellipse transform="matrix(.9998 -.02175 .02175 .9998 -.504 .536)" cx="24.4" cy="23.5" rx="19.8" ry="19.8"
             fill="#fff"></ellipse>
    <defs><ellipse id="ellipse-token-5-level-2" transform="rotate(-4.957 24.377 23.46) scale(1.00004)" cx="24.4" cy="23.5" rx="17.9" ry="17.9"></ellipse></defs>
    <clipPath id="clip-path-token-5-level-2"><use xlink:href="#ellipse-token-5-level-2" overflow="visible"></use></clipPath>
    <ellipse transform="rotate(-4.957 24.377 23.46) scale(1.00004)" class="st1" cx="24.4" cy="23.5" rx="17.9"
             ry="17.9"></ellipse>
    <ellipse transform="rotate(-4.957 25.58 22.028) scale(1.00004)" cx="25.6" cy="22" rx="16.6" ry="16.6"
             clip-path="url(#clip-path-token-5-level-2)" fill="#ffef00"></ellipse>
    <path transform="rotate(-29.704 24.63 22.811)" class="st1" d="M22.3 3.1H27v39.4h-4.7z"></path></svg>

<svg *ngIf="gameService.level === 3" class="level3" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
     y="0" viewBox="0 0 46.5 47">
    <ellipse transform="rotate(-54.639 24.127 23.46)" cx="24.1" cy="23.5" rx="19.8" ry="19.8" fill="#fff"></ellipse>
    <defs><ellipse id="ellipse-token-5-level-3" transform="rotate(-58.352 24.126 23.459)" cx="24.1" cy="23.5" rx="17.9" ry="17.9"></ellipse></defs>
    <use xlink:href="#ellipse-token-5-level-3" overflow="visible" fill="#00babb"></use>
    <clipPath id="clip-path-token-5-level-3"><use xlink:href="#ellipse-token-5-level-3" overflow="visible"></use></clipPath>
    <ellipse transform="rotate(-58.352 24.126 23.459)" class="st1" cx="24.1" cy="23.5" rx="17.9" ry="17.9"></ellipse>
    <ellipse transform="rotate(-58.352 22.306 23.89)" cx="22.3" cy="23.9" rx="16.6" ry="16.6" clip-path="url(#clip-path-token-5-level-3)"
             fill="#00babb"></ellipse>
    <path transform="rotate(-83.102 23.533 23.825)" class="st1" d="M3.8 21.5h39.4v4.7H3.8z"></path></svg>
