.level1 {
  .st1{display:inline}
  .st19{fill:white}
}
.level2 {
  .st1 {
    clip-path: url(#clip-path-token-5-level-2);
    fill: #f3c108
  }
}
.level3 {
  .st1 {
    clip-path: url(#clip-path-token-5-level-3);
    fill: #008384
  }
}
