<div fxFlex="grow" fxLayout="column" class="violet-background">
  <app-monitor-container [logo]="'mente-adivina'" fxFlex="85">
    <div fxFill fxLayout="column" fxLayoutAlign="start center" >
      <div fxLayout="row" class="full-width" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div
              class="level-button" [ngClass]="'level-' + level" fxLayout="column" fxLayoutAlign="center center">
          <div class="level">Nivel {{level}}</div>
        </div>
        <ul class="violet-text">
          <li>+{{info.age}} AÑOS</li>
          <li>{{info.description | uppercase}}</li>
        </ul>
      </div>
      <div fxLayout="column">
        <div *ngFor="let cateogry of info.categories, let i = index" fxLayoutGap="5px">
          <span class="category" [ngClass]="'category-' + (i + 1)">{{cateogry.name}}:</span>
          <span class="gray-text">{{cateogry.text}}</span>
        </div>
      </div>
    </div>
  </app-monitor-container>
  <div class="full-width" fxFlex="8">
    <app-back-button></app-back-button>
  </div>
  <app-close-button *ngIf="!hideCloseButton" style="position: absolute; right: 1vw; top: 1vw;"></app-close-button>
</div>
