@import "../../../../variables";
.gray-text {
  color: $gray-color;
  font-size: 20px;
  text-align: center;
}
.violet-text {
  color: $violet-color;
  font-size: 26px;
  font-weight: 500;
}

.level-button {
  border-radius: 25px;
  width: 150px;
  height: 50px;
  font-size: 28px;
  font-weight: 500;
  color: white;
}

.level-1 {
  background-color: $green-color;
}
.level-2 {
  background-color: $orange-color;
}
.level-3 {
  background-color: $black-color;
}
.category-1 {
  color: $green-category;
}
.category-2 {
  color: $blue-category;
}
.category-3 {
  color: $fuchsia-category;
}
.category-4 {
  color: $orange-category;
}
.category {
  font-size: 20px;
  font-weight: 500;
}
