// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

* {
  font-family: Roboto, sans-serif;
  user-select: none;
}
.nunito {
  font-family: Nunito, sans-serif;
  line-height: 1.3;
}

.violet-background {
  background: url("assets/images/backgrounds/violet-background.svg") center center no-repeat;
  background-size: cover;
}
.background-level-1 {
  background: url("assets/images/backgrounds/green-background.svg") center center no-repeat;
  background-size: cover;
}

.background-level-2 {
  background: url("assets/images/backgrounds/orange-background.svg") center center no-repeat;
  background-size: cover;
}

.background-level-3 {
  background: url("assets/images/backgrounds/black-background.svg") center center no-repeat;
  background-size: cover;
}

.full-width {
  width: 100%;
}

* {
  outline: none;
}

app-back-button,
app-first-level-button,
app-second-level-button,
app-third-level-button,
app-card-player,
app-music-button,
app-sound-button,
app-language-button,
app-tutorial-button,
#exit-game,
#next-arrow,
#prev-arrow,
#roulette-start,
#boton,
app-correct-button,
app-options-button,
app-wrong-button,
app-answer-button,
#category-orange,
#category-blue,
#category-fuchsia,
#category-green,
#random {
  cursor: pointer!important;
}