$green-color: #CDDC29 !default;
$orange-color: #FEBE10 !default;
$black-color: black !default;
$violet-color: #92278F !default;
$gray-color: #6d6e71 !default;

$green-category: #00B3AA;
$blue-category: #00AEEF;
$fuchsia-category: #EC008C;
$orange-category: #FAA61A;

$red-select-player: #ed1941;
$light-blue-select-player: #00aeef;
$yellow-select-player: #ffe600;
$green-select-player: #0db14b;
