<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     xmlns:xhtml="http://www.w3.org/1999/xhtml" viewBox="0 0 691.3 485.3"  fxFlex="grow">
  <path d="M640.1 30c18.5-1.4 35.1 13.5 36.7 33.3l4.2 365c1.7 19.7-12.1 37.1-30.6 38.5l-576 9.2c-18.5 1.4-35.1-13.5-36.7-33.3L6.8 98.7C5.2 79 18.9 61.7 37.5 60.2L640.1 30z" style="opacity:.7;fill:#7a1878"></path>
  <path d="M648.1 39.2c18.6-.6 34.3 15.2 35 35l-20 354.9c.7 19.8-14 36.4-32.6 37L59.5 448c-18.6.6-34.3-15.2-35-35l-13-344.9c-.7-19.8 14-36.4 32.6-37l604 8.1z" style="fill:#b1b3b6"></path>
  <path d="M628.5 60.5c16.7-.5 30.9 13.1 31.4 30.2l-19.6 322.1c.6 17.1-12.7 31.5-29.4 32L77.6 426c-16.7.5-30.9-13.1-31.4-30.2L34.4 84.9c-.6-17.1 12.7-31.5 29.4-32l564.7 7.6z" class="st2"></path>
    <g id="logo">
        <path d="M401.4 66.7l-.3-53c-.4-4.6-5.2-8-10.8-7.6l-95 4.6c-5.6.4-9.9 4.5-9.5 9.1l4.2 55.4c.4 4.6 5.2 8 10.8 7.6 0 0 1.5 3.8 6 3.5 1.9-.1 5.3-2 5.3-4.3l70.2-5.7c.3 2.4 2.9 4.3 5.5 4.1 2.8-.2 5.2-2.2 5.1-4.7 5.3-.8 8.8-4.7 8.5-9z" style="fill:#9b9da0"></path>

        <foreignObject x="292" y="10" width="105" height="80" >
            <xhtml:div style="width: 105px; height: 80px">
                <app-categories-logo fxFlex="grow" *ngIf="logo === 'categories'"></app-categories-logo>
                <app-mente-adivina-logo fxFlex="grow" *ngIf="logo === 'mente-adivina'"></app-mente-adivina-logo>
                <app-divermente-logo fxFlex="grow" *ngIf="logo === 'divermente'"></app-divermente-logo>
            </xhtml:div>
        </foreignObject>
    </g>
  <foreignObject width="570" height="335" x="65" y="90">
    <xhtml:div style="width: 570px; height: 355px;">
      <ng-content></ng-content>
    </xhtml:div>
  </foreignObject>
</svg>
