.level1 {
  .st1 {
    display: inline
  }

  .st19 {
    fill: #ffffff
  }
}

.level2 {
  .st1 {
    clip-path: url(#clip-path-token-1-level-2);
    fill: #80af35
  }
}

.level3 {
  .st1 {
    clip-path: url(#clip-path-token-1-level-3);
    fill: #af1016
  }
}
