<svg *ngIf="gameService.level === 1" xmlns="http://www.w3.org/2000/svg" class="level1"
     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 46.2 49">
    <g>
        <ellipse transform="rotate(-36.817 23.498 24.998)" class="st19" cx="23.5" cy="25" rx="19.8" ry="19.8"></ellipse>
        <defs>
            <ellipse id="f" transform="rotate(-40.527 23.5 25)" cx="23.5" cy="25" rx="17.9" ry="17.9"></ellipse>
        </defs>
        <clipPath id="g">
            <use xlink:href="#f" overflow="visible"></use>
        </clipPath>
        <ellipse transform="rotate(-40.527 23.5 25)" cx="23.5" cy="25" rx="17.9" ry="17.9" clip-path="url(#g)"
                 fill="#dc721c"></ellipse>
        <ellipse transform="rotate(-40.527 23.646 23.136)" cx="23.6" cy="23.1" rx="16.6" ry="16.6"
                 clip-path="url(#g)" fill="#f7941d"></ellipse>
        <path clip-path="url(#g)" fill="none" stroke="#dc721c" stroke-width="4.666" stroke-miterlimit="10"
              d="M41.2 32.6L5.4 16.1"></path>
    </g>
</svg>

<svg *ngIf="gameService.level === 2" class="level2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
     y="0" viewBox="0 0 46.5 47" xml:space="preserve">
    <ellipse transform="rotate(-36.817 23.693 23.014)" cx="23.7" cy="23" rx="19.8" ry="19.8" fill="#fff"></ellipse>
    <defs><ellipse id="ellipse-token-1-level-2" transform="rotate(-40.527 23.695 23.016)" cx="23.7" cy="23" rx="17.9" ry="17.9"></ellipse></defs>
    <clipPath id="clip-path-token-1-level-2"><use xlink:href="#ellipse-token-1-level-2" overflow="visible"></use></clipPath>
    <ellipse transform="rotate(-40.527 23.695 23.016)" class="st1" cx="23.7" cy="23" rx="17.9" ry="17.9"></ellipse>
    <ellipse transform="rotate(-40.527 23.841 21.152)" cx="23.8" cy="21.2" rx="16.6" ry="16.6"
             clip-path="url(#SVGID_2_)" fill="#95c93d"></ellipse>
    <path transform="rotate(-65.273 23.526 22.34)" class="st1" d="M21.2 2.6h4.7V42h-4.7z"></path></svg>


<svg *ngIf="gameService.level === 3" class="level3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
     y="0" viewBox="0 0 46.5 47" xml:space="preserve">
    <circle cx="24.6" cy="23.5" r="19.8" fill="#fff"></circle>
    <defs><ellipse id="ellipse-token-1-level-3" transform="rotate(-3.711 24.627 23.46)" cx="24.6" cy="23.5" rx="17.9" ry="17.9"></ellipse></defs>
    <use xlink:href="#ellipse-token-1-level-3" overflow="visible" fill="#af1016"></use>
    <clipPath id="clip-path-token-1-level-3"><use xlink:href="#ellipse-token-1-level-3" overflow="visible"></use></clipPath>
    <ellipse transform="rotate(-3.711 24.627 23.46)" class="st1" cx="24.6" cy="23.5" rx="17.9" ry="17.9"></ellipse>
    <ellipse transform="rotate(-3.711 23.22 22.226)" cx="23.2" cy="22.2" rx="16.6" ry="16.6" clip-path="url(#clip-path-token-1-level-3)"
             fill="#ed1c24"></ellipse>
    <path transform="rotate(-28.454 23.988 23.189)" class="st1" d="M4.3 20.9h39.4v4.7H4.3z"></path></svg>
