<div fxFlex="grow" [ngClass]=" 'background-level-' + (gameService.level)" style="position: relative"
     xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <svg fxFlex="grow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="enable-background:new 0 0 1063 595.3" viewBox="165 30 720 480">
    <g id="RELOJ">
      <path d="M272.8 77.6c-21.6-1-39.9 12.3-40.8 29.7l.4 341.9c-.9 17.4 16.1 32.4 37.7 33.4l527.6 4.4c21.6 1 39.9-18 40.8-35.4l6.7-286.8-44.1-2c-48.3 14.7-59 16.7-59 0l2.7-72.3-472-12.9z" [ngClass]="'shadow-level-' + gameService.level"></path>
      <path d="M849.1 277.4h17.5V320h-17.5z" class="st18" transform="matrix(.9962 .08704 -.08704 .9962 29.2502 -73.531)"></path>
      <linearGradient id="roulette-linear-gradient-1" x1="839.0179" x2="839.0179" y1="251.8773" y2="339.4533" gradientTransform="matrix(.9962 .08704 -.08704 .9962 28.7857 -73.6722)" gradientUnits="userSpaceOnUse">
        <stop offset="0" style="stop-color:#77787b"></stop>
        <stop offset=".5261" style="stop-color:#878787"></stop>
        <stop offset="1" style="stop-color:#595959"></stop>
      </linearGradient>
      <path style="fill:url(#roulette-linear-gradient-1)" d="M849.9 328.5l-27.9-2.4 6-68.8 27.9 2.5z"></path>
      <path d="M774.5 152.5c-7.8 0-14.2-6.4-14.2-14.2v-64l-507.4 5.2c-21.6-.7-39.7 13.1-40.3 30.5L225 444.9c-.6 17.5 16.6 32.3 38.2 33l520.2.2c21.6.7 39.7-18.7 40.3-36.2l4.4-289.3h-53.6z" style="fill:#656668"></path>
      <path d="M285.3 69.5s-6.6-23.3 15.6-25c22.1-1.7 18.5 23.4 18.5 23.4l-34.1 1.6z" style="fill:#ed1c24"></path>
      <radialGradient id="roulette-linear-gradient-2" cx="642.0869" cy="-657.076" r="12.925" gradientTransform="matrix(1.3321 .00758 -.02572 .998 -570.1072 707.9249)" gradientUnits="userSpaceOnUse">
        <stop offset="0" style="stop-color:#fff;stop-opacity:0"></stop>
        <stop offset="1" style="stop-color:#525252"></stop>
      </radialGradient>
      <path d="M285.3 69.5s-6.6-23.3 15.6-25c22.1-1.7 18.5 23.4 18.5 23.4l-34.1 1.6z" style="fill:url(#roulette-linear-gradient-2)"></path>
      <path style="fill:#58595b" d="M281.8 77.2l-1-8.7 41.5-.7-1.8 8.4z"></path>
      <path d="M193 280.4h14.3V315H193z" class="st18" transform="matrix(-.9928 .1194 -.1194 -.9928 434.4008 569.4278)"></path>
      <linearGradient id="roulette-linear-gradient-3" x1="213.1395" x2="213.1395" y1="273.7838" y2="320.1459" gradientTransform="matrix(.9928 -.1194 .1194 .9928 -33.8458 26.8983)" gradientUnits="userSpaceOnUse">
        <stop offset="0" style="stop-color:#77787b"></stop>
        <stop offset=".5261" style="stop-color:#878787"></stop>
        <stop offset="1" style="stop-color:#595959"></stop>
      </linearGradient>
      <path style="fill:url(#roulette-linear-gradient-3)" d="M198.4 268.7l22.6-3.2 3.5 56.1-19.4 2.7z"></path>
      <path d="M779.5 149.5c-7.8 0-14.2-6.4-14.2-14.2v-64l-504.4 5.2c-21.6-.7-39.7 13.1-40.3 30.5L233 441.9c-.6 17.5 16.6 32.3 38.2 33l520.2.2c21.6.7 39.7-18.7 40.3-36.2l4.4-289.3h-56.6z" class="st25"></path>
      <path d="M326.5 228.5v8.3l-48.9-.1-.1-8.3zM326.4 211.3v8.3l-48.9-.1-.1-8.3zM326.2 194.1l.1 8.3h-49V194zM326.1 176.9l.1 8.3h-49l-.1-8.3zM326 159.8v8.3l-48.9-.1-.1-8.3zM325.8 142.6l.1 8.3-48.9-.1-.1-8.3zM325.7 125.4l.1 8.3-49-.1v-8.3zM325.6 108.2v8.3h-48.9l-.1-8.3z" class="st27"></path>
      <path d="M326.5 227.5v8.3l-48.9-.1-.1-8.3zM326.4 210.3v8.3l-48.9-.1-.1-8.3zM326.2 193.1l.1 8.3h-49V193zM326.1 175.9l.1 8.3h-49l-.1-8.3zM326 158.8v8.3l-48.9-.1-.1-8.3zM325.8 141.6l.1 8.3-48.9-.1-.1-8.3zM325.7 124.4l.1 8.3-49-.1v-8.3zM325.6 107.2v8.3h-48.9l-.1-8.3z" class="st28"></path>
      <g>
        <path d="M285.1 357.8l3.1 10.5s6.4 5.2 12.5 4.5c8.3-.9 13.9-6.7 14.8-10.2l-.2-8.7-30.2 3.9z" class="st18"></path>
        <ellipse cx="300" cy="354.4" class="st29" rx="15.2" ry="14" transform="matrix(.9992 -.03941 .03941 .9992 -13.7353 12.0972)"></ellipse>
        <ellipse cx="300.1" cy="355.2" class="st30" rx="12.2" ry="11.1" transform="matrix(.9992 -.03941 .03941 .9992 -13.7674 12.1013)"></ellipse>
      </g>
      <g>
        <path d="M289 321.7l2.3 7.8s4.7 3.9 9.3 3.3c6.2-.7 10.3-5 11-7.6l-.1-6.5-22.5 3z" class="st18"></path>
        <ellipse cx="300" cy="319.2" class="st29" rx="11.3" ry="10.4" transform="matrix(.9992 -.03941 .03941 .9992 -12.3466 12.0714)"></ellipse>
        <ellipse cx="300.1" cy="319.8" class="st30" rx="9" ry="8.3" transform="matrix(.9992 -.03941 .03941 .9992 -12.3704 12.0744)"></ellipse>
      </g>
      <g>
        <path d="M289 288.3l2.3 7.8s4.7 3.9 9.3 3.3c6.2-.7 10.3-5 11-7.6l-.1-6.5-22.5 3z" class="st18"></path>
        <ellipse cx="300" cy="285.9" class="st29" rx="11.3" ry="10.4" transform="matrix(.9992 -.03941 .03941 .9992 -11.0326 12.0455)"></ellipse>
        <ellipse cx="300.1" cy="286.5" class="st30" rx="9" ry="8.3" transform="matrix(.9992 -.03941 .03941 .9992 -11.0564 12.0485)"></ellipse>
      </g>
      <path d="M801.3 447.3h-76.7l-.8-32.7 79.6-1.4z" class="st31"></path>
      <path style="fill:#abadb0" d="M797.7 443.9h-66.8l-1.2-2.6.5-21.1 68.3-3 1 2z"></path>
      <path d="M796.5 441.9h-66.9l-.7-23.7 69.4-1z" class="st33"></path>
      <path style="opacity:.31;fill:none;stroke:#77787b;stroke-miterlimit:10" d="M763.6 417.2v24.7"></path>
      <g>
        <ellipse cx="243.8" cy="97.2" class="st35" rx="4.3" ry="4.3" transform="rotate(-77.238 243.79213916 97.20860824)"></ellipse>

        <clipPath id="roulette-clip-path-2">
          <ellipse cx="244" cy="96.8" rx="4" ry="4" transform="rotate(-77.238 244.00240064 96.8400188)"></ellipse>
        </clipPath>
        <path style="clip-path:url(#roulette-clip-path-2);fill:none;stroke:#717375;stroke-width:1.1037;stroke-miterlimit:10" d="M239.8 99.5l9.4-6.2"></path>
      </g>
      <g>
        <ellipse cx="751.8" cy="84.8" class="st35" rx="4.2" ry="4.2" transform="matrix(.9709 -.2393 .2393 .9709 1.5516 182.368)"></ellipse>
        <clipPath id="roulette-clip-path-3">
          <ellipse  cx="752.2" cy="84.8" rx="3.9" ry="3.9" transform="matrix(.9709 -.2393 .2393 .9709 1.5583 182.4677)"></ellipse>
        </clipPath>
        <path style="clip-path:url(#roulette-clip-path-3);fill:none;stroke:#717375;stroke-width:1.0788;stroke-miterlimit:10" d="M748.1 82.3l9.5 5.5"></path>
      </g>
      <g>
        <ellipse cx="820.8" cy="166.8" class="st35" rx="4.2" ry="4.2" transform="matrix(.9709 -.2393 .2393 .9709 -16.0694 201.2743)"></ellipse>
        <clipPath id="roulette-clip-path-4">
          <ellipse cx="821.2" cy="166.8" rx="3.9" ry="3.9" transform="matrix(.9709 -.2393 .2393 .9709 -16.0627 201.3741)"></ellipse>
        </clipPath>
        <path style="clip-path:url(#roulette-clip-path-4);fill:none;stroke:#717375;stroke-width:1.0788;stroke-miterlimit:10" d="M817.1 164.3l9.5 5.5"></path>
      </g>
      <path d="M725.5 329.5h21.4V363h-21.4zM752.3 329.5h21.4V363h-21.4zM779.1 329.5h21.4V363h-21.4zM725.5 369.5h21.4V403h-21.4zM752.3 369.5h21.4V403h-21.4zM779.1 369.5h21.4V403h-21.4z" class="st39"></path>
      <g>
        <path d="M339.7 435.8l-.2-35c-.2-3-3.4-5.3-7.1-5l-62.7 3c-3.7.3-6.5 3-6.3 6l2.8 36.6c.2 3 3.4 5.3 7.1 5 0 0 1 2.5 4 2.3 1.3-.1 3.5-1.3 3.5-2.8l46.4-3.8c.2 1.6 1.9 2.8 3.7 2.7 1.9-.1 3.4-1.5 3.4-3.1 3.3-.4 5.6-3 5.4-5.9z" class="st29"></path>
        <path d="M329.9 399.5c3.3-.3 6.2 1.7 6.4 4.3l.1 30.4c.2 2.6-2.4 5-5.7 5.3l-53.7 4.1c-3.3.3-6.2-1.7-6.4-4.3l-2.4-31.8c-.2-2.6 2.4-5 5.7-5.3l56-2.7z" style="fill:none;stroke:#6d6e71;stroke-width:.1318;stroke-miterlimit:10"></path>
        <path d="M329.4 398.8c3.4-.3 6.3 1.7 6.5 4.4l.1 30.6c.2 2.7-2.4 5-5.7 5.3l-54.1 4.1c-3.4.3-6.3-1.7-6.5-4.4l-2.4-32c-.2-2.7 2.4-5 5.7-5.3l56.4-2.7z" class="st41"></path>
        <ellipse cx="278.7" cy="417.5" rx=".5" ry=".5" transform="rotate(-36.496 278.74491843 417.54014543)" style="fill:#babcbe"></ellipse>
        <path style="fill:none;stroke:#616264;stroke-width:.1699;stroke-miterlimit:10" d="M278.1 417.4l1.3.4"></path>
        <path d="M272.7 406.7c-.6.3-.8 1-.5 1.6l5.3 10.6c.3.6 1 .8 1.6.5.6-.3.8-1 .5-1.6l-5.3-10.6c-.3-.5-1-.8-1.6-.5z" class="st44"></path>
        <path d="M282.3 406c-.6-.2-1.3.2-1.5.8l-3.4 11.4c-.2.6.2 1.3.8 1.5.6.2 1.3-.2 1.5-.8l3.4-11.4c.2-.7-.2-1.4-.8-1.5z" class="st44"></path>
        <path d="M272.6 406.6c-.6 0-1.1.5-1.1 1.2l.3 11.3c0 .6.5 1.1 1.2 1.1.6 0 1.1-.5 1.1-1.2l-.3-11.3c0-.6-.6-1.1-1.2-1.1zM282.3 406.2c-.6.1-1.1.6-1 1.2l1.1 11.2c.1.6.6 1.1 1.2 1 .6-.1 1.1-.6 1-1.2l-1.1-11.2c0-.6-.6-1.1-1.2-1z" class="st45"></path>
        <ellipse cx="272.6" cy="408" class="st46" rx=".5" ry=".5" transform="matrix(.9971 -.07593 .07593 .9971 -30.1931 21.8746)"></ellipse>
        <path d="M272.1 407.5l.9 1.1" class="st47"></path>
        <path d="M296 425.7c-.6.1-1 .5-1 .9l.8 8.3c0 .5.6.8 1.2.7.6-.1 1-.5 1-.9l-.8-8.3c-.1-.4-.6-.7-1.2-.7z" style="fill:#c6168d;stroke:#c6168d;stroke-width:.6357;stroke-miterlimit:10"></path>
        <path d="M306.6 424.6c-.6-.1-1.1.2-1.2.6l-2.1 8.8c-.1.5.2 1 .8 1.1.6.1 1.1-.2 1.2-.6l2.1-8.8c.1-.4-.2-1-.8-1.1z" class="st44"></path>
        <path d="M299.3 425.6c-.5.3-.7.9-.5 1.3l4.4 7.9c.2.4.9.6 1.4.3.5-.3.7-.9.5-1.3l-4.4-7.9c-.3-.4-.9-.6-1.4-.3z" class="st45"></path>
        <path d="M305.7 411.6s-.5-4.1-4.3-3.4c-3.4.6-3.6 4.8-3.5 5.4.1.6 1.6.9 1.4-.3-.2-1.2.6-3.2 2.4-3.4s2.8 1.5 2.8 1.8c0 .3 1.3-.1 1.4-.1 0-.1-.2 0-.2 0z" class="st49"></path>
        <path d="M297.9 408.5c-.6.1-1 .5-.9 1l1.2 8.3c.1.5.6.8 1.2.7.6-.1 1-.5.9-1l-1.2-8.3c-.1-.5-.6-.8-1.2-.7z" class="st50"></path>
        <ellipse cx="298.4" cy="411.3" class="st46" rx=".5" ry=".5" transform="matrix(.9813 -.1927 .1927 .9813 -73.6653 65.2195)"></ellipse>
        <path d="M297.9 410.9l1.1.9" class="st51"></path>
        <path d="M304.8 409.2c-.5 0-.9.4-.9.8l.3 7.2c0 .4.4.7 1 .7.5 0 .9-.4.9-.8l-.3-7.2c0-.4-.4-.7-1-.7z" class="st50"></path>
        <ellipse cx="305.1" cy="410.4" class="st46" rx=".5" ry=".5" transform="matrix(.9996 -.02969 .02969 .9996 -12.0487 9.2377)"></ellipse>
        <path d="M304.7 410l.8.9" class="st51"></path>
        <path d="M322.5 426.5s-.5-4.1-4.3-3.4c-3.4.6-3.6 4.8-3.5 5.4.1.6 1.6.9 1.4-.3-.2-1.2.6-3.2 2.4-3.4 1.7-.2 2.8 1.5 2.8 1.8 0 .3 1.3-.1 1.4-.1.1-.1-.2 0-.2 0z" style="fill:#008fd5;stroke:#008fd5;stroke-width:.6357;stroke-miterlimit:10"></path>
        <path d="M314.7 423.4c-.6.1-1 .5-.9 1l1.2 8.3c.1.5.6.8 1.2.7.6-.1 1-.5.9-1l-1.2-8.3c0-.5-.6-.8-1.2-.7z" class="st53"></path>
        <ellipse cx="315.3" cy="426.2" class="st46" rx=".5" ry=".5" transform="matrix(.9813 -.1927 .1927 .9813 -76.2183 68.7449)"></ellipse>
        <path d="M314.8 425.7l1 1" class="st54"></path>
        <path d="M321.9 424.1c-.5 0-.9.4-.9.8l.3 7.2c0 .4.4.7 1 .7.5 0 .9-.4.9-.8l-.3-7.2c-.1-.4-.5-.7-1-.7z" class="st53"></path>
        <ellipse cx="321.9" cy="425.3" class="st46" rx=".5" ry=".5" transform="matrix(.9996 -.02969 .02969 .9996 -12.4831 9.7443)"></ellipse>
        <path d="M321.6 424.8l.7 1" class="st54"></path>
        <ellipse cx="282.6" cy="407.8" class="st46" rx=".5" ry=".5" transform="rotate(-27.847 282.60778058 407.78415969)"></ellipse>
        <path d="M282.9 407.2l-.7 1.2" class="st47"></path>
        <path d="M292.4 432.2s-1.6 4.6-5.2 4.1c-3.7-.5-3.7-4.2-3.7-4.9s1.7-1.3 1.9-.1c.2 1.3 1.1 3.1 2.4 3.3 2.1.4 3.2-2.5 3.2-2.8-.1-.4 1.4.4 1.4.4z" class="st55"></path>
        <path d="M281.4 432.9s-.7 4.1-4 4.5c-3.4.4-3.7-1.9-3.7-2.5-.1-.9 1-1.3 1.5-.4.5 1 1.4 1.2 2.6 1.1 2-.2 2.7-3.2 2.8-3.5.1-1.1.8.8.8.8z" class="st49"></path>
        <path d="M295.5 412.4s-1.4-4.1-5.2-3.3c-4.1.9-3.7 4.9-3.5 5.5.1.7 2.3.6 1.9-.6-.4-1.2.1-3 2-3.5 1.9-.4 3.3 1.7 3.3 2.1 0 .3 1.3-.2 1.5-.2z" class="st56"></path>
        <path d="M292.1 429.7s-1.6-4-5.1-3.3c-3.9.7-3.3 5-3.2 5.6.3 1.3 2.4 1 2-.5-.3-1.2.2-3.1 1.9-3.5 1.7-.3 2.9 1.5 2.9 1.9 0 .3 1.3-.2 1.5-.2z" style="fill:#a6ce39;stroke:#a6ce39;stroke-width:.6357;stroke-miterlimit:10"></path>
        <path d="M286.8 414.4s-.2 4 3.5 4.8c3.8.8 5.7-2.4 5.9-3 .2-.7-.9-1.7-1.5-.7-.7 1.2-2.3 2.2-3.6 2-2.2-.4-2.5-2.7-2.4-3 .2-.3-1.9-.1-1.9-.1z" class="st56"></path>
        <path d="M281.4 430.6s-.1-3.6-3.4-3.7c-3.3-.2-4.8 2.8-4.9 3.5-.1.7 1 1.5 1.4.4.4-1.2 1.9-2.1 3-2.1 1.9 0 2.7 1.8 2.7 2.1-.1.3 1.2-.2 1.2-.2z" class="st49"></path>
        <path d="M280.7 430.6s-.7-.3-3.5.5c-3.5 1.1-3.6 2.7-3.4 3.5.2 1 1.4 1 1.5 0 .2-1.1 1.1-1.6 2.2-2.1 1.8-.8 3.2-.8 3.2-.6v-1.3z" class="st49"></path>
        <path d="M295.3 413.4l-7.7 2.1c-.4.1-.8-.1-.9-.4l-.1-.2c-.1-.4.1-.8.4-.9l7.7-2.1c.4-.1.8.1.9.4l.1.2c.1.4-.1.7-.4.9z" style="fill:#fdb714;stroke:#fdb714;stroke-width:.6357;stroke-miterlimit:10"></path>
        <ellipse cx="287.8" cy="414.7" class="st46" rx=".4" ry=".4" transform="rotate(-41.384 287.7980487 414.67565082)"></ellipse>
        <path d="M287.9 414.1l-.3 1.2" class="st59"></path>
        <ellipse cx="294.8" cy="412.7" class="st46" rx=".4" ry=".4" transform="rotate(-45.203 294.79217138 412.66714688)"></ellipse>
        <path d="M295.3 412.7l-1.1-.2" class="st59"></path>
        <path d="M324.7 412.2s.5-4.3-3.2-5.2c-4.1-1-5.5 2.7-5.6 3.4-.2.7 1.7 1.6 2 .3.2-1.3 1.5-2.7 3.3-2.2s2.1 3 2 3.3c-.1.3 1.3.4 1.4.4h.1z" class="st55"></path>
        <path d="M316 410.1s-1.9 3.5 1 5.9c3 2.4 6.1.4 6.6-.1s0-1.9-1-1.3c-1.1.7-3.1.9-4.1.2-1.8-1.3-1-3.5-.8-3.7s-1.7-1-1.7-1z" class="st55"></path>
        <path d="M324 413l-7.8-1.5c-.4-.1-.6-.4-.6-.8v-.2c.1-.4.4-.6.8-.6l7.8 1.5c.4.1.6.4.6.8v.2c0 .4-.4.6-.8.6z" class="st60"></path>
        <ellipse cx="316.8" cy="410.8" class="st46" rx=".4" ry=".4" transform="rotate(-14.738 316.80078135 410.84137463)"></ellipse>
        <path d="M317.1 410.4l-.8.9" class="st61"></path>
        <g>
          <ellipse cx="323.9" cy="412.2" class="st46" rx=".4" ry=".4" transform="rotate(-18.558 323.90625712 412.11035303)"></ellipse>
          <path d="M324.4 412.5l-.9-.7" class="st61"></path>
        </g>
        <g>
          <ellipse cx="278.6" cy="417.3" class="st46" rx=".5" ry=".5" transform="rotate(-36.496 278.5926168 417.25809038)"></ellipse>
          <path style="fill:#782b90;stroke:#782b90;stroke-width:.2119;stroke-miterlimit:10" d="M277.9 417.1l1.4.4"></path>
        </g>
        <g>
          <path d="M309.6 416.6c1.6 1.6 4.1.6 4.6.3.5-.4.3-1.7-.7-1.3-1.1.4-2.7 0-3.2-1" class="st63"></path>
          <path d="M309.9 404.2c-.6 0-1.1.5-1.1 1.1l.3 10.9c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1l-.3-10.9c0-.7-.5-1.1-1.1-1.1z" style="fill:#ed037c;stroke:#ed037c;stroke-width:.6357;stroke-miterlimit:10"></path>
          <ellipse cx="310.3" cy="416" class="st46" rx=".5" ry=".5" transform="matrix(.9971 -.07593 .07593 .9971 -30.6928 24.762)"></ellipse>
          <path style="fill:none;stroke:#ed037c;stroke-width:.2054;stroke-miterlimit:10" d="M309.9 415.6l.8 1"></path>
          <path d="M312.4 408.6l-4.6.7c-.4.1-.7-.2-.8-.6-.1-.4.2-.7.6-.8l4.6-.7c.4-.1.7.2.8.6.1.4-.2.8-.6.8z" class="st63"></path>
          <g>
            <ellipse cx="310" cy="408.3" class="st46" rx=".4" ry=".4" transform="matrix(.9971 -.07593 .07593 .9971 -30.1077 24.7192)"></ellipse>
            <path style="fill:#bf1c7e;stroke:#bf1c7e;stroke-width:.2119;stroke-miterlimit:10" d="M309.7 407.9l.6.8"></path>
          </g>
        </g>
        <path d="M280.5 427.9c-.4.1-.8.4-.7.8l1 7.3c.1.4.5.7.9.6.4-.1.8-.4.7-.8l-1-7.3c-.1-.4-.5-.7-.9-.6z" class="st50"></path>
        <g>
          <ellipse cx="280.7" cy="428.9" class="st46" rx=".4" ry=".4" transform="matrix(.9689 -.2476 .2476 .9689 -97.4478 82.8391)"></ellipse>
          <path d="M280.3 428.6l.8.7" class="st51"></path>
        </g>
        <g>
          <ellipse cx="281.4" cy="434" class="st46" rx=".4" ry=".4" transform="matrix(.819 -.5737 .5737 .819 -198.0937 240.0171)"></ellipse>
          <path d="M281.6 433.6l-.4.9" class="st51"></path>
        </g>
        <g>
          <ellipse cx="274.5" cy="434.9" class="st46" rx=".4" ry=".4" transform="rotate(-25.92 274.5453904 434.9344916)"></ellipse>
          <path style="fill:none;stroke:#009a9a;stroke-width:.2231;stroke-miterlimit:10" d="M274.7 434.4l-.5 1"></path>
        </g>
        <path d="M332.8 428s-1.2 4-4.6 4c-3.5 0-3.4-2.3-3.4-2.9 0-.9 1.2-1.1 1.5-.2.4 1.1 1.3 1.4 2.4 1.4 2 0 3.1-2.9 3.2-3.1.4-1.2.9.8.9.8zM333.1 425.8s.3-3.6-2.9-4.1c-3.3-.6-5.1 2.2-5.3 2.9-.2.7.8 1.6 1.3.6.6-1.1 2.2-1.9 3.3-1.7 1.9.3 2.5 2.1 2.4 2.4-.1.2 1.2-.1 1.2-.1z" class="st68"></path>
        <path d="M332.4 425.7s-.7-.4-3.6.1c-3.6.6-3.9 2.2-3.8 3.1.1 1 1.2 1.1 1.5.2.3-1 1.3-1.4 2.4-1.8 1.9-.6 3.3-.4 3.3-.2s.2-1.4.2-1.4z" class="st68"></path>
        <path d="M332.5 422.9c-.5 0-.8.3-.8.7l.1 7.4c0 .4.4.7.8.7.5 0 .8-.3.8-.7l-.1-7.4c0-.3-.3-.7-.8-.7z" style="fill:#f47d20;stroke:#f47d20;stroke-width:.6357;stroke-miterlimit:10"></path>
        <g>
          <ellipse cx="332.6" cy="424" class="st46" rx=".4" ry=".4" transform="rotate(-7.16 332.6062723 424.03313743)"></ellipse>
          <path d="M332.2 423.6l.8.8" class="st70"></path>
        </g>
        <g>
          <ellipse cx="332.7" cy="429.2" class="st46" rx=".4" ry=".4" transform="rotate(-27.834 332.7524366 429.19695205)"></ellipse>
          <path d="M332.9 428.7l-.4.9" class="st70"></path>
        </g>
        <g>
          <ellipse cx="325.7" cy="428.9" class="st46" rx=".4" ry=".4" transform="matrix(.9469 -.3214 .3214 .9469 -120.5702 127.4316)"></ellipse>
          <path style="fill:#f04c23;stroke:#f04c23;stroke-width:.2119;stroke-miterlimit:10" d="M326 428.5l-.6.8"></path>
        </g>
        <path d="M292 422.4c-.6 0-1.2.4-1.2 1.1l-.6 11.5c0 .6.4 1.2 1.1 1.2.6 0 1.2-.4 1.2-1.1l.6-11.5c0-.6-.5-1.1-1.1-1.2z" class="st60"></path>
        <g>
          <ellipse cx="291.6" cy="431" class="st46" rx=".6" ry=".6" transform="rotate(-21.14 291.65648482 431.07981539)"></ellipse>
          <path d="M292 430.4l-.8 1.3" class="st61"></path>
        </g>
        <g>
          <ellipse cx="304" cy="434" class="st46" rx=".6" ry=".6" transform="rotate(-24.44 303.95829633 434.026259)"></ellipse>
          <path style="fill:#92278f;stroke:#92278f;stroke-width:.2119;stroke-miterlimit:10" d="M304.3 433.4l-.8 1.3"></path>
        </g>
        <g>
          <ellipse cx="284.8" cy="431.4" class="st46" rx=".5" ry=".5" transform="rotate(-63.442 284.77781912 431.41895605)"></ellipse>
          <path style="fill:#a6ce39;stroke:#a6ce39;stroke-width:.2119;stroke-miterlimit:10" d="M284.6 430.8l.2 1.4"></path>
        </g>
        <circle cx="295.8" cy="423.3" r="1.3" style="fill:#ec008c;stroke:#ec008c;stroke-width:.6357;stroke-miterlimit:10"></circle>
        <path d="M310.3 424.3c-.6.1-1 .5-1 .9l.8 8.3c0 .5.6.8 1.2.7.6-.1 1-.5 1-.9l-.8-8.3c-.1-.4-.6-.7-1.2-.7z" style="fill:#ffc20e;stroke:#ffc20e;stroke-width:.6357;stroke-miterlimit:10"></path>
        <circle cx="310.1" cy="421.9" r="1.3" style="fill:#fdb913;stroke:#fdb913;stroke-width:.6357;stroke-miterlimit:10"></circle>
      </g>
    </g>


    <g id="roulette-start">
      <foreignObject x="360" y="100" width="350" height="350">
        <xhtml:div style="width: 350px; height: 350px">
          <app-roulette-level-one *ngIf="gameService.level === 1" (doneAnimation)="isDone = true" fxFlex="grow"></app-roulette-level-one>
          <app-roulette-level-two *ngIf="gameService.level === 2" (doneAnimation)="isDone = true" fxFlex="grow"></app-roulette-level-two>
          <app-roulette-level-three *ngIf="gameService.level === 3" (doneAnimation)="isDone = true" fxFlex="grow"></app-roulette-level-three>
        </xhtml:div>
      </foreignObject>
    </g>
    <g class="player-turn">
      <path d="M19.7 5.4c-4.5-.2-8.4 2.6-8.6 6.4l.1 88.7c-.2 3.7 3.4 6.9 7.9 7.2l71.2 2.4c4.5.2 8.4-3.9 8.6-7.6l2.3-86.8c.2-3.7-3.4-6.9-7.9-7.2L19.7 5.4z" [ngClass]="'shadow-level-' + gameService.level"></path>
      <path d="M101.4 43.4h3.9v9.7h-3.9z" class="st1"></path>
      <path d="M95.9 39.4h6.3v15.8h-6.3z" class="st2"></path>
      <path d="M3.3 41.5h3.9v9.7H3.3z" class="st1" transform="rotate(-180 5.3053 46.3776)"></path>
      <path d="M6.5 39.4h6.3v15.8H6.5z" class="st2" transform="rotate(-180 9.64365 47.30795)"></path>
      <path d="M17.2 6.9c-4.5-.1-8.3 2.8-8.5 6.5l2.6 87.2c-.1 3.7 3.5 6.9 8 7.1h70.1c4.5.1 8.3-4 8.5-7.8L99 12.8c.1-3.7-3.5-6.9-8-7.1L17.2 6.9z" [attr.fill]="gameService.currentAnswerPlayer.color"></path>
      <g>
        <path d="M21.6 11.1c-4.1-.1-7.6 2.4-7.7 5.7L15.2 74c-.1 3.3 3.2 6.1 7.3 6.2l64.1-.5c4.1.1 7.6-2.4 7.7-5.7V17.5c.1-3.3-3.2-6.1-7.3-6.2l-65.4-.2zM86.3 103.1H23.8c-4.7 0-8.5-3.8-8.5-8.5v-1.4c0-4.7 3.8-8.5 8.5-8.5h62.4c4.7 0 8.5 3.8 8.5 8.5v1.4c.1 4.7-3.8 8.5-8.4 8.5z" class="st5"></path>
        <text x="55" text-anchor="middle" y="101" font-size="13">{{gameService.currentAnswerPlayer.name}}</text>
      </g>
      <svg x="0" y="0" width="110" height="120">
        <clipPath id="roulette-clip-path-turn-1">
          <path  d="M21.6 11.1c-4.1-.1-7.6 2.4-7.7 5.7L15.2 74c-.1 3.3 3.2 6.1 7.3 6.2l64.1-.5c4.1.1 7.6-2.4 7.7-5.7V17.5c.1-3.3-3.2-6.1-7.3-6.2l-65.4-.2z"></path>
        </clipPath>
        <g style="clip-path:url(#roulette-clip-path-turn-1)">

          <use id="card-robot"  [attr.xlink:href]="'assets/images/robots/robots_level' + gameService.level + '.svg#robot' + gameService.currentAnswerPlayer.robot.id">

          </use>
        </g>
      </svg>
    </g>
  </svg>
 <!-- <app-card-player style="position: absolute; width: 20%; height: 20%; top: 5%; right: 5%" [data]="gameService.players[gameService.currentTurn.answer]">
  </app-card-player>-->

</div>
