#RULETA_SOLA {

    .st1{fill:#d1d3d4}.st2{fill:#fff}.st8{fill:#ffdb00}.st9{fill:#92278f}.st10{fill:#f49ac1}.st11{fill:#939598}.st12{fill:#c7c8ca}.st13{fill:#ffc489}.st14{fill:#6dcff6}.st15{fill:#86dfd8}
}

#ROULETTE-TO-ROTATE {
  animation:spin 4s linear infinite;
  transform-origin: 50% 50%;
  /*transform: translate(160px, 40px) scale(0.75, 0.75);*/
}

#RELOJ {
  .st0{clip-path:url(#roulette-clip-path-1)}.st1{fill:#cddc29}.st3{opacity:.24}.st4{fill:#75c044}.st6{opacity:.34;clip-path:url(#roulette-clip-path-1)}.st7{fill:#bad532}.st10,.st8,.st9{opacity:.24;clip-path:url(#roulette-clip-path-1);fill:#72bf44}.st10,.st9{fill:#50b848}.st10{fill:#c6d92d}.st11{opacity:.24;fill:#50b848}.st13,.st15{opacity:.24;fill:#72bf44}.st15{opacity:.3}.st17{fill:#b1bf23}.st18{fill:#717375}.st25{fill:#939598}.st26{fill:#92278f}.st27{fill:#5f6062}.st28{fill:#c2c4c6}.st29{fill:#bcbec0}.st30{fill:#e9e9ea}.st31{opacity:.31;fill:#77787b}.st33{fill:#d1d3d4}.st35{fill:#7b7c7f}.st39{opacity:.7;fill:#77787b}.st41{fill:#fff}.st44,.st45{fill:#782b90;stroke:#782b90;stroke-width:.6357;stroke-miterlimit:10}.st45{fill:#92278f;stroke:#92278f}.st46{fill:#e6e7e8}.st47,.st49,.st50,.st51{fill:none;stroke:#92278f;stroke-width:.2119;stroke-miterlimit:10}.st49,.st50,.st51{fill:#009a9a;stroke:#009a9a;stroke-width:.6357}.st50,.st51{fill:#00babb;stroke:#00babb}.st51{stroke-width:.2119}.st53,.st54,.st55,.st56,.st59{fill:#00aeef;stroke:#00aeef;stroke-width:.6357;stroke-miterlimit:10}.st54,.st55,.st56,.st59{fill:none;stroke-width:.2119}.st55,.st56,.st59{fill:#8dc63f;stroke:#8dc63f;stroke-width:.6357}.st56,.st59{fill:#f99d1c;stroke:#f99d1c}.st59{fill:#fdb714;stroke:#fdb714;stroke-width:.2119}.st60,.st61,.st63,.st68,.st70{fill:#bfd730;stroke:#bfd730;stroke-width:.6357;stroke-miterlimit:10}.st61,.st63,.st68,.st70{stroke-width:.2119}.st63,.st68,.st70{fill:#bf1c7e;stroke:#bf1c7e;stroke-width:.6357}.st68,.st70{fill:#f04c23;stroke:#f04c23}.st70{fill:#f47d20;stroke:#f47d20;stroke-width:.2119}.st77{fill:#ec008c}.st80{fill:#00aeef}.st82{fill:#ffdb00}.st83{fill:#f49ac1}.st84{fill:#c7c8ca}.st85{fill:#ffc489}.st86{fill:#6dcff6}.st87{fill:#86dfd8}.st88{fill:#808285}.st91{fill:#0076c0}.st92{fill:none;stroke:#006fba;stroke-width:.176;stroke-miterlimit:10}.st95{fill:#f57e20}.st96{fill:#7f2a90}.st97{fill:#8c4d9e}.st99{fill:#ffd600}.st100{stroke:#fff;stroke-width:5.832749e-02;stroke-miterlimit:10}.st102{fill:#ee2831}.st103{fill:none;stroke:#fff;stroke-width:.4669;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}

}
#CLICK-TO-ROTATE {
  .st0{clip-path:url(#roulette-clip-path-1)}.st1{fill:#cddc29}.st3{opacity:.24}.st4{fill:#75c044}.st6{opacity:.34;clip-path:url(#roulette-clip-path-1)}.st7{fill:#bad532}.st10,.st8,.st9{opacity:.24;clip-path:url(#roulette-clip-path-1);fill:#72bf44}.st10,.st9{fill:#50b848}.st10{fill:#c6d92d}.st11{opacity:.24;fill:#50b848}.st13,.st15{opacity:.24;fill:#72bf44}.st15{opacity:.3}.st17{fill:#b1bf23}.st18{fill:#717375}.st25{fill:#939598}.st26{fill:#92278f}.st27{fill:#5f6062}.st28{fill:#c2c4c6}.st29{fill:#bcbec0}.st30{fill:#e9e9ea}.st31{opacity:.31;fill:#77787b}.st33{fill:#d1d3d4}.st35{fill:#7b7c7f}.st39{opacity:.7;fill:#77787b}.st41{fill:#fff}.st44,.st45{fill:#782b90;stroke:#782b90;stroke-width:.6357;stroke-miterlimit:10}.st45{fill:#92278f;stroke:#92278f}.st46{fill:#e6e7e8}.st47,.st49,.st50,.st51{fill:none;stroke:#92278f;stroke-width:.2119;stroke-miterlimit:10}.st49,.st50,.st51{fill:#009a9a;stroke:#009a9a;stroke-width:.6357}.st50,.st51{fill:#00babb;stroke:#00babb}.st51{stroke-width:.2119}.st53,.st54,.st55,.st56,.st59{fill:#00aeef;stroke:#00aeef;stroke-width:.6357;stroke-miterlimit:10}.st54,.st55,.st56,.st59{fill:none;stroke-width:.2119}.st55,.st56,.st59{fill:#8dc63f;stroke:#8dc63f;stroke-width:.6357}.st56,.st59{fill:#f99d1c;stroke:#f99d1c}.st59{fill:#fdb714;stroke:#fdb714;stroke-width:.2119}.st60,.st61,.st63,.st68,.st70{fill:#bfd730;stroke:#bfd730;stroke-width:.6357;stroke-miterlimit:10}.st61,.st63,.st68,.st70{stroke-width:.2119}.st63,.st68,.st70{fill:#bf1c7e;stroke:#bf1c7e;stroke-width:.6357}.st68,.st70{fill:#f04c23;stroke:#f04c23}.st70{fill:#f47d20;stroke:#f47d20;stroke-width:.2119}.st77{fill:#ec008c}.st80{fill:#00aeef}.st82{fill:#ffdb00}.st83{fill:#f49ac1}.st84{fill:#c7c8ca}.st85{fill:#ffc489}.st86{fill:#6dcff6}.st87{fill:#86dfd8}.st88{fill:#808285}.st91{fill:#0076c0}.st92{fill:none;stroke:#006fba;stroke-width:.176;stroke-miterlimit:10}.st95{fill:#f57e20}.st96{fill:#7f2a90}.st97{fill:#8c4d9e}.st99{fill:#ffd600}.st100{stroke:#fff;stroke-width:5.832749e-02;stroke-miterlimit:10}.st102{fill:#ee2831}.st103{fill:none;stroke:#fff;stroke-width:.4669;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}

}

.player-turn {
  transform: translate(770px, 35px);
  .st1{fill:#717375}.st2{fill:#808285}.st5{fill:#fff}.st7{fill:#00aeef}.st8{fill:#0076c0}.st9{fill:none;stroke:#006fba;stroke-width:.176;stroke-miterlimit:10}.st10{fill:#6b0f6b}.st11{fill:#8f278f}.st12{fill:#f57e20}.st13{fill:#7f2a90}.st14{fill:#8c4d9e}.st15{fill:#f7941d}.st16{fill:#ffd600}.st17{stroke:#fff;stroke-width:5.832749e-02;stroke-miterlimit:10}.st18{fill:#ad1a15}.st19{fill:#ee2831}.st20{fill:#ec008c}.st21{fill:none;stroke:#fff;stroke-width:.4669;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}.st23{fill:#e6e7e8}.st23,.st24{display:inline}.st25{fill:#ed037c}.st26{fill:#b41f7e}.st27{fill:#ffd400}.st28{fill:#6b3779}.st29{fill:#ffef00}.st30{fill:#fdb714}.st31{fill:#172e79}.st33{fill:#3db9e1}.st35{fill:#384ea1}.st37{fill:#c01c7d}.st38{fill:#f36e21}.st40{clip-path:url(#SVGID_4_)}.st41{fill:#4bb8e9}.st43{clip-path:url(#SVGID_6_)}.st45{fill:#263374}.st46{fill:#006fba}.st47{fill:#fec00f}.st48{fill:#ed1c24}.st50{opacity:.78;fill:#ef3e23}.st52{clip-path:url(#SVGID_8_)}.st53{fill:#00babb}.st54{fill:#00aaa7}.st55{fill:#7c2a90}.st56{fill:#adafb2}.st57{fill:#009e9c}.st59{fill:#054da2}.st60{fill:#fff32b}.st61,.st62,.st63{stroke-miterlimit:10}.st61{fill:none;stroke:#006fba;stroke-width:.179}.st62,.st63{stroke:#fff;stroke-width:5.930773e-02}.st63{fill:none;stroke-width:.4747;stroke-linecap:round;stroke-linejoin:round}.st79{fill:#009a9a}.st80,.st83{fill:none;stroke:#009694;stroke-width:.2672;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}.st83{stroke-width:.2626}.st84{fill:#ee2554}.st88{fill:#f47b20}.st89{fill:#fff200}

}

.selectable {
  animation: bright 2s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes bright {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    transform: scale(1.025)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.shadow-level-1 {
  fill:#b1bf23
}
.shadow-level-2 {
  fill:#DAA011
}
.shadow-level-3 {
  fill: #393939;
}
