<svg (click)="goToSettings()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 94.3 88.5" style="height: 7vmax">
  <path d="M91.1.3s1.2 89.9-89.2 85.6L2 .4 91.1.3z" opacity="0.3" fill="gray" ></path>
  <path d="M84.9.3S90.5 84.8 0 85.4V.3h84.9z" fill="#ee2a7b"></path>
  <path d="M45.3 16l-3.1-1.3-16.7 4.2-7.4 18.6 9.4 14.4 3.1 1.3 19.8-2.9 7.4-18.6L45.3 16zm-7.4 27.5c-4.9 0-8.9-4-8.9-8.9s4-8.9 8.9-8.9 8.9 4 8.9 8.9-4 8.9-8.9 8.9z"
        fill="#b1b3b6"></path>
  <path d="M49.4 28.3l-7.2-5.8L25.5 19l-7.4 18.6L27.5 52l3.1 1.3 19.8-2.9 7.4-18.6-8.4-3.5zM37.9 43.5c-4.9 0-8.9-4-8.9-8.9s4-8.9 8.9-8.9 8.9 4 8.9 8.9-4 8.9-8.9 8.9z"
        fill="#9d9fa2"></path>
  <path d="M42.2 14.7l-16.7 4.2-7.4 18.6 9.4 14.4 3.1 1.3 19.8-2.9-4.1-1.6L48.4 29l-6.2-14.3m-4.3 28.8c-4.9 0-8.9-4-8.9-8.9s4-8.9 8.9-8.9 8.9 4 8.9 8.9-4 8.9-8.9 8.9z"
        fill="#737577"></path>
  <path d="M42.2 14.7l-19.8 2.9L15 36.2l12.4 15.7L47.2 49l7.4-18.6-12.4-15.7zm-7.4 27.5c-4.9 0-8.9-4-8.9-8.9s4-8.9 8.9-8.9 8.9 4 8.9 8.9-4 8.9-8.9 8.9z"
        fill="#e6e7e8"></path>
</svg>
