@import "../../../variables";
.first-text {
  color: $gray-color;
  font-size: 26px;
  text-align: center;
}
.second-text {
  color: $violet-color;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}
.more-info {
  border-radius: 30px;
  border: 4px #8c8c8c solid;
  color: #8c8c8c;
  text-align: center;
  font-size: 28px;
  width: 230px;
  height: 70px;
  :hover {
    cursor: pointer;
  }
}
.plus-symbol {
  font-size: 32px;
}
