<div fxFlex="grow" fxLayout="column" class="violet-background">
    <app-monitor-container [logo]="'mente-adivina'" fxFlex="85">
        <div fxFill fxLayout="column" fxLayoutAlign="space-evenly center" >
            <div class="first-text">
                Diseñado para potenciar el desarrollo<br>de habilidades lectoras, lingüísticas<br>y ejecutivas a través del
                juego.
            </div>
            <div class="second-text">
                ¡Ideal para usar en el consultorio,<br>la escuela o en familia!
            </div>

            <div class="more-info" fxLayout="row" fxLayoutAlign="center center" (click)="moreInfo()">
                <span><span class="plus-symbol">+</span> Información</span>
            </div>
        </div>
    </app-monitor-container>
    <div class="full-width" fxFlex="8">
        <app-back-button></app-back-button>
    </div>
    <app-close-button style="position: absolute; right: 1vw; top: 1vw;"></app-close-button>

</div>
