.st1 {
  opacity: .28;
  fill: #58595b
}

.st2 {
  fill: #561e6d
}

.detail-level-1 {
  fill: #dde89a
}
.detail-level-2 {
  fill: #FFD990
}
.detail-level-3 {
  fill: #6D6E71
}

.st4 {
  opacity: .5;
  fill: #939598
}

.st5 {
  fill: #fff
}

.st6 {
  fill: none;
  stroke: #561e6d;
  stroke-width: .1476;
  stroke-miterlimit: 10
}

.st7 {
  opacity: .37
}

.path-detail-level-1 {
  fill: #75c044
}
.path-detail-level-2 {
  fill: #F5841F
}
.path-detail-level-3 {
  fill: #5C5D60
}

.st9 {
  fill: #92278f
}

.st10, .st11 {
  fill: none;
  stroke: #561e6d;
  stroke-width: .1598;
  stroke-miterlimit: 10
}

.st11 {
  stroke-width: .1712
}

.st12 {
  opacity: .6
}

.level-1 {
  .st13, .st14 {
    opacity: .64;
    fill: #75c044
  }
}
.level-2 {
  .st13, .st14 {
    opacity: .64;
    fill: #F5841F
  }
}
.level-3 {
  .st13, .st14 {
    opacity: .64;
    fill: #5C5D60
  }
}


.st14 {
  opacity: .75
}

.st15-level-1 {
  fill: #66ab3c
}
.st15-level-2 {
  fill: #F5841F
}
.st15-level-3 {
  fill: #5C5D60
}

.st16-level-1 {
  fill: #5a9a35
}

.st16-level-2 {
  fill: #F5841F
}

.st16-level-3 {
  fill: #5C5D60
}

.st17 {
  opacity: .29
}

.st18 {
  fill: #8ea0aa
}

.st19 {
  opacity: .29;
  fill: #5c676e
}

.st20 {
  fill: #58595b
}

.st21 {
  fill: #758188
}

.st24 {
  fill: #abbac3
}

.st25 {
  opacity: .29;
  fill: #758188
}

.st30 {
  fill: #7c197a
}

.st31 {
  fill: #841e82
}

.st32 {
  fill: #862084
}

.st33 {
  fill: #963694
}

.st34 {
  fill: #4f1864
}

.st35 {
  fill: #541c6a
}

.st36 {
  fill: #511a67
}

.st37 {
  fill: #4a135e
}
.token {
  transform: translate(45px, 190px);
  transition: all linear 1s ;
}
