<svg fxFlex="grow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 90 618.3 405" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <clipPath id="board-path-clip-path">
    <path d="M-.4-.1h618.7v498H-.4z"></path>
  </clipPath>
  <g style="clip-path:url(#board-path-clip-path)" [ngClass]="'level-' + gameService.level">
    <path d="M392.9 97.4c-.1-1.7.9-3.1 2.3-3.2l29.4-.1c1.4-.1 2.6 1.2 2.7 2.9l.4 17.9c.1 1.7-.9 3.1-2.3 3.2l-28.5 2.8c-1.4.1-1.5-1.2-1.6-2.9l-2.4-20.6z" class="st1"></path>
    <path d="M393.3 97.4c-.1-1.7 1-3.1 2.4-3.2l28.8.9c1.4-.1 2.6 1.2 2.7 2.9l-.5 17.5c.1 1.7-1 3.1-2.4 3.2l-28.4 2.2c-1.4.1-2.6-1.2-2.7-2.9l.1-20.6z" class="st2"></path>
    <path d="M396.1 99.8c-.1-1.4.8-2.6 1.9-2.6l19.3.1c1.1-.1 2.1 1 2.1 2.4l.1 14.7c.1 1.4-.8 2.6-1.9 2.6l-18.8 1.2c-1.1.1-2.1-1-2.1-2.4l-.6-16z" [ngClass]="'detail-level-' + gameService.level"></path>
    <ellipse cx="424.2" cy="115.7" class="st4" rx=".9" ry=".9" transform="matrix(.9998 -.0197 .0197 .9998 -2.1964 8.378)"></ellipse>
    <ellipse cx="424.4" cy="112.5" class="st4" rx=".7" ry=".7" transform="matrix(.9998 -.0197 .0197 .9998 -2.1335 8.3812)"></ellipse>
    <ellipse cx="424.1" cy="115.8" class="st4" rx=".9" ry=".9" transform="matrix(.9998 -.0197 .0197 .9998 -2.199 8.3756)"></ellipse>
    <ellipse cx="424.3" cy="112.6" class="st4" rx=".7" ry=".7" transform="matrix(.9998 -.0197 .0197 .9998 -2.136 8.3788)"></ellipse>
    <path d="M425.8 98l.1 3.9c0 .7-.5 1.3-1.2 1.3s-1.3-.5-1.3-1.2l-.1-3.9c0-.7.5-1.3 1.2-1.3.7-.1 1.3.5 1.3 1.2z" class="st5"></path>
    <path d="M423.1 102.5l3-.1M423.1 101.8l3-.1M423 101.1l3.1-.1M423 100.4l3.1-.1M423 99.6h3.1M423 98.9h3.1M423 98.2l3-.1M423 97.5l3-.1" class="st6"></path>
    <g class="st7">
      <path d="M417.3 110.7c-.1-2 .5-8.9-1.6-8.8-1.9.1-1 10.6-4.7 10.7-3.3.1-3.1-8.9-5.2-8.8-2.5.1.9 9.5-4.6 9.8-3.9.2-3.9-5.7-3.9-7.7-.1-3.2-1.5-4.4-1.5-4.4l2.2-.2s1.6 1.4 1.7 4.4c.1 1.9-.6 4.7 1.2 4.7 3.3 0-.2-9.1 4.8-9.3 3.4-.2 3.5 8 5.4 7.9 1.7-.1.1-8.9 4.2-9.5 3.1-.4 3.7 4 4.1 6.4.3 1.7.1 3.8 0 4.9-.8-.3-1.7-.2-2.1-.1z" [ngClass]="'path-detail-level-' + gameService.level"></path>
    </g>
    <path d="M406.2 119.8l-.8 6.9s6.5-1.3 6.5-1.7c0-.4-.7-5.9-.7-5.9l-5 .7z" class="st2"></path>
    <path d="M200.3 486.7c.1 1.8-1 3.4-2.4 3.5l-31.8.5c-1.5.1-2.8-1.3-3-3.1l-.7-19.4c-.1-1.8 1-3.4 2.4-3.5l30.8-3.5c1.5-.1 1.6 1.3 1.8 3.1l2.9 22.4z" class="st1"></path>
    <path d="M199.9 486.7c.1 1.8-1 3.4-2.5 3.5l-31.2-.5c-1.5.1-2.8-1.3-3-3.1l.3-19c-.1-1.8 1-3.4 2.5-3.5l30.8-2.8c1.5-.1 2.8 1.3 3 3.1l.1 22.3z" class="st9"></path>
    <path d="M196.8 484.2c.1 1.5-.8 2.8-2 2.9l-20.9.2c-1.2.1-2.3-1.1-2.4-2.6l-.3-15.9c-.1-1.5.8-2.8 2-2.9l20.4-1.6c1.2-.1 2.3 1.1 2.4 2.6l.8 17.3z" [ngClass]="'detail-level-' + gameService.level"></path>
    <ellipse cx="166.1" cy="467.4" class="st4" rx="1" ry="1" transform="matrix(.9994 -.03343 .03343 .9994 -15.5306 5.8142)"></ellipse>
    <ellipse cx="166" cy="470.9" class="st4" rx=".7" ry=".7" transform="matrix(.9994 -.03343 .03343 .9994 -15.6464 5.8106)"></ellipse>
    <ellipse cx="166.3" cy="467.3" class="st4" rx="1" ry="1" transform="matrix(.9994 -.03343 .03343 .9994 -15.5258 5.8185)"></ellipse>
    <ellipse cx="166.1" cy="470.7" class="st4" rx=".7" ry=".7" transform="matrix(.9994 -.03343 .03343 .9994 -15.6416 5.815)"></ellipse>
    <g>
      <path d="M164.7 486.7l-.1-4.4c0-.7.5-1.3 1.2-1.3h.2c.7 0 1.3.5 1.3 1.2l.1 4.4c0 .7-.5 1.3-1.2 1.3h-.2c-.7.1-1.2-.5-1.3-1.2z" class="st5"></path>
      <path d="M167.6 481.7l-3.3.1M167.6 482.5l-3.3.1M167.7 483.2l-3.4.1M167.7 484l-3.3.1M167.7 484.8l-3.3.1M167.7 485.6l-3.3.1M167.8 486.3l-3.4.1M167.8 487.1l-3.3.1" class="st10"></path>
    </g>
    <g class="st7">
      <path d="M173.7 472.7c.1 2.2-.4 9.7 1.9 9.5 2.1-.1.9-11.5 4.9-11.7 3.6-.2 3.5 9.6 5.8 9.5 2.8-.1-1.2-10.3 4.9-10.6 4.2-.3 4.3 6.1 4.3 8.3.1 3.5 1.7 4.8 1.7 4.8l-2.4.3s-1.8-1.5-1.9-4.8c-.1-2.1.5-5-1.4-5-3.6 0 .4 9.8-5 10.2-3.7.2-3.9-8.6-5.9-8.4-1.8.1 0 9.7-4.4 10.3-3.4.5-4.1-4.2-4.5-6.9-.3-1.9-.2-4.1-.1-5.3.7.1 1.7-.1 2.1-.2z" [ngClass]="'path-detail-level-' + gameService.level"></path>
    </g>
    <path d="M185.6 462.7l.8-7.5s-7 1.5-7 1.9c0 .4.9 6.4.9 6.4l5.3-.8z" class="st9"></path>
    <g>
      <path d="M603 259.2c1.9-.2 3.7.9 3.8 2.5l1.3 34c.2 1.6-1.3 3.1-3.2 3.3l-20.8 1.2c-1.9.2-3.7-.9-3.8-2.5l-4.5-32.9c-.2-1.6 1.4-1.8 3.3-2l23.9-3.6z" class="st1"></path>
      <path d="M603 259.6c1.9-.2 3.7 1 3.8 2.6l.2 33.4c.1 1.6-1.3 3.1-3.3 3.2l-20.3.1c-1.9.2-3.7-1-3.8-2.6l-3.8-32.9c-.1-1.6 1.3-3.1 3.3-3.2l23.9-.6z" class="st9"></path>
      <path d="M600.3 262.9c1.6-.1 3 .8 3.1 2.1l.7 22.4c.1 1.3-1.1 2.4-2.7 2.6l-17 .8c-1.6.1-3-.8-3.1-2.1l-2.2-21.8c-.1-1.3 1.1-2.4 2.7-2.6l18.5-1.4z" [ngClass]="'detail-level-' + gameService.level"></path>
      <ellipse cx="583.1" cy="296.2" class="st4" rx="1.1" ry="1.1" transform="matrix(.9984 -.05645 .05645 .9984 -15.7922 33.3902)"></ellipse>
      <ellipse cx="586.8" cy="296.3" class="st4" rx=".8" ry=".8" transform="matrix(.9984 -.05645 .05645 .9984 -15.7914 33.5997)"></ellipse>
      <ellipse cx="583" cy="296.1" class="st4" rx="1.1" ry="1.1" transform="matrix(.9984 -.05645 .05645 .9984 -15.7847 33.3812)"></ellipse>
      <ellipse cx="586.7" cy="296.2" class="st4" rx=".8" ry=".8" transform="matrix(.9984 -.05645 .05645 .9984 -15.7838 33.5907)"></ellipse>
      <g>
        <path d="M603.9 297.2l-4.7.3c-.7 0-1.4-.5-1.4-1.3v-.2c0-.7.5-1.4 1.3-1.4l4.7-.3c.7 0 1.4.5 1.4 1.3v.2c-.1.8-.6 1.4-1.3 1.4z" class="st5"></path>
        <path d="M598.4 294.3l.2 3.6M599.2 294.3l.2 3.5M600 294.2l.2 3.6M600.9 294.2l.2 3.5M601.7 294.1l.2 3.6M602.5 294.1l.2 3.5M603.4 294l.2 3.6M604.2 294l.2 3.5" class="st11"></path>
      </g>
      <g class="st7">
        <path d="M588.6 288c2.4-.2 10.3.2 10.2-2.3-.2-2.2-12.3-.7-12.6-5-.3-3.8 10.2-4 10-6.4-.2-2.9-11 1.5-11.5-5-.4-4.5 6.5-4.7 8.7-4.9 3.7-.2 5-1.9 5-1.9l.3 2.6s-1.5 1.9-5.1 2.2c-2.2.2-5.4-.4-5.3 1.6.1 3.8 10.5-.6 11 5.1.3 4-9.1 4.4-8.9 6.6.2 2 10.3-.2 11.1 4.4.6 3.6-4.4 4.5-7.3 5-2 .4-4.4.3-5.6.2.3-.7.2-1.8 0-2.2z" [ngClass]="'path-detail-level-' + gameService.level"></path>
      </g>
      <path d="M577.6 275.5l-8-.7s1.8 7.5 2.2 7.5c.4 0 6.8-1.1 6.8-1.1l-1-5.7z" class="st9"></path>
    </g>
    <g class="st12">
      <path d="M126 296.5s85.3-15.9 113.3 17.8l8.4-11.4s-44.7-41-118.8-22.1l-2.9 15.7z" class="st13"></path>
      <path d="M129.8 294.5s72.5-12.8 105 14l2.7-3.9s-36.5-29.1-107.4-21.2l-.3 11.1z" class="st14"></path>
      <path d="M247.3 320.4l-14.6-7.6 8.6-17.3 17.9 9.9zM131.5 299.6l-16.2 1.1-.1-23.8 16.6.2z" [ngClass]="'st15-level-' + gameService.level"></path>
      <path d="M233.2 306.7c.6-.7 1.2-1.4 1.7-2.1.5-.7 1-1.5 1.3-2.3.4-.8.7-1.6.9-2.5.2-.9.3-1.8.4-2.7.2.9.3 1.8.1 2.8-.1.9-.4 1.9-.8 2.7-.8 1.6-2 3.1-3.6 4.1zM230.5 305.5c.6-.7 1.2-1.4 1.7-2.1.5-.7 1-1.5 1.3-2.3.4-.8.7-1.6.9-2.5.2-.9.3-1.8.4-2.7.2.9.3 1.8.1 2.8-.1.9-.4 1.9-.8 2.7-.7 1.6-2 3.1-3.6 4.1zM227.9 303.8c.5-.8.9-1.6 1.3-2.4.4-.8.7-1.7.9-2.5.2-.9.4-1.8.4-2.7.1-.9 0-1.8-.1-2.7.3.9.6 1.8.6 2.7.1.9 0 1.9-.3 2.8-.5 1.9-1.4 3.6-2.8 4.8zM226.2 302.5c.5-.8.9-1.6 1.3-2.4.4-.8.7-1.7.9-2.5.2-.9.4-1.8.4-2.7.1-.9 0-1.8-.1-2.7.3.9.6 1.8.6 2.7.1.9 0 1.9-.3 2.8-.4 1.9-1.4 3.6-2.8 4.8zM222.3 301c.4-.9.7-1.7.9-2.6.2-.9.4-1.8.4-2.7.1-.9.1-1.8-.1-2.7-.1-.9-.3-1.8-.5-2.7.5.8.9 1.7 1 2.6.2.9.3 1.9.2 2.8-.1 1.9-.7 3.8-1.9 5.3z" [ngClass]="'st16-level-' + gameService.level"></path>
      <g class="st17">
        <path d="M218.9 299.4c.4-1.9.7-3.6.7-5.4 0-.9 0-1.8-.1-2.7-.1-.9-.3-1.8-.5-2.7.6.7 1.1 1.6 1.4 2.5.3.9.5 1.9.4 2.9 0 1-.2 2-.5 2.9-.3.9-.7 1.8-1.4 2.5z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <path d="M213.6 295.9c.4-.8.7-1.7 1-2.5.3-.9.5-1.7.6-2.6.1-.9.2-1.8.1-2.7 0-.9-.2-1.8-.4-2.7.4.8.8 1.7.9 2.6.2.9.2 1.9 0 2.8-.3 1.9-1 3.7-2.2 5.1zM208.7 296c.5-1 .9-2 1.2-3 .3-1 .6-2.1.7-3.1.1-1 .1-2.1 0-3.2s-.3-2.1-.6-3.2c.5 1 1 2 1.2 3.1.2 1.1.3 2.2.1 3.4-.1 2.2-1.1 4.4-2.6 6z" [ngClass]="'st16-level-' + gameService.level"></path>
      <g class="st17">
        <path d="M203.8 295c.8-2.1 1.4-4.1 1.7-6.1.1-1 .2-2.1.1-3.1 0-1.1-.2-2.1-.4-3.2.6.9 1.1 2 1.4 3.1.3 1.1.3 2.3.2 3.4-.1 1.1-.4 2.3-.9 3.3-.6.9-1.2 1.8-2.1 2.6z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <g class="st17">
        <path d="M188.5 290.9c.8-2.1 1.4-4.1 1.7-6.1.1-1 .2-2.1.1-3.1 0-1.1-.2-2.1-.4-3.2.6.9 1.1 2 1.4 3.1.3 1.1.3 2.3.2 3.4-.1 1.1-.4 2.3-.9 3.3-.6.9-1.2 1.9-2.1 2.6z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <path d="M199.3 293c.5-1 .9-2 1.2-3 .3-1 .6-2.1.7-3.1.1-1 .1-2.1 0-3.2s-.3-2.1-.6-3.2c.5 1 1 2 1.2 3.1.2 1.1.3 2.2.1 3.4-.2 2.2-1.1 4.4-2.6 6zM193.8 292.4c.5-1 .9-2 1.2-3 .3-1 .6-2.1.7-3.1.1-1 .1-2.1 0-3.2s-.3-2.1-.6-3.2c.5 1 1 2 1.2 3.1.2 1.1.3 2.2.1 3.4-.2 2.2-1.1 4.3-2.6 6zM181 289c.3-.9.5-1.8.7-2.7.2-.9.2-1.8.2-2.7 0-.9-.1-1.8-.3-2.7-.2-.9-.4-1.7-.7-2.6.5.8 1 1.6 1.2 2.5.3.9.4 1.8.4 2.8 0 1.9-.5 3.8-1.5 5.4zM176.3 289.7c.4-1 .6-2.1.8-3.1.2-1.1.3-2.1.2-3.2 0-1.1-.1-2.1-.4-3.2-.2-1.1-.6-2.1-1-3.1.6.9 1.2 1.9 1.6 2.9.4 1.1.6 2.2.6 3.3 0 2.3-.6 4.6-1.8 6.4z" [ngClass]="'st16-level-' + gameService.level"></path>
      <g class="st17">
        <path d="M171.3 289.3c.5-2.2.9-4.2.8-6.3 0-1-.1-2.1-.3-3.1-.2-1-.5-2.1-.8-3.2.7.8 1.4 1.8 1.7 2.9.4 1.1.6 2.2.6 3.4 0 1.1-.1 2.3-.5 3.4-.3 1-.8 2-1.5 2.9z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <g class="st17">
        <path d="M156.9 290.5c.5-2.2.9-4.2.8-6.3 0-1-.1-2.1-.3-3.1-.2-1-.5-2.1-.8-3.2.7.8 1.4 1.8 1.7 2.9.4 1.1.6 2.2.6 3.4 0 1.1-.1 2.3-.5 3.4-.3 1.1-.8 2.1-1.5 2.9z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <path d="M164.9 289.3c.4-1 .6-2.1.8-3.1.2-1.1.3-2.1.2-3.2 0-1.1-.1-2.1-.4-3.2-.2-1.1-.6-2.1-1-3.1.6.9 1.2 1.9 1.6 2.9.4 1.1.6 2.2.6 3.3.1 2.3-.5 4.6-1.8 6.4zM162.5 289.8c.4-1 .6-2.1.8-3.1.2-1.1.3-2.1.2-3.2 0-1.1-.1-2.1-.4-3.2-.2-1.1-.6-2.1-1-3.1.6.9 1.2 1.9 1.6 2.9.4 1.1.6 2.2.6 3.3.1 2.3-.5 4.6-1.8 6.4z" [ngClass]="'st16-level-' + gameService.level"></path>
    </g>
    <g class="st12">
      <path d="M344.8 390.8s90.2-4 114.1 34.8l10.3-10.5s-40.1-48.8-119.1-40l-5.3 15.7z" class="st13"></path>
      <path d="M348.9 389.3s76.5-2.7 106.1 29.6l3.3-3.7S425 380 350.8 377.8l-1.9 11.5z" class="st14"></path>
      <path d="M466.2 433l-13.9-9.9 11.4-16.6 17 12.8zM350 394.8l-16.9-1.3 3.4-24.5 17.1 2.7z" [ngClass]="'st15-level-' + gameService.level"></path>
      <path d="M453.7 416.8c.8-.6 1.4-1.2 2.1-1.9.6-.7 1.2-1.4 1.7-2.2.5-.8.9-1.6 1.3-2.5.4-.9.6-1.8.8-2.7 0 1 0 1.9-.3 2.9-.1.5-.3.9-.5 1.4-.2.4-.4.9-.7 1.3-1.1 1.6-2.6 2.9-4.4 3.7zM451.1 415.2c.8-.6 1.4-1.2 2.1-1.9.6-.7 1.2-1.4 1.7-2.2.5-.8.9-1.6 1.3-2.5.4-.9.6-1.8.8-2.7 0 1 0 1.9-.3 2.9-.1.5-.3.9-.5 1.4-.2.4-.4.9-.7 1.3-1.1 1.6-2.6 2.9-4.4 3.7zM448.6 413.1c.6-.7 1.2-1.5 1.7-2.3.5-.8.9-1.6 1.3-2.5.4-.9.6-1.8.8-2.7.2-.9.2-1.9.3-2.8.2.9.3 1.9.2 2.9-.1 1-.3 1.9-.7 2.9-.7 1.8-2 3.5-3.6 4.5zM447.1 411.5c.6-.7 1.2-1.5 1.7-2.3.5-.8.9-1.6 1.3-2.5.4-.9.6-1.8.8-2.7.2-.9.2-1.9.3-2.8.2.9.3 1.9.2 2.9-.1 1-.3 1.9-.7 2.9-.7 1.8-2 3.5-3.6 4.5zM443.3 409.4c.5-.8.9-1.7 1.3-2.6.4-.9.7-1.8.8-2.7.2-.9.3-1.9.3-2.8 0-1-.1-1.9-.2-2.9.4.9.6 1.9.7 2.9.1 1 0 2-.2 3-.3 1.9-1.3 3.7-2.7 5.1z" [ngClass]="'st16-level-' + gameService.level"></path>
      <g class="st17">
        <path d="M440 407.3c.7-1.9 1.2-3.6 1.5-5.5.2-.9.2-1.8.2-2.8 0-.9-.1-1.9-.1-2.9.5.8.9 1.8 1.1 2.8.1.5.1 1 .2 1.5 0 .5 0 1-.1 1.5-.2 1-.5 2-.9 2.9-.5 1-1.1 1.8-1.9 2.5z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <path d="M435 402.9c.5-.8 1-1.6 1.4-2.5.4-.8.7-1.7 1-2.6.3-.9.4-1.8.5-2.7.1-.9 0-1.9 0-2.8.3.9.5 1.9.5 2.8 0 1-.1 2-.4 2.9-.5 1.8-1.5 3.6-3 4.9zM430.1 402.3c.7-.9 1.2-1.9 1.7-2.9s.9-2 1.1-3.1c.3-1.1.5-2.2.5-3.3.1-1.1 0-2.2-.1-3.4.4 1.1.7 2.2.8 3.4.1 1.2-.1 2.3-.3 3.5-.7 2.2-2 4.3-3.7 5.8z" [ngClass]="'st16-level-' + gameService.level"></path>
      <g class="st17">
        <path d="M425.2 400.5c1.2-2 2.1-4 2.6-6.1.3-1 .5-2.1.5-3.2.1-1.1.1-2.2.1-3.4.5 1 .9 2.2.9 3.4.1 1.2 0 2.4-.3 3.5-.3 1.2-.8 2.3-1.4 3.2-.7 1.1-1.5 2-2.4 2.6z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <g class="st17">
        <path d="M410 394.1c1.2-2 2.1-4 2.6-6.1.3-1 .5-2.1.5-3.2.1-1.1.1-2.2.1-3.4.5 1 .9 2.2.9 3.4.1 1.2 0 2.4-.3 3.5s-.8 2.3-1.4 3.2c-.6 1.1-1.4 2-2.4 2.6z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <path d="M420.8 397.8c.7-.9 1.2-1.9 1.7-2.9s.9-2 1.1-3.1c.3-1.1.5-2.2.5-3.3.1-1.1 0-2.2-.1-3.4.4 1.1.7 2.2.8 3.4.1 1.2-.1 2.3-.3 3.5-.7 2.3-1.9 4.4-3.7 5.8zM415.2 396.4c.7-.9 1.2-1.9 1.7-2.9s.9-2 1.1-3.1c.3-1.1.5-2.2.5-3.3.1-1.1 0-2.2-.1-3.4.4 1.1.7 2.2.8 3.4.1 1.2-.1 2.3-.3 3.5-.7 2.2-1.9 4.3-3.7 5.8zM402.5 391c.4-.9.8-1.7 1.1-2.6.3-.9.5-1.8.6-2.7.1-.9.2-1.9.1-2.8 0-.9-.2-1.9-.4-2.8.4.9.8 1.8.9 2.8.2 1 .2 2 0 2.9-.2 1.9-1 3.8-2.3 5.2zM397.5 391.1c.5-1 1-2.1 1.3-3.1.3-1.1.6-2.1.7-3.2.1-1.1.2-2.2.1-3.3-.1-1.1-.3-2.2-.6-3.3.5 1 1 2.1 1.2 3.3.2 1.1.3 2.3.1 3.5-.2 2.1-1.2 4.4-2.8 6.1z" [ngClass]="'st16-level-' + gameService.level"></path>
      <g class="st17">
        <path d="M392.5 389.9c.9-2.1 1.5-4.2 1.8-6.4.1-1.1.2-2.2.1-3.3 0-1.1-.2-2.2-.4-3.4.6 1 1.1 2.1 1.4 3.2.3 1.2.3 2.4.2 3.6-.1 1.2-.5 2.3-1 3.4-.6 1.1-1.2 2.1-2.1 2.9z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <g class="st17">
        <path d="M377.4 389.1c.9-2.1 1.5-4.2 1.8-6.4.1-1.1.2-2.2.1-3.3 0-1.1-.2-2.2-.4-3.4.6 1 1.1 2.1 1.4 3.2.3 1.2.3 2.4.2 3.6-.1 1.2-.5 2.3-1 3.4-.5 1.2-1.2 2.2-2.1 2.9z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <path d="M385.9 389.1c.5-1 1-2.1 1.3-3.1.3-1.1.6-2.1.7-3.2.1-1.1.2-2.2.1-3.3-.1-1.1-.3-2.2-.6-3.3.5 1 1 2.1 1.2 3.3.2 1.1.3 2.3.1 3.5-.2 2.1-1.2 4.4-2.8 6.1zM383.3 389.2c.5-1 1-2.1 1.3-3.1.3-1.1.6-2.1.7-3.2.1-1.1.2-2.2.1-3.3-.1-1.1-.3-2.2-.6-3.3.5 1 1 2.1 1.2 3.3.2 1.1.3 2.3.1 3.5-.3 2.2-1.2 4.5-2.8 6.1z" [ngClass]="'st16-level-' + gameService.level"></path>
    </g>
    <g class="st12">
      <path d="M414.9 218.4s-38.5 66.5-77.3 65.9l2.8 12.2s53.4-6.4 83.3-67l-8.8-11.1z" class="st13"></path>
      <path d="M414.1 222.1s-33.2 56.1-69.9 62.4l1.1 4s40.6-7.7 76.2-59.9l-7.4-6.5z" class="st14"></path>
      <path d="M329 286.1l13.4-5.4 6.7 15.7-16.9 6.3zM409.7 220.3l8.6-11.5 16 13.7-9.7 11z" [ngClass]="'st15-level-' + gameService.level"></path>
      <path d="M346.3 284.5c.2 1.6.5 3.2 1.2 4.6.3.7.7 1.4 1.2 2 .5.7 1 1.2 1.6 1.8-.7-.4-1.4-.9-1.9-1.5-.6-.6-1-1.3-1.4-2.1-.3-.8-.6-1.6-.7-2.4-.1-.7-.1-1.6 0-2.4zM348.6 283.4c.2 1.6.5 3.2 1.2 4.6.3.7.7 1.4 1.2 2 .5.7 1 1.2 1.6 1.8-.7-.4-1.4-.9-1.9-1.5-.6-.6-1-1.3-1.4-2.1-.3-.8-.6-1.6-.7-2.4-.1-.7-.1-1.6 0-2.4zM351.3 282.6c.2.8.5 1.5.8 2.3.3.7.7 1.4 1.2 2.1.4.7 1 1.3 1.5 1.8.6.6 1.2 1 1.9 1.5-.8-.3-1.5-.7-2.2-1.2-.7-.5-1.2-1.1-1.7-1.8s-.9-1.4-1.1-2.2c-.3-.9-.4-1.7-.4-2.5zM353.1 282.2c.2.8.5 1.5.8 2.3.3.7.7 1.4 1.2 2.1.4.7 1 1.3 1.5 1.8.6.6 1.2 1 1.9 1.5-.8-.3-1.5-.7-2.2-1.2-.7-.5-1.2-1.1-1.7-1.8s-.9-1.4-1.1-2.2c-.2-.8-.4-1.7-.4-2.5zM356.4 280.5c.4.7.8 1.5 1.2 2.1.5.7 1 1.3 1.6 1.8.6.6 1.2 1.1 1.9 1.5.7.5 1.4.8 2.1 1.2-.8-.2-1.6-.4-2.4-.8-.8-.4-1.4-.9-2-1.5-.6-.6-1.1-1.3-1.5-2-.4-.7-.8-1.5-.9-2.3z" [ngClass]="'st16-level-' + gameService.level"></path>
      <g class="st17">
        <path d="M359.4 279.1c1 1.3 2 2.6 3.2 3.6.6.5 1.2 1 1.9 1.4.7.5 1.4.8 2.1 1.3-.9 0-1.7-.1-2.5-.5-.8-.3-1.6-.8-2.2-1.4-.6-.6-1.2-1.3-1.6-2-.5-.7-.8-1.5-.9-2.4z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <path d="M364.9 277.6c.3.8.7 1.5 1.1 2.1.4.7.9 1.3 1.4 1.9.5.6 1.1 1.1 1.7 1.6.6.5 1.3.9 2 1.3-.8-.2-1.6-.5-2.3-.9-.7-.4-1.4-1-1.9-1.6-.6-.6-1-1.3-1.4-2.1-.3-.7-.5-1.5-.6-2.3zM367.6 274.2c.4.9.8 1.8 1.3 2.6s1.1 1.6 1.7 2.2c.6.7 1.3 1.3 2.1 1.9.8.6 1.6 1 2.5 1.5-.9-.2-1.9-.5-2.8-1-.9-.5-1.7-1.1-2.3-1.8-1.4-1.5-2.3-3.4-2.5-5.4z" [ngClass]="'st16-level-' + gameService.level"></path>
      <g class="st17">
        <path d="M371.1 271.6c.9 1.7 1.9 3.3 3.2 4.7.6.7 1.3 1.3 2 1.9.7.6 1.5 1.1 2.4 1.6-1-.1-2-.4-2.8-.9-.9-.4-1.7-1.1-2.4-1.8s-1.3-1.6-1.7-2.5c-.4-1.1-.7-2-.7-3z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <g class="st17">
        <path d="M382.6 263.6c.9 1.7 1.9 3.3 3.2 4.7.6.7 1.3 1.3 2 1.9.7.6 1.5 1.1 2.4 1.6-1-.1-2-.4-2.8-.9-.9-.4-1.7-1.1-2.4-1.8s-1.3-1.6-1.7-2.5c-.4-1-.7-2-.7-3z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <path d="M375 269.6c.4.9.8 1.8 1.3 2.6s1.1 1.6 1.7 2.2c.6.7 1.3 1.3 2.1 1.9.8.6 1.6 1 2.5 1.5-.9-.2-1.9-.5-2.8-1-.9-.5-1.7-1.1-2.3-1.8-1.3-1.5-2.3-3.4-2.5-5.4zM378.6 266.3c.4.9.8 1.8 1.3 2.6s1.1 1.6 1.7 2.2c.6.7 1.3 1.3 2.1 1.9.8.6 1.6 1 2.5 1.5-.9-.2-1.9-.5-2.8-1-.9-.5-1.7-1.1-2.3-1.8-1.3-1.6-2.3-3.4-2.5-5.4zM388.3 259.7c.4.7.9 1.4 1.4 2 .5.6 1.1 1.2 1.7 1.7.6.5 1.3 1 1.9 1.4.7.4 1.4.7 2.2 1-.8-.1-1.6-.3-2.4-.6-.8-.3-1.5-.8-2.1-1.3-.6-.5-1.2-1.2-1.7-1.9-.4-.8-.8-1.5-1-2.3zM390.5 256.1c.5.9 1 1.6 1.6 2.4.6.7 1.3 1.4 2 2 .7.6 1.5 1.1 2.4 1.6.8.5 1.7.8 2.7 1.1-1-.1-2-.2-2.9-.6-.9-.3-1.8-.9-2.6-1.5-1.5-1.4-2.7-3.1-3.2-5z" [ngClass]="'st16-level-' + gameService.level"></path>
      <g class="st17">
        <path d="M393.7 253c1.1 1.6 2.3 3 3.8 4.2.7.6 1.5 1.1 2.3 1.6.8.5 1.7.8 2.6 1.3-1 0-2-.1-2.9-.5-1-.3-1.8-.9-2.6-1.5s-1.5-1.4-2-2.3c-.7-.9-1.1-1.8-1.2-2.8z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <g class="st17">
        <path d="M401.1 242.6c1.1 1.6 2.3 3 3.8 4.2.7.6 1.5 1.1 2.3 1.6.8.5 1.7.8 2.6 1.3-1 0-2-.1-2.9-.5-1-.3-1.8-.9-2.6-1.5s-1.5-1.4-2-2.3c-.6-.9-1-1.9-1.2-2.8z" [ngClass]="'st16-level-' + gameService.level"></path>
      </g>
      <path d="M397.3 248.7c.5.9 1 1.6 1.6 2.4.6.7 1.3 1.4 2 2 .7.6 1.5 1.1 2.4 1.6.8.5 1.7.8 2.7 1.1-1-.1-2-.2-2.9-.6-.9-.3-1.8-.9-2.6-1.5-1.5-1.4-2.7-3.1-3.2-5zM398.4 246.7c.5.9 1 1.6 1.6 2.4.6.7 1.3 1.4 2 2 .7.6 1.5 1.1 2.4 1.6.8.5 1.7.8 2.7 1.1-1-.1-2-.2-2.9-.6-.9-.3-1.8-.9-2.6-1.5-1.6-1.4-2.7-3.1-3.2-5z" [ngClass]="'st16-level-' + gameService.level"></path>
    </g>
    <g>
      <path d="M456.9 319.3s-64.3-65.2-108.1-51l-.6-15.4s62.5-11 115.3 50.3l-6.6 16.1z" class="st18"></path>
      <path d="M454.8 315.2s-55-54.7-98.7-49.5v-5.2s48.4-5 104.9 44.3l-6.2 10.4z" class="st19"></path>
      <path d="M348.4 270l7 .8 2.7-20.9-9.8-.5zM450.4 318.8l22.8 7.5 4.4-18.6-14.4-9.6z" class="st20"></path>
      <path d="M358.6 264.9c-.8-1.8-1-4-.7-6l.3-1.5c.2-.5.3-1 .6-1.4.4-.9 1.1-1.7 1.7-2.5-.5.9-.9 1.8-1.2 2.7-.3.9-.6 1.9-.7 2.8-.2 1-.2 1.9-.2 2.9s0 2 .2 3zM361.6 265.4c-.8-1.8-1-4-.7-6l.3-1.5c.2-.5.3-1 .6-1.4.4-.9 1.1-1.7 1.7-2.5-.5.9-.9 1.8-1.2 2.7-.3.9-.6 1.9-.7 2.8-.2 1-.2 1.9-.2 2.9 0 1.1 0 2 .2 3zM364.8 265.5c-.5-2-.3-4.1.3-6 .3-1 .8-1.9 1.4-2.7.6-.9 1.3-1.6 2.1-2.2-.6.8-1.2 1.6-1.7 2.5-.5.8-.9 1.7-1.2 2.7-.3.9-.5 1.9-.7 2.9 0 .8-.2 1.8-.2 2.8zM367 265.3c-.5-2-.3-4.1.3-6 .3-1 .8-1.9 1.4-2.7.6-.9 1.3-1.6 2.1-2.2-.6.8-1.2 1.6-1.7 2.5-.5.8-.9 1.7-1.2 2.7-.3.9-.5 1.9-.7 2.9-.1.8-.2 1.8-.2 2.8zM371.3 266.2c-.2-2 .4-4.1 1.3-5.9.5-.9 1.1-1.8 1.8-2.5.7-.8 1.6-1.3 2.5-1.8-.7.7-1.5 1.4-2.1 2.2-.6.8-1.2 1.6-1.6 2.5-.5.9-.9 1.8-1.2 2.7-.3.9-.5 1.8-.7 2.8z" class="st5"></path>
      <g class="st17">
        <path d="M375.1 266.8c-.2-1-.1-2.1.2-3.1.2-1 .7-2 1.2-2.9.5-.9 1.2-1.7 2.1-2.4.8-.7 1.8-1.2 2.8-1.5-.7.8-1.4 1.5-2 2.3-.6.7-1.2 1.5-1.7 2.4-1 1.5-1.8 3.2-2.6 5.2z" class="st21"></path>
      </g>
      <path d="M381.8 266.7c-.3-2 .2-4.1 1-5.9.4-.9 1-1.8 1.7-2.6.6-.8 1.5-1.4 2.3-1.9-.7.7-1.4 1.4-1.9 2.3-.6.8-1.1 1.6-1.5 2.5-.4.9-.8 1.8-1 2.7-.3 1-.5 1.9-.6 2.9zM385.9 269.7c-.4-2.4.1-4.9 1.2-7 .5-1.1 1.2-2.1 2.1-3 .8-.9 1.8-1.6 2.9-2.2-.8.8-1.7 1.7-2.4 2.6-.7.9-1.3 1.9-1.8 2.9s-.9 2.1-1.2 3.2c-.4 1.2-.7 2.3-.8 3.5z" class="st5"></path>
      <g class="st17">
        <path d="M390.7 271.7c-.3-1.2-.3-2.4-.1-3.6.2-1.2.5-2.4 1.1-3.5.5-1.1 1.3-2.1 2.1-3 .9-.9 1.9-1.6 3-2.1-.8.9-1.6 1.8-2.2 2.7-.7.9-1.2 1.9-1.7 2.9-1 2-1.7 4.2-2.2 6.6z" class="st21"></path>
      </g>
      <g class="st17">
        <path d="M406.3 277c-.3-1.2-.3-2.4-.1-3.6.2-1.2.5-2.4 1.1-3.5.5-1.1 1.3-2.1 2.1-3 .9-.9 1.9-1.6 3-2.1-.8.9-1.6 1.8-2.2 2.7-.7.9-1.2 1.9-1.7 2.9-1.1 2.1-1.7 4.3-2.2 6.6z" class="st21"></path>
      </g>
      <path d="M395.8 272.6c-.4-2.4.1-4.9 1.2-7 .5-1.1 1.2-2.1 2.1-3 .8-.9 1.8-1.6 2.9-2.2-.8.8-1.7 1.7-2.4 2.6-.7.9-1.3 1.9-1.8 2.9s-.9 2.1-1.2 3.2c-.5 1.1-.7 2.3-.8 3.5zM400.9 275.2c-.4-2.4.1-4.9 1.2-7 .5-1.1 1.2-2.1 2.1-3 .8-.9 1.8-1.6 2.9-2.2-.8.8-1.7 1.7-2.4 2.6-.7.9-1.3 1.9-1.8 2.9s-.9 2.1-1.2 3.2c-.4 1.2-.7 2.3-.8 3.5zM413.9 279.7c0-2 .7-4 1.8-5.7.5-.9 1.2-1.7 2-2.3.7-.7 1.6-1.2 2.6-1.6-.8.6-1.5 1.3-2.2 2-.7.7-1.3 1.5-1.8 2.3-.5.8-1 1.7-1.4 2.6-.4.8-.7 1.7-1 2.7zM417.6 283.2c-.1-2.4.7-4.8 2.1-6.8.7-1 1.5-1.9 2.4-2.7.9-.8 2-1.4 3.1-1.8-.9.7-1.9 1.4-2.7 2.3-.8.8-1.6 1.7-2.2 2.7-.6 1-1.2 2-1.6 3-.5 1-.9 2.1-1.1 3.3z" class="st5"></path>
      <g class="st17">
        <path d="M422.1 285.8c-.2-1.2 0-2.4.3-3.6.3-1.2.9-2.3 1.5-3.4.7-1 1.5-2 2.5-2.7 1-.8 2.1-1.3 3.2-1.7-.9.8-1.8 1.6-2.5 2.4-.8.8-1.5 1.7-2.1 2.7-1.2 1.9-2.1 4-2.9 6.3z" class="st21"></path>
      </g>
      <g class="st17">
        <path d="M433.8 295.5c-.2-1.2 0-2.4.3-3.6.3-1.2.9-2.3 1.5-3.4.7-1 1.5-2 2.5-2.7 1-.8 2.1-1.3 3.2-1.7-.9.8-1.8 1.6-2.5 2.4-.8.8-1.5 1.7-2.1 2.7-1.2 1.9-2.1 4-2.9 6.3z" class="st21"></path>
      </g>
      <path d="M427.5 289.6c-.1-2.4.7-4.8 2.1-6.8.7-1 1.5-1.9 2.4-2.7.9-.8 2-1.4 3.1-1.8-.9.7-1.9 1.4-2.7 2.3-.8.8-1.6 1.7-2.2 2.7-.6 1-1.2 2-1.6 3-.4 1-.8 2.1-1.1 3.3zM429.4 291.5c-.1-2.4.7-4.8 2.1-6.8.7-1 1.5-1.9 2.4-2.7.9-.8 2-1.4 3.1-1.8-.9.7-1.9 1.4-2.7 2.3-.8.8-1.6 1.7-2.2 2.7-.6 1-1.2 2-1.6 3-.5 1.1-.9 2.2-1.1 3.3z" class="st5"></path>
    </g>
    <g>
      <path d="M129 310.7s87.9-3.1 106.3-43.3l11.3 9.6s-32.8 51.3-110.4 48.9l-7.2-15.2z" style="fill:#7c8f9a"></path>
      <path d="M133.3 311.8s74.5-3.4 99.1-37.7l3.7 3.4s-27.9 37.4-99.5 45.4l-3.3-11.1z" style="opacity:.29;fill:#4e585f"></path>
      <path d="M241.8 257.5l-12.7 11.2 13.3 17.1 6.7-6.7zM133.6 306.4l-16.2 2.5 6.4 23.9 16.2-4z" class="st20"></path>
      <path d="M231.4 276.4c1.8.6 3.5 1.8 4.7 3.4.6.8 1.1 1.6 1.5 2.5.4.9.6 1.9.6 2.8-.3-.9-.6-1.8-1.1-2.6-.4-.8-.9-1.6-1.5-2.3-.6-.7-1.2-1.4-1.9-2-.8-.7-1.5-1.3-2.3-1.8zM229.1 278.2c1.8.6 3.5 1.8 4.7 3.4.6.8 1.1 1.6 1.5 2.5.4.9.6 1.9.6 2.8-.3-.9-.6-1.8-1.1-2.6-.4-.8-.9-1.6-1.5-2.3-.6-.7-1.2-1.4-1.9-2-.8-.7-1.5-1.3-2.3-1.8zM226.9 280.4c1.7.9 3.1 2.4 4.1 4.2.5.9.8 1.8 1 2.8.2 1 .2 2 .2 2.9-.2-1-.3-1.9-.6-2.8-.3-.9-.7-1.8-1.1-2.6-.4-.8-1-1.6-1.6-2.4-.7-.7-1.3-1.4-2-2.1zM225.6 282.1c1.7.9 3.1 2.4 4.1 4.2.5.9.8 1.8 1 2.8.2 1 .2 2 .2 2.9-.2-1-.3-1.9-.6-2.8-.3-.9-.7-1.8-1.1-2.6-.4-.8-1-1.6-1.6-2.4-.6-.7-1.3-1.4-2-2.1zM222.2 284.5c1.5 1.2 2.7 2.9 3.3 4.8.3.9.5 1.9.6 2.9.1 1-.1 2-.3 2.9 0-1 0-1.9-.2-2.9-.1-.9-.4-1.9-.7-2.7-.3-.9-.7-1.8-1.2-2.6-.4-.8-.9-1.6-1.5-2.4z" class="st5"></path>
      <g class="st17">
        <path d="M219.3 286.9c.8.6 1.5 1.3 2.1 2.2.6.8 1 1.8 1.3 2.8l.3 1.5c0 .5.1 1 0 1.5 0 1-.3 2-.7 2.9-.1-1-.1-2-.3-2.9-.1-.9-.3-1.8-.6-2.7-.5-1.8-1.2-3.5-2.1-5.3z" class="st21"></path>
      </g>
      <path d="M215 291.6c1.6 1.1 2.8 2.8 3.5 4.6.4.9.6 1.9.7 2.8.1 1 0 2-.1 2.9-.1-1-.1-1.9-.4-2.8-.2-.9-.5-1.8-.8-2.7-.3-.9-.8-1.7-1.3-2.5-.4-.7-1-1.5-1.6-2.3zM210.3 292.6c1.9 1.3 3.4 3.2 4.2 5.4.4 1.1.7 2.2.8 3.4.1 1.2 0 2.3-.3 3.4-.1-1.1-.1-2.3-.3-3.4-.2-1.1-.5-2.2-.9-3.2s-.9-2-1.5-3c-.6-.8-1.3-1.7-2-2.6z" class="st5"></path>
      <g class="st17">
        <path d="M205.7 294.8c1 .5 1.9 1.4 2.7 2.3.8.9 1.3 1.9 1.8 3.1.2.5.4 1.1.5 1.7.1.6.2 1.2.2 1.8.1 1.2-.1 2.4-.5 3.5-.2-1.2-.2-2.3-.5-3.3-.2-1.1-.5-2.1-.9-3.1-.8-2.3-1.9-4.2-3.3-6z" class="st21"></path>
      </g>
      <g class="st17">
        <path d="M191.8 302.3c1 .5 1.9 1.4 2.7 2.3.8.9 1.3 1.9 1.8 3.1.2.5.4 1.1.5 1.7.1.6.2 1.2.2 1.8.1 1.2-.1 2.4-.5 3.5-.2-1.2-.2-2.3-.5-3.3-.2-1.1-.5-2.1-.9-3.1-.8-2.3-1.9-4.2-3.3-6z" class="st21"></path>
      </g>
      <path d="M201.8 297.7c1.9 1.3 3.4 3.2 4.2 5.4.4 1.1.7 2.2.8 3.4.1 1.2 0 2.3-.3 3.4-.1-1.1-.1-2.3-.3-3.4-.2-1.1-.5-2.2-.9-3.2s-.9-2-1.5-3c-.6-.8-1.2-1.7-2-2.6zM196.6 299.6c1.9 1.3 3.4 3.2 4.2 5.4.4 1.1.7 2.2.8 3.4.1 1.2 0 2.3-.3 3.4-.1-1.1-.1-2.3-.3-3.4-.2-1.1-.5-2.2-.9-3.2s-.9-2-1.5-3c-.6-.8-1.2-1.7-2-2.6zM185 305.9c1.4 1.3 2.4 3.1 2.9 5 .3.9.4 1.9.3 2.9 0 1-.2 1.9-.5 2.9.1-1 .1-1.9 0-2.8-.1-.9-.2-1.9-.5-2.8-.2-.9-.6-1.8-.9-2.6-.4-.9-.8-1.8-1.3-2.6zM180.1 306.2c1.7 1.5 2.9 3.6 3.5 5.9.3 1.1.4 2.3.3 3.5 0 1.2-.3 2.3-.7 3.4.1-1.1.2-2.3.1-3.4 0-1.1-.2-2.2-.5-3.3-.3-1.1-.6-2.1-1.1-3.1-.4-1-.9-2-1.6-3z" class="st5"></path>
      <g class="st17">
        <path d="M175.4 307.8c1 .7 1.7 1.6 2.4 2.6.6 1 1.1 2.1 1.4 3.3.2.6.2 1.2.3 1.8 0 .6.1 1.2 0 1.8-.1 1.2-.4 2.3-.9 3.4 0-1.2 0-2.3-.1-3.4s-.2-2.2-.5-3.2c-.6-2.3-1.5-4.3-2.6-6.3z" class="st21"></path>
      </g>
      <g class="st17">
        <path d="M160.9 309.7c1 .7 1.7 1.6 2.4 2.6.6 1 1.1 2.1 1.4 3.3.2.6.2 1.2.3 1.8 0 .6.1 1.2 0 1.8-.1 1.2-.4 2.3-.9 3.4 0-1.2 0-2.3-.1-3.4s-.2-2.2-.5-3.2c-.6-2.2-1.5-4.2-2.6-6.3z" class="st21"></path>
      </g>
      <path d="M169.1 309.1c1.7 1.5 2.9 3.6 3.5 5.9.3 1.1.4 2.3.3 3.5 0 1.2-.3 2.3-.7 3.4.1-1.1.2-2.3.1-3.4 0-1.1-.2-2.2-.5-3.3-.3-1.1-.6-2.1-1.1-3.1-.4-1-.9-2-1.6-3zM166.6 309.2c1.7 1.5 2.9 3.6 3.5 5.9.3 1.1.4 2.3.3 3.5 0 1.2-.3 2.3-.7 3.4.1-1.1.2-2.3.1-3.4 0-1.1-.2-2.2-.5-3.3-.3-1.1-.6-2.1-1.1-3.1-.5-1.1-1-2.1-1.6-3z" class="st5"></path>
    </g>
    <g>
      <path d="M276.9 113.4s-60.7-87.1-34.8-133.8l-17.6-4s-26.3 68.5 32.4 141.8l20-4z" class="st24"></path>
      <path d="M272.7 110.1S222 35.7 237.5-12.7l-5.9-1.1s-16.3 53.9 27.9 128.7l13.2-4.8z" class="st25"></path>
      <path d="M244.1-20.5l-.5 8.1-24.6-1.5 1.6-11.2zM277.8 105.9l9.3 17.5-28 11-7.9-18.5z" class="st20"></path>
      <path d="M236.1-10c-1.1-.4-2.2-.7-3.3-.9-1.1-.2-2.3-.4-3.4-.4-1.1-.1-2.3 0-3.4.2s-2.2.5-3.4.8c1-.6 2.1-1.2 3.2-1.4.6-.2 1.2-.2 1.8-.3.6 0 1.2-.1 1.8-.1 2.4 0 4.7.7 6.7 2.1zM236-6.5c-1.1-.4-2.2-.7-3.3-.9-1.1-.2-2.3-.4-3.4-.4-1.1-.1-2.3 0-3.4.2s-2.2.5-3.4.8c1-.6 2.1-1.2 3.2-1.4.6-.2 1.2-.2 1.8-.3.6 0 1.2-.1 1.8-.1 2.4 0 4.8.7 6.7 2.1zM235.4-2.8c-1.2-.2-2.3-.3-3.5-.3-1.1 0-2.3 0-3.4.2-1.1.1-2.2.4-3.3.8-1.1.3-2.1.9-3.2 1.4.9-.8 1.9-1.5 3-2 .5-.3 1.1-.4 1.7-.6.6-.1 1.2-.3 1.8-.4 2.3-.4 4.7-.1 6.9.9zM234.7-.4c-1.2-.2-2.3-.3-3.5-.3-1.1 0-2.3 0-3.4.2-1.1.1-2.2.4-3.3.8-1.1.3-2.1.9-3.2 1.4.9-.8 1.9-1.5 3-2 .5-.3 1.1-.4 1.7-.6.6-.1 1.2-.3 1.8-.4 2.2-.4 4.7-.1 6.9.9zM234.8 4.6c-1.2 0-2.4.1-3.5.2-1.1.2-2.3.4-3.4.7-1.1.3-2.2.8-3.2 1.3s-2 1.2-3 1.9c.8-.9 1.6-1.8 2.6-2.4.5-.4 1-.6 1.6-.9.6-.2 1.1-.5 1.7-.6 2.4-.6 4.9-.8 7.2-.2z" class="st5"></path>
      <g class="st17">
        <path d="M234.6 9.1c-2.4.5-4.6.9-6.7 1.7-1.1.4-2.1.8-3.1 1.4-1 .5-2 1.2-3 1.8.6-1.1 1.4-2.1 2.3-2.8.9-.8 2.1-1.4 3.2-1.8 1.2-.4 2.4-.7 3.6-.7 1.3-.1 2.5 0 3.7.4z" class="st21"></path>
      </g>
      <path d="M233.1 16.7c-1.2-.1-2.3 0-3.5.1-1.1.1-2.3.3-3.4.6s-2.2.6-3.2 1.1c-1 .5-2 1.1-3 1.7.8-.8 1.7-1.7 2.7-2.2.5-.3 1.1-.5 1.6-.8.6-.2 1.1-.4 1.7-.5 2.4-.7 4.8-.7 7.1 0zM235.6 22c-1.4-.1-2.8-.1-4.1 0-1.3.1-2.7.3-4 .7-1.3.3-2.6.8-3.8 1.4-1.2.6-2.4 1.3-3.5 2.1.9-1 1.9-2.1 3.1-2.8.6-.4 1.2-.7 1.9-1 .7-.2 1.3-.5 2-.7 2.8-.7 5.8-.7 8.4.3z" class="st5"></path>
      <g class="st17">
        <path d="M236.8 27.9c-2.8.1-5.5.3-8 1-1.3.3-2.5.8-3.7 1.3-1.2.5-2.4 1.2-3.6 1.9.8-1.2 1.8-2.2 3-3 .6-.4 1.2-.7 1.9-1.1.7-.3 1.3-.5 2-.7 1.4-.4 2.8-.5 4.3-.5 1.4.2 2.8.5 4.1 1.1z" class="st21"></path>
      </g>
      <g class="st17">
        <path d="M239.5 46.7c-2.8.1-5.5.3-8 1-1.3.3-2.5.8-3.7 1.3-1.2.5-2.4 1.2-3.6 1.9.8-1.2 1.8-2.2 3-3 .6-.4 1.2-.7 1.9-1.1.7-.3 1.3-.5 2-.7 1.4-.4 2.8-.5 4.3-.5 1.4.2 2.9.5 4.1 1.1z" class="st21"></path>
      </g>
      <path d="M236.7 33.8c-1.4-.1-2.8-.1-4.1 0-1.3.1-2.7.3-4 .7-1.3.3-2.6.8-3.8 1.4-1.2.6-2.4 1.3-3.5 2.1.9-1 1.9-2.1 3.1-2.8.6-.4 1.2-.7 1.9-1 .7-.2 1.3-.5 2-.7 2.8-.6 5.8-.6 8.4.3zM238.7 40.2c-1.4-.1-2.8-.1-4.1 0-1.3.1-2.7.3-4 .7-1.3.3-2.6.8-3.8 1.4-1.2.6-2.4 1.3-3.5 2.1.9-1 1.9-2.1 3.1-2.8.6-.4 1.2-.7 1.9-1 .7-.2 1.3-.5 2-.7 2.8-.6 5.7-.6 8.4.3zM240.9 55.9c-1.2.1-2.3.3-3.4.5s-2.2.6-3.3 1c-1.1.4-2.1.9-3 1.5-1 .6-1.9 1.3-2.8 2.1.7-.9 1.5-1.9 2.4-2.6.5-.4 1-.7 1.5-1 .5-.3 1.1-.5 1.6-.8 2.3-.8 4.7-1.1 7-.7zM244.1 60.9c-1.4.1-2.7.3-4.1.5-1.3.3-2.6.7-3.9 1.2-1.2.5-2.4 1.1-3.5 1.9-1.1.7-2.2 1.6-3.2 2.6.8-1.2 1.6-2.3 2.8-3.2.5-.5 1.1-.8 1.7-1.2.6-.3 1.2-.7 1.9-.9 2.7-1.1 5.6-1.5 8.3-.9z" class="st5"></path>
      <g class="st17">
        <path d="M246.1 66.6c-2.8.4-5.4 1-7.8 2-1.2.5-2.4 1.1-3.5 1.8-1.2.7-2.2 1.5-3.3 2.4.7-1.2 1.5-2.4 2.6-3.3.5-.5 1.1-.9 1.7-1.3.6-.3 1.3-.7 1.9-1 1.3-.5 2.7-.9 4.2-1 1.4-.1 2.8-.1 4.2.4z" class="st21"></path>
      </g>
      <g class="st17">
        <path d="M254.7 81.9c-2.8.4-5.4 1-7.8 2-1.2.5-2.4 1.1-3.5 1.8-1.2.7-2.2 1.5-3.3 2.4.7-1.2 1.5-2.4 2.6-3.3.5-.5 1.1-.9 1.7-1.3.6-.3 1.3-.7 1.9-1 1.3-.5 2.7-.9 4.2-1 1.4-.1 2.8 0 4.2.4z" class="st21"></path>
      </g>
      <path d="M249.3 73.6c-1.4.1-2.7.3-4.1.5-1.3.3-2.6.7-3.9 1.2-1.2.5-2.4 1.1-3.5 1.9-1.1.7-2.2 1.6-3.2 2.6.8-1.2 1.6-2.3 2.8-3.2.5-.5 1.1-.8 1.7-1.2.6-.3 1.2-.7 1.9-.9 2.6-1.1 5.6-1.5 8.3-.9zM251.1 76.1c-1.4.1-2.7.3-4.1.5-1.3.3-2.6.7-3.9 1.2-1.2.5-2.4 1.1-3.5 1.9-1.1.7-2.2 1.6-3.2 2.6.8-1.2 1.6-2.3 2.8-3.2.5-.5 1.1-.8 1.7-1.2.6-.3 1.2-.7 1.9-.9 2.7-1.1 5.6-1.5 8.3-.9z" class="st5"></path>
    </g>
    <g>
      <path d="M497.1 113.5s37.3-86 7-122.2l14.4-6.5s34.4 55.1-3.5 128.7h-17.9z" class="st18"></path>
      <path d="M500.1 110S531 36.7 509.3-2.7l4.9-2s23.3 44-1.9 116.6l-12.2-1.9z" class="st19"></path>
      <path d="M502.3-8.4l1.8 6.9 21-5.5-3.4-9.5zM495 107.1l-5 16.8 26 4.9 3.6-17.5z" class="st20"></path>
      <path d="M511-.7c1.4-1.5 3.4-2.5 5.4-3l1.5-.3c.5 0 1-.1 1.6 0 1 0 2.1.3 3 .7-1-.1-2-.2-3-.2s-2 .2-3 .4-1.9.5-2.8.9L511-.7zM511.6 2.3C513 .8 515-.2 517-.7l1.5-.3c.5 0 1-.1 1.6 0 1 0 2.1.3 3 .7-1-.1-2-.2-3-.2s-2 .2-3 .4-1.9.5-2.8.9c-.9.6-1.8 1-2.7 1.5zM512.8 5.4c1.7-1.2 3.8-1.9 5.9-2h1.6c.5.1 1 .1 1.6.3 1 .2 2 .7 2.9 1.2-1-.3-2-.5-3-.7-1-.1-2-.2-3-.1s-2 .2-3 .4l-3 .9zM513.9 7.4c1.7-1.2 3.8-1.9 5.9-2h1.6c.5.1 1 .1 1.6.3 1 .2 2 .7 2.9 1.2-1-.3-2-.5-3-.7-1-.1-2-.2-3-.1s-2 .2-3 .4c-1.1.3-2.1.6-3 .9zM514.6 11.8c1.9-.9 4.1-1.2 6.2-1 1.1.1 2.1.4 3.1.8s1.9 1 2.7 1.6c-1-.4-1.9-.9-2.9-1.1-1-.3-2-.5-3-.6-1-.1-2-.1-3-.1-1.1.1-2.1.2-3.1.4z" class="st5"></path>
      <g class="st17">
        <path d="M515.6 15.7c.9-.6 2-.9 3-1 1.1-.2 2.2-.1 3.2 0 1.1.2 2.1.5 3.1 1s1.8 1.2 2.5 2c-1-.4-1.9-.8-2.9-1-.9-.3-1.9-.5-2.9-.7-1.9-.2-3.9-.3-6-.3z" class="st21"></path>
      </g>
      <path d="M518.2 22c1.8-1 3.9-1.4 6-1.3 1 .1 2.1.2 3.1.6 1 .3 1.9.9 2.7 1.5-1-.4-1.9-.7-2.9-1-1-.2-2-.4-2.9-.4-1-.1-2 0-3 .1s-2 .3-3 .5zM516.9 27c1-.6 2.2-1.1 3.4-1.3 1.2-.3 2.5-.3 3.7-.3 1.2.1 2.5.3 3.6.8 1.2.4 2.2 1.1 3.2 1.9-1.1-.5-2.2-1-3.4-1.2-1.1-.3-2.3-.5-3.5-.6-2.3-.2-4.6.1-7 .7z" class="st5"></path>
      <g class="st17">
        <path d="M516.9 32.4c1-.7 2.2-1.2 3.4-1.5 1.2-.3 2.5-.4 3.8-.3 1.3.1 2.5.4 3.7.9 1.2.5 2.2 1.2 3.1 2.1-1.2-.4-2.3-.8-3.4-1-1.1-.3-2.3-.4-3.4-.5-2.4-.4-4.8-.1-7.2.3z" class="st21"></path>
      </g>
      <g class="st17">
        <path d="M517.7 49.2c1-.7 2.2-1.2 3.4-1.5 1.2-.3 2.5-.4 3.8-.3 1.3.1 2.5.4 3.7.9 1.2.5 2.2 1.2 3.1 2.1-1.2-.4-2.3-.8-3.4-1-1.1-.3-2.3-.4-3.4-.5-2.4-.3-4.7-.1-7.2.3z" class="st21"></path>
      </g>
      <path d="M518 37.5c1-.6 2.2-1.1 3.4-1.3 1.2-.3 2.5-.3 3.7-.3 1.2.1 2.5.3 3.6.8 1.2.4 2.2 1.1 3.2 1.9-1.1-.5-2.2-1-3.4-1.2-1.1-.3-2.3-.5-3.5-.6-2.3-.2-4.7.1-7 .7zM517.4 43.4c1-.6 2.2-1.1 3.4-1.3 1.2-.3 2.5-.3 3.7-.3 1.2.1 2.5.3 3.6.8 1.2.4 2.2 1.1 3.2 1.9-1.1-.5-2.2-1-3.4-1.2-1.1-.3-2.3-.5-3.5-.6-2.3-.2-4.6.1-7 .7zM518.1 57.5c1.9-.8 4.1-.9 6.1-.5 1 .2 2 .5 3 1 .9.4 1.8 1.1 2.5 1.8-.9-.5-1.8-1-2.7-1.3-.9-.4-1.9-.6-2.9-.8-1-.2-2-.3-3-.3-.9-.1-1.9-.1-3 .1zM516.2 62.3c1.1-.5 2.3-.8 3.6-.9 1.2-.1 2.5 0 3.7.2 1.2.3 2.4.7 3.5 1.3 1.1.6 2.1 1.4 2.9 2.3-1.1-.6-2.1-1.2-3.2-1.7s-2.2-.8-3.4-1c-2.3-.5-4.7-.5-7.1-.2z" class="st5"></path>
      <g class="st17">
        <path d="M515.5 67.6c1.1-.6 2.3-.9 3.6-1.1 1.2-.1 2.5-.1 3.8.2 1.2.2 2.5.7 3.5 1.3 1.1.6 2 1.5 2.8 2.5-1.1-.5-2.2-1.1-3.3-1.5-1.1-.4-2.2-.7-3.3-1-2.3-.5-4.6-.5-7.1-.4z" class="st21"></path>
      </g>
      <g class="st17">
        <path d="M510.8 82.4c1.1-.6 2.3-.9 3.6-1.1 1.2-.1 2.5-.1 3.8.2 1.2.2 2.5.7 3.5 1.3 1.1.6 2 1.5 2.8 2.5-1.1-.5-2.2-1.1-3.3-1.5-1.1-.4-2.2-.7-3.3-1-2.3-.4-4.7-.5-7.1-.4z" class="st21"></path>
      </g>
      <path d="M514 74.2c1.1-.5 2.3-.8 3.6-.9 1.2-.1 2.5 0 3.7.2 1.2.3 2.4.7 3.5 1.3 1.1.6 2.1 1.4 2.9 2.3-1.1-.6-2.1-1.2-3.2-1.7s-2.2-.8-3.4-1c-2.3-.5-4.7-.5-7.1-.2zM512.8 76.7c1.1-.5 2.3-.8 3.6-.9 1.2-.1 2.5 0 3.7.2 1.2.3 2.4.7 3.5 1.3 1.1.6 2.1 1.4 2.9 2.3-1.1-.6-2.1-1.2-3.2-1.7s-2.2-.8-3.4-1c-2.3-.5-4.6-.5-7.1-.2z" class="st5"></path>
    </g>
    <g>
      <path d="M356.1 408.3s80.5-3 98.8-37.6l10 8.2s-31.8 44.2-102.8 42.4l-6-13z" class="st24"></path>
      <path d="M360 409.3s68.3-3.2 92-32.7l3.2 2.9s-26.8 32.3-92.6 39.4l-2.6-9.6z" class="st25"></path>
      <path d="M460.9 364.4l-11.6 8.9 10.1 18.9 7.7-11.4zM360.5 404.6l-14.9 2.2 5 20.6 14.9-3.5z" class="st20"></path>
      <path d="M448.8 380.1c.8.2 1.6.6 2.3 1.1.7.5 1.3 1.1 1.9 1.7.5.7 1 1.4 1.3 2.2.3.8.5 1.6.5 2.5-.3-.8-.5-1.6-.9-2.3-.4-.7-.8-1.4-1.3-2-1.1-1.3-2.4-2.3-3.8-3.2zM446.8 382c.8.4 1.4.9 2 1.5.6.6 1.1 1.3 1.5 2 .4.7.7 1.6.9 2.4.2.8.2 1.7.1 2.5-.1-.8-.2-1.6-.5-2.4-.2-.8-.5-1.5-.9-2.2-.9-1.4-1.9-2.7-3.1-3.8zM445.5 383.4c.8.4 1.4.9 2 1.5.6.6 1.1 1.3 1.5 2 .4.7.7 1.6.9 2.4.2.8.2 1.7.1 2.5-.1-.8-.2-1.6-.5-2.4-.2-.8-.5-1.5-.9-2.2-.8-1.4-1.8-2.6-3.1-3.8zM442.3 385.5c.7.5 1.2 1.1 1.7 1.8s.9 1.5 1.1 2.3c.3.8.4 1.7.4 2.5 0 .9-.1 1.7-.4 2.5 0-.8.1-1.7-.1-2.5-.1-.8-.3-1.6-.5-2.4-.2-.8-.6-1.5-1-2.2-.2-.6-.7-1.3-1.2-2z" class="st5"></path>
      <g class="st17">
        <path d="M439.6 387.6c.7.5 1.3 1.1 1.8 1.8s.8 1.5 1.1 2.4c.1.4.2.9.2 1.3s.1.9 0 1.3c-.1.9-.3 1.7-.8 2.5-.1-.9 0-1.7-.2-2.5-.1-.8-.2-1.6-.4-2.3-.3-1.5-1-3-1.7-4.5z" class="st21"></path>
      </g>
      <path d="M435.5 391.7c.7.5 1.3 1.1 1.8 1.7.5.7.9 1.4 1.3 2.2.3.8.5 1.6.6 2.5.1.8 0 1.7-.2 2.5 0-.8 0-1.6-.2-2.4-.1-.8-.4-1.6-.7-2.3-.7-1.6-1.5-3-2.6-4.2zM431.1 392.5c1.7 1.1 2.9 2.7 3.7 4.6.4.9.6 1.9.6 2.9.1 1-.1 2-.4 2.9 0-1 0-2-.2-2.9-.1-.9-.4-1.9-.7-2.7-.3-.9-.8-1.7-1.3-2.5s-1-1.6-1.7-2.3z" class="st5"></path>
      <g class="st17">
        <path d="M426.9 394.4c.9.4 1.7 1.1 2.3 1.9.7.8 1.2 1.7 1.5 2.6.2.5.3 1 .4 1.5.1.5.2 1 .1 1.5 0 1-.2 2-.6 3-.1-1-.1-2-.3-2.9-.2-.9-.4-1.8-.7-2.7-.5-1.7-1.5-3.3-2.7-4.9z" class="st21"></path>
      </g>
      <g class="st17">
        <path d="M413.9 400.9c.9.4 1.7 1.1 2.3 1.9.7.8 1.2 1.7 1.5 2.6.2.5.3 1 .4 1.5.1.5.2 1 .1 1.5 0 1-.2 2-.6 3-.1-1-.1-2-.3-2.9-.2-.9-.4-1.8-.7-2.7-.5-1.7-1.5-3.3-2.7-4.9z" class="st21"></path>
      </g>
      <path d="M423.2 396.9c1.7 1.1 2.9 2.7 3.7 4.6.4.9.6 1.9.6 2.9.1 1-.1 2-.4 2.9 0-1 0-2-.2-2.9-.1-.9-.4-1.9-.7-2.7-.3-.9-.8-1.7-1.3-2.5-.4-.8-1-1.5-1.7-2.3zM418.4 398.6c1.7 1.1 2.9 2.7 3.7 4.6.4.9.6 1.9.6 2.9.1 1-.1 2-.4 2.9 0-1 0-2-.2-2.9-.1-.9-.4-1.9-.7-2.7-.3-.9-.8-1.7-1.3-2.5s-1.1-1.6-1.7-2.3zM407.5 404c.6.5 1.1 1.2 1.6 1.9.4.7.7 1.5.9 2.3.2.8.3 1.7.2 2.5 0 .8-.3 1.7-.6 2.4.1-.8.2-1.6.1-2.4 0-.8-.1-1.6-.3-2.4-.2-.8-.4-1.5-.8-2.3-.2-.6-.6-1.3-1.1-2zM403.1 404.3c1.5 1.3 2.5 3.1 3 5.1.2 1 .3 2 .2 3-.1 1-.4 2-.8 2.9.1-1 .3-1.9.2-2.9 0-1-.1-1.9-.3-2.8-.2-.9-.5-1.8-.9-2.7-.4-.9-.9-1.7-1.4-2.6z" class="st5"></path>
      <g class="st17">
        <path d="M398.7 405.7c.8.6 1.5 1.3 2 2.2.5.9.9 1.8 1.2 2.8.2 1 .3 2 .1 3.1-.1 1-.5 2-1 2.9 0-1 .1-2 .1-2.9 0-.9-.1-1.9-.4-2.8-.3-1.8-1.1-3.6-2-5.3z" class="st21"></path>
      </g>
      <g class="st17">
        <path d="M385.4 407.4c.8.6 1.5 1.3 2 2.2.5.9.9 1.8 1.2 2.8.2 1 .3 2 .1 3.1-.1 1-.5 2-1 2.9 0-1 .1-2 .1-2.9 0-.9-.1-1.9-.4-2.8-.4-1.8-1.1-3.5-2-5.3z" class="st21"></path>
      </g>
      <path d="M392.9 406.9c1.5 1.3 2.5 3.1 3 5.1.2 1 .3 2 .2 3-.1 1-.4 2-.8 2.9.1-1 .3-1.9.2-2.9 0-1-.1-1.9-.3-2.8-.2-.9-.5-1.8-.9-2.7-.4-1-.8-1.8-1.4-2.6zM390.6 406.9c1.5 1.3 2.5 3.1 3 5.1.2 1 .3 2 .2 3-.1 1-.4 2-.8 2.9.1-1 .3-1.9.2-2.9 0-1-.1-1.9-.3-2.8-.2-.9-.5-1.8-.9-2.7-.4-.9-.9-1.8-1.4-2.6z" class="st5"></path>
    </g>
    <g>
      <path style="fill:#808285" d="M566.8 346.1l15.5-3.6 1 121.3-16.1-3.8z"></path>
      <path style="fill:#939598" d="M566.6 350.6l15.7-2.6 1 111.8-16-4.2z"></path>
      <path style="fill:#adafb2" d="M566.3 363.2l16.2-1.9.7 85.2-15.6-3.3z"></path>
      <path style="fill:#c7c8ca" d="M566 376.7l16.6-1.1.5 56.6-15.1-2.3z"></path>
    </g>
    <g>
      <path d="M18.3 236.9h107.8v107.8H18.3z" class="st9"></path>
      <path d="M18.5 236.8h10.7v107.8H18.5z" class="st30"></path>
      <path d="M36.5 344.6h-7.8l-3.8-107.8h11.6z" class="st31"></path>
      <path d="M44.8 344.6H34.1V236.8h14.1z" class="st32"></path>
      <g>
        <path d="M115.3 236.8H126v107.8h-10.7z" class="st30" transform="rotate(180 120.68295 290.72995)"></path>
        <path d="M108 344.6h7.8l3.8-107.8H108z" class="st31"></path>
        <path d="M99.7 344.6h10.7V236.8H96.3z" class="st32"></path>
      </g>
      <path d="M76.1 344.6H65.4l-2.9-107.8H79z" class="st33"></path>
    </g>
    <g>
      <path d="M130.1 344.9v115.9H43.2c-16 0-29-11-29-24.8v-91h115.9z" class="st34"></path>
      <path d="M130.1 344.9v109.4L52 455.6c-14.6 0-26.4-10-26.4-22.6l-.3-88.1h104.8z" class="st35"></path>
      <path d="M130.1 344.9V430L64 426.8c-12.2 0-23.1-8.4-23.1-18.9l1.5-63h87.7z" class="st36"></path>
      <path d="M130.1 344.9v69.5l-49.2.9c-9.1 0-16.4-6.2-16.4-14l.4-56.3h65.2z" class="st35"></path>
      <path d="M130.1 344.9v52.2l-40.4-1.8c-7.4 0-14.7-5.1-14.7-11.5l1.2-38.8h53.9z" class="st34"></path>
      <path d="M130.1 344.9v34.2l-19.6.4c-3.9 0-7.1-3.2-7.1-7.3l-1.7-27.3h28.4z" class="st36"></path>
      <path d="M130.1 344.9v11.3h-8.5c-1.6 0-2.8-1.1-2.8-2.4v-8.9h11.3z" class="st2"></path>
      <path d="M130.1 344.9v19.4h-13.2c-2.3 0-4.2-1.8-4.2-4.2l.6-15.2h16.8z" class="st35"></path>
      <path d="M130.1 344.9v9.9l-8.6-.4c-1.5 0-2.8-.9-2.8-2.1l.3-7.4h11.1z" class="st37"></path>
    </g>
    <g>
      <path d="M241.6 237.8h107.8v107.8H241.6z" class="st9"></path>
      <path d="M241.8 237.8h10.7v107.8h-10.7z" class="st30"></path>
      <path d="M259.8 345.6H252l-3.9-107.8h11.7z" class="st31"></path>
      <path d="M268.1 345.6h-10.7V237.8h14z" class="st32"></path>
      <g>
        <path d="M338.6 237.8h10.7v107.8h-10.7z" class="st30" transform="rotate(180 343.95345 291.6804)"></path>
        <path d="M331.3 345.6h7.8l3.8-107.8h-11.6z" class="st31"></path>
        <path d="M323 345.6h10.6V237.8h-14z" class="st32"></path>
      </g>
      <path d="M302.2 345.6h-10.6l-5.8-107.8h16.4z" class="st33"></path>
    </g>
    <g>
      <path d="M352.8 125.9h107.8v107.8H352.8z" class="st9" transform="rotate(-90 406.6715 179.742)"></path>
      <path d="M401.3 174.2H412V282h-10.7z" class="st30" transform="rotate(-90 406.6715 228.111)"></path>
      <path d="M460.6 215.4v7.8l-107.8 3.9v-11.7z" class="st31"></path>
      <path d="M460.6 207.1v10.7H352.8v-14z" class="st32"></path>
      <g>
        <path d="M401.3 77.4H412v107.8h-10.7z" class="st30" transform="rotate(90 406.67145 131.25325001)"></path>
        <path d="M460.6 143.9v-7.8l-107.8-3.8v11.6z" class="st31"></path>
        <path d="M460.6 152.2v-10.6H352.8v14z" class="st32"></path>
      </g>
      <path d="M460.6 173v10.6l-107.8 5.8V173z" class="st33"></path>
    </g>
    <g>
      <path d="M129.9 349h107.8v107.8H129.9z" class="st9"></path>
      <path d="M178.6 396.3h10.5v107.8h-10.5z" class="st30" transform="rotate(-90 183.81135 450.21545)"></path>
      <path d="M237.7 437.8v7.6l-107.8 3.8v-11.4z" class="st31"></path>
      <path d="M237.7 429.6v10.5H129.9v-13.8z" class="st32"></path>
      <g>
        <path d="M178.6 301.6h10.5v107.8h-10.5z" class="st30" transform="rotate(90 183.81135 355.48375001)"></path>
        <path d="M237.7 367.9v-7.6l-107.8-3.8v11.4z" class="st31"></path>
        <path d="M237.7 376.1v-10.5H129.9v13.8z" class="st32"></path>
      </g>
      <path d="M237.7 398.9v10.5l-107.8 2.8v-16.1z" class="st33"></path>
    </g>
    <g>
      <path d="M237.5 344.9v115.9h86.9c16 0 29-11 29-24.8v-91H237.5z" class="st34"></path>
      <path d="M237.5 344.9v105.8l78.1 1.9c14.6 0 26.4-10 26.4-22.6l.3-85.1H237.5z" class="st35"></path>
      <path d="M237.5 344.9v88.6l66.2-6.7c12.2 0 23.1-8.4 23.1-18.9l-1.5-63h-87.8z" class="st36"></path>
      <path d="M237.5 344.9v66.9l49.2-1.1c9.1 0 16.4-6.2 16.4-14l-.4-51.8h-65.2z" class="st35"></path>
      <path d="M237.5 344.9v55.2l40.4 1.8c7.4 0 14.7-5.1 14.7-11.5l-1.2-45.5h-53.9z" class="st34"></path>
      <path d="M237.5 344.9v30.7l19.6-1.4c3.9 0 7.1-3.2 7.1-7.3l1.7-22h-28.4z" class="st36"></path>
      <path d="M237.5 344.9v11.3h8.5c1.6 0 2.8-1.1 2.8-2.4v-8.9h-11.3z" class="st2"></path>
      <path d="M237.5 344.9v19.4l13.2.7c2.3 0 4.2-1.8 4.2-4.2l-.6-16h-16.8z" class="st35"></path>
      <path d="M237.5 344.9v13.7l8.6.3c1.5 0 2.8-.9 2.8-2.1l-.3-11.9h-11.1z" class="st37"></path>
    </g>
    <g>
      <path d="M353.4 237.7V121.8h-86.9c-16 0-29 11-29 24.8v91h115.9z" class="st34"></path>
      <path d="M353.4 237.7V131.9l-78.1-1.9c-14.6 0-26.4 10-26.4 22.6l-.3 85.1h104.8z" class="st35"></path>
      <path d="M353.4 237.7v-88.6l-66.2 6.7c-12.2 0-23.1 8.4-23.1 18.9l1.5 63h87.8z" class="st36"></path>
      <path d="M353.4 237.7v-66.9l-49.2 1.1c-9.1 0-16.4 6.2-16.4 14l.4 51.8h65.2z" class="st35"></path>
      <path d="M353.4 237.7v-55.2l-40.4-1.8c-7.4 0-14.7 5.1-14.7 11.5l1.2 45.5h53.9z" class="st34"></path>
      <path d="M353.4 237.7V207l-19.6 1.4c-3.9 0-7.1 3.2-7.1 7.3l-1.7 22h28.4z" class="st36"></path>
      <path d="M353.4 237.7v-11.3h-8.5c-1.6 0-2.8 1.1-2.8 2.4v8.9h11.3z" class="st2"></path>
      <path d="M353.4 237.7v-19.4l-13.2-.7c-2.3 0-4.2 1.8-4.2 4.2l.6 16h16.8z" class="st35"></path>
      <path d="M353.4 237.7V224l-8.6-.3c-1.5 0-2.8.9-2.8 2.1l.3 11.9h11.1z" class="st37"></path>
    </g>
    <g>
      <path d="M464.9 237.8h107.8v107.8H464.9z" class="st9" transform="rotate(180 518.82875 291.68040001)"></path>
      <path d="M561.9 237.8h10.7v107.8h-10.7z" class="st30" transform="rotate(180 567.19775 291.68040001)"></path>
      <path d="M554.5 345.6h7.8l3.9-107.8h-11.7z" class="st31"></path>
      <path d="M546.2 345.6h10.7V237.8h-14z" class="st32"></path>
      <g>
        <path d="M465 237.8h10.7v107.8H465z" class="st30"></path>
        <path d="M483 345.6h-7.8l-3.8-107.8H483z" class="st31"></path>
        <path d="M491.3 345.6h-10.7V237.8h14.1z" class="st32"></path>
      </g>
      <path d="M512.1 345.6h10.6l5.8-107.8h-16.4z" class="st33"></path>
    </g>
    <g>
      <path d="M572.7 344.9v115.9h-83.8c-15.4 0-28-11-28-24.8v-91h111.8z" class="st34"></path>
      <path d="M572.7 344.9v105.8l-75.3 1.9c-14 0-25.4-10-25.4-22.6l-.3-85.1h101z" class="st35"></path>
      <path d="M572.7 344.9v88.6l-63.8-6.7c-11.8 0-22.3-8.4-22.3-18.9l1.5-63h84.6z" class="st36"></path>
      <path d="M572.7 344.9v66.9l-47.5-1.1c-8.7 0-15.8-6.2-15.8-14l.4-51.8h62.9z" class="st35"></path>
      <path d="M572.7 344.9v55.2l-39 1.8c-7.2 0-14.2-5.1-14.2-11.5l1.2-45.5h52z" class="st34"></path>
      <path d="M572.7 344.9v30.7l-18.9-1.4c-3.8 0-6.8-3.2-6.8-7.3l-1.6-22h27.3z" class="st36"></path>
      <path d="M572.7 344.9v11.3h-8.2c-1.5 0-2.7-1.1-2.7-2.4v-8.9h10.9z" class="st2"></path>
      <path d="M572.7 344.9v19.4l-12.7.7c-2.2 0-4.1-1.8-4.1-4.2l.5-16h16.3z" class="st35"></path>
      <path d="M572.7 344.9v13.7l-8.3.3c-1.5 0-2.7-.9-2.7-2.1l.3-11.9h10.7z" class="st37"></path>
    </g>
    <g>
      <path d="M460.9 237.7V121.8h86.9c16 0 29 11 29 24.8v91H460.9z" class="st34"></path>
      <path d="M460.9 237.7V131.9L539 130c14.6 0 26.4 10 26.4 22.6l.3 85.1H460.9z" class="st35"></path>
      <path d="M460.9 237.7v-88.6l66.2 6.7c12.2 0 23.1 8.4 23.1 18.9l-1.5 63h-87.8z" class="st36"></path>
      <path d="M460.9 237.7v-66.9l49.2 1.1c9.1 0 16.4 6.2 16.4 14l-.4 51.8h-65.2z" class="st35"></path>
      <path d="M460.9 237.7v-55.2l40.4-1.8c7.4 0 14.7 5.1 14.7 11.5l-1.2 45.5h-53.9z" class="st34"></path>
      <path d="M460.9 237.7V207l19.6 1.4c3.9 0 7.1 3.2 7.1 7.3l1.7 22h-28.4z" class="st36"></path>
      <path d="M460.9 237.7v-11.3h8.5c1.6 0 2.8 1.1 2.8 2.4v8.9h-11.3z" class="st2"></path>
      <path d="M460.9 237.7v-19.4l13.2-.7c2.3 0 4.2 1.8 4.2 4.2l-.6 16h-16.8z" class="st35"></path>
      <path d="M460.9 237.7V224l8.6-.3c1.5 0 2.8.9 2.8 2.1l-.3 11.9h-11.1z" class="st37"></path>
    </g>
  </g>
  <g id="tokens">

    <foreignObject class="token" *ngIf="gameService.tokenPositions.has(1)" width="45" height="45" [ngStyle]="{'transform': 'translate(' + getXPosition(1) + 'px ,' + getYPosition(1) + 'px)'}">
      <xhtml:div style="height: 45px; width: 45px;">
        <app-token-one fxFlex="grow"></app-token-one>
      </xhtml:div>
    </foreignObject>
    <foreignObject class="token" *ngIf="gameService.tokenPositions.has(2)" width="45" height="45" [ngStyle]="{'transform': 'translate(' + getXPosition(2) + 'px ,' + getYPosition(2) + 'px)'}">
      <xhtml:div style="height: 45px; width: 45px;">
        <app-token-two fxFlex="grow"></app-token-two>
      </xhtml:div>
    </foreignObject>
    <foreignObject class="token" *ngIf="gameService.tokenPositions.has(3)" width="45" height="45" [ngStyle]="{'transform': 'translate(' + getXPosition(3) + 'px ,' + getYPosition(3) + 'px)'}">
      <xhtml:div style="height: 45px; width: 45px;">
        <app-token-three fxFlex="grow"></app-token-three>
      </xhtml:div>
    </foreignObject>
    <foreignObject class="token" *ngIf="gameService.tokenPositions.has(4)" width="45" height="45" [ngStyle]="{'transform': 'translate(' + getXPosition(4) + 'px ,' + getYPosition(4) + 'px)'}">
      <xhtml:div style="height: 45px; width: 45px;">
        <app-token-four fxFlex="grow"></app-token-four>
      </xhtml:div>
    </foreignObject>
    <foreignObject class="token"  *ngIf="gameService.tokenPositions.has(5)" width="45" height="45" [ngStyle]="{'transform': 'translate(' + getXPosition(5) + 'px ,' + getYPosition(5) + 'px)'}">
      <xhtml:div style="height: 45px; width: 45px;">
        <app-token-five fxFlex="grow"></app-token-five>
      </xhtml:div>
    </foreignObject>

  </g>

  <g id="start" transform="scale(0.3) translate(-65, 380)">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="190 23 131 120.3" >
      <g >
        <path fill="#636466" d="M308.5 125.5l3.4 13.8-113.2.8 3.5-14.4z"></path>
        <path fill="#808285" d="M304.3 125.4l2.5 13.9-104.3.8 3.9-14.2z"></path>
        <path fill="#939598" d="M292.6 125.1l1.7 14.3-79.4.6 3-13.9z"></path>
        <path fill="#c7c8ca" d="M280 124.7l1 14.8-52.8.4 2.1-13.4z"></path>
        <g><path d="M272.1 33.9s-.8-10 5.9-9.9c6.7 0 4.3 10.4 4.3 10.4l-10.2-.5z" fill="#ed1c24"></path>
          <radialGradient id="SVGID_3_" cx="592.249" cy="956.849" r="5.45"
                          gradientTransform="matrix(.9426 .1133 .1381 -.9887 -412.653 908.143)"
                          gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff" stop-opacity="0"></stop>
            <stop offset="1" stop-color="#525252"></stop></radialGradient>
          <path d="M272.1 33.9s-.8-10 5.9-9.9c6.7 0 4.3 10.4 4.3 10.4l-10.2-.5z" fill="url(#SVGID_3_)"></path>
          <path fill="#58595b" stroke="#8d9092" stroke-width=".553" stroke-miterlimit="10"
                d="M270.6 37l.2-3.7 12.4 1.1-.9 3.5z"></path>
          <path fill="#a5a7aa"
                d="M314.3 118.3l5.4-71.1c0-4.9-4.9-9-10.8-9l-106.5-3.7c-6 0-10.9 4-10.9 8.9l2.1 74.2c0 4.9 4.9 9 10.8 9 0 0 97.8.7 100.4.5 5.5-.3 9.5-4.2 9.5-8.8z"></path>
          <path fill="#a5a7aa" d="M218.2 48.1l-.6 23.6 78.8 4.4.8-26.7z"></path>
          <path d="M219.1 77.7l4-.1-3.7 28.3-3.1-.2s-8.9-15.5 2.8-28z" fill="#86888a"></path>
          <path d="M220 77.8l3.8-.1-3.7 28.3-3-.2c.1 0-8.4-15.4 2.9-28z" fill="#383839"></path>
          <path fill="#656668" d="M195.8 104.5l1.9 3.9L221 99l1.3-8.8z"></path>
          <path fill="#adafb2" d="M195.3 107.9l2.4.5L221 99l.8-5.4z"></path>
          <path d="M200.3 106.9c-.4 2.7-2.8 4.7-5.3 4.4-2.6-.3-4.3-2.8-3.9-5.5.4-2.7 2.8-4.7 5.3-4.4 2.5.3 4.3 2.8 3.9 5.5z"
                fill="#ebebec"></path>
          <path fill="#dedfe0"
                d="M249.8 119.2c-2.1 1.8-5 1.8-6.4 0s-.8-4.8 1.4-6.6c2.1-1.8 5-1.8 6.4 0 1.4 1.9.8 4.8-1.4 6.6zM265.4 119.6c-2.1 1.8-5 1.8-6.4 0s-.8-4.8 1.4-6.6c2.1-1.8 5-1.8 6.4 0 1.4 1.8.8 4.7-1.4 6.6z"></path>
          <path d="M237 115c-.2 2.8-2.4 5-4.9 4.9s-4.3-2.5-4.1-5.4 2.4-5 4.9-4.9 4.3 2.5 4.1 5.4z" fill="#00aeef"></path>
          <path fill="#dedfe0"
                d="M284.1 116c-.2 2.8-2.4 5-4.9 4.9s-4.3-2.5-4.1-5.4c.2-2.8 2.4-5 4.9-4.9 2.5.2 4.3 2.6 4.1 5.4z"></path>
          <path d="M284.2 114.6c-.2 2.8-2.4 5-4.9 4.9s-4.3-2.5-4.1-5.4c.2-2.8 2.4-5 4.9-4.9 2.5.2 4.3 2.6 4.1 5.4z"
                fill="#00b3aa"></path>
          <path d="M249.9 117.8c-2.1 1.8-5 1.8-6.4 0s-.8-4.8 1.4-6.6c2.1-1.8 5-1.8 6.4 0 1.4 1.9.8 4.8-1.4 6.6z"
                fill="#f7941d"></path>
          <path d="M265.6 118.2c-2.1 1.8-5 1.8-6.4 0s-.8-4.8 1.4-6.6c2.1-1.8 5-1.8 6.4 0 1.3 1.8.7 4.7-1.4 6.6z"
                fill="#ee2a7b"></path>
          <path fill="#c0c2c4" d="M249.1 90.7l-13.8-.3-.2 8.2 13.3.8z"></path>
          <path fill="white" d="M249.1 90.9l-13.4-.4-.2 8 12.9.7z"></path>
          <path fill="#a5a7aa"
                d="M198.4 40.2c-.1.7-.7 1.2-1.4 1.1-.7-.1-1.1-.7-1-1.4s.7-1.2 1.4-1.1c.7.1 1.1.7 1 1.4zM313 45.5c-.1.7-.7 1.2-1.4 1.1s-1.1-.7-1-1.4.7-1.2 1.4-1.1 1.1.7 1 1.4z"></path>
          <g opacity=".37"><path fill="#b3b5b8" d="M241.3 91l.3.9v5.4l-.3.9-.3-.9v-5.4c.1-.4.2-.7.3-.9z"></path></g>
          <path fill="#c7c8ca" d="M241.6 91.2l.3.9v5.4l-.3.9-.3-.9v-5.4l.3-.9z"></path>
          <path fill="#c0c2c4" d="M290.6 91.2l-13.9-.4-.2 8.2 13.4.8z"></path>
          <path fill="white" d="M290.6 91.4l-13.4-.4-.3 7.9 13 .7z"></path>
          <g opacity=".37"><path fill="#b3b5b8" d="M282.7 91.4l.3.9v5.4l-.3.9-.3-.9v-5.4c.2-.3.2-.6.3-.9z"></path></g>
          <path fill="#c7c8ca" d="M283 91.6l.3.9v5.4l-.3.9-.3-.9v-5.4c.2-.3.2-.6.3-.9z"></path>
          <path fill="white" d="M219.4 49l-.4 21.4 76.3 4.5.5-24.2z"></path>
          <path fill="#414042"
                d="M232.7 53.2l-.9 14.8-2.9.2.4-14.6 3.4-.4zM234.2 68.9l.6-15 8.6 8.8 1.8-8.7 2.9.1-3 15-8-9.2.6 8.9-3.5.1zM252.8 54l-.9 14.8-2.9.2.4-14.6 3.4-.4zM266.2 58.2c0-.1-.1-.1-.2-.2-.2 0-.3-.1-.6-.1-.2-.1-.4-.1-.7-.2-.3 0-.5-.1-.8-.1-.7 0-1.5.1-2.4.3-.8.2-1.6.6-2.3 1-.7.4-1.3.9-1.8 1.5s-.7 1.1-.8 1.7c-.1.9.1 1.7.4 2.4.3.6.8 1.1 1.4 1.5s1.2.7 2 .8c.7.2 1.5.3 2.2.3h1.5c.4 0 .9-.1 1.4-.3l.7 2.5c-.7.2-1.4.3-2 .3-.7.1-1.3.1-1.9.1-1.4-.1-2.6-.3-3.7-.7-1.1-.4-2.1-1-2.9-1.6-.8-.7-1.4-1.4-1.8-2.2-.4-.8-.6-1.7-.5-2.5.1-.6.2-1.3.3-1.9.1-.6.4-1.1.7-1.7.4-.5.9-1.1 1.5-1.6.7-.5 1.6-1 2.8-1.5.5-.2 1-.4 1.5-.4.5-.1 1.1-.2 1.6-.2h1.7c.6 0 1.2 0 1.9.1.1.4.2.9.4 1.3.2.6.4 1 .4 1.4zM271.6 54.8l-.9 14.8-2.9.2.4-14.6 3.4-.4zM274 59.4c.7-.9 1.4-1.7 2.3-2.3s1.8-1.2 2.8-1.5c1-.4 2-.5 2.9-.5.8 0 1.6.2 2.2.5s1.2.7 1.6 1.2.8 1.1 1 1.8.3 1.5.2 2.3c0 .3-.1.6-.1 1-.1.3-.1.6-.3 1-.3 1-.8 2-1.5 2.9s-1.4 1.7-2.3 2.3c-.9.7-1.8 1.2-2.8 1.5-1 .4-2 .5-2.9.5-.8 0-1.6-.2-2.2-.5s-1.2-.7-1.6-1.2-.8-1.1-1-1.8c-.2-.7-.3-1.4-.2-2.3 0-.3.1-.6.1-1s.1-.6.2-1c.5-1 1-2 1.6-2.9zm1.1 4.2c0 .2-.1.4-.1.7 0 .5 0 1 .1 1.5.1.4.3.8.5 1.2.2.3.6.6.9.8.4.2.8.3 1.2.3.6 0 1.1-.1 1.7-.3.6-.2 1.1-.6 1.6-1s.9-.9 1.3-1.5.7-1.2.9-1.9c.1-.2.1-.5.2-.7s.1-.5.1-.7c0-.5 0-1-.1-1.4s-.3-.8-.6-1.2c-.3-.3-.6-.6-.9-.8-.4-.2-.8-.3-1.2-.3-.6 0-1.1.1-1.7.3s-1.1.6-1.6 1-.9.9-1.3 1.5-.7 1.2-.9 1.9c0 .1 0 .4-.1.6z"></path>
          <g><path fill="#c2c4c6" d="M214.1 67.2l-.1 1.2-7.4-.2.1-1.3zM214.1 64.6v1.2l-7.4-.2v-1.3zM214.2 62v1.2l-7.4-.2v-1.3zM214.3 59.4l-.1 1.2-7.4-.2v-1.3zM214.3 56.8V58l-7.4-.2v-1.3zM214.4 54.2v1.2l-7.5-.2.1-1.3zM214.4 51.5v1.3l-7.4-.2v-1.3zM214.5 48.9v1.3l-7.4-.2v-1.3z"></path></g>
          <path fill="#a5a7aa"
                d="M191.6 106.2v.2c-.3 1.8 1 3.6 3 4s4.1-.8 4.5-2.7c0 0-1.3 2.3-4.4 2.2-3.2 0-3.1-3.7-3.1-3.7zM203.6 121.5c-.2.7-.8 1.1-1.5 1s-1.1-.8-.9-1.5c.2-.7.8-1.1 1.5-1 .6.1 1 .8.9 1.5zM309.6 121.3c-.2.7-.8 1.1-1.5 1s-1.1-.8-.9-1.5.8-1.1 1.5-1c.6.1 1 .8.9 1.5z"></path></g></g></svg>

  </g>


</svg>
