@import "../../../variables";
.gray-text {
  color: $gray-color;
  font-size: 26px;
  text-align: center;
}
.violet-text {
  color: $violet-color;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
}
