<div fxFlex="grow" fxLayout="column" class="violet-background">
    <app-monitor-container [logo]="'categories'" fxFlex="85">
        <div fxFill fxLayout="column" fxLayoutAlign="start center">
            <div fxLayout="column" fxFlexOffset="5" fxLayoutAlign="center center" fxLayoutGap="10px">
                <div class="violet-text">
                    MODALIDAD LIBRE
                </div>
                <div class="gray-text">
                    <div>Elijan los desafíos o usen el modo aleatorio.</div>
                    <div>¡Se puede adaptar al uso que quieran!</div>
                </div>
            </div>
            <div style="width: 15%" fxFlexOffset="10" (click)="onClickOk()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="100 100 83.5 83.5">
                    <circle cx="141.8" cy="142.9" r="37.5" opacity=".24" fill="#a7a9ac"></circle>
                    <circle cx="141.8" cy="139.9" r="37.5" fill="#bcbec0"></circle>
                    <circle cx="141.8" cy="139.9" r="31.8" fill="#f7941d"></circle>
                    <path d="M128.1 120l34.5 18.3c1.9 1 1.9 2.7 0 3.7l-34.5 18.3" fill="#fff"></path>
                </svg>
            </div>
        </div>
    </app-monitor-container>
    <div class="full-width" fxFlex="8">
        <app-back-button [backUrl]="'cover'"></app-back-button>
    </div>
</div>
