@import "../../../../variables";

:host {
  display: flex;
  flex: 1 1 100%;
  height: 100%; margin: 0; min-height: 100%; min-width: 100%; width: 100%;
}
.st3{fill:#6dcff6}
.spelling-text {
  font-weight: 500;
  color: $gray-color !important;
}

.app-card-texts {
  overflow: auto; max-height: 500px; font-size: 36px;
  padding-left: 3%;
  padding-right: 3%;
  overflow-y: hidden;
}
.title {
  color: $blue-category;
}
.statement {
  font-weight: 500;
  color: $gray-color !important;
  text-decoration: underline;
  font-size: 30px;
}
