<div fxFlex="grow" fxLayout="column" >
  <div  fxLayout="column" fxLayoutAlign="space-between" fxFlex="75" class="full-width"  >

    <!--<svg preserveAspectRatio="xMidYMid" fxFlex="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260 57.8">
      <text transform="matrix(.95 0 0 1 63.662 39.999)" font-size="36" fill="#00aeef">
        {{card.cardName | uppercase}}
      </text>
      <path class="st3"
            d="M27.8 28.8l-1-2.8h-8.2l-1 2.8c-.4 1.1-.7 1.9-1 2.2-.3.4-.7.6-1.3.6-.5 0-1-.2-1.4-.6-.4-.4-.6-.9-.6-1.4 0-.3 0-.6.1-.9.1-.3.2-.8.5-1.3L19 13c.1-.4.3-.9.5-1.5s.4-1.1.7-1.4c.2-.4.5-.7.9-.9.4-.2.8-.4 1.4-.4.6 0 1 .1 1.4.4.4.2.7.5.9.9l.6 1.2c.2.4.4 1 .6 1.7l5.3 14.3c.4 1.1.6 1.9.6 2.4s-.2 1-.6 1.4c-.4.4-.9.6-1.4.6-.3 0-.6-.1-.8-.2-.2-.1-.4-.3-.6-.5-.2-.2-.3-.5-.5-1 .1-.4 0-.8-.2-1.2zm-8-6.1h6l-3-9.1-3 9.1zM54.3 41.2v-.5c-.4.5-.8 1-1.2 1.4-.4.4-.9.6-1.4.8-.5.2-1.1.3-1.8.3-.8 0-1.5-.2-2.1-.5-.6-.4-1.1-.9-1.5-1.5-.4-.8-.6-1.9-.6-3.3v-7.1c0-.7.1-1.3.4-1.6.3-.4.7-.5 1.2-.5s.9.2 1.2.5c.3.4.5.9.5 1.6v5.8c0 .8.1 1.5.2 2.1.1.6.4 1 .7 1.3.3.3.8.5 1.4.5.6 0 1.1-.2 1.6-.5.5-.4.8-.8 1.1-1.4.2-.5.3-1.6.3-3.4v-4.4c0-.7.2-1.2.5-1.6.3-.4.7-.5 1.2-.5s.9.2 1.2.5c.3.4.4.9.4 1.6v10.4c0 .7-.1 1.2-.4 1.5-.3.3-.7.5-1.1.5-.4 0-.8-.2-1.1-.5-.5-.4-.7-.9-.7-1.5z"></path>
      <path class="st3"
            d="M42.8 24.6L35.9 33h7.3c.6 0 1 .2 1.3.5.3.3.5.7.5 1.2s-.2.8-.4 1.1c-.3.3-.7.4-1.4.4H33.1c-.7 0-1.2-.2-1.6-.5-.4-.3-.5-.8-.5-1.4 0-.4.1-.7.4-1.1.2-.4.8-1 1.5-2 .8-1 1.6-1.9 2.2-2.7.7-.8 1.3-1.6 1.9-2.3.6-.7 1.1-1.3 1.4-1.8.4-.5.7-.9.9-1.3h-5.6c-.8 0-1.4-.1-1.7-.2-.4-.2-.6-.5-.6-1.2 0-.5.1-.8.4-1.1.3-.3.7-.4 1.3-.4h8.6c.8 0 1.4.1 1.8.4.4.3.6.7.6 1.4 0 .2 0 .4-.1.7l-.3.6c-.1.2-.2.3-.4.6-.1.2-.3.4-.5.7z"></path>
      <path class="st3"
            d="M50 17.2h-7.3c0 .9.2 1.8.5 2.5s.8 1.3 1.3 1.6c.6.4 1.2.5 1.8.5.4 0 .9-.1 1.2-.2.4-.1.7-.3 1.1-.5.3-.2.7-.5 1-.8l1.1-1.1c.2-.2.5-.3.8-.3.4 0 .7.1.9.3.2.2.4.6.4 1s-.1.8-.4 1.3-.7 1-1.2 1.4c-.5.5-1.2.8-2 1.1-.8.3-1.7.5-2.8.5-2.4 0-4.3-.8-5.6-2.3-1.3-1.5-2-3.6-2-6.1 0-1.2.2-2.3.5-3.4.3-1 .8-1.9 1.4-2.7.6-.7 1.4-1.3 2.3-1.7 1-.3 2-.5 3.2-.5 1.5 0 2.7.3 3.8 1 1 .7 1.8 1.6 2.4 2.6.5 1.1.8 2.2.8 3.3 0 1-.3 1.7-.8 2-.7.3-1.4.5-2.4.5zm-7.3-2.4h6.8c-.1-1.4-.4-2.5-1-3.2-.6-.7-1.4-1-2.4-1-.9 0-1.7.4-2.3 1.1-.6.7-1 1.7-1.1 3.1zM22.3 42v4.6c0 .7-.2 1.3-.5 1.6-.3.4-.8.5-1.3.5s-.9-.2-1.3-.5c-.3-.4-.5-.9-.5-1.6v-5.5c0-.9 0-1.5-.1-2s-.2-.9-.5-1.2c-.3-.3-.7-.5-1.2-.5-1.1 0-1.9.4-2.2 1.2-.4.8-.5 1.9-.5 3.3v4.6c0 .7-.2 1.2-.5 1.6-.3.4-.7.5-1.3.5-.5 0-.9-.2-1.3-.5-.3-.4-.5-.9-.5-1.6v-9.8c0-.6.1-1.1.4-1.5.3-.3.7-.5 1.2-.5s.9.2 1.2.5c.3.3.5.7.5 1.3v.3c.6-.7 1.2-1.2 1.9-1.6.7-.3 1.4-.5 2.3-.5.9 0 1.6.2 2.2.5.6.3 1.1.9 1.5 1.6.6-.7 1.2-1.2 1.9-1.6.7-.3 1.4-.5 2.2-.5.9 0 1.7.2 2.4.6.7.4 1.2.9 1.5 1.6.3.6.4 1.6.4 2.9v6.7c0 .7-.2 1.3-.5 1.6-.3.4-.8.5-1.3.5s-.9-.2-1.3-.5c-.3-.4-.5-.9-.5-1.6v-5.8c0-.7 0-1.3-.1-1.8-.1-.4-.2-.8-.5-1.1-.3-.3-.7-.5-1.3-.5-.5 0-.9.1-1.3.4-.4.3-.7.6-.9 1.1-.1.7-.2 1.7-.2 3.2z"></path>
    </svg>-->
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
      <svg width="10%" height="80%">
        <path class="st3"
              d="M27.8 28.8l-1-2.8h-8.2l-1 2.8c-.4 1.1-.7 1.9-1 2.2-.3.4-.7.6-1.3.6-.5 0-1-.2-1.4-.6-.4-.4-.6-.9-.6-1.4 0-.3 0-.6.1-.9.1-.3.2-.8.5-1.3L19 13c.1-.4.3-.9.5-1.5s.4-1.1.7-1.4c.2-.4.5-.7.9-.9.4-.2.8-.4 1.4-.4.6 0 1 .1 1.4.4.4.2.7.5.9.9l.6 1.2c.2.4.4 1 .6 1.7l5.3 14.3c.4 1.1.6 1.9.6 2.4s-.2 1-.6 1.4c-.4.4-.9.6-1.4.6-.3 0-.6-.1-.8-.2-.2-.1-.4-.3-.6-.5-.2-.2-.3-.5-.5-1 .1-.4 0-.8-.2-1.2zm-8-6.1h6l-3-9.1-3 9.1zM54.3 41.2v-.5c-.4.5-.8 1-1.2 1.4-.4.4-.9.6-1.4.8-.5.2-1.1.3-1.8.3-.8 0-1.5-.2-2.1-.5-.6-.4-1.1-.9-1.5-1.5-.4-.8-.6-1.9-.6-3.3v-7.1c0-.7.1-1.3.4-1.6.3-.4.7-.5 1.2-.5s.9.2 1.2.5c.3.4.5.9.5 1.6v5.8c0 .8.1 1.5.2 2.1.1.6.4 1 .7 1.3.3.3.8.5 1.4.5.6 0 1.1-.2 1.6-.5.5-.4.8-.8 1.1-1.4.2-.5.3-1.6.3-3.4v-4.4c0-.7.2-1.2.5-1.6.3-.4.7-.5 1.2-.5s.9.2 1.2.5c.3.4.4.9.4 1.6v10.4c0 .7-.1 1.2-.4 1.5-.3.3-.7.5-1.1.5-.4 0-.8-.2-1.1-.5-.5-.4-.7-.9-.7-1.5z"></path>
        <path class="st3"
              d="M42.8 24.6L35.9 33h7.3c.6 0 1 .2 1.3.5.3.3.5.7.5 1.2s-.2.8-.4 1.1c-.3.3-.7.4-1.4.4H33.1c-.7 0-1.2-.2-1.6-.5-.4-.3-.5-.8-.5-1.4 0-.4.1-.7.4-1.1.2-.4.8-1 1.5-2 .8-1 1.6-1.9 2.2-2.7.7-.8 1.3-1.6 1.9-2.3.6-.7 1.1-1.3 1.4-1.8.4-.5.7-.9.9-1.3h-5.6c-.8 0-1.4-.1-1.7-.2-.4-.2-.6-.5-.6-1.2 0-.5.1-.8.4-1.1.3-.3.7-.4 1.3-.4h8.6c.8 0 1.4.1 1.8.4.4.3.6.7.6 1.4 0 .2 0 .4-.1.7l-.3.6c-.1.2-.2.3-.4.6-.1.2-.3.4-.5.7z"></path>
        <path class="st3"
              d="M50 17.2h-7.3c0 .9.2 1.8.5 2.5s.8 1.3 1.3 1.6c.6.4 1.2.5 1.8.5.4 0 .9-.1 1.2-.2.4-.1.7-.3 1.1-.5.3-.2.7-.5 1-.8l1.1-1.1c.2-.2.5-.3.8-.3.4 0 .7.1.9.3.2.2.4.6.4 1s-.1.8-.4 1.3-.7 1-1.2 1.4c-.5.5-1.2.8-2 1.1-.8.3-1.7.5-2.8.5-2.4 0-4.3-.8-5.6-2.3-1.3-1.5-2-3.6-2-6.1 0-1.2.2-2.3.5-3.4.3-1 .8-1.9 1.4-2.7.6-.7 1.4-1.3 2.3-1.7 1-.3 2-.5 3.2-.5 1.5 0 2.7.3 3.8 1 1 .7 1.8 1.6 2.4 2.6.5 1.1.8 2.2.8 3.3 0 1-.3 1.7-.8 2-.7.3-1.4.5-2.4.5zm-7.3-2.4h6.8c-.1-1.4-.4-2.5-1-3.2-.6-.7-1.4-1-2.4-1-.9 0-1.7.4-2.3 1.1-.6.7-1 1.7-1.1 3.1zM22.3 42v4.6c0 .7-.2 1.3-.5 1.6-.3.4-.8.5-1.3.5s-.9-.2-1.3-.5c-.3-.4-.5-.9-.5-1.6v-5.5c0-.9 0-1.5-.1-2s-.2-.9-.5-1.2c-.3-.3-.7-.5-1.2-.5-1.1 0-1.9.4-2.2 1.2-.4.8-.5 1.9-.5 3.3v4.6c0 .7-.2 1.2-.5 1.6-.3.4-.7.5-1.3.5-.5 0-.9-.2-1.3-.5-.3-.4-.5-.9-.5-1.6v-9.8c0-.6.1-1.1.4-1.5.3-.3.7-.5 1.2-.5s.9.2 1.2.5c.3.3.5.7.5 1.3v.3c.6-.7 1.2-1.2 1.9-1.6.7-.3 1.4-.5 2.3-.5.9 0 1.6.2 2.2.5.6.3 1.1.9 1.5 1.6.6-.7 1.2-1.2 1.9-1.6.7-.3 1.4-.5 2.2-.5.9 0 1.7.2 2.4.6.7.4 1.2.9 1.5 1.6.3.6.4 1.6.4 2.9v6.7c0 .7-.2 1.3-.5 1.6-.3.4-.8.5-1.3.5s-.9-.2-1.3-.5c-.3-.4-.5-.9-.5-1.6v-5.8c0-.7 0-1.3-.1-1.8-.1-.4-.2-.8-.5-1.1-.3-.3-.7-.5-1.3-.5-.5 0-.9.1-1.3.4-.4.3-.7.6-.9 1.1-.1.7-.2 1.7-.2 3.2z"></path>

      </svg>
      <div class="title nunito"  [minFontSize]="22" [maxFontSize]="45" fittext>
        {{card.cardName | uppercase}}
      </div>
    </div>


    <div fxFlexOffset="5" fxFlex="80" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5%" class="app-card-texts">
      <span class="statement">Deletrear la siguiente palabra:</span>
      <span class="spelling-text">{{card.inititalTexts[currentWordIndex]}}</span>
    </div>
  </div>
  <div fxLayout="row" fxFlex="25" fxLayoutAlign="start" fxLayoutGap="5%">
    <app-correct-button fxFlexOffset="65" (click)="correctAnswer()" fxFlex="10"></app-correct-button>
    <app-wrong-button (click)="wrongAnswer()" fxFlex="10"></app-wrong-button>
  </div>

</div>
