<div fxFlex="grow" xmlns:xhtml="http://www.w3.org/1999/xhtml" [ngClass]=" 'background-level-' + (gameService.level)">
  <app-settings-button style="position: absolute; left: 0; top: 0;"></app-settings-button>

  <svg preserveAspectRatio="xMidYMin" fxFlexOffset="15" fxFlex="70" style="max-width: 100%; max-height: 100%"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 698 498.3">
    <g>
      <path d="M692.1.2v459c0 18.6-15.2 33.8-33.8 33.8h-618c-18.6 0-33.8-15.2-33.8-33.8V.2h685.6z" fill="#b1b3b6"></path>
      <path d="M668.3.2v465.3c0 9.8-8 17.8-17.9 17.8H45.8c-9.9 0-17.9-8-17.9-17.8V.2h640.4z" fill="#9d9fa2"></path>
      <path d="M667.4.2v462.5c0 9.8-8 17.8-17.8 17.8H49c-9.8 0-17.8-8-17.8-17.8V.2h636.2z" fill="#fff"></path>
      <circle class="st3" cx="18.5" cy="187.3" r="5.9"></circle>
      <defs><ellipse id="ellipse-card-container1"  cx="19.1" cy="186.7" rx="6" ry="6"></ellipse></defs>
      <use xlink:href="#ellipse-card-container1" overflow="visible" fill="#dedfe0"></use>
      <clipPath id="ellipse-card-container2"><use xlink:href="#ellipse-card-container1" overflow="visible"></use></clipPath>
      <path clip-path="url(#ellipse-card-container2)" fill="none" stroke="#8a8c8e" stroke-width="2.001" stroke-miterlimit="10"
            d="M14.4 192.3l9.8-11.3"></path>
      <g><ellipse  class="st3" cx="18.7" cy="73.5" rx="5.9" ry="5.9"></ellipse>
        <defs><ellipse id="ellipse-card-container3"  cx="19" cy="74.4" rx="6" ry="6"></ellipse></defs>
        <use xlink:href="#ellipse-card-container3" overflow="visible" fill="#dedfe0"></use>
        <clipPath id="ellipse-card-container4"><use xlink:href="#ellipse-card-container3" overflow="visible"></use></clipPath>
        <path clip-path="url(#ellipse-card-container4)" fill="none" stroke="#8a8c8e" stroke-width="2.001" stroke-miterlimit="10"
              d="M16.1 67.5l5.6 14"></path></g>
      <g><ellipse transform="rotate(-32.839 18.992 299.385)" class="st3" cx="19" cy="299.4" rx="5.9" ry="5.9"></ellipse>
        <defs><ellipse id="ellipse-card-container5" transform="rotate(-38.157 18.802 300.355)" cx="18.8" cy="300.3" rx="6" ry="6"></ellipse></defs>
        <use xlink:href="#ellipse-card-container5" overflow="visible" fill="#dedfe0"></use>
        <clipPath id="ellipse-card-container6"><use xlink:href="#ellipse-card-container5" overflow="visible"></use></clipPath>
        <path clip-path="url(#ellipse-card-container6)" fill="none" stroke="#8a8c8e" stroke-width="2.001" stroke-miterlimit="10"
              d="M19.7 293l-2.1 14.9"></path></g>
      <g><ellipse transform="rotate(-32.839 18.992 412.477)" class="st3" cx="19" cy="412.5" rx="5.9" ry="5.9"></ellipse>
        <defs><ellipse id="ellipse-card-container7" transform="rotate(-38.157 18.803 413.465)" cx="18.8" cy="413.4" rx="6" ry="6"></ellipse></defs>
        <use xlink:href="#ellipse-card-container7" overflow="visible" fill="#dedfe0"></use>
        <clipPath id="ellipse-card-container8"><use xlink:href="#ellipse-card-container7" overflow="visible"></use></clipPath>
        <path clip-path="url(#ellipse-card-container8)" fill="none" stroke="#8a8c8e" stroke-width="2.001" stroke-miterlimit="10"
              d="M19.7 406.1L17.6 421"></path></g>
      <g><circle class="st3" cx="680.9" cy="187.3" r="5.9"></circle>
        <defs><ellipse id="ellipse-card-container9" transform="rotate(-5.321 681.536 186.652) scale(1.00001)" cx="681.5" cy="186.7" rx="6" ry="6"></ellipse></defs>
        <use xlink:href="#ellipse-card-container9" overflow="visible" fill="#dedfe0"></use>
        <clipPath id="ellipse-card-container10"><use xlink:href="#ellipse-card-container9" overflow="visible"></use></clipPath>
        <path clip-path="url(#ellipse-card-container10)" fill="none" stroke="#8a8c8e" stroke-width="2.001" stroke-miterlimit="10"
              d="M676.8 192.3l9.8-11.3"></path>
        <g><ellipse transform="rotate(-62.626 681.076 73.466)" class="st3" cx="681.1" cy="73.5" rx="5.9" ry="5.9"></ellipse>
          <defs><ellipse id="ellipse-card-container11" transform="rotate(-67.95 681.367 74.371)" cx="681.3" cy="74.4" rx="6" ry="6"></ellipse></defs>
          <use xlink:href="#ellipse-card-container11" overflow="visible" fill="#dedfe0"></use>
          <clipPath id="ellipse-card-container12"><use xlink:href="#ellipse-card-container11" overflow="visible"></use></clipPath>
          <path clip-path="url(#ellipse-card-container12)" fill="none" stroke="#8a8c8e" stroke-width="2.001" stroke-miterlimit="10"
                d="M678.5 67.5l5.5 14"></path></g>
        <g><ellipse transform="rotate(-32.839 681.32 299.387)" class="st3" cx="681.4" cy="299.4" rx="5.9" ry="5.9"></ellipse>
          <defs><ellipse id="ellipse-card-container13" transform="rotate(-38.157 681.236 300.344)" cx="681.2" cy="300.3" rx="6" ry="6"></ellipse></defs>
          <use xlink:href="#ellipse-card-container13" overflow="visible" fill="#dedfe0"></use>
          <clipPath id="ellipse-card-container14"><use xlink:href="#ellipse-card-container13" overflow="visible"></use></clipPath>
          <path clip-path="url(#ellipse-card-container14)" fill="none" stroke="#8a8c8e" stroke-width="2.001" stroke-miterlimit="10"
                d="M682.1 293l-2.1 14.9"></path></g>
        <g><ellipse transform="rotate(-32.839 681.32 412.48)" class="st3" cx="681.4" cy="412.5" rx="5.9" ry="5.9"></ellipse>
          <defs><ellipse id="ellipse-card-container15" transform="rotate(-38.157 681.238 413.455)" cx="681.2" cy="413.4" rx="6" ry="6"></ellipse></defs>
          <use xlink:href="#ellipse-card-container15" overflow="visible" fill="#dedfe0"></use>
          <clipPath id="ellipse-card-container16"><use xlink:href="#ellipse-card-container15" overflow="visible"></use></clipPath>
          <path clip-path="url(#ellipse-card-container16)" fill="none" stroke="#8a8c8e" stroke-width="2.001" stroke-miterlimit="10"
                d="M682.1 406.1L680 421"></path></g></g>
    </g>
    <foreignObject style="width: 100%; height: 100%">

      <xhtml:div fxLayout="column"  style="padding-left: 5%; padding-right: 5%; padding-bottom: 2%; height: 498px">
        <router-outlet ></router-outlet>
      </xhtml:div>
    </foreignObject>

    <svg *ngIf="showAllStars" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 1061 599" class="stars"
    ><style>.st0{fill:#ed1c24}.st1{fill:#92278f}.st2{fill:#00aeef}.st3{fill:#8dc63f}.st4{fill:#ffef00}.st5{fill:#ee2a7b}</style>
      <path class="st0"
            d="M92.1 251.4l-31.5-20.6-34.9 14.3 9.8-36.4-24.4-28.8 37.7-1.8L68.6 146 82 181.2l36.7 8.9-29.4 23.7zM401.3 139.4l-21.6-30.9-37.7.2 22.7-30-11.8-35.8 35.6 12.3 30.4-22.3-.7 37.7 30.6 21.9-36.1 11z"></path>
      <path class="st1" d="M223 165.5l-23.3-15.2-25.8 10.6 7.3-26.9-18-21.2 27.8-1.4 14.6-23.7 9.9 26 27 6.6-21.6 17.5z"></path>
      <path class="st2" d="M314.3 207.2l-10.2-6.6-11.2 4.6 3.2-11.7-7.8-9.2 12.1-.6 6.3-10.3 4.3 11.3 11.8 2.9-9.4 7.6z"></path>
      <path class="st3"
            d="M225.3 294.7l-5.7-20.9-20.5-7.1 18.1-11.9.5-21.6 16.9 13.5 20.7-6.2-7.7 20.2 12.4 17.8-21.6-1z"></path>
      <path class="st1"
            d="M254.5 442.7l-37.7 1.8-19.9 32.1-13.3-35.3-36.7-9 29.5-23.6-2.8-37.6 31.5 20.7 35-14.2-10 36.3z"></path>
      <path class="st2"
            d="M497.5 222.1l-24.1-8.4-20.6 15.1.5-25.5-20.7-14.9 24.5-7.4 7.7-24.3 14.6 20.9 25.6-.1-15.5 20.4z"></path>
      <path class="st4"
            d="M319.6 358.2l-27.8 1.4-14.7 23.6-9.8-26-27-6.6 21.7-17.4-2.1-27.8 23.3 15.3 25.7-10.5-7.3 26.8z"></path>
      <path class="st5" d="M494.7 323.9l-12.1.5-6.4 10.3-4.3-11.3-11.8-2.9 9.5-7.6-.9-12.1 10.1 6.7 11.3-4.6-3.2 11.7z"></path>
      <path class="st4" d="M117.1 330.5l-12.1.5-6.4 10.3-4.3-11.3-11.8-2.9 9.5-7.6-.9-12.1 10.1 6.7 11.2-4.6-3.1 11.7z"></path>
      <path class="st5"
            d="M449.1 470.4l-16.9-13.6-20.7 6.2 7.7-20.2-12.3-17.8 21.6 1.1 13.1-17.3 5.7 20.9 20.4 7.2-18.1 11.8z"></path>
      <path class="st2"
            d="M941.5 181.2l36.7 8.5 27.8-25.4 3.3 37.5 32.8 18.7-34.7 14.7-7.6 36.9-24.7-28.4-37.5 4.2 19.5-32.3z"></path>
      <path class="st4"
            d="M540.2 482.2l31 21.6 35.3-13.2-11 36.1 23.5 29.5-37.8.6-20.8 31.5-12.3-35.7-36.3-10 30.1-22.8z"></path>
      <path class="st0"
            d="M831.9 352.4l27.1 6.3 20.6-18.8 2.4 27.7 24.2 13.7-25.6 10.9-5.6 27.3-18.2-21-27.7 3.1 14.4-23.9z"></path>
      <path class="st5" d="M748.1 299.2l11.8 2.7 8.9-8.2 1.1 12.1 10.5 6-11.1 4.7-2.5 11.9-7.9-9.2-12 1.4 6.2-10.4z"></path>
      <path fill="#f281b3"
            d="M831.8 170.5l12.5 17.7 21.6-.4-12.8 17.4 7 20.5-20.6-6.9-17.3 13 .3-21.6-17.8-12.5 20.7-6.5z"></path>
      <path class="st1" d="M663.9 47.7L688 37.5l5.3-25.6 17.2 19.8 26-2.9L723 51.2l10.8 23.9-25.5-6-19.4 17.7-2.2-26.1z"></path>
      <path class="st3"
            d="M604.8 343.8l25.5-.4 14.2-21.3 8.2 24.2 24.6 6.8-20.4 15.4L658 394l-20.9-14.7-24 8.9 7.5-24.4z"></path>
      <path fill="#00a79d"
            d="M576.8 179.1l25.7-10.8 5.6-27.3 18.2 21.1 27.6-3.1-14.3 23.8 11.4 25.4-27.1-6.4-20.5 18.8-2.4-27.7z"></path>
      <path class="st5" d="M538.6 251.8l11.1-4.7 2.5-11.9 7.9 9.2 12-1.3-6.2 10.3 5 11.1-11.8-2.8-9 8.2-1-12.1z"></path>
      <path fill="#00a651" d="M890.8 115.6l11.2-4.7 2.4-11.9 8 9.2 12-1.3-6.3 10.3 5 11.1-11.8-2.8-8.9 8.2-1.1-12.1z"></path>
      <path class="st4" d="M529.8 76l20.5 6.9 17.3-13-.2 21.7 17.7 12.5-20.7 6.4-6.4 20.7-12.5-17.7-21.7.3 13-17.3z"></path>
    </svg>
    <svg *ngIf="showHalfStars" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 1061 599" class="stars"
    ><style>.st0{fill:#ed1c24}.st1{fill:#92278f}.st2{fill:#00aeef}.st3{fill:#8dc63f}.st4{fill:#ffef00}.st5{fill:#ee2a7b}</style>
      <path class="st0"
            d="M92.1 251.4l-31.5-20.6-34.9 14.3 9.8-36.4-24.4-28.8 37.7-1.8L68.6 146 82 181.2l36.7 8.9-29.4 23.7zM401.3 139.4l-21.6-30.9-37.7.2 22.7-30-11.8-35.8 35.6 12.3 30.4-22.3-.7 37.7 30.6 21.9-36.1 11z"></path>
      <path class="st1" d="M223 165.5l-23.3-15.2-25.8 10.6 7.3-26.9-18-21.2 27.8-1.4 14.6-23.7 9.9 26 27 6.6-21.6 17.5z"></path>
      <path class="st2" d="M314.3 207.2l-10.2-6.6-11.2 4.6 3.2-11.7-7.8-9.2 12.1-.6 6.3-10.3 4.3 11.3 11.8 2.9-9.4 7.6z"></path>

      <path class="st4"
            d="M319.6 358.2l-27.8 1.4-14.7 23.6-9.8-26-27-6.6 21.7-17.4-2.1-27.8 23.3 15.3 25.7-10.5-7.3 26.8z"></path>
      <path class="st5" d="M494.7 323.9l-12.1.5-6.4 10.3-4.3-11.3-11.8-2.9 9.5-7.6-.9-12.1 10.1 6.7 11.3-4.6-3.2 11.7z"></path>
      <path class="st5"
            d="M449.1 470.4l-16.9-13.6-20.7 6.2 7.7-20.2-12.3-17.8 21.6 1.1 13.1-17.3 5.7 20.9 20.4 7.2-18.1 11.8z"></path>
      <path class="st2"
            d="M941.5 181.2l36.7 8.5 27.8-25.4 3.3 37.5 32.8 18.7-34.7 14.7-7.6 36.9-24.7-28.4-37.5 4.2 19.5-32.3z"></path>
      <path class="st4"
            d="M540.2 482.2l31 21.6 35.3-13.2-11 36.1 23.5 29.5-37.8.6-20.8 31.5-12.3-35.7-36.3-10 30.1-22.8z"></path>

      <path class="st5" d="M538.6 251.8l11.1-4.7 2.5-11.9 7.9 9.2 12-1.3-6.2 10.3 5 11.1-11.8-2.8-9 8.2-1-12.1z"></path>
      <path fill="#00a651" d="M890.8 115.6l11.2-4.7 2.4-11.9 8 9.2 12-1.3-6.3 10.3 5 11.1-11.8-2.8-8.9 8.2-1.1-12.1z"></path>
      <path class="st4" d="M529.8 76l20.5 6.9 17.3-13-.2 21.7 17.7 12.5-20.7 6.4-6.4 20.7-12.5-17.7-21.7.3 13-17.3z"></path>
    </svg>
  </svg>
  <div *ngIf="gameService.gameMode !== 'free' && (showHalfStars || showAllStars)" style="position: absolute; bottom: 5%;" class="full-width" fxLayout="row" fxLayoutAlign="center center">
    <span style="font-size: 30px; background-color: rgba(128,128,128,0.9); color: white; padding: 2%; border-radius: 10px">
      {{showHalfStars ? '¡Avanza 1 lugar!' : '¡Avanza 2 lugares!'}}
    </span>
  </div>
    <div *ngIf="gameService.gameMode === 'complete'" fxLayout="column" fxLayoutAlign="start" fxFlex="15">
      <app-character-action fxFlex="30" class="full-width" [action]="'Responde'" [player]="gameService.players[gameService.currentTurn.answer]"></app-character-action>
      <app-character-action fxFlexOffset="10" fxFlex="30" class="full-width" [action]="'Lee'" [player]="gameService.players[gameService.currentTurn.read]"></app-character-action>
    </div>
</div>
